In [1]:
x = 2

In [2]:
y = 5.2

In [3]:
my_str = 'EAS503'

In [4]:
__my_str = 'fine'

hello2 = 5

In [5]:
2hello = 5
2*hello = 5

x = 5
X = 10

SyntaxError: invalid syntax (<ipython-input-5-b30c0d1a9595>, line 1)

In [6]:
number_of_cars = 10 #number of cars

PI = 3.14

In [7]:
print('Hello Class!')

Hello Class!

In [8]:
input('Enter a number: ')

Enter a number: 50

'50'

In [10]:
number = input('Enter a number: ')

Enter a number: 89

In [11]:
print(number)

89

In [12]:
x = 1

x = x + 1

In [13]:
x += 1

In [14]:
def calculate_distance(x1,y1,x2,y2):
    import math
    
    distance = math.sqrt((x1-x2)**2 + (y1-y2)**2)
    return distance

distance = calculate_distance(-7, -4, 17, 6.5)
print(distance)

26.196373794859472

In [15]:
print(round(distance,2))

26.2

In [18]:
# Following the function design recipe, define a function that has one
# parameter, a number, and returns that number tripled

def triple_number(input_value):
    output_value = input_value*3
    return output_value

    

print(triple_number(5))

15

In [19]:
# Following the function design recipe, define a function that has one
# parameter, a number, and returns that number tripled

def triple_number(input_value):
    return input_value * 3
 
    

print(triple_number(5))

15

In [20]:
return 'a'

SyntaxError: 'return' outside function (<ipython-input-20-05d6bd9d5563>, line 1)

In [23]:
# Following the function design recipe, define a function that has one
# parameter, a distance in kilometers, and returns the distance in miles.
# (There are 1.6 km per miles.)

def km_to_miles(km):
    return 1.6*km

print(km_to_miles(100))

160.0

In [25]:
# Following the function design recipe, define a function that has three
# parameters, grades between 0 and 100 inclusive, and returns the average
# of those grades.


def calculate_average(grade1, grade2, grade3):
    return (grade1 + grade2 + grade3)/3

print(calculate_average(90,90,90))
                        
print(calculate_average(50, 75, 100))

90.0
75.0

In [26]:
# Following the function design recipe, define a function that has four
# parameters, all of them grades between 0 and 100 inclusive, and returns
# the average of the best 3 of those grades.

def calculate_average(grade1, grade2, grade3, grade4):
    total = grade1 + grade2 + grade3 + grade4
    min_grade = min(grade1, grade2, grade3, grade4)
    average = (total-min_grade)/3
    return average

print(calculate_average(10, 50, 50, 50))

50.0

In [30]:
# Write a function that returns the number of full weeks that have elapsed between the two days


def weeks_elapsed(day1, day2):
    
    return (abs(day1-day2))//7

print(weeks_elapsed(41, 180))

19

In [27]:
abs(-10)

10

In [31]:
def multiply(input_value, factor=3):
    return input_value * factor

multiply(10)

30

In [32]:
multiply(7)

21

In [33]:
multiply(7,9)

63

In [34]:
x = 'EAS503'
len(x)

6

In [35]:
new_password = 'test1234'
len(new_password)

8

In [36]:
str1 = 'EAS'
str2 = '503'

str1 + str2

'EAS503'

In [37]:
str1 * 3

'EASEASEAS'

In [38]:
seperator = '*' * 80

print(seperator)

********************************************************************************

In [39]:
print(seperator)
print('Hello!')
print(seperator)

********************************************************************************
Hello!
********************************************************************************

In [40]:
seperator = '-' * 80
print(seperator)
print('Hello!')
print(seperator)

--------------------------------------------------------------------------------
Hello!
--------------------------------------------------------------------------------

In [41]:
x = 'EAS'
x += '503'
print(x)

EAS503

In [42]:
first_name = 'John'
last_name = 'Doe'

full_name = first_name + last_name

print(full_name)

JohnDoe

In [43]:
full_name = first_name + ' ' + last_name

print(full_name)

John Doe

In [44]:
'NH' + 3

TypeError: can only concatenate str (not "int") to str

In [45]:
'NH' + str(3)

'NH3'

In [47]:
str(67.3)

'67.3'

In [48]:
x = '78'

y = int(x)
print(y)

78

In [49]:
x = '78.8'
print(int(x))

ValueError: invalid literal for int() with base 10: '78.8'

In [50]:
x = '78.8'
print(float(x))

78.8

In [51]:
'don\'t'

"don't"

In [52]:
"He said, \"whatever\""

'He said, "whatever"'

In [53]:
"Don't"

"Don't"

In [54]:
'Don"t'

'Don"t'

In [56]:
print("Hello\tWorld")

Hello	World

In [57]:
print("Hello\nWorld")

Hello
World

In [58]:
print('Hello')

Hello

In [59]:
print('Hello', 'World', 2, 3)

Hello World 2 3

In [60]:
print('Hello', 'World', sep=' ')

Hello World

In [61]:
print('Hello', 'World', sep='-')

Hello-World

In [62]:
print('Hello', 'World', sep='-'*4)

Hello----World

In [63]:
number = input('Enter a number: ')

Enter a number: 50

In [64]:
print(number)

50

In [65]:
print(type(number))

<class 'str'>

In [66]:
number = input('Enter a number: ')
number = int(number)
print(type(number))

Enter a number: 50
<class 'int'>

In [67]:
number = int(input('Enter a number: '))
print(type(number))

Enter a number: 50
<class 'int'>

In [72]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    output_message = 'The temperature in celsius is: ' +  str(celsius)
    print(output_message)
    
  
convert_celsius()

Please enter temperature in Fahrenheit: 32
The temperature in celsius is: 0.0

In [76]:
PI = 3.14159265359 
print(f'The value of PI is: {PI}')

print(f'{PI:.2f}')
x = 3
y = 4
print(f'x = {x}, y = {y}, x * y = {x*y}')

The value of PI is: 3.14159265359
3.14
x = 3, y = 4, x * y = 12

In [82]:
PI = 3.14159265359 
name = 'PI'

print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

## ----


print(('{0} is {1:.2f}'.format('PI', PI)) ) 
# print(('{1} is {0}'.format('PI', PI)) ) 

# older way {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>



print(f'{name} is {PI:.2f}') # newest way

PI is 3.14
PI is 3.14
PI is 3.14

In [83]:
# {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>
# {:<format-specifier>} where the format specifier is <width>.<precision><type>


class_number = 'EAS503'
class_size = 113
class_average = 92.3

# Example 1
str_format = '{}'.format(class_number)
f_string = f'{class_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [84]:
str_format = 'The course number is {}'.format(class_number)
f_string = f'The course number is {class_number}'

print(str_format)
print(f_string)

The course number is EAS503
The course number is EAS503

In [85]:
str_format = 'The course number is {}. It has {} students.'.format(class_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(class_number, class_size)
f_string = f'The course number is {class_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [86]:
str_format = 'The course number is {0}. It has {1} students. The class average is {2}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {class_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3
The course number is 113. It has EAS503 students. The class average is 92.3.

In [89]:
# {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>
# {<variable/expression>:<format-specifier>} where the format specifier is 

#<width>.<precision><type>


# Example 6 specify number of spaces to use -- width
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:15}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is            92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [92]:
# Example 7 right align
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_number:>10}. It has {class_size:<10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is     EAS503. It has 113        students. The class average is       92.3.

In [95]:
# 1 ----------------------------
# Print: They'll hibernate during the winter.

message = 'They\'ll hibernate during the winter.'
print(message)

They'll hibernate during the winter.

In [96]:
# Print: "Absolutely not," he said.

message = '"Aabsolutely not," he said'
print(message)

"Aabsolutely not," he said

In [97]:
message = "\"Absolutely not,\" he said."
print(message)

"Absolutely not," he said.

In [98]:
# Print: "He said, 'Absolutely not,'" recalled Mel.

message = '"He said, \'Absolute not,\'", recalled Mel'
print(message)

"He said, 'Absolute not,'", recalled Mel

In [160]:
# Print: left\right.
message = 'left\'right'
print(message)

left'right

In [102]:
# Given x = 3 and y = 12.5 print: The rabbit is 3.

x = 3
y = 12.5
message = f'The rabbit is {x}.'
print(message)

The rabbit is 3.

In [104]:
# Given x = 3 and y = 12.5 print: 12.5 * 3.

x = 3
y = 12.5
message = f'{y} * {x}.'
print(message)

12.5 * 3.

In [105]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [106]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [110]:
title = 'Cereal Yields (kg/ha)'
title_str = f'|{title:^51}|'
print(title_str)
print(len(title_str))

|               Cereal Yields (kg/ha)               |
53

In [109]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4

print(line)

+---------------+--------+--------+--------+--------+

In [113]:
part_of_line = ('-'*8 + '+')*4
line = f'+{"-"*15}+{part_of_line}'
print(line)

+---------------+--------+--------+--------+--------+

In [116]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [117]:
print((' {:^6d} |'*4))

 {:^6d} | {:^6d} | {:^6d} | {:^6d} |

In [118]:
x = (' {:^6d} |'*4)

print(x)

 {:^6d} | {:^6d} | {:^6d} | {:^6d} |

In [119]:
x.format(1877, 8023, 8990, 1000)

'  1877  |  8023  |  8990  |  1000  |'

In [123]:
header1 = f'| {"Country":^13s} | {1980:^6d} | {1990:^6d} | {2000:^6d} |{2010:^6d} |'
print(header1)

|    Country    |  1980  |  1990  |  2000  | 2010  |

In [129]:
row = '| {:<13} |' + ' {:6,d} |'*4
print(row)

| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |

In [130]:
row.format('Guam', 4444, 5555, 8888, 9999)

'| Guam          |  4,444 |  5,555 |  8,888 |  9,999 |'

In [131]:
print(1, 3, 4, 5, sep='\n')

1
3
4
5

In [133]:
my_string = 'abcd'

my_string.upper()

'ABCD'

In [134]:
def upper(input_string):
    # do something convert all cases to upper case
    return output_string

In [135]:
my_string = 'abcd'

my_string.capitalize()

'Abcd'

In [138]:
my_string = 'aabcad'

my_string.count('a')

3

In [140]:
my_string = 'abcd'

my_string.endswith('cd')

my_string.endswith('ef')

False

In [144]:
my_string = 'bcdaa'

my_string.find('a')

3

In [145]:
my_string.islower()

True

In [148]:
my_string.startswith('bc')

True

In [151]:
my_string = '    AbCDef   \t'
print(my_string)

    AbCDef

In [152]:
my_string.lstrip()

'AbCDef   \t'

In [153]:
my_string.rstrip()

'    AbCDef'

In [154]:
my_string.strip()

'AbCDef'

In [158]:
exams = 'exam1, exam2, exam3'
exam1, exam2, exam3 = exams.split(',')

print(exam1)
print(exam2.strip())
print(exam3.strip())

exam1
exam2
exam3

In [ ]:
# Python Sticky note 
# https://openastronomy.org/rcsc18/chapters/03-fundamentals-of-python/01-introduction-to-python