In [2]:
def f(x):
    x = x * 2 # x *= 2
    
output = f(2)

In [3]:
print(output)

None

In [4]:
def f(x):
    x = x * 2 # x *= 2
    return x
    
output = f(2)
print(output)

4

In [5]:
def triple_x(x):
    return x * 3

In [6]:
def ex4(num1, num2):
    return abs(num1-num2)

In [7]:
def km_to_mi(km):
    return 1.6 * km

In [8]:
def avg_grade(g1, g2, g3):
    return (g1 + g2 + g3) / 3

In [ ]:
def avg_grade(g1, g2, g3, g4):
    total = g1 + g2 + g3 + g4
    total -= min(g1, g2, g3, g4)
    return total / 3

_____________________________
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!
______________________________

In [9]:
def print_message():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear John')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

In [10]:
print_message()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [11]:
def print_message():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear Jane')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
print_message()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [12]:
def print_happy_birthday_2x():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

def print_message():
    print_happy_birthday_2x()
    print('Happy birthday, dear Jane')
    print_happy_birthday_2x()
print_message()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [18]:
def print_happy_birthday_2x():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

def print_name(name):
    print('Happy birthday, dear ' + name)
    
def print_message(name):
    print_happy_birthday_2x()
    print_name(name)
    print_happy_birthday_2x()
print_message('John')

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [13]:
'EAS' + '503'

'EAS503'

In [14]:
'EAS' + 503

TypeError: can only concatenate str (not "int") to str

In [15]:
'EAS' + 503.4

TypeError: can only concatenate str (not "float") to str

In [19]:
'EAS503'

'EAS503'

In [20]:
"EAS503"

'EAS503'

In [21]:
"EAS503'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_20588/3449673127.py, line 1)

In [23]:
x = """
                    EAS503
"""

In [24]:
print(x)

                    EAS503

In [25]:
x = 'Jane'
len(x)

4

In [26]:
x = 'two words'
y = 'two'
z = 'words'

print(x)

two words

In [27]:
y + z

'twowords'

In [28]:
y + ' ' +  z

'two words'

In [29]:
'jane' * 4

'janejanejanejane'

In [33]:
print('-'*80)
print('Hello!')
print('*'*80)
print('Hello2!')

--------------------------------------------------------------------------------
Hello!
********************************************************************************
Hello2!

In [34]:
x = 'two'
x += ' word'
print(x)

two word

In [35]:
type('3')

str

In [36]:
int('3')

3

In [37]:
type(int('3'))

int

In [38]:
float('3.14')

3.14

In [39]:
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

In [40]:
float('3')

3.0

In [41]:
str(12342342)

'12342342'

In [42]:
'AT' * 5

'ATATATATAT'

In [46]:
'Don\'t do this'

"Don't do this"

In [53]:
x = 'this is line one\nthis is line two'

In [54]:
print(x)

this is line one
this is line two

In [58]:
x = 'abc\\abc'

In [59]:
print(x)

abc\abc

In [62]:
x = 'one\ttwo\tthree'

In [63]:
print(x)

one	two	three

In [64]:
print('abbcd', 2, 3)

abbcd 2 3

In [65]:
print('abbcd', 2, 3, sep='\n')

abbcd
2
3

In [66]:
print('abbcd', 2, 3, sep='\n', 4)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_20588/3697102207.py, line 1)

In [68]:
number = input('Please enter a number: ')

Please enter a number: 10

In [69]:
number

'10'

In [70]:
type(number)

str

In [72]:
int(number) * 2

20

In [150]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [151]:
x = convert_celsius()

Please enter temperature in Fahrenheit: haha

ValueError: could not convert string to float: 'haha'

In [76]:
print(x)

None

In [77]:
PI = 3.14159265359 
print(f'{PI:.2f}')

3.14

In [78]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [79]:
print('%s is %.2f' % (PI, name))  # oldest way format specifier is <width>.<precision><type>

TypeError: must be real number, not str

In [81]:
PI = 3.14159265359 
name = 'PI'
#{<index>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(('{0} is {1:.2f}'.format(name, PI)) ) #

PI is 3.14

In [83]:
print(('{} is {:.2f}'.format(name, PI)) ) #

PI is 3.14

In [84]:
print(('{1} is {0}'.format(name, PI)) ) #

3.14159265359 is PI

In [85]:
PI = 3.14159265359 
name = 'PI'
# {<name_of_variable>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [86]:
x = 3
y = 4
print(f'{x}/{y}')

3/4

In [87]:
print(f'{x}/{y*y}')

3/16

In [88]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

In [89]:
str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [90]:
str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

In [91]:
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'
f_string = f'The course number is {class_size}. It has {course_number} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

In [92]:
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [93]:
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {class_size:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is        113. It has        113 students. The class average is       92.3.

In [94]:
str_format = 'The course number is {0:<10}. It has {1:<10} students. The class average is {2:<10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3
The course number is EAS503    . It has 113        students. The class average is 92.3      .

In [96]:
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

In [99]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

In [100]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:<08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:<08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 22333300
The number padded 223333 padded with zeros 22333300

In [102]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:->8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros --223333
The number padded 223333 padded with zeros --223333

In [103]:
print(f'{student_id}')

223333

In [107]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:-^8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros -223333-
The number padded 223333 padded with zeros --223333

In [110]:
str_template = '{}: {}'

print(str_template.format(2324, 1))

2324: 1

In [108]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [113]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [115]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [116]:
row = '| {:<13} |' + ' {:6,d} |'*4
print(row)

| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |

In [117]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)

In [118]:
print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [119]:
'+' + '-'*(len(title)-2) + '+'

'+---------------------------------------------------+'

In [120]:
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [123]:
'{:,f}'.format(3333000000.0000000)

'3,333,000,000.000000'

In [124]:
x = 'EAS503'

In [125]:
x.capitalize()

'Eas503'

In [126]:
x

'EAS503'

In [127]:
y = x.capitalize()

In [128]:
print(x,y)

EAS503 Eas503

In [129]:
x = 'AAABBC'
x.count('A')

3

In [131]:
x.endswith('E')

False

In [132]:
x = 'AABBCA'
x.count('A')

3

In [133]:
x = 'ABABA'
x.count('ABA')

1

In [135]:
x.find('B')

1

In [137]:
x = 'Eas'
x.islower()

False

In [138]:
x = 'EAS'
x.lower()

'eas'

In [141]:
x = '   aabb   \t\n'

In [142]:
x.rstrip()

'   aabb'

In [143]:
x.lstrip()

'aabb   \t\n'

In [144]:
x.strip()

'aabb'

In [147]:
x = 'Doe, Jane'

In [149]:
x.split(', ')

['Doe', 'Jane']

In [152]:
cold = True
windy = False

(not cold) and windy

False

In [153]:
not (cold and windy)

True

In [154]:
x = ''

In [155]:
len(x)

0

In [156]:
1 > 2

False

In [157]:
a = 1
b = 1
a == b

True

In [158]:
67.0 == 67

True

In [159]:
67.0 != 67

False

In [160]:
x = 2
y = 5
z = 7
x < y and y < z

True

In [161]:
(x < y) and (y < z) # better

True

In [162]:
x < y < z

True

In [163]:
x = 3
(1 < x) and (x <= 5)

True

In [164]:
x = 7
(1 < x) and (x <= 5)

False

In [165]:
x = 3 
1 < x <= 5 # You can chain comparisons

True

In [166]:
3 < 5 != True

True

In [167]:
(3 < 5) and (5 != True)

True

In [169]:
5 != True

True

In [170]:
1 == 1

True

In [171]:
1 == True

True

In [172]:
is_staff = False
is_active = True
if is_staff and is_active:
    print('Enter!')
else:
    print('You Shall Not Pass!')

You Shall Not Pass!

In [173]:
'A' < 'I' # 65 < 73

True

In [175]:
'A' > 'a' # 65 > 97

False

In [176]:
ord('A')

65

In [177]:
ord('a')

97

In [179]:
chr(65)

'A'

In [180]:
'abc' < 'abd'

True

In [181]:
'abc' < 'abcd'

True

In [182]:
'Jan' in '01 Jan 1838'

True

In [183]:
'jan' in '01 Jan 1838'

False

In [184]:
'jan' in '01 Jan 1838'.lower()

True

In [186]:
ph = float(input('Enter the pH level: '))
if ph < 7.0:
    print(ph, " is acidic.") #indentation important

Enter the pH level: 4
4.0  is acidic.

In [187]:
ph = float(input('Enter the pH level: '))
if ph < 7.0:
    ph = 8.0 #indentation important

if ph > 7.0:
    print(ph, " is basic.")

Enter the pH level: 2
8.0  is basic.

In [189]:
compound = input('Enter the compound: ')
if compound == 'H20':
    print('Water')
elif compound == 'NH3':
    print('Ammonia')
elif compound == 'CH4':
    print('Methane')
else:
    print('Unknown compound')

Enter the compound: H20
Unknown compound

In [190]:
compound = input('Enter the compound: ').strip()
if compound == 'H20':
    print('Water')
elif compound == 'NH3':
    print('Ammonia')
elif compound == 'CH4':
    print('Methane')
else:
    print('Unknown compound')

Enter the compound:       H20
Water

In [193]:
value = input('Enter the pH level: ').strip()
if len(value) > 0:
    ph = float(value) 
    if ph < 7.0:
        print(ph, " is acidic.")
    elif ph > 7.0:
        print(ph, " is basic.")
    else:
        print(ph, " is neutral.")

else:
    print('No pH value was given!')

Enter the pH level:
No pH value was given!

In [194]:
age = 37
bmi = 28
young = age < 45
slim = bmi < 22.0
if young:
    if slim:
        risk = 'low'
    else:
        risk = 'medium'
else:
    if slim:
        risk = 'medium'
    else:
        risk = 'high'

In [195]:
print(risk)

medium

In [196]:
young = age < 45
slim = bmi < 22.0
if young and slim:
    risk = 'low'
elif young and not slim :
    risk = 'medium'
elif not young and slim:
    risk = 'medium'
elif not young and not slim:
    risk = 'high'
print(risk)

medium

In [197]:
ph = 2
if ph < 7.0:
    print(ph, ' is acidic')
elif ph < 3.0:
    print(ph, ' is VERY acidic! Be careful.')

2  is acidic

In [198]:
ph = 2
if ph < 3.0:
    print(ph, ' is VERY acidic! Be careful.')    
elif ph < 7.0:
    print(ph, ' is acidic')

2  is VERY acidic! Be careful.

In [200]:
('| {:^13s} |' + (' {:^6d} |'*4)).format('Germany', 1980, 1990,2000, 2010)

'|    Germany    |  1980  |  1990  |  2000  |  2010  |'