In [1]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

scores = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [2]:
s1 = ScoreList([80, 90, 95, 92, 85]) 
s2 = ScoreList([80, 90, 95, 92, 80])

In [3]:
s1

In [4]:
s2

In [5]:
list

list

In [7]:
a = list([1, 2, 3, 4])

In [8]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(10, 10)

In [9]:
p1

In [10]:
p1.x

10

In [11]:
p1.y

10

In [12]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

<__main__.Point object at 0x000001E9DDAD5B20>
<__main__.Point object at 0x000001E9DDAD5700>
False
False

In [13]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

Point(x=10, y=10)
Point(x=10, y=10)
True
False

In [14]:
Point = namedtuple('Point', 'x y z')
p1 = Point(1, 2)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [20]:
Point = namedtuple('Point', 'xy')
p1 = Point((1, 2))

In [22]:
p1.xy[0]

1

In [26]:
Points = namedtuple('Points', 'xy')

In [27]:
p1 = Points(1)

In [28]:
p1.xy

1

In [29]:
x = {1: 2, 3:4}
y = x
print(x == y)
print(x is y)

True
True

In [ ]:
x = {3:4, 1:2}
y = {1:2, 3:4}
print(x == y)
print(x is y)

In [35]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [36]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 89.25.

In [32]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores[:]

    def average(self):
        return sum(self.scores) / len(self.scores)
    
l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [34]:
x = 2
y = 2
print(id(x))
print(id(y))
print(id(2))

2103842203984
2103842203984
2103842203984

In [50]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'Repr: {self.__class__.__name__}(x={self.x}, y={self.y})'
    
#     def __str__(self):
#         return f'Str: {self.__class__.__name__}(x={self.x}, y={self.y})'

In [51]:
p1 = Point(5, 10)
print(p1)
# Point(x=10, y=10)

Repr: Point(x=5, y=10)

In [45]:
p1

Repr: Point(x=5, y=10)

In [46]:
x = 2
x

2

In [47]:
x.__repr__()

'2'

In [67]:
x.__str__()

'2'

In [69]:
x = '4'
print(x)

4

In [63]:
class Date:
    def __init__(self, month, day, year):
        self.month = month
        self.day = day
        self.year = year
    
    def __repr__(self):
        return f'Repr: {self.__class__.__name__}(month={self.month}, day={self.day}, year={self.year})'
    def __str__(self):
        return f'{self.month}/{self.day}/{self.year}'

In [64]:
d1 = Date(12, 12, 2023)

In [65]:
d1

Repr: Date(month=12, day=12, year=2023)

In [66]:
print(d1)

12/12/2023

In [70]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int
p1 = Point(10, 10)
print(p1)

Point(x=10, y=10)

In [71]:
p1.x

10

In [72]:
p1.x = 3

AttributeError: can't set attribute

In [73]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
p1 = Point(10, 5)
print(p1.x)

10

In [74]:
p1.x = 50
print(p1.x)

50

In [75]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [77]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        return None
    
p1 = Point(10, 10)

In [79]:
p1.x

10

In [ ]:
print(obj.__str__())

In [82]:
from dataclasses import dataclass

@dataclass(frozen=True)
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

p1.x = 50

x: 10; y: 10
x: 10; y: 10
True
False

FrozenInstanceError: cannot assign to field 'x'

In [81]:
p1

Point(x=50, y=10)

In [84]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

In [86]:
Pointnamedtuple = namedtuple('Point', 'x y', defaults=[5, 10])
p1 = Pointnamedtuple(1)
print(p1)

Point(x=1, y=10)

In [87]:
Point = namedtuple('Point', 'x y', defaults=[5])
p1 = Point(1)
print(p1)

Point(x=1, y=5)

In [88]:
Point = namedtuple('Point', 'x y z', defaults=[5])
p1 = Point(1, 2)
print(p1)

Point(x=1, y=2, z=5)

In [89]:
Point = namedtuple('Point', 'x y z', defaults=[5])
p1 = Point(1)
print(p1)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [90]:
Point = namedtuple('Point', 'x y z', defaults=[0, 0, 0])
p1 = Point()
print(p1)

Point(x=0, y=0, z=0)

In [91]:
p2 = Point(0, 0, 0)

In [92]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
p1 = Person('John', 'Doe', 'email')
p2 = Person('Jane', 'Doe', 'email')
p3 = Person('Jack', 'Doe', 'email')

for ele in [p1, p2, p3]:
    print(ele)

<__main__.Person object at 0x000001E9DDC58730>
<__main__.Person object at 0x000001E9DDC58490>
<__main__.Person object at 0x000001E9DDC58100>

In [93]:
print([p1, p2, p3])

[<__main__.Person object at 0x000001E9DDC58730>, <__main__.Person object at 0x000001E9DDC58490>, <__main__.Person object at 0x000001E9DDC58100>]

In [94]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
    
p1 = Person('John', 'Doe', 'email')
p2 = Person('Jane', 'Doe', 'email')
p3 = Person('Jack', 'Doe', 'email')

for ele in [p1, p2, p3]:
    print(ele)

John Doe
Jane Doe
Jack Doe

In [95]:
print([p1, p2, p3])

[John Doe, Jane Doe, Jack Doe]

In [96]:
p1.email = 'blah'
print(p1.email)

blah

In [97]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'
    
p1 = Person('John', 'Doe', 'Jdoe@buffalo.edu')
print(p1)

John Doe

In [98]:
p1.get_full_name()

'Doe, John'

In [99]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return self.get_full_name()

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

In [100]:
p1 = Person('John', 'Doe', 'Jdoe@buffalo.edu')
print(p1)

Doe, John

In [101]:
class Student(Person):

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
#         self.first_name = first_name
#         self.last_name = last_name
#         self.email = email
        self.program = program
        
p1 = Person('John', 'Doe', 'Jdoe@buffalo.edu')
s1 = Student('John', 'Doe', 'Jdoe@buffalo.edu', 'EAS')

In [102]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):       
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
            
        super().__init__(first_name, last_name, email)
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

In [103]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')

doe, john

In [104]:
s1.enroll('abc')

Already enrolled in abc doe, john!

In [105]:
s1.enroll('efg')
s1.enroll('hij')

In [106]:
s1.print_classes()

abc, efg, hij

In [107]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

In [108]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

doe, john
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [109]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []

    def enroll(self, course):
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

doe, john
Already enrolled in Math!
You will be over the max credits! Cannot add Physics.
Chemistry, English, Math

In [ ]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        if self.enrolled_credits < self.MAX_CREDITS:
            self.classes.append(course)
            self.enrolled_credits += course.credits
        else:
            print('Cannot enroll')
       

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

In [110]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [111]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [112]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [113]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        

    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')

        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

In [116]:
max(students, key=lambda student:  student.get_gpa())

Brandon Crane; 3.89

In [117]:
min(students, key=lambda student:  student.get_gpa())

Jennifer Vazquez; 1.5

In [123]:
gpas = map(lambda student: student.get_gpa(), students)

In [126]:
sum(gpas)/len(gpasdd

TypeError: object of type 'map' has no len()

In [127]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'


class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

e1 = Employee('john', 'doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee with abstract method earnings

In [128]:
se1 = SalariedEmployee('john', 'doe', '111-22-3333', 400)

In [134]:
print(se1)
print(se1.earnings())

salaried employee: john doe
social security: 111-22-3333
weekly salary: $400
400

In [130]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [131]:
h1 = HourlyEmployee('john', 'doe', '111-22-3333', 25, 52)

In [133]:
h1.earnings()

1450.0

In [135]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [136]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [137]:
print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [138]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
#     if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
#         employee.salary = 1.10 * employee.salary
#         print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [139]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [140]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2


    def __repr__(self):
        return "Circle with radius " + str(self.radius)

c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [141]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [148]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'Repr: {self.__class__.__name__}(x={self.x}, y={self.y})'
    
    def __add__(self, right): # another point is whatever is to the right of +
        x = self.x + right.x
        y = self.y + right.y
        return Point(x,y)
    
    def __eq__(self, right): # another point is whatever is to the right of +
        x = self.x == right.x
        y = self.y == right.y
        return all((x,y))
    
p1 = Point(10, 5)
p2 = Point(5, 8)

In [149]:
p1 + p2

Repr: Point(x=15, y=13)

In [150]:
p1 == p2

False

In [151]:
    
p1 = Point(10, 5)
p2 = Point(10, 5)
p1 == p2

True

In [153]:
p1.__dict__

{'x': 10, 'y': 5}

In [154]:
x = ['a', 'b', 'c', 'd']
y = [1, 2, 3, 4, 5]

vals = dict(zip(x,y))

In [155]:
vals

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [163]:
class Custom:
    def __init__(self, **kwargs):
        self.data = kwargs
        
    def __repr__(self):
        return str(self.data)
    
    def __eq__(self)

In [166]:
x = ['a', 'b', 'c', 'd']
y = [1, 2, 3, 4, 5]

vals = dict(zip(x,y))

a = Custom(**vals)

x = [ 'd', 'e', 'a', 'b', 'c',]
y = [ 4, 5, 6, 1, 2, 3,]

vals = dict(zip(x,y))

b = Custom(**vals)

In [167]:
a == b

False

for a in p1:
    print(a)

In [175]:
class SomeClass:

    def __init__(self, l1):
        self.l1 = l1

    def __iter__(self):
        return self.l1

In [176]:
s = SomeClass([1, 2, 3, 4])
for ele in s:
    print(ele)

TypeError: iter() returned non-iterator of type 'list'

In [2]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self): # required
        self.value = 0
        return self # return object

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration # required
            
for ele in MyRange(5):
    print(ele)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for ele in MyRange(5):
    print(ele)

0
1
2
3
4

In [4]:
for ele in MyRange(5):
    print(ele)

0
1
2
3
4

In [5]:
i = iter(MyRange(10)) # MyRange(10).__iter__()
next(i) # i.__next__()

0

In [6]:
next(i)

1

In [7]:
next(i)

2

In [8]:
next(i)

3

In [9]:
next(i)

4

In [10]:
next(i)

5

In [11]:
next(i)

6

In [12]:
next(i)

7

In [13]:
next(i)

8

In [14]:
next(i)

9

In [15]:
next(i)

StopIteration:

In [ ]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration