In [2]:
from collections import defaultdict

x = defaultdict(int)
x[3] += 1

print(x)

defaultdict(<class 'int'>, {3: 1})

In [3]:
x = defaultdict(list)
x['grades'].append(86)

In [4]:
x['grades'] = 86

In [5]:
x = {}
if 'grades' not in x:
    x['grades'] = []
    
x['grades'].append(86)

In [6]:
x

{'grades': [86]}

In [7]:
x = {}
x.update({'grades': 86})
print(x)

{'grades': 86}

In [8]:
x = {}
x.update({'grades': [86,]})
print(x)

{'grades': [86]}

In [9]:
x = [(3, 1), (28,78), (34, 90), (24, 8)]

sorted(x, key=lambda ele: ele[1])

[(3, 1), (24, 8), (28, 78), (34, 90)]

In [10]:
l_func = lambda ele: ele[1]
sorted(x, key=l_func)

[(3, 1), (24, 8), (28, 78), (34, 90)]

In [11]:
def ex4():
    l_func = lambda ele: ele[1]
    result = sorted(x, key=l_func)
    return (l_func, result)

In [12]:
def my_func(number):
    return number * number

In [13]:
my_func()

TypeError: my_func() missing 1 required positional argument: 'number'

In [16]:
def my_func(number=10):
    return number * number

my_func()

100

In [17]:
my_func(25)

625

In [19]:
def my_func(number, number2):
    print(number2)
    return number * number

my_func(10, number2=2)

2

100

In [20]:
my_func(number=3, number2=2)

2

9

In [21]:
# required arguments, optional argument, keword arguments

def my_func(number, number2=3, number3):
    print(number, number2, number3)
    return number * number

my_func(10, 20, 30)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_21336/3900175247.py, line 3)

In [22]:
def my_func(number, number2, number3=3):
    print(number, number2, number3)
    return number * number

my_func(10, 20, 30)

10 20 30

100

In [23]:
my_func(10, 20)

10 20 3

100

In [24]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)

In [26]:
func(1, 2)

1 2 0 0

In [27]:
func(1, ham=1, eggs=0)

1 0 0 1

In [28]:
func(spam=1, eggs=0)

1 0 0 0

In [29]:
func(toast=1, eggs=2, spam=3)

3 2 1 0

In [30]:
func(1, 2, 3, 4)

1 2 3 4

In [31]:
def f(a, *args, **kwargs): 
    print(a, args, kwargs)

In [32]:
a, *b = [1, 2, 3, 4]
print(a, b)

1 [2, 3, 4]

In [33]:
f(3, 4, 5, 6, 7)

3 (4, 5, 6, 7) {}

In [34]:
f(3, 4, 5, 6, 7, bored=True, eas503=False)

3 (4, 5, 6, 7) {'bored': True, 'eas503': False}

In [35]:
def area_of_triangle(base, height):
    return 1/2 * base * height

In [36]:
area_of_triangle(10, 30)

150.0

In [41]:
x = {'base': 10, 'height': 30}
area_of_triangle(**x) # base=10, height=30

TypeError: area_of_triangle() missing 1 required positional argument: 'height'

In [76]:
def intersect(*args):
    res = []
    for x in args[0]:                  # scan first sequence
        for other in args[1:]:         # for all other args
            if x not in other: 
                print(f'{x} is not in {other}')
                break   # item in each one?
            else:  
                print(f'{x} is in {other}')# no:  break out of loop
                if not x in res:
                    res.append(x)              # yes: add items to end
    return res

In [78]:
s1, s2, s3 = "SPAM", "SCAM", "SLAM"
intersect(s1, s2, s3)

S is in SCAM
S is in SLAM
P is not in SCAM
A is in SCAM
A is in SLAM
M is in SCAM
M is in SLAM

['S', 'A', 'M']

In [60]:
args = ('SPAM', 'SCAM')
for x in args[0]:
    print(x)

S
P
A
M

In [79]:
def union(*args):
    res = []
    for seq in args:                   # for all args
        for x in seq:                  # for all nodes
            if not x in res:
                res.append(x)          # add new items to result
    return res

In [80]:
x = 7
id(x)

140719299960768

In [81]:
id(7)

140719299960768

In [82]:
x = 10
id(x)

140719299960864

In [83]:
id(10)

140719299960864

In [86]:
def cube(number):
    print('id(number):', id(number))
    return number ** 3

x = 7
print(id(7))
print(id(x))
y = cube(x)
print(id(y))

140719299960768
140719299960768
id(number): 140719299960768
2280436795216

In [87]:
x = 7
def cube(number):
    print('number is x:', number is x) ## The Python's is operator returns True if its two operands have the same identify
    return number ** 3

cube(x)

number is x: True

343

In [89]:
x is 7

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\mkhaw\AppData\Local\Temp/ipykernel_21336/2835200883.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  x is 7

True

In [90]:
def cube(number):
    print('id(number) before modifying number:', id(number))
    number **=3
    print('id(number) after modifying number:', id(number))
    return number ** 3

cube(x)

id(number) before modifying number: 140719299960768
id(number) after modifying number: 2280436796816

40353607

In [94]:
def cube_list(lst):
    print('id(lst) before modifying list:', id(lst))
    lst[1] = 3
    print('id(lst) after modifying list:', id(lst))
    return lst

x_lst = [6, 7, 8]
print(id(x_lst[1]))
print(id(x_lst))
cube_list(x_lst)

140719299960768
2280436021056
id(lst) before modifying list: 2280436021056
id(lst) after modifying list: 2280436021056

[6, 3, 8]

In [95]:
print(id(x_lst[1]))

140719299960640

In [96]:
original = ['H', 'He', 'Li']

In [97]:
final = original + ['Be']

In [99]:
life =[['Canada',76.5],['United States', 75.5],['Mexico', 72.0]]

In [104]:

variable = 'Global reporting!'

def use_variable_global():
    ## since variable is outside the function
    print(variable)


def use_variable_local():
    variable = 'Local reporting!'
    print(variable)


def change_global_inside_function():
    global variable
    variable = 'I have been changed!'
    print(variable)


print(variable)
use_variable_global()
use_variable_local()
change_global_inside_function()
print(variable)

Global reporting!
Global reporting!
Local reporting!
I have been changed!
I have been changed!

In [106]:
def function1(my_list, my_variable):
    print('my_list before change inside function1', my_list)
    print('my_variable before change inside function1', my_variable)
    my_list.append(30)
    my_variable = 10

    print('my_list after change inside function1', my_list)
    print('my_variable after change inside function1', my_variable)


my_list = [1, 2, 3, 4]
my_variable = 5
function1(my_list, my_variable)
print(my_list, my_variable)

my_list before change inside function1 [1, 2, 3, 4]
my_variable before change inside function1 5
my_list after change inside function1 [1, 2, 3, 4, 30]
my_variable after change inside function1 10
[1, 2, 3, 4, 30] 5

In [107]:
def function2(my_list, my_vairable):
    # https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list
    print(id(my_list))
    my_list = my_list[:]
    print(id(my_list))
    my_list.append(90)
    my_variable = 45

    print('my_list after change inside function2', my_list)
    print('my_variable after change inside function2', my_variable)

my_list = [1, 2, 3, 4]
my_variable = 5
function2(my_list, my_variable)
print(my_list, my_variable)

2280436024960
2280436013376
my_list after change inside function2 [1, 2, 3, 4, 90]
my_variable after change inside function2 45
[1, 2, 3, 4] 5

In [110]:
def function3():
    my_list = [1, 2, 3, 4]
    my_variable = 5
    # https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list
    function2(my_list, my_variable)
    my_list = my_list[:]
    my_list.append(90)
    my_variable = 45

    print('my_list after change inside function2', my_list)
    print('my_variable after change inside function2', my_variable)

    function1(my_list, my_variable)

    print('my_list after change1 inside function3', my_list)
    print('my_variable after change1 inside function3', my_variable)

    function2(my_list, my_variable)


    print('my_list after change2 inside function3', my_list)
    print('my_variable after change2 inside function3', my_variable)
function3()

2280436025216
2280436775424
my_list after change inside function2 [1, 2, 3, 4, 90]
my_variable after change inside function2 45
my_list after change inside function2 [1, 2, 3, 4, 90]
my_variable after change inside function2 45
my_list before change inside function1 [1, 2, 3, 4, 90]
my_variable before change inside function1 45
my_list after change inside function1 [1, 2, 3, 4, 90, 30]
my_variable after change inside function1 10
my_list after change1 inside function3 [1, 2, 3, 4, 90, 30]
my_variable after change1 inside function3 45
2280436775424
2280435821888
my_list after change inside function2 [1, 2, 3, 4, 90, 30, 90]
my_variable after change inside function2 45
my_list after change2 inside function3 [1, 2, 3, 4, 90, 30]
my_variable after change2 inside function3 45

In [112]:
def function3(my_dict):
    import copy
#     my_dict = copy.deepcopy(my_dict)
    my_dict[3] = 4
    
    print(my_dict)
    
my_dict = {3:3}
function3(my_dict)
print(my_dict)

{3: 4}
{3: 4}

In [117]:
def function4(my_list, my_variable):
    # https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list
    print(id(my_list))
#     my_list = my_list[:]
    my_list = my_list.copy()
    print(id(my_list))
    my_list.append(90)
    my_variable = 45
    my_list[2][1] = 34

    print('my_list after change inside function2', my_list)
    print('my_variable after change inside function2', my_variable)

    
my_list = [1, 2, [3, 4], 5]

function4(my_list, my_variable)
print(my_list)

2280469497216
2280469499392
my_list after change inside function2 [1, 2, [3, 34], 5, 90]
my_variable after change inside function2 45
[1, 2, [3, 34], 5]

In [119]:
from collections import Counter
my_list = ['apple', 'apple', 'banana', 'pineapple']
c = Counter(my_list)
print(c)

Counter({'apple': 2, 'banana': 1, 'pineapple': 1})

In [123]:
from collections import Counter

import random
random.seed(503)

two_dices = []
for _ in range(10000):
    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)
    two_dices.append(dice1+dice2)
c = Counter(two_dices)
print(c)

Counter({7: 1716, 8: 1383, 6: 1359, 9: 1141, 5: 1090, 10: 861, 4: 817, 11: 551, 3: 531, 12: 283, 2: 268})

In [122]:
from collections import defaultdict

import random
random.seed(503)

two_dices = defaultdict(int)
for _ in range(10000):
    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)
    total = dice1 + dice2
    two_dices[total] += 1

print(two_dices)

defaultdict(<class 'int'>, {4: 817, 9: 1141, 6: 1359, 5: 1090, 7: 1716, 2: 268, 11: 551, 10: 861, 3: 531, 8: 1383, 12: 283})

In [125]:
import operator
x = (
    (1, 'a', 3.5), 
    (3, 'Z', -9)
)
sorted(x, key=lambda ele: ele[2])

[(3, 'Z', -9), (1, 'a', 3.5)]

In [126]:
sorted(x, key=operator.itemgetter(2)) # ele[2]

[(3, 'Z', -9), (1, 'a', 3.5)]

In [128]:
x = [
    {'name': 'student2', 'test1': '100', 'test2': '90','test3': '65', 'test4': '68', 'test5': '94'},
    {'name': 'student83', 'test1': '88', 'test2': '76', 'test3': '65', 'test4': '97', 'test5': '82'},
    {'name': 'student31', 'test1': '90', 'test2': '87', 'test3': '66', 'test4': '95', 'test5': '72'}]

sorted(x, key=operator.itemgetter('name'))

[{'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'}]

In [129]:
sorted(x, key=operator.itemgetter('test1'))

[{'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [130]:
sorted(x, key=lambda ele: int(ele['test1']))

[{'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'}]

In [133]:
data = (
    ('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
    ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
    ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
    ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
    ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
)
sorted(data, key=operator.itemgetter(4))

[('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
 ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613')]

In [134]:
x = ['1', '2', '10']
sorted(x)

['1', '10', '2']

In [135]:
from natsort import natsorted
natsorted(x)

['1', '2', '10']

In [138]:
y = [f'{int(ele):03}' for ele in x]
print(y)

['001', '002', '010']

In [140]:
sorted(y)

['001', '002', '010']

In [144]:
from natsort import natsorted
natsorted(data, key=lambda ele: ele[3])

[('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
 ('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847')]

In [145]:
x = [1, 2, 3]
x.index(2)

1

In [146]:
x.abc()

AttributeError: 'list' object has no attribute 'abc'

In [148]:
# function 
def average(numbers): 
    return sum(numbers) / len(numbers)

# data
scores = [80, 90, 95, 92, 85]

# User has to know which data to pass into function
# to get desired output
print(f'The average score is {average(scores)}.')

The average score is 88.4.

In [153]:
# snake_case snake case
# camelCase Camel Case
# UpperCamelCase
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)


scores = ScoreList([80, 90, 95, 92, 85])

In [154]:
print(scores)

<__main__.ScoreList object at 0x00000212F69C44F0>

In [155]:
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [159]:
x = 3

AttributeError: 'float' object has no attribute 'denominator'

In [161]:
s1 = ScoreList([10, 10, 10])
s2 = ScoreList([10, 20, 30])
print(s1.average())
print(s2.average())

10.0
20.0

In [ ]:
def __init__(self. .....):
    pass

In [162]:
class Test1:
    def __init__(self):
        pass
    
t1 = Test1(123)

TypeError: __init__() takes 1 positional argument but 2 were given

In [163]:
class Test1:
    def __init__(self, number):
        print(number)
    
t1 = Test1(123)

123

In [164]:
t1.number

AttributeError: 'Test1' object has no attribute 'number'

In [168]:
class Test1:
    def __init__(self, number):
        self.num = number
    
t1 = Test1(123)

In [169]:
t1.number

AttributeError: 'Test1' object has no attribute 'number'

In [167]:
t1.num

123

In [170]:
class Test1:
    def __init__(self):
        pass
    
t1 = Test1()

In [171]:
t1

In [175]:
class Test1:
    def __init__(self, arg1):
        self.arg = arg1
        print(self.arg)
    
t1 = Test1(23)

23

In [179]:
class Test2:
    def __init__(self, arg1, arg2):
        self.arg1 = arg1
        self.arg2 = arg2
        print(self.arg1, self.arg2)
    
t2 = Test2(23, 24)

23 24

In [178]:
t2

In [181]:
class Test2:
    def __init__(self, arg1, arg2):
        self.arg1 = arg1 * 5
        self.arg2 = arg2 * 3
        print(self.arg1, self.arg2, arg1, arg2)
    
    def add(self):
        return self.arg1 + self.arg2
t2 = Test2(23, 24)

115 72 23 24

In [182]:
t2.add()

187

In [184]:
class Test3:
    def __init__(self, arg1, arg2):
        self.arg1 = arg1 * 5
        self.arg2 = arg2 * 3
        print(self.arg1, self.arg2, arg1, arg2)
    
    def add(self, arg3):
        return self.arg1 + self.arg2 + arg3
t3 = Test3(23, 24)

115 72 23 24

In [185]:
t3.add(20)

207

In [186]:
t3

In [193]:
class Test4:
    def __init__(self, arg1, arg2):
        self.arg1 = arg1 
        self.arg2 = arg2 
    
    def add(self):
        return self.arg1 + self.arg2 
    
    def __repr__(self):
        return f'The two values are {self.arg1} and {self.arg2}'
    
    
t4_1 = Test4(23, 24)
t4_2 = Test4(33, 44)

In [194]:
t4_1

The two values are 23 and 24

In [195]:
print(t4_1)

The two values are 23 and 24

In [196]:
print(t4_2)

The two values are 33 and 44

In [213]:
class Test4:
    def __init__(self, arg1, arg2):
        self.arg1 = arg1 
        self.arg2 = arg2 
    
    def add(self):
        return self.arg1 + self.arg2 
    
    def __repr__(self):
        return f'REPR The two values are {self.arg1} and {self.arg2}'
    
    def __str__(self):
        return f'STR The two values are {self.arg1} and {self.arg2}'
t4_1 = Test4(23, 24)
print(t4_1)

STR The two values are 23 and 24

In [217]:

print(type(t4_1))
print(type(3))

<class '__main__.Test4'>
<class 'int'>

In [209]:
print(t4_1)

REPR The two values are 23 and 24

In [210]:
print(3)

3

In [ ]:
print(t4_1)

In [220]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [221]:
p1

In [222]:
p2

In [223]:
p1.email

'jdoe@buffalo.edu'

In [224]:
p2.email

'jane@buffalo.edu'

In [225]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
    
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [226]:
p1

John Doe

In [227]:
p2

Jane Doe

In [228]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'
    
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [229]:
p1.get_full_name()

'Doe, John'

In [232]:
p2.get_full_name()
p2.program

AttributeError: 'Person' object has no attribute 'program'

In [231]:
class Student(Person):
    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program
        
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'Biology')

print(s1)

John Doe

In [233]:
s1.program

'Biology'

In [234]:
s1.get_full_name()

'Doe, John'