In [8]:
import json
my_dict = {   
    'B': 2,
    'Nested': [1, 2, 3],
    'A': 1,
}

filename = 'test.json'
with open(filename, 'w') as file:
    json.dump(my_dict, file, sort_keys=True, indent=2)

In [3]:
data = json.load(open(filename))

In [4]:
data

{'A': 1, 'B': 2, 'Nested': [1, 2, 3]}

In [6]:
data == my_dict

True

In [9]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def fullname(self):
        return f'{self.last_name}, {self.first_name}'
    
#     def __str__(self):  # def __repr__

In [10]:
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')

In [11]:
p1.fullname()

'Doe, John'

In [13]:
p1.__repr__()

'<__main__.Person object at 0x000001F202CBF3A0>'

In [14]:
p1.__str__()

'<__main__.Person object at 0x000001F202CBF3A0>'

In [15]:
print(p1)

<__main__.Person object at 0x000001F202CBF3A0>

In [16]:
# print()
# __str__()
# __repr__()
# __repr__() -- default one that is provided by the base class

In [17]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def fullname(self):
        return f'{self.last_name}, {self.first_name}'
    
    def __str__(self): 
        return self.fullname()

In [19]:
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')

In [21]:
print(p1)

Doe, John

In [22]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def fullname(self):
        return f'{self.last_name}, {self.first_name}'
    
    def __repr__(self): 
        return self.fullname()
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
print(p1)

Doe, John

In [23]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email
        
    def fullname(self):
        return f'{self.last_name}, {self.first_name}'
    
    
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')

In [24]:
print(p1)

<__main__.Person object at 0x000001F202DA0C40>

In [34]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __str__(self):
        return f'{self.first_name} {self.last_name}'

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')

In [30]:
p1.email

'jdoe@buffalo.edu'

In [31]:
p1.get_email()

'jdoe@buffalo.edu'

In [40]:
class Student(Person):
    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email) # Person.__init__(first_name, last_name, email)
#         self.first_name = first_name
#         self.last_name = last_name
#         self.email = email
        self.program = program
    
    def __str__(self):
        return self.get_full_name()
    
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'Math')

In [42]:
print(s1)

Doe, John

In [43]:
s1.first_name

'John'

In [44]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):       
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        super().__init__(first_name, last_name, email)
        self.program = program.lower()
        self.classes = []

    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

In [45]:
s1 = Student('John', 'Doe', 'jdoe@buffalo.edu', 'Math')

ValueError: program can only be "graduate" or "undergraduate"

In [46]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)

john doe

In [47]:
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

abc, abc, efg, hij

In [48]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'{self.get_full_name()} is already enrolled in {name_of_course}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

john doe
doe, john is already enrolled in abc!
abc, efg, hij

In [49]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def get_course_name(self):
        return self.course_name

In [50]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

In [51]:
c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

In [52]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

john doe
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [53]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        # ensure that the total after adding course will not exceed max
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return
    
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

In [54]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

In [55]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)

john doe
Already enrolled in Math!

In [56]:
s1.enroll(c4)

In [58]:
s1.get_total_credits()

9

In [59]:
s1.enroll(c2)

You will be over the max credits! Cannot add Physics.

In [60]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    MAX_CREDITS = 16
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.courses = []
        self.total_credits = 0
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, *courses):
        for course in courses:
            if (self.total_credits + course.credits) > self.MAX_CREDITS:
                print('This will put you above 16 Credits')
                return       
            if course not in self.courses:
                self.courses.append(course)
                print(self.courses[-1].course_name)
                print(self.courses[-1].credits)
                self.total_credits += course.credits
            else:
                print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join([ele.course_name for ele in self.courses]))

In [61]:
c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

In [62]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')

In [63]:
s1.enroll(c1, c2, c3)

Math
3
Physics
4
Chemistry
3

In [64]:
s1.print_classes()

Math, Physics, Chemistry

In [65]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [66]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [67]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()

In [68]:
l1 = Logfile('log1.txt')
l1.open_file()

In [69]:
for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)

In [70]:
l1.close_file()

In [72]:
l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [75]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name


class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'

    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

In [78]:
sorted(students)

TypeError: '<' not supported between instances of 'Student' and 'Student'

In [81]:
a = students[1]

In [82]:
a.get_gpa()

3.41

In [84]:
max(students, key=lambda student: student.get_gpa())

Brandon Crane; 3.89

In [85]:
min(students, key=lambda student: student.get_gpa())

Jennifer Vazquez; 1.5

In [97]:
## MRN, BP, some string

x = (
    (222222, 110, 'First'),
    (111111, 120, 'Second'),
    (222222, 123, 'First'),
    (111111, 140, 'First'),   
    (222222, 160, 'First'),
    (111111, 98, 'First'),   
)

In [98]:
sorted(x)

[(111111, 98, 'First'),
 (111111, 120, 'Second'),
 (111111, 140, 'First'),
 (222222, 110, 'First'),
 (222222, 123, 'First'),
 (222222, 160, 'First')]

In [99]:
sorted(x, key=lambda row: (row[0], row[2], row[1]))

[(111111, 98, 'First'),
 (111111, 140, 'First'),
 (111111, 120, 'Second'),
 (222222, 110, 'First'),
 (222222, 123, 'First'),
 (222222, 160, 'First')]

In [100]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [101]:
e1 = Employee('john', 'doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee with abstract methods earnings

In [ ]:
for ele in [e1, e2, e3]:
    ele.earnings()

In [102]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [103]:
se = SalariedEmployee('John', 'Doe', '111-22-3333', 3000)

In [104]:
print(se)

salaried employee: John Doe
social security: 111-22-3333
weekly salary: $3000

In [105]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [106]:
he = HourlyEmployee('Jack', 'Doe', '111-22-4444', 15, 29)

In [107]:
he.earnings()

435

In [108]:
print(he)

hourly employee: Jack Doe
social security: 111-22-4444
hourly wage: $15; hours worked: 29

In [109]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [110]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [111]:
print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

In [112]:
print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

In [113]:
print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

In [114]:
print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [115]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

In [116]:
for employee in employees:
    print(employee)
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800
hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0
commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0
base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [117]:
for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [118]:
class SomeEmployee(Employee):
    pass

se = SomeEmployee('Sue', 'Jones', '333-33-3333')

TypeError: Can't instantiate abstract class SomeEmployee with abstract methods earnings

In [119]:
class SomeEmployee(Employee):
    def earnings(self):
        return 0

se = SomeEmployee('Sue', 'Jones', '333-33-3333')

In [120]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2


    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    def __str__(self):
        return "Circle with radius " + str(self.radius)

In [121]:
c1 = Circle(10)
c2 = Circle(5)
print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [124]:
c1 > c2

TypeError: '>' not supported between instances of 'Circle' and 'Circle'

In [125]:
3 > '3'

TypeError: '>' not supported between instances of 'int' and 'str'

In [131]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        print('I am on the left side of the operator', another_circle.radius)
        return Circle(self.radius + another_circle.radius)


c1 = Circle(10)
c2 = Circle(5)

In [132]:
c3 = c1 + c2 #  ==> Circle.__add__(c1, c2)

I am on the left side of the operator 5

In [133]:
print(c3)
c3.get_area()

Circle with radius 15

706.8583470577034

In [140]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius



c1 = Circle(10)
c2 = Circle(5)
print(c2 + c1)

Circle with radius 15

In [135]:
print(c1 < c2) # ==> Circle.__lt(c1, c2)

False

In [141]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p2+p1)

11, 10

In [142]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length() ### 

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

In [147]:
class MyRange:

    def __init__(self, limit):
        print('init')
        self.limit = limit

    def __iter__(self):
        print('iter')
        self.value = 0
        return self ## ALWAYS

    def __next__(self):
        print('next')
        if self.value < self.limit:
            output = self.value ### Save current output and then increment, and then ouput the saved output
            self.value += 1
            return output
        else:
            raise StopIteration

In [144]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [146]:
for number in MyRange(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [149]:
obj = MyRange(10)

init

In [150]:
i = iter(obj)

iter

In [161]:
next(i)

next

StopIteration:

In [162]:
for ele in MyRange(10):
    print(ele)

init
iter
next
0
next
1
next
2
next
3
next
4
next
5
next
6
next
7
next
8
next
9
next

In [163]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration

In [164]:

for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [176]:
def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

pow_x = PowX(10, 3)
print(pow_x)
for ele in pow_x:
    print(ele)

<generator object PowX at 0x000001F2042B22E0>
0
1
8
27
64
125
216
343
512
729

In [177]:
for ele in pow_x:
    print(ele)

In [168]:
def PowX(limit, power):
    output = []
    value = 0
    while value < limit:
        output.append(value**power)
        value += 1
                      
    return output

In [169]:
pow_x = PowX(10, 3)
for ele in pow_x:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [170]:
pow_x

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [178]:
import xlsxwriter
expenses = (
    ['Rent', 1000],
    ['Gas',   100],
    ['Food',  300],
    ['Gym',    50],
)

In [179]:
workbook = xlsxwriter.Workbook('Expenses01.xlsx')
worksheet = workbook.add_worksheet()
expenses = (
    ['Rent', 1000],
    ['Gas',   100],
    ['Food',  300],
    ['Gym',    50],
)

# Start from the first cell. Rows and columns are zero indexed.
row = 0
col = 0

# Iterate over the data and write it out row by row.
for item, cost in (expenses):
    worksheet.write(row, col,     item)
    worksheet.write(row, col + 1, cost)
    row += 1

# Write a total using a formula.
worksheet.write(row, 0, 'Total')
worksheet.write(row, 1, '=SUM(B1:B4)')

workbook.close()

In [180]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

t1 = TestClass()
t2 = TestClass()


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [181]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

In [182]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [183]:
TestClass.class_variable = 5

In [184]:
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

t1.class_variable:  3
t2.class_variable:  5

In [185]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [186]:
print('\n', '-'*60, '\n')

class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable


t1 = TestClass(1)
t2 = TestClass(2)

 ------------------------------------------------------------

In [187]:
print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [188]:
print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

In [189]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

In [190]:
print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

In [191]:
print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

In [192]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [193]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [194]:
class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2


print('@staticmethod add: ', TestClass.add(3,4))

@staticmethod add:  7

In [196]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2 + class_variable

print('@staticmethod add: ', TestClass2.add(3,4))

NameError: name 'class_variable' is not defined

In [198]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    def __init__(self, number):
        self.number = number
    
    @staticmethod
    def add(number1, number2):
        return number1 + number2 + self.number

print('@staticmethod add: ', TestClass2.add(3,4))

t2 = TestClass2(5)

NameError: name 'self' is not defined

In [199]:
class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  11

In [200]:
class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  12

In [202]:
class TestClass:
    class_variable = 1

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))

add_static:  27
add_class:  28

In [203]:
t1 = TestClass()

print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))

Call from class -- add_object:  57

In [ ]:
print('Call from object -- add_object: ', t1.add_object(13, 14)) # ==> TestClass.add_object(t1, 13, 14))