In [1]:
x = 'EAS503'

In [2]:
print(x)

EAS503

In [3]:
x = "EAS503"

In [10]:
print('''
Should you want a string
    that crosses multiple lines,
 Use matched triple quotes.''')

Should you want a string
    that crosses multiple lines,
 Use matched triple quotes.

In [5]:
bool('False')

True

In [6]:
bool('True')

True

In [7]:
bool(0)

False

In [8]:
bool(1)

True

In [13]:
print('abbcd', 2, 3, 34.3)

abbcd 2 3 34.3

In [14]:
print('abbcd', 2, 3, 34.3, sep='---')

abbcd---2---3---34.3

In [15]:
print('abbcd', 2, 3, 34.3, sep='\n')

abbcd
2
3
34.3

In [16]:
print('abbcd', 2, 3, 34.3, sep='\t')

abbcd	2	3	34.3

In [17]:
print(1900, 1920, 1930, 1940, sep=', ')

1900, 1920, 1930, 1940

In [22]:
def add(x, y):
    print(x, y)
    return x + y
    
return_value = add(1, 2)

1 2

In [23]:
print(return_value)

3

In [24]:
scientist = 'Issac Newton'
print(len(scientist))

12

In [25]:
mrn1 = '12345678'
mrn2 = '1233456790'
print(len(mrn1), len(mrn2))

8 10

In [26]:
len('')

0

In [27]:
len(' ')

1

In [28]:
len('\n')

1

In [29]:
'Alan Turning' +  'Grace Hopper'

'Alan TurningGrace Hopper'

In [30]:
'Alan Turning' + ' ' + 'Grace Hopper'

'Alan Turning Grace Hopper'

In [31]:
'Alan Turning' + ', ' + 'Grace Hopper'

'Alan Turning, Grace Hopper'

In [32]:
'NH' + 3

TypeError: can only concatenate str (not "int") to str

In [33]:
my_int = 7
'Four score and ' + my_int + ' years ago'

TypeError: can only concatenate str (not "int") to str

In [34]:
'Four score and ' + str(my_int) + ' years ago'

'Four score and 7 years ago'

In [35]:
int('-324.40')

ValueError: invalid literal for int() with base 10: '-324.40'

In [36]:
int(324.40)

324

In [37]:
'AT' * 5

'ATATATATAT'

In [38]:
'-' * 5

'-----'

In [40]:
print('-'*80)
print('John Doe')
print('-'*80)
print('Jane doe')

--------------------------------------------------------------------------------
John Doe
--------------------------------------------------------------------------------
Jane doe

In [145]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
'-' * 5
'*' * 5

'*****'

In [44]:
'x\ny'

'x\ny'

In [45]:
print('x\ny')

x
y

In [47]:
'I can\'t do this'

"I can't do this"

In [48]:
'x\ty'

'x\ty'

In [50]:
print('x\\y')

x\y

In [52]:
`I can't do this`

SyntaxError: invalid syntax (51601139.py, line 1)

In [53]:
print('1\t2')

1	2

In [ ]:
def add(x,y):
    return x + y

add(1, 2)

In [57]:
number = input('Please enter a number: ')

Please enter a number: 5

In [58]:
type(number)

str

In [60]:
number = int(input('Please enter a number: '))

Please enter a number: 5

In [61]:
type(number)

int

In [63]:
number = int(input('Please enter a number: '))

Please enter a number: 3.14

ValueError: invalid literal for int() with base 10: '3.14'

In [64]:
number = int(input('Please enter a number: '))

Please enter a number: lol

ValueError: invalid literal for int() with base 10: 'lol'

In [65]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [67]:
convert_celsius()

Please enter temperature in Fahrenheit: 32
The temperature in celsius is:  0.0

In [68]:
convert_celsius()

Please enter temperature in Fahrenheit: 212
The temperature in celsius is:  100.0

In [69]:
PI = 3.14159265359 
print(f'{PI:.2f}')

3.14

In [ ]:
x = '123'

In [ ]:
{<index/expression>:<format-specifier>} 
<padding_character><alignment><width>.<comma><precision><type>

In [81]:
f'{pow(2*4, 2)}'

'64'

In [ ]:
PI = 3.14159265359 
name = 'PI'
# {<name_of_variable>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {PI:.2f}') # newest way

In [71]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [72]:
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
print(str_format)

The course number is EAS503. It has 113 students.

In [73]:
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
print(str_format)

The course number is 113. It has EAS503 students.

In [74]:
str_format = 'The course number is {}. It has {} students. {}{}'.format(course_number, class_size)

IndexError: Replacement index 2 out of range for positional args tuple

In [77]:
str_format = 'The course number is {}. It has {} students. {}--{}'.format(course_number, class_size, 3, 4, 5)
print(str_format)

The course number is EAS503. It has 113 students. 3--4

In [78]:
str_format = 'The course number is {1}. It has {0} students. {}--{}'.format(
    course_number, class_size, 3, 4, 5)
print(str_format)

ValueError: cannot switch from manual field specification to automatic field numbering

In [83]:
f'{PI:.3f}'

'3.142'

In [84]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3.
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [85]:
x = 'EAS503'
print(f'{x:10}')
print('-'*10)

EAS503
----------

In [86]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3.
The course number is     EAS503. It has        113 students. The class average is       92.3.

In [87]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

In [89]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:*<8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:*<8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 223333**
The number padded 223333 padded with zeros 223333**

In [91]:
f'{3.5:.2f}'

'3.50'

In [92]:
round(3.5, 2)

3.5

In [123]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
top = '+' + '-'*(len(title)-2) + '+'
print(top,
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [95]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [96]:
x = 'Cereal Yields (kg/ha)'
'{:^51}'.format(x)

'               Cereal Yields (kg/ha)               '

In [99]:

'{:^51}'.format('Cereal Yields (kg/ha)')

'               Cereal Yields (kg/ha)               '

In [100]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [105]:
x = 51
y = '^'
f'|{"Cereal Yields (kg/ha)":{y}{x}}|' # on homework

'|               Cereal Yields (kg/ha)               |'

In [109]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [108]:
('-'*8 + '+')*4

'--------+--------+--------+--------+'

In [112]:
line = f'+{"-"*15}+{("-"*8 + "+")*4}'

In [113]:
print(line)

+---------------+--------+--------+--------+--------+

In [ ]:
row = '| {:<13} |' + ' {:6,d} |'*4

In [114]:
template = '| {:<13} |'

In [115]:
print(template)

| {:<13} |

In [116]:
template.format('Security')

'| Security      |'

In [117]:
tmp2 = ' {:6,d} |'*4

In [118]:
print(tmp2)

 {:6,d} | {:6,d} | {:6,d} | {:6,d} |

In [120]:
tmp2.format(1900, 123456, 99999999, 988888 )

'  1,900 | 123,456 | 99,999,999 | 988,888 |'

In [121]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [ ]:
with open('test_file.txt', 'w') as file:
    file.write('line1\nline2')

_io.TextIOWrapper

In [127]:
file = open('test1.txt', 'w')
x = file.write('abc\nefg')
file.close()

In [128]:
print(x)

7

In [ ]:
with open('test_file.txt', 'w') as file:
    file.write('line1\nline2')
x = 1

In [131]:
print('\n'.join(['123', '456', '789']))

123
456
789

In [132]:
print(', '.join(['123', '456', '789']))

123, 456, 789

In [133]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))

with open('test_file2.txt', 'w') as file:
    file.write(file_content)

485

In [134]:
'browning'.capitalize()

'Browning'

In [136]:
x = 'browning'
x.capitalize()

'Browning'

In [137]:
my_string = '   ABBCCC  '
print(my_string, 'Dummy')
print(my_string.strip(), 'Dummy')

   ABBCCC   Dummy
ABBCCC Dummy

In [141]:
my_string = '  ABBCCCA'
print(my_string.strip(' A'))

BBCCC

In [142]:
x = 'This is a  line\n'
print(x)

This is a  line

In [158]:
x = 'This is a  line\n'
x.strip()
print(x)

This is a  line

In [148]:
"\u00B2"

'²'

In [149]:
"\u00B2".isdigit()

True

In [154]:
"\u00BC".isnumeric()

True

In [155]:
float("\u00BC")

ValueError: could not convert string to float: '¼'

In [156]:
my_string = '(EAS503)'
tmp1 = my_string.replace('(', '')
print(tmp1)
tmp2 = tmp1.replace(')', '')
print(tmp2)

EAS503)
EAS503

In [159]:
x = 'ABAB'
x.find('A')

0

In [160]:
my_string.replace('(EAS503)', 'EAS503')

'EAS503'

In [161]:
def remove_parentheses(my_string):
    tmp1 = my_string.replace('(', '')
    tmp2 = tmp1.replace(')', '')
    return tmp2

In [162]:
remove_parentheses('(BIO101)')

'BIO101'

In [163]:
my_string[1:-1]

'EAS503'

In [164]:
my_string = '(EAS503)'
print(my_string.replace('(', '').replace(')', ''))
print(my_string)

EAS503
(EAS503)

In [165]:
my_string = '(EAS503)'
print(my_string.replace('(', '').replace(')', '').lower())
print(my_string)

eas503
(EAS503)

In [166]:
x = list('EAS503')

In [167]:
x

['E', 'A', 'S', '5', '0', '3']

In [168]:
x[1] = 'B'

In [169]:
x

['E', 'B', 'S', '5', '0', '3']

In [170]:
''.join(x)

'EBS503'

In [171]:
67.0 == 67

True

In [172]:
x = 3
(1 < x) and (x <= 5)

x = 7
(1 < x) and (x <= 5)

False

In [173]:
x = 2
y = 5
z = 7
x < y and y < z

True

In [174]:
x < y < z

True

In [176]:
'A' > 'Z' # 65 > 90

False

In [178]:
'A' > 'a' # 65 > 97

False

In [179]:
'2' < '11'

False

In [180]:
50 < 49

False