In [3]:
6/36 * 100

16.666666666666664

In [10]:
import random

dice1 = random.randint(1, 6)
dice2 = random.randint(1, 6)
print(dice1+dice2)

6

In [8]:
for _ in range(10):
    print(random.randint(1, 6))

1
5
3
3
3
2
5
4
6
5

In [26]:
from collections import defaultdict
def simulate_two_dice(no_simulation):
    import random
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]

    two_dice = {}
#     two_dice = defaultdict(int)
    for _ in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)
        total = dice1 + dice2
    
        if total not in two_dice:
            two_dice[total] = 0
            
        two_dice[total] += 1
        
    for ele in two_dice:
        two_dice[ele] = round(two_dice[ele]/no_simulation * 100, 2)
    
    return two_dice

results = simulate_two_dice(1000000)
for ele in sorted(results):
    print(ele, results[ele] )

2 2.81
3 5.59
4 8.3
5 11.08
6 13.92
7 16.65
8 13.9
9 11.17
10 8.29
11 5.51
12 2.77

In [17]:
sorted(results)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [18]:
my_dict = {
    'b': 1,
    'B': 2,
    'bb': 3,
    '1': 1
}

In [19]:
for ele in my_dict:
    print(ele)

b
B
bb
1

In [20]:
for ele in sorted(my_dict):
    print(ele)

1
B
b
bb

In [27]:
total = {}

In [28]:
total[5] += 1

KeyError: 5

In [29]:
if 5 not in total:
    total[5] = 0
    
total[5] += 1

In [32]:
from collections import defaultdict
def simulate_two_dice(no_simulation):
    import random
    random.seed(503)
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]

#     two_dice = {}
    two_dice = defaultdict(int)
    for _ in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)
        total = dice1 + dice2
    
#         if total not in two_dice:
#             two_dice[total] = 0
            
        two_dice[total] += 1
        
    for ele in two_dice:
        two_dice[ele] = round(two_dice[ele]/no_simulation * 100, 2)
    
    return two_dice

results = simulate_two_dice(1000000)
for ele in sorted(results):
    print(ele, results[ele] )

2 2.77
3 5.53
4 8.34
5 11.12
6 13.86
7 16.69
8 13.91
9 11.13
10 8.32
11 5.57
12 2.77

In [ ]:
2 2.77
3 5.53
4 8.34
5 11.12
6 13.86
7 16.69
8 13.91
9 11.13
10 8.32
11 5.57
12 2.77

In [36]:
from collections import Counter
def simulate_two_dice(no_simulation):
    import random
    random.seed(503)
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]

#     two_dice = {}
    two_dice = []
    for _ in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)
        total = dice1 + dice2
    
#         if total not in two_dice:
#             two_dice[total] = 0
            
        two_dice.append(total)
    c = Counter(two_dice)
    two_dice = {}
    for ele in c:
        two_dice[ele] = round(c[ele]/no_simulation * 100, 2)
    
    return two_dice

results = simulate_two_dice(1000000)
for ele in sorted(results):
    print(ele, results[ele] )

2 2.77
3 5.53
4 8.34
5 11.12
6 13.86
7 16.69
8 13.91
9 11.13
10 8.32
11 5.57
12 2.77

In [37]:
x = [1, 2, 1, 1, 2, 3, 1, 1, 1, 1, ]
Counter(x)

Counter({1: 3, 2: 2, 3: 1})

In [ ]:
list -- Yes
tuple -- Yes
dict -- No
set -- No

In [38]:
my_dict = {
    'a': 2,
    'b': 3
}

In [39]:
my_dict

{'a': 2, 'b': 3}

In [ ]:
{'a': 2, 'b': 3, 'a': 5} # incorrect

In [40]:
my_dict['a'] = 5

In [41]:
my_dict

{'a': 5, 'b': 3}

In [ ]:
# no duplicate keys in a python dictionary

In [46]:
my_dict = {'a': [2], 'b': 3,}

In [47]:
my_dict

{'a': [2], 'b': 3}

In [48]:
my_dict['a'].append(3)

In [49]:
my_dict

{'a': [2, 3], 'b': 3}

In [50]:
x = [1, 1, 2, 1, 1, 1]
print(x)

[1, 1, 2, 1, 1, 1]

In [52]:
x = set(x)

In [53]:
x[1]

TypeError: 'set' object is not subscriptable

In [54]:
x = {0, 1, 2, 3, 4, 5, 6, 7, 8}
x[0]

TypeError: 'set' object is not subscriptable

In [57]:
x = {1, 3.14, '3.14', True, 0, False}

In [58]:
x

{0, 1, 3.14, '3.14'}

In [59]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [60]:
2 in A

True

In [ ]:
# Speed
list, tuple -- in operator has cost of O(n)
dict, set, -- in operator has cost of O(1)

In [61]:
A

{0, 2, 4, 6, 8}

In [62]:
B

{1, 2, 3, 4, 5}

In [63]:
A - B

{0, 6, 8}

In [64]:
B - A

{1, 3, 5}

In [65]:
A = {1, 2, 3, 4, 5}
B = {3, 4}

B < A

True

In [66]:
B <= A

True

In [67]:
B > A

False

In [68]:
A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [69]:
A.append(5)

AttributeError: 'set' object has no attribute 'append'

In [70]:
A = {1, 2, 3, 4, 5}
A.discard(1)
print(A)

{2, 3, 4, 5}

In [71]:
A.discard('BLah')

In [72]:
A = {1, 2, 3, 4, 5}
A.pop()

1

In [73]:
d1 = dict(a=1, b=2, c=3, d=4)
d2 = dict(b=20, d=40, e=50)

In [74]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [75]:
d2

{'b': 20, 'd': 40, 'e': 50}

In [76]:
d1.keys() & d2.keys()

{'b', 'd'}

In [79]:
d1.keys() <= {'a', 'b', 'c', 'd'}

True

In [77]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

In [80]:
{'id', 'major'} <= my_dict.keys()

True

In [82]:
def get_list_from_file(filename):
    lst = []
    with open(filename) as file:
        for line in file:
            if not line.strip():
                continue

            lst.append(line.strip())

    return lst
filename = 'gene_list1.txt'

In [88]:
def compare_two_lists(filename1, filename2):

    list1 = get_list_from_file(filename1)
    list2 = get_list_from_file(filename2)

    return (list(set(list1)-set(list2)), list(set(list2)-set(list1)))


print(compare_two_lists('gene_list1.txt', 'gene_list2.txt'))

(['ACLY', 'ABCA3', 'ABCA5', 'ACRBP', 'ABCF3', 'ACSS3', 'ACTRT1', 'A2M', 'ABCB11', 'A4GALT', 'ABCE1', 'ABCC9', 'AASS', 'ABCF1', 'AADACL4', 'ACOT9', 'ABCG8', 'ACSL3', 'ABCB4', 'ACTB', 'ABHD10', 'ACTG2', 'ACVR2B', 'ACTR3', 'AASDHPPT', 'ACP6', 'ABCC4', 'ACSL4', 'ABCA6', 'ACTN4', 'ABCD3', 'ACTN1', 'ACTL7B', 'ACTL9', 'ACKR1', 'ACSS1', 'AADAC', 'ACSM2A', 'AATK', 'ACSF3', 'ACP3', 'ACTR2', 'ABHD6', 'ACP4', 'ACHE', 'ACOD1', 'ABCA2', 'ACO2', 'ACTN3', 'AAAS', 'ABCA7', 'ACTL8', 'ACYP1', 'ACER1', 'ACVR1B', 'AAMDC', 'ACKR3', 'ACSM1', 'ACSM6', 'ACTR5', 'ACVR2A', 'ABCF2', 'ABCD2', 'ABCB9', 'ACOT13', 'ACOT11', 'ABCA13', 'ACTC1', 'ACO1', 'ACOT12', 'ABAT', 'AADACL2', 'ACSL5', 'AARD', 'AADAT', 'ACSBG1', 'ACTL10', 'ACTRT3', 'ACMSD', 'ACTL6B', 'ACTL6A', 'ABCA1', 'ACOT4', 'ACKR2', 'ACSM2B', 'ABHD8', 'ABCD1', 'ACE2', 'ACY1', 'ACOT6', 'AAMP', 'ACR', 'A3GALT2', 'ACD', 'ACP7', 'ACTR3B', 'ABCA8', 'A4GNT', 'ACP2', 'ABCC6', 'ACP5', 'ACSM5', 'ABCA9', 'ACOT7', 'ADA', 'ABCC3', 'ABCA12', 'ABCC2', 'A1BG', 'ABCC8', 'ABHD1', 'AASDH', 'ACRV1', 'ACSL1', 'ABCB10', 'ABHD4', 'AATF', 'ACOT8', 'ABCG1', 'ACTN2', 'ACER2', 'ACOX3', 'ACVR1C', 'AANAT', 'ACOT2', 'ABCB1', 'ABHD3', 'ACYP2', 'ABCG5', 'ACSS2', 'ABCA10', 'ABCC5', 'ACOX2', 'AARSD1', 'ABCC1', 'AARS1', 'ACTR1B', 'ACTR1A', 'ABCB8', 'ACKR4', 'AAGAB', 'ABCB5', 'A2ML1', 'ABCC12', 'ABCA4', 'ACTR8', 'ABHD2', 'ACIN1', 'ACVRL1', 'ABCD4', 'ACSL6', 'AAK1', 'ACTL7A', 'ACTG1', 'ABCB6', 'ABHD5', 'ACSF2', 'ACTR10', 'ACTA2', 'ACP1', 'ACTBL2', 'ACTR3C', 'ACTR6', 'ACOT1', 'AACS', 'ACSM3', 'ACER3', 'ACTA1', 'ACY3', 'ABCG4', 'ACVR1', 'A1CF', 'ABCC11', 'ACOX1', 'ACOXL', 'ACSBG2', 'ACSM4', 'ACTRT2', 'AARS2', 'AADACL3', 'AAR2', 'ACE', 'ABCG2', 'ABCB7', 'ABCC10'], ['ZPR1', 'ZSCAN32', 'ZP3', 'ZNF804A', 'ZNF850', 'ZSCAN18', 'ZNF860', 'ZSCAN20', 'ZNF736', 'ZSWIM9', 'ZNF790', 'ZNF879', 'ZNF853', 'ZNF782', 'ZRANB3', 'ZNF845', 'ZNF792', 'ZNF786', 'ZNRF4', 'ZNF789', 'ZSCAN30', 'ZNF726', 'ZSWIM6', 'ZNF716', 'ZNF738', 'ZNF831', 'ZNF718', 'ZNF721', 'ZSCAN4', 'ZNHIT2', 'ZNF785', 'ZNF777', 'ZNHIT6', 'ZNF844', 'ZSCAN31', 'ZNF730', 'ZNF747', 'ZNHIT1', 'ZNF761', 'ZNRF3', 'ZSCAN5B', 'ZNF720', 'ZNF728', 'ZNF770', 'ZSCAN10', 'ZSWIM7', 'ZUP1', 'ZNF814', 'ZNF737', 'ZNF883', 'ZNRD1', 'ZNF837', 'ZNF783', 'ZNF804B', 'ZNF778', 'ZNF766', 'ZSCAN21', 'ZNF717', 'ZSCAN5C', 'ZSWIM8', 'ZNF808', 'ZNHIT3', 'ZP2', 'ZNF765', 'ZNF830', 'ZNF846', 'ZNF771', 'ZNF813', 'ZNF836', 'ZNF865', 'ZNF875', 'ZNF805', 'ZNF829', 'ZNF773', 'ZNF843', 'ZNF839', 'ZSCAN16', 'ZNF714', 'ZNF793', 'ZRSR2', 'ZSWIM3', 'ZNF768', 'ZRANB1', 'ZPLD1', 'ZNRD2', 'ZP4', 'ZNF827', 'ZNF791', 'ZSWIM4', 'ZNF729', 'ZNF764', 'ZPBP2', 'ZNF732', 'ZSWIM5', 'ZNF774', 'ZNF780B', 'ZNF740', 'ZNF800', 'ZPBP', 'ZSCAN5A', 'ZNF888', 'ZNF799', 'ZNRF1', 'ZSCAN12', 'ZP1', 'ZNF780A', 'ZNF852', 'ZSCAN22', 'ZNF746', 'ZNRF2', 'ZNF880', 'ZSCAN25', 'ZNF749', 'ZNF891', 'ZNF750', 'ZNF775', 'ZNF821', 'ZNF781', 'ZNF763', 'ZSCAN9', 'ZNF841', 'ZNF878', 'ZNF784', 'ZSCAN26', 'ZNF772', 'ZSWIM1', 'ZNF735', 'ZNF835', 'ZRANB2', 'ZNF727', 'ZNF723', 'ZSCAN2', 'ZSCAN1', 'ZNF823', 'ZNFX1', 'ZNF787', 'ZNF776', 'ZSCAN23', 'ZNF724', 'ZSCAN29', 'ZNF816', 'ZSWIM2', 'ZNF862'])

In [86]:
x = {'a', 'b', 'c', 'd'}

In [87]:
list(x)

['a', 'd', 'b', 'c']

In [89]:
{ ele for ele in range(5)}

{0, 1, 2, 3, 4}

In [90]:
my_list = [1, 2, 3, 4]
output = []
for ele in my_list:
    output.append(ele*ele)

In [91]:
output

[1, 4, 9, 16]

In [94]:
lfunc = lambda x: x * x # this is storing the lambda function in a variable 

lfunc(5)

25

In [ ]:
# lambda a, b: a + b

def f(a, b):
    return a + b

In [95]:
func = lambda a, b: a * b
def lambda_test(function, number1, number2):
    return function(number1, number2)
print(lambda_test(func, 3, 4))

12

In [96]:
my_list = [2, 3, 4]

# double this list

# method 1 - define a square function

def square_list(my_list):
    new_list = []
    for ele in my_list:
        new_list.append(ele * ele)

    return new_list

print(square_list(my_list))

[4, 9, 16]

In [97]:
# method 2 - list comprehension

print([ele*ele for ele in my_list])

[4, 9, 16]

In [104]:
# method 3 - use lambda with map
# map(lambda variables (comma separated): expression)

x = map(lambda ele: ele*ele, my_list)

In [105]:
for ele in x:
    print(ele)

4
9
16

In [106]:
for ele in x:
    print(ele)

In [107]:
# variation #1
list(map(lambda ele: ele*ele, my_list))

[4, 9, 16]

In [108]:
lfunc = lambda ele: ele*ele
list(map(lfunc, my_list))

[4, 9, 16]

In [109]:
def square(x):
    return x * x
list(map(square, my_list))

[4, 9, 16]

In [110]:
students = ['john', 'jane', 'doe']
# make upper case


# method 1 create new list and loop
new_list = []
for student in students:
    new_list.append(student.title())

print(new_list)

['John', 'Jane', 'Doe']

In [111]:
# method 2 -- use list comprehension

print([student[0].upper()+student[1:] for student in students])
print([student.title() for student in students])

['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']

In [112]:
list(map(lambda string: string.title(), students))

['John', 'Jane', 'Doe']

In [118]:
data = open('gene_list1.txt').readlines()
print(data)

['A1BG\n', 'A1CF\n', 'A2M\n', 'A2ML1\n', 'A3GALT2\n', 'A4GALT\n', 'A4GNT\n', 'AAAS\n', 'AACS\n', 'AADAC\n', 'AADACL2\n', 'AADACL3\n', 'AADACL4\n', 'AADAT\n', 'AAGAB\n', 'AAK1\n', 'AAMDC\n', 'AAMP\n', 'AANAT\n', 'AAR2\n', 'AARD\n', 'AARS1\n', 'AARS2\n', 'AARSD1\n', 'AASDH\n', 'AASDHPPT\n', 'AASS\n', 'AATF\n', 'AATK\n', 'ABAT\n', 'ABCA1\n', 'ABCA2\n', 'ABCA3\n', 'ABCA4\n', 'ABCA5\n', 'ABCA6\n', 'ABCA7\n', 'ABCA8\n', 'ABCA9\n', 'ABCA10\n', 'ABCA12\n', 'ABCA13\n', 'ABCB1\n', 'ABCB4\n', 'ABCB5\n', 'ABCB6\n', 'ABCB7\n', 'ABCB8\n', 'ABCB9\n', 'ABCB10\n', 'ABCB11\n', 'ABCC1\n', 'ABCC2\n', 'ABCC3\n', 'ABCC4\n', 'ABCC5\n', 'ABCC6\n', 'ABCC8\n', 'ABCC9\n', 'ABCC10\n', 'ABCC11\n', 'ABCC12\n', 'ABCD1\n', 'ABCD2\n', 'ABCD3\n', 'ABCD4\n', 'ABCE1\n', 'ABCF1\n', 'ABCF2\n', 'ABCF3\n', 'ABCG1\n', 'ABCG2\n', 'ABCG4\n', 'ABCG5\n', 'ABCG8\n', 'ABHD1\n', 'ABHD2\n', 'ABHD3\n', 'ABHD4\n', 'ABHD5\n', 'ABHD6\n', 'ABHD8\n', 'ABHD10\n', 'ABHD11\n', 'ABHD12\n', 'ABHD12B\n', 'ABHD13\n', 'ABHD14A\n', 'ABHD14B\n', 'ABHD15\n', 'ABHD16A\n', 'ABHD16B\n', 'ABHD17A\n', 'ABHD17B\n', 'ABHD17C\n', 'ABHD18\n', 'ABI1\n', 'ABI2\n', 'ABI3\n', 'ABI3BP\n', 'ABITRAM\n', 'ABL1\n', 'ABL2\n', 'ABLIM1\n', 'ABLIM2\n', 'ABLIM3\n', 'ABO\n', 'ABR\n', 'ABRA\n', 'ABRACL\n', 'ABRAXAS1\n', 'ABRAXAS2\n', 'ABT1\n', 'ABTB1\n', 'ABTB2\n', 'ACAA1\n', 'ACAA2\n', 'ACACA\n', 'ACACB\n', 'ACAD8\n', 'ACAD9\n', 'ACAD10\n', 'ACAD11\n', 'ACADL\n', 'ACADM\n', 'ACADS\n', 'ACADSB\n', 'ACADVL\n', 'ACAN\n', 'ACAP1\n', 'ACAP2\n', 'ACAP3\n', 'ACAT1\n', 'ACAT2\n', 'ACBD3\n', 'ACBD4\n', 'ACBD5\n', 'ACBD6\n', 'ACBD7\n', 'ACCS\n', 'ACCSL\n', 'ACD\n', 'ACE\n', 'ACE2\n', 'ACER1\n', 'ACER2\n', 'ACER3\n', 'ACHE\n', 'ACIN1\n', 'ACKR1\n', 'ACKR2\n', 'ACKR3\n', 'ACKR4\n', 'ACLY\n', 'ACMSD\n', 'ACO1\n', 'ACO2\n', 'ACOD1\n', 'ACOT1\n', 'ACOT2\n', 'ACOT4\n', 'ACOT6\n', 'ACOT7\n', 'ACOT8\n', 'ACOT9\n', 'ACOT11\n', 'ACOT12\n', 'ACOT13\n', 'ACOX1\n', 'ACOX2\n', 'ACOX3\n', 'ACOXL\n', 'ACP1\n', 'ACP2\n', 'ACP3\n', 'ACP4\n', 'ACP5\n', 'ACP6\n', 'ACP7\n', 'ACR\n', 'ACRBP\n', 'ACRV1\n', 'ACSBG1\n', 'ACSBG2\n', 'ACSF2\n', 'ACSF3\n', 'ACSL1\n', 'ACSL3\n', 'ACSL4\n', 'ACSL5\n', 'ACSL6\n', 'ACSM1\n', 'ACSM2A\n', 'ACSM2B\n', 'ACSM3\n', 'ACSM4\n', 'ACSM5\n', 'ACSM6\n', 'ACSS1\n', 'ACSS2\n', 'ACSS3\n', 'ACTA1\n', 'ACTA2\n', 'ACTB\n', 'ACTBL2\n', 'ACTC1\n', 'ACTG1\n', 'ACTG2\n', 'ACTL6A\n', 'ACTL6B\n', 'ACTL7A\n', 'ACTL7B\n', 'ACTL8\n', 'ACTL9\n', 'ACTL10\n', 'ACTN1\n', 'ACTN2\n', 'ACTN3\n', 'ACTN4\n', 'ACTR1A\n', 'ACTR1B\n', 'ACTR2\n', 'ACTR3\n', 'ACTR3B\n', 'ACTR3C\n', 'ACTR5\n', 'ACTR6\n', 'ACTR8\n', 'ACTR10\n', 'ACTRT1\n', 'ACTRT2\n', 'ACTRT3\n', 'ACVR1\n', 'ACVR1B\n', 'ACVR1C\n', 'ACVR2A\n', 'ACVR2B\n', 'ACVRL1\n', 'ACY1\n', 'ACY3\n', 'ACYP1\n', 'ACYP2\n', 'ADA\n']

In [116]:
list(map(lambda x: x.strip(), open('gene_list1.txt').readlines()))

['A1BG',
 'A1CF',
 'A2M',
 'A2ML1',
 'A3GALT2',
 'A4GALT',
 'A4GNT',
 'AAAS',
 'AACS',
 'AADAC',
 'AADACL2',
 'AADACL3',
 'AADACL4',
 'AADAT',
 'AAGAB',
 'AAK1',
 'AAMDC',
 'AAMP',
 'AANAT',
 'AAR2',
 'AARD',
 'AARS1',
 'AARS2',
 'AARSD1',
 'AASDH',
 'AASDHPPT',
 'AASS',
 'AATF',
 'AATK',
 'ABAT',
 'ABCA1',
 'ABCA2',
 'ABCA3',
 'ABCA4',
 'ABCA5',
 'ABCA6',
 'ABCA7',
 'ABCA8',
 'ABCA9',
 'ABCA10',
 'ABCA12',
 'ABCA13',
 'ABCB1',
 'ABCB4',
 'ABCB5',
 'ABCB6',
 'ABCB7',
 'ABCB8',
 'ABCB9',
 'ABCB10',
 'ABCB11',
 'ABCC1',
 'ABCC2',
 'ABCC3',
 'ABCC4',
 'ABCC5',
 'ABCC6',
 'ABCC8',
 'ABCC9',
 'ABCC10',
 'ABCC11',
 'ABCC12',
 'ABCD1',
 'ABCD2',
 'ABCD3',
 'ABCD4',
 'ABCE1',
 'ABCF1',
 'ABCF2',
 'ABCF3',
 'ABCG1',
 'ABCG2',
 'ABCG4',
 'ABCG5',
 'ABCG8',
 'ABHD1',
 'ABHD2',
 'ABHD3',
 'ABHD4',
 'ABHD5',
 'ABHD6',
 'ABHD8',
 'ABHD10',
 'ABHD11',
 'ABHD12',
 'ABHD12B',
 'ABHD13',
 'ABHD14A',
 'ABHD14B',
 'ABHD15',
 'ABHD16A',
 'ABHD16B',
 'ABHD17A',
 'ABHD17B',
 'ABHD17C',
 'ABHD18',
 'ABI1',
 'ABI2',
 'ABI3',
 'ABI3BP',
 'ABITRAM',
 'ABL1',
 'ABL2',
 'ABLIM1',
 'ABLIM2',
 'ABLIM3',
 'ABO',
 'ABR',
 'ABRA',
 'ABRACL',
 'ABRAXAS1',
 'ABRAXAS2',
 'ABT1',
 'ABTB1',
 'ABTB2',
 'ACAA1',
 'ACAA2',
 'ACACA',
 'ACACB',
 'ACAD8',
 'ACAD9',
 'ACAD10',
 'ACAD11',
 'ACADL',
 'ACADM',
 'ACADS',
 'ACADSB',
 'ACADVL',
 'ACAN',
 'ACAP1',
 'ACAP2',
 'ACAP3',
 'ACAT1',
 'ACAT2',
 'ACBD3',
 'ACBD4',
 'ACBD5',
 'ACBD6',
 'ACBD7',
 'ACCS',
 'ACCSL',
 'ACD',
 'ACE',
 'ACE2',
 'ACER1',
 'ACER2',
 'ACER3',
 'ACHE',
 'ACIN1',
 'ACKR1',
 'ACKR2',
 'ACKR3',
 'ACKR4',
 'ACLY',
 'ACMSD',
 'ACO1',
 'ACO2',
 'ACOD1',
 'ACOT1',
 'ACOT2',
 'ACOT4',
 'ACOT6',
 'ACOT7',
 'ACOT8',
 'ACOT9',
 'ACOT11',
 'ACOT12',
 'ACOT13',
 'ACOX1',
 'ACOX2',
 'ACOX3',
 'ACOXL',
 'ACP1',
 'ACP2',
 'ACP3',
 'ACP4',
 'ACP5',
 'ACP6',
 'ACP7',
 'ACR',
 'ACRBP',
 'ACRV1',
 'ACSBG1',
 'ACSBG2',
 'ACSF2',
 'ACSF3',
 'ACSL1',
 'ACSL3',
 'ACSL4',
 'ACSL5',
 'ACSL6',
 'ACSM1',
 'ACSM2A',
 'ACSM2B',
 'ACSM3',
 'ACSM4',
 'ACSM5',
 'ACSM6',
 'ACSS1',
 'ACSS2',
 'ACSS3',
 'ACTA1',
 'ACTA2',
 'ACTB',
 'ACTBL2',
 'ACTC1',
 'ACTG1',
 'ACTG2',
 'ACTL6A',
 'ACTL6B',
 'ACTL7A',
 'ACTL7B',
 'ACTL8',
 'ACTL9',
 'ACTL10',
 'ACTN1',
 'ACTN2',
 'ACTN3',
 'ACTN4',
 'ACTR1A',
 'ACTR1B',
 'ACTR2',
 'ACTR3',
 'ACTR3B',
 'ACTR3C',
 'ACTR5',
 'ACTR6',
 'ACTR8',
 'ACTR10',
 'ACTRT1',
 'ACTRT2',
 'ACTRT3',
 'ACVR1',
 'ACVR1B',
 'ACVR1C',
 'ACVR2A',
 'ACVR2B',
 'ACVRL1',
 'ACY1',
 'ACY3',
 'ACYP1',
 'ACYP2',
 'ADA']

In [119]:
x = ['1', '2', '3']
list(map(lambda ele: int(ele), x))

[1, 2, 3]

In [120]:
sum(map(lambda ele: int(ele), x))

6

In [121]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

list(map(lambda ele: {'value': float(ele['value'])}, my_dict))

[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]

In [122]:
years = range(1970, 2000) # for these years

def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

my_dict = {}
leap_years = []
for year in years:
    my_dict.update({year: is_leap_year(year)})
    if is_leap_year(year):
        leap_years.append(year)

import pprint
pprint.pprint(my_dict)
print(leap_years)

{1970: False,
 1971: False,
 1972: True,
 1973: False,
 1974: False,
 1975: False,
 1976: True,
 1977: False,
 1978: False,
 1979: False,
 1980: True,
 1981: False,
 1982: False,
 1983: False,
 1984: True,
 1985: False,
 1986: False,
 1987: False,
 1988: True,
 1989: False,
 1990: False,
 1991: False,
 1992: True,
 1993: False,
 1994: False,
 1995: False,
 1996: True,
 1997: False,
 1998: False,
 1999: False}
[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [123]:
x = [1, 2, 3, 4, 5]

list(filter(lambda ele: ele >=3, x))

[3, 4, 5]

In [124]:
list(filter(lambda ele: True, x))

[1, 2, 3, 4, 5]

In [125]:
list(filter(lambda ele: ele % 4 == 0, years))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [127]:
leap_year_lambda = lambda year: year % 4 == 0 

filter(leap_year_lambda, range(1970, 2000))

print(list(filter(lambda year: year % 4 == 0, range(1970, 2000))))
print(list(filter(lambda year: is_leap_year(year), range(1970, 2000))))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]
[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [129]:
# # combining map with filter

print(list(map(lambda year: f'{year} is a leap year!', filter(lambda year: year % 4 == 0, range(1970, 2000)) )))

['1972 is a leap year!', '1976 is a leap year!', '1980 is a leap year!', '1984 is a leap year!', '1988 is a leap year!', '1992 is a leap year!', '1996 is a leap year!']

In [ ]:
# map(func, sequence) --> map(func, filter(func, sequence))

In [130]:
print([f'{year} is a leap year' for year in range(1970, 2000) if year % 4 == 0])

['1972 is a leap year', '1976 is a leap year', '1980 is a leap year', '1984 is a leap year', '1988 is a leap year', '1992 is a leap year', '1996 is a leap year']

In [131]:
x = (('efg', 1), ('abc', 3), ('hij', 2))

In [132]:
x

(('efg', 1), ('abc', 3), ('hij', 2))

In [133]:
sorted(x)

[('abc', 3), ('efg', 1), ('hij', 2)]

In [134]:
print(sorted(x, key=lambda ele: ele[1]))

[('efg', 1), ('hij', 2), ('abc', 3)]

In [135]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

print(sorted(students, key=lambda student: student['username']))

[{'grade': 89, 'username': 'Kelly'}, {'username': 'doe', 'grade': 35}, {'username': 'jane', 'grade': 80}, {'username': 'john', 'grade': 50}]

In [136]:
print(sorted(students, key=lambda student: student['username'], reverse=True))

[{'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'username': 'doe', 'grade': 35}, {'grade': 89, 'username': 'Kelly'}]

In [140]:
print(sorted(students, key=lambda student: int(student['grade']),reverse=True))

[{'grade': 89, 'username': 'Kelly'}, {'username': 'jane', 'grade': 80}, {'username': 'john', 'grade': 50}, {'username': 'doe', 'grade': 35}]

In [141]:
students = ['john', 'Janette', 'doe']
print(min(students))

Janette

In [142]:
print(min(students, key=lambda ele: len(ele)))

doe

In [143]:
print(max(students, key=len))

Janette

In [145]:
my_list = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]
print(max(my_list, key=lambda ele: float(ele['value'])))

{'value': '73.4'}

In [150]:
import operator
x = (
    (1, 'a', 3.5), 
    (3, 'Z', 90)
)
sorted(x, key=operator.itemgetter(2))

[(1, 'a', 3.5), (3, 'Z', 90)]

In [151]:
import operator
x = [
    {'name': 'student2', 'test1': '100', 'test2': '90','test3': '65', 'test4': '68', 'test5': '94'},
    {'name': 'student83', 'test1': '88', 'test2': '76', 'test3': '65', 'test4': '97', 'test5': '82'},
    {'name': 'student31', 'test1': '90', 'test2': '87', 'test3': '66', 'test4': '95', 'test5': '72'}
]

sorted(x, key=operator.itemgetter('name'))

[{'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'}]

In [152]:
sorted(x, key=operator.itemgetter('test1'))

[{'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'},
 {'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'}]

In [154]:
sorted(x, key=lambda ele: int(ele['test1']))

[{'name': 'student83',
  'test1': '88',
  'test2': '76',
  'test3': '65',
  'test4': '97',
  'test5': '82'},
 {'name': 'student31',
  'test1': '90',
  'test2': '87',
  'test3': '66',
  'test4': '95',
  'test5': '72'},
 {'name': 'student2',
  'test1': '100',
  'test2': '90',
  'test3': '65',
  'test4': '68',
  'test5': '94'}]

In [155]:
x = (
    (2, 2, 3),
    (2, 1, 3),
    (1, 10, 2),
)

sorted(x, key=lambda ele: (ele[0], ele[1]))

[(1, 10, 2), (2, 1, 3), (2, 2, 3)]

In [157]:
data = (
    ('AMD', 'Advanced Micro Devices, Inc.',
     '$120.88', '+4.27', '121,475,927'),
    ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
    ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
    ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
    ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
)
sorted(data, key=operator.itemgetter(2))

[('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
 ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
 ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380')]

In [158]:
data = (
    ('AMD', 'Advanced Micro Devices, Inc.',
     '$120.88', '+4.27', '121,475,927'),
    ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
    ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
    ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
    ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
)
sorted(data, key=lambda ele: float(ele[2].replace('$', '')))

[('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
 ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
 ('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544')]