In [1]:
my_dict = {
    'name': 'John Doe'
}

In [2]:
print(my_dict)

{'name': 'John Doe'}

In [ ]:
days_in_months = {
    'Jan': 31,
    'Feb': (28,29),
    'Mar': 31,
    'Apr': 30,
    'May': 31,
    'Jun': 30,
    'Jul': 31,
    'Aug': 31,
    'Sep': 30,
    'Oct': 31,
    'Nov': 30,
    'Dec': 31,
}

In [ ]:
(
    {
        'Name': 'John Doe', 
        'Email': 'jdoe@buffalo.edu',
        'ID': 11223344, 
        'Major': 'Biology'
    },
    {
        'Name': 'Jane Doe', 
        'Email': 'Jane@buffalo.edu',
        'ID': 22334455, 
        'Major': 'Chemistry'
    },
)

In [3]:
x = [1, 2, 3]
x[2]

3

In [4]:
y = {
        'Name': 'John Doe', ## --> 0
        'Email': 'jdoe@buffalo.edu',
        'ID': 11223344, 
        'Major': 'Biology'
    }

In [5]:
y['Name']

'John Doe'

In [6]:
y['Major']

'Biology'

In [7]:
y[0]

KeyError: 0

In [ ]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [8]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

In [9]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [10]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [11]:
x

[1, 2, 3]

In [12]:
x[10]

IndexError: list index out of range

In [13]:
my_dict['name']

'john'

In [14]:
key = 'name' 
my_dict[key]

'john'

# What kind of data types can be keys to a dictionary?
Only immutable data types can be keys to a dictionary

- immutable
    - int
    - float
    - string
    - tuple
    - bool
- mutable
    - list
    - dict

1. string [Yes, because it is immutable]
2. int [Yes, because it is immutable]
3. float [Yes, because it is immutable]
4. list [No, because it is mutable]
5. bool Yes
6. Tuple Yes
7. dict No

In [15]:
x = {
    1: 'One'
}

In [16]:
x

{1: 'One'}

In [17]:
x[1]

'One'

In [18]:
x[3.14] = 'Three Point One Four'

In [19]:
x[3.14]

'Three Point One Four'

In [20]:
x[[1]] = 5

TypeError: unhashable type: 'list'

In [21]:
x[True] = False

In [23]:
x[True]

False

In [24]:
x[(1,2)] = [1,2]

In [25]:
x[(1,2)]

[1, 2]

In [28]:
x = [1,2, 3]
for ele in x:
    print(ele, ele*ele)

1 1
2 4
3 9

In [29]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [30]:
for ele in my_dict:
    print(ele)

name
email
id
major

In [31]:
for ele in my_dict:
    print(f'key: {ele}; value: {my_dict[ele]}')

key: name; value: john
key: email; value: john@email.com
key: id; value: 1234
key: major; value: Engineering

In [33]:
for ele in my_dict.keys():
    print(ele)

name
email
id
major

In [32]:
my_dict.keys()

dict_keys(['name', 'email', 'id', 'major'])

In [34]:
for ele in my_dict.values():
    print(ele)

john
john@email.com
1234
Engineering

In [35]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

for key, value in my_dict.items():
    print(key, value)

name john
email john@email.com
id 1234
major Engineering

In [36]:
my_dict['Name']

KeyError: 'Name'

In [37]:
key = 'Major'
if key in my_dict:
    print(True)
else:
    print(False)

False

In [38]:
key = 'major'
if key in my_dict:
    print(True)
else:
    print(False)

True

In [39]:
x = [1, 2, 3, 4, 5,]
y = x[2:4]

In [40]:
y

[3, 4]

In [41]:
y[1] = 10

In [42]:
x

[1, 2, 3, 4, 5]

In [43]:
y

[3, 10]

In [44]:
x

[1, 2, 3, 4, 5]

In [45]:
x = [1, 2, [3, 4], 5,]
y = x[2]

In [46]:
x

[1, 2, [3, 4], 5]

In [47]:
y

[3, 4]

In [48]:
y[1] = 10

In [49]:
x

[1, 2, [3, 10], 5]

In [53]:
x = [1, 2, [3, 4], 5]

In [54]:
y = x.copy()

In [55]:
y

[1, 2, [3, 4], 5]

In [56]:
z = x[2]

In [57]:
z

[3, 4]

In [58]:
z[1] = 100

In [59]:
x

[1, 2, [3, 100], 5]

In [60]:
y

[1, 2, [3, 100], 5]

In [62]:
x = [1, 2, [3, 4], 5]
import copy
y = copy.deepcopy(x)

z = x[2]
z[1] = 100
print(x, y)

[1, 2, [3, 100], 5] [1, 2, [3, 4], 5]

In [63]:
x = {1: True, 2: [3, 4, 5]}
y = x.copy()
x[1] = False
print(x, y)

{1: False, 2: [3, 4, 5]} {1: True, 2: [3, 4, 5]}

In [66]:
x = {1: True, 2: [3, 4, 5]}
y = x.copy()
x[2].append(6)
print(x, y)

{1: True, 2: [3, 4, 5, 6]} {1: True, 2: [3, 4, 5, 6]}

In [67]:
import copy
x = {1: True, 2: [3, 4, 5]}
y = copy.deepcopy(x)
x[2].append(6)
print(x, y)

{1: True, 2: [3, 4, 5, 6]} {1: True, 2: [3, 4, 5]}

In [68]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

In [69]:
new_student

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [70]:

my_dict = {}.fromkeys(range(5), 'iammissing')

In [71]:
my_dict

{0: 'iammissing',
 1: 'iammissing',
 2: 'iammissing',
 3: 'iammissing',
 4: 'iammissing'}

In [72]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [73]:
my_dict['Name']

KeyError: 'Name'

In [79]:
value = my_dict.get('Name')
if value:
    print(2*2)

In [78]:
x = my_dict.get('name')
print(x)

john

In [80]:
value = my_dict.get('name')
if value:
    print(2*2)

4

In [90]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'grade': 0,
    'major': 'Engineering'
}

In [85]:
value = my_dict.get('grade')
if value:
    print('Student Failed')

In [84]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.get('name', None) # default
my_dict.get('name', False)
my_dict.get('name', 'defaultname')

'john'

In [91]:
value = my_dict.get('grade')
if value != None:
    print('Student Failed', value)

Student Failed 0

In [93]:

str(None).isdigit()

False

In [95]:
str(3.14).isdigit()

False

In [96]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.get('name', None) # default

'john'

In [98]:
print(my_dict.get('Name', None)) # default

None

In [100]:
my_dict.get('Name', False)

False

In [101]:
my_dict.get('Name', 'N/A')

'N/A'

In [102]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
y = my_dict.pop('name')

In [103]:
y

'john'

In [104]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
y = my_dict.pop('Name')

KeyError: 'Name'

In [105]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
del my_dict['name']

In [106]:
my_dict

{'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [107]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.popitem()

('major', 'Engineering')

In [108]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.update({'Graduate Year': 2024})

In [109]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

In [110]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.update({'Graduate Year': 2024, 'name': 'Jane'})

In [111]:
my_dict

{'name': 'Jane',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

In [112]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict['Graduate Year']

KeyError: 'Graduate Year'

In [113]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict['Graduate Year'] = 2024

In [114]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

In [115]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict | {'Graduate Year': 2024}

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

In [116]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [117]:
my_dict = my_dict | {'Graduate Year': 2024}

In [118]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'Graduate Year': 2024}

In [119]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict |= {'Graduate Year': 2024}

print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'Graduate Year': 2024}

In [120]:
my_dict = {'LoginCount': 0}

In [121]:
my_dict['LoginCount'] += 1

In [122]:
my_dict

{'LoginCount': 1}

In [125]:
my_dict = {}
if 'LoginCount' not in my_dict:
    my_dict['LoginCount'] =  0
my_dict['LoginCount'] += 1

In [126]:
my_dict

{'LoginCount': 1}

In [127]:
my_dict = {}
if 'Grades' not in my_dict:
    my_dict['Grades'] = []
my_dict['Grades'].append(3)

In [128]:
from collections import defaultdict
my_dict = defaultdict(int)
my_dict['LoginCount'] += 1

In [129]:
my_dict

defaultdict(int, {'LoginCount': 1})

In [130]:
from collections import defaultdict
my_dict = defaultdict(list)
my_dict['Grades'].append(3)

In [133]:
my_dict['bloah'].append((1, 2, 3))

In [134]:
my_dict

defaultdict(list, {'Grades': [3], 'bloah': [(1, 2, 3)]})

In [135]:
x = [1, 2, 3]
y = [4, 5, 6]

x.append(y)

In [136]:
x

[1, 2, 3, [4, 5, 6]]

In [137]:
x = [1, 2, 3]
y = [4, 5, 6]

x.extend(y)

In [138]:
x

[1, 2, 3, 4, 5, 6]

In [141]:
from collections import Counter
days_in_months = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

x = Counter(days_in_months)

In [142]:
x[31]

7

In [148]:
x = [1, 2, 3, 4]

y = {ele:ele*ele for ele in range(101)}

y = {}
for ele in range(101):
    y[ele] = ele * ele

In [149]:
y

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801,
 100: 10000}

In [150]:
y[25]

625

In [151]:
y[14]

196

In [152]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [157]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98, 99]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [160]:
list1 = ['john', 'jane']
list2 = [95, 99, 98, 99]
dict(zip(list1,list2)) # dict(key1=value1, key2=value2)

{'john': 95, 'jane': 99}

In [161]:
# filename = input('What is the name of the file? ')
filename = 'people.tsv'
header = None
data_array = []

with open(filename, 'r') as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
            
        if not header:
            header = line.split('\t')
            continue
            
        data_array.append(dict(zip(header, line.split('\t'))))

        
for ele in data_array:
    print(ele)

{'last_name': 'Weaver', 'first_name': 'Michael', 'email': 'xdunn@hotmail.com', 'country': 'Nepal', 'account': 'QVJP6465242365388'}
{'last_name': 'Owens', 'first_name': 'Jackson', 'email': 'iedwards@yahoo.com', 'country': 'Kazakhstan', 'account': 'FVQZ0955529767455'}
{'last_name': 'Gilmore', 'first_name': 'Patrick', 'email': 'arogers@smith.com', 'country': 'Mauritius', 'account': 'QFIM0905182880347'}
{'last_name': 'Perez', 'first_name': 'Jeffrey', 'email': 'plewis@chavez.com', 'country': 'New Zealand', 'account': 'YWOT0997131632248'}
{'last_name': 'Thomas', 'first_name': 'James', 'email': 'fred92@yahoo.com', 'country': 'Yemen', 'account': 'QAAE9838291982555'}
{'last_name': 'Nelson', 'first_name': 'Greg', 'email': 'mmiller@lynch.com', 'country': 'Jordan', 'account': 'PCNE8127696280157'}
{'last_name': 'White', 'first_name': 'Joshua', 'email': 'steven49@gmail.com', 'country': 'Palau', 'account': 'BCEN3299883381338'}
{'last_name': 'Francis', 'first_name': 'Todd', 'email': 'amanda23@hotmail.com', 'country': 'Argentina', 'account': 'XPTQ7837014557677'}
{'last_name': 'Shaw', 'first_name': 'Stephen', 'email': 'jackduke@hotmail.com', 'country': 'Marshall Islands', 'account': 'TRLQ6559557081716'}
{'last_name': 'Armstrong', 'first_name': 'Mariah', 'email': 'rhodesnicholas@hotmail.com', 'country': 'Albania', 'account': 'OHOV7518558201999'}
{'last_name': 'Boyle', 'first_name': 'Anthony', 'email': 'smithashlee@yahoo.com', 'country': 'Kyrgyz Republic', 'account': 'MCQU7347833033110'}
{'last_name': 'Cuevas', 'first_name': 'Patrick', 'email': 'ubriggs@hill.info', 'country': 'Turkmenistan', 'account': 'PPHE5533473251751'}
{'last_name': 'Reyes', 'first_name': 'Gerald', 'email': 'brownclarence@gonzalez-moore.com', 'country': 'Fiji', 'account': 'JCDK1943355298609'}
{'last_name': 'Calderon', 'first_name': 'Christopher', 'email': 'teresa30@carpenter-warner.com', 'country': 'Costa Rica', 'account': 'NERZ5502558659614'}
{'last_name': 'Weiss', 'first_name': 'Shane', 'email': 'leekatherine@williams.com', 'country': 'Martinique', 'account': 'DLDV5789894914403'}
{'last_name': 'Conley', 'first_name': 'Crystal', 'email': 'chasewatkins@perez-phillips.com', 'country': 'Singapore', 'account': 'GZZF6936998445532'}
{'last_name': 'Nelson', 'first_name': 'Jeffrey', 'email': 'hsherman@gmail.com', 'country': 'Mayotte', 'account': 'ECGK2823955143629'}
{'last_name': 'Johnson', 'first_name': 'Brianna', 'email': 'martinezdaniel@hotmail.com', 'country': 'Costa Rica', 'account': 'QOVO4275314052899'}
{'last_name': 'Werner', 'first_name': 'Brandon', 'email': 'justinfischer@gmail.com', 'country': 'Guadeloupe', 'account': 'UKRT1119626365017'}
{'last_name': 'Bennett', 'first_name': 'Brianna', 'email': 'cindy08@gmail.com', 'country': 'Bahamas', 'account': 'UNPV3347450330173'}
{'last_name': 'Fletcher', 'first_name': 'Austin', 'email': 'carolharrington@fleming.org', 'country': 'Azerbaijan', 'account': 'GJZT6825738428111'}
{'last_name': 'Lewis', 'first_name': 'Patrick', 'email': 'lopezcarl@johnson.com', 'country': 'Saint Helena', 'account': 'JOQE2648899771737'}
{'last_name': 'Smith', 'first_name': 'Joseph', 'email': 'michael74@yahoo.com', 'country': 'Hong Kong', 'account': 'MNXY3262955868027'}
{'last_name': 'Sullivan', 'first_name': 'Sharon', 'email': 'gonzalezrobert@hotmail.com', 'country': 'Turkey', 'account': 'YHXF7256577475630'}
{'last_name': 'Wilson', 'first_name': 'Krystal', 'email': 'dawnjohnson@gmail.com', 'country': 'Swaziland', 'account': 'MUVI3570791852556'}
{'last_name': 'Schmidt', 'first_name': 'Diana', 'email': 'watersryan@gmail.com', 'country': 'Holy See (Vatican City State)', 'account': 'UKCP6739617302102'}
{'last_name': 'Huff', 'first_name': 'Sean', 'email': 'byoung@gmail.com', 'country': 'Norfolk Island', 'account': 'WDAT4146843903498'}
{'last_name': 'Nguyen', 'first_name': 'Robin', 'email': 'vhanson@yahoo.com', 'country': 'Kenya', 'account': 'SVMU4403517448078'}
{'last_name': 'Russell', 'first_name': 'Robyn', 'email': 'bfletcher@yahoo.com', 'country': 'Togo', 'account': 'ZNUY4071301663622'}
{'last_name': 'Smith', 'first_name': 'Tiffany', 'email': 'colleengarrison@hotmail.com', 'country': 'San Marino', 'account': 'GPFA8271551275648'}
{'last_name': 'Smith', 'first_name': 'Lori', 'email': 'catherine23@gmail.com', 'country': 'Romania', 'account': 'MKWY4848668895426'}
{'last_name': 'Keith', 'first_name': 'Sabrina', 'email': 'xmurphy@yahoo.com', 'country': 'Algeria', 'account': 'QHIW7412514205367'}
{'last_name': 'Johnson', 'first_name': 'Miguel', 'email': 'aaronrichard@middleton.net', 'country': 'Slovakia (Slovak Republic)', 'account': 'QAAO4666689281736'}
{'last_name': 'Barron', 'first_name': 'Dustin', 'email': 'jesse93@best.com', 'country': 'Somalia', 'account': 'LRPR8694143910883'}
{'last_name': 'Robinson', 'first_name': 'Michael', 'email': 'johnperez@johnson.com', 'country': 'Turkmenistan', 'account': 'UWFU1921951273393'}
{'last_name': 'Nguyen', 'first_name': 'Robert', 'email': 'jessica62@yahoo.com', 'country': 'Croatia', 'account': 'JQHS4274771257925'}
{'last_name': 'Abbott', 'first_name': 'Brandon', 'email': 'jennifer87@gmail.com', 'country': 'Jamaica', 'account': 'RSLD0426398604312'}
{'last_name': 'Oneill', 'first_name': 'Bruce', 'email': 'morenolindsay@bass.org', 'country': 'Montserrat', 'account': 'UYHI6964741005832'}
{'last_name': 'Nash', 'first_name': 'Linda', 'email': 'robertdavis@hotmail.com', 'country': 'Heard Island and McDonald Islands', 'account': 'ZKTE5908966955533'}
{'last_name': 'Cameron', 'first_name': 'Kathleen', 'email': 'melanie81@rogers.com', 'country': 'Niger', 'account': 'HHHP3471562002758'}
{'last_name': 'Wilkinson', 'first_name': 'Wesley', 'email': 'clineerin@hotmail.com', 'country': 'Saint Vincent and the Grenadines', 'account': 'UWLV6407825245995'}
{'last_name': 'Wallace', 'first_name': 'Debbie', 'email': 'terri95@hotmail.com', 'country': 'Antigua and Barbuda', 'account': 'JRBN0811785293731'}
{'last_name': 'Woodward', 'first_name': 'Kayla', 'email': 'danielle65@yahoo.com', 'country': 'Mexico', 'account': 'VDWY7565964041116'}
{'last_name': 'Bennett', 'first_name': 'Stephanie', 'email': 'sjackson@yahoo.com', 'country': 'Singapore', 'account': 'DNRB2101855092009'}
{'last_name': 'Jenkins', 'first_name': 'Caleb', 'email': 'douglas63@yahoo.com', 'country': 'Botswana', 'account': 'IILE1765776198023'}
{'last_name': 'Edwards', 'first_name': 'Valerie', 'email': 'woodardlindsey@yahoo.com', 'country': 'Guinea', 'account': 'ZJUF2687631787282'}
{'last_name': 'Anderson', 'first_name': 'Mary', 'email': 'suebrown@yahoo.com', 'country': 'Chile', 'account': 'DHMT4208071148508'}
{'last_name': 'Ray', 'first_name': 'Angela', 'email': 'swhite@yahoo.com', 'country': 'Mayotte', 'account': 'UBRR8524342666714'}
{'last_name': 'Edwards', 'first_name': 'Haley', 'email': 'martinkimberly@lopez.com', 'country': 'Macedonia', 'account': 'OGPU6537909247863'}
{'last_name': 'Clark', 'first_name': 'Charles', 'email': 'jessica11@hotmail.com', 'country': 'Ukraine', 'account': 'AHYX6128839695452'}
{'last_name': 'Hill', 'first_name': 'Lisa', 'email': 'hsmith@baker.com', 'country': 'Saint Martin', 'account': 'VUPW6891906300822'}
{'last_name': 'Carpenter', 'first_name': 'Jonathan', 'email': 'fklein@yahoo.com', 'country': 'Germany', 'account': 'PKFW4841194501766'}
{'last_name': 'Griffith', 'first_name': 'Latoya', 'email': 'ryan32@skinner.com', 'country': 'Lesotho', 'account': 'BNYD8693045932496'}
{'last_name': 'Blair', 'first_name': 'Kim', 'email': 'tmurphy@flores.biz', 'country': 'Nepal', 'account': 'FQJA6381776349463'}
{'last_name': 'Salazar', 'first_name': 'Mary', 'email': 'mary64@ray.org', 'country': 'Latvia', 'account': 'KCNI2464381879411'}
{'last_name': 'Krueger', 'first_name': 'Kenneth', 'email': 'jennajoseph@yahoo.com', 'country': 'Central African Republic', 'account': 'BIGY3006735396533'}
{'last_name': 'Burke', 'first_name': 'Phillip', 'email': 'watsonsamuel@gmail.com', 'country': 'Peru', 'account': 'CNJX1222752295544'}
{'last_name': 'Juarez', 'first_name': 'Erica', 'email': 'xvelasquez@hughes.com', 'country': 'Spain', 'account': 'ZROP5229895490397'}
{'last_name': 'Watkins', 'first_name': 'Jason', 'email': 'april99@gmail.com', 'country': 'Seychelles', 'account': 'NXKK2792812848629'}
{'last_name': 'Carter', 'first_name': 'Lee', 'email': 'kfletcher@yahoo.com', 'country': 'Faroe Islands', 'account': 'DPLN5056382218296'}
{'last_name': 'Huang', 'first_name': 'Randy', 'email': 'xchurch@hotmail.com', 'country': 'Tokelau', 'account': 'KAOL9792684486009'}
{'last_name': 'Owen', 'first_name': 'Kristina', 'email': 'megan24@stewart.net', 'country': 'Cocos (Keeling) Islands', 'account': 'WRXW4627191899235'}
{'last_name': 'Turner', 'first_name': 'Beth', 'email': 'sydneycollins@hunter.com', 'country': 'Burundi', 'account': 'OMOK4767172062189'}
{'last_name': 'Aguirre', 'first_name': 'Michael', 'email': 'robertbowen@chavez-ortega.com', 'country': 'Timor-Leste', 'account': 'KRKF7344951038740'}
{'last_name': 'Wilson', 'first_name': 'Elizabeth', 'email': 'christiandanielle@yahoo.com', 'country': 'Montserrat', 'account': 'SAAA4141150617330'}
{'last_name': 'Hardy', 'first_name': 'Teresa', 'email': 'kdavidson@gordon.com', 'country': 'Norway', 'account': 'XNWQ1072087896797'}
{'last_name': 'Stewart', 'first_name': 'David', 'email': 'bennettwanda@vega-guerra.net', 'country': 'Sierra Leone', 'account': 'FTHM1005169617995'}
{'last_name': 'Moore', 'first_name': 'Heather', 'email': 'mark00@hotmail.com', 'country': 'French Polynesia', 'account': 'OSSM9070924947595'}
{'last_name': 'Grant', 'first_name': 'Melissa', 'email': 'schaefernatalie@hotmail.com', 'country': 'French Guiana', 'account': 'CFQJ4204773901237'}
{'last_name': 'Thompson', 'first_name': 'Jennifer', 'email': 'moralesmartin@rodgers.com', 'country': 'Cape Verde', 'account': 'MGFG2793756668287'}
{'last_name': 'Anderson', 'first_name': 'Raymond', 'email': 'dprince@hotmail.com', 'country': 'Barbados', 'account': 'IGXK5881682171566'}
{'last_name': 'Ramsey', 'first_name': 'Angela', 'email': 'cparks@valdez-hudson.com', 'country': 'Andorra', 'account': 'QYBW6359021109484'}
{'last_name': 'Gonzales', 'first_name': 'Betty', 'email': 'martinezrichard@yahoo.com', 'country': 'Montserrat', 'account': 'UTSI0776569247505'}
{'last_name': 'Castaneda', 'first_name': 'Thomas', 'email': 'kpena@yahoo.com', 'country': 'Egypt', 'account': 'LSDI9463735752680'}
{'last_name': 'Todd', 'first_name': 'Jonathan', 'email': 'julie68@gmail.com', 'country': 'Malaysia', 'account': 'ISYY1401931979959'}
{'last_name': 'Garcia', 'first_name': 'Stacey', 'email': 'lukebradford@hotmail.com', 'country': 'Zimbabwe', 'account': 'HNOA0376843856035'}
{'last_name': 'Figueroa', 'first_name': 'Judy', 'email': 'ystewart@yahoo.com', 'country': 'Portugal', 'account': 'EEVV8325881104553'}
{'last_name': 'Castillo', 'first_name': 'Ashley', 'email': 'cory33@king-shaw.net', 'country': 'Paraguay', 'account': 'QXGZ3111246190069'}
{'last_name': 'Flores', 'first_name': 'Zachary', 'email': 'zcalhoun@gmail.com', 'country': 'Central African Republic', 'account': 'ACQR2846533122117'}
{'last_name': 'Allen', 'first_name': 'Erica', 'email': 'michaelhall@hotmail.com', 'country': 'Palau', 'account': 'ZAZD8310339637467'}
{'last_name': 'Potts', 'first_name': 'Savannah', 'email': 'kristentaylor@yahoo.com', 'country': 'Micronesia', 'account': 'ARWK1547324119222'}
{'last_name': 'Wheeler', 'first_name': 'Zachary', 'email': 'stephen63@yahoo.com', 'country': 'Armenia', 'account': 'OMQX4840913072589'}
{'last_name': 'Thomas', 'first_name': 'Timothy', 'email': 'bryanmartin@gmail.com', 'country': 'Bahrain', 'account': 'OCFV4659464275270'}
{'last_name': 'Mcknight', 'first_name': 'Ann', 'email': 'kristinavelasquez@gmail.com', 'country': 'Guatemala', 'account': 'DTRB4720098955341'}
{'last_name': 'Thompson', 'first_name': 'Ruth', 'email': 'denise01@burns.org', 'country': 'Saint Vincent and the Grenadines', 'account': 'YYHM5758234683389'}
{'last_name': 'Levy', 'first_name': 'Daniel', 'email': 'beancody@jones.com', 'country': 'Kazakhstan', 'account': 'AHBN3151680654826'}
{'last_name': 'Hubbard', 'first_name': 'Paul', 'email': 'ubradley@yahoo.com', 'country': 'Germany', 'account': 'FGBC0366153271398'}
{'last_name': 'Jones', 'first_name': 'Jason', 'email': 'anthony75@yahoo.com', 'country': 'Western Sahara', 'account': 'MHTE8867005510944'}
{'last_name': 'Garcia', 'first_name': 'Margaret', 'email': 'antonio52@gmail.com', 'country': 'Togo', 'account': 'IYOD4325345823013'}
{'last_name': 'Peters', 'first_name': 'Jeremy', 'email': 'johnlewis@hotmail.com', 'country': 'Guam', 'account': 'NZFX8257739892619'}
{'last_name': 'Stone', 'first_name': 'Mark', 'email': 'nmoore@hotmail.com', 'country': 'Kuwait', 'account': 'MWRB2515761996641'}
{'last_name': 'Edwards', 'first_name': 'Darius', 'email': 'nchurch@yahoo.com', 'country': 'Eritrea', 'account': 'CURJ9953745256871'}
{'last_name': 'Lawson', 'first_name': 'Tracy', 'email': 'piercejenna@gmail.com', 'country': 'Czech Republic', 'account': 'ATOT8581137487723'}
{'last_name': 'Cooper', 'first_name': 'Christina', 'email': 'ddavidson@hotmail.com', 'country': 'Maldives', 'account': 'RQGA0882784089265'}
{'last_name': 'Harris', 'first_name': 'Megan', 'email': 'ndelacruz@yahoo.com', 'country': 'Armenia', 'account': 'EOPA8088866975598'}
{'last_name': 'Jones', 'first_name': 'Timothy', 'email': 'jenniferadkins@griffin.biz', 'country': 'Benin', 'account': 'JCUN9597199552039'}
{'last_name': 'Burch', 'first_name': 'Tracie', 'email': 'evansmiguel@yahoo.com', 'country': 'Fiji', 'account': 'IZYL3351829981461'}
{'last_name': 'Chung', 'first_name': 'Jason', 'email': 'kenneththompson@baxter.com', 'country': 'Iceland', 'account': 'JDIH2349154465371'}
{'last_name': 'Melton', 'first_name': 'Samantha', 'email': 'bcurtis@hotmail.com', 'country': 'Macedonia', 'account': 'VRZP1447516193511'}
{'last_name': 'Hansen', 'first_name': 'Michael', 'email': 'phillipssean@hotmail.com', 'country': 'Serbia', 'account': 'QKAF2254397516681'}

In [164]:
data_array[-1]['last_name']

'Hansen'

In [165]:
header

['last_name', 'first_name', 'email', 'country', 'account']

In [166]:
def convert_to_month_list(month):

    months = [
        None,
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December',
    ]

    return months[month]

print(convert_to_month_list(3))

March

In [167]:
print(convert_to_month_list(7))

July

In [168]:

def convert_to_month_dict(month):

    months = {
        1: 'January',
        2: 'February',
        3: 'March',
        4: 'April',
        5: 'May',
        6: 'June',
        7: 'July',
        8: 'August',
        9: 'September',
        10: 'October',
        11: 'November',
        12: 'December',
    }


    return months[month]

print(convert_to_month_list(3))

March

In [169]:
print(convert_to_month_list(8))

August