In [4]:
##############################################################
# dict_ex1.py
# Load people.tsv into a dictionary. 
# Prompt user for filename


filename = input('Enter filename to read: ')

people_list = []
header = None
with open(filename) as file:
    for line in file:
        # skip empty line
        if not line.strip():
            continue
        
        if not header:
            header = line.strip().split('\t')
            continue
            
        
        data = line.strip().split('\t')
        people_list.append(dict(zip(header,data)))
        
    
print(people_list)

Enter filename to read: people.tsv
[{'last_name': 'Weaver', 'first_name': 'Michael', 'email': 'xdunn@hotmail.com', 'country': 'Nepal', 'account': 'QVJP6465242365388'}, {'last_name': 'Owens', 'first_name': 'Jackson', 'email': 'iedwards@yahoo.com', 'country': 'Kazakhstan', 'account': 'FVQZ0955529767455'}, {'last_name': 'Gilmore', 'first_name': 'Patrick', 'email': 'arogers@smith.com', 'country': 'Mauritius', 'account': 'QFIM0905182880347'}, {'last_name': 'Perez', 'first_name': 'Jeffrey', 'email': 'plewis@chavez.com', 'country': 'New Zealand', 'account': 'YWOT0997131632248'}, {'last_name': 'Thomas', 'first_name': 'James', 'email': 'fred92@yahoo.com', 'country': 'Yemen', 'account': 'QAAE9838291982555'}, {'last_name': 'Nelson', 'first_name': 'Greg', 'email': 'mmiller@lynch.com', 'country': 'Jordan', 'account': 'PCNE8127696280157'}, {'last_name': 'White', 'first_name': 'Joshua', 'email': 'steven49@gmail.com', 'country': 'Palau', 'account': 'BCEN3299883381338'}, {'last_name': 'Francis', 'first_name': 'Todd', 'email': 'amanda23@hotmail.com', 'country': 'Argentina', 'account': 'XPTQ7837014557677'}, {'last_name': 'Shaw', 'first_name': 'Stephen', 'email': 'jackduke@hotmail.com', 'country': 'Marshall Islands', 'account': 'TRLQ6559557081716'}, {'last_name': 'Armstrong', 'first_name': 'Mariah', 'email': 'rhodesnicholas@hotmail.com', 'country': 'Albania', 'account': 'OHOV7518558201999'}, {'last_name': 'Boyle', 'first_name': 'Anthony', 'email': 'smithashlee@yahoo.com', 'country': 'Kyrgyz Republic', 'account': 'MCQU7347833033110'}, {'last_name': 'Cuevas', 'first_name': 'Patrick', 'email': 'ubriggs@hill.info', 'country': 'Turkmenistan', 'account': 'PPHE5533473251751'}, {'last_name': 'Reyes', 'first_name': 'Gerald', 'email': 'brownclarence@gonzalez-moore.com', 'country': 'Fiji', 'account': 'JCDK1943355298609'}, {'last_name': 'Calderon', 'first_name': 'Christopher', 'email': 'teresa30@carpenter-warner.com', 'country': 'Costa Rica', 'account': 'NERZ5502558659614'}, {'last_name': 'Weiss', 'first_name': 'Shane', 'email': 'leekatherine@williams.com', 'country': 'Martinique', 'account': 'DLDV5789894914403'}, {'last_name': 'Conley', 'first_name': 'Crystal', 'email': 'chasewatkins@perez-phillips.com', 'country': 'Singapore', 'account': 'GZZF6936998445532'}, {'last_name': 'Nelson', 'first_name': 'Jeffrey', 'email': 'hsherman@gmail.com', 'country': 'Mayotte', 'account': 'ECGK2823955143629'}, {'last_name': 'Johnson', 'first_name': 'Brianna', 'email': 'martinezdaniel@hotmail.com', 'country': 'Costa Rica', 'account': 'QOVO4275314052899'}, {'last_name': 'Werner', 'first_name': 'Brandon', 'email': 'justinfischer@gmail.com', 'country': 'Guadeloupe', 'account': 'UKRT1119626365017'}, {'last_name': 'Bennett', 'first_name': 'Brianna', 'email': 'cindy08@gmail.com', 'country': 'Bahamas', 'account': 'UNPV3347450330173'}, {'last_name': 'Fletcher', 'first_name': 'Austin', 'email': 'carolharrington@fleming.org', 'country': 'Azerbaijan', 'account': 'GJZT6825738428111'}, {'last_name': 'Lewis', 'first_name': 'Patrick', 'email': 'lopezcarl@johnson.com', 'country': 'Saint Helena', 'account': 'JOQE2648899771737'}, {'last_name': 'Smith', 'first_name': 'Joseph', 'email': 'michael74@yahoo.com', 'country': 'Hong Kong', 'account': 'MNXY3262955868027'}, {'last_name': 'Sullivan', 'first_name': 'Sharon', 'email': 'gonzalezrobert@hotmail.com', 'country': 'Turkey', 'account': 'YHXF7256577475630'}, {'last_name': 'Wilson', 'first_name': 'Krystal', 'email': 'dawnjohnson@gmail.com', 'country': 'Swaziland', 'account': 'MUVI3570791852556'}, {'last_name': 'Schmidt', 'first_name': 'Diana', 'email': 'watersryan@gmail.com', 'country': 'Holy See (Vatican City State)', 'account': 'UKCP6739617302102'}, {'last_name': 'Huff', 'first_name': 'Sean', 'email': 'byoung@gmail.com', 'country': 'Norfolk Island', 'account': 'WDAT4146843903498'}, {'last_name': 'Nguyen', 'first_name': 'Robin', 'email': 'vhanson@yahoo.com', 'country': 'Kenya', 'account': 'SVMU4403517448078'}, {'last_name': 'Russell', 'first_name': 'Robyn', 'email': 'bfletcher@yahoo.com', 'country': 'Togo', 'account': 'ZNUY4071301663622'}, {'last_name': 'Smith', 'first_name': 'Tiffany', 'email': 'colleengarrison@hotmail.com', 'country': 'San Marino', 'account': 'GPFA8271551275648'}, {'last_name': 'Smith', 'first_name': 'Lori', 'email': 'catherine23@gmail.com', 'country': 'Romania', 'account': 'MKWY4848668895426'}, {'last_name': 'Keith', 'first_name': 'Sabrina', 'email': 'xmurphy@yahoo.com', 'country': 'Algeria', 'account': 'QHIW7412514205367'}, {'last_name': 'Johnson', 'first_name': 'Miguel', 'email': 'aaronrichard@middleton.net', 'country': 'Slovakia (Slovak Republic)', 'account': 'QAAO4666689281736'}, {'last_name': 'Barron', 'first_name': 'Dustin', 'email': 'jesse93@best.com', 'country': 'Somalia', 'account': 'LRPR8694143910883'}, {'last_name': 'Robinson', 'first_name': 'Michael', 'email': 'johnperez@johnson.com', 'country': 'Turkmenistan', 'account': 'UWFU1921951273393'}, {'last_name': 'Nguyen', 'first_name': 'Robert', 'email': 'jessica62@yahoo.com', 'country': 'Croatia', 'account': 'JQHS4274771257925'}, {'last_name': 'Abbott', 'first_name': 'Brandon', 'email': 'jennifer87@gmail.com', 'country': 'Jamaica', 'account': 'RSLD0426398604312'}, {'last_name': 'Oneill', 'first_name': 'Bruce', 'email': 'morenolindsay@bass.org', 'country': 'Montserrat', 'account': 'UYHI6964741005832'}, {'last_name': 'Nash', 'first_name': 'Linda', 'email': 'robertdavis@hotmail.com', 'country': 'Heard Island and McDonald Islands', 'account': 'ZKTE5908966955533'}, {'last_name': 'Cameron', 'first_name': 'Kathleen', 'email': 'melanie81@rogers.com', 'country': 'Niger', 'account': 'HHHP3471562002758'}, {'last_name': 'Wilkinson', 'first_name': 'Wesley', 'email': 'clineerin@hotmail.com', 'country': 'Saint Vincent and the Grenadines', 'account': 'UWLV6407825245995'}, {'last_name': 'Wallace', 'first_name': 'Debbie', 'email': 'terri95@hotmail.com', 'country': 'Antigua and Barbuda', 'account': 'JRBN0811785293731'}, {'last_name': 'Woodward', 'first_name': 'Kayla', 'email': 'danielle65@yahoo.com', 'country': 'Mexico', 'account': 'VDWY7565964041116'}, {'last_name': 'Bennett', 'first_name': 'Stephanie', 'email': 'sjackson@yahoo.com', 'country': 'Singapore', 'account': 'DNRB2101855092009'}, {'last_name': 'Jenkins', 'first_name': 'Caleb', 'email': 'douglas63@yahoo.com', 'country': 'Botswana', 'account': 'IILE1765776198023'}, {'last_name': 'Edwards', 'first_name': 'Valerie', 'email': 'woodardlindsey@yahoo.com', 'country': 'Guinea', 'account': 'ZJUF2687631787282'}, {'last_name': 'Anderson', 'first_name': 'Mary', 'email': 'suebrown@yahoo.com', 'country': 'Chile', 'account': 'DHMT4208071148508'}, {'last_name': 'Ray', 'first_name': 'Angela', 'email': 'swhite@yahoo.com', 'country': 'Mayotte', 'account': 'UBRR8524342666714'}, {'last_name': 'Edwards', 'first_name': 'Haley', 'email': 'martinkimberly@lopez.com', 'country': 'Macedonia', 'account': 'OGPU6537909247863'}, {'last_name': 'Clark', 'first_name': 'Charles', 'email': 'jessica11@hotmail.com', 'country': 'Ukraine', 'account': 'AHYX6128839695452'}, {'last_name': 'Hill', 'first_name': 'Lisa', 'email': 'hsmith@baker.com', 'country': 'Saint Martin', 'account': 'VUPW6891906300822'}, {'last_name': 'Carpenter', 'first_name': 'Jonathan', 'email': 'fklein@yahoo.com', 'country': 'Germany', 'account': 'PKFW4841194501766'}, {'last_name': 'Griffith', 'first_name': 'Latoya', 'email': 'ryan32@skinner.com', 'country': 'Lesotho', 'account': 'BNYD8693045932496'}, {'last_name': 'Blair', 'first_name': 'Kim', 'email': 'tmurphy@flores.biz', 'country': 'Nepal', 'account': 'FQJA6381776349463'}, {'last_name': 'Salazar', 'first_name': 'Mary', 'email': 'mary64@ray.org', 'country': 'Latvia', 'account': 'KCNI2464381879411'}, {'last_name': 'Krueger', 'first_name': 'Kenneth', 'email': 'jennajoseph@yahoo.com', 'country': 'Central African Republic', 'account': 'BIGY3006735396533'}, {'last_name': 'Burke', 'first_name': 'Phillip', 'email': 'watsonsamuel@gmail.com', 'country': 'Peru', 'account': 'CNJX1222752295544'}, {'last_name': 'Juarez', 'first_name': 'Erica', 'email': 'xvelasquez@hughes.com', 'country': 'Spain', 'account': 'ZROP5229895490397'}, {'last_name': 'Watkins', 'first_name': 'Jason', 'email': 'april99@gmail.com', 'country': 'Seychelles', 'account': 'NXKK2792812848629'}, {'last_name': 'Carter', 'first_name': 'Lee', 'email': 'kfletcher@yahoo.com', 'country': 'Faroe Islands', 'account': 'DPLN5056382218296'}, {'last_name': 'Huang', 'first_name': 'Randy', 'email': 'xchurch@hotmail.com', 'country': 'Tokelau', 'account': 'KAOL9792684486009'}, {'last_name': 'Owen', 'first_name': 'Kristina', 'email': 'megan24@stewart.net', 'country': 'Cocos (Keeling) Islands', 'account': 'WRXW4627191899235'}, {'last_name': 'Turner', 'first_name': 'Beth', 'email': 'sydneycollins@hunter.com', 'country': 'Burundi', 'account': 'OMOK4767172062189'}, {'last_name': 'Aguirre', 'first_name': 'Michael', 'email': 'robertbowen@chavez-ortega.com', 'country': 'Timor-Leste', 'account': 'KRKF7344951038740'}, {'last_name': 'Wilson', 'first_name': 'Elizabeth', 'email': 'christiandanielle@yahoo.com', 'country': 'Montserrat', 'account': 'SAAA4141150617330'}, {'last_name': 'Hardy', 'first_name': 'Teresa', 'email': 'kdavidson@gordon.com', 'country': 'Norway', 'account': 'XNWQ1072087896797'}, {'last_name': 'Stewart', 'first_name': 'David', 'email': 'bennettwanda@vega-guerra.net', 'country': 'Sierra Leone', 'account': 'FTHM1005169617995'}, {'last_name': 'Moore', 'first_name': 'Heather', 'email': 'mark00@hotmail.com', 'country': 'French Polynesia', 'account': 'OSSM9070924947595'}, {'last_name': 'Grant', 'first_name': 'Melissa', 'email': 'schaefernatalie@hotmail.com', 'country': 'French Guiana', 'account': 'CFQJ4204773901237'}, {'last_name': 'Thompson', 'first_name': 'Jennifer', 'email': 'moralesmartin@rodgers.com', 'country': 'Cape Verde', 'account': 'MGFG2793756668287'}, {'last_name': 'Anderson', 'first_name': 'Raymond', 'email': 'dprince@hotmail.com', 'country': 'Barbados', 'account': 'IGXK5881682171566'}, {'last_name': 'Ramsey', 'first_name': 'Angela', 'email': 'cparks@valdez-hudson.com', 'country': 'Andorra', 'account': 'QYBW6359021109484'}, {'last_name': 'Gonzales', 'first_name': 'Betty', 'email': 'martinezrichard@yahoo.com', 'country': 'Montserrat', 'account': 'UTSI0776569247505'}, {'last_name': 'Castaneda', 'first_name': 'Thomas', 'email': 'kpena@yahoo.com', 'country': 'Egypt', 'account': 'LSDI9463735752680'}, {'last_name': 'Todd', 'first_name': 'Jonathan', 'email': 'julie68@gmail.com', 'country': 'Malaysia', 'account': 'ISYY1401931979959'}, {'last_name': 'Garcia', 'first_name': 'Stacey', 'email': 'lukebradford@hotmail.com', 'country': 'Zimbabwe', 'account': 'HNOA0376843856035'}, {'last_name': 'Figueroa', 'first_name': 'Judy', 'email': 'ystewart@yahoo.com', 'country': 'Portugal', 'account': 'EEVV8325881104553'}, {'last_name': 'Castillo', 'first_name': 'Ashley', 'email': 'cory33@king-shaw.net', 'country': 'Paraguay', 'account': 'QXGZ3111246190069'}, {'last_name': 'Flores', 'first_name': 'Zachary', 'email': 'zcalhoun@gmail.com', 'country': 'Central African Republic', 'account': 'ACQR2846533122117'}, {'last_name': 'Allen', 'first_name': 'Erica', 'email': 'michaelhall@hotmail.com', 'country': 'Palau', 'account': 'ZAZD8310339637467'}, {'last_name': 'Potts', 'first_name': 'Savannah', 'email': 'kristentaylor@yahoo.com', 'country': 'Micronesia', 'account': 'ARWK1547324119222'}, {'last_name': 'Wheeler', 'first_name': 'Zachary', 'email': 'stephen63@yahoo.com', 'country': 'Armenia', 'account': 'OMQX4840913072589'}, {'last_name': 'Thomas', 'first_name': 'Timothy', 'email': 'bryanmartin@gmail.com', 'country': 'Bahrain', 'account': 'OCFV4659464275270'}, {'last_name': 'Mcknight', 'first_name': 'Ann', 'email': 'kristinavelasquez@gmail.com', 'country': 'Guatemala', 'account': 'DTRB4720098955341'}, {'last_name': 'Thompson', 'first_name': 'Ruth', 'email': 'denise01@burns.org', 'country': 'Saint Vincent and the Grenadines', 'account': 'YYHM5758234683389'}, {'last_name': 'Levy', 'first_name': 'Daniel', 'email': 'beancody@jones.com', 'country': 'Kazakhstan', 'account': 'AHBN3151680654826'}, {'last_name': 'Hubbard', 'first_name': 'Paul', 'email': 'ubradley@yahoo.com', 'country': 'Germany', 'account': 'FGBC0366153271398'}, {'last_name': 'Jones', 'first_name': 'Jason', 'email': 'anthony75@yahoo.com', 'country': 'Western Sahara', 'account': 'MHTE8867005510944'}, {'last_name': 'Garcia', 'first_name': 'Margaret', 'email': 'antonio52@gmail.com', 'country': 'Togo', 'account': 'IYOD4325345823013'}, {'last_name': 'Peters', 'first_name': 'Jeremy', 'email': 'johnlewis@hotmail.com', 'country': 'Guam', 'account': 'NZFX8257739892619'}, {'last_name': 'Stone', 'first_name': 'Mark', 'email': 'nmoore@hotmail.com', 'country': 'Kuwait', 'account': 'MWRB2515761996641'}, {'last_name': 'Edwards', 'first_name': 'Darius', 'email': 'nchurch@yahoo.com', 'country': 'Eritrea', 'account': 'CURJ9953745256871'}, {'last_name': 'Lawson', 'first_name': 'Tracy', 'email': 'piercejenna@gmail.com', 'country': 'Czech Republic', 'account': 'ATOT8581137487723'}, {'last_name': 'Cooper', 'first_name': 'Christina', 'email': 'ddavidson@hotmail.com', 'country': 'Maldives', 'account': 'RQGA0882784089265'}, {'last_name': 'Harris', 'first_name': 'Megan', 'email': 'ndelacruz@yahoo.com', 'country': 'Armenia', 'account': 'EOPA8088866975598'}, {'last_name': 'Jones', 'first_name': 'Timothy', 'email': 'jenniferadkins@griffin.biz', 'country': 'Benin', 'account': 'JCUN9597199552039'}, {'last_name': 'Burch', 'first_name': 'Tracie', 'email': 'evansmiguel@yahoo.com', 'country': 'Fiji', 'account': 'IZYL3351829981461'}, {'last_name': 'Chung', 'first_name': 'Jason', 'email': 'kenneththompson@baxter.com', 'country': 'Iceland', 'account': 'JDIH2349154465371'}, {'last_name': 'Melton', 'first_name': 'Samantha', 'email': 'bcurtis@hotmail.com', 'country': 'Macedonia', 'account': 'VRZP1447516193511'}, {'last_name': 'Hansen', 'first_name': 'Michael', 'email': 'phillipssean@hotmail.com', 'country': 'Serbia', 'account': 'QKAF2254397516681'}]

In [11]:
a = ['col1', 'col2', 'col3', 'col3', 'col4', 'col5']
b = [1, 2, 3, 4, 5]

print(dict(zip(a,b)))

{'col1': 1, 'col2': 2, 'col3': 4, 'col4': 5}

In [14]:
a = [1, 2, 3]
b = [11, 12, 13]
c = [21, 22, 23]

print(dict(zip(a, b, c)))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [17]:
####################################################
# dict_ex2.py 
# Write a function to convert month number to 
# month name. First use a list and then a dictionary

month_list = [
    '', 
    'Jan', 
    'Feb',
    'Mar', 
    'Apr',
    'May', 
    'Jun', 
    'Jul', 
    'Aug', 
    'Sept', 
    'Oct', 
    'Nov', 
    'Dec'
]

month_list[3]


month_dict = {
    1: 'Jan',
    2: 'Feb',
    3: 'Mar'
}


month_dict[3]

'Mar'

In [18]:
my_string = 'test\tabcd'
print(my_string)

test	abcd

In [36]:
####################################################
# dict_ex3.py 
# Convert text message to numbers

# 0 	space
# 1 	., ?, !
# 2 	ABC
# 3 	DEF
# 4 	GHI
# 5 	JKL
# 6 	MNO
# 7 	PQRS
# 8 	TUV
# 9 	WXYZ

from pprint import pprint
def convert_message_to_numbers(message):
# {' ': 0,
#  '!': 1,
#  ',': 1,
#  '.': 1,
#  '?': 1,
#  'A': 2,
#  'B': 2,
#  'C': 2,
#  'D': 3,
#  'E': 3,
#  'F': 3,
#  'G': 4,
#  'H': 4,
#  'I': 4,
#  'J': 5,
#  'K': 5,
#  'L': 5,
#  'M': 6,
#  'N': 6,
#  'O': 6,
#  'P': 7,
#  'Q': 7,
#  'R': 7,
#  'S': 7,
#  'T': 8,
#  'U': 8,
#  'V': 8,
#  'W': 9,
#  'X': 9,
#  'Y': 9,
#  'Z': 9}
    
    
    lookup = {
        0: ' ',
        1: '.,?!',
        2: 'ABC',
        3: 'DEF',
        4: 'GHI',
        5: 'JKL',
        6: 'MNO',
        7: 'PQRS',
        8: 'TUV',
        9: 'WXYZ'
    }


    lookup_map = {}

    for key, value in lookup.items():
#         print(f'{key}: {value}')
        for idx, ele in enumerate(value, 1):
#             print(f'--- {ele}: {key}')
            lookup_map[str(ele)] = str(key)*idx    
    
    output = ''
    
    for char in message:
        output += lookup_map[char.upper()]
        
    print(output)
            
#    
convert_message_to_numbers('Hello Class!')

443355555566602225552777777771111

In [24]:
x = [1, 2, 3, 4]

for ele in x:
    print(ele)

1
2
3
4

In [26]:
idx = 0
for ele in x:
    print(idx, ele)
    idx += 1

0 1
1 2
2 3
3 4

In [27]:
for idx, ele in enumerate(x):
    print(idx, ele)

0 1
1 2
2 3
3 4

In [28]:
for idx, ele in enumerate(x, 1):
    print(idx, ele)

1 1
2 2
3 3
4 4

In [29]:
for idx, ele in enumerate(x, 100):
    print(idx, ele)

100 1
101 2
102 3
103 4

In [64]:
######################################################
# dict_ex5.py
# Simulate two dice. Print the total, theoretical/expected probability, and simulated probability
# input: the number of simulations
# https://socratic.org/questions/what-is-the-expected-value-of-the-sum-of-two-rolls-of-a-six-sided-die
# Total     Simulated Percent     Expected Percent 

# 2                      2.76                 2.78
# 3                      5.57                 5.56
# 4                      8.34                 8.33
# 5                      11.1                11.11
# 6                     13.83                13.89
# 7                     16.68                16.67
# 8                      13.9                13.89
# 9                      11.1                11.11
# 10                     8.36                 8.33
# 11                     5.57                 5.56
# 12                     2.79                 2.78



def simulate_two_dice(no_simulation):
    import random
    theoretical_probabilities = [
        0, # 0
        0, # 1
        1 / 36, # 2 --  1/6 * 1/6
        2 / 36, # 3
        3 / 36, #4 
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]

    two_dice = {}
    two_dice = {}.fromkeys(range(2,13), 0)
    for no in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)

        total = dice1 + dice2
#         if total not in two_dice:
#             two_dice[total] = 0
            
        two_dice[total] += 1
    
    pprint(two_dice)

    simulated_probability = [0, 0]

    for number in range(2, 13):
        simulated_probability.append(two_dice[number] / no_simulation)

    column1 = 'Total'
    column2 = 'Simulated Percent'
    column3 = 'Expected Percent'

    print(
        column1.ljust(6),
        column2.rjust(20),
        column3.rjust(20),
        '\n'
    )
    for number in range(2, 13):
        sp = round(simulated_probability[number] * 100, 2)
        tp = round(theoretical_probabilities[number] * 100, 2)
        print(
            str(number).ljust(6),
            str(sp).rjust(20),
            str(tp).rjust(20),
        )


simulate_two_dice(1000)

{2: 33,
 3: 53,
 4: 83,
 5: 126,
 6: 141,
 7: 167,
 8: 123,
 9: 114,
 10: 76,
 11: 52,
 12: 32}
SUm       Simulated Percent     Expected Percent

2                       3.3                 2.78
3                       5.3                 5.56
4                       8.3                 8.33
5                      12.6                11.11
6                      14.1                13.89
7                      16.7                16.67
8                      12.3                13.89
9                      11.4                11.11
10                      7.6                 8.33
11                      5.2                 5.56
12                      3.2                 2.78

In [49]:
two_dice = {}.fromkeys(range(2,13), 0)

In [50]:
two_dice

{2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0}

In [54]:
# sum = 2 -- 1 + 1 == 1/6 * 1/6 = 1/36

In [55]:
my_dict = {}

my_dict['blah'] = 2

print(my_dict)

{'blah': 2}

In [56]:
my_dict = {}

for ele in range(10):
    my_dict[ele] = ele**ele

In [57]:
my_dict

{0: 1,
 1: 1,
 2: 4,
 3: 27,
 4: 256,
 5: 3125,
 6: 46656,
 7: 823543,
 8: 16777216,
 9: 387420489}

In [62]:
{{123},{456}}

TypeError: unhashable type: 'set'

In [63]:
{1,2,3}

{1, 2, 3}

In [66]:
# lambda_ex1.py
# Write a function that squares a number and returns the value.
# Write it again again using Lambda functions


def square(n):
    return n*n

print(square(3))

9

In [68]:
a = lambda n: n*n

print(a(3))

9

In [71]:
asdfsdf = lambda n: n * 2

print(asdfsdf(3))

6

In [74]:
# lambda_ex4.py
# 1) Write a function to double a list
# 2) Use list comprehension to double a list
# 3) Use lambda with map to double a list

# lambda functions are used with other functions. Usually with map, filter, sort
# map objects are a generator. How many times can you iterate over them?


def double_list(input_list):
    output_list = []
    for ele in input_list:
        output_list.append(ele*ele)
        
    return output_list

input_list = [1, 2, 3, 4]
print(double_list([1, 2, 3, 4]))

[1, 4, 9, 16]

In [75]:
list2x = [ele*ele for ele in input_list ]
print(list2x)

[1, 4, 9, 16]

In [79]:
# map(function, sequence)

output = map(lambda ele: ele*ele, input_list)
print(list(output))

[1, 4, 9, 16]

In [80]:
def test(ele):
    return ele*ele
output = map(test, input_list)
print(list(output))

[1, 4, 9, 16]

In [82]:
# lambda_ex5.py
# Capitalize the names in the students list 
# 1) using a list and loop
# 2) using list comprehension
# 3) using lambda and map

students = ['john', 'jane', 'doe']

# make upper case


# method 1 create new list and loop
new_list = []
for student in students:
    new_list.append(student.title())

print(new_list)

# method 2 -- use list comprehension

print([student[0].upper()+student[1:] for student in students])

print([student.title() for student in students])

# method 3 -- use lambda

print(list(map(lambda student: student.title(), students)))

['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']
['John', 'Jane', 'Doe']

In [83]:
# lambda_ex6.py
# Using lambda and map, convert the numbers to float

# covert each value to float

my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

print(list(map(lambda ele: {'Value': float(ele['value'])}, my_dict)))

[{'Value': 34.4}, {'Value': 45.3}, {'Value': 73.4}]

In [85]:
my_list2 = [{'Value': ele['value']} for ele in my_dict]
print(my_list2)

[{'Value': '34.4'}, {'Value': '45.3'}, {'Value': '73.4'}]

In [90]:
# lambda_ex7.py
# Create a dictionary where the key is year and 
# value is True/False if the year is a leap year
# 1) using a loop and dict
# 2) using filter without a function
# 3)

years = range(1970, 2000) # for these years

def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

my_dict = {}
leap_years = []
for year in years:
    my_dict.update({year: is_leap_year(year)})
    if is_leap_year(year):
        leap_years.append(year)

# import pprint
# pprint.pprint(my_dict)
# print(leap_years)

# filter(function, sequence)

leap_year_lambda = lambda year: year % 4 == 0 

filter(leap_year_lambda, range(1970, 2000))

print(list(filter(lambda year: year % 4 == 0, range(1970, 2000))))
print(list(filter(lambda year: is_leap_year(year), range(1970, 2000))))
print(list(map(lambda year: year/5, filter(lambda year: year % 4 == 0, range(1970, 2000)))))

# # # combining map with filter

# print(list(map(lambda year: f'{year} is a leap year!', filter(lambda year: year % 4 == 0, range(1970, 2000)) )))


# # # list comprehension

# # print()
# print([f'{year} is a leap year' for year in range(1970, 2000) if year % 4 == 0])

[1972, 1976, 1980, 1984, 1988, 1992, 1996]
[1972, 1976, 1980, 1984, 1988, 1992, 1996]
[394.4, 395.2, 396.0, 396.8, 397.6, 398.4, 399.2]

In [97]:
print(list(range(1970, 2000)))
print(list(filter(lambda year: year % 4 == 0 , range(1970, 2000))))

[1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [98]:
# print()
print([f'{year} is a leap year' for year in range(1970, 2000) if year % 4 == 0])

['1972 is a leap year', '1976 is a leap year', '1980 is a leap year', '1984 is a leap year', '1988 is a leap year', '1992 is a leap year', '1996 is a leap year']

In [105]:

# lambda_ex8.py
# Sort x using value
x = (('efg', 1), ('abc', 3), ('hij', 2))

print(sorted(x)) # does work
func1 = lambda x: x[0]
print(sorted(x, key=func1))

[('abc', 3), ('efg', 1), ('hij', 2)]
[('abc', 3), ('efg', 1), ('hij', 2)]

In [100]:
x = [1, 2222, -30, 41]
print(sorted(x))

[-30, 1, 41, 2222]

In [101]:
sorted(x, reverse=True)

[2222, 41, 1, -30]

In [108]:
# lambda_ex9.py
# sort dictionary by username 
# reverse sort

students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

from pprint import pprint
print(sorted(students, key=lambda student: student['grade']))
print()
print(sorted(students, key=lambda student: student['username'], reverse=True))

[{'username': 'doe', 'grade': 35}, {'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'grade': 89, 'username': 'Kelly'}]

[{'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'username': 'doe', 'grade': 35}, {'grade': 89, 'username': 'Kelly'}]

In [111]:
# lambda_ex11.py
# sort array by len of names
students = ['john', 'Janette', 'doe']
print(min(students))


print(min(students, key=lambda student: len(student)))

print(max(students, key=lambda student: len(student)))

Janette
doe
Janette

In [114]:
# lambda_ex12.py
# sort dictionary by value

my_list = [{'value': '34.4'}, {'value': '45.3'}, {'value3': '73.4'}, {'value3': '73.4'}]

print(sorted(my_list, key=lambda ele: float(ele['value'])))

print(max(my_list, key=lambda ele: float(ele['value'])))

KeyError: 'value'

In [115]:
input = [-4, -2, 0, 2, 4]

print(list(map(lambda x: x+1, input)))

[-3, -1, 1, 3, 5]

In [116]:
sequence = [0, 2, 4, -4, -2]

sorted(sequence)

[-4, -2, 0, 2, 4]

In [121]:
sequence = [('john', 95, 'USA'), ('jane', 99, 'Canada'), ('doe', 65, 'Mexico')]

In [122]:
sorted(sequence)

[('doe', 65, 'Mexico'), ('jane', 99, 'Canada'), ('john', 95, 'USA')]

In [123]:
sorted(sequence, key=lambda ele: ele[1])

[('doe', 65, 'Mexico'), ('john', 95, 'USA'), ('jane', 99, 'Canada')]

In [124]:
sorted(sequence, key=lambda ele: ele[2])

[('jane', 99, 'Canada'), ('doe', 65, 'Mexico'), ('john', 95, 'USA')]

In [126]:
max(sequence, key=lambda ele: ele[1])

('jane', 99, 'Canada')

In [127]:
min(sequence, key=lambda ele: ele[1])

('doe', 65, 'Mexico')

In [ ]:
my_lambda = lambda x: x * 2

return (my_lambda, output)