monthly --
- download data
- clean up the data
- push data to sql server (render)
- Use powerbi to create dashboard from data

In [2]:
import requests

response = requests.get("https://api.restful-api.dev/objects")

In [5]:
response.status_code

200

In [6]:
response.content

b'[{"id":"1","name":"Google Pixel 6 Pro","data":{"color":"Cloudy White","capacity":"128 GB"}},{"id":"2","name":"Apple iPhone 12 Mini, 256GB, Blue","data":null},{"id":"3","name":"Apple iPhone 12 Pro Max","data":{"color":"Cloudy White","capacity GB":512}},{"id":"4","name":"Apple iPhone 11, 64GB","data":{"price":389.99,"color":"Purple"}},{"id":"5","name":"Samsung Galaxy Z Fold2","data":{"price":689.99,"color":"Brown"}},{"id":"6","name":"Apple AirPods","data":{"generation":"3rd","price":120}},{"id":"7","name":"Apple MacBook Pro 16","data":{"year":2019,"price":1849.99,"CPU model":"Intel Core i9","Hard disk size":"1 TB"}},{"id":"8","name":"Apple Watch Series 8","data":{"Strap Colour":"Elderberry","Case Size":"41mm"}},{"id":"9","name":"Beats Studio3 Wireless","data":{"Color":"Red","Description":"High-performance wireless noise cancelling headphones"}},{"id":"10","name":"Apple iPad Mini 5th Gen","data":{"Capacity":"64 GB","Screen size":7.9}},{"id":"11","name":"Apple iPad Mini 5th Gen","data":{"Capacity":"254 GB","Screen size":7.9}},{"id":"12","name":"Apple iPad Air","data":{"Generation":"4th","Price":"419.99","Capacity":"64 GB"}},{"id":"13","name":"Apple iPad Air","data":{"Generation":"4th","Price":"519.99","Capacity":"256 GB"}}]'

In [8]:
response.json()

[{'id': '1',
  'name': 'Google Pixel 6 Pro',
  'data': {'color': 'Cloudy White', 'capacity': '128 GB'}},
 {'id': '2', 'name': 'Apple iPhone 12 Mini, 256GB, Blue', 'data': None},
 {'id': '3',
  'name': 'Apple iPhone 12 Pro Max',
  'data': {'color': 'Cloudy White', 'capacity GB': 512}},
 {'id': '4',
  'name': 'Apple iPhone 11, 64GB',
  'data': {'price': 389.99, 'color': 'Purple'}},
 {'id': '5',
  'name': 'Samsung Galaxy Z Fold2',
  'data': {'price': 689.99, 'color': 'Brown'}},
 {'id': '6',
  'name': 'Apple AirPods',
  'data': {'generation': '3rd', 'price': 120}},
 {'id': '7',
  'name': 'Apple MacBook Pro 16',
  'data': {'year': 2019,
   'price': 1849.99,
   'CPU model': 'Intel Core i9',
   'Hard disk size': '1 TB'}},
 {'id': '8',
  'name': 'Apple Watch Series 8',
  'data': {'Strap Colour': 'Elderberry', 'Case Size': '41mm'}},
 {'id': '9',
  'name': 'Beats Studio3 Wireless',
  'data': {'Color': 'Red',
   'Description': 'High-performance wireless noise cancelling headphones'}},
 {'id': '10',
  'name': 'Apple iPad Mini 5th Gen',
  'data': {'Capacity': '64 GB', 'Screen size': 7.9}},
 {'id': '11',
  'name': 'Apple iPad Mini 5th Gen',
  'data': {'Capacity': '254 GB', 'Screen size': 7.9}},
 {'id': '12',
  'name': 'Apple iPad Air',
  'data': {'Generation': '4th', 'Price': '419.99', 'Capacity': '64 GB'}},
 {'id': '13',
  'name': 'Apple iPad Air',
  'data': {'Generation': '4th', 'Price': '519.99', 'Capacity': '256 GB'}}]

In [89]:
import pandas as pd
import requests
from pathlib import Path

def download_tripdata(year, month):
    path = Path(f"data/raw/{year}/yellow_tripdata_{year}_{month:02}.parquet")

    # Check if file already exists
    if path.exists():
        print(f"File already exists, skipping: {path}")
        return str(path)

    url = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02}.parquet"
    response = requests.get(url)
    if response.status_code == 200:
        path.parent.mkdir(parents=True, exist_ok=True)
        path.write_bytes(response.content)
        path = str(path)
        print(f"Successfully downloaded: {path}")
        return path
    else:
        print(f"URL not available, skipping: {url}")
        return None

In [90]:
paths = []
for year in range(2023, 2026):
    for month in range(1, 13):
        path = download_tripdata(year, month)
        if path:
            paths.append(path)

File already exists, skipping: data/raw/2023/yellow_tripdata_2023_01.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_02.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_03.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_04.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_05.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_06.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_07.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_08.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_09.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_10.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_11.parquet
File already exists, skipping: data/raw/2023/yellow_tripdata_2023_12.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_01.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_02.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_03.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_04.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_05.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_06.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_07.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_08.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_09.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_10.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_11.parquet
File already exists, skipping: data/raw/2024/yellow_tripdata_2024_12.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_01.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_02.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_03.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_04.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_05.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_06.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_07.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_08.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_09.parquet
File already exists, skipping: data/raw/2025/yellow_tripdata_2025_10.parquet
URL not available, skipping: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-11.parquet
URL not available, skipping: https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-12.parquet

In [30]:
df = pd.read_parquet('data/raw/2025/yellow_tripdata_2025_09.parquet')

In [80]:
df.tail(100)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
4250915,1,2025-09-30 23:14:34,2025-09-30 23:24:59,NaN,1.30,NaN,None,230,170,0,10.89,0.0,0.5,0.0,0.0,1.0,15.64,NaN,NaN,0.75
4250916,2,2025-09-30 23:00:08,2025-09-30 23:10:24,NaN,1.84,NaN,None,142,162,0,13.59,0.0,0.5,0.0,0.0,1.0,18.34,NaN,NaN,0.75
4250917,2,2025-09-30 23:50:13,2025-10-01 00:09:11,NaN,4.59,NaN,None,209,17,0,20.73,0.0,0.5,0.0,0.0,1.0,25.48,NaN,NaN,0.75
4250918,2,2025-09-30 23:09:08,2025-09-30 23:32:58,NaN,3.52,NaN,None,255,177,0,23.29,0.0,0.5,0.0,0.0,1.0,24.79,NaN,NaN,0.00
4250919,2,2025-09-30 23:36:23,2025-09-30 23:53:00,NaN,9.12,NaN,None,244,183,0,24.69,0.0,0.5,0.0,0.0,1.0,26.19,NaN,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251010,2,2025-09-30 23:18:25,2025-09-30 23:29:31,NaN,1.38,NaN,None,186,162,0,12.24,0.0,0.5,0.0,0.0,1.0,16.99,NaN,NaN,0.75
4251011,2,2025-09-30 23:10:38,2025-09-30 23:32:25,NaN,3.86,NaN,None,140,114,0,-4.75,0.0,0.5,0.0,0.0,1.0,3.00,NaN,NaN,0.75
4251012,2,2025-09-30 23:20:47,2025-09-30 23:40:36,NaN,4.01,NaN,None,256,107,0,-4.75,0.0,0.5,0.0,0.0,1.0,2.83,NaN,NaN,0.75
4251013,2,2025-09-30 23:57:25,2025-10-01 00:10:50,NaN,3.98,NaN,None,170,148,0,-4.75,0.0,0.5,0.0,0.0,1.0,2.10,NaN,NaN,0.75
4251014,2,2025-09-30 23:32:38,2025-09-30 23:49:43,NaN,3.23,NaN,None,48,107,0,21.39,0.0,0.5,0.0,0.0,1.0,26.14,NaN,NaN,0.75

In [ ]:
print(f"Total records: {total_records:,}")
print(f"Valid records: {valid_records:,}")
print(f"Records dropped: {records_dropped:,} ({percent_dropped:.2f}%)")
print(f"Records dropped due to missing values: {dropped_missing:,}")
print(f"Records dropped by duration filter: {dropped_duration:,}")
print(f"Records dropped by total amount filter: {dropped_total_amount:,}")
print(f"Records dropped by distance filter: {dropped_distance:,}")
print(f"Records dropped by NYC location filter: {dropped_location:,}")
print(f"Records dropped by date range filter: {dropped_date_range:,}")
print(f"Records dropped by passenger count filter: {dropped_passenger_count:,}")

In [37]:
df.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
cbd_congestion_fee              float64
dtype: object

In [39]:
critical_columns = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime",
    "total_amount",
    "PULocationID",
    "DOLocationID",
    "trip_distance",
    "passenger_count",
]

In [52]:
df.isnull().sum(axis=0)

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count          1067195
trip_distance                  0
RatecodeID               1067195
store_and_fwd_flag       1067195
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge     1067195
Airport_fee              1067195
cbd_congestion_fee             0
dtype: int64

In [43]:
rides = df
initial_records = len(rides)
rides = rides.dropna(subset=critical_columns).copy()
dropped_missing = initial_records - len(rides)
# print(f"{dropped_missing:,}, {initial_records:,}")
print(dropped_missing, initial_records)

1067195 4251015

In [47]:
print(f"{dropped_missing:,}, {initial_records:,}")

1,067,195, 4,251,015

In [48]:
rides["duration"] = rides["tpep_dropoff_datetime"] - rides["tpep_pickup_datetime"]

In [53]:
rides["duration"].describe()

count                   3183820
mean     0 days 00:18:11.824852
std      0 days 00:30:30.536501
min             0 days 00:00:00
25%             0 days 00:07:41
50%             0 days 00:13:14
75%             0 days 00:22:20
max             6 days 02:39:12
Name: duration, dtype: object

In [54]:
rides[rides["total_amount"] < 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration
23,2,2025-09-01 00:06:03,2025-09-01 00:06:17,1.0,0.00,1.0,N,48,48,4,...,-1.0,-0.5,0.0,0.00,-1.0,-8.75,-2.5,0.00,-0.75,0 days 00:00:14
289,2,2025-09-01 00:40:24,2025-09-01 00:40:40,1.0,0.07,1.0,N,166,24,2,...,-1.0,-0.5,0.0,0.00,-1.0,-5.50,0.0,0.00,0.00,0 days 00:00:16
346,2,2025-09-01 00:37:14,2025-09-01 00:46:04,2.0,2.91,1.0,N,48,125,4,...,-1.0,-0.5,0.0,0.00,-1.0,-19.25,-2.5,0.00,-0.75,0 days 00:08:50
708,2,2025-09-01 00:17:36,2025-09-01 00:24:37,1.0,0.86,1.0,N,116,116,4,...,-1.0,-0.5,0.0,0.00,-1.0,-11.10,0.0,0.00,0.00,0 days 00:07:01
710,2,2025-09-01 00:55:31,2025-09-01 01:06:09,1.0,3.01,1.0,N,230,146,4,...,-1.0,-0.5,0.0,0.00,-1.0,-20.65,-2.5,0.00,-0.75,0 days 00:10:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183724,2,2025-09-30 23:49:25,2025-09-30 23:49:30,1.0,0.00,1.0,N,132,132,4,...,-1.0,-0.5,0.0,0.00,-1.0,-7.25,0.0,-1.75,0.00,0 days 00:00:05
3183741,2,2025-09-30 23:17:35,2025-09-30 23:43:30,1.0,11.00,1.0,N,113,248,4,...,-1.0,-0.5,0.0,0.00,-1.0,-50.05,-2.5,0.00,-0.75,0 days 00:25:55
3183757,2,2025-09-30 23:05:13,2025-09-30 23:17:15,2.0,1.87,1.0,N,79,158,2,...,-1.0,-0.5,0.0,0.00,-1.0,-17.85,-2.5,0.00,-0.75,0 days 00:12:02
3183759,2,2025-09-30 23:35:46,2025-09-30 23:49:30,2.0,2.72,1.0,N,164,236,2,...,-1.0,-0.5,0.0,0.00,-1.0,-20.65,-2.5,0.00,-0.75,0 days 00:13:44
3183807,2,2025-09-30 23:51:15,2025-10-01 00:31:05,1.0,27.48,2.0,N,132,79,4,...,0.0,-0.5,0.0,-6.94,-1.0,-83.44,-2.5,-1.75,-0.75,0 days 00:39:50

In [55]:
rides[["duration", "total_amount", "trip_distance"]].quantile(0.999)

duration         0 days 02:03:52
total_amount              203.17
trip_distance           31.66181
Name: 0.999, dtype: object

In [56]:
rides["total_amount"].describe()

count    3.183820e+06
mean     2.920592e+01
std      1.833730e+02
min     -1.002250e+03
25%      1.650000e+01
50%      2.223000e+01
75%      3.250000e+01
max      3.238202e+05
Name: total_amount, dtype: float64

In [59]:
rides["trip_distance"].describe()

count    3.183820e+06
mean     3.506388e+00
std      2.728506e+01
min      0.000000e+00
25%      1.000000e+00
50%      1.720000e+00
75%      3.440000e+00
max      4.640763e+04
Name: trip_distance, dtype: float64

In [64]:
rides["passenger_count"].value_counts()

passenger_count
1.0    2563028
2.0     434358
3.0      89427
4.0      55742
0.0      22186
5.0      12387
6.0       6689
8.0          2
7.0          1
Name: count, dtype: int64

In [67]:
rides["tpep_pickup_datetime"].min()

Timestamp('2025-08-31 23:45:38')

In [93]:
import pandas as pd
from pathlib import Path

def filter_nyc_taxi_data(year: int, month: int) -> None:
    """
    Filters NYC Taxi ride data for a specific year and month, removing outliers and invalid records.
    Reads from data/raw/{year}/, filters the data, and saves to data/filtered/{year}/.
    Also saves metadata CSV with filtering statistics.

    Args:
        year (int): Year to filter for.
        month (int): Month to filter for (1-12).

    Raises:
        ValueError: If no valid rides are found or if input parameters are invalid.
        FileNotFoundError: If the raw data file does not exist.
    """
    # Define the column types for conversion
    column_types = {
        "pickup_datetime": "datetime64[ns]",
        "dropoff_datetime": "datetime64[ns]",
        "pickup_location_id": "int32",
        "dropoff_location_id": "int32",
        "trip_distance": "float64",
        "fare_amount": "float64",
        "tip_amount": "float64",
        "payment_type": "int32",
        "passenger_count": "int32",
    }

    # Validate inputs
    if not (1 <= month <= 12):
        raise ValueError("Month must be between 1 and 12.")
    if not isinstance(year, int) or not isinstance(month, int):
        raise ValueError("Year and month must be integers.")

    # Define paths
    raw_path = Path(f"data/raw/{year}/yellow_tripdata_{year}_{month:02}.parquet")
    filtered_path = Path(f"data/filtered/{year}/yellow_tripdata_{year}_{month:02}.parquet")
    metadata_path = Path(f"data/filtered/{year}/yellow_tripdata_{year}_{month:02}_metadata.csv")

    # Check if raw file exists
    if not raw_path.exists():
        print(f"Raw file not found, skipping: {raw_path}")
        return

    # Check if filtered file already exists
    if filtered_path.exists():
        print(f"Filtered file already exists, skipping: {filtered_path}")
        return

    # Read raw data
    print(f"Reading: {raw_path}")
    rides = pd.read_parquet(raw_path)

    # Calculate start and end dates for the specified month
    start_date = pd.Timestamp(year=year, month=month, day=1)
    end_date = pd.Timestamp(year + (month // 12), (month % 12) + 1, 1)

    # Drop rows with missing values in critical columns
    critical_columns = [
        "tpep_pickup_datetime",
        "tpep_dropoff_datetime",
        "total_amount",
        "PULocationID",
        "DOLocationID",
        "trip_distance",
        "passenger_count",
    ]
    initial_records = len(rides)
    rides = rides.dropna(subset=critical_columns).copy()
    dropped_missing = initial_records - len(rides)

    # Add a duration column for filtering
    rides["duration"] = rides["tpep_dropoff_datetime"] - rides["tpep_pickup_datetime"]

    # Define thresholds for filtering
    quantiles = rides[["duration", "total_amount", "trip_distance"]].quantile(0.999)
    max_duration = quantiles["duration"]
    max_total_amount = quantiles["total_amount"]
    max_distance = quantiles["trip_distance"]

    # Define additional filtering thresholds
    min_total_amount = 3.0
    invalid_location_ids = [1, 264, 265]
    min_passenger_count = 1
    max_passenger_count = 5

    # Apply filters
    duration_filter = (rides["duration"] > pd.Timedelta(0)) & (rides["duration"] <= max_duration)
    total_amount_filter = (rides["total_amount"] >= min_total_amount) & (rides["total_amount"] <= max_total_amount)
    distance_filter = (rides["trip_distance"] > 0) & (rides["trip_distance"] <= max_distance)
    nyc_location_filter = ~rides["PULocationID"].isin(invalid_location_ids)
    date_range_filter = (rides["tpep_pickup_datetime"] >= start_date) & (rides["tpep_pickup_datetime"] < end_date)
    passenger_count_filter = (rides["passenger_count"] >= min_passenger_count) & (
        rides["passenger_count"] <= max_passenger_count
    )

    # Combine all filters
    final_filter = (
        duration_filter
        & total_amount_filter
        & distance_filter
        & nyc_location_filter
        & date_range_filter
        & passenger_count_filter
    )

    # Calculate dropped records for each filter
    dropped_duration = len(rides) - duration_filter.sum()
    dropped_total_amount = len(rides) - total_amount_filter.sum()
    dropped_distance = len(rides) - distance_filter.sum()
    dropped_location = len(rides) - nyc_location_filter.sum()
    dropped_date_range = len(rides) - date_range_filter.sum()
    dropped_passenger_count = len(rides) - passenger_count_filter.sum()

    # Apply the filters
    filtered_rides = rides[final_filter]

    # If no valid rides remain, raise an error
    if filtered_rides.empty:
        raise ValueError("No valid rides found after applying filters.")

    # Apply type conversions and retain only the specified columns
    filtered_rides = filtered_rides.rename(
        columns={
            "tpep_pickup_datetime": "pickup_datetime",
            "tpep_dropoff_datetime": "dropoff_datetime",
            "PULocationID": "pickup_location_id",
            "DOLocationID": "dropoff_location_id",
        }
    )
    filtered_rides = filtered_rides.astype(column_types)
    filtered_rides = filtered_rides[list(column_types.keys())]

    # Log filter statistics
    total_records = initial_records
    valid_records = len(filtered_rides)
    records_dropped = total_records - valid_records
    percent_dropped = (records_dropped / total_records) * 100

    print(f"Total records: {total_records:,}")
    print(f"Valid records: {valid_records:,}")
    print(f"Records dropped: {records_dropped:,} ({percent_dropped:.2f}%)")
    print(f"Records dropped due to missing values: {dropped_missing:,}")
    print(f"Records dropped by duration filter: {dropped_duration:,}")
    print(f"Records dropped by total amount filter: {dropped_total_amount:,}")
    print(f"Records dropped by distance filter: {dropped_distance:,}")
    print(f"Records dropped by NYC location filter: {dropped_location:,}")
    print(f"Records dropped by date range filter: {dropped_date_range:,}")
    print(f"Records dropped by passenger count filter: {dropped_passenger_count:,}")

    # Build metadata dataframe
    metadata = pd.DataFrame(
        [
            {
                "year": year,
                "month": month,
                "total_records": total_records,
                "valid_records": valid_records,
                "records_dropped": records_dropped,
                "percent_dropped": percent_dropped,
                "dropped_missing": dropped_missing,
                "dropped_duration": dropped_duration,
                "dropped_total_amount": dropped_total_amount,
                "dropped_distance": dropped_distance,
                "dropped_location": dropped_location,
                "dropped_date_range": dropped_date_range,
                "dropped_passenger_count": dropped_passenger_count,
                # Optionally also store thresholds used
                "max_duration_sec": max_duration.total_seconds(),
                "max_total_amount": float(max_total_amount),
                "max_distance": float(max_distance),
                "min_total_amount": float(min_total_amount),
                "min_passenger_count": int(min_passenger_count),
                "max_passenger_count": int(max_passenger_count),
            }
        ]
    )

    # Save filtered data and metadata
    filtered_path.parent.mkdir(parents=True, exist_ok=True)
    filtered_rides.to_parquet(filtered_path, index=False)
    print(f"Filtered data saved to: {filtered_path}")

    metadata.to_csv(metadata_path, index=False)
    print(f"Metadata saved to: {metadata_path}")

In [94]:
# Process all downloaded files
for year in range(2023, 2026):
    for month in range(1, 13):
        filter_nyc_taxi_data(year, month)

Reading: data/raw/2023/yellow_tripdata_2023_01.parquet
Total records: 3,066,766
Valid records: 2,812,144
Records dropped: 254,622 (8.30%)
Records dropped due to missing values: 71,743
Records dropped by duration filter: 4,097
Records dropped by total amount filter: 29,108
Records dropped by distance filter: 41,362
Records dropped by NYC location filter: 41,829
Records dropped by date range filter: 48
Records dropped by passenger count filter: 79,308
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_01.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_01_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_02.parquet
Total records: 2,913,955
Valid records: 2,667,584
Records dropped: 246,371 (8.45%)
Records dropped due to missing values: 76,817
Records dropped by duration filter: 3,824
Records dropped by total amount filter: 28,569
Records dropped by distance filter: 39,183
Records dropped by NYC location filter: 36,431
Records dropped by date range filter: 55
Records dropped by passenger count filter: 74,079
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_02.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_02_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_03.parquet
Total records: 3,403,766
Valid records: 3,126,423
Records dropped: 277,343 (8.15%)
Records dropped due to missing values: 87,619
Records dropped by duration filter: 4,387
Records dropped by total amount filter: 34,106
Records dropped by distance filter: 45,272
Records dropped by NYC location filter: 32,859
Records dropped by date range filter: 189
Records dropped by passenger count filter: 87,557
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_03.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_03_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_04.parquet
Total records: 3,288,250
Valid records: 3,014,193
Records dropped: 274,057 (8.33%)
Records dropped due to missing values: 90,690
Records dropped by duration filter: 4,251
Records dropped by total amount filter: 33,902
Records dropped by distance filter: 40,224
Records dropped by NYC location filter: 36,046
Records dropped by date range filter: 95
Records dropped by passenger count filter: 83,053
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_04.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_04_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_05.parquet
Total records: 3,513,649
Valid records: 3,213,614
Records dropped: 300,035 (8.54%)
Records dropped due to missing values: 101,796
Records dropped by duration filter: 4,489
Records dropped by total amount filter: 36,189
Records dropped by distance filter: 46,766
Records dropped by NYC location filter: 38,453
Records dropped by date range filter: 50
Records dropped by passenger count filter: 88,126
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_05.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_05_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_06.parquet
Total records: 3,307,234
Valid records: 3,020,041
Records dropped: 287,193 (8.68%)
Records dropped due to missing values: 99,887
Records dropped by duration filter: 4,238
Records dropped by total amount filter: 35,136
Records dropped by distance filter: 44,811
Records dropped by NYC location filter: 34,563
Records dropped by date range filter: 41
Records dropped by passenger count filter: 83,288
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_06.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_06_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_07.parquet
Total records: 2,907,108
Valid records: 2,655,594
Records dropped: 251,514 (8.65%)
Records dropped due to missing values: 85,086
Records dropped by duration filter: 3,999
Records dropped by total amount filter: 34,507
Records dropped by distance filter: 41,643
Records dropped by NYC location filter: 30,752
Records dropped by date range filter: 59
Records dropped by passenger count filter: 69,551
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_07.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_07_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_08.parquet
Total records: 2,824,209
Valid records: 2,577,870
Records dropped: 246,339 (8.72%)
Records dropped due to missing values: 87,886
Records dropped by duration filter: 3,960
Records dropped by total amount filter: 34,497
Records dropped by distance filter: 41,617
Records dropped by NYC location filter: 27,923
Records dropped by date range filter: 34
Records dropped by passenger count filter: 65,223
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_08.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_08_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_09.parquet
Total records: 2,846,722
Valid records: 2,553,539
Records dropped: 293,183 (10.30%)
Records dropped due to missing values: 140,225
Records dropped by duration filter: 3,544
Records dropped by total amount filter: 32,739
Records dropped by distance filter: 39,949
Records dropped by NYC location filter: 28,347
Records dropped by date range filter: 32
Records dropped by passenger count filter: 62,768
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_09.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_09_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_10.parquet
Total records: 3,522,285
Valid records: 3,185,149
Records dropped: 337,136 (9.57%)
Records dropped due to missing values: 154,929
Records dropped by duration filter: 4,432
Records dropped by total amount filter: 41,251
Records dropped by distance filter: 48,160
Records dropped by NYC location filter: 31,632
Records dropped by date range filter: 53
Records dropped by passenger count filter: 74,242
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_10.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_10_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_11.parquet
Total records: 3,339,715
Valid records: 3,039,188
Records dropped: 300,527 (9.00%)
Records dropped due to missing values: 132,675
Records dropped by duration filter: 4,870
Records dropped by total amount filter: 40,779
Records dropped by distance filter: 43,850
Records dropped by NYC location filter: 27,174
Records dropped by date range filter: 31
Records dropped by passenger count filter: 66,467
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_11.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_11_metadata.csv
Reading: data/raw/2023/yellow_tripdata_2023_12.parquet
Total records: 3,376,567
Valid records: 3,033,220
Records dropped: 343,347 (10.17%)
Records dropped due to missing values: 180,003
Records dropped by duration filter: 4,135
Records dropped by total amount filter: 43,887
Records dropped by distance filter: 45,738
Records dropped by NYC location filter: 15,580
Records dropped by date range filter: 43
Records dropped by passenger count filter: 66,721
Filtered data saved to: data/filtered/2023/yellow_tripdata_2023_12.parquet
Metadata saved to: data/filtered/2023/yellow_tripdata_2023_12_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_01.parquet
Total records: 2,964,624
Valid records: 2,686,279
Records dropped: 278,345 (9.39%)
Records dropped due to missing values: 140,162
Records dropped by duration filter: 3,583
Records dropped by total amount filter: 39,071
Records dropped by distance filter: 40,371
Records dropped by NYC location filter: 11,862
Records dropped by date range filter: 18
Records dropped by passenger count filter: 53,878
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_01.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_01_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_02.parquet
Total records: 3,007,526
Valid records: 2,683,868
Records dropped: 323,658 (10.76%)
Records dropped due to missing values: 185,610
Records dropped by duration filter: 3,561
Records dropped by total amount filter: 39,606
Records dropped by distance filter: 38,980
Records dropped by NYC location filter: 11,201
Records dropped by date range filter: 15
Records dropped by passenger count filter: 55,334
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_02.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_02_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_03.parquet
Total records: 3,582,628
Valid records: 2,997,267
Records dropped: 585,361 (16.34%)
Records dropped due to missing values: 426,190
Records dropped by duration filter: 4,021
Records dropped by total amount filter: 48,221
Records dropped by distance filter: 43,831
Records dropped by NYC location filter: 13,327
Records dropped by date range filter: 23
Records dropped by passenger count filter: 62,498
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_03.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_03_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_04.parquet
Total records: 3,514,289
Valid records: 2,950,774
Records dropped: 563,515 (16.03%)
Records dropped due to missing values: 408,576
Records dropped by duration filter: 3,998
Records dropped by total amount filter: 47,565
Records dropped by distance filter: 42,991
Records dropped by NYC location filter: 12,790
Records dropped by date range filter: 9
Records dropped by passenger count filter: 60,511
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_04.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_04_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_05.parquet
Total records: 3,723,833
Valid records: 3,155,241
Records dropped: 568,592 (15.27%)
Records dropped due to missing values: 404,666
Records dropped by duration filter: 4,337
Records dropped by total amount filter: 53,055
Records dropped by distance filter: 46,837
Records dropped by NYC location filter: 13,924
Records dropped by date range filter: 33
Records dropped by passenger count filter: 59,678
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_05.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_05_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_06.parquet
Total records: 3,539,193
Valid records: 2,970,427
Records dropped: 568,766 (16.07%)
Records dropped due to missing values: 410,781
Records dropped by duration filter: 4,177
Records dropped by total amount filter: 52,460
Records dropped by distance filter: 45,905
Records dropped by NYC location filter: 13,748
Records dropped by date range filter: 51
Records dropped by passenger count filter: 55,188
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_06.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_06_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_07.parquet
Total records: 3,076,903
Valid records: 2,653,319
Records dropped: 423,584 (13.77%)
Records dropped due to missing values: 278,989
Records dropped by duration filter: 3,796
Records dropped by total amount filter: 53,725
Records dropped by distance filter: 43,310
Records dropped by NYC location filter: 12,087
Records dropped by date range filter: 47
Records dropped by passenger count filter: 44,473
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_07.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_07_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_08.parquet
Total records: 2,979,183
Valid records: 2,576,398
Records dropped: 402,785 (13.52%)
Records dropped due to missing values: 258,667
Records dropped by duration filter: 3,685
Records dropped by total amount filter: 56,336
Records dropped by distance filter: 45,347
Records dropped by NYC location filter: 10,823
Records dropped by date range filter: 51
Records dropped by passenger count filter: 40,592
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_08.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_08_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_09.parquet
Total records: 3,633,030
Valid records: 2,993,566
Records dropped: 639,464 (17.60%)
Records dropped due to missing values: 483,731
Records dropped by duration filter: 4,194
Records dropped by total amount filter: 59,793
Records dropped by distance filter: 47,477
Records dropped by NYC location filter: 12,041
Records dropped by date range filter: 49
Records dropped by passenger count filter: 45,942
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_09.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_09_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_10.parquet
Total records: 3,833,771
Valid records: 3,270,155
Records dropped: 563,616 (14.70%)
Records dropped due to missing values: 393,895
Records dropped by duration filter: 4,348
Records dropped by total amount filter: 65,451
Records dropped by distance filter: 49,891
Records dropped by NYC location filter: 12,783
Records dropped by date range filter: 40
Records dropped by passenger count filter: 51,332
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_10.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_10_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_11.parquet
Total records: 3,646,369
Valid records: 3,115,750
Records dropped: 530,619 (14.55%)
Records dropped due to missing values: 373,674
Records dropped by duration filter: 4,875
Records dropped by total amount filter: 64,548
Records dropped by distance filter: 44,733
Records dropped by NYC location filter: 11,489
Records dropped by date range filter: 50
Records dropped by passenger count filter: 43,390
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_11.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_11_metadata.csv
Reading: data/raw/2024/yellow_tripdata_2024_12.parquet
Total records: 3,668,371
Valid records: 3,169,591
Records dropped: 498,780 (13.60%)
Records dropped due to missing values: 326,291
Records dropped by duration filter: 4,418
Records dropped by total amount filter: 73,935
Records dropped by distance filter: 50,987
Records dropped by NYC location filter: 12,138
Records dropped by date range filter: 34
Records dropped by passenger count filter: 44,620
Filtered data saved to: data/filtered/2024/yellow_tripdata_2024_12.parquet
Metadata saved to: data/filtered/2024/yellow_tripdata_2024_12_metadata.csv
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_01.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_02.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_03.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_04.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_05.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_06.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_07.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_08.parquet
Filtered file already exists, skipping: data/filtered/2025/yellow_tripdata_2025_09.parquet
Reading: data/raw/2025/yellow_tripdata_2025_10.parquet
Total records: 4,428,699
Valid records: 3,218,946
Records dropped: 1,209,753 (27.32%)
Records dropped due to missing values: 990,887
Records dropped by duration filter: 71,347
Records dropped by total amount filter: 72,734
Records dropped by distance filter: 49,250
Records dropped by NYC location filter: 8,929
Records dropped by date range filter: 13
Records dropped by passenger count filter: 29,617
Filtered data saved to: data/filtered/2025/yellow_tripdata_2025_10.parquet
Metadata saved to: data/filtered/2025/yellow_tripdata_2025_10_metadata.csv
Raw file not found, skipping: data/raw/2025/yellow_tripdata_2025_11.parquet
Raw file not found, skipping: data/raw/2025/yellow_tripdata_2025_12.parquet

In [76]:
path

'data/raw/2025/yellow_tripdata_2025_09.parquet'

In [78]:
for month in range(1, 10):
    input_path = f"data/raw/2025/yellow_tripdata_2025_{month:02}.parquet"
    output_path = f"data/filtered/2025/yellow_tripdata_2025_{month:02}.parquet"
    df = pd.read_parquet(input_path)
    filered_data = filter_nyc_taxi_data(df, 2025, month)
    path = Path(output_path)
    path.parent.mkdir(parents=True, exist_ok=True)
    filered_data.to_parquet(output_path)
    print(f"Finished: {output_path}")

Total records: 3,475,226
Valid records: 2,789,977
Records dropped: 685,249 (19.72%)
Records dropped due to missing values: 540,149
Records dropped by duration filter: 4,766
Records dropped by total amount filter: 63,385
Records dropped by distance filter: 41,844
Records dropped by NYC location filter: 9,634
Records dropped by date range filter: 22
Records dropped by passenger count filter: 36,678
Finished: data/filtered/2025/yellow_tripdata_2025_01.parquet
Total records: 3,577,543
Valid records: 2,633,548
Records dropped: 943,995 (26.39%)
Records dropped due to missing values: 806,937
Records dropped by duration filter: 7,761
Records dropped by total amount filter: 58,662
Records dropped by distance filter: 39,306
Records dropped by NYC location filter: 8,689
Records dropped by date range filter: 31
Records dropped by passenger count filter: 32,379
Finished: data/filtered/2025/yellow_tripdata_2025_02.parquet
Total records: 4,145,257
Valid records: 3,055,430
Records dropped: 1,089,827 (26.29%)
Records dropped due to missing values: 916,663
Records dropped by duration filter: 25,330
Records dropped by total amount filter: 72,868
Records dropped by distance filter: 45,133
Records dropped by NYC location filter: 9,305
Records dropped by date range filter: 33
Records dropped by passenger count filter: 33,070
Finished: data/filtered/2025/yellow_tripdata_2025_03.parquet
Total records: 3,970,553
Valid records: 3,035,773
Records dropped: 934,780 (23.54%)
Records dropped due to missing values: 745,730
Records dropped by duration filter: 37,732
Records dropped by total amount filter: 76,702
Records dropped by distance filter: 45,541
Records dropped by NYC location filter: 9,195
Records dropped by date range filter: 7
Records dropped by passenger count filter: 32,196
Finished: data/filtered/2025/yellow_tripdata_2025_04.parquet
Total records: 4,591,845
Valid records: 3,168,517
Records dropped: 1,423,328 (31.00%)
Records dropped due to missing values: 1,196,176
Records dropped by duration filter: 67,437
Records dropped by total amount filter: 82,470
Records dropped by distance filter: 47,843
Records dropped by NYC location filter: 9,867
Records dropped by date range filter: 24
Records dropped by passenger count filter: 33,734
Finished: data/filtered/2025/yellow_tripdata_2025_05.parquet
Total records: 4,322,960
Valid records: 2,890,110
Records dropped: 1,432,850 (33.15%)
Records dropped due to missing values: 1,212,946
Records dropped by duration filter: 71,387
Records dropped by total amount filter: 78,023
Records dropped by distance filter: 44,340
Records dropped by NYC location filter: 8,806
Records dropped by date range filter: 20
Records dropped by passenger count filter: 31,453
Finished: data/filtered/2025/yellow_tripdata_2025_06.parquet
Total records: 3,898,963
Valid records: 2,654,979
Records dropped: 1,243,984 (31.91%)
Records dropped due to missing values: 1,038,755
Records dropped by duration filter: 58,867
Records dropped by total amount filter: 80,108
Records dropped by distance filter: 42,614
Records dropped by NYC location filter: 8,600
Records dropped by date range filter: 7
Records dropped by passenger count filter: 28,175
Finished: data/filtered/2025/yellow_tripdata_2025_07.parquet
Total records: 3,574,091
Valid records: 2,494,847
Records dropped: 1,079,244 (30.20%)
Records dropped due to missing values: 886,234
Records dropped by duration filter: 50,479
Records dropped by total amount filter: 81,024
Records dropped by distance filter: 43,047
Records dropped by NYC location filter: 7,954
Records dropped by date range filter: 17
Records dropped by passenger count filter: 23,380
Finished: data/filtered/2025/yellow_tripdata_2025_08.parquet
Total records: 4,251,015
Valid records: 2,970,258
Records dropped: 1,280,757 (30.13%)
Records dropped due to missing values: 1,067,195
Records dropped by duration filter: 60,315
Records dropped by total amount filter: 82,550
Records dropped by distance filter: 46,505
Records dropped by NYC location filter: 8,522
Records dropped by date range filter: 7
Records dropped by passenger count filter: 28,878
Finished: data/filtered/2025/yellow_tripdata_2025_09.parquet