In [ ]:
# list -- 
# numpy -- 

lst = [1, 2, 3]

In [1]:
# Square a list using Python
squared_values = []
for number in range(10):
    squared_values.append(number*number)

print(squared_values)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
squared_values * 5

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81]

In [4]:
import numpy as np

vector = np.array(range(10))
scalar = 5

In [5]:
print(vector * scalar)

[ 0  5 10 15 20 25 30 35 40 45]

In [6]:
print(vector * vector)

[ 0  1  4  9 16 25 36 49 64 81]

In [ ]:
mat = [
    [1,2,3],
    [4, 5, 6], 
    [7, 8, 9]
]

In [7]:
my_list = [1, 2, 3]
print(my_list)

import numpy as np

my_vector = np.array(my_list)
print(my_vector)

my_matrix = np.array([my_list, my_list])

[1, 2, 3]
[1 2 3]

In [8]:
my_matrix

array([[1, 2, 3],
       [1, 2, 3]])

In [9]:
np.hstack([my_list, my_list]) # extend

array([1, 2, 3, 1, 2, 3])

In [10]:
my_nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
my_matrix = np.array(my_nested_list)
print(my_matrix)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [11]:
my_list1 = [
        [1,2], 
        [3,4]
]
my_list2 = [
    [5,6], 
    [7,8]
]

np.hstack([my_list1, my_list2])

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [12]:
np.vstack([my_list1, my_list2])

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [13]:
## Create array using arange
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
np.arange(0, 10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [15]:
np.arange(0, 10, 2)

array([0, 2, 4, 6, 8])

In [16]:
## Create array of zeros
np.zeros(3)

array([0., 0., 0.])

In [17]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [18]:
# Create array of ones
np.ones(3)

array([1., 1., 1.])

In [19]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [24]:
np.ones(3) * 4

array([4., 4., 4.])

In [ ]:
## Create evenly spaced vector
### Example use case: when you have Y values for a plot but need to generate X values
### *** Includes both start an end
# np.arange(start, end(not included), step size)

In [25]:
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [26]:
np.linspace(1900, 2000, 11)

array([1900., 1910., 1920., 1930., 1940., 1950., 1960., 1970., 1980.,
       1990., 2000.])

In [27]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [28]:
np.empty((2,3))

array([[4.94654042e-315, 0.00000000e+000, 6.84842761e-310],
       [5.69078249e-317, 6.84842761e-310, 6.84842761e-310]])

In [29]:
# Uniform distribution
np.random.rand(3)

array([0.15848524, 0.70180007, 0.50341112])

In [30]:
np.random.rand(3,3)

array([[0.60242107, 0.1600026 , 0.06880868],
       [0.92926508, 0.87293126, 0.646801  ],
       [0.4616085 , 0.60766119, 0.85216523]])

In [31]:
np.random.randn(3)

array([-0.75724305, -0.87541025, -0.50834971])

In [32]:
np.random.randn(3,3)

array([[-1.14033503, -0.16577622,  1.03902926],
       [ 1.53099893,  0.9870219 ,  0.43803663],
       [ 0.10141385, -1.08404579,  0.03809634]])

In [ ]:
sigma = 10 # std
mean = 65
sigma * np.random.randn(...) + mu

In [ ]:
# [55 --- 75]  # 68
# [45 -- 85]   # 95
# [35 -- 95]   # 99.7

In [ ]:
sigma = 7 # std
mean = 55

In [34]:
vector = np.arange(1,10)
print(vector.reshape(3,3))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [36]:
vector = np.arange(1,13)
print(vector.reshape(3,4))

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [37]:
print(vector.reshape(4,3))

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [38]:
print(vector.reshape(3,3))

ValueError: cannot reshape array of size 12 into shape (3,3)

In [39]:
vector = np.random.randint(1,51,25)

In [40]:
vector

array([47,  8, 46, 37, 29, 39, 26, 21, 39, 10, 12,  6, 10, 35, 39,  9, 31,
       44, 30, 30,  5, 21,  2,  9, 37])

In [41]:
vector.min()

np.int64(2)

In [42]:
vector.max()

np.int64(47)

In [43]:
vector.argmin()

np.int64(22)

In [44]:
vector.argmax()

np.int64(0)

In [45]:
vector.shape

(25,)

In [46]:
vector = np.array(range(10))
# vector[index]
# vector [start:end]
# vector [:end]
# vector [start:]
# vector [start, end, step]

vector[3]

np.int64(3)

In [51]:
my_list = list(range(10))
my_list[3:8] = [90, 99]
my_list

[0, 1, 2, 90, 99, 8, 9]

In [53]:
vector[3:6] = 99
vector

array([ 0,  1,  2, 99, 99, 99,  6,  7,  8,  9])

In [54]:
vector = np.array(range(10))
my_slice = vector[3:7]
my_slice[:] = 20
my_slice

array([20, 20, 20, 20])

In [55]:
vector

array([ 0,  1,  2, 20, 20, 20, 20,  7,  8,  9])

In [57]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [58]:
matrix = np.array(range(1,10)).reshape((3,3))
matrix[0,0]
matrix[0][0]
matrix[2,2]
matrix[2][2]

np.int64(1)

np.int64(1)

np.int64(9)

np.int64(9)

In [ ]:
matrix[:,2] # Grab the third column
matrix[1,:] # Grab the second row
matrix[:2] # grab the first two rows, all columns
matrix[:2,:] # grab the first two rows, all columns
matrix[:,1:] # grab all the rows, but columns starting from 1

In [59]:
vector = np.arange(10)
gt2 = vector > 2 # create condition
lt8 = vector < 8 # create condition
gt2
lt8

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

array([ True,  True,  True,  True,  True,  True,  True,  True, False,
       False])

In [60]:
selected_gt2 = vector[gt2] # apply condition to select
selected_lt8 = vector[lt8] # apply condition to select
selected_gt2
selected_lt8

array([3, 4, 5, 6, 7, 8, 9])

array([0, 1, 2, 3, 4, 5, 6, 7])

In [61]:
vector[vector>2]
vector[vector<8]

array([3, 4, 5, 6, 7, 8, 9])

array([0, 1, 2, 3, 4, 5, 6, 7])

In [62]:
cond = (vector>2) & (vector<7)
vector[cond]

array([3, 4, 5, 6])

In [63]:
cond = (vector>=2) & (vector<=7)
vector[cond]

array([2, 3, 4, 5, 6, 7])

In [64]:
vector = np.arange(10)

vector + vector
vector - vector
vector * vector
vector / vector # problem!!! return `nan`
vector + 10
vector - 10
vector * 10
vector / 10

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

/tmp/ipykernel_31132/325426557.py:6: RuntimeWarning: invalid value encountered in divide
  vector / vector # problem!!! return `nan`

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

array([-10,  -9,  -8,  -7,  -6,  -5,  -4,  -3,  -2,  -1])

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [65]:
vector = np.arange(10)
np.max(vector)
np.min(vector)
np.sqrt(vector)
np.log(vector)

np.int64(9)

np.int64(0)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

/tmp/ipykernel_31132/1952025393.py:5: RuntimeWarning: divide by zero encountered in log
  np.log(vector)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [71]:
sigma = 10
mu = 65

grades = sigma * np.random.randn(1_100_000) + mu

grades.mean()
grades.std()

np.float64(65.00406749090612)

np.float64(10.001211672472524)

In [72]:
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [73]:
sum(vector<5)

np.int64(5)

In [74]:
import math
vector = np.arange(1,11) * math.pi
np.sin(vector)
vector = np.arange(0,math.pi+math.pi/4,math.pi/4)
np.sin(vector)

array([ 1.22464680e-16, -2.44929360e-16,  3.67394040e-16, -4.89858720e-16,
        6.12323400e-16, -7.34788079e-16,  8.57252759e-16, -9.79717439e-16,
        1.10218212e-15, -1.22464680e-15])

array([0.00000000e+00, 7.07106781e-01, 1.00000000e+00, 7.07106781e-01,
       1.22464680e-16])

In [79]:
matrix = np.random.rand(5,5)
matrix.round(5)
matrix.ceil(5)
matrix.floor(5)

array([[0.03584, 0.49836, 0.55416, 0.83832, 0.58706],
       [0.60844, 0.00549, 0.45215, 0.40697, 0.37035],
       [0.8793 , 0.33123, 0.69916, 0.05483, 0.99452],
       [0.87423, 0.98266, 0.88227, 0.3184 , 0.41955],
       [0.59869, 0.96419, 0.6959 , 0.08877, 0.16282]])

AttributeError: 'numpy.ndarray' object has no attribute 'ceil'

In [80]:
np.floor(matrix*1000)/1000
np.round(matrix*1000)/1000
np.ceil(matrix*1000)/1000

array([[0.035, 0.498, 0.554, 0.838, 0.587],
       [0.608, 0.005, 0.452, 0.406, 0.37 ],
       [0.879, 0.331, 0.699, 0.054, 0.994],
       [0.874, 0.982, 0.882, 0.318, 0.419],
       [0.598, 0.964, 0.695, 0.088, 0.162]])

array([[0.036, 0.498, 0.554, 0.838, 0.587],
       [0.608, 0.005, 0.452, 0.407, 0.37 ],
       [0.879, 0.331, 0.699, 0.055, 0.995],
       [0.874, 0.983, 0.882, 0.318, 0.42 ],
       [0.599, 0.964, 0.696, 0.089, 0.163]])

array([[0.036, 0.499, 0.555, 0.839, 0.588],
       [0.609, 0.006, 0.453, 0.407, 0.371],
       [0.88 , 0.332, 0.7  , 0.055, 0.995],
       [0.875, 0.983, 0.883, 0.319, 0.42 ],
       [0.599, 0.965, 0.696, 0.089, 0.163]])

In [81]:
matrix = np.arange(1,10).reshape(3,3)

In [82]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [85]:
matrix.sum(axis=1)

array([ 6, 15, 24])

In [86]:
matrix.sum(axis=0)

array([12, 15, 18])

In [87]:
matrix.cumsum()

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45])

In [88]:
matrix = np.array([1,2,3]*3).reshape(3,3)
matrix

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [89]:
matrix.reshape(3,3)

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [90]:
np.unique(matrix)

array([1, 2, 3])

In [93]:
import numpy as np
import pandas as pd

header = ['chrom', 'pos', 'filter']
data = [4, 12345, 38.4]

vector = np.array(data)
vector

array([4.0000e+00, 1.2345e+04, 3.8400e+01])

In [94]:
data_dict = {'chrom': 4, 'pos': 12345, 'filter': 38.4}

s1 = pd.Series(data=data) # Notice the data type is float
s2 = pd.Series(data=data, index=header)
s1
s2

0        4.0
1    12345.0
2       38.4
dtype: float64

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [96]:
s1[0]

np.float64(4.0)

In [98]:
s2[0]

/tmp/ipykernel_31132/2344841457.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s2[0]

np.float64(4.0)

In [99]:
s2

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [102]:
s2.iloc[0]

np.float64(4.0)

In [103]:
s2["chrom"]

np.float64(4.0)

In [104]:
## Basic operations
header1 = ['chrom', 'pos', 'filter']
data1 = [4, 12345, 38.4]
header2 = ['chrom', 'pos', 'filter', 'qual']
data2 = [3, 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

chrom         7.0
filter      272.4
pos       17244.0
qual          NaN
dtype: float64

In [105]:
## Basic operations
header1 = ['pos', 'filter', 'chrom']
data1 = [4, 12345, 38.4]
header2 = ['chrom', 'pos', 'filter', 'qual']
data2 = [3, 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

chrom        41.4
filter    12579.0
pos        4903.0
qual          NaN
dtype: float64

In [121]:
import numpy as np
import pandas as pd
np.random.seed(503)
print(mu, sigma)
header = ['exam1', 'exam2', 'exam3']
data = (sigma*np.random.rand(12)+mu).reshape(4,3).round()
students = ['student1', 'student2', 'student3', 'student4']

df = pd.DataFrame(data=data, columns=header)
df

65 10

   exam1  exam2  exam3
0   65.0   70.0   71.0
1   73.0   72.0   72.0
2   68.0   65.0   70.0
3   72.0   73.0   69.0

In [122]:
df = pd.DataFrame(data=data, index=students, columns=header)
df

          exam1  exam2  exam3
student1   65.0   70.0   71.0
student2   73.0   72.0   72.0
student3   68.0   65.0   70.0
student4   72.0   73.0   69.0

In [112]:
df[['exam1', 'exam2']]

          exam1  exam2
student1   73.0   74.0
student2   66.0   66.0
student3   67.0   67.0
student4   68.0   73.0

In [123]:
df['average'] = ((df['exam1'] + df['exam2'] + df['exam3'])/3).round()
df

          exam1  exam2  exam3  average
student1   65.0   70.0   71.0     69.0
student2   73.0   72.0   72.0     72.0
student3   68.0   65.0   70.0     68.0
student4   72.0   73.0   69.0     71.0

In [130]:
import numpy as np
import pandas as pd
np.random.seed(503)
print(mu, sigma)
header = ['exam1', 'exam2', 'exam3']
data = (sigma*np.random.rand(12)+mu).reshape(4,3).round()
students = ['student1', 'student2', 'student3', 'student4']

df = pd.DataFrame(data=data, columns=header, index=students)
df["average"] = (df.sum(axis=1)/3).round()
df

65 10

          exam1  exam2  exam3  average
student1   65.0   70.0   71.0     69.0
student2   73.0   72.0   72.0     72.0
student3   68.0   65.0   70.0     68.0
student4   72.0   73.0   69.0     71.0

In [132]:
import numpy as np
import pandas as pd
np.random.seed(503)
print(mu, sigma)
header = ['exam1', 'exam2', 'exam3']
data = (sigma*np.random.rand(12)+mu).reshape(4,3).round()
students = ['student1', 'student2', 'student3', 'student4']

df = pd.DataFrame(data=data, columns=header, index=students)
df["average"] = (df.mean(axis=1)).round()
df

65 10

          exam1  exam2  exam3  average
student1   65.0   70.0   71.0     69.0
student2   73.0   72.0   72.0     72.0
student3   68.0   65.0   70.0     68.0
student4   72.0   73.0   69.0     71.0

In [133]:
df.drop('average')

KeyError: "['average'] not found in axis"

In [134]:
df.drop('average',axis=1)

          exam1  exam2  exam3
student1   65.0   70.0   71.0
student2   73.0   72.0   72.0
student3   68.0   65.0   70.0
student4   72.0   73.0   69.0

In [135]:
df

          exam1  exam2  exam3  average
student1   65.0   70.0   71.0     69.0
student2   73.0   72.0   72.0     72.0
student3   68.0   65.0   70.0     68.0
student4   72.0   73.0   69.0     71.0

In [136]:
df.drop('average', axis=1, inplace=True)

In [137]:
df

          exam1  exam2  exam3
student1   65.0   70.0   71.0
student2   73.0   72.0   72.0
student3   68.0   65.0   70.0
student4   72.0   73.0   69.0

In [138]:
df.drop('student3')
df

          exam1  exam2  exam3
student1   65.0   70.0   71.0
student2   73.0   72.0   72.0
student4   72.0   73.0   69.0

          exam1  exam2  exam3
student1   65.0   70.0   71.0
student2   73.0   72.0   72.0
student3   68.0   65.0   70.0
student4   72.0   73.0   69.0

In [140]:
header = ['exam1', 'exam2', 'exam3']
data = np.random.randint(65, 101, 12).reshape(4,3)
students = ['student1', 'student2', 'student3', 'student4']
df = pd.DataFrame(data=data, index=students, columns=header)
# df['student1'] # doesn't work because the default for [] brackets is column name selection
df.loc['student1']
df.iloc[0] ## remember that column names do not count as rows

exam1    91
exam2    80
exam3    78
Name: student1, dtype: int64

exam1    91
exam2    80
exam3    78
Name: student1, dtype: int64

In [155]:
import pandas as pd
columns = ('StudentName', 'E1', 'E2', 'E3', 'E4','E5')
df = pd.read_csv("testdata_1.txt", header=None)
df
df.columns = columns
df
# df.set_index("StudentName",inplace=True)
# df

           0    1   2   3   4   5
0   student1   92  77  87  77  94
1   student2   74  93  88  67  85
2   student3   83  96  74  79  92
3   student4  100  72  83  85  66
4   student5   77  96  66  79  92
5   student6  100  86  84  70  71
6   student7   66  91  94  97  80
7   student8   97  86  75  69  88
8   student9   95  98  99  85  86
9  student10   78  76  73  88  86

  StudentName   E1  E2  E3  E4  E5
0    student1   92  77  87  77  94
1    student2   74  93  88  67  85
2    student3   83  96  74  79  92
3    student4  100  72  83  85  66
4    student5   77  96  66  79  92
5    student6  100  86  84  70  71
6    student7   66  91  94  97  80
7    student8   97  86  75  69  88
8    student9   95  98  99  85  86
9   student10   78  76  73  88  86

In [157]:
df['StudentName']

KeyError: 0

In [158]:
df[['StudentName', 'E1']]

  StudentName   E1
0    student1   92
1    student2   74
2    student3   83
3    student4  100
4    student5   77
5    student6  100
6    student7   66
7    student8   97
8    student9   95
9   student10   78

In [159]:
df[('StudentName', 'E1')]

KeyError: ('StudentName', 'E1')

In [160]:
df[1:5]

  StudentName   E1  E2  E3  E4  E5
1    student2   74  93  88  67  85
2    student3   83  96  74  79  92
3    student4  100  72  83  85  66
4    student5   77  96  66  79  92