In [2]:
def return_val(x):
    x = 3
    return x

x = 1
x = return_val(x)
print(x)

print(x)

3
3

In [4]:
def return_val(lst):
    lst.append('ME')
    # return lst

lst = [1, 2, 3]
return_val(lst)
print(lst)

[1, 2, 3, 'ME']

In [7]:
def return_val(dct):
    dct[5] = 6
    # return 'Hi!'

dct = {1:2, 3:4}
return_val(dct)
print(dct)

{1: 2, 3: 4, 5: 6}

In [ ]:
variable = 'Global reporting!'


def use_variable_global():
    ## since variable is outside the function
    print(variable)

In [15]:
##

def func1():
    print('a', a)
    d = 15
    def func3(c):
        print('c', c)
        print('a from func3', a)
        print('d from func3', d)
        
    func3(3)
    

    

def func2(b):
    print('b', b)
    print('d from func2', d)
    
a = 56
func1()
func2(99)
##

a 56
c 3
a from func3 56
d from func3 15
b 99

NameError: name 'd' is not defined

In [18]:

variable = 'Global reporting!'
def use_variable_global():
    ## since variable is outside the function
    print(variable)

use_variable_global()

Global reporting!

In [20]:
def use_variable_local():
    variable = 'Local reporting!'
    print(variable)

use_variable_local()
print(variable)

Local reporting!
Global reporting!

In [22]:
def change_global_inside_function():
    global variable
    variable = 'I have been changed!'
    print(variable)
change_global_inside_function()
print(variable)

I have been changed!
I have been changed!

In [24]:
def function1(my_list, my_variable):
	print('my_list before change inside function1', my_list)
	print('my_variable before change inside function1', my_variable)
	my_list.append(30)
	my_variable = 10

	print('my_list after change inside function1', my_list)
	print('my_variable after change inside function1', my_variable)

my_list = [1, 2, 3]
my_variable = 4

function1(my_list, my_variable)
print(my_list, my_variable)

my_list before change inside function1 [1, 2, 3]
my_variable before change inside function1 4
my_list after change inside function1 [1, 2, 3, 30]
my_variable after change inside function1 10
[1, 2, 3, 30] 4

In [25]:
def function2(my_list, my_vairable):
	# https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list

	my_list = my_list[:] # quiz deep copy vs shallow copy
	my_list.append(90)
	my_variable = 45

	print('my_list after change inside function2', my_list)
	print('my_variable after change inside function2', my_variable)


my_list = [1, 2, 3]
my_variable = 4

function2(my_list, my_variable)
print(my_list, my_variable)

my_list after change inside function2 [1, 2, 3, 90]
my_variable after change inside function2 45
[1, 2, 3] 4

In [32]:
def function2(my_list, my_vairable):
    # https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list
    import copy
    my_list = copy.deepcopy(my_list) # quiz deep copy vs shallow copy
    my_list[-1].append(90)
    my_variable = 45

    print('my_list after change inside function2', my_list)
    print('my_variable after change inside function2', my_variable)


my_list = [1, 2, 3, [44,]]
my_variable = 4

function2(my_list, my_variable)
print(my_list, my_variable)

my_list after change inside function2 [1, 2, 3, [44, 90]]
my_variable after change inside function2 45
[1, 2, 3, [44]] 4

In [34]:
# function 
def average(numbers): 
  return sum(numbers) / len(numbers)

# data
scores = [80, 90, 95, 92, 85]

# User has to know which data to pass into function
# to get desired output
print(f'The average score is {average(scores)}.')

The average score is 88.4.

In [ ]:
class ScoreList:
    pass #empty

def my_func():
    pass #empty

In [37]:
class ScoreList:
  def __init__(self, scores):
    self.scores = scores

  def average(self):
    return sum(self.scores) / len(self.scores)

scores = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [41]:
class ScoresList:
  def __init__(self):
    print('I am inside init')

s1 = ScoresList()

s2 = ScoresList()

I am inside init
I am inside init

In [43]:
class ScoresList:
  def __init__(self, scores):
    print(scores)

s = ScoresList([1, 2, 3, 4])
s.scores

[1, 2, 3, 4]

AttributeError: 'ScoresList' object has no attribute 'scores'

In [55]:
from abc import ABC
class ScoresList(ABC):
    pass

ScoresList([1, 2])

TypeError: ScoresList() takes no arguments

In [ ]:
# AttributeError: 'ScoresList' object has no attribute 'scores'
# both methods and saved data inside a class are called attribute

In [52]:
class ScoresList:
  def __init__(self, scores):
    self.scores = scores

s2 = ScoresList([1, 2, 3, 4])
s2.scores

[1, 2, 3, 4]

In [47]:
s3 = ScoresList([5, 6, 7, 8])
s3.scores

[5, 6, 7, 8]

In [57]:
x = 1

In [ ]:
x.

In [ ]:
s.

In [58]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(1, 2)
p2 = Point(3, 4)

In [59]:
p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)

<__main__.Point object at 0x7b745d46ba40>
<__main__.Point object at 0x7b745ddc2960>

In [60]:
print(p1 == p2)

False

In [63]:
print(p1 is p2)

False

In [66]:
x = 1
y = 1
x is y

True

In [67]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)

Point(x=10, y=10)
Point(x=10, y=10)

In [68]:
p1 == p2

True

In [69]:
p1 is p2

False

In [70]:
id(p1)

135739723801472

In [71]:
id(p2)

135739723799040

In [72]:
x = {1: 2, 3:4}
y = x
print(x == y)
print(x is y)

True
True

In [74]:
x = {1: 2, 3:4}
y = {1: 2, 3:4}
print(x == y)
print(x is y)

True
False

In [73]:
x = {3:4, 1:2}
y = {1:2, 3:4}
print(x == y)
print(x is y)

True
False

In [79]:
class ScoreList():
    def __init__(self, scores):
        self.scores = tuple(scores)

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [80]:
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [ ]:
scores = [['John', [1, 2, 34]], ['Jane', [1, 3, 4]]]

In [83]:
(1, 2, 3) == [1, 2, 3,]

True

In [101]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __repr__(self):
        # extract representation
        return f'Point({self.x}, {self.y})'

    def __str__(self):
        # human readable
        return f"x={self.x}, y={self.y}" # quiz



p1 = Point(10, 10)

In [102]:
print(p1)

x=10, y=10

In [100]:
p1

Point(10, 10)

print --> __str__ --> __repr__
without print --> __repr__

In [104]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int


    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [105]:
p1.x = 20

AttributeError: can't set attribute

In [106]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [107]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

In [108]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._replace(x=5))
print(p2._replace(x=5))
print(dataclasses.replace(p3, x=5))

Point(x=5, y=12)
x: 5; y: 12
x: 5; y: 12

In [110]:
print(p1, p2, p3)

Point(x=10, y=12) x: 10; y: 12 x: 10; y: 12

In [111]:
Point = namedtuple('Point', 'x y', defaults=[5])
p1 = Point(1)
print(p1)

Point(x=1, y=5)

In [113]:
Point = namedtuple('Point', 'x y', defaults=[10])
p1 = Point(1)
print(p1)

Point(x=1, y=10)

In [118]:
Point = namedtuple('Point', 'x y', defaults=[90])
p1 = Point(3)
print(p1)

Point(x=3, y=90)

In [119]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p1

John Doe

In [122]:
email = 'blah@blah.com'
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def get_email(self):
        return self.email # self 

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p1.get_email()

'jdoe@buffalo.edu'

In [123]:
p1.email

'jdoe@buffalo.edu'

In [124]:
p1.get_full_name()

'Doe, John'