# Review 

## Basics

- Data type
  - int - integer 3
  - float -- floating 3.14
  - str
- Operators
   - +, -, /, //, *,
 
## Functions
-

In [1]:
round(3.5)

4

In [2]:
round(4.5)

4

In [3]:
import math
print('round:', round(3.141592653))
print('ceil:', math.ceil(3.141592653))
print('floor:', math.floor(3.141592653))

round: 3
ceil: 4
floor: 3

In [4]:
import decimal
print(decimal.Decimal(2.67))

2.6699999999999999289457264239899814128875732421875

In [9]:
import decimal
print(decimal.Decimal(3.675))
print(round(3.675,2))

3.67499999999999982236431605997495353221893310546875
3.67

In [11]:
round(4.55)

5

In [12]:
round(4.55, 1)

4.5

In [13]:
round(4.5)

4

In [14]:
type(round(4.5))

int

In [ ]:
def f(x):
    squared_x  = x * x
    return squared_x

In [16]:
def f1():
    print("""Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!""")
f1()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!

In [17]:
def f2():
    print("""Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!
Happy birthday to you!""")
f2()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!
Happy birthday to you!

In [18]:
def f3():
    print("""Happy birthday to you!!!
Happy birthday to you!!!""")

f3()

Happy birthday to you!!!
Happy birthday to you!!!

In [19]:
def f4():
    f3()
    print("Happy birthday, dear John")
    f3()

f4()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [21]:
def f5(name):
    f3()
    print("Happy birthday, dear " + name)
    f3()

f5("john")

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear john
Happy birthday to you!!!
Happy birthday to you!!!

In [22]:
f5("jane")

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear jane
Happy birthday to you!!!
Happy birthday to you!!!

In [23]:
def no_input_no_ouput():
    print("I don't output anything")

no_input_no_ouput()

I don't output anything

In [26]:
def var1(name):
    print("My name is: " + name)

var1("john")

My name is: john

In [27]:
def add(x,y):
    return x + y

add(2,4)

6

In [29]:
import random

random.randint(1, 100)

61

In [30]:
def var1(name):
    print("My name is: " + name)


output = var1("Jessica")
print(output)

My name is: Jessica
None

In [31]:
def no_input_no_ouput():
    print("I don't output anything")

output2 = no_input_no_ouput()
print(output2)

I don't output anything
None

In [ ]:
def no_input_no_ouput():
    print("I don't output anything")
    return None ##

In [33]:
def f(x):
    x = x * 2
    return x
print(f(4))

8

In [35]:
x = 5
f(x)

10

In [37]:
y = 1

def quadratic(a, b, c, x):
    """ax^2 + bx + c"""
    first = a * x ** 2
    second = b * x
    third = c
    return first + second + third


    
quadratic(2, 3, 4, 0.5)
print(y)

1

In [38]:
x = "3.14"

In [39]:
len(x)

4

In [40]:
2 + 3.4

5.4

In [41]:
2 + "3.4"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
"2" + "3.4"

'23.4'

In [43]:
"2" * 4

'2222'

In [44]:
4 * "3.14"

'3.143.143.143.14'

In [45]:
x = "2"
x += x
print(x)

22

In [46]:
x = "2"
x *= x
print(x)

TypeError: can't multiply sequence by non-int of type 'str'

In [48]:
int("3")  * 9

27

In [52]:
int("3")  + 9

12

In [50]:
"3"  + int(9)

TypeError: can only concatenate str (not "int") to str

In [53]:
str(3.1415)

'3.1415'

In [54]:
print('abbcd', 2, 3)

abbcd 2 3

In [55]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [56]:
print('abbcd', 2, 3, sep=",")

abbcd,2,3

In [57]:
print('abbcd', 2, 3, sep=", ")

abbcd, 2, 3

In [58]:
print('abbcd', 2, 3, sep="\n")

abbcd
2
3

In [63]:
x = "He said, \"I don't care\""

In [64]:
x

'He said, "I don\'t care"'

In [65]:
print(x)

He said, "I don't care"

In [66]:
x = "abc\tdefg\thijk"
x

'abc\tdefg\thijk'

In [67]:
print(x)

abc	defg	hijk

In [68]:
x = "abc\ndefg\nhijk"
x

'abc\ndefg\nhijk'

In [69]:
print(x)

abc
defg
hijk

In [71]:
"hello \""

'hello "'

In [73]:
x = "hello \\"

In [74]:
print(x)

hello \

In [75]:
"I don't care"

"I don't care"

In [76]:
def f(x):
    return x * x
f(2)

4

In [77]:
x = input("Give me a number: ")

Give me a number:  3

In [78]:
x

'3'

In [79]:
type(x)

str

In [81]:
y = int(x)
print(y*9)

27

In [82]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [83]:
convert_celsius()

Please enter temperature in Fahrenheit:  212

The temperature in celsius is:  100.0

In [84]:
convert_celsius()

Please enter temperature in Fahrenheit:  78

The temperature in celsius is:  25.555555555555557

In [85]:
convert_celsius()

Please enter temperature in Fahrenheit:  44.5.5

ValueError: could not convert string to float: '44.5.5'

In [86]:
x = "3.14"
first_name = "john"
last_name = "doe"
first_name + last_name

'johndoe'

In [87]:
PI = 3.14159265359 
print(f'{PI:.2f}')

3.14

In [89]:
round(4.556, 1)

4.6

In [93]:
print(f"{round(4.556,1):.2f}")

4.60

In [94]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [95]:
PI = 3.14159265359 
name = 'PI'
print(('{} is {:.2f}'.format(name, PI)) ) #

PI is 3.14

In [97]:
PI = 3.14159265359 
name = 'PI'
# {<variable or expression>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {2*2:.2f}') # newest way

PI is 4.00

In [98]:
{<variable or expression>:<format-specifier>}

SyntaxError: invalid syntax (3003980450.py, line 1)

In [ ]:
<padding_character><alignment><width>.<comma><precision><type>

In [ ]:
MRN = 00000123

In [100]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2
print(lines)

This is the first line.
This is the second line.

In [101]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [102]:
str_format = '{}'
print(str_format)

{}

In [103]:
print(str_format.format("234234"))

234234

In [104]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

In [105]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [106]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {class_size}. It has {course_number} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

In [108]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students. The class average is {2}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number}. It has {class_size} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3.
The course number is EAS503. It has 113 students. The class average is 92.3.

In [109]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3.
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [110]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3.
The course number is     EAS503. It has        113 students. The class average is       92.3.

In [111]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:<10}. It has {1:<10} students. The class average is {2:<10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3      .
The course number is EAS503    . It has 113        students. The class average is 92.3      .

In [112]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3   .
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

In [115]:
student_id = 223333
my_str = "blah"

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08} {my_str:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333 blah0000

In [116]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:->8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros --223333
The number padded 223333 padded with zeros --223333

In [117]:
number = 123_456
f'{number:,}'

'123,456'

In [118]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [122]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [119]:
'{:^51}'.format('Cereal Yields (kg/ha)')

'               Cereal Yields (kg/ha)               '

In [124]:
top_line = '+' + '-'*(len(title)-2) + '+'
print(top_line)
print(title)

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |

In [127]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4

In [128]:
line

'+---------------+--------+--------+--------+--------+'

In [129]:
row = '| {:<13} |' + ' {:6,d} |'*4
print(row)

| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |

In [130]:
row.format('China', 2937, 4321, 4752, 5527)

'| China         |  2,937 |  4,321 |  4,752 |  5,527 |'

In [ ]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)

In [131]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [132]:
with open('test_file.txt', 'w') as file:  # w -write, a - append, r - read
    file.write('line1\nline2')

In [133]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4

header = '| {:^widths} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))
print(file_content)
with open('test_file2.txt', 'w') as file:
    file.write(file_content)

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [142]:
width=20
padding_char = "*"
x = "1234"
print(f"{x:{padding_char}>{width}}")

****************1234