In [12]:
x = "first_second_third_fourth_fifth" # first second third fourth fifth
# snake -- first_second_third_fourth_fifth
# camel -- firstSecondThirdFourthFifth
# pascal case -- FirstSecondThirdFourthFifth
# crappy case -- FirstSecondThirdFOURTHFifth
def snake_to_camel(input_string, is_pascal=False):
    output_string = ""
    for index, ele in enumerate(input_string.split("_")):
        if index == 0: 
            if is_pascal:
                output_string += ele.capitalize()
            else:
                output_string += ele
        else: # elif index >= 1: # index >= 1
             output_string += ele.capitalize()
    
    return output_string

snake_to_camel(x, True)

'FirstSecondThirdFourthFifth'

In [14]:
x = "first_second_third_fourth_fifth" # first second third fourth fifth
# snake -- first_second_third_fourth_fifth
# camel -- firstSecondThirdFourthFifth
# pascal case -- FirstSecondThirdFourthFifth
def snake_to_camel(input_string, is_pascal=False):
    output_string = ""
    for index, ele in enumerate(input_string.split("_")):

        if index == 0 and is_pascal:
            ele = ele.capitalize()
        elif index >= 1:
            ele = ele.capitalize()
        output_string += ele
      
    
    return output_string

snake_to_camel(x, False)

'firstSecondThirdFourthFifth'

In [18]:
x = "first_second_third_fourth_fifth" # first second third fourth fifth
# snake -- first_second_third_fourth_fifth
# camel -- firstSecondThirdFourthFifth
# pascal case -- FirstSecondThirdFourthFifth
# crappy case -- FirstSecondThirdFOURTHFifth
def snake_to_camel(input_string, is_pascal=False):
    output_string = ""
    for index, ele in enumerate(input_string.split("_")):
        if index == 0: 
            if is_pascal:
                output_string += ele.capitalize()
            else:
                output_string += ele
        elif index == 3:
            output_string += ele.upper()
        else: # elif index >= 1: # index >= 1
             output_string += ele.capitalize()
        
    
    return output_string
x = "first_second_third"
snake_to_camel(x, True)

'FirstSecondThird'

In [26]:
def ex1(values):
    output = 0 #### 
    # why not init an empty tuple?
    for value in values:
        output += value
    return output

ex1(range(5))

10

In [27]:
sum(range(5))

10

In [28]:
def ex2(values):
    total = sum(values)
    average = total / len(values)
    return average

ex2(range(5))

2.0

In [29]:
def ex2(values):
    total = 0
    count = 0
    for value in values:
        total += value
        count += 1
    average = total / count
    return round(average, 2)

ex2(range(5))

2.0

In [31]:
def ex4(values):
    output = []
    for value in values:
        output.append(value * 2)
    return output

ex4([1, 2, 3, 4])

[2, 4, 6, 8]

In [32]:
def ex4(values):
    for idx, value in enumerate(values):
        values[idx] = value * 2
    return values

ex4([1, 2, 3, 4])

[2, 4, 6, 8]

In [33]:
def ex5(values, power):
    output = []
    for value in values:
        output.append(value ** power)

    return output

ex5([1, 2, 3, 4], 3)

[1, 8, 27, 64]

In [34]:
def ex6(values):
    output = []
    for value in values:
        if value not in output:
            output.append(value)
    return output

ex6([1, 1, 2, 1, 3, 4, 4, 5, 6, 1])

[1, 2, 3, 4, 5, 6]

In [43]:
filename = "for_ex7_data1.txt"
values = []
with open(filename, 'r') as file: # open file -- w - write (will delete old content), r - read , a - append
    for line in file:
        line = line.strip()
        print(line)
        values.append(int(line))

# outside the with context
sum(values) / len(values)

80
90
78
56
90

78.8

In [38]:
"90\n"

'90'

In [36]:
x = [1, 2, 3, 4]
for val in x:
    print(val)

1
2
3
4

In [37]:
val

4

In [45]:
filename = "for_ex7_data2.txt"
values = []
with open(filename, 'r') as file: # open file -- w - write (will delete old content), r - read , a - append
    for line in file:
        line = line.strip()
        if not line: # is asking is the line empty?
            continue
        print(line)
        values.append(int(line))

# outside the with context
sum(values) / len(values)

99
98
78
43
34
99
0

64.42857142857143

In [49]:
filename = "for_ex7_data3.txt"
values = []
with open(filename, 'r') as file: # open file -- w - write (will delete old content), r - read , a - append
    for line in file:
        line = line.strip()
        if not line: # is asking is the line empty?
            continue
        print(line)
        try:
            value = float(line)
        except ValueError:
            print("Skipping value", line)
            continue
        
        values.append(value)

# outside the with context
sum(values) / len(values)

99.4
98.5
99.o
Skipping value 99.o
78.34
43.34
34
99
AAB
Skipping value AAB
9A.00
Skipping value 9A.00

75.43

In [62]:

# head == 0
# tail == 1

def ex8(no_flips):
    import random
    output_string = ""
    for _ in range(no_flips):
        flip = random.randint(0,1)  
        if flip == 0:
            output_string += "H"
        else:
            output_string += "T"
    return output_string


ex8(10)

'TTTHTTTTHT'

In [55]:
x = 2

In [57]:
x * x

4

In [60]:
print(_)

4

In [70]:
def ex9(no_flips):
    flips = ex8(no_flips)
    no_heads = flips.count('H')
    no_tails = flips.count('T')

    p_h = no_heads / no_flips
    p_t = no_tails / no_flips
    return (p_h, p_t)

for _ in range(10):
    print(ex9(10))

(0.3, 0.7)
(0.3, 0.7)
(0.6, 0.4)
(0.4, 0.6)
(0.5, 0.5)
(0.5, 0.5)
(0.2, 0.8)
(0.4, 0.6)
(0.4, 0.6)
(0.5, 0.5)

In [72]:
for no_flips in (10, 100, 1_000, 10_000, 100_000, 1_000_000, 10_000_000):
    print(no_flips, ex9(no_flips))

10 (0.5, 0.5)
100 (0.42, 0.58)
1000 (0.516, 0.484)
10000 (0.4965, 0.5035)
100000 (0.49972, 0.50028)
1000000 (0.500257, 0.499743)
10000000 (0.4999932, 0.5000068)

In [81]:
import random
random.seed(22)
for _ in range(10):
    print(random.randint(1,100))

18
32
4
79
58
24
90
16
95
84

In [87]:
filename = "for_ex11_data.txt"

with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
        name, *grades = line.split(',')
        grades2 = []
        for grade in grades:
            grades2.append(int(grade))
        print(name, sum(grades2)/len(grades2))

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [88]:
x = '83.149.9.216 - - [17/May/2015:10:05:03 +0000] "GET /presentations/logstash-monitorama-2013/images/kibana-search.png HTTP/1.1" 200 203023 "http://semicomplete.com/presentations/logstash-monitorama-2013/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.77 Safari/537.36"'
print(x)

83.149.9.216 - - [17/May/2015:10:05:03 +0000] "GET /presentations/logstash-monitorama-2013/images/kibana-search.png HTTP/1.1" 200 203023 "http://semicomplete.com/presentations/logstash-monitorama-2013/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.77 Safari/537.36"

In [106]:
h, i, u, *rest = x.split(" ", 3)
rest = rest[0]

In [107]:
print(h, i, u)

83.149.9.216 - -

In [108]:
start_idx = rest.find('[')
stop_idx = rest.find(']')
t = rest[start_idx+1:stop_idx]
rest = rest[stop_idx+1:]
t

'17/May/2015:10:05:03 +0000'

In [109]:

rest

' "GET /presentations/logstash-monitorama-2013/images/kibana-search.png HTTP/1.1" 200 203023 "http://semicomplete.com/presentations/logstash-monitorama-2013/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/32.0.1700.77 Safari/537.36"'