In [4]:
my_list = [
    {'value': '134.4', 'username': 'mkzia'},
    {'value': '25.3'}, 
    {'value': '73.4'}
]

def my_custom_sort_function(ele):
    return float(ele.get('value'))

my_custom_sort_function(my_list[0])

134.4

In [5]:
sorted(my_list, key=my_custom_sort_function) # [134.4, 25.3, 73.4]

[{'value': '25.3'}, {'value': '73.4'}, {'value': '134.4'}]

In [7]:
sorted(my_list, key=lambda ele: float(ele.get('value'))) # [134.4, 25.3, 73.4]

[{'value': '25.3'}, {'value': '73.4'}, {'value': '134.4'}]

In [9]:
# filter(func, sequence)
list(filter(lambda ele: float(ele.get('value')) >= 70, my_list))

[{'value': '134.4'}, {'value': '73.4'}]

In [10]:
# map(func, sequence)
list(map(lambda ele: f"{ele.get('value')}: PASS" if float(ele.get('value')) > 70 else f"{ele.get('value')}: FAIL" , my_list))

['134.4: PASS', '25.3: FAIL', '73.4: PASS']

In [14]:
# map(func, sequence)
my_list = [
    {'value': '134.4', 'username': 'mkzia'},
    {'value': '25.3'}, 
    {'value': '73.4'}
]

def mapper(ele):
    value = float(ele.get('value'))
    if value > 70:
        return f"{value}: PASS" 
    else:
        return f"{value}: FAIL" 
list(map(mapper, my_list))

['134.4: PASS', '25.3: FAIL', '73.4: PASS']

In [16]:
min(my_list, key=lambda ele: float(ele.get('value')))

{'value': '25.3'}

In [17]:
max(my_list, key=lambda ele: float(ele.get('value')))

{'value': '134.4', 'username': 'mkzia'}

In [26]:

for ele in sorted(map(str.strip, open("people.tsv").readlines()), key=lambda line: (line.split('\t')[3], line.split('\t')[0])):
    print(ele)

Armstrong	Mariah	rhodesnicholas@hotmail.com	Albania	OHOV7518558201999
Keith	Sabrina	xmurphy@yahoo.com	Algeria	QHIW7412514205367
Ramsey	Angela	cparks@valdez-hudson.com	Andorra	QYBW6359021109484
Wallace	Debbie	terri95@hotmail.com	Antigua and Barbuda	JRBN0811785293731
Francis	Todd	amanda23@hotmail.com	Argentina	XPTQ7837014557677
Harris	Megan	ndelacruz@yahoo.com	Armenia	EOPA8088866975598
Wheeler	Zachary	stephen63@yahoo.com	Armenia	OMQX4840913072589
Fletcher	Austin	carolharrington@fleming.org	Azerbaijan	GJZT6825738428111
Bennett	Brianna	cindy08@gmail.com	Bahamas	UNPV3347450330173
Thomas	Timothy	bryanmartin@gmail.com	Bahrain	OCFV4659464275270
Anderson	Raymond	dprince@hotmail.com	Barbados	IGXK5881682171566
Jones	Timothy	jenniferadkins@griffin.biz	Benin	JCUN9597199552039
Jenkins	Caleb	douglas63@yahoo.com	Botswana	IILE1765776198023
Turner	Beth	sydneycollins@hunter.com	Burundi	OMOK4767172062189
Thompson	Jennifer	moralesmartin@rodgers.com	Cape Verde	MGFG2793756668287
Flores	Zachary	zcalhoun@gmail.com	Central African Republic	ACQR2846533122117
Krueger	Kenneth	jennajoseph@yahoo.com	Central African Republic	BIGY3006735396533
Anderson	Mary	suebrown@yahoo.com	Chile	DHMT4208071148508
Owen	Kristina	megan24@stewart.net	Cocos (Keeling) Islands	WRXW4627191899235
Calderon	Christopher	teresa30@carpenter-warner.com	Costa Rica	NERZ5502558659614
Johnson	Brianna	martinezdaniel@hotmail.com	Costa Rica	QOVO4275314052899
Nguyen	Robert	jessica62@yahoo.com	Croatia	JQHS4274771257925
Lawson	Tracy	piercejenna@gmail.com	Czech Republic	ATOT8581137487723
Castaneda	Thomas	kpena@yahoo.com	Egypt	LSDI9463735752680
Edwards	Darius	nchurch@yahoo.com	Eritrea	CURJ9953745256871
Carter	Lee	kfletcher@yahoo.com	Faroe Islands	DPLN5056382218296
Burch	Tracie	evansmiguel@yahoo.com	Fiji	IZYL3351829981461
Reyes	Gerald	brownclarence@gonzalez-moore.com	Fiji	JCDK1943355298609
Grant	Melissa	schaefernatalie@hotmail.com	French Guiana	CFQJ4204773901237
Moore	Heather	mark00@hotmail.com	French Polynesia	OSSM9070924947595
Carpenter	Jonathan	fklein@yahoo.com	Germany	PKFW4841194501766
Hubbard	Paul	ubradley@yahoo.com	Germany	FGBC0366153271398
Werner	Brandon	justinfischer@gmail.com	Guadeloupe	UKRT1119626365017
Peters	Jeremy	johnlewis@hotmail.com	Guam	NZFX8257739892619
Mcknight	Ann	kristinavelasquez@gmail.com	Guatemala	DTRB4720098955341
Edwards	Valerie	woodardlindsey@yahoo.com	Guinea	ZJUF2687631787282
Nash	Linda	robertdavis@hotmail.com	Heard Island and McDonald Islands	ZKTE5908966955533
Schmidt	Diana	watersryan@gmail.com	Holy See (Vatican City State)	UKCP6739617302102
Smith	Joseph	michael74@yahoo.com	Hong Kong	MNXY3262955868027
Chung	Jason	kenneththompson@baxter.com	Iceland	JDIH2349154465371
Abbott	Brandon	jennifer87@gmail.com	Jamaica	RSLD0426398604312
Nelson	Greg	mmiller@lynch.com	Jordan	PCNE8127696280157
Levy	Daniel	beancody@jones.com	Kazakhstan	AHBN3151680654826
Owens	Jackson	iedwards@yahoo.com	Kazakhstan	FVQZ0955529767455
Nguyen	Robin	vhanson@yahoo.com	Kenya	SVMU4403517448078
Stone	Mark	nmoore@hotmail.com	Kuwait	MWRB2515761996641
Boyle	Anthony	smithashlee@yahoo.com	Kyrgyz Republic	MCQU7347833033110
Salazar	Mary	mary64@ray.org	Latvia	KCNI2464381879411
Griffith	Latoya	ryan32@skinner.com	Lesotho	BNYD8693045932496
Edwards	Haley	martinkimberly@lopez.com	Macedonia	OGPU6537909247863
Melton	Samantha	bcurtis@hotmail.com	Macedonia	VRZP1447516193511
Todd	Jonathan	julie68@gmail.com	Malaysia	ISYY1401931979959
Cooper	Christina	ddavidson@hotmail.com	Maldives	RQGA0882784089265
Shaw	Stephen	jackduke@hotmail.com	Marshall Islands	TRLQ6559557081716
Weiss	Shane	leekatherine@williams.com	Martinique	DLDV5789894914403
Gilmore	Patrick	arogers@smith.com	Mauritius	QFIM0905182880347
Nelson	Jeffrey	hsherman@gmail.com	Mayotte	ECGK2823955143629
Ray	Angela	swhite@yahoo.com	Mayotte	UBRR8524342666714
Woodward	Kayla	danielle65@yahoo.com	Mexico	VDWY7565964041116
Potts	Savannah	kristentaylor@yahoo.com	Micronesia	ARWK1547324119222
Gonzales	Betty	martinezrichard@yahoo.com	Montserrat	UTSI0776569247505
Oneill	Bruce	morenolindsay@bass.org	Montserrat	UYHI6964741005832
Wilson	Elizabeth	christiandanielle@yahoo.com	Montserrat	SAAA4141150617330
Blair	Kim	tmurphy@flores.biz	Nepal	FQJA6381776349463
Weaver	Michael	xdunn@hotmail.com	Nepal	QVJP6465242365388
Perez	Jeffrey	plewis@chavez.com	New Zealand	YWOT0997131632248
Cameron	Kathleen	melanie81@rogers.com	Niger	HHHP3471562002758
Huff	Sean	byoung@gmail.com	Norfolk Island	WDAT4146843903498
Hardy	Teresa	kdavidson@gordon.com	Norway	XNWQ1072087896797
Allen	Erica	michaelhall@hotmail.com	Palau	ZAZD8310339637467
White	Joshua	steven49@gmail.com	Palau	BCEN3299883381338
Castillo	Ashley	cory33@king-shaw.net	Paraguay	QXGZ3111246190069
Burke	Phillip	watsonsamuel@gmail.com	Peru	CNJX1222752295544
Figueroa	Judy	ystewart@yahoo.com	Portugal	EEVV8325881104553
Smith	Lori	catherine23@gmail.com	Romania	MKWY4848668895426
Lewis	Patrick	lopezcarl@johnson.com	Saint Helena	JOQE2648899771737
Hill	Lisa	hsmith@baker.com	Saint Martin	VUPW6891906300822
Thompson	Ruth	denise01@burns.org	Saint Vincent and the Grenadines	YYHM5758234683389
Wilkinson	Wesley	clineerin@hotmail.com	Saint Vincent and the Grenadines	UWLV6407825245995
Smith	Tiffany	colleengarrison@hotmail.com	San Marino	GPFA8271551275648
Hansen	Michael	phillipssean@hotmail.com	Serbia	QKAF2254397516681
Watkins	Jason	april99@gmail.com	Seychelles	NXKK2792812848629
Stewart	David	bennettwanda@vega-guerra.net	Sierra Leone	FTHM1005169617995
Bennett	Stephanie	sjackson@yahoo.com	Singapore	DNRB2101855092009
Conley	Crystal	chasewatkins@perez-phillips.com	Singapore	GZZF6936998445532
Johnson	Miguel	aaronrichard@middleton.net	Slovakia (Slovak Republic)	QAAO4666689281736
Barron	Dustin	jesse93@best.com	Somalia	LRPR8694143910883
Juarez	Erica	xvelasquez@hughes.com	Spain	ZROP5229895490397
Wilson	Krystal	dawnjohnson@gmail.com	Swaziland	MUVI3570791852556
Aguirre	Michael	robertbowen@chavez-ortega.com	Timor-Leste	KRKF7344951038740
Garcia	Margaret	antonio52@gmail.com	Togo	IYOD4325345823013
Russell	Robyn	bfletcher@yahoo.com	Togo	ZNUY4071301663622
Huang	Randy	xchurch@hotmail.com	Tokelau	KAOL9792684486009
Sullivan	Sharon	gonzalezrobert@hotmail.com	Turkey	YHXF7256577475630
Cuevas	Patrick	ubriggs@hill.info	Turkmenistan	PPHE5533473251751
Robinson	Michael	johnperez@johnson.com	Turkmenistan	UWFU1921951273393
Clark	Charles	jessica11@hotmail.com	Ukraine	AHYX6128839695452
Jones	Jason	anthony75@yahoo.com	Western Sahara	MHTE8867005510944
Thomas	James	fred92@yahoo.com	Yemen	QAAE9838291982555
Garcia	Stacey	lukebradford@hotmail.com	Zimbabwe	HNOA0376843856035
last_name	first_name	email	country	account

In [23]:
ele.split('\t')

['Hansen',
 'Michael',
 'phillipssean@hotmail.com',
 'Serbia',
 'QKAF2254397516681']

In [27]:
def func(()):
   pass

SyntaxError: invalid syntax (1277840458.py, line 1)

In [28]:
for index in some_list
    print(index)

SyntaxError: expected ':' (2246135109.py, line 1)

In [30]:
def func():
   print(variable)

func()

NameError: name 'variable' is not defined

In [31]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In [32]:
my_list = [1, 2, 3]
my_list[4]

IndexError: list index out of range

In [33]:
my_list = [1, 2, 3]
my_list[:44] # quiz

[1, 2, 3]

In [34]:
int('3')
int('3a')

ValueError: invalid literal for int() with base 10: '3a'

In [35]:
student = {'username': 'john', 'grade': 50}
student['class']

KeyError: 'class'

In [36]:
x = [1,2,3]
x.upper()

AttributeError: 'list' object has no attribute 'upper'

In [37]:
raise ValueError('a message')

ValueError: a message

In [38]:

raise ValueError

ValueError:

In [ ]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2

In [39]:
def calculate_bmi(height, weight):
    VALID_DATA_TYPES = {float, int} # 
    # list = [] # slow O(N)
    # tuple = () # slow O(N)
    # dict = {key:value} # very fast O(1)
    # sets = {} # very fast # {key: True} O(1)

    if type(height) not in VALID_DATA_TYPES:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in VALID_DATA_TYPES:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2


calculate_bmi(-1, 20)

ValueError: Height cannot be less than or equal to 0

In [45]:
while True:
    try:
        height = float(input('Please enter height: '))
        weight = float(input('Please enter weight: '))
    except ValueError as error:
        print(error)
        print('Please enter a number')
    else:
        print('I run when there is no error')
        break
    finally:
        print('I always run!')

print(calculate_bmi(height, weight))

Please enter height:  3.14.14

could not convert string to float: '3.14.14'
Please enter a number
I always run!

Please enter height:  3.14
Please enter weight:  3.14

I run when there is no error
I always run!
223.88535031847132

In [41]:
float('3.14.14')

ValueError: could not convert string to float: '3.14.14'

In [47]:
student = {'username': 'john', 'grade': 50}

def get_key(some_dict, key, default_value=None):
    try:
        return some_dict[key]
    except KeyError:
        return default_value


print(get_key(student, 'username1', default_value='Error'))
print(get_key(student, 'username1'))
print(get_key(student, 'username'))

Error
None
john

In [ ]:
filename = 'abcd.txt'
try: 
    file = open(filename) 
except FileNotFoundError: 
    print('File not found') 
except OSError: 
    print('OS error') 
except Exception:
    print('most general error')

In [48]:
# create table 
# combine header + data. And then for each column, find the maximum width and use that to position everything. 


header = [1, 2, 3, 4]

data = [
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

[header] + data

max_width_by_col = [13, 4, 4, 4]
f"{value: max_width_by_col[0]"

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [52]:
def func(a):
    print(a)

func()

TypeError: func() missing 1 required positional argument: 'a'

In [53]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)

func(1, 2)

1 2 0 0

In [54]:
func(1, ham=1, eggs=0)

1 0 0 1

In [55]:
func(1, eggs=0, ham=1)

1 0 0 1

In [56]:
func(1, ham=1)

TypeError: func() missing 1 required positional argument: 'eggs'

In [57]:
func(spam=1, eggs=0)

1 0 0 0

In [58]:
func(toast=1, eggs=2, spam=3)

3 2 1 0

In [62]:
x = dict(ham=4, spam=3, toast=1, eggs=2)
x

{'ham': 4, 'spam': 3, 'toast': 1, 'eggs': 2}

In [63]:
func(**x) # x is  dict {'eggs': 2, 'spam': 3, 'toast': 1, 'ham': 4}, eggs=2, spam=3, toast=1, ham=4

3 2 1 4

In [65]:
func(2,3,1,4)

2 3 1 4

In [66]:
x = dict(spam=3, eggs=2)
func(**x)

3 2 0 0

In [67]:
x = dict(spam=3,)
func(**x)

TypeError: func() missing 1 required positional argument: 'eggs'

In [69]:
x = [11, 22, 33, 44, 55]
func(*x)

TypeError: func() takes from 2 to 4 positional arguments but 5 were given

In [70]:
x = dict(ham=4, spam=3, toast=1, eggs=2, sausage=55)
func(**x)

TypeError: func() got an unexpected keyword argument 'sausage'

In [71]:
min(1, 2, 3, 4, -1, -22)

-22

In [72]:
def f(a, *args, **kwargs): 
	print(a, args, kwargs)

f(1, 2, 3, x=1, y=2)

1 (2, 3) {'x': 1, 'y': 2}

In [74]:
a, *b, c = range(10)
print(a, b, c)

0 [1, 2, 3, 4, 5, 6, 7, 8] 9

In [75]:
f(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, x=1, y=2)

1 (2, 3, 4, 5, 6, 7, 8, 9, 10) {'x': 1, 'y': 2}

In [76]:
f(2, 3, 4, 5, 6, 7, 8, 9, 10, x=1, y=2)

2 (3, 4, 5, 6, 7, 8, 9, 10) {'x': 1, 'y': 2}

In [77]:
f(33)

33 () {}

In [78]:
f()

TypeError: f() missing 1 required positional argument: 'a'

In [79]:
def f(*args, **kwargs): 
	print(args, kwargs)

f()

() {}

In [80]:
def intersect(*args):
    res = []
    for x in args[0]:                  # scan first sequence
        for other in args[1:]:         # for all other args
            if x not in other: 
                break   # item in each one?
        else:                          # no:  break out of loop
            res.append(x)              # yes: add items to end
    return res

# args = ("SSPAM", "SCAM", "SLAM") ## "SPAM"


# --- iteration #1
# x = "S"
# other = S not in "SCAM" False
# update other = S not in "SLAM" False
# res = ["S"]

# --- iteration #2
# x = "P"
# other = P not in "SCAM"

# --- iteration #3
# x = "A"
# other = A not in "SCAM" : false
# other = A not in "SLAM" : false
# res = ["S", "A"]


# --- iteration #4
# x = "M"
# other = M not in "SCAM" : false
# other = M not in "SLAM" : false
# res = ["S", "A", "M"] via the else!!!

In [81]:
s1, s2, s3 = "SPAM", "SCAM", "SLAM"

intersect(s1, s2, s3)

['S', 'A', 'M']

In [82]:
def union(*args):
    res = []
    for seq in args:                   # for all args
        for x in seq:                  # for all nodes
            if not x in res:
                res.append(x)          # add new items to result
    return res
union(s1, s2, s3)

['S', 'P', 'A', 'M', 'C', 'L']

In [84]:
x = 1
y = [3, 4, 5]

def func(x,y):
    x += 1 # immutable
    print('inside x', x)
    y.append(6)  # mutable
    print('inside y', y)
z = (3, 4, 5)
func(x, z)
# If you pass a mutable data type to a function, changes you make persist outside of the function!
print('outside x', x)
print('outside y', y)

inside x 2

AttributeError: 'tuple' object has no attribute 'append'