In [1]:
my_dict = {'ErrorRate': 0}
my_dict['ErrorRate'] += 1
my_dict

{'ErrorRate': 1}

In [2]:
my_dict['ErrorRate'] += 1
my_dict

{'ErrorRate': 2}

In [4]:
my_dict = {'Grades': []}
my_dict['Grades'].append(3)
my_dict

{'Grades': [3]}

In [5]:
my_dict['Grades'].append(53)
my_dict

{'Grades': [3, 53]}

In [7]:
my_dict = {}
if 'LoginCount' not in my_dict:
    my_dict['LoginCount'] =  0
my_dict['LoginCount'] += 1

In [ ]:
my_dict = {}
if 'Grades' not in my_dict:
    my_dict['Grades'] =  []
my_dict['Grades'].append(3)

In [9]:
from collections import defaultdict
my_dict = defaultdict(int) # int 0, list = [], dict = {}
my_dict['a'] += 10
my_dict

defaultdict(int, {'a': 10})

In [10]:
my_dict['aaaaaaa'] += 10
my_dict

defaultdict(int, {'a': 10, 'aaaaaaa': 10})

In [11]:
from collections import defaultdict
my_dict = defaultdict(list)
my_dict['Grades'].append(3)
my_dict

defaultdict(list, {'Grades': [3]})

In [12]:
from collections import Counter
days_in_months = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

Counter(days_in_months)

Counter({31: 7, 30: 4, 0: 1, 28: 1})

In [13]:
values = range(10)
lst = [value * value for value in values]

In [14]:
for ele in lst:
    print(ele)

for ele in lst:
    print(ele)

0
1
4
9
16
25
36
49
64
81
0
1
4
9
16
25
36
49
64
81

In [16]:
values = range(10)
tupl = (value * value for value in values)

In [17]:
for ele in tupl:
    print(ele)

for ele in tupl: # generator has been exhuasted
    print(ele)

0
1
4
9
16
25
36
49
64
81

In [ ]:
{ ele:f(ele) for ele in sequence }

{ ele:f(ele) for ele in sequence if condition }

{ ele:f(ele) if condition else g(ele) for ele in sequence }

{ ele:f(ele) for ele in sequence if condition1 and condition2}

In [19]:
my_dict = {1:2, 3:4, 5:6}

{key: key*value for key, value in my_dict.items()}

{1: 2, 3: 12, 5: 30}

In [20]:
{key: pow(value, 2) for key, value in my_dict.items()}

{1: 4, 3: 16, 5: 36}

In [21]:
{num: num*num for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [22]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [25]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7]
l3 = [9, 10, 11, 12, 15, 18]

for a, b, c in zip(l1, l2, l3):
    print(a, b, c)

1 5 9
2 6 10
3 7 11

In [26]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [27]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [30]:
dict(((1,2), (3,4), (5,6)))

{1: 2, 3: 4, 5: 6}

In [38]:
filename = 'people.tsv'
header = None
users = []
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
        line = line.split('\t')
        if not header: # indicates that I am on the first line
            header = line
            continue

        line = dict(zip(header, line))
        users.append(line)

import json
for user in users:
    print(json.dumps(user, indent=2))

{
  "last_name": "Weaver",
  "first_name": "Michael",
  "email": "xdunn@hotmail.com",
  "country": "Nepal",
  "account": "QVJP6465242365388"
}
{
  "last_name": "Owens",
  "first_name": "Jackson",
  "email": "iedwards@yahoo.com",
  "country": "Kazakhstan",
  "account": "FVQZ0955529767455"
}
{
  "last_name": "Gilmore",
  "first_name": "Patrick",
  "email": "arogers@smith.com",
  "country": "Mauritius",
  "account": "QFIM0905182880347"
}
{
  "last_name": "Perez",
  "first_name": "Jeffrey",
  "email": "plewis@chavez.com",
  "country": "New Zealand",
  "account": "YWOT0997131632248"
}
{
  "last_name": "Thomas",
  "first_name": "James",
  "email": "fred92@yahoo.com",
  "country": "Yemen",
  "account": "QAAE9838291982555"
}
{
  "last_name": "Nelson",
  "first_name": "Greg",
  "email": "mmiller@lynch.com",
  "country": "Jordan",
  "account": "PCNE8127696280157"
}
{
  "last_name": "White",
  "first_name": "Joshua",
  "email": "steven49@gmail.com",
  "country": "Palau",
  "account": "BCEN3299883381338"
}
{
  "last_name": "Francis",
  "first_name": "Todd",
  "email": "amanda23@hotmail.com",
  "country": "Argentina",
  "account": "XPTQ7837014557677"
}
{
  "last_name": "Shaw",
  "first_name": "Stephen",
  "email": "jackduke@hotmail.com",
  "country": "Marshall Islands",
  "account": "TRLQ6559557081716"
}
{
  "last_name": "Armstrong",
  "first_name": "Mariah",
  "email": "rhodesnicholas@hotmail.com",
  "country": "Albania",
  "account": "OHOV7518558201999"
}
{
  "last_name": "Boyle",
  "first_name": "Anthony",
  "email": "smithashlee@yahoo.com",
  "country": "Kyrgyz Republic",
  "account": "MCQU7347833033110"
}
{
  "last_name": "Cuevas",
  "first_name": "Patrick",
  "email": "ubriggs@hill.info",
  "country": "Turkmenistan",
  "account": "PPHE5533473251751"
}
{
  "last_name": "Reyes",
  "first_name": "Gerald",
  "email": "brownclarence@gonzalez-moore.com",
  "country": "Fiji",
  "account": "JCDK1943355298609"
}
{
  "last_name": "Calderon",
  "first_name": "Christopher",
  "email": "teresa30@carpenter-warner.com",
  "country": "Costa Rica",
  "account": "NERZ5502558659614"
}
{
  "last_name": "Weiss",
  "first_name": "Shane",
  "email": "leekatherine@williams.com",
  "country": "Martinique",
  "account": "DLDV5789894914403"
}
{
  "last_name": "Conley",
  "first_name": "Crystal",
  "email": "chasewatkins@perez-phillips.com",
  "country": "Singapore",
  "account": "GZZF6936998445532"
}
{
  "last_name": "Nelson",
  "first_name": "Jeffrey",
  "email": "hsherman@gmail.com",
  "country": "Mayotte",
  "account": "ECGK2823955143629"
}
{
  "last_name": "Johnson",
  "first_name": "Brianna",
  "email": "martinezdaniel@hotmail.com",
  "country": "Costa Rica",
  "account": "QOVO4275314052899"
}
{
  "last_name": "Werner",
  "first_name": "Brandon",
  "email": "justinfischer@gmail.com",
  "country": "Guadeloupe",
  "account": "UKRT1119626365017"
}
{
  "last_name": "Bennett",
  "first_name": "Brianna",
  "email": "cindy08@gmail.com",
  "country": "Bahamas",
  "account": "UNPV3347450330173"
}
{
  "last_name": "Fletcher",
  "first_name": "Austin",
  "email": "carolharrington@fleming.org",
  "country": "Azerbaijan",
  "account": "GJZT6825738428111"
}
{
  "last_name": "Lewis",
  "first_name": "Patrick",
  "email": "lopezcarl@johnson.com",
  "country": "Saint Helena",
  "account": "JOQE2648899771737"
}
{
  "last_name": "Smith",
  "first_name": "Joseph",
  "email": "michael74@yahoo.com",
  "country": "Hong Kong",
  "account": "MNXY3262955868027"
}
{
  "last_name": "Sullivan",
  "first_name": "Sharon",
  "email": "gonzalezrobert@hotmail.com",
  "country": "Turkey",
  "account": "YHXF7256577475630"
}
{
  "last_name": "Wilson",
  "first_name": "Krystal",
  "email": "dawnjohnson@gmail.com",
  "country": "Swaziland",
  "account": "MUVI3570791852556"
}
{
  "last_name": "Schmidt",
  "first_name": "Diana",
  "email": "watersryan@gmail.com",
  "country": "Holy See (Vatican City State)",
  "account": "UKCP6739617302102"
}
{
  "last_name": "Huff",
  "first_name": "Sean",
  "email": "byoung@gmail.com",
  "country": "Norfolk Island",
  "account": "WDAT4146843903498"
}
{
  "last_name": "Nguyen",
  "first_name": "Robin",
  "email": "vhanson@yahoo.com",
  "country": "Kenya",
  "account": "SVMU4403517448078"
}
{
  "last_name": "Russell",
  "first_name": "Robyn",
  "email": "bfletcher@yahoo.com",
  "country": "Togo",
  "account": "ZNUY4071301663622"
}
{
  "last_name": "Smith",
  "first_name": "Tiffany",
  "email": "colleengarrison@hotmail.com",
  "country": "San Marino",
  "account": "GPFA8271551275648"
}
{
  "last_name": "Smith",
  "first_name": "Lori",
  "email": "catherine23@gmail.com",
  "country": "Romania",
  "account": "MKWY4848668895426"
}
{
  "last_name": "Keith",
  "first_name": "Sabrina",
  "email": "xmurphy@yahoo.com",
  "country": "Algeria",
  "account": "QHIW7412514205367"
}
{
  "last_name": "Johnson",
  "first_name": "Miguel",
  "email": "aaronrichard@middleton.net",
  "country": "Slovakia (Slovak Republic)",
  "account": "QAAO4666689281736"
}
{
  "last_name": "Barron",
  "first_name": "Dustin",
  "email": "jesse93@best.com",
  "country": "Somalia",
  "account": "LRPR8694143910883"
}
{
  "last_name": "Robinson",
  "first_name": "Michael",
  "email": "johnperez@johnson.com",
  "country": "Turkmenistan",
  "account": "UWFU1921951273393"
}
{
  "last_name": "Nguyen",
  "first_name": "Robert",
  "email": "jessica62@yahoo.com",
  "country": "Croatia",
  "account": "JQHS4274771257925"
}
{
  "last_name": "Abbott",
  "first_name": "Brandon",
  "email": "jennifer87@gmail.com",
  "country": "Jamaica",
  "account": "RSLD0426398604312"
}
{
  "last_name": "Oneill",
  "first_name": "Bruce",
  "email": "morenolindsay@bass.org",
  "country": "Montserrat",
  "account": "UYHI6964741005832"
}
{
  "last_name": "Nash",
  "first_name": "Linda",
  "email": "robertdavis@hotmail.com",
  "country": "Heard Island and McDonald Islands",
  "account": "ZKTE5908966955533"
}
{
  "last_name": "Cameron",
  "first_name": "Kathleen",
  "email": "melanie81@rogers.com",
  "country": "Niger",
  "account": "HHHP3471562002758"
}
{
  "last_name": "Wilkinson",
  "first_name": "Wesley",
  "email": "clineerin@hotmail.com",
  "country": "Saint Vincent and the Grenadines",
  "account": "UWLV6407825245995"
}
{
  "last_name": "Wallace",
  "first_name": "Debbie",
  "email": "terri95@hotmail.com",
  "country": "Antigua and Barbuda",
  "account": "JRBN0811785293731"
}
{
  "last_name": "Woodward",
  "first_name": "Kayla",
  "email": "danielle65@yahoo.com",
  "country": "Mexico",
  "account": "VDWY7565964041116"
}
{
  "last_name": "Bennett",
  "first_name": "Stephanie",
  "email": "sjackson@yahoo.com",
  "country": "Singapore",
  "account": "DNRB2101855092009"
}
{
  "last_name": "Jenkins",
  "first_name": "Caleb",
  "email": "douglas63@yahoo.com",
  "country": "Botswana",
  "account": "IILE1765776198023"
}
{
  "last_name": "Edwards",
  "first_name": "Valerie",
  "email": "woodardlindsey@yahoo.com",
  "country": "Guinea",
  "account": "ZJUF2687631787282"
}
{
  "last_name": "Anderson",
  "first_name": "Mary",
  "email": "suebrown@yahoo.com",
  "country": "Chile",
  "account": "DHMT4208071148508"
}
{
  "last_name": "Ray",
  "first_name": "Angela",
  "email": "swhite@yahoo.com",
  "country": "Mayotte",
  "account": "UBRR8524342666714"
}
{
  "last_name": "Edwards",
  "first_name": "Haley",
  "email": "martinkimberly@lopez.com",
  "country": "Macedonia",
  "account": "OGPU6537909247863"
}
{
  "last_name": "Clark",
  "first_name": "Charles",
  "email": "jessica11@hotmail.com",
  "country": "Ukraine",
  "account": "AHYX6128839695452"
}
{
  "last_name": "Hill",
  "first_name": "Lisa",
  "email": "hsmith@baker.com",
  "country": "Saint Martin",
  "account": "VUPW6891906300822"
}
{
  "last_name": "Carpenter",
  "first_name": "Jonathan",
  "email": "fklein@yahoo.com",
  "country": "Germany",
  "account": "PKFW4841194501766"
}
{
  "last_name": "Griffith",
  "first_name": "Latoya",
  "email": "ryan32@skinner.com",
  "country": "Lesotho",
  "account": "BNYD8693045932496"
}
{
  "last_name": "Blair",
  "first_name": "Kim",
  "email": "tmurphy@flores.biz",
  "country": "Nepal",
  "account": "FQJA6381776349463"
}
{
  "last_name": "Salazar",
  "first_name": "Mary",
  "email": "mary64@ray.org",
  "country": "Latvia",
  "account": "KCNI2464381879411"
}
{
  "last_name": "Krueger",
  "first_name": "Kenneth",
  "email": "jennajoseph@yahoo.com",
  "country": "Central African Republic",
  "account": "BIGY3006735396533"
}
{
  "last_name": "Burke",
  "first_name": "Phillip",
  "email": "watsonsamuel@gmail.com",
  "country": "Peru",
  "account": "CNJX1222752295544"
}
{
  "last_name": "Juarez",
  "first_name": "Erica",
  "email": "xvelasquez@hughes.com",
  "country": "Spain",
  "account": "ZROP5229895490397"
}
{
  "last_name": "Watkins",
  "first_name": "Jason",
  "email": "april99@gmail.com",
  "country": "Seychelles",
  "account": "NXKK2792812848629"
}
{
  "last_name": "Carter",
  "first_name": "Lee",
  "email": "kfletcher@yahoo.com",
  "country": "Faroe Islands",
  "account": "DPLN5056382218296"
}
{
  "last_name": "Huang",
  "first_name": "Randy",
  "email": "xchurch@hotmail.com",
  "country": "Tokelau",
  "account": "KAOL9792684486009"
}
{
  "last_name": "Owen",
  "first_name": "Kristina",
  "email": "megan24@stewart.net",
  "country": "Cocos (Keeling) Islands",
  "account": "WRXW4627191899235"
}
{
  "last_name": "Turner",
  "first_name": "Beth",
  "email": "sydneycollins@hunter.com",
  "country": "Burundi",
  "account": "OMOK4767172062189"
}
{
  "last_name": "Aguirre",
  "first_name": "Michael",
  "email": "robertbowen@chavez-ortega.com",
  "country": "Timor-Leste",
  "account": "KRKF7344951038740"
}
{
  "last_name": "Wilson",
  "first_name": "Elizabeth",
  "email": "christiandanielle@yahoo.com",
  "country": "Montserrat",
  "account": "SAAA4141150617330"
}
{
  "last_name": "Hardy",
  "first_name": "Teresa",
  "email": "kdavidson@gordon.com",
  "country": "Norway",
  "account": "XNWQ1072087896797"
}
{
  "last_name": "Stewart",
  "first_name": "David",
  "email": "bennettwanda@vega-guerra.net",
  "country": "Sierra Leone",
  "account": "FTHM1005169617995"
}
{
  "last_name": "Moore",
  "first_name": "Heather",
  "email": "mark00@hotmail.com",
  "country": "French Polynesia",
  "account": "OSSM9070924947595"
}
{
  "last_name": "Grant",
  "first_name": "Melissa",
  "email": "schaefernatalie@hotmail.com",
  "country": "French Guiana",
  "account": "CFQJ4204773901237"
}
{
  "last_name": "Thompson",
  "first_name": "Jennifer",
  "email": "moralesmartin@rodgers.com",
  "country": "Cape Verde",
  "account": "MGFG2793756668287"
}
{
  "last_name": "Anderson",
  "first_name": "Raymond",
  "email": "dprince@hotmail.com",
  "country": "Barbados",
  "account": "IGXK5881682171566"
}
{
  "last_name": "Ramsey",
  "first_name": "Angela",
  "email": "cparks@valdez-hudson.com",
  "country": "Andorra",
  "account": "QYBW6359021109484"
}
{
  "last_name": "Gonzales",
  "first_name": "Betty",
  "email": "martinezrichard@yahoo.com",
  "country": "Montserrat",
  "account": "UTSI0776569247505"
}
{
  "last_name": "Castaneda",
  "first_name": "Thomas",
  "email": "kpena@yahoo.com",
  "country": "Egypt",
  "account": "LSDI9463735752680"
}
{
  "last_name": "Todd",
  "first_name": "Jonathan",
  "email": "julie68@gmail.com",
  "country": "Malaysia",
  "account": "ISYY1401931979959"
}
{
  "last_name": "Garcia",
  "first_name": "Stacey",
  "email": "lukebradford@hotmail.com",
  "country": "Zimbabwe",
  "account": "HNOA0376843856035"
}
{
  "last_name": "Figueroa",
  "first_name": "Judy",
  "email": "ystewart@yahoo.com",
  "country": "Portugal",
  "account": "EEVV8325881104553"
}
{
  "last_name": "Castillo",
  "first_name": "Ashley",
  "email": "cory33@king-shaw.net",
  "country": "Paraguay",
  "account": "QXGZ3111246190069"
}
{
  "last_name": "Flores",
  "first_name": "Zachary",
  "email": "zcalhoun@gmail.com",
  "country": "Central African Republic",
  "account": "ACQR2846533122117"
}
{
  "last_name": "Allen",
  "first_name": "Erica",
  "email": "michaelhall@hotmail.com",
  "country": "Palau",
  "account": "ZAZD8310339637467"
}
{
  "last_name": "Potts",
  "first_name": "Savannah",
  "email": "kristentaylor@yahoo.com",
  "country": "Micronesia",
  "account": "ARWK1547324119222"
}
{
  "last_name": "Wheeler",
  "first_name": "Zachary",
  "email": "stephen63@yahoo.com",
  "country": "Armenia",
  "account": "OMQX4840913072589"
}
{
  "last_name": "Thomas",
  "first_name": "Timothy",
  "email": "bryanmartin@gmail.com",
  "country": "Bahrain",
  "account": "OCFV4659464275270"
}
{
  "last_name": "Mcknight",
  "first_name": "Ann",
  "email": "kristinavelasquez@gmail.com",
  "country": "Guatemala",
  "account": "DTRB4720098955341"
}
{
  "last_name": "Thompson",
  "first_name": "Ruth",
  "email": "denise01@burns.org",
  "country": "Saint Vincent and the Grenadines",
  "account": "YYHM5758234683389"
}
{
  "last_name": "Levy",
  "first_name": "Daniel",
  "email": "beancody@jones.com",
  "country": "Kazakhstan",
  "account": "AHBN3151680654826"
}
{
  "last_name": "Hubbard",
  "first_name": "Paul",
  "email": "ubradley@yahoo.com",
  "country": "Germany",
  "account": "FGBC0366153271398"
}
{
  "last_name": "Jones",
  "first_name": "Jason",
  "email": "anthony75@yahoo.com",
  "country": "Western Sahara",
  "account": "MHTE8867005510944"
}
{
  "last_name": "Garcia",
  "first_name": "Margaret",
  "email": "antonio52@gmail.com",
  "country": "Togo",
  "account": "IYOD4325345823013"
}
{
  "last_name": "Peters",
  "first_name": "Jeremy",
  "email": "johnlewis@hotmail.com",
  "country": "Guam",
  "account": "NZFX8257739892619"
}
{
  "last_name": "Stone",
  "first_name": "Mark",
  "email": "nmoore@hotmail.com",
  "country": "Kuwait",
  "account": "MWRB2515761996641"
}
{
  "last_name": "Edwards",
  "first_name": "Darius",
  "email": "nchurch@yahoo.com",
  "country": "Eritrea",
  "account": "CURJ9953745256871"
}
{
  "last_name": "Lawson",
  "first_name": "Tracy",
  "email": "piercejenna@gmail.com",
  "country": "Czech Republic",
  "account": "ATOT8581137487723"
}
{
  "last_name": "Cooper",
  "first_name": "Christina",
  "email": "ddavidson@hotmail.com",
  "country": "Maldives",
  "account": "RQGA0882784089265"
}
{
  "last_name": "Harris",
  "first_name": "Megan",
  "email": "ndelacruz@yahoo.com",
  "country": "Armenia",
  "account": "EOPA8088866975598"
}
{
  "last_name": "Jones",
  "first_name": "Timothy",
  "email": "jenniferadkins@griffin.biz",
  "country": "Benin",
  "account": "JCUN9597199552039"
}
{
  "last_name": "Burch",
  "first_name": "Tracie",
  "email": "evansmiguel@yahoo.com",
  "country": "Fiji",
  "account": "IZYL3351829981461"
}
{
  "last_name": "Chung",
  "first_name": "Jason",
  "email": "kenneththompson@baxter.com",
  "country": "Iceland",
  "account": "JDIH2349154465371"
}
{
  "last_name": "Melton",
  "first_name": "Samantha",
  "email": "bcurtis@hotmail.com",
  "country": "Macedonia",
  "account": "VRZP1447516193511"
}
{
  "last_name": "Hansen",
  "first_name": "Michael",
  "email": "phillipssean@hotmail.com",
  "country": "Serbia",
  "account": "QKAF2254397516681"
}

In [ ]:
months = {
        1: 'January',
        2: 'February',
        3: 'March',
        4: 'April',
        5: 'May',
        6: 'June',
        7: 'July',
        8: 'August',
        9: 'September',
        10: 'October',
        11: 'November',
        12: 'December',
    }

In [57]:
import random
from collections import defaultdict
n = 10_000_000
total_count = defaultdict(int)
for _ in range(n):

    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)

    total = dice1 + dice2
    # if total not in total_count:
    #     total_count[total] = 0 
    total_count[total] += 1


prob = {total: round(count/n*100, 2) for total, count in total_count.items()}
{t: prob[t] for t in sorted(prob)}

{2: 2.78,
 3: 5.56,
 4: 8.35,
 5: 11.13,
 6: 13.89,
 7: 16.66,
 8: 13.87,
 9: 11.11,
 10: 8.33,
 11: 5.55,
 12: 2.77}

In [56]:
{t: prob[t] for t in sorted(prob)}

{2: 2.75,
 3: 5.57,
 4: 8.35,
 5: 11.1,
 6: 13.93,
 7: 16.66,
 8: 13.96,
 9: 11.03,
 10: 8.28,
 11: 5.55,
 12: 2.8}

In [58]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

0 in A # O(1)

True

In [59]:
4 in B # O(1) 4 in [ 1, 3, 4, .....] O(N)

True

In [60]:
A | B # quiz

{0, 1, 2, 3, 4, 5, 6, 8}

In [61]:
A & B

{2, 4}

In [62]:
A - B
# A = {0, 2, 4, 6, 8}
# B = {1, 2, 3, 4, 5}

{0, 6, 8}

In [63]:
B - A
# A = {0, 2, 4, 6, 8}
# B = {1, 2, 3, 4, 5}

{1, 3, 5}

In [64]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B < A

True

In [65]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B <= A

True

In [66]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B == A

False

In [ ]:
# quiz pop a set based on index

In [67]:
d1 = dict(a=1, b=2, c=3, d=4)
d2 = dict(b=20, d=40, e=50)
d1.keys() & d2.keys() # this works because dict.keys() returns "set-like" view rather than a list
{'b', 'd'}

{'b', 'd'}

In [68]:
A & B

{3, 4}

In [69]:
b = set()
b

set()

In [70]:
b.add(1)
b

{1}

In [72]:
func = lambda a, b: a * b
def lambda_test(function, number1, number2):
    return function(number1, number2)
print(lambda_test(func, 3, 4))

12

In [71]:
def func2(a,b):
    return a * b 

def func_test(function, number1, number2):
    return function(number1, number2)
print(func_test(func2, 3, 4))

12

In [73]:
x = (
    (2, 2, 3),
    (2, 1, 3),
    (1, 10, 2),
)

sorted(x)

[(1, 10, 2), (2, 1, 3), (2, 2, 3)]

In [81]:
for ele in sorted(x, key=lambda ele: (ele[0], ele[1])):
    print(ele)

(1, 10, 2)
(2, 1, 3)
(2, 2, 3)

In [82]:
my_list = [2, 3, 4]

# map(lambda variables (comma separated): expression)
# map(function, sequence)
print(list(map(lambda ele: ele*ele, my_list)))

[4, 9, 16]

In [87]:
students = ['john', 'jane', 'doe']

print(list(map(str.title, students)))

['John', 'Jane', 'Doe']

In [86]:
x = 'john'
x.title()

'John'

In [90]:
x = map(lambda ele: ele*ele, my_list)
for ele in x:
    print(ele)

for ele in x:
    print(ele)

4
9
16

In [91]:

for ele in map(lambda ele: ele*ele, my_list):
    print(ele)

for ele in map(lambda ele: ele*ele, my_list):
    print(ele)

4
9
16
4
9
16

In [92]:
print(map(str.title, students))

<map object at 0x74f74ed08850>

In [93]:
x = list(map(lambda ele: ele*ele, my_list))
# x = map(lambda ele: ele*ele, my_list)

for ele in x:
    print(ele)

for ele in x:
    print(ele)

4
9
16
4
9
16

In [97]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

print(list(map(lambda ele: {'value': float(ele['value'])}, my_dict)))

[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]

In [99]:
x = ['34.4', '45.3', '73.4']
list(map(float ,x))

[34.4, 45.3, 73.4]

In [101]:
years = range(1970, 2000) # for these years



def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

my_dict = {}
leap_years = []
for year in years:
    my_dict.update({year: is_leap_year(year)})
    if is_leap_year(year):
        leap_years.append(year)

leap_years

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [102]:
my_dict

{1970: False,
 1971: False,
 1972: True,
 1973: False,
 1974: False,
 1975: False,
 1976: True,
 1977: False,
 1978: False,
 1979: False,
 1980: True,
 1981: False,
 1982: False,
 1983: False,
 1984: True,
 1985: False,
 1986: False,
 1987: False,
 1988: True,
 1989: False,
 1990: False,
 1991: False,
 1992: True,
 1993: False,
 1994: False,
 1995: False,
 1996: True,
 1997: False,
 1998: False,
 1999: False}

In [104]:
leap_year_lambda = lambda year: year % 4 == 0 

list(filter(leap_year_lambda, range(1970, 2000)))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [105]:
list(filter(lambda ele: True, range(1970, 2000)))

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999]

In [106]:
list(filter(lambda ele: ele < 3000, range(1970, 2000)))

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999]

In [107]:
print(list(map(lambda year: f'{year} is a leap year!', filter(lambda year: year % 4 == 0, range(1970, 2000)) )))

['1972 is a leap year!', '1976 is a leap year!', '1980 is a leap year!', '1984 is a leap year!', '1988 is a leap year!', '1992 is a leap year!', '1996 is a leap year!']

In [110]:
x = (('efg', 1), ('abc', 3), ('hij', 2))

# print(sorted(x)) # does work

print(sorted(x, key=lambda ele: ele[1]))

[('efg', 1), ('hij', 2), ('abc', 3)]

In [111]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

print(sorted(students, key=lambda student: student['username']))

[{'grade': 89, 'username': 'Kelly'}, {'username': 'doe', 'grade': 35}, {'username': 'jane', 'grade': 80}, {'username': 'john', 'grade': 50}]

In [112]:
print(sorted(students, key=lambda student: student['grade']))

[{'username': 'doe', 'grade': 35}, {'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'grade': 89, 'username': 'Kelly'}]