In [1]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [2]:
x.append(13)

In [3]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [4]:
return_value = x.append(-13)
return_value

In [5]:
return_value = x.append(-13)
print(return_value)

None

In [6]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, -13, -13]

In [10]:
x = 'AbC'
return_value = x.lower()
print(return_value, x)

abc AbC

In [12]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

x.insert(2, 22)
x

[0, 1, 22, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [14]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

x.insert(0, 0.0)
x

[0.0, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [15]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

x.insert(-1, 3.0)
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3.0, 12]

In [17]:
x = [1, 2, 2, 2, 3, 4, 5]
ret_val = x.remove(2)
print(ret_val, x)

None [1, 2, 2, 3, 4, 5]

In [18]:
x = [1, 2, 2, 2, 3, 4, 5]
ret_val = x.pop()
print(ret_val, x)

5 [1, 2, 2, 2, 3, 4]

In [19]:
x = [1, 2, 2, 2, 3, 4, 5]
ret_val = x.pop(0)
print(ret_val, x)

1 [2, 2, 2, 3, 4, 5]

In [20]:
x = [1, 2, 2, 3, 4, 5]
x.index(2)

1

In [21]:
x = [1, 2, 2, 3, 4, 5]
x.count(2)

2

In [22]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

numbers.sort()
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

numbers2 = sorted(numbers)
print(numbers, numbers2)

[3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [26]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

numbers.reverse()
numbers

[12, 11, 10, 2, 1, 0, 7, 6, 5, 9, 8, 4, 3]

In [ ]:
numbers[::-1]

In [27]:
numbers = (3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12)
numbers

(3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12)

In [28]:
numbers.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
sorted(numbers)

In [30]:
my_tuple = (1, 2, 3, [4, 5, 6])

In [31]:
my_tuple.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
my_tuple[-1].append(7)
my_tuple

(1, 2, 3, [4, 5, 6, 7])

In [33]:
my_tuple[-1] = 2
my_tuple

TypeError: 'tuple' object does not support item assignment

In [34]:
my_tuple[0] = 1
my_tuple

TypeError: 'tuple' object does not support item assignment

In [35]:
my_tuple[-1][0] = 33
my_tuple

(1, 2, 3, [33, 5, 6, 7])

In [36]:
my_string = 'Doe, John'
print(my_string[0])

D

In [37]:
my_string = 'Doe, John'
print(my_string.split())

['Doe,', 'John']

In [38]:
my_string = 'Doe, John'
print(my_string.split(","))

['Doe', ' John']

In [39]:
print(my_string.split(", "))

['Doe', 'John']

In [40]:
last_name, first_name = my_string.split(", ")
print(last_name, first_name)

Doe John

In [41]:
date = '2023/05/23'
print(date.split('/'))

['2023', '05', '23']

In [42]:
year, month, day = date.split('/')
print(year, month, day)

2023 05 23

In [43]:
print(int(year), int(month), int(day))

2023 5 23

In [46]:
my_string = 'range=start=3;end=20;step=2'
print(my_string.split('=', 1))

['range', 'start=3;end=20;step=2']

In [47]:
my_string = 'range=start=3;end=20;step=2'
range_options = my_string.split('=', 1)[1]
range_options

'start=3;end=20;step=2'

In [48]:
start, end, step = range_options.split(';')
start, end, step

('start=3', 'end=20', 'step=2')

In [49]:
start = start.split('=')[1] # or [-1]
end = end.split('=')[1] # or [-1]
step = step.split('=')[1] # or [-1]
start, end, step

('3', '20', '2')

In [52]:
def extract_range(string):
    range_options = string.split('=', 1)[1]
    start, end, step = range_options.split(';')
    start = int(start.split('=')[1]) # or [-1]
    end = int(end.split('=')[1]) # or [-1]
    step = int(step.split('=')[1]) # or [-1]
    return (start, end, step)

extract_range('range=start=1;end=150;step=20')

(1, 150, 20)

In [56]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]
rnge = 'range=start=1;end=150;step=4'
start, end, step = extract_range(rnge)
numbers[start:end:step]

[4, 6, 2]

In [57]:
long_string='First line\nSecond line\nThird line'
print(long_string.split())

['First', 'line', 'Second', 'line', 'Third', 'line']

In [58]:
print(long_string.split('\n'))

['First line', 'Second line', 'Third line']

In [59]:
print(long_string.splitlines())

['First line', 'Second line', 'Third line']

In [69]:
my_string = 'EaS503!'

def char_type(char):
    if 'A' <= char <= 'Z':
        return 'Upper Case'
    elif 'a' <= char <= 'z':
        return 'Lower Case'
    elif '0' <= char <= '9':
        return 'Digit'
    else:
        return 'Not Alpha Numeric'


print(my_string[0], char_type(my_string[0]))
print(my_string[1], char_type(my_string[1]))
print(my_string[2], char_type(my_string[2]))
print(my_string[3], char_type(my_string[3]))
print(my_string[4], char_type(my_string[4]))
print(my_string[5], char_type(my_string[5]))
print(my_string[6], char_type(my_string[6]))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric

In [66]:
'A' <= 'I' <= 'Z'
# 65 <= 73 <= 90

True

In [67]:
ord('I')

73

In [68]:
'I'.isupper()

True

In [71]:
def char_type(char):
    if char.isupper():
        return 'Upper Case'
    elif char.islower():
        return 'Lower Case'
    elif char.isdigit():
        return 'Digit'
    else:
        return 'Not Alpha Numeric'

print(my_string[0], char_type(my_string[0]))
print(my_string[1], char_type(my_string[1]))
print(my_string[2], char_type(my_string[2]))
print(my_string[3], char_type(my_string[3]))
print(my_string[4], char_type(my_string[4]))
print(my_string[5], char_type(my_string[5]))
print(my_string[6], char_type(my_string[6]))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric

In [ ]:
for <ele> in <sequence>:
    <body>

In [75]:
for ele in my_string:
    print(ele, char_type(ele))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric

In [76]:
for char in my_string:
    print(char, char_type(char))

E Upper Case
a Lower Case
S Upper Case
5 Digit
0 Digit
3 Digit
! Not Alpha Numeric

In [80]:
start = 0
stop = 11
step = 1
for ele in range(start,stop,step):
    print(ele)

0
1
2
3
4
5
6
7
8
9
10

In [82]:
values = [4, 10, 3, 8, -6]
length = len(values)
for i in range(length):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [84]:
for value in values:
    print(value)

4
10
3
8
-6

In [88]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [89]:
# Important -- 
enumerate(values) # generator

[(0, 4), (1, 10), (2, 3), (3, 8), (4, -6)]

In [ ]:
index, value  = (0, 4)

In [95]:
x = enumerate(values)
for ele in x:
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [96]:
for ele in x:
    print(ele)

In [92]:
for ele in []:
    print(ele)

In [93]:
for ele in ():
    print(ele)

In [94]:
for ele in '':
    print(ele)

In [98]:
for ele in enumerate(values):
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [99]:
y = list(enumerate(values))

for ele in y:
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [100]:
for ele in y:
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [102]:
# generators
# one time use only 
# example -- enumerate --> values in and returns values with their associated index
# when you loop over a generator, the values are "USED UP" -- so you cannot use them again. 
x = enumerate(values)
for ele in x:
    print(ele)
print('Generator exhausted')
for ele in x:
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)
Generator exhausted

In [104]:
y = list(enumerate(values)) # this is a list, so you can keep using it!

In [111]:
a, b = zip(*y)
print(a,b)

(0, 1, 2, 3, 4) (4, 10, 3, 8, -6)

In [112]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

values

[8, 20, 6, 16, -12]

In [113]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [114]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [115]:
x = zip(metals, weights)
for metal, weight in x:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [116]:
for metal, weight in x:
    print(metal, weight)

In [117]:
elements = [
    ['Li', 'Na', 'K'], 
    ['F', 'Cl', 'Br']
]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [118]:
metals = ['Li', 'Na', 'K', 'Br']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [119]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [122]:
x = [1, 7, 3]

sum = 0
for ele in x:
    sum = sum *10 + ele
    print(sum)
sum

1
17
173

173

In [123]:
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [124]:
store = [0] * 10
store

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [125]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1
store

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [128]:
'' + '000'

'000'

In [131]:
store = [0] * 10
string1 = '771134022002349900001222244455669799'

for char in string1:
    index = int(char)
    store[index] += 1

sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
    print(sorted_string)
print(sorted_string)

0000000
0000000111
00000001112222222
0000000111222222233
000000011122222223344444
00000001112222222334444455
0000000111222222233444445566
0000000111222222233444445566777
0000000111222222233444445566777
000000011122222223344444556677799999
000000011122222223344444556677799999

In [127]:
list(enumerate(store))

[(0, 3),
 (1, 2),
 (2, 1),
 (3, 2),
 (4, 2),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0)]

In [132]:
number = 1234
sum = 0
while number:
    sum += number % 10
    number = number // 10 
print(sum)

10

In [136]:
x = "firstName"
y = ''
for ele in x:
    print(ele, ele.isupper())
    if ele.isupper():
        y += f'_{ele.lower()}'
    else:
        y += ele
    print(y)

y

f False
f
i False
fi
r False
fir
s False
firs
t False
first
N True
first_n
a False
first_na
m False
first_nam
e False
first_name

'first_name'

In [142]:
"surface_area_of_rectangle".split('_')

['surface', 'area', 'of', 'rectangle']

In [141]:
x = "surface_area_of_rectangle"
y = ''
for i, ele in enumerate(x.split('_')):
    if i == 0:
        y += ele
    else:
        y += ele.capitalize()
y

'surfaceAreaOfRectangle'

In [143]:
list(enumerate(x.split('_')))

[(0, 'surface'), (1, 'area'), (2, 'of'), (3, 'rectangle')]

In [ ]:
surface_area_of_rectangle

surfaceAreaOfRectangle
SurfaceAreaOfRectangle