In [11]:
class Person:
    def __init__(self, first_name, last_name, email):
        # constructor 
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def __str__(self):
        return self.get_full_name()

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

last_name = 'Murphy' 
first_name = 'Jack'
email = 'jdoe@buffalo.edu'

p1 = Person('John', 'Doe', 'joe@buffalo')
p2 = Person('Jane', 'Doe', 'jane@buffalo')

# order
# print --> __str__() --> __repr__() --> base class __repr__() which just tells you the class name and memory address
# without print -->  __repr__() --> base class __repr__() which just tells you the class name and memory address

print(p1)

Doe, John

In [8]:
p1

John Doe

In [12]:
# OOP -- 
# 1) Combines data and functions that manipulate that data. 
# 2) Inheritance - inherit data and methods (attributes)
# 3) Polymorphism

class Student(Person):

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email) # SUPER!!!!! # resolves to parent's __init__
        self.program = program

    ## is there any __str__ or __repr__

s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)

# login class --> shares many functionalities --> but differs based on which login service you choose -- Google, Facebook, X

doe, john

In [ ]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program.lower()
        self.classes = []


    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

In [28]:
class A:
    def __init__(self):
        print("Class A")

class B(A):
    def __init__(self):
        print("Class B")
        
class C(A):
    def __init__(self):
        print("Class C")

class D(B, C):
    def __init__(self):
        super().__init__()


class E(C, B):
    def __init__(self):
        B.__init__(self)

In [16]:
a = A()

Class A

In [17]:
b = B()

Class B

In [18]:
c = C()

Class C

In [21]:
d = D()

Class B

In [22]:
D.__mro__ # method resolution order

(__main__.D, __main__.B, __main__.C, __main__.A, object)

In [29]:
e = E()

Class B

In [25]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.A, object)

In [30]:
# https://docs.python.org/3/howto/mro.html

In [31]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate'] # class variable

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        
        self.program = program.lower()
        self.classes = []


    def enroll(self, name_of_course):
        self.classes.append(name_of_course) # check if already enrolled?

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)
s1.enroll('abc')
s1.enroll('abc') # problem
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

doe, john
abc, abc, efg, hij

In [33]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

doe, john
Already enrolled in abc doe, john!
abc, efg, hij

In [34]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = [] # what is this storing? Why kind of element? what type of elements is this storing?


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

doe, john
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [37]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        # if course not in self.classes:
        #     self.classes.append(course)
        # else:
        #     print(f'Already enrolled in {course}!')
        #     return 
   
        # if course not in self.classes and self.enrolled_credits < self.MAX_CREDITS:
        #     self.classes.append(course)
        #     self.enrolled_credits += course.credits
        # else:
        #     print('Cannot enroll')

        if course  in self.classes:
            print("Already registered in course")
            return
        
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        self.classes.append(course)
        self.enrolled_credits += course.credits
        

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

doe, john
Already registered in course
You will be over the max credits! Cannot add Physics.
Chemistry, English, Math

In [38]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [39]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [40]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [51]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        print('Opening File')
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        print('Closing File')
        self.file.close()


    def __enter__(self):
        print('inside __enter__')
        self.open_file()
        return self # **** important 

    def __exit__(self, exc_type, exc_value, traceback):
        print('inside __exit__')
        self.close_file()

In [49]:
l1 = Logfile('log1.txt')

with l1: # with open(filename) as file:
    for row in ['abc', 'efg', 'hij']:
        l1.write_row(row)

inside __enter__
Opening File
inside __exit__
Closing File

In [53]:
with Logfile('log1.txt') as log1:
    for row in ['abc', 'efg', 'hij']:
        log1.write_row(row)

inside __enter__
Opening File
inside __exit__
Closing File

In [ ]:
# A - 4
# B+ 3.5
# B 3 
# C+ 2.5 

# 3 * 4 - 12 qpoints
# 3 * 3 - 9 qpoints

In [56]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point

    def __repr__(self):
        return f"{super().__repr__()}: {self.get_gpa()}"


    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

for student in students:
    print(student)

Samuel Anderson: 2.62
Jacob Cummings: 3.41
Walter Sosa: 2.62
Joel Conway: 3.23
Andrew Burton: 2.15
Judith Harris: 1.83
Abigail Thomas: 2.61
Sarah Edwards: 3.31
Jennifer Pratt: 2.87
Patricia Hess: 3.1
Brandon Butler: 3.83
Tammy Williams: 3.21
Jonathan Williams: 1.96
Amy Perry: 2.87
Evelyn Mendez: 1.54
Elizabeth Jackson: 2.4
Douglas Cameron: 2.35
Heather Wright: 2.38
Mariah Tucker: 3.11
Rachel Jones: 2.86
Tommy Hull: 3.0
Miguel Guerra: 2.04
Sarah Hernandez: 2.02
Ellen Cortez: 3.43
Tracy Lee: 2.29
Troy Griffith: 2.07
Ana Torres: 3.14
Howard Moore: 2.7
Richard Nelson: 2.78
Lisa James: 2.82
Hannah Macias: 3.76
Richard Rodriguez: 2.85
Christopher Ho: 3.0
Raymond Fisher: 3.25
Gregory Jones: 3.38
Ashley Davenport: 2.0
Jamie Peters: 3.38
Lisa Aguilar: 3.88
David Bush: 1.94
Samantha Barr: 3.5
Steven Gordon: 2.02
Matthew Jones: 2.49
Ronald Harris: 1.55
Brandon Crane: 3.89
Michael Fry: 2.27
Monica Mann: 3.36
Richard Matthews: 1.93
Jon Perkins: 3.5
Jasmine Williams: 1.7
Kristy Rowland: 3.46
Tanya Montgomery: 1.63
Steven Mcgee: 2.0
Amber Aguilar: 1.81
Jason Stuart: 2.0
Kyle Humphrey: 3.81
Christina Stewart: 3.74
Thomas Roberts: 3.64
Jason Weber: 2.39
Karen Lee: 1.95
Edward Lopez: 1.86
Kayla Baldwin: 2.76
Madison Dunn: 3.11
Sarah Brown: 2.53
Christina Bowman: 2.65
Jennifer Vazquez: 1.5
Emily Mccarthy: 2.96
Carrie Lewis: 2.87
Mark Jackson: 3.48
Julie Weaver: 3.16
Lauren Torres: 3.69
Mary Moon: 3.62
Michelle Church: 3.75
Laura Haley: 2.98
Ann Rodriguez: 2.58
Colleen Gomez: 2.22
Amy Hunter: 3.47
Anthony Davis: 3.48
Dorothy Graves: 2.12
Phyllis Miller: 2.61
Robert Burnett: 1.83
Sophia Haley: 2.75
Ashley Shaw: 2.83
Andrew Erickson: 2.07
Rebecca Weaver: 3.66
Danielle Young: 1.71
Carol Howell: 2.63
Jasmin Stephens: 2.63
Justin Guerrero: 3.28
Ashley Aguilar: 1.61
Kelly Holmes: 2.13
Erica Fleming: 1.52
Raymond Christian: 1.67
Brian Franklin: 3.0
Ashley James: 2.62
Christine Johnson: 3.65
Brian Holland: 2.44
Rebecca Harrison: 3.64
Meagan Harrell: 3.54
Johnny Mitchell: 1.65
Kevin Cooper: 2.35

In [63]:
sorted(students)

TypeError: '<' not supported between instances of 'Student' and 'Student'

In [64]:
sorted([1, 2, 3, 'A'])

TypeError: '<' not supported between instances of 'str' and 'int'

In [60]:
sorted(students, key=lambda student: student.get_gpa(), reverse=True) # [2.62, 3.41 .....] # return the orignial data sorted

[Brandon Crane: 3.89,
 Lisa Aguilar: 3.88,
 Brandon Butler: 3.83,
 Kyle Humphrey: 3.81,
 Hannah Macias: 3.76,
 Michelle Church: 3.75,
 Christina Stewart: 3.74,
 Lauren Torres: 3.69,
 Rebecca Weaver: 3.66,
 Christine Johnson: 3.65,
 Thomas Roberts: 3.64,
 Rebecca Harrison: 3.64,
 Mary Moon: 3.62,
 Meagan Harrell: 3.54,
 Samantha Barr: 3.5,
 Jon Perkins: 3.5,
 Mark Jackson: 3.48,
 Anthony Davis: 3.48,
 Amy Hunter: 3.47,
 Kristy Rowland: 3.46,
 Ellen Cortez: 3.43,
 Jacob Cummings: 3.41,
 Gregory Jones: 3.38,
 Jamie Peters: 3.38,
 Monica Mann: 3.36,
 Sarah Edwards: 3.31,
 Justin Guerrero: 3.28,
 Raymond Fisher: 3.25,
 Joel Conway: 3.23,
 Tammy Williams: 3.21,
 Julie Weaver: 3.16,
 Ana Torres: 3.14,
 Mariah Tucker: 3.11,
 Madison Dunn: 3.11,
 Patricia Hess: 3.1,
 Tommy Hull: 3.0,
 Christopher Ho: 3.0,
 Brian Franklin: 3.0,
 Laura Haley: 2.98,
 Emily Mccarthy: 2.96,
 Jennifer Pratt: 2.87,
 Amy Perry: 2.87,
 Carrie Lewis: 2.87,
 Rachel Jones: 2.86,
 Richard Rodriguez: 2.85,
 Ashley Shaw: 2.83,
 Lisa James: 2.82,
 Richard Nelson: 2.78,
 Kayla Baldwin: 2.76,
 Sophia Haley: 2.75,
 Howard Moore: 2.7,
 Christina Bowman: 2.65,
 Carol Howell: 2.63,
 Jasmin Stephens: 2.63,
 Samuel Anderson: 2.62,
 Walter Sosa: 2.62,
 Ashley James: 2.62,
 Abigail Thomas: 2.61,
 Phyllis Miller: 2.61,
 Ann Rodriguez: 2.58,
 Sarah Brown: 2.53,
 Matthew Jones: 2.49,
 Brian Holland: 2.44,
 Elizabeth Jackson: 2.4,
 Jason Weber: 2.39,
 Heather Wright: 2.38,
 Douglas Cameron: 2.35,
 Kevin Cooper: 2.35,
 Tracy Lee: 2.29,
 Michael Fry: 2.27,
 Colleen Gomez: 2.22,
 Andrew Burton: 2.15,
 Kelly Holmes: 2.13,
 Dorothy Graves: 2.12,
 Troy Griffith: 2.07,
 Andrew Erickson: 2.07,
 Miguel Guerra: 2.04,
 Sarah Hernandez: 2.02,
 Steven Gordon: 2.02,
 Ashley Davenport: 2.0,
 Steven Mcgee: 2.0,
 Jason Stuart: 2.0,
 Jonathan Williams: 1.96,
 Karen Lee: 1.95,
 David Bush: 1.94,
 Richard Matthews: 1.93,
 Edward Lopez: 1.86,
 Judith Harris: 1.83,
 Robert Burnett: 1.83,
 Amber Aguilar: 1.81,
 Danielle Young: 1.71,
 Jasmine Williams: 1.7,
 Raymond Christian: 1.67,
 Johnny Mitchell: 1.65,
 Tanya Montgomery: 1.63,
 Ashley Aguilar: 1.61,
 Ronald Harris: 1.55,
 Evelyn Mendez: 1.54,
 Erica Fleming: 1.52,
 Jennifer Vazquez: 1.5]

In [61]:
min(students, key=lambda student: student.get_gpa())

Jennifer Vazquez: 1.5

In [62]:
max(students, key=lambda student: student.get_gpa())

Brandon Crane: 3.89

In [69]:
# Java How to Program Deitel et. al

from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'


class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'


class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'


class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'


class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'


print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')


employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [68]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        pass

e1 = Employee('john', 'doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee without an implementation for abstract method 'earnings'

In [72]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __repr__(self):
        return f"Circle({self.radius})"
        
    def __str__(self):
        return "Circle with radius " + str(self.radius)

c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [73]:
c1

Circle(10)

In [74]:
c1 > c2

TypeError: '>' not supported between instances of 'Circle' and 'Circle'

In [77]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, right_of_operator): # (self, right)
        return Circle(self.radius + right_of_operator.radius)


# 3 + 4 + 5 + 3.14

c1 = Circle(10)
c2 = Circle(5)
print(2+3) ==? 2.__add__(3) ==> int(2).__add__(int(3))
c3 = c1 + c2 ### ==> c1.__add__(c2) ==> Circle.__add__(c1, c2)
print(c3)

5
Circle with radius 15

In [78]:
type(2)

int

In [79]:
type(c1)

__main__.Circle

In [82]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius



c1 = Circle(10)
c2 = Circle(5)
print(c1 < c2)
print(c1 > c2)

False
True

In [83]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p2+p1)

11, 10

In [84]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

# p1 - p2 --> p3 (sqrt((3-8)**2, (8-6)**2))

5.385164807134504

In [ ]:
# define a class
# define what the meaning operators are for a class (+, -, <, >)
# define how to loop over your class!!!!

In [87]:
x = [1, 2, 3]

for ele in x:
    print(ele)

1
2
3

In [108]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        print('Inside iter')
        self.value = 0 # rest the iterator, otherwise it will be stuck on the final value from the last time. 
        return self # import always return self!!!!

    def __next__(self):
        print('Inside next')
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration

In [109]:
my_range = MyRange(5)
i = iter(my_range)
i

Inside iter

In [97]:
next(i)

0

In [98]:
next(i)

1

In [99]:
next(i)

2

In [100]:
next(i)

3

In [101]:
next(i)

4

In [102]:
next(i)

StopIteration:

In [103]:
next(i)

StopIteration:

In [104]:
i = iter(my_range)
next(i)

0

In [89]:
for ele in range(0, 10, 2):
    print(ele)

0
2
4
6
8

In [105]:
for ele in my_range:
    print(ele)

0
1
2
3
4

In [110]:
for ele in my_range: # my_range.__iter__(), my_range.__next__()
    print(ele)

Inside iter
Inside next
0
Inside next
1
Inside next
2
Inside next
3
Inside next
4
Inside next

In [111]:
for ele in my_range: # my_range.__iter__(), my_range.__next__()
    print(ele)

Inside iter
Inside next
0
Inside next
1
Inside next
2
Inside next
3
Inside next
4
Inside next

In [ ]:
filename = 'people.tsv'
header = None
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
        if not header:
            header = line.split('\t')
            continue

        line

In [113]:
filename = 'people.tsv'
with open(filename) as file:
    # header = next(file)
    for line in file:
        line = line.strip()
        if not line:
            continue

        print(line)

last_name	first_name	email	country	account
Weaver	Michael	xdunn@hotmail.com	Nepal	QVJP6465242365388
Owens	Jackson	iedwards@yahoo.com	Kazakhstan	FVQZ0955529767455
Gilmore	Patrick	arogers@smith.com	Mauritius	QFIM0905182880347
Perez	Jeffrey	plewis@chavez.com	New Zealand	YWOT0997131632248
Thomas	James	fred92@yahoo.com	Yemen	QAAE9838291982555
Nelson	Greg	mmiller@lynch.com	Jordan	PCNE8127696280157
White	Joshua	steven49@gmail.com	Palau	BCEN3299883381338
Francis	Todd	amanda23@hotmail.com	Argentina	XPTQ7837014557677
Shaw	Stephen	jackduke@hotmail.com	Marshall Islands	TRLQ6559557081716
Armstrong	Mariah	rhodesnicholas@hotmail.com	Albania	OHOV7518558201999
Boyle	Anthony	smithashlee@yahoo.com	Kyrgyz Republic	MCQU7347833033110
Cuevas	Patrick	ubriggs@hill.info	Turkmenistan	PPHE5533473251751
Reyes	Gerald	brownclarence@gonzalez-moore.com	Fiji	JCDK1943355298609
Calderon	Christopher	teresa30@carpenter-warner.com	Costa Rica	NERZ5502558659614
Weiss	Shane	leekatherine@williams.com	Martinique	DLDV5789894914403
Conley	Crystal	chasewatkins@perez-phillips.com	Singapore	GZZF6936998445532
Nelson	Jeffrey	hsherman@gmail.com	Mayotte	ECGK2823955143629
Johnson	Brianna	martinezdaniel@hotmail.com	Costa Rica	QOVO4275314052899
Werner	Brandon	justinfischer@gmail.com	Guadeloupe	UKRT1119626365017
Bennett	Brianna	cindy08@gmail.com	Bahamas	UNPV3347450330173
Fletcher	Austin	carolharrington@fleming.org	Azerbaijan	GJZT6825738428111
Lewis	Patrick	lopezcarl@johnson.com	Saint Helena	JOQE2648899771737
Smith	Joseph	michael74@yahoo.com	Hong Kong	MNXY3262955868027
Sullivan	Sharon	gonzalezrobert@hotmail.com	Turkey	YHXF7256577475630
Wilson	Krystal	dawnjohnson@gmail.com	Swaziland	MUVI3570791852556
Schmidt	Diana	watersryan@gmail.com	Holy See (Vatican City State)	UKCP6739617302102
Huff	Sean	byoung@gmail.com	Norfolk Island	WDAT4146843903498
Nguyen	Robin	vhanson@yahoo.com	Kenya	SVMU4403517448078
Russell	Robyn	bfletcher@yahoo.com	Togo	ZNUY4071301663622
Smith	Tiffany	colleengarrison@hotmail.com	San Marino	GPFA8271551275648
Smith	Lori	catherine23@gmail.com	Romania	MKWY4848668895426
Keith	Sabrina	xmurphy@yahoo.com	Algeria	QHIW7412514205367
Johnson	Miguel	aaronrichard@middleton.net	Slovakia (Slovak Republic)	QAAO4666689281736
Barron	Dustin	jesse93@best.com	Somalia	LRPR8694143910883
Robinson	Michael	johnperez@johnson.com	Turkmenistan	UWFU1921951273393
Nguyen	Robert	jessica62@yahoo.com	Croatia	JQHS4274771257925
Abbott	Brandon	jennifer87@gmail.com	Jamaica	RSLD0426398604312
Oneill	Bruce	morenolindsay@bass.org	Montserrat	UYHI6964741005832
Nash	Linda	robertdavis@hotmail.com	Heard Island and McDonald Islands	ZKTE5908966955533
Cameron	Kathleen	melanie81@rogers.com	Niger	HHHP3471562002758
Wilkinson	Wesley	clineerin@hotmail.com	Saint Vincent and the Grenadines	UWLV6407825245995
Wallace	Debbie	terri95@hotmail.com	Antigua and Barbuda	JRBN0811785293731
Woodward	Kayla	danielle65@yahoo.com	Mexico	VDWY7565964041116
Bennett	Stephanie	sjackson@yahoo.com	Singapore	DNRB2101855092009
Jenkins	Caleb	douglas63@yahoo.com	Botswana	IILE1765776198023
Edwards	Valerie	woodardlindsey@yahoo.com	Guinea	ZJUF2687631787282
Anderson	Mary	suebrown@yahoo.com	Chile	DHMT4208071148508
Ray	Angela	swhite@yahoo.com	Mayotte	UBRR8524342666714
Edwards	Haley	martinkimberly@lopez.com	Macedonia	OGPU6537909247863
Clark	Charles	jessica11@hotmail.com	Ukraine	AHYX6128839695452
Hill	Lisa	hsmith@baker.com	Saint Martin	VUPW6891906300822
Carpenter	Jonathan	fklein@yahoo.com	Germany	PKFW4841194501766
Griffith	Latoya	ryan32@skinner.com	Lesotho	BNYD8693045932496
Blair	Kim	tmurphy@flores.biz	Nepal	FQJA6381776349463
Salazar	Mary	mary64@ray.org	Latvia	KCNI2464381879411
Krueger	Kenneth	jennajoseph@yahoo.com	Central African Republic	BIGY3006735396533
Burke	Phillip	watsonsamuel@gmail.com	Peru	CNJX1222752295544
Juarez	Erica	xvelasquez@hughes.com	Spain	ZROP5229895490397
Watkins	Jason	april99@gmail.com	Seychelles	NXKK2792812848629
Carter	Lee	kfletcher@yahoo.com	Faroe Islands	DPLN5056382218296
Huang	Randy	xchurch@hotmail.com	Tokelau	KAOL9792684486009
Owen	Kristina	megan24@stewart.net	Cocos (Keeling) Islands	WRXW4627191899235
Turner	Beth	sydneycollins@hunter.com	Burundi	OMOK4767172062189
Aguirre	Michael	robertbowen@chavez-ortega.com	Timor-Leste	KRKF7344951038740
Wilson	Elizabeth	christiandanielle@yahoo.com	Montserrat	SAAA4141150617330
Hardy	Teresa	kdavidson@gordon.com	Norway	XNWQ1072087896797
Stewart	David	bennettwanda@vega-guerra.net	Sierra Leone	FTHM1005169617995
Moore	Heather	mark00@hotmail.com	French Polynesia	OSSM9070924947595
Grant	Melissa	schaefernatalie@hotmail.com	French Guiana	CFQJ4204773901237
Thompson	Jennifer	moralesmartin@rodgers.com	Cape Verde	MGFG2793756668287
Anderson	Raymond	dprince@hotmail.com	Barbados	IGXK5881682171566
Ramsey	Angela	cparks@valdez-hudson.com	Andorra	QYBW6359021109484
Gonzales	Betty	martinezrichard@yahoo.com	Montserrat	UTSI0776569247505
Castaneda	Thomas	kpena@yahoo.com	Egypt	LSDI9463735752680
Todd	Jonathan	julie68@gmail.com	Malaysia	ISYY1401931979959
Garcia	Stacey	lukebradford@hotmail.com	Zimbabwe	HNOA0376843856035
Figueroa	Judy	ystewart@yahoo.com	Portugal	EEVV8325881104553
Castillo	Ashley	cory33@king-shaw.net	Paraguay	QXGZ3111246190069
Flores	Zachary	zcalhoun@gmail.com	Central African Republic	ACQR2846533122117
Allen	Erica	michaelhall@hotmail.com	Palau	ZAZD8310339637467
Potts	Savannah	kristentaylor@yahoo.com	Micronesia	ARWK1547324119222
Wheeler	Zachary	stephen63@yahoo.com	Armenia	OMQX4840913072589
Thomas	Timothy	bryanmartin@gmail.com	Bahrain	OCFV4659464275270
Mcknight	Ann	kristinavelasquez@gmail.com	Guatemala	DTRB4720098955341
Thompson	Ruth	denise01@burns.org	Saint Vincent and the Grenadines	YYHM5758234683389
Levy	Daniel	beancody@jones.com	Kazakhstan	AHBN3151680654826
Hubbard	Paul	ubradley@yahoo.com	Germany	FGBC0366153271398
Jones	Jason	anthony75@yahoo.com	Western Sahara	MHTE8867005510944
Garcia	Margaret	antonio52@gmail.com	Togo	IYOD4325345823013
Peters	Jeremy	johnlewis@hotmail.com	Guam	NZFX8257739892619
Stone	Mark	nmoore@hotmail.com	Kuwait	MWRB2515761996641
Edwards	Darius	nchurch@yahoo.com	Eritrea	CURJ9953745256871
Lawson	Tracy	piercejenna@gmail.com	Czech Republic	ATOT8581137487723
Cooper	Christina	ddavidson@hotmail.com	Maldives	RQGA0882784089265
Harris	Megan	ndelacruz@yahoo.com	Armenia	EOPA8088866975598
Jones	Timothy	jenniferadkins@griffin.biz	Benin	JCUN9597199552039
Burch	Tracie	evansmiguel@yahoo.com	Fiji	IZYL3351829981461
Chung	Jason	kenneththompson@baxter.com	Iceland	JDIH2349154465371
Melton	Samantha	bcurtis@hotmail.com	Macedonia	VRZP1447516193511
Hansen	Michael	phillipssean@hotmail.com	Serbia	QKAF2254397516681

In [118]:
filename = 'people.tsv'
with open(filename) as file:
    header = next(file).strip().split('\t')
    for line in file:
        line = line.strip()
        if not line:
            continue

        print(header, line.split('\t'))

['last_name', 'first_name', 'email', 'country', 'account'] ['Weaver', 'Michael', 'xdunn@hotmail.com', 'Nepal', 'QVJP6465242365388']
['last_name', 'first_name', 'email', 'country', 'account'] ['Owens', 'Jackson', 'iedwards@yahoo.com', 'Kazakhstan', 'FVQZ0955529767455']
['last_name', 'first_name', 'email', 'country', 'account'] ['Gilmore', 'Patrick', 'arogers@smith.com', 'Mauritius', 'QFIM0905182880347']
['last_name', 'first_name', 'email', 'country', 'account'] ['Perez', 'Jeffrey', 'plewis@chavez.com', 'New Zealand', 'YWOT0997131632248']
['last_name', 'first_name', 'email', 'country', 'account'] ['Thomas', 'James', 'fred92@yahoo.com', 'Yemen', 'QAAE9838291982555']
['last_name', 'first_name', 'email', 'country', 'account'] ['Nelson', 'Greg', 'mmiller@lynch.com', 'Jordan', 'PCNE8127696280157']
['last_name', 'first_name', 'email', 'country', 'account'] ['White', 'Joshua', 'steven49@gmail.com', 'Palau', 'BCEN3299883381338']
['last_name', 'first_name', 'email', 'country', 'account'] ['Francis', 'Todd', 'amanda23@hotmail.com', 'Argentina', 'XPTQ7837014557677']
['last_name', 'first_name', 'email', 'country', 'account'] ['Shaw', 'Stephen', 'jackduke@hotmail.com', 'Marshall Islands', 'TRLQ6559557081716']
['last_name', 'first_name', 'email', 'country', 'account'] ['Armstrong', 'Mariah', 'rhodesnicholas@hotmail.com', 'Albania', 'OHOV7518558201999']
['last_name', 'first_name', 'email', 'country', 'account'] ['Boyle', 'Anthony', 'smithashlee@yahoo.com', 'Kyrgyz Republic', 'MCQU7347833033110']
['last_name', 'first_name', 'email', 'country', 'account'] ['Cuevas', 'Patrick', 'ubriggs@hill.info', 'Turkmenistan', 'PPHE5533473251751']
['last_name', 'first_name', 'email', 'country', 'account'] ['Reyes', 'Gerald', 'brownclarence@gonzalez-moore.com', 'Fiji', 'JCDK1943355298609']
['last_name', 'first_name', 'email', 'country', 'account'] ['Calderon', 'Christopher', 'teresa30@carpenter-warner.com', 'Costa Rica', 'NERZ5502558659614']
['last_name', 'first_name', 'email', 'country', 'account'] ['Weiss', 'Shane', 'leekatherine@williams.com', 'Martinique', 'DLDV5789894914403']
['last_name', 'first_name', 'email', 'country', 'account'] ['Conley', 'Crystal', 'chasewatkins@perez-phillips.com', 'Singapore', 'GZZF6936998445532']
['last_name', 'first_name', 'email', 'country', 'account'] ['Nelson', 'Jeffrey', 'hsherman@gmail.com', 'Mayotte', 'ECGK2823955143629']
['last_name', 'first_name', 'email', 'country', 'account'] ['Johnson', 'Brianna', 'martinezdaniel@hotmail.com', 'Costa Rica', 'QOVO4275314052899']
['last_name', 'first_name', 'email', 'country', 'account'] ['Werner', 'Brandon', 'justinfischer@gmail.com', 'Guadeloupe', 'UKRT1119626365017']
['last_name', 'first_name', 'email', 'country', 'account'] ['Bennett', 'Brianna', 'cindy08@gmail.com', 'Bahamas', 'UNPV3347450330173']
['last_name', 'first_name', 'email', 'country', 'account'] ['Fletcher', 'Austin', 'carolharrington@fleming.org', 'Azerbaijan', 'GJZT6825738428111']
['last_name', 'first_name', 'email', 'country', 'account'] ['Lewis', 'Patrick', 'lopezcarl@johnson.com', 'Saint Helena', 'JOQE2648899771737']
['last_name', 'first_name', 'email', 'country', 'account'] ['Smith', 'Joseph', 'michael74@yahoo.com', 'Hong Kong', 'MNXY3262955868027']
['last_name', 'first_name', 'email', 'country', 'account'] ['Sullivan', 'Sharon', 'gonzalezrobert@hotmail.com', 'Turkey', 'YHXF7256577475630']
['last_name', 'first_name', 'email', 'country', 'account'] ['Wilson', 'Krystal', 'dawnjohnson@gmail.com', 'Swaziland', 'MUVI3570791852556']
['last_name', 'first_name', 'email', 'country', 'account'] ['Schmidt', 'Diana', 'watersryan@gmail.com', 'Holy See (Vatican City State)', 'UKCP6739617302102']
['last_name', 'first_name', 'email', 'country', 'account'] ['Huff', 'Sean', 'byoung@gmail.com', 'Norfolk Island', 'WDAT4146843903498']
['last_name', 'first_name', 'email', 'country', 'account'] ['Nguyen', 'Robin', 'vhanson@yahoo.com', 'Kenya', 'SVMU4403517448078']
['last_name', 'first_name', 'email', 'country', 'account'] ['Russell', 'Robyn', 'bfletcher@yahoo.com', 'Togo', 'ZNUY4071301663622']
['last_name', 'first_name', 'email', 'country', 'account'] ['Smith', 'Tiffany', 'colleengarrison@hotmail.com', 'San Marino', 'GPFA8271551275648']
['last_name', 'first_name', 'email', 'country', 'account'] ['Smith', 'Lori', 'catherine23@gmail.com', 'Romania', 'MKWY4848668895426']
['last_name', 'first_name', 'email', 'country', 'account'] ['Keith', 'Sabrina', 'xmurphy@yahoo.com', 'Algeria', 'QHIW7412514205367']
['last_name', 'first_name', 'email', 'country', 'account'] ['Johnson', 'Miguel', 'aaronrichard@middleton.net', 'Slovakia (Slovak Republic)', 'QAAO4666689281736']
['last_name', 'first_name', 'email', 'country', 'account'] ['Barron', 'Dustin', 'jesse93@best.com', 'Somalia', 'LRPR8694143910883']
['last_name', 'first_name', 'email', 'country', 'account'] ['Robinson', 'Michael', 'johnperez@johnson.com', 'Turkmenistan', 'UWFU1921951273393']
['last_name', 'first_name', 'email', 'country', 'account'] ['Nguyen', 'Robert', 'jessica62@yahoo.com', 'Croatia', 'JQHS4274771257925']
['last_name', 'first_name', 'email', 'country', 'account'] ['Abbott', 'Brandon', 'jennifer87@gmail.com', 'Jamaica', 'RSLD0426398604312']
['last_name', 'first_name', 'email', 'country', 'account'] ['Oneill', 'Bruce', 'morenolindsay@bass.org', 'Montserrat', 'UYHI6964741005832']
['last_name', 'first_name', 'email', 'country', 'account'] ['Nash', 'Linda', 'robertdavis@hotmail.com', 'Heard Island and McDonald Islands', 'ZKTE5908966955533']
['last_name', 'first_name', 'email', 'country', 'account'] ['Cameron', 'Kathleen', 'melanie81@rogers.com', 'Niger', 'HHHP3471562002758']
['last_name', 'first_name', 'email', 'country', 'account'] ['Wilkinson', 'Wesley', 'clineerin@hotmail.com', 'Saint Vincent and the Grenadines', 'UWLV6407825245995']
['last_name', 'first_name', 'email', 'country', 'account'] ['Wallace', 'Debbie', 'terri95@hotmail.com', 'Antigua and Barbuda', 'JRBN0811785293731']
['last_name', 'first_name', 'email', 'country', 'account'] ['Woodward', 'Kayla', 'danielle65@yahoo.com', 'Mexico', 'VDWY7565964041116']
['last_name', 'first_name', 'email', 'country', 'account'] ['Bennett', 'Stephanie', 'sjackson@yahoo.com', 'Singapore', 'DNRB2101855092009']
['last_name', 'first_name', 'email', 'country', 'account'] ['Jenkins', 'Caleb', 'douglas63@yahoo.com', 'Botswana', 'IILE1765776198023']
['last_name', 'first_name', 'email', 'country', 'account'] ['Edwards', 'Valerie', 'woodardlindsey@yahoo.com', 'Guinea', 'ZJUF2687631787282']
['last_name', 'first_name', 'email', 'country', 'account'] ['Anderson', 'Mary', 'suebrown@yahoo.com', 'Chile', 'DHMT4208071148508']
['last_name', 'first_name', 'email', 'country', 'account'] ['Ray', 'Angela', 'swhite@yahoo.com', 'Mayotte', 'UBRR8524342666714']
['last_name', 'first_name', 'email', 'country', 'account'] ['Edwards', 'Haley', 'martinkimberly@lopez.com', 'Macedonia', 'OGPU6537909247863']
['last_name', 'first_name', 'email', 'country', 'account'] ['Clark', 'Charles', 'jessica11@hotmail.com', 'Ukraine', 'AHYX6128839695452']
['last_name', 'first_name', 'email', 'country', 'account'] ['Hill', 'Lisa', 'hsmith@baker.com', 'Saint Martin', 'VUPW6891906300822']
['last_name', 'first_name', 'email', 'country', 'account'] ['Carpenter', 'Jonathan', 'fklein@yahoo.com', 'Germany', 'PKFW4841194501766']
['last_name', 'first_name', 'email', 'country', 'account'] ['Griffith', 'Latoya', 'ryan32@skinner.com', 'Lesotho', 'BNYD8693045932496']
['last_name', 'first_name', 'email', 'country', 'account'] ['Blair', 'Kim', 'tmurphy@flores.biz', 'Nepal', 'FQJA6381776349463']
['last_name', 'first_name', 'email', 'country', 'account'] ['Salazar', 'Mary', 'mary64@ray.org', 'Latvia', 'KCNI2464381879411']
['last_name', 'first_name', 'email', 'country', 'account'] ['Krueger', 'Kenneth', 'jennajoseph@yahoo.com', 'Central African Republic', 'BIGY3006735396533']
['last_name', 'first_name', 'email', 'country', 'account'] ['Burke', 'Phillip', 'watsonsamuel@gmail.com', 'Peru', 'CNJX1222752295544']
['last_name', 'first_name', 'email', 'country', 'account'] ['Juarez', 'Erica', 'xvelasquez@hughes.com', 'Spain', 'ZROP5229895490397']
['last_name', 'first_name', 'email', 'country', 'account'] ['Watkins', 'Jason', 'april99@gmail.com', 'Seychelles', 'NXKK2792812848629']
['last_name', 'first_name', 'email', 'country', 'account'] ['Carter', 'Lee', 'kfletcher@yahoo.com', 'Faroe Islands', 'DPLN5056382218296']
['last_name', 'first_name', 'email', 'country', 'account'] ['Huang', 'Randy', 'xchurch@hotmail.com', 'Tokelau', 'KAOL9792684486009']
['last_name', 'first_name', 'email', 'country', 'account'] ['Owen', 'Kristina', 'megan24@stewart.net', 'Cocos (Keeling) Islands', 'WRXW4627191899235']
['last_name', 'first_name', 'email', 'country', 'account'] ['Turner', 'Beth', 'sydneycollins@hunter.com', 'Burundi', 'OMOK4767172062189']
['last_name', 'first_name', 'email', 'country', 'account'] ['Aguirre', 'Michael', 'robertbowen@chavez-ortega.com', 'Timor-Leste', 'KRKF7344951038740']
['last_name', 'first_name', 'email', 'country', 'account'] ['Wilson', 'Elizabeth', 'christiandanielle@yahoo.com', 'Montserrat', 'SAAA4141150617330']
['last_name', 'first_name', 'email', 'country', 'account'] ['Hardy', 'Teresa', 'kdavidson@gordon.com', 'Norway', 'XNWQ1072087896797']
['last_name', 'first_name', 'email', 'country', 'account'] ['Stewart', 'David', 'bennettwanda@vega-guerra.net', 'Sierra Leone', 'FTHM1005169617995']
['last_name', 'first_name', 'email', 'country', 'account'] ['Moore', 'Heather', 'mark00@hotmail.com', 'French Polynesia', 'OSSM9070924947595']
['last_name', 'first_name', 'email', 'country', 'account'] ['Grant', 'Melissa', 'schaefernatalie@hotmail.com', 'French Guiana', 'CFQJ4204773901237']
['last_name', 'first_name', 'email', 'country', 'account'] ['Thompson', 'Jennifer', 'moralesmartin@rodgers.com', 'Cape Verde', 'MGFG2793756668287']
['last_name', 'first_name', 'email', 'country', 'account'] ['Anderson', 'Raymond', 'dprince@hotmail.com', 'Barbados', 'IGXK5881682171566']
['last_name', 'first_name', 'email', 'country', 'account'] ['Ramsey', 'Angela', 'cparks@valdez-hudson.com', 'Andorra', 'QYBW6359021109484']
['last_name', 'first_name', 'email', 'country', 'account'] ['Gonzales', 'Betty', 'martinezrichard@yahoo.com', 'Montserrat', 'UTSI0776569247505']
['last_name', 'first_name', 'email', 'country', 'account'] ['Castaneda', 'Thomas', 'kpena@yahoo.com', 'Egypt', 'LSDI9463735752680']
['last_name', 'first_name', 'email', 'country', 'account'] ['Todd', 'Jonathan', 'julie68@gmail.com', 'Malaysia', 'ISYY1401931979959']
['last_name', 'first_name', 'email', 'country', 'account'] ['Garcia', 'Stacey', 'lukebradford@hotmail.com', 'Zimbabwe', 'HNOA0376843856035']
['last_name', 'first_name', 'email', 'country', 'account'] ['Figueroa', 'Judy', 'ystewart@yahoo.com', 'Portugal', 'EEVV8325881104553']
['last_name', 'first_name', 'email', 'country', 'account'] ['Castillo', 'Ashley', 'cory33@king-shaw.net', 'Paraguay', 'QXGZ3111246190069']
['last_name', 'first_name', 'email', 'country', 'account'] ['Flores', 'Zachary', 'zcalhoun@gmail.com', 'Central African Republic', 'ACQR2846533122117']
['last_name', 'first_name', 'email', 'country', 'account'] ['Allen', 'Erica', 'michaelhall@hotmail.com', 'Palau', 'ZAZD8310339637467']
['last_name', 'first_name', 'email', 'country', 'account'] ['Potts', 'Savannah', 'kristentaylor@yahoo.com', 'Micronesia', 'ARWK1547324119222']
['last_name', 'first_name', 'email', 'country', 'account'] ['Wheeler', 'Zachary', 'stephen63@yahoo.com', 'Armenia', 'OMQX4840913072589']
['last_name', 'first_name', 'email', 'country', 'account'] ['Thomas', 'Timothy', 'bryanmartin@gmail.com', 'Bahrain', 'OCFV4659464275270']
['last_name', 'first_name', 'email', 'country', 'account'] ['Mcknight', 'Ann', 'kristinavelasquez@gmail.com', 'Guatemala', 'DTRB4720098955341']
['last_name', 'first_name', 'email', 'country', 'account'] ['Thompson', 'Ruth', 'denise01@burns.org', 'Saint Vincent and the Grenadines', 'YYHM5758234683389']
['last_name', 'first_name', 'email', 'country', 'account'] ['Levy', 'Daniel', 'beancody@jones.com', 'Kazakhstan', 'AHBN3151680654826']
['last_name', 'first_name', 'email', 'country', 'account'] ['Hubbard', 'Paul', 'ubradley@yahoo.com', 'Germany', 'FGBC0366153271398']
['last_name', 'first_name', 'email', 'country', 'account'] ['Jones', 'Jason', 'anthony75@yahoo.com', 'Western Sahara', 'MHTE8867005510944']
['last_name', 'first_name', 'email', 'country', 'account'] ['Garcia', 'Margaret', 'antonio52@gmail.com', 'Togo', 'IYOD4325345823013']
['last_name', 'first_name', 'email', 'country', 'account'] ['Peters', 'Jeremy', 'johnlewis@hotmail.com', 'Guam', 'NZFX8257739892619']
['last_name', 'first_name', 'email', 'country', 'account'] ['Stone', 'Mark', 'nmoore@hotmail.com', 'Kuwait', 'MWRB2515761996641']
['last_name', 'first_name', 'email', 'country', 'account'] ['Edwards', 'Darius', 'nchurch@yahoo.com', 'Eritrea', 'CURJ9953745256871']
['last_name', 'first_name', 'email', 'country', 'account'] ['Lawson', 'Tracy', 'piercejenna@gmail.com', 'Czech Republic', 'ATOT8581137487723']
['last_name', 'first_name', 'email', 'country', 'account'] ['Cooper', 'Christina', 'ddavidson@hotmail.com', 'Maldives', 'RQGA0882784089265']
['last_name', 'first_name', 'email', 'country', 'account'] ['Harris', 'Megan', 'ndelacruz@yahoo.com', 'Armenia', 'EOPA8088866975598']
['last_name', 'first_name', 'email', 'country', 'account'] ['Jones', 'Timothy', 'jenniferadkins@griffin.biz', 'Benin', 'JCUN9597199552039']
['last_name', 'first_name', 'email', 'country', 'account'] ['Burch', 'Tracie', 'evansmiguel@yahoo.com', 'Fiji', 'IZYL3351829981461']
['last_name', 'first_name', 'email', 'country', 'account'] ['Chung', 'Jason', 'kenneththompson@baxter.com', 'Iceland', 'JDIH2349154465371']
['last_name', 'first_name', 'email', 'country', 'account'] ['Melton', 'Samantha', 'bcurtis@hotmail.com', 'Macedonia', 'VRZP1447516193511']
['last_name', 'first_name', 'email', 'country', 'account'] ['Hansen', 'Michael', 'phillipssean@hotmail.com', 'Serbia', 'QKAF2254397516681']

In [119]:

class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration

for ele in PowX(5, 2):
    print(ele)

0
1
4
9
16

In [122]:
def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

powx = PowX(10, 3)
for ele in powx:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [123]:
for ele in powx:
    print(ele)

In [124]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances



t1 = TestClass()
t2 = TestClass()


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [125]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

In [126]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [127]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\n', '-'*60, '\n')

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

 ------------------------------------------------------------

In [128]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable

t1 = TestClass(1)
t2 = TestClass(2)


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

In [129]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

In [130]:
print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

In [131]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)


print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)



print('\n', '-'*60, '\n')

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

 ------------------------------------------------------------

In [132]:

class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2): # self is missing!!!!
        return number1 + number2


print('@staticmethod add: ', TestClass.add(3,4))

@staticmethod add:  7

In [133]:
x = TestClass()
x

In [134]:
x.add(2, 3)

5

In [135]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties [attributes] (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2 + class_variable

print('@staticmethod add: ', TestClass2.add(3,4))
print('\n', '-'*60, '\n')

NameError: name 'class_variable' is not defined

In [136]:
class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  12

In [137]:
class TestClass:
    class_variable = 1

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))

add_static:  27
add_class:  28

In [138]:
TestClass.add_object(3, 4) # you need to instantiate an object for this method to work!!!!

TypeError: TestClass.add_object() missing 1 required positional argument: 'number2'

In [139]:
t1 = TestClass()

print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))

Call from class -- add_object:  57

In [140]:
print('Call from object -- add_object: ', t1.add_object(13, 14)) # ==> TestClass.add_object(t1, 13, 14)

Call from object -- add_object:  57