In [1]:
import sqlite3
conn = sqlite3.connect("depts_students.db")

In [2]:
cursor = conn.cursor()

cursor.execute('SELECT DepartmentName From Departments')

for ele in cursor.fetchall():
    print(ele)

('IT',)
('Physics',)
('Arts',)
('Math',)

In [3]:
for ele in cursor.fetchall():
    print(ele)

In [4]:
cursor.execute('SELECT DepartmentName From Departments')

result = cursor.fetchone()
print(result)

('IT',)

In [5]:
for ele in cursor.fetchall():
    print(ele)

('Physics',)
('Arts',)
('Math',)

In [9]:
cursor.execute('SELECT * FROM Departments')
dept_fk_lookup = {}
for row in cursor.fetchall():
    key, text = row
    dept_fk_lookup[text] = key
print(dept_fk_lookup)

{'IT': 1, 'Physics': 2, 'Arts': 3, 'Math': 4}

In [10]:
dept_fk_lookup['Physics']

2

In [12]:
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [13]:
conn = create_connection('india_export.db')

# Get list of unique years

[(2010,), (2011,), (2012,), (2013,), (2014,), (2015,), (2016,), (2017,), (2018,)]

In [14]:
sql_statement = "SELECT DISTINCT year from export ORDER BY year"

years = execute_sql_statement(sql_statement, conn)
years = list(map(lambda row: int(row[0]), years))
print(years)

[(2010,), (2011,), (2012,), (2013,), (2014,), (2015,), (2016,), (2017,), (2018,)]
[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [33]:
create_table_sql = """CREATE TABLE [Year] (
    [YEAR] INTEGER NOT NULL PRIMARY KEY
);
"""
# conn_norm.close()

conn_norm = create_connection('india_export_norm.db', True)
create_table(conn_norm, create_table_sql)
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)
conn_norm.close()

Empty DataFrame
Columns: [YEAR]
Index: []

In [34]:
def insert_year(conn, values):
    sql = ''' INSERT INTO YEAR(YEAR)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

In [35]:
conn_norm = create_connection('india_export_norm.db')

with conn_norm:
    for year in years:
        insert_year(conn_norm, (year, ))

In [36]:
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)
conn_norm.close()

   YEAR
0  2010
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017
8  2018

In [37]:
conn_norm = create_connection('india_export_norm.db')
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)
conn_norm.close()

   YEAR
0  2010
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017
8  2018

In [38]:
# Get list of unique countries

sql_statement = "SELECT DISTINCT country from export ORDER BY country"

countries = execute_sql_statement(sql_statement, conn)
countries = list(map(lambda row: row[0], countries))
print(countries)

['AFGHANISTAN TIS', 'ALBANIA', 'ALGERIA', 'AMERI SAMOA', 'ANDORRA', 'ANGOLA', 'ANGUILLA', 'ANTARTICA', 'ANTIGUA', 'ARGENTINA', 'ARMENIA', 'ARUBA', 'AUSTRALIA', 'AUSTRIA', 'AZERBAIJAN', 'BAHAMAS', 'BAHARAIN IS', 'BANGLADESH PR', 'BARBADOS', 'BELARUS', 'BELGIUM', 'BELIZE', 'BENIN', 'BERMUDA', 'BHUTAN', 'BOLIVIA', 'BOSNIA-HRZGOVIN', 'BOTSWANA', 'BR VIRGN IS', 'BRAZIL', 'BRUNEI', 'BULGARIA', 'BURKINA FASO', 'BURUNDI', 'C AFRI REP', 'CAMBODIA', 'CAMEROON', 'CANADA', 'CANARY IS', 'CAPE VERDE IS', 'CAYMAN IS', 'CHAD', 'CHANNEL IS', 'CHILE', 'CHINA P RP', 'CHRISTMAS IS.', 'COCOS IS', 'COLOMBIA', 'COMOROS', 'CONGO D. REP.', 'CONGO P REP', 'COOK IS', 'COSTA RICA', "COTE D' IVOIRE", 'CROATIA', 'CUBA', 'CURACAO', 'CYPRUS', 'CZECH REPUBLIC', 'DENMARK', 'DJIBOUTI', 'DOMINIC REP', 'DOMINICA', 'ECUADOR', 'EGYPT A RP', 'EL SALVADOR', 'EQUTL GUINEA', 'ERITREA', 'ESTONIA', 'ETHIOPIA', 'FALKLAND IS', 'FAROE IS.', 'FIJI IS', 'FINLAND', 'FR GUIANA', 'FR POLYNESIA', 'FR S ANT TR', 'FRANCE', 'GABON', 'GAMBIA', 'GEORGIA', 'GERMANY', 'GHANA', 'GIBRALTAR', 'GREECE', 'GREENLAND', 'GRENADA', 'GUADELOUPE', 'GUAM', 'GUATEMALA', 'GUERNSEY', 'GUINEA', 'GUINEA BISSAU', 'GUYANA', 'HAITI', 'HEARD MACDONALD', 'HONDURAS', 'HONG KONG', 'HUNGARY', 'ICELAND', 'INDONESIA', 'INSTALLATIONS IN INTERNATIONAL WATERS   ', 'IRAN', 'IRAQ', 'IRELAND', 'ISRAEL', 'ITALY', 'JAMAICA', 'JAPAN', 'JERSEY         ', 'JORDAN', 'KAZAKHSTAN', 'KENYA', 'KIRIBATI REP', 'KOREA DP RP', 'KOREA RP', 'KUWAIT', 'KYRGHYZSTAN', 'LAO PD RP', 'LATVIA', 'LEBANON', 'LESOTHO', 'LIBERIA', 'LIBYA', 'LIECHTENSTEIN', 'LITHUANIA', 'LUXEMBOURG', 'MACAO', 'MACEDONIA', 'MADAGASCAR', 'MALAWI', 'MALAYSIA', 'MALDIVES', 'MALI', 'MALTA', 'MARSHALL ISLAND', 'MARTINIQUE', 'MAURITANIA', 'MAURITIUS', 'MAYOTTE', 'MEXICO', 'MICRONESIA', 'MOLDOVA', 'MONACO', 'MONGOLIA', 'MONTENEGRO', 'MONTSERRAT', 'MOROCCO', 'MOZAMBIQUE', 'MYANMAR', 'N. MARIANA IS.', 'NAMIBIA', 'NAURU RP', 'NEPAL', 'NETHERLAND', 'NETHERLANDANTIL', 'NEUTRAL ZONE', 'NEW CALEDONIA', 'NEW ZEALAND', 'NICARAGUA', 'NIGER', 'NIGERIA', 'NIUE IS', 'NORFOLK IS', 'NORWAY', 'OMAN', 'PACIFIC IS', 'PAKISTAN IR', 'PALAU', 'PANAMA C Z', 'PANAMA REPUBLIC', 'PAPUA N GNA', 'PARAGUAY', 'PERU', 'PHILIPPINES', 'PITCAIRN IS.', 'POLAND', 'PORTUGAL', 'PUERTO RICO', 'QATAR', 'REUNION', 'ROMANIA', 'RUSSIA', 'RWANDA', 'SAHARWI A.DM RP', 'SAMOA', 'SAN MARINO', 'SAO TOME', 'SAUDI ARAB', 'SENEGAL', 'SERBIA', 'SEYCHELLES', 'SIERRA LEONE', 'SINGAPORE', 'SINT MAARTEN (DUTCH PART)', 'SLOVAK REP', 'SLOVENIA', 'SOLOMON IS', 'SOMALIA', 'SOUTH AFRICA', 'SOUTH SUDAN ', 'SPAIN', 'SRI LANKA DSR', 'ST HELENA', 'ST KITT N A', 'ST LUCIA', 'ST PIERRE', 'ST VINCENT', 'STATE OF PALEST', 'SUDAN', 'SURINAME', 'SWAZILAND', 'SWEDEN', 'SWITZERLAND', 'SYRIA', 'TAIWAN', 'TAJIKISTAN', 'TANZANIA REP', 'THAILAND', 'TIMOR LESTE', 'TOGO', 'TOKELAU IS', 'TONGA', 'TRINIDAD', 'TUNISIA', 'TURKEY', 'TURKMENISTAN', 'TURKS C IS', 'TUVALU', 'U ARAB EMTS', 'U K', 'U S A', 'UGANDA', 'UKRAINE', 'UNION OF SERBIA & MONTENEGRO', 'UNSPECIFIED', 'URUGUAY', 'US MINOR OUTLYING ISLANDS               ', 'UZBEKISTAN', 'VANUATU REP', 'VATICAN CITY', 'VENEZUELA', 'VIETNAM SOC REP', 'VIRGIN IS US', 'WALLIS F IS', 'YEMEN REPUBLC', 'ZAMBIA', 'ZIMBABWE']

In [39]:
def insert_country(conn, values):
    sql = ''' INSERT INTO COUNTRY(COUNTRY)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

create_table_sql = """CREATE TABLE IF NOT EXISTS [Country] (
    [Country] TEXT NOT NULL PRIMARY KEY
);
"""
conn_norm = create_connection('india_export_norm.db')

create_table(conn_norm, create_table_sql)

with conn_norm:
    for country in countries:
        insert_country(conn_norm, (country, ))
        
sql_statement = "SELECT * FROM country"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

             Country
0    AFGHANISTAN TIS
1            ALBANIA
2            ALGERIA
3        AMERI SAMOA
4            ANDORRA
..               ...
243     VIRGIN IS US
244      WALLIS F IS
245    YEMEN REPUBLC
246           ZAMBIA
247         ZIMBABWE

[248 rows x 1 columns]

In [40]:
sql_statement = "SELECT DISTINCT COMMODITY FROM export order by COMMODITY"
commodities = execute_sql_statement(sql_statement, conn)
print(commodities)
print(len(commodities))

[('AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.',), ('ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GLUES; ENZYMES.',), ('ALUMINIUM AND ARTICLES THEREOF.',), ('ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CLEAVAGE PRODUCTS; PRE. EDIBLE FATS; ANIMAL OR VEGETABLE WAXEX.',), ('ARMS AND AMMUNITION; PARTS AND ACCESSORIES THEREOF.',), ('ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CORCHETED.',), ('ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, NOT KNITTED OR CROCHETED.',), ('ARTICLES OF IRON OR STEEL',), ('ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVEL GOODS, HANDBAGS AND SIMILAR CONT.ARTICLES OF ANIMAL GUT(OTHR THN SILK-WRM)GUT.',), ('ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.',), ('BEVERAGES, SPIRITS AND VINEGAR.',), ('CARPETS AND OTHER TEXTILE FLOOR COVERINGS.',), ('CERAMIC PRODUCTS.',), ('CEREALS.',), ('CLOCKS AND WATCHES AND PARTS THEREOF.',), ('COCOA AND COCOA PREPARATIONS.',), ('COFFEE, TEA, MATE AND SPICES.',), ('COPPER AND ARTICLES THEREOF.',), ('CORK AND ARTICLES OF CORK.',), ('COTTON.',), ("DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR INCLUDED.",), ('EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR MELONS.',), ('EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.',), ('ELECTRICAL MACHINERY AND EQUIPMENT AND PARTS THEREOF; SOUND RECORDERS AND REPRODUCERS, TELEVISION IMAGE AND SOUND RECORDERS AND REPRODUCERS,AND PARTS.',), ('ESSENTIAL OILS AND RESINOIDS; PERFUMERY, COSMETIC OR TOILET PREPARATIONS.',), ('EXPLOSIVES; PYROTECHNIC PRODUCTS; MATCHES; PYROPHORIC ALLOYS; CERTAIN COMBUSTIBLE PREPARATIONS.',), ('FERTILISERS.',), ('FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.',), ('FOOTWEAR, GAITERS AND THE LIKE; PARTS OF SUCH ARTICLES.',), ('FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPORTS, CUSHIONS AND SIMILAR STUFFED FURNISHING; LAMPS AND LIGHTING FITTINGS NOT ELSEWHERE SPECIFIED OR INC',), ('FURSKINS AND ARTIFICIAL FUR, MANUFACTURES THEREOF.',), ('GLASS AND GLASSWARE.',), ('HEADGEAR AND PARTS THEREOF.',), ('IMPREGNATED, COATED, COVERED OR LAMINATED TEXTILE FABRICS; TEXTILE ARTICLES OF A KIND SUITABLE FOR INDUSTRIAL USE.',), ('INORGANIC CHEMICALS; ORGANIC OR INORGANIC COMPOUNDS OF PRECIOUS METALS, OF RARE-EARTH METALS, OR RADI. ELEM. OR OF ISOTOPES.',), ('IRON AND STEEL',), ('KNITTED OR CROCHETED FABRICS.',), ('LAC; GUMS, RESINS AND OTHER VEGETABLE SAPS AND EXTRACTS.',), ('LEAD AND ARTICLES THEREOF.',), ('LIVE ANIMALS.',), ('LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.',), ('MAN-MADE FILAMENTS.',), ('MAN-MADE STAPLE FIBRES.',), ('MANUFACTURES OF STRAW, OF ESPARTO OR OF OTHER PLAITING MATERIALS; BASKETWARE AND WICKERWORK.',), ('MEAT AND EDIBLE MEAT OFFAL.',), ('MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.',), ('MISCELLANEOUS ARTICLES OF BASE METAL.',), ('MISCELLANEOUS CHEMICAL PRODUCTS.',), ('MISCELLANEOUS EDIBLE PREPARATIONS.',), ('MISCELLANEOUS GOODS.',), ('MISCELLANEOUS MANUFACTURED ARTICLES.',), ('MUSICAL INSTRUMENTS; PARTS AND ACCESSORIES OF SUCH ARTICLES.',), ('NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.',), ('NICKEL AND ARTICLES THEREOF.',), ('NUCLEAR REACTORS, BOILERS, MACHINERY AND MECHANICAL APPLIANCES; PARTS THEREOF.',), ('OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEEDS AND FRUIT; INDUSTRIAL OR MEDICINAL PLANTS; STRAW AND FODDER.',), ('OPTICAL, PHOTOGRAPHIC CINEMATOGRAPHIC MEASURING, CHECKING PRECISION, MEDICAL OR SURGICAL INST. AND APPARATUS PARTS AND ACCESSORIES THEREOF;',), ('ORES, SLAG AND ASH.',), ('ORGANIC CHEMICALS',), ('OTHER BASE METALS; CERMETS; ARTICLES THEREOF.',), ('OTHER MADE UP TEXTILE ARTICLES; SETS; WORN CLOTHING AND WORN TEXTILE ARTICLES; RAGS',), ('OTHER VEGETABLE TEXTILE FIBRES; PAPER YARN AND WOVEN FABRICS OF PAPER YARN.',), ('PAPER AND PAPERBOARD; ARTICLES OF PAPER PULP, OF PAPER OR OF PAPERBOARD.',), ('PHARMACEUTICAL PRODUCTS',), ('PHOTOGRAPHIC OR CINEMATOGRAPHIC GOODS.',), ('PLASTIC AND ARTICLES THEREOF.',), ('PREPARATIONS OF CEREALS, FLOUR, STARCH OR MILK; PASTRYCOOKS PRODUCTS.',), ('PREPARATIONS OF MEAT, OF FISH OR OF CRUSTACEANS, MOLLUSCS OR OTHER AQUATIC INVERTEBRATES',), ('PREPARATIONS OF VEGETABLES, FRUIT, NUTS OR OTHER PARTS OF PLANTS.',), ('PREPARED FEATHERS AND DOWN AND ARTICLES MADE OF FEATHERS OR OF DOWN; ARTIFICIAL FLOWERS; ARTICLES OF HUMAN HAIR.',), ('PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER PRODUCTS OF THE PRINTING INDUSTRY; MANUSCRIPTS, TYPESCRIPTS AND PLANS.',), ('PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED.',), ('PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCHES; INULIN; WHEAT GLUTEN.',), ('PROJECT GOODS; SOME SPECIAL USES.',), ('PULP OF WOOD OR OF OTHER FIBROUS CELLULOSIC MATERIAL; WASTE AND SCRAP OF PAPER OR PAPERBOARD.',), ('RAILWAY OR TRAMWAY LOCOMOTIVES, ROLLING-STOCK AND PARTS THEREOF; RAILWAY OR TRAMWAY TRACK FIXTURES AND FITTINGS AND PARTS THEREOF; MECHANICAL',), ('RAW HIDES AND SKINS (OTHER THAN FURSKINS) AND LEATHER',), ('RESIDUES AND WASTE FROM THE FOOD INDUSTRIES; PREPARED ANIMAL FODER.',), ('RUBBER AND ARTICLES THEREOF.',), ('SALT; SULPHUR; EARTHS AND STONE; PLASTERING MATERIALS, LIME AND CEMENT.',), ('SHIPS, BOATS AND FLOATING STRUCTURES.',), ('SILK',), ('SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING PREPARATIONS, LUBRICATING PREPARATIONS, ARTIFICIAL WAXES, PREPARED WAXES, POLISHING OR SCOURING PREP.',), ('SPECIAL WOVEN FABRICS; TUFTED TEXTILE FABRICS; LACE; TAPESTRIES; TRIMMINGS; EMBROIDERY.',), ('SUGARS AND SUGAR CONFECTIONERY.',), ('TANNING OR DYEING EXTRACTS; TANNINS AND THEIR DERI. DYES, PIGMENTS AND OTHER COLOURING MATTER; PAINTS AND VER; PUTTY AND OTHER MASTICS; INKS.',), ('TIN AND ARTICLES THEREOF.',), ('TOBACCO AND MANUFACTURED TOBACCO SUBSTITUTES.',), ('TOOLS IMPLEMENTS, CUTLERY, SPOONS AND FORKS, OF BASE METAL; PARTS THEREOF OF BASE METAL.',), ('TOYS, GAMES AND SPORTS REQUISITES; PARTS AND ACCESSORIES THEREOF.',), ('UMBRELLAS, SUN UMBRELLAS, WALKING-STICKS, SEAT-STICKS, WHIPS,RIDING-CROPS AND PARTS THEREOF.',), ('VEGETABLE PLAITING MATERIALS; VEGETABLE PRODUCTS NOT ELSEWHERE SPECIFIED OR INCLUDED.',), ('VEHICLES OTHER THAN RAILWAY OR TRAMWAY ROLLING STOCK, AND PARTS AND ACCESSORIES THEREOF.',), ('WADDING, FELT AND NONWOVENS; SPACIAL YARNS; TWINE, CORDAGE, ROPES AND CABLES AND ARTICLES THEREOF.',), ('WOOD AND ARTICLES OF WOOD; WOOD CHARCOAL.',), ('WOOL, FINE OR COARSE ANIMAL HAIR, HORSEHAIR YARN AND WOVEN FABRIC.',), ("WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.",), ('ZINC AND ARTICLES THEREOF.',)]
98

In [41]:
def insert_commodity(conn, values):
    sql = ''' INSERT INTO COMMODITY (COMMODITY)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

create_table_sql = """CREATE TABLE IF NOT EXISTS [COMMODITY] (
    [HSCODE] INTEGER NOT NULL PRIMARY KEY, 
    [COMMODITY] TEXT NOT NULL
);
"""
create_table(conn_norm, create_table_sql)

In [42]:
with conn_norm:
    for commodity in commodities:
        insert_commodity(conn_norm, commodity)
        
sql_statement = "SELECT * FROM Commodity"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

    HSCODE                                          COMMODITY
0        1           AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.
1        2  ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GL...
2        3                    ALUMINIUM AND ARTICLES THEREOF.
3        4  ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CL...
4        5  ARMS AND AMMUNITION; PARTS AND ACCESSORIES THE...
..     ...                                                ...
93      94  WADDING, FELT AND NONWOVENS; SPACIAL YARNS; TW...
94      95          WOOD AND ARTICLES OF WOOD; WOOD CHARCOAL.
95      96  WOOL, FINE OR COARSE ANIMAL HAIR, HORSEHAIR YA...
96      97      WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.
97      98                         ZINC AND ARTICLES THEREOF.

[98 rows x 2 columns]

In [43]:
# Table 4 which is going link all the tables with values

def insert_value(conn, values):
    sql = ''' INSERT INTO Export (HSCODE, COUNTRY, YEAR, VALUE)
              VALUES(?, ?, ?, ?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
    [VALUEID] INTEGER NOT NULL PRIMARY KEY,
    [HSCODE] INTEGER NOT NULL, 
    [COUNTRY] TEXT NOT NULL,
    [YEAR] INTEGER NOT NULL,
    [VALUE] REAL,
    FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
    FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
    FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
);
"""
create_table(conn_norm, create_table_sql)

In [44]:
sql_statement = 'SELECT Commodity, country, year, value from export'
values = execute_sql_statement(sql_statement, conn)
print(values[:10])

[('MEAT AND EDIBLE MEAT OFFAL.', 'AFGHANISTAN TIS', 2018, 0.18), ('FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.', 'AFGHANISTAN TIS', 2018, 0.0), ("DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR INCLUDED.", 'AFGHANISTAN TIS', 2018, 12.48), ('LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.', 'AFGHANISTAN TIS', 2018, 0.0), ('EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.', 'AFGHANISTAN TIS', 2018, 1.89), ('EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR MELONS.', 'AFGHANISTAN TIS', 2018, 25.01), ('COFFEE, TEA, MATE AND SPICES.', 'AFGHANISTAN TIS', 2018, 13.75), ('CEREALS.', 'AFGHANISTAN TIS', 2018, 0.75), ('PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCHES; INULIN; WHEAT GLUTEN.', 'AFGHANISTAN TIS', 2018, 0.01), ('OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEEDS AND FRUIT; INDUSTRIAL OR MEDICINAL PLANTS; STRAW AND FODDER.', 'AFGHANISTAN TIS', 2018, 10.02)]

In [45]:
sql_statement = 'SELECT HSCODE, COMMODITY from COMMODITY'
values = execute_sql_statement(sql_statement, conn_norm)
print(values[:10])

[(1, 'AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.'), (2, 'ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GLUES; ENZYMES.'), (3, 'ALUMINIUM AND ARTICLES THEREOF.'), (4, 'ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CLEAVAGE PRODUCTS; PRE. EDIBLE FATS; ANIMAL OR VEGETABLE WAXEX.'), (5, 'ARMS AND AMMUNITION; PARTS AND ACCESSORIES THEREOF.'), (6, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CORCHETED.'), (7, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, NOT KNITTED OR CROCHETED.'), (8, 'ARTICLES OF IRON OR STEEL'), (9, 'ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVEL GOODS, HANDBAGS AND SIMILAR CONT.ARTICLES OF ANIMAL GUT(OTHR THN SILK-WRM)GUT.'), (10, 'ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.')]

In [46]:
commodity_lookup = {}
for hscode, commodity in values:
    f[commodity] = hscode
    
print(commodity_lookup)

{'AIRCRAFT, SPACECRAFT, AND PARTS THEREOF.': 1, 'ALBUMINOIDAL SUBSTANCES; MODIFIED STARCHES; GLUES; ENZYMES.': 2, 'ALUMINIUM AND ARTICLES THEREOF.': 3, 'ANIMAL OR VEGETABLE FATS AND OILS AND THEIR CLEAVAGE PRODUCTS; PRE. EDIBLE FATS; ANIMAL OR VEGETABLE WAXEX.': 4, 'ARMS AND AMMUNITION; PARTS AND ACCESSORIES THEREOF.': 5, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, KNITTED OR CORCHETED.': 6, 'ARTICLES OF APPAREL AND CLOTHING ACCESSORIES, NOT KNITTED OR CROCHETED.': 7, 'ARTICLES OF IRON OR STEEL': 8, 'ARTICLES OF LEATHER,SADDLERY AND HARNESS;TRAVEL GOODS, HANDBAGS AND SIMILAR CONT.ARTICLES OF ANIMAL GUT(OTHR THN SILK-WRM)GUT.': 9, 'ARTICLES OF STONE, PLASTER, CEMENT, ASBESTOS, MICA OR SIMILAR MATERIALS.': 10, 'BEVERAGES, SPIRITS AND VINEGAR.': 11, 'CARPETS AND OTHER TEXTILE FLOOR COVERINGS.': 12, 'CERAMIC PRODUCTS.': 13, 'CEREALS.': 14, 'CLOCKS AND WATCHES AND PARTS THEREOF.': 15, 'COCOA AND COCOA PREPARATIONS.': 16, 'COFFEE, TEA, MATE AND SPICES.': 17, 'COPPER AND ARTICLES THEREOF.': 18, 'CORK AND ARTICLES OF CORK.': 19, 'COTTON.': 20, "DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDIBLE PROD. OF ANIMAL ORIGIN, NOT ELSEWHERE SPEC. OR INCLUDED.": 21, 'EDIBLE FRUIT AND NUTS; PEEL OR CITRUS FRUIT OR MELONS.': 22, 'EDIBLE VEGETABLES AND CERTAIN ROOTS AND TUBERS.': 23, 'ELECTRICAL MACHINERY AND EQUIPMENT AND PARTS THEREOF; SOUND RECORDERS AND REPRODUCERS, TELEVISION IMAGE AND SOUND RECORDERS AND REPRODUCERS,AND PARTS.': 24, 'ESSENTIAL OILS AND RESINOIDS; PERFUMERY, COSMETIC OR TOILET PREPARATIONS.': 25, 'EXPLOSIVES; PYROTECHNIC PRODUCTS; MATCHES; PYROPHORIC ALLOYS; CERTAIN COMBUSTIBLE PREPARATIONS.': 26, 'FERTILISERS.': 27, 'FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUATIC INVERTABRATES.': 28, 'FOOTWEAR, GAITERS AND THE LIKE; PARTS OF SUCH ARTICLES.': 29, 'FURNITURE; BEDDING, MATTRESSES, MATTRESS SUPPORTS, CUSHIONS AND SIMILAR STUFFED FURNISHING; LAMPS AND LIGHTING FITTINGS NOT ELSEWHERE SPECIFIED OR INC': 30, 'FURSKINS AND ARTIFICIAL FUR, MANUFACTURES THEREOF.': 31, 'GLASS AND GLASSWARE.': 32, 'HEADGEAR AND PARTS THEREOF.': 33, 'IMPREGNATED, COATED, COVERED OR LAMINATED TEXTILE FABRICS; TEXTILE ARTICLES OF A KIND SUITABLE FOR INDUSTRIAL USE.': 34, 'INORGANIC CHEMICALS; ORGANIC OR INORGANIC COMPOUNDS OF PRECIOUS METALS, OF RARE-EARTH METALS, OR RADI. ELEM. OR OF ISOTOPES.': 35, 'IRON AND STEEL': 36, 'KNITTED OR CROCHETED FABRICS.': 37, 'LAC; GUMS, RESINS AND OTHER VEGETABLE SAPS AND EXTRACTS.': 38, 'LEAD AND ARTICLES THEREOF.': 39, 'LIVE ANIMALS.': 40, 'LIVE TREES AND OTHER PLANTS; BULBS; ROOTS AND THE LIKE; CUT FLOWERS AND ORNAMENTAL FOLIAGE.': 41, 'MAN-MADE FILAMENTS.': 42, 'MAN-MADE STAPLE FIBRES.': 43, 'MANUFACTURES OF STRAW, OF ESPARTO OR OF OTHER PLAITING MATERIALS; BASKETWARE AND WICKERWORK.': 44, 'MEAT AND EDIBLE MEAT OFFAL.': 45, 'MINERAL FUELS, MINERAL OILS AND PRODUCTS OF THEIR DISTILLATION; BITUMINOUS SUBSTANCES; MINERAL WAXES.': 46, 'MISCELLANEOUS ARTICLES OF BASE METAL.': 47, 'MISCELLANEOUS CHEMICAL PRODUCTS.': 48, 'MISCELLANEOUS EDIBLE PREPARATIONS.': 49, 'MISCELLANEOUS GOODS.': 50, 'MISCELLANEOUS MANUFACTURED ARTICLES.': 51, 'MUSICAL INSTRUMENTS; PARTS AND ACCESSORIES OF SUCH ARTICLES.': 52, 'NATURAL OR CULTURED PEARLS,PRECIOUS OR SEMIPRECIOUS STONES,PRE.METALS,CLAD WITH PRE.METAL AND ARTCLS THEREOF;IMIT.JEWLRY;COIN.': 53, 'NICKEL AND ARTICLES THEREOF.': 54, 'NUCLEAR REACTORS, BOILERS, MACHINERY AND MECHANICAL APPLIANCES; PARTS THEREOF.': 55, 'OIL SEEDS AND OLEA. FRUITS; MISC. GRAINS, SEEDS AND FRUIT; INDUSTRIAL OR MEDICINAL PLANTS; STRAW AND FODDER.': 56, 'OPTICAL, PHOTOGRAPHIC CINEMATOGRAPHIC MEASURING, CHECKING PRECISION, MEDICAL OR SURGICAL INST. AND APPARATUS PARTS AND ACCESSORIES THEREOF;': 57, 'ORES, SLAG AND ASH.': 58, 'ORGANIC CHEMICALS': 59, 'OTHER BASE METALS; CERMETS; ARTICLES THEREOF.': 60, 'OTHER MADE UP TEXTILE ARTICLES; SETS; WORN CLOTHING AND WORN TEXTILE ARTICLES; RAGS': 61, 'OTHER VEGETABLE TEXTILE FIBRES; PAPER YARN AND WOVEN FABRICS OF PAPER YARN.': 62, 'PAPER AND PAPERBOARD; ARTICLES OF PAPER PULP, OF PAPER OR OF PAPERBOARD.': 63, 'PHARMACEUTICAL PRODUCTS': 64, 'PHOTOGRAPHIC OR CINEMATOGRAPHIC GOODS.': 65, 'PLASTIC AND ARTICLES THEREOF.': 66, 'PREPARATIONS OF CEREALS, FLOUR, STARCH OR MILK; PASTRYCOOKS PRODUCTS.': 67, 'PREPARATIONS OF MEAT, OF FISH OR OF CRUSTACEANS, MOLLUSCS OR OTHER AQUATIC INVERTEBRATES': 68, 'PREPARATIONS OF VEGETABLES, FRUIT, NUTS OR OTHER PARTS OF PLANTS.': 69, 'PREPARED FEATHERS AND DOWN AND ARTICLES MADE OF FEATHERS OR OF DOWN; ARTIFICIAL FLOWERS; ARTICLES OF HUMAN HAIR.': 70, 'PRINTED BOOKDS, NEWSPAPERS, PICTURES AND OTHER PRODUCTS OF THE PRINTING INDUSTRY; MANUSCRIPTS, TYPESCRIPTS AND PLANS.': 71, 'PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECIFIED OR INCLUDED.': 72, 'PRODUCTS OF THE MILLING INDUSTRY; MALT; STARCHES; INULIN; WHEAT GLUTEN.': 73, 'PROJECT GOODS; SOME SPECIAL USES.': 74, 'PULP OF WOOD OR OF OTHER FIBROUS CELLULOSIC MATERIAL; WASTE AND SCRAP OF PAPER OR PAPERBOARD.': 75, 'RAILWAY OR TRAMWAY LOCOMOTIVES, ROLLING-STOCK AND PARTS THEREOF; RAILWAY OR TRAMWAY TRACK FIXTURES AND FITTINGS AND PARTS THEREOF; MECHANICAL': 76, 'RAW HIDES AND SKINS (OTHER THAN FURSKINS) AND LEATHER': 77, 'RESIDUES AND WASTE FROM THE FOOD INDUSTRIES; PREPARED ANIMAL FODER.': 78, 'RUBBER AND ARTICLES THEREOF.': 79, 'SALT; SULPHUR; EARTHS AND STONE; PLASTERING MATERIALS, LIME AND CEMENT.': 80, 'SHIPS, BOATS AND FLOATING STRUCTURES.': 81, 'SILK': 82, 'SOAP, ORGANIC SURFACE-ACTIVE AGENTS, WASHING PREPARATIONS, LUBRICATING PREPARATIONS, ARTIFICIAL WAXES, PREPARED WAXES, POLISHING OR SCOURING PREP.': 83, 'SPECIAL WOVEN FABRICS; TUFTED TEXTILE FABRICS; LACE; TAPESTRIES; TRIMMINGS; EMBROIDERY.': 84, 'SUGARS AND SUGAR CONFECTIONERY.': 85, 'TANNING OR DYEING EXTRACTS; TANNINS AND THEIR DERI. DYES, PIGMENTS AND OTHER COLOURING MATTER; PAINTS AND VER; PUTTY AND OTHER MASTICS; INKS.': 86, 'TIN AND ARTICLES THEREOF.': 87, 'TOBACCO AND MANUFACTURED TOBACCO SUBSTITUTES.': 88, 'TOOLS IMPLEMENTS, CUTLERY, SPOONS AND FORKS, OF BASE METAL; PARTS THEREOF OF BASE METAL.': 89, 'TOYS, GAMES AND SPORTS REQUISITES; PARTS AND ACCESSORIES THEREOF.': 90, 'UMBRELLAS, SUN UMBRELLAS, WALKING-STICKS, SEAT-STICKS, WHIPS,RIDING-CROPS AND PARTS THEREOF.': 91, 'VEGETABLE PLAITING MATERIALS; VEGETABLE PRODUCTS NOT ELSEWHERE SPECIFIED OR INCLUDED.': 92, 'VEHICLES OTHER THAN RAILWAY OR TRAMWAY ROLLING STOCK, AND PARTS AND ACCESSORIES THEREOF.': 93, 'WADDING, FELT AND NONWOVENS; SPACIAL YARNS; TWINE, CORDAGE, ROPES AND CABLES AND ARTICLES THEREOF.': 94, 'WOOD AND ARTICLES OF WOOD; WOOD CHARCOAL.': 95, 'WOOL, FINE OR COARSE ANIMAL HAIR, HORSEHAIR YARN AND WOVEN FABRIC.': 96, "WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.": 97, 'ZINC AND ARTICLES THEREOF.': 98}

In [47]:
# create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
#     [VALUEID] INTEGER NOT NULL PRIMARY KEY,
#     [HSCODE] INTEGER NOT NULL, 
#     [COUNTRY] TEXT NOT NULL,
#     [YEAR] INTEGER NOT NULL,
#     [VALUE] REAL,
#     FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
#     FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
#     FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
# );
# """

sql_statement = 'SELECT Commodity, country, year, value from export'
values = execute_sql_statement(sql_statement, conn)
# with conn_norm:
count = 0
with conn_norm:
    for value in values:
        text = value[0]
        hscode = commodity_lookup[text]
        insert_tuple = (hscode, value[1], value[2], value[3])
        insert_value(conn_norm, insert_tuple)

In [48]:
conn_norm.close()

In [49]:
import time
time.monotonic()

55767.953

In [52]:
start = time.bmonotonic()

In [53]:
end = time.monotonic()
print(end-start)

9.469000000004598

In [54]:
conn_norm = create_connection('india_export_norm.db')
cur = conn_norm.cursor()
cur.execute('DROP TABLE EXPORT')
create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
    [VALUEID] INTEGER NOT NULL PRIMARY KEY,
    [HSCODE] INTEGER NOT NULL, 
    [COUNTRY] TEXT NOT NULL,
    [YEAR] INTEGER NOT NULL,
    [VALUE] REAL,
    FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
    FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
    FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
);
"""
create_table(conn_norm, create_table_sql)

with conn_norm:
    start_time = time.monotonic() 
    for value in values:
        text = value[0]
        hscode = commodity_lookup[text]
        insert_tuple = (hscode, value[1], value[2], value[3])
        insert_value(conn_norm, insert_tuple)
end_time = time.monotonic()     


print(end_time-start_time)

0.9219999999986612

In [55]:
insert_tuples = []

for value in values:
    text = value[0]
    hscode = commodity_lookup[text]
    insert_tuple = (hscode, value[1], value[2], value[3])
    insert_tuples.append(insert_tuple)
print(insert_tuples[:100])

[(45, 'AFGHANISTAN TIS', 2018, 0.18), (28, 'AFGHANISTAN TIS', 2018, 0.0), (21, 'AFGHANISTAN TIS', 2018, 12.48), (41, 'AFGHANISTAN TIS', 2018, 0.0), (23, 'AFGHANISTAN TIS', 2018, 1.89), (22, 'AFGHANISTAN TIS', 2018, 25.01), (17, 'AFGHANISTAN TIS', 2018, 13.75), (14, 'AFGHANISTAN TIS', 2018, 0.75), (73, 'AFGHANISTAN TIS', 2018, 0.01), (56, 'AFGHANISTAN TIS', 2018, 10.02), (38, 'AFGHANISTAN TIS', 2018, 0.04), (92, 'AFGHANISTAN TIS', 2018, None), (4, 'AFGHANISTAN TIS', 2018, 0.37), (85, 'AFGHANISTAN TIS', 2018, 15.92), (16, 'AFGHANISTAN TIS', 2018, 0.0), (67, 'AFGHANISTAN TIS', 2018, 0.63), (69, 'AFGHANISTAN TIS', 2018, 5.04), (49, 'AFGHANISTAN TIS', 2018, 3.08), (11, 'AFGHANISTAN TIS', 2018, 0.01), (78, 'AFGHANISTAN TIS', 2018, 0.22), (88, 'AFGHANISTAN TIS', 2018, 91.22), (80, 'AFGHANISTAN TIS', 2018, 0.02), (46, 'AFGHANISTAN TIS', 2018, 0.59), (35, 'AFGHANISTAN TIS', 2018, 1.08), (59, 'AFGHANISTAN TIS', 2018, 7.15), (64, 'AFGHANISTAN TIS', 2018, 80.27), (27, 'AFGHANISTAN TIS', 2018, 0.0), (86, 'AFGHANISTAN TIS', 2018, 0.21), (25, 'AFGHANISTAN TIS', 2018, 5.63), (83, 'AFGHANISTAN TIS', 2018, 0.32), (2, 'AFGHANISTAN TIS', 2018, 0.04), (26, 'AFGHANISTAN TIS', 2018, 0.01), (65, 'AFGHANISTAN TIS', 2018, 0.0), (48, 'AFGHANISTAN TIS', 2018, 1.31), (66, 'AFGHANISTAN TIS', 2018, 2.35), (79, 'AFGHANISTAN TIS', 2018, 8.32), (77, 'AFGHANISTAN TIS', 2018, None), (9, 'AFGHANISTAN TIS', 2018, 0.19), (95, 'AFGHANISTAN TIS', 2018, 0.01), (75, 'AFGHANISTAN TIS', 2018, 0.0), (63, 'AFGHANISTAN TIS', 2018, 2.48), (71, 'AFGHANISTAN TIS', 2018, 0.71), (82, 'AFGHANISTAN TIS', 2018, 0.23), (20, 'AFGHANISTAN TIS', 2018, 2.38), (62, 'AFGHANISTAN TIS', 2018, None), (42, 'AFGHANISTAN TIS', 2018, 46.97), (43, 'AFGHANISTAN TIS', 2018, 39.19), (94, 'AFGHANISTAN TIS', 2018, 0.07), (12, 'AFGHANISTAN TIS', 2018, 0.03), (84, 'AFGHANISTAN TIS', 2018, 1.74), (34, 'AFGHANISTAN TIS', 2018, 0.07), (37, 'AFGHANISTAN TIS', 2018, 3.21), (6, 'AFGHANISTAN TIS', 2018, 43.18), (7, 'AFGHANISTAN TIS', 2018, 89.25), (61, 'AFGHANISTAN TIS', 2018, 21.08), (29, 'AFGHANISTAN TIS', 2018, 18.35), (33, 'AFGHANISTAN TIS', 2018, 0.0), (91, 'AFGHANISTAN TIS', 2018, None), (70, 'AFGHANISTAN TIS', 2018, 0.01), (10, 'AFGHANISTAN TIS', 2018, 0.46), (13, 'AFGHANISTAN TIS', 2018, 0.45), (32, 'AFGHANISTAN TIS', 2018, 0.23), (53, 'AFGHANISTAN TIS', 2018, 2.77), (36, 'AFGHANISTAN TIS', 2018, 0.84), (8, 'AFGHANISTAN TIS', 2018, 61.16), (18, 'AFGHANISTAN TIS', 2018, 0.73), (3, 'AFGHANISTAN TIS', 2018, 38.36), (39, 'AFGHANISTAN TIS', 2018, 0.0), (98, 'AFGHANISTAN TIS', 2018, None), (60, 'AFGHANISTAN TIS', 2018, None), (89, 'AFGHANISTAN TIS', 2018, 2.81), (47, 'AFGHANISTAN TIS', 2018, 1.15), (55, 'AFGHANISTAN TIS', 2018, 10.11), (24, 'AFGHANISTAN TIS', 2018, 13.08), (76, 'AFGHANISTAN TIS', 2018, None), (93, 'AFGHANISTAN TIS', 2018, 16.09), (1, 'AFGHANISTAN TIS', 2018, 0.56), (57, 'AFGHANISTAN TIS', 2018, 7.25), (15, 'AFGHANISTAN TIS', 2018, 0.32), (52, 'AFGHANISTAN TIS', 2018, 0.02), (30, 'AFGHANISTAN TIS', 2018, 0.17), (90, 'AFGHANISTAN TIS', 2018, 0.09), (51, 'AFGHANISTAN TIS', 2018, 1.59), (97, 'AFGHANISTAN TIS', 2018, 0.01), (74, 'AFGHANISTAN TIS', 2018, 0.03), (50, 'AFGHANISTAN TIS', 2018, 0.0), (28, 'ALBANIA', 2018, 0.32), (72, 'ALBANIA', 2018, 0.32), (23, 'ALBANIA', 2018, 0.17), (22, 'ALBANIA', 2018, 0.06), (17, 'ALBANIA', 2018, 4.01), (14, 'ALBANIA', 2018, 0.16), (56, 'ALBANIA', 2018, 0.95), (92, 'ALBANIA', 2018, 0.01), (4, 'ALBANIA', 2018, 0.0), (85, 'ALBANIA', 2018, 0.08), (67, 'ALBANIA', 2018, 0.01), (69, 'ALBANIA', 2018, 0.09), (49, 'ALBANIA', 2018, 0.17), (88, 'ALBANIA', 2018, 0.74)]

In [56]:
conn_norm = create_connection('india_export_norm.db')
cur = conn_norm.cursor()
cur.execute('DROP TABLE EXPORT')
create_table_sql = """CREATE TABLE IF NOT EXISTS [Export] (
    [VALUEID] INTEGER NOT NULL PRIMARY KEY,
    [HSCODE] INTEGER NOT NULL, 
    [COUNTRY] TEXT NOT NULL,
    [YEAR] INTEGER NOT NULL,
    [VALUE] REAL,
    FOREIGN KEY(COUNTRY) REFERENCES Country(COUNTRY),
    FOREIGN KEY(YEAR) REFERENCES YEAR(YEAR),
    FOREIGN KEY(HSCODE) REFERENCES Commodity(HSCODE)
);
"""
create_table(conn_norm, create_table_sql)
sql = ''' INSERT INTO Export (HSCODE, COUNTRY, YEAR, VALUE)
              VALUES(?, ?, ?, ?) '''
cur = conn_norm.cursor()
start_time = time.monotonic() 
cur.executemany(sql, insert_tuples)
conn_norm.commit()
end_time = time.monotonic()

In [57]:
print(end_time-start_time)

0.5469999999986612

In [71]:
expected_result = [{'ALT': 'C',
  'CHROM': '18',
  'FILTER': 'PASS',
  'ID': 'rs75100641',
  'INFO': {'1000g2015aug_afr': 0.0136,
           '1000g2015aug_all': 0.0461262,
           '1000g2015aug_amr': 0.0086,
           '1000g2015aug_eur': 0.0249,
           '1000g2015aug_sas': 0.0838,
           'AC': 2,
           'AF': 0.333,
           'AN': 6,
           'ANNOVAR_DATE': '2018-04-16',
           'BaseQRankSum': 0.462,
           'CADD13_PHRED': 1.888,
           'CADD13_RawScore': -0.079391,
           'ClippingRankSum': 0,
           'DP': 189,
           'Eigen': -0.1036,
           'ExcessHet': 3.9794,
           'FS': 2.119,
           'Func.ensGene': 'intergenic',
           'Func.refGene': 'intergenic',
           'Gene.ensGene': 'ENSG00000265712,ENSG00000215457',
           'Gene.refGene': 'LOC100287225,DCC',
           'GeneDetail.ensGene': 'dist=123830,dist=32968',
           'GeneDetail.refGene': 'dist=249570,dist=528133',
           'Kaviar_AC': 816,
           'Kaviar_AF': 0.0313509,
           'Kaviar_AN': 26028,
           'MLEAC': 2,
           'MLEAF': 0.333,
           'MQ': 60.0,
           'MQRankSum': 0.0,
           'QD': 13.33,
           'ReadPosRankSum': 0.592,
           'SOR': 0.89,
           'VQSLOD': 22.2,
           'avsnp150': 'rs75100641',
           'culprit': 'MQ',
           'cytoBand': '18q21.2',
           'gnomAD_genome_AFR': 0.0147,
           'gnomAD_genome_ALL': 0.0225,
           'gnomAD_genome_AMR': 0.0155,
           'gnomAD_genome_ASJ': 0.0265,
           'gnomAD_genome_EAS': 0.1005,
           'gnomAD_genome_FIN': 0.0097,
           'gnomAD_genome_NFE': 0.0217,
           'gnomAD_genome_OTH': 0.0255,
           'snp138NonFlagged': 'rs75100641'},
  'POS': 49338409,
  'QUAL': 1893.12,
  'REF': 'T',
  'SAMPLE': {'XG102': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG103': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG104': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG202': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG203': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG204': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG302': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG303': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG304': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG402': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG403': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG404': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'}}}][0]

In [74]:
actual_result = [{'ALT': 'C',
  'CHROM': '18',
  'FILTER': 'PASS',
  'ID': 'rs75100641',
  'INFO': {'1000g2015aug_afr': 0.0136,
           '1000g2015aug_all': 0.0461262,
           '1000g2015aug_amr': 0.0086,
           '1000g2015aug_eur': 0.0249,
           '1000g2015aug_sas': 0.0838,
           'AC': 2,
           'AF': 0.333,
           'AN': 6,
           'ANNOVAR_DATE': '2018-04-16',
           'BaseQRankSum': 0.462,
           'CADD13_PHRED': 1.8,
           'CADD13_RawScore': -0.079391,
           'ClippingRankSum': 0,
           'DP': 189.00,
           'Eigen': "-0.1036",
           'ExcessHet': 3.9794,
           'FS': "2.119",
           'Func.ensGene': 'intergenic',
           'Func.refGene': 'intergenic',
           'Gene.ensGene': 'ENSG00000265712,ENSG00000215457',
           'Gene.refGene': 'LOC100287225,DCC',
           'GeneDetail.ensGene': 'dist=123830,dist=32968',
           'GeneDetail.refGene': 'dist=249570,dist=528133',
           'Kaviar_AC': 816,
           'Kaviar_AF': 0.0313509,
           'Kaviar_AN': 26028,
           'MLEAC': 2,
           'MLEAF': 0.333,
           'MQ': 60.0,
           'MQRankSum': 0.0,
           'QD': 13.33,
           'ReadPosRankSum': 0.592,
           'SOR': 0.89,
           'VQSLOD': 22.2,
           'avsnp150': 'rs75100641',
           'culprit': 'MQ',
           'cytoBand': '18q21.2',
           'gnomAD_genome_AFR': "0.0147",
           'gnomAD_genome_ALL': 0.0225,
           'gnomAD_genome_AMR': 0.0155,
           'gnomAD_genome_ASJ': 0.0265,
           'gnomAD_genome_EAS': 0.1005,
           'gnomAD_genome_FIN': 0.0097,
           'gnomAD_genome_NFE': 0.0217,
           'gnomAD_genome_OTH': 0.0255,
           'snp138NonFlagged': 'rs75100641'},
  'POS': 49338409,
  'QUAL': 1893.12,
  'REF': 'T',
  'SAMPLE': {'XG102': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG103': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG104': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG202': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG203': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG204': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG302': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG303': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG304': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'},
             'XG402': {'AD': '29,44',
                       'DP': '73',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '1066,0,631'},
             'XG403': {'AD': '35,34',
                       'DP': '69',
                       'GQ': '99',
                       'GT': '0/1',
                       'PL': '838,0,805'},
             'XG404': {'AD': '47,0',
                       'DP': '47',
                       'GQ': '99',
                       'GT': '0/0',
                       'PL': '0,113,1504'}}}][0]

In [76]:
for key, value in expected_result['INFO'].items():
    actual_value = actual_result['INFO'][key]
    if actual_value != value:
        print(key, value, type(value), actual_value, type(actual_value))

CADD13_PHRED 1.888 <class 'float'> 1.8 <class 'float'>
Eigen -0.1036 <class 'float'> -0.1036 <class 'str'>
FS 2.119 <class 'float'> 2.119 <class 'str'>
gnomAD_genome_AFR 0.0147 <class 'float'> 0.0147 <class 'str'>

In [77]:
# Square a list using Python
squared_values = []
values = list(range(10))
for number in values:
    squared_values.append(number*number)

print(squared_values)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
list(map(lambda ele: ele * ele, values))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
# Square a list using NumPy
import numpy as np

vector = np.array(range(10))
scalar = 5
vector * vector

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [80]:
vector * scalar

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

In [81]:
my_list = [1, 2, 3]
print(my_list)

import numpy as np

my_vector = np.array(my_list)
print(my_vector)

[1, 2, 3]
[1 2 3]

In [82]:
my_matrix = np.array([my_list, my_list])
print(my_matrix)

[[1 2 3]
 [1 2 3]]

In [83]:
np.hstack([my_list, my_list])

array([1, 2, 3, 1, 2, 3])

In [89]:
my_nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [90]:
print(my_nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

In [91]:
my_matrix = np.array(my_nested_list)
print(my_matrix)

[list([1, 2, 3]) list([4, 5, 6]) list([7, 8, 9, 10])]

C:\Users\mkhaw\AppData\Local\Temp/ipykernel_6060/2868465575.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  my_matrix = np.array(my_nested_list)

In [93]:
np.hstack([[4, 5, 6], [7, 9, 10, 11]])

array([ 4,  5,  6,  7,  9, 10, 11])

In [99]:


my_list1 = [[1,2], [3,4]]
my_list2 = [[5,6], [7,8]]  
np.hstack([my_list1, my_list2])

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [95]:
np.vstack([my_list1, my_list2])

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [98]:
x.shape

(2, 4)

In [100]:
np.zeros(3)

array([0., 0., 0.])

In [101]:
np.ones(3)*4

array([4., 4., 4.])

In [102]:
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [103]:
np.linspace(1900, 2000, 11)

array([1900., 1910., 1920., 1930., 1940., 1950., 1960., 1970., 1980.,
       1990., 2000.])

In [104]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [105]:
np.empty((2,3))

array([[1.0609979e-312, 1.0609979e-312, 1.0609979e-312],
       [1.0609979e-312, 1.0609979e-312, 1.0609979e-312]])

In [106]:
np.random.rand(3)

array([0.26487841, 0.9452433 , 0.48263246])

In [107]:
np.random.rand(3,3)

array([[0.56420471, 0.10324335, 0.36583282],
       [0.87179507, 0.49342914, 0.59137864],
       [0.98834756, 0.89997955, 0.92177146]])

In [108]:
np.random.randn(3)

array([-0.5731585 , -0.71251504, -1.68307213])

In [109]:
10 * np.random.randn(10, 1) + 75

array([[65.13944555],
       [64.33666644],
       [63.55183614],
       [60.13992563],
       [95.56526214],
       [81.76901489],
       [72.50138617],
       [84.26441686],
       [76.46195654],
       [70.01864372]])

In [110]:
np.random.randint(1,101,5)

array([60, 29, 81, 66, 15])

In [111]:
vector = np.arange(1,10)

In [112]:
vector

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [113]:
print(vector.reshape(3,3))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [114]:
vector = np.arange(1,13)

In [117]:
print(vector.reshape(5,5))

ValueError: cannot reshape array of size 12 into shape (5,5)

In [118]:
vector = np.random.randint(1,50,25)
print(vector)

[12 31 22 11 43  4 47 36 27 39 21  2 49 39  1  6  3 46 26 25 45 29 13 44
 35]

In [119]:
vector.min()

1

In [120]:
vector.max()

49

In [121]:
index = vector.argmin()

In [122]:
print(index)

14

In [123]:
vector.shape

(25,)

In [124]:
my_matrix = vector.reshape(5, 5)

In [125]:
print(my_matrix)

[[12 31 22 11 43]
 [ 4 47 36 27 39]
 [21  2 49 39  1]
 [ 6  3 46 26 25]
 [45 29 13 44 35]]

In [126]:
vector = np.array(range(10))

In [127]:
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [128]:
vector[3:6] = 12

In [129]:
vector

array([ 0,  1,  2, 12, 12, 12,  6,  7,  8,  9])

In [130]:
x = list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [132]:
x[3:6] = [12]

In [133]:
x

[0, 1, 2, 12, 6, 7, 8, 9]

In [134]:
vector = np.array(range(10))
my_slice = vector[3:7]

In [135]:
print(my_slice)

[3 4 5 6]

In [136]:
my_slice[:] = 20

In [137]:
print(my_slice)

[20 20 20 20]

In [138]:
vector

array([ 0,  1,  2, 20, 20, 20, 20,  7,  8,  9])

In [139]:
matrix = np.array(range(1,10)).reshape((3,3))

In [140]:
matrix[0,0]

1

In [141]:
matrix[0][0]

1

In [142]:
matrix[:,2] # Grab the third column

array([3, 6, 9])

In [143]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [144]:
matrix[1,:] # Grab the second row

array([4, 5, 6])

In [145]:
matrix[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [146]:
matrix[:2, :]

array([[1, 2, 3],
       [4, 5, 6]])

In [147]:
vector = np.arange(10)

In [148]:
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [151]:
gt2 = vector > 2 # create condition
lt8 = vector < 8 # create condition

In [152]:
print(gt2)

[False False False  True  True  True  True  True  True  True]

In [153]:
selected_gt2 = vector[gt2] # apply condition to select
selected_lt8 = vector[lt8] # apply condition to select

In [154]:
print(selected_gt2)

[3 4 5 6 7 8 9]

In [155]:
print(selected_lt8)

[0 1 2 3 4 5 6 7]

In [156]:
cond = (vector>2) & (vector<7)

In [157]:
print(cond)

[False False False  True  True  True  True False False False]

In [158]:
vector[cond]

array([3, 4, 5, 6])

In [159]:
cond = (vector>2) and (vector<7)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [160]:
vector = np.arange(10)

In [161]:
vector / vector # problem!!! return `nan`

C:\Users\mkhaw\AppData\Local\Temp/ipykernel_6060/1465836789.py:1: RuntimeWarning: invalid value encountered in true_divide
  vector / vector # problem!!! return `nan`

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [162]:
vector = np.arange(10)

In [163]:
sum(vector<5)

5

In [164]:
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [165]:
sum(vector[vector<5])

10

In [166]:
import math
vector = np.arange(1,11) * math.pi 
np.sin(vector)

array([ 1.22464680e-16, -2.44929360e-16,  3.67394040e-16, -4.89858720e-16,
        6.12323400e-16, -7.34788079e-16,  8.57252759e-16, -9.79717439e-16,
        1.10218212e-15, -1.22464680e-15])

In [167]:
vector = np.arange(0,math.pi+math.pi/4,math.pi/4)
np.sin(vector)

array([0.00000000e+00, 7.07106781e-01, 1.00000000e+00, 7.07106781e-01,
       1.22464680e-16])

In [168]:
matrix = np.random.rand(5,5)

In [169]:
print(matrix)

[[0.34814323 0.43755547 0.84630859 0.46390124 0.14981525]
 [0.2862454  0.89736635 0.15646663 0.16606884 0.44467385]
 [0.10913719 0.55595519 0.54674391 0.58238047 0.32652756]
 [0.13548205 0.61228365 0.65332751 0.33357117 0.82953993]
 [0.36780728 0.74365387 0.48262376 0.99080337 0.25492441]]

In [171]:
matrix.

array([[0.3481, 0.4376, 0.8463, 0.4639, 0.1498],
       [0.2862, 0.8974, 0.1565, 0.1661, 0.4447],
       [0.1091, 0.556 , 0.5467, 0.5824, 0.3265],
       [0.1355, 0.6123, 0.6533, 0.3336, 0.8295],
       [0.3678, 0.7437, 0.4826, 0.9908, 0.2549]])

In [172]:
np.floor(matrix*1000)/1000

array([[0.348, 0.437, 0.846, 0.463, 0.149],
       [0.286, 0.897, 0.156, 0.166, 0.444],
       [0.109, 0.555, 0.546, 0.582, 0.326],
       [0.135, 0.612, 0.653, 0.333, 0.829],
       [0.367, 0.743, 0.482, 0.99 , 0.254]])

In [173]:
np.ceil(matrix*1000)/1000

array([[0.349, 0.438, 0.847, 0.464, 0.15 ],
       [0.287, 0.898, 0.157, 0.167, 0.445],
       [0.11 , 0.556, 0.547, 0.583, 0.327],
       [0.136, 0.613, 0.654, 0.334, 0.83 ],
       [0.368, 0.744, 0.483, 0.991, 0.255]])

In [191]:
matrix = np.arange(1,10).reshape(3,3)

In [175]:
matrix.sum(axis=1)

array([ 6, 15, 24])

In [176]:
print(matrix)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [177]:
matrix.sum(axis=0)

array([12, 15, 18])

In [178]:
matrix.cumsum()

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [179]:
matrix.min(axis=1)

array([1, 4, 7])

In [180]:
matrix.min(axis=0)

array([1, 2, 3])

In [181]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [186]:
matrix = np.array([1,2,3]*3).reshape(3,3)

In [187]:
print(matrix)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

In [188]:
np.unique(matrix.reshape(3,3))

array([1, 2, 3])

In [194]:
np.min(matrix, axis=1)[1]

4

In [195]:
import numpy as np
import pandas as pd

header = ['chrom', 'pos', 'filter']
data = [4, 12345, 38.4]

vector = np.array(data)

print(vector)

[4.0000e+00 1.2345e+04 3.8400e+01]

In [197]:
s1 = pd.Series(data=data) # Notice the data type is float

In [198]:
s2 = pd.Series(data=data, index=header)

In [199]:
print(s1)

0        4.0
1    12345.0
2       38.4
dtype: float64

In [200]:
print(s2)

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [201]:
data = [1, '2s', 34] 
pd.Series(data)

0     1
1    2s
2    34
dtype: object

In [202]:
np.array([1, '2s', 34] )

array(['1', '2s', '34'], dtype='<U11')

In [203]:
pd.Series(data_dict)

chrom         4.0
pos       12345.0
filter       38.4
dtype: float64

In [204]:
header = ['chrom', 'pos', 'filter']
data = [4, 12345, 38.4]
series = pd.Series(data=data, index=header)
series['chrom']

4.0

In [205]:
series['pos']

12345.0

In [206]:
series['filter']

38.4

In [207]:
s2[1]

12345.0

In [208]:
header1 = ['chrom', 'pos', 'filter']
data1 = [4, 12345, 38.4]
header2 = ['chrom', 'pos', 'filter', 'qual']
data2 = [3, 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

chrom         7.0
filter      272.4
pos       17244.0
qual          NaN
dtype: float64

In [209]:
header1 = ['chrom', 'pos', 'filter']
data1 = [4, 12345, 38.4]
header2 = ['chrom', 'pos', 'filter', 'qual']
data2 = ['3', 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [210]:
data1 = [4, 12345, 38.4]
data2 = [3, 4899, 234, 89.9]

s1 = pd.Series(data1)
s2 = pd.Series(data2)
s1 + s2

0        7.0
1    17244.0
2      272.4
3        NaN
dtype: float64

In [211]:
header1 = ['pos', 'filter', 'chrom']
data1 = [12345, 38.4, 4]
header2 = ['chrom', 'pos', 'filter', 'qual']
data2 = [3, 4899, 234, 89.9]

s1 = pd.Series(data1, header1)
s2 = pd.Series(data2, header2)
s1+s2

chrom         7.0
filter      272.4
pos       17244.0
qual          NaN
dtype: float64

In [212]:
s1

pos       12345.0
filter       38.4
chrom         4.0
dtype: float64

In [213]:
s2

chrom        3.0
pos       4899.0
filter     234.0
qual        89.9
dtype: float64