In [3]:
import random

toss = random.randint(0, 1)

if toss == 0:
    print('Head')
else:
    print('Tail')

Tail

In [21]:
random.seed(503)

tosses = ''
for _ in range(10):
    toss = random.randint(0, 1)
    if toss == 0:
        tosses += 'H'
    elif toss == 1:
        tosses += 'T'
        
print(tosses)

HHTHTTHHHT

In [25]:
random.choice(['H', 'T'])

'T'

In [28]:
def coin_toss(N):
    tosses = ''
    for _ in range(N):
        toss = random.randint(0, 1)
        if toss == 0:
            tosses += 'H'
        elif toss == 1:
            tosses += 'T'
            
    return tosses

print(coin_toss (100))

TTHHTHHTTTHHHTTHTHTHTTTTTHTHHTTHHTHHHHTHTTTHHTHTHHHHHHTTTHTHHTHTTHHHTTTHTHTHTHHTHTTHTTHHTTTHHTHHHTHH

In [36]:
def calc_prob(N):
    tosses = coin_toss(N)
    p_t = 0
    p_h = 0
    for val in tosses:
        if val == 'H':
            p_h += 1
        else:
            p_t += 1
    
    p_t /= N
    p_h /= N
    
    return(p_t, p_h)

print(calc_prob(1000000))

(0.500177, 0.499823)

In [37]:
grade_avgs = []
with open('for_ex11_data.txt') as file:
    for line in file:
        if not line.strip():
            continue
        print(line.strip())

student1,93,78,82,83,65,23,34,87
student2,86,76,85,86,65
student3,70,98,88,80,93
student4,89,68,81,80,76
student5,99,67,100,83,68
student6,75,77,69,72,76
student7,67,93,90,92,66
student8,89,83,90,97,91
student9,92,84,75,92,92
student10,65,89,80,68,89

In [38]:
print(line)

student10,65,89,80,68,89

In [39]:
tmp = line.strip().split(',')
print(tmp)

['student10', '65', '89', '80', '68', '89']

In [41]:
student_name = tmp[0]
grades = tmp[1:]
print(student_name, grades)

student10 ['65', '89', '80', '68', '89']

In [46]:
def calc_average_from_list(grades):
    """
    Assumes that grades is a list of string-numbers
    """
    total = 0
    for grade in grades:
        total += float(grade)

    average = total / len(grades)
    return average

In [48]:
grade_avgs = []
with open('for_ex11_data.txt') as file:
    for line in file:
        if not line.strip():
            continue
        tmp = line.strip().split(',')
        student_name = tmp[0]
        grades = tmp[1:]
        average = calc_average_from_list(grades)
        print(student_name, average)

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [59]:
def generate_students(output_filename, number_of_students, number_of_tests, test_score_range):

    import random

    file = open(output_filename, 'w')

    for i in range(1, number_of_students+1):
        line = []
        student_name = 'student' + str(i)
        line.append(student_name)
        for _ in range(number_of_tests):
            line.append(random.randint(test_score_range[0], test_score_range[1]))
            
        line_tmp = line[0]
        for l in line[1:]:
            line_tmp += ',' + str(l)
        line_tmp += '\n'
        print(line_tmp)
        file.write(line_tmp)

generate_students('testdata.txt', 100, 5, (65,100))

student1,92,77,87,77,94

student2,74,93,88,67,85

student3,83,96,74,79,92

student4,100,72,83,85,66

student5,77,96,66,79,92

student6,100,86,84,70,71

student7,66,91,94,97,80

student8,97,86,75,69,88

student9,95,98,99,85,86

student10,78,76,73,88,86

student11,78,100,100,91,99

student12,82,92,85,95,86

student13,83,78,78,89,74

student14,89,81,92,75,66

student15,86,94,97,67,66

student16,96,75,78,91,83

student17,85,72,95,74,67

student18,83,68,91,74,66

student19,70,99,100,76,96

student20,80,89,73,76,72

student21,79,100,68,91,65

student22,100,65,84,86,96

student23,68,67,89,97,81

student24,94,71,93,66,81

student25,89,99,80,92,87

student26,94,65,100,72,82

student27,83,91,68,78,98

student28,97,96,85,94,93

student29,65,78,96,77,72

student30,96,85,98,86,95

student31,85,69,97,86,65

student32,82,82,75,81,91

student33,88,76,99,66,86

student34,66,85,65,77,95

student35,75,98,96,87,65

student36,85,89,87,99,77

student37,93,85,74,84,85

student38,86,90,96,80,88

student39,96,82,67,83,85

student40,85,98,91,98,84

student41,98,95,85,66,99

student42,84,82,71,73,74

student43,95,91,86,67,100

student44,80,83,72,77,67

student45,67,89,97,65,71

student46,65,72,89,95,67

student47,99,89,68,72,74

student48,77,91,69,96,84

student49,68,97,65,100,86

student50,82,66,66,83,95

student51,86,66,89,89,71

student52,91,98,95,98,76

student53,94,77,81,87,68

student54,69,80,95,92,76

student55,100,91,65,67,85

student56,77,68,65,71,72

student57,65,100,79,71,96

student58,75,75,99,99,95

student59,91,84,85,84,83

student60,71,79,74,97,68

student61,69,71,91,69,100

student62,79,91,96,69,97

student63,91,87,76,98,85

student64,93,97,72,88,73

student65,100,75,97,84,81

student66,68,66,65,94,86

student67,82,74,94,67,94

student68,66,96,79,68,91

student69,88,85,72,80,78

student70,78,76,72,68,74

student71,97,73,79,69,77

student72,88,94,73,71,65

student73,92,99,98,80,83

student74,86,98,66,99,72

student75,68,87,67,77,83

student76,88,92,71,83,70

student77,66,72,78,69,71

student78,70,95,90,82,95

student79,69,94,99,83,67

student80,86,86,79,93,66

student81,96,87,70,95,97

student82,76,95,68,100,85

student83,66,72,74,99,86

student84,83,85,66,77,85

student85,98,79,91,78,74

student86,69,94,71,95,71

student87,78,88,68,95,84

student88,66,67,96,86,69

student89,89,78,66,73,82

student90,92,66,95,93,76

student91,87,69,96,70,92

student92,86,88,67,95,66

student93,77,77,76,84,89

student94,93,99,95,65,70

student95,86,83,73,94,95

student96,78,84,79,66,92

student97,74,95,100,85,75

student98,71,87,89,90,94

student99,71,69,90,81,94

student100,81,80,86,81,71

In [61]:
value = input('Please enter a number: ')
total = 0
count = 0
while value != '':
    total += float(value)
    count += 1
    value = input('Please enter a number: ')
    
average = total / count
print(average)

Please enter a number: 10
Please enter a number: 20
Please enter a number: 30
Please enter a number:
20.0

In [66]:
value = int(input('Please enter a number: '))
total = 0
count = 0
while value >= 0:
    total += value
    count += 1
    value = int(input('Please enter a number: '))
    
average = total / count
print(average)

Please enter a number: 10
Please enter a number: 20
Please enter a number: 30
Please enter a number: -99
20.0

In [67]:
val = int(input('please enter a value: '))

while val >= 0:
    print(val)
    val -= 1

please enter a value: 10
10
9
8
7
6
5
4
3
2
1
0

In [69]:
# Write a function that prints from 1 to n using a for loop, it should skip every multiple of 5.

# continue
# break


N = 100
for number in range(1, N+1):
    
    if number % 5 == 0:
        continue
        
    print(number)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49
51
52
53
54
56
57
58
59
61
62
63
64
66
67
68
69
71
72
73
74
76
77
78
79
81
82
83
84
86
87
88
89
91
92
93
94
96
97
98
99

In [71]:
# print FizzBuzz for multiple of 5 and 7
# print Fizz for multiple of 5
# print buzz for multiple of 7
# 1 - 100
N = 100
for number in range(1, N+1):
    
    if number % 5 == 0 and number % 7 == 0:
        print(number, 'FizzBuzz')
    elif number % 5 == 0:
        print(number, 'Fizz')
    elif number % 7 == 0:
        print(number, 'Buzz')

5 Fizz
7 Buzz
10 Fizz
14 Buzz
15 Fizz
20 Fizz
21 Buzz
25 Fizz
28 Buzz
30 Fizz
35 FizzBuzz
40 Fizz
42 Buzz
45 Fizz
49 Buzz
50 Fizz
55 Fizz
56 Buzz
60 Fizz
63 Buzz
65 Fizz
70 FizzBuzz
75 Fizz
77 Buzz
80 Fizz
84 Buzz
85 Fizz
90 Fizz
91 Buzz
95 Fizz
98 Buzz
100 Fizz

In [74]:
val = 1
while val < 50:
    squared = val * val
    print(squared)
    val += 1
    
    if squared == 1024:
        break

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024

In [77]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
    
l2 = [ele*ele for ele in my_list ]

In [78]:
print(l2)

[1, 4, 9]

In [79]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
    
print([ele*10 for ele in my_list ])

[10, 20, 30]

In [80]:
animal = 'buffalo'

In [81]:
animal.upper()

'BUFFALO'

In [83]:
tmp = [char.upper() for char in animal]

In [84]:
''.join(tmp)

'BUFFALO'

In [85]:
', '.join(tmp)

'B, U, F, F, A, L, O'

In [86]:
'-'.join(tmp)

'B-U-F-F-A-L-O'

In [87]:
tmp = ['a', 1]
''.join(tmp)

TypeError: sequence item 1: expected str instance, int found

In [88]:
students = ['john', 'jane', 'doe']

[ student.title() for student in students]

['John', 'Jane', 'Doe']

In [91]:
my_list = [0, '', [], 999]

[bool(ele) for ele in my_list]

[False, False, False, True]

In [92]:
my_list = range(6)
[str(element) for element in my_list]

['0', '1', '2', '3', '4', '5']

In [93]:
numbers = range(20)

In [94]:
[ele for ele in numbers if ele % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [96]:
odd = []
for ele in numbers:
    if ele % 2 != 0:
         odd.append(ele)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [97]:
[ele for ele in numbers if ele % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [102]:
numbers = range(10)
[number**2 if number % 2 == 0 else number**3 for number in numbers]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [105]:
sentence = 'I rEAlly want To gO to work'
vowels = 'aeiou'

''.join([ele for ele in sentence if ele.lower() not in vowels])

' rlly wnt T g t wrk'

In [107]:
dd`

TypeError: ord() expected string of length 1, but int found

In [108]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [109]:
A

{0, 2, 4, 6, 8}

In [110]:
B

{1, 2, 3, 4, 5}

In [111]:
2 in A

True

In [112]:
my_list = # billion values
my_set = # billion values

x in my_list  # O(N)
x in my_set # O(1)

# https://wiki.python.org/moin/TimeComplexity

SyntaxError: invalid syntax (Temp/ipykernel_18328/2943138396.py, line 1)

In [113]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [114]:
A & B

{2, 4}

In [115]:
print(A)
print(B)

{0, 2, 4, 6, 8}
{1, 2, 3, 4, 5}

In [116]:
A - B

{0, 6, 8}

In [117]:
B - A

{1, 3, 5}

In [118]:
x = [
    ['John Doe', 'Math', 1234],
    ['Jane Doe', 'Biology', 2233]
]

In [153]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [120]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [121]:
my_dict['name']

'john'

In [122]:
my_dict['email']

'john@email.com'

In [123]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

In [124]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [125]:
key = 'name'
my_dict['name']

'john'

In [126]:
my_dict[key]

'john'

In [127]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [128]:
for ele in my_dict:
    print(ele)

name
email
id
major

In [129]:
for ele in my_dict.keys():
    print(ele)

name
email
id
major

In [130]:
for ele in my_dict.values():
    print(ele)

john
john@email.com
1234
Engineering

In [131]:
for key, value in my_dict.items():
    print(key, value)

name john
email john@email.com
id 1234
major Engineering

In [132]:
for ele in A:
    print(ele)

0
2
4
6
8

In [133]:
for key, value in my_dict.items():
    print(f'key is {key} and value is {value}')

key is name and value is john
key is email and value is john@email.com
key is id and value is 1234
key is major and value is Engineering

In [134]:
'name' in my_dict

True

In [135]:
'Name' in my_dict

False

In [136]:
my_dict.keys()

dict_keys(['name', 'email', 'id', 'major'])

In [137]:
my_dict.values()

dict_values(['john', 'john@email.com', 1234, 'Engineering'])

In [139]:
value = 'johnny'
if value in my_dict.values():
    print(True)
else:
    print(False)

False

In [140]:
my_dict.clear()

In [141]:
my_dict

{}

In [142]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

In [143]:
new_student

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [144]:
my_dict = {}.fromkeys(range(5), 'iammissing')

In [145]:
my_dict

{0: 'iammissing',
 1: 'iammissing',
 2: 'iammissing',
 3: 'iammissing',
 4: 'iammissing'}

In [146]:
my_dict['Name']

KeyError: 'Name'

In [148]:
print(my_dict.get('Name'))

None

In [154]:
print(my_dict.get('name', 'Missing'))

john

In [155]:
my_dict.pop('name')

'john'

In [156]:
my_dict

{'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [157]:
my_dict.update({'year':2010, 'ear': 2030})

In [158]:
my_dict

{'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030}

In [159]:
my_dict.update({'id':324234})

In [160]:
my_dict

{'email': 'john@email.com',
 'id': 324234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030}

In [161]:
my_dict = {}.fromkeys(range(5), 5)

In [162]:
my_dict

{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

In [163]:
{key: key*value for key, value in my_dict.items()}

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20}

In [164]:
{num: num*num for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [165]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

In [166]:
{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [167]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [168]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [169]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98, 100]

dict(zip(list1, list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [ ]:
def genes(file1, file2):
    with open(file1) as file:
        G1= {line.strip() for line in file if line.strip()}
    with open(file1) as file:
        G1= {line.strip() for line in file if line.strip()}

In [172]:
with open('gene_list1.txt') as file:
    a = {line.strip() for line in file if line.strip()}

In [173]:
a

{'A1BG',
 'A1CF',
 'A2M',
 'A2ML1',
 'A3GALT2',
 'A4GALT',
 'A4GNT',
 'AAAS',
 'AACS',
 'AADAC',
 'AADACL2',
 'AADACL3',
 'AADACL4',
 'AADAT',
 'AAGAB',
 'AAK1',
 'AAMDC',
 'AAMP',
 'AANAT',
 'AAR2',
 'AARD',
 'AARS1',
 'AARS2',
 'AARSD1',
 'AASDH',
 'AASDHPPT',
 'AASS',
 'AATF',
 'AATK',
 'ABAT',
 'ABCA1',
 'ABCA10',
 'ABCA12',
 'ABCA13',
 'ABCA2',
 'ABCA3',
 'ABCA4',
 'ABCA5',
 'ABCA6',
 'ABCA7',
 'ABCA8',
 'ABCA9',
 'ABCB1',
 'ABCB10',
 'ABCB11',
 'ABCB4',
 'ABCB5',
 'ABCB6',
 'ABCB7',
 'ABCB8',
 'ABCB9',
 'ABCC1',
 'ABCC10',
 'ABCC11',
 'ABCC12',
 'ABCC2',
 'ABCC3',
 'ABCC4',
 'ABCC5',
 'ABCC6',
 'ABCC8',
 'ABCC9',
 'ABCD1',
 'ABCD2',
 'ABCD3',
 'ABCD4',
 'ABCE1',
 'ABCF1',
 'ABCF2',
 'ABCF3',
 'ABCG1',
 'ABCG2',
 'ABCG4',
 'ABCG5',
 'ABCG8',
 'ABHD1',
 'ABHD10',
 'ABHD11',
 'ABHD12',
 'ABHD12B',
 'ABHD13',
 'ABHD14A',
 'ABHD14B',
 'ABHD15',
 'ABHD16A',
 'ABHD16B',
 'ABHD17A',
 'ABHD17B',
 'ABHD17C',
 'ABHD18',
 'ABHD2',
 'ABHD3',
 'ABHD4',
 'ABHD5',
 'ABHD6',
 'ABHD8',
 'ABI1',
 'ABI2',
 'ABI3',
 'ABI3BP',
 'ABITRAM',
 'ABL1',
 'ABL2',
 'ABLIM1',
 'ABLIM2',
 'ABLIM3',
 'ABO',
 'ABR',
 'ABRA',
 'ABRACL',
 'ABRAXAS1',
 'ABRAXAS2',
 'ABT1',
 'ABTB1',
 'ABTB2',
 'ACAA1',
 'ACAA2',
 'ACACA',
 'ACACB',
 'ACAD10',
 'ACAD11',
 'ACAD8',
 'ACAD9',
 'ACADL',
 'ACADM',
 'ACADS',
 'ACADSB',
 'ACADVL',
 'ACAN',
 'ACAP1',
 'ACAP2',
 'ACAP3',
 'ACAT1',
 'ACAT2',
 'ACBD3',
 'ACBD4',
 'ACBD5',
 'ACBD6',
 'ACBD7',
 'ACCS',
 'ACCSL',
 'ACD',
 'ACE',
 'ACE2',
 'ACER1',
 'ACER2',
 'ACER3',
 'ACHE',
 'ACIN1',
 'ACKR1',
 'ACKR2',
 'ACKR3',
 'ACKR4',
 'ACLY',
 'ACMSD',
 'ACO1',
 'ACO2',
 'ACOD1',
 'ACOT1',
 'ACOT11',
 'ACOT12',
 'ACOT13',
 'ACOT2',
 'ACOT4',
 'ACOT6',
 'ACOT7',
 'ACOT8',
 'ACOT9',
 'ACOX1',
 'ACOX2',
 'ACOX3',
 'ACOXL',
 'ACP1',
 'ACP2',
 'ACP3',
 'ACP4',
 'ACP5',
 'ACP6',
 'ACP7',
 'ACR',
 'ACRBP',
 'ACRV1',
 'ACSBG1',
 'ACSBG2',
 'ACSF2',
 'ACSF3',
 'ACSL1',
 'ACSL3',
 'ACSL4',
 'ACSL5',
 'ACSL6',
 'ACSM1',
 'ACSM2A',
 'ACSM2B',
 'ACSM3',
 'ACSM4',
 'ACSM5',
 'ACSM6',
 'ACSS1',
 'ACSS2',
 'ACSS3',
 'ACTA1',
 'ACTA2',
 'ACTB',
 'ACTBL2',
 'ACTC1',
 'ACTG1',
 'ACTG2',
 'ACTL10',
 'ACTL6A',
 'ACTL6B',
 'ACTL7A',
 'ACTL7B',
 'ACTL8',
 'ACTL9',
 'ACTN1',
 'ACTN2',
 'ACTN3',
 'ACTN4',
 'ACTR10',
 'ACTR1A',
 'ACTR1B',
 'ACTR2',
 'ACTR3',
 'ACTR3B',
 'ACTR3C',
 'ACTR5',
 'ACTR6',
 'ACTR8',
 'ACTRT1',
 'ACTRT2',
 'ACTRT3',
 'ACVR1',
 'ACVR1B',
 'ACVR1C',
 'ACVR2A',
 'ACVR2B',
 'ACVRL1',
 'ACY1',
 'ACY3',
 'ACYP1',
 'ACYP2',
 'ADA'}

In [174]:
file1 = 'gene_list1.txt'
file2 = 'gene_list2.txt'
with open(file1) as g1, open(file2) as g2:
    G1= {line.strip() for line in g1 if line.strip()}
    G2= {line.strip() for line in g2 if line.strip()}

In [176]:
G2

{'ABHD11',
 'ABHD12',
 'ABHD12B',
 'ABHD13',
 'ABHD14A',
 'ABHD14B',
 'ABHD15',
 'ABHD16A',
 'ABHD16B',
 'ABHD17A',
 'ABHD17B',
 'ABHD17C',
 'ABHD18',
 'ABI1',
 'ABI2',
 'ABI3',
 'ABI3BP',
 'ABITRAM',
 'ABL1',
 'ABL2',
 'ABLIM1',
 'ABLIM2',
 'ABLIM3',
 'ABO',
 'ABR',
 'ABRA',
 'ABRACL',
 'ABRAXAS1',
 'ABRAXAS2',
 'ABT1',
 'ABTB1',
 'ABTB2',
 'ACAA1',
 'ACAA2',
 'ACACA',
 'ACACB',
 'ACAD10',
 'ACAD11',
 'ACAD8',
 'ACAD9',
 'ACADL',
 'ACADM',
 'ACADS',
 'ACADSB',
 'ACADVL',
 'ACAN',
 'ACAP1',
 'ACAP2',
 'ACAP3',
 'ACAT1',
 'ACAT2',
 'ACBD3',
 'ACBD4',
 'ACBD5',
 'ACBD6',
 'ACBD7',
 'ACCS',
 'ACCSL',
 'ZNF714',
 'ZNF716',
 'ZNF717',
 'ZNF718',
 'ZNF720',
 'ZNF721',
 'ZNF723',
 'ZNF724',
 'ZNF726',
 'ZNF727',
 'ZNF728',
 'ZNF729',
 'ZNF730',
 'ZNF732',
 'ZNF735',
 'ZNF736',
 'ZNF737',
 'ZNF738',
 'ZNF740',
 'ZNF746',
 'ZNF747',
 'ZNF749',
 'ZNF750',
 'ZNF761',
 'ZNF763',
 'ZNF764',
 'ZNF765',
 'ZNF766',
 'ZNF768',
 'ZNF770',
 'ZNF771',
 'ZNF772',
 'ZNF773',
 'ZNF774',
 'ZNF775',
 'ZNF776',
 'ZNF777',
 'ZNF778',
 'ZNF780A',
 'ZNF780B',
 'ZNF781',
 'ZNF782',
 'ZNF783',
 'ZNF784',
 'ZNF785',
 'ZNF786',
 'ZNF787',
 'ZNF789',
 'ZNF790',
 'ZNF791',
 'ZNF792',
 'ZNF793',
 'ZNF799',
 'ZNF800',
 'ZNF804A',
 'ZNF804B',
 'ZNF805',
 'ZNF808',
 'ZNF813',
 'ZNF814',
 'ZNF816',
 'ZNF821',
 'ZNF823',
 'ZNF827',
 'ZNF829',
 'ZNF830',
 'ZNF831',
 'ZNF835',
 'ZNF836',
 'ZNF837',
 'ZNF839',
 'ZNF841',
 'ZNF843',
 'ZNF844',
 'ZNF845',
 'ZNF846',
 'ZNF850',
 'ZNF852',
 'ZNF853',
 'ZNF860',
 'ZNF862',
 'ZNF865',
 'ZNF875',
 'ZNF878',
 'ZNF879',
 'ZNF880',
 'ZNF883',
 'ZNF888',
 'ZNF891',
 'ZNFX1',
 'ZNHIT1',
 'ZNHIT2',
 'ZNHIT3',
 'ZNHIT6',
 'ZNRD1',
 'ZNRD2',
 'ZNRF1',
 'ZNRF2',
 'ZNRF3',
 'ZNRF4',
 'ZP1',
 'ZP2',
 'ZP3',
 'ZP4',
 'ZPBP',
 'ZPBP2',
 'ZPLD1',
 'ZPR1',
 'ZRANB1',
 'ZRANB2',
 'ZRANB3',
 'ZRSR2',
 'ZSCAN1',
 'ZSCAN10',
 'ZSCAN12',
 'ZSCAN16',
 'ZSCAN18',
 'ZSCAN2',
 'ZSCAN20',
 'ZSCAN21',
 'ZSCAN22',
 'ZSCAN23',
 'ZSCAN25',
 'ZSCAN26',
 'ZSCAN29',
 'ZSCAN30',
 'ZSCAN31',
 'ZSCAN32',
 'ZSCAN4',
 'ZSCAN5A',
 'ZSCAN5B',
 'ZSCAN5C',
 'ZSCAN9',
 'ZSWIM1',
 'ZSWIM2',
 'ZSWIM3',
 'ZSWIM4',
 'ZSWIM5',
 'ZSWIM6',
 'ZSWIM7',
 'ZSWIM8',
 'ZSWIM9',
 'ZUP1'}

In [177]:
G1 - G2

{'A1BG',
 'A1CF',
 'A2M',
 'A2ML1',
 'A3GALT2',
 'A4GALT',
 'A4GNT',
 'AAAS',
 'AACS',
 'AADAC',
 'AADACL2',
 'AADACL3',
 'AADACL4',
 'AADAT',
 'AAGAB',
 'AAK1',
 'AAMDC',
 'AAMP',
 'AANAT',
 'AAR2',
 'AARD',
 'AARS1',
 'AARS2',
 'AARSD1',
 'AASDH',
 'AASDHPPT',
 'AASS',
 'AATF',
 'AATK',
 'ABAT',
 'ABCA1',
 'ABCA10',
 'ABCA12',
 'ABCA13',
 'ABCA2',
 'ABCA3',
 'ABCA4',
 'ABCA5',
 'ABCA6',
 'ABCA7',
 'ABCA8',
 'ABCA9',
 'ABCB1',
 'ABCB10',
 'ABCB11',
 'ABCB4',
 'ABCB5',
 'ABCB6',
 'ABCB7',
 'ABCB8',
 'ABCB9',
 'ABCC1',
 'ABCC10',
 'ABCC11',
 'ABCC12',
 'ABCC2',
 'ABCC3',
 'ABCC4',
 'ABCC5',
 'ABCC6',
 'ABCC8',
 'ABCC9',
 'ABCD1',
 'ABCD2',
 'ABCD3',
 'ABCD4',
 'ABCE1',
 'ABCF1',
 'ABCF2',
 'ABCF3',
 'ABCG1',
 'ABCG2',
 'ABCG4',
 'ABCG5',
 'ABCG8',
 'ABHD1',
 'ABHD10',
 'ABHD2',
 'ABHD3',
 'ABHD4',
 'ABHD5',
 'ABHD6',
 'ABHD8',
 'ACD',
 'ACE',
 'ACE2',
 'ACER1',
 'ACER2',
 'ACER3',
 'ACHE',
 'ACIN1',
 'ACKR1',
 'ACKR2',
 'ACKR3',
 'ACKR4',
 'ACLY',
 'ACMSD',
 'ACO1',
 'ACO2',
 'ACOD1',
 'ACOT1',
 'ACOT11',
 'ACOT12',
 'ACOT13',
 'ACOT2',
 'ACOT4',
 'ACOT6',
 'ACOT7',
 'ACOT8',
 'ACOT9',
 'ACOX1',
 'ACOX2',
 'ACOX3',
 'ACOXL',
 'ACP1',
 'ACP2',
 'ACP3',
 'ACP4',
 'ACP5',
 'ACP6',
 'ACP7',
 'ACR',
 'ACRBP',
 'ACRV1',
 'ACSBG1',
 'ACSBG2',
 'ACSF2',
 'ACSF3',
 'ACSL1',
 'ACSL3',
 'ACSL4',
 'ACSL5',
 'ACSL6',
 'ACSM1',
 'ACSM2A',
 'ACSM2B',
 'ACSM3',
 'ACSM4',
 'ACSM5',
 'ACSM6',
 'ACSS1',
 'ACSS2',
 'ACSS3',
 'ACTA1',
 'ACTA2',
 'ACTB',
 'ACTBL2',
 'ACTC1',
 'ACTG1',
 'ACTG2',
 'ACTL10',
 'ACTL6A',
 'ACTL6B',
 'ACTL7A',
 'ACTL7B',
 'ACTL8',
 'ACTL9',
 'ACTN1',
 'ACTN2',
 'ACTN3',
 'ACTN4',
 'ACTR10',
 'ACTR1A',
 'ACTR1B',
 'ACTR2',
 'ACTR3',
 'ACTR3B',
 'ACTR3C',
 'ACTR5',
 'ACTR6',
 'ACTR8',
 'ACTRT1',
 'ACTRT2',
 'ACTRT3',
 'ACVR1',
 'ACVR1B',
 'ACVR1C',
 'ACVR2A',
 'ACVR2B',
 'ACVRL1',
 'ACY1',
 'ACY3',
 'ACYP1',
 'ACYP2',
 'ADA'}

In [178]:
G2 - G1

{'ZNF714',
 'ZNF716',
 'ZNF717',
 'ZNF718',
 'ZNF720',
 'ZNF721',
 'ZNF723',
 'ZNF724',
 'ZNF726',
 'ZNF727',
 'ZNF728',
 'ZNF729',
 'ZNF730',
 'ZNF732',
 'ZNF735',
 'ZNF736',
 'ZNF737',
 'ZNF738',
 'ZNF740',
 'ZNF746',
 'ZNF747',
 'ZNF749',
 'ZNF750',
 'ZNF761',
 'ZNF763',
 'ZNF764',
 'ZNF765',
 'ZNF766',
 'ZNF768',
 'ZNF770',
 'ZNF771',
 'ZNF772',
 'ZNF773',
 'ZNF774',
 'ZNF775',
 'ZNF776',
 'ZNF777',
 'ZNF778',
 'ZNF780A',
 'ZNF780B',
 'ZNF781',
 'ZNF782',
 'ZNF783',
 'ZNF784',
 'ZNF785',
 'ZNF786',
 'ZNF787',
 'ZNF789',
 'ZNF790',
 'ZNF791',
 'ZNF792',
 'ZNF793',
 'ZNF799',
 'ZNF800',
 'ZNF804A',
 'ZNF804B',
 'ZNF805',
 'ZNF808',
 'ZNF813',
 'ZNF814',
 'ZNF816',
 'ZNF821',
 'ZNF823',
 'ZNF827',
 'ZNF829',
 'ZNF830',
 'ZNF831',
 'ZNF835',
 'ZNF836',
 'ZNF837',
 'ZNF839',
 'ZNF841',
 'ZNF843',
 'ZNF844',
 'ZNF845',
 'ZNF846',
 'ZNF850',
 'ZNF852',
 'ZNF853',
 'ZNF860',
 'ZNF862',
 'ZNF865',
 'ZNF875',
 'ZNF878',
 'ZNF879',
 'ZNF880',
 'ZNF883',
 'ZNF888',
 'ZNF891',
 'ZNFX1',
 'ZNHIT1',
 'ZNHIT2',
 'ZNHIT3',
 'ZNHIT6',
 'ZNRD1',
 'ZNRD2',
 'ZNRF1',
 'ZNRF2',
 'ZNRF3',
 'ZNRF4',
 'ZP1',
 'ZP2',
 'ZP3',
 'ZP4',
 'ZPBP',
 'ZPBP2',
 'ZPLD1',
 'ZPR1',
 'ZRANB1',
 'ZRANB2',
 'ZRANB3',
 'ZRSR2',
 'ZSCAN1',
 'ZSCAN10',
 'ZSCAN12',
 'ZSCAN16',
 'ZSCAN18',
 'ZSCAN2',
 'ZSCAN20',
 'ZSCAN21',
 'ZSCAN22',
 'ZSCAN23',
 'ZSCAN25',
 'ZSCAN26',
 'ZSCAN29',
 'ZSCAN30',
 'ZSCAN31',
 'ZSCAN32',
 'ZSCAN4',
 'ZSCAN5A',
 'ZSCAN5B',
 'ZSCAN5C',
 'ZSCAN9',
 'ZSWIM1',
 'ZSWIM2',
 'ZSWIM3',
 'ZSWIM4',
 'ZSWIM5',
 'ZSWIM6',
 'ZSWIM7',
 'ZSWIM8',
 'ZSWIM9',
 'ZUP1'}

In [185]:
filename = 'people.tsv'

students = []
header = None
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
            
        if not header:
            header = line.strip().split('\t')
            continue
#         print(header)
#         print(line.strip().split('\t'))
#         print(dict(list(zip(header, line.strip().split('\t')))))
#         tmp = dict(zip(header,line.strip().split('\t')))
        students.append(dict(zip(header,line.strip().split('\t'))))
for student in students:
    print(student)

{'last_name': 'Weaver', 'first_name': 'Michael', 'email': 'xdunn@hotmail.com', 'country': 'Nepal', 'account': 'QVJP6465242365388'}
{'last_name': 'Owens', 'first_name': 'Jackson', 'email': 'iedwards@yahoo.com', 'country': 'Kazakhstan', 'account': 'FVQZ0955529767455'}
{'last_name': 'Gilmore', 'first_name': 'Patrick', 'email': 'arogers@smith.com', 'country': 'Mauritius', 'account': 'QFIM0905182880347'}
{'last_name': 'Perez', 'first_name': 'Jeffrey', 'email': 'plewis@chavez.com', 'country': 'New Zealand', 'account': 'YWOT0997131632248'}
{'last_name': 'Thomas', 'first_name': 'James', 'email': 'fred92@yahoo.com', 'country': 'Yemen', 'account': 'QAAE9838291982555'}
{'last_name': 'Nelson', 'first_name': 'Greg', 'email': 'mmiller@lynch.com', 'country': 'Jordan', 'account': 'PCNE8127696280157'}
{'last_name': 'White', 'first_name': 'Joshua', 'email': 'steven49@gmail.com', 'country': 'Palau', 'account': 'BCEN3299883381338'}
{'last_name': 'Francis', 'first_name': 'Todd', 'email': 'amanda23@hotmail.com', 'country': 'Argentina', 'account': 'XPTQ7837014557677'}
{'last_name': 'Shaw', 'first_name': 'Stephen', 'email': 'jackduke@hotmail.com', 'country': 'Marshall Islands', 'account': 'TRLQ6559557081716'}
{'last_name': 'Armstrong', 'first_name': 'Mariah', 'email': 'rhodesnicholas@hotmail.com', 'country': 'Albania', 'account': 'OHOV7518558201999'}
{'last_name': 'Boyle', 'first_name': 'Anthony', 'email': 'smithashlee@yahoo.com', 'country': 'Kyrgyz Republic', 'account': 'MCQU7347833033110'}
{'last_name': 'Cuevas', 'first_name': 'Patrick', 'email': 'ubriggs@hill.info', 'country': 'Turkmenistan', 'account': 'PPHE5533473251751'}
{'last_name': 'Reyes', 'first_name': 'Gerald', 'email': 'brownclarence@gonzalez-moore.com', 'country': 'Fiji', 'account': 'JCDK1943355298609'}
{'last_name': 'Calderon', 'first_name': 'Christopher', 'email': 'teresa30@carpenter-warner.com', 'country': 'Costa Rica', 'account': 'NERZ5502558659614'}
{'last_name': 'Weiss', 'first_name': 'Shane', 'email': 'leekatherine@williams.com', 'country': 'Martinique', 'account': 'DLDV5789894914403'}
{'last_name': 'Conley', 'first_name': 'Crystal', 'email': 'chasewatkins@perez-phillips.com', 'country': 'Singapore', 'account': 'GZZF6936998445532'}
{'last_name': 'Nelson', 'first_name': 'Jeffrey', 'email': 'hsherman@gmail.com', 'country': 'Mayotte', 'account': 'ECGK2823955143629'}
{'last_name': 'Johnson', 'first_name': 'Brianna', 'email': 'martinezdaniel@hotmail.com', 'country': 'Costa Rica', 'account': 'QOVO4275314052899'}
{'last_name': 'Werner', 'first_name': 'Brandon', 'email': 'justinfischer@gmail.com', 'country': 'Guadeloupe', 'account': 'UKRT1119626365017'}
{'last_name': 'Bennett', 'first_name': 'Brianna', 'email': 'cindy08@gmail.com', 'country': 'Bahamas', 'account': 'UNPV3347450330173'}
{'last_name': 'Fletcher', 'first_name': 'Austin', 'email': 'carolharrington@fleming.org', 'country': 'Azerbaijan', 'account': 'GJZT6825738428111'}
{'last_name': 'Lewis', 'first_name': 'Patrick', 'email': 'lopezcarl@johnson.com', 'country': 'Saint Helena', 'account': 'JOQE2648899771737'}
{'last_name': 'Smith', 'first_name': 'Joseph', 'email': 'michael74@yahoo.com', 'country': 'Hong Kong', 'account': 'MNXY3262955868027'}
{'last_name': 'Sullivan', 'first_name': 'Sharon', 'email': 'gonzalezrobert@hotmail.com', 'country': 'Turkey', 'account': 'YHXF7256577475630'}
{'last_name': 'Wilson', 'first_name': 'Krystal', 'email': 'dawnjohnson@gmail.com', 'country': 'Swaziland', 'account': 'MUVI3570791852556'}
{'last_name': 'Schmidt', 'first_name': 'Diana', 'email': 'watersryan@gmail.com', 'country': 'Holy See (Vatican City State)', 'account': 'UKCP6739617302102'}
{'last_name': 'Huff', 'first_name': 'Sean', 'email': 'byoung@gmail.com', 'country': 'Norfolk Island', 'account': 'WDAT4146843903498'}
{'last_name': 'Nguyen', 'first_name': 'Robin', 'email': 'vhanson@yahoo.com', 'country': 'Kenya', 'account': 'SVMU4403517448078'}
{'last_name': 'Russell', 'first_name': 'Robyn', 'email': 'bfletcher@yahoo.com', 'country': 'Togo', 'account': 'ZNUY4071301663622'}
{'last_name': 'Smith', 'first_name': 'Tiffany', 'email': 'colleengarrison@hotmail.com', 'country': 'San Marino', 'account': 'GPFA8271551275648'}
{'last_name': 'Smith', 'first_name': 'Lori', 'email': 'catherine23@gmail.com', 'country': 'Romania', 'account': 'MKWY4848668895426'}
{'last_name': 'Keith', 'first_name': 'Sabrina', 'email': 'xmurphy@yahoo.com', 'country': 'Algeria', 'account': 'QHIW7412514205367'}
{'last_name': 'Johnson', 'first_name': 'Miguel', 'email': 'aaronrichard@middleton.net', 'country': 'Slovakia (Slovak Republic)', 'account': 'QAAO4666689281736'}
{'last_name': 'Barron', 'first_name': 'Dustin', 'email': 'jesse93@best.com', 'country': 'Somalia', 'account': 'LRPR8694143910883'}
{'last_name': 'Robinson', 'first_name': 'Michael', 'email': 'johnperez@johnson.com', 'country': 'Turkmenistan', 'account': 'UWFU1921951273393'}
{'last_name': 'Nguyen', 'first_name': 'Robert', 'email': 'jessica62@yahoo.com', 'country': 'Croatia', 'account': 'JQHS4274771257925'}
{'last_name': 'Abbott', 'first_name': 'Brandon', 'email': 'jennifer87@gmail.com', 'country': 'Jamaica', 'account': 'RSLD0426398604312'}
{'last_name': 'Oneill', 'first_name': 'Bruce', 'email': 'morenolindsay@bass.org', 'country': 'Montserrat', 'account': 'UYHI6964741005832'}
{'last_name': 'Nash', 'first_name': 'Linda', 'email': 'robertdavis@hotmail.com', 'country': 'Heard Island and McDonald Islands', 'account': 'ZKTE5908966955533'}
{'last_name': 'Cameron', 'first_name': 'Kathleen', 'email': 'melanie81@rogers.com', 'country': 'Niger', 'account': 'HHHP3471562002758'}
{'last_name': 'Wilkinson', 'first_name': 'Wesley', 'email': 'clineerin@hotmail.com', 'country': 'Saint Vincent and the Grenadines', 'account': 'UWLV6407825245995'}
{'last_name': 'Wallace', 'first_name': 'Debbie', 'email': 'terri95@hotmail.com', 'country': 'Antigua and Barbuda', 'account': 'JRBN0811785293731'}
{'last_name': 'Woodward', 'first_name': 'Kayla', 'email': 'danielle65@yahoo.com', 'country': 'Mexico', 'account': 'VDWY7565964041116'}
{'last_name': 'Bennett', 'first_name': 'Stephanie', 'email': 'sjackson@yahoo.com', 'country': 'Singapore', 'account': 'DNRB2101855092009'}
{'last_name': 'Jenkins', 'first_name': 'Caleb', 'email': 'douglas63@yahoo.com', 'country': 'Botswana', 'account': 'IILE1765776198023'}
{'last_name': 'Edwards', 'first_name': 'Valerie', 'email': 'woodardlindsey@yahoo.com', 'country': 'Guinea', 'account': 'ZJUF2687631787282'}
{'last_name': 'Anderson', 'first_name': 'Mary', 'email': 'suebrown@yahoo.com', 'country': 'Chile', 'account': 'DHMT4208071148508'}
{'last_name': 'Ray', 'first_name': 'Angela', 'email': 'swhite@yahoo.com', 'country': 'Mayotte', 'account': 'UBRR8524342666714'}
{'last_name': 'Edwards', 'first_name': 'Haley', 'email': 'martinkimberly@lopez.com', 'country': 'Macedonia', 'account': 'OGPU6537909247863'}
{'last_name': 'Clark', 'first_name': 'Charles', 'email': 'jessica11@hotmail.com', 'country': 'Ukraine', 'account': 'AHYX6128839695452'}
{'last_name': 'Hill', 'first_name': 'Lisa', 'email': 'hsmith@baker.com', 'country': 'Saint Martin', 'account': 'VUPW6891906300822'}
{'last_name': 'Carpenter', 'first_name': 'Jonathan', 'email': 'fklein@yahoo.com', 'country': 'Germany', 'account': 'PKFW4841194501766'}
{'last_name': 'Griffith', 'first_name': 'Latoya', 'email': 'ryan32@skinner.com', 'country': 'Lesotho', 'account': 'BNYD8693045932496'}
{'last_name': 'Blair', 'first_name': 'Kim', 'email': 'tmurphy@flores.biz', 'country': 'Nepal', 'account': 'FQJA6381776349463'}
{'last_name': 'Salazar', 'first_name': 'Mary', 'email': 'mary64@ray.org', 'country': 'Latvia', 'account': 'KCNI2464381879411'}
{'last_name': 'Krueger', 'first_name': 'Kenneth', 'email': 'jennajoseph@yahoo.com', 'country': 'Central African Republic', 'account': 'BIGY3006735396533'}
{'last_name': 'Burke', 'first_name': 'Phillip', 'email': 'watsonsamuel@gmail.com', 'country': 'Peru', 'account': 'CNJX1222752295544'}
{'last_name': 'Juarez', 'first_name': 'Erica', 'email': 'xvelasquez@hughes.com', 'country': 'Spain', 'account': 'ZROP5229895490397'}
{'last_name': 'Watkins', 'first_name': 'Jason', 'email': 'april99@gmail.com', 'country': 'Seychelles', 'account': 'NXKK2792812848629'}
{'last_name': 'Carter', 'first_name': 'Lee', 'email': 'kfletcher@yahoo.com', 'country': 'Faroe Islands', 'account': 'DPLN5056382218296'}
{'last_name': 'Huang', 'first_name': 'Randy', 'email': 'xchurch@hotmail.com', 'country': 'Tokelau', 'account': 'KAOL9792684486009'}
{'last_name': 'Owen', 'first_name': 'Kristina', 'email': 'megan24@stewart.net', 'country': 'Cocos (Keeling) Islands', 'account': 'WRXW4627191899235'}
{'last_name': 'Turner', 'first_name': 'Beth', 'email': 'sydneycollins@hunter.com', 'country': 'Burundi', 'account': 'OMOK4767172062189'}
{'last_name': 'Aguirre', 'first_name': 'Michael', 'email': 'robertbowen@chavez-ortega.com', 'country': 'Timor-Leste', 'account': 'KRKF7344951038740'}
{'last_name': 'Wilson', 'first_name': 'Elizabeth', 'email': 'christiandanielle@yahoo.com', 'country': 'Montserrat', 'account': 'SAAA4141150617330'}
{'last_name': 'Hardy', 'first_name': 'Teresa', 'email': 'kdavidson@gordon.com', 'country': 'Norway', 'account': 'XNWQ1072087896797'}
{'last_name': 'Stewart', 'first_name': 'David', 'email': 'bennettwanda@vega-guerra.net', 'country': 'Sierra Leone', 'account': 'FTHM1005169617995'}
{'last_name': 'Moore', 'first_name': 'Heather', 'email': 'mark00@hotmail.com', 'country': 'French Polynesia', 'account': 'OSSM9070924947595'}
{'last_name': 'Grant', 'first_name': 'Melissa', 'email': 'schaefernatalie@hotmail.com', 'country': 'French Guiana', 'account': 'CFQJ4204773901237'}
{'last_name': 'Thompson', 'first_name': 'Jennifer', 'email': 'moralesmartin@rodgers.com', 'country': 'Cape Verde', 'account': 'MGFG2793756668287'}
{'last_name': 'Anderson', 'first_name': 'Raymond', 'email': 'dprince@hotmail.com', 'country': 'Barbados', 'account': 'IGXK5881682171566'}
{'last_name': 'Ramsey', 'first_name': 'Angela', 'email': 'cparks@valdez-hudson.com', 'country': 'Andorra', 'account': 'QYBW6359021109484'}
{'last_name': 'Gonzales', 'first_name': 'Betty', 'email': 'martinezrichard@yahoo.com', 'country': 'Montserrat', 'account': 'UTSI0776569247505'}
{'last_name': 'Castaneda', 'first_name': 'Thomas', 'email': 'kpena@yahoo.com', 'country': 'Egypt', 'account': 'LSDI9463735752680'}
{'last_name': 'Todd', 'first_name': 'Jonathan', 'email': 'julie68@gmail.com', 'country': 'Malaysia', 'account': 'ISYY1401931979959'}
{'last_name': 'Garcia', 'first_name': 'Stacey', 'email': 'lukebradford@hotmail.com', 'country': 'Zimbabwe', 'account': 'HNOA0376843856035'}
{'last_name': 'Figueroa', 'first_name': 'Judy', 'email': 'ystewart@yahoo.com', 'country': 'Portugal', 'account': 'EEVV8325881104553'}
{'last_name': 'Castillo', 'first_name': 'Ashley', 'email': 'cory33@king-shaw.net', 'country': 'Paraguay', 'account': 'QXGZ3111246190069'}
{'last_name': 'Flores', 'first_name': 'Zachary', 'email': 'zcalhoun@gmail.com', 'country': 'Central African Republic', 'account': 'ACQR2846533122117'}
{'last_name': 'Allen', 'first_name': 'Erica', 'email': 'michaelhall@hotmail.com', 'country': 'Palau', 'account': 'ZAZD8310339637467'}
{'last_name': 'Potts', 'first_name': 'Savannah', 'email': 'kristentaylor@yahoo.com', 'country': 'Micronesia', 'account': 'ARWK1547324119222'}
{'last_name': 'Wheeler', 'first_name': 'Zachary', 'email': 'stephen63@yahoo.com', 'country': 'Armenia', 'account': 'OMQX4840913072589'}
{'last_name': 'Thomas', 'first_name': 'Timothy', 'email': 'bryanmartin@gmail.com', 'country': 'Bahrain', 'account': 'OCFV4659464275270'}
{'last_name': 'Mcknight', 'first_name': 'Ann', 'email': 'kristinavelasquez@gmail.com', 'country': 'Guatemala', 'account': 'DTRB4720098955341'}
{'last_name': 'Thompson', 'first_name': 'Ruth', 'email': 'denise01@burns.org', 'country': 'Saint Vincent and the Grenadines', 'account': 'YYHM5758234683389'}
{'last_name': 'Levy', 'first_name': 'Daniel', 'email': 'beancody@jones.com', 'country': 'Kazakhstan', 'account': 'AHBN3151680654826'}
{'last_name': 'Hubbard', 'first_name': 'Paul', 'email': 'ubradley@yahoo.com', 'country': 'Germany', 'account': 'FGBC0366153271398'}
{'last_name': 'Jones', 'first_name': 'Jason', 'email': 'anthony75@yahoo.com', 'country': 'Western Sahara', 'account': 'MHTE8867005510944'}
{'last_name': 'Garcia', 'first_name': 'Margaret', 'email': 'antonio52@gmail.com', 'country': 'Togo', 'account': 'IYOD4325345823013'}
{'last_name': 'Peters', 'first_name': 'Jeremy', 'email': 'johnlewis@hotmail.com', 'country': 'Guam', 'account': 'NZFX8257739892619'}
{'last_name': 'Stone', 'first_name': 'Mark', 'email': 'nmoore@hotmail.com', 'country': 'Kuwait', 'account': 'MWRB2515761996641'}
{'last_name': 'Edwards', 'first_name': 'Darius', 'email': 'nchurch@yahoo.com', 'country': 'Eritrea', 'account': 'CURJ9953745256871'}
{'last_name': 'Lawson', 'first_name': 'Tracy', 'email': 'piercejenna@gmail.com', 'country': 'Czech Republic', 'account': 'ATOT8581137487723'}
{'last_name': 'Cooper', 'first_name': 'Christina', 'email': 'ddavidson@hotmail.com', 'country': 'Maldives', 'account': 'RQGA0882784089265'}
{'last_name': 'Harris', 'first_name': 'Megan', 'email': 'ndelacruz@yahoo.com', 'country': 'Armenia', 'account': 'EOPA8088866975598'}
{'last_name': 'Jones', 'first_name': 'Timothy', 'email': 'jenniferadkins@griffin.biz', 'country': 'Benin', 'account': 'JCUN9597199552039'}
{'last_name': 'Burch', 'first_name': 'Tracie', 'email': 'evansmiguel@yahoo.com', 'country': 'Fiji', 'account': 'IZYL3351829981461'}
{'last_name': 'Chung', 'first_name': 'Jason', 'email': 'kenneththompson@baxter.com', 'country': 'Iceland', 'account': 'JDIH2349154465371'}
{'last_name': 'Melton', 'first_name': 'Samantha', 'email': 'bcurtis@hotmail.com', 'country': 'Macedonia', 'account': 'VRZP1447516193511'}
{'last_name': 'Hansen', 'first_name': 'Michael', 'email': 'phillipssean@hotmail.com', 'country': 'Serbia', 'account': 'QKAF2254397516681'}

In [188]:
month = 3

months = [
    None,
    'January',
    'February',
    'March',   
]

months[month]

'March'

In [189]:
months = {
    1: 'January',
    2: 'February',
    3: 'March'
}

months[month]

'March'

In [197]:
def simulate_two_dice(no_simulation):
    import random
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]
    my_dict = {}
    for _ in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)

        total = dice1 + dice2         
        if total not in my_dict:
            my_dict[total] = 0
            
        my_dict[total] += 1
        
    for key in sorted(my_dict):
        print(key, my_dict[key])
simulate_two_dice(10000)

2 271
3 563
4 860
5 1112
6 1397
7 1652
8 1362
9 1103
10 827
11 573
12 280

In [213]:
def simulate_two_dice(no_simulation):
    import random
    from collections import defaultdict
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]
    my_dict = defaultdict(int)
    for _ in range(no_simulation):
        dice1 = random.randint(1, 6)
        dice2 = random.randint(1, 6)

        total = dice1 + dice2         
#         if total not in my_dict:
#             my_dict[total] = 0
            
        my_dict[total] += 1
        
    
        
    for value in range(2, 13):
        print(value, round(theoretical_probabilities[value], 4)*100, round(my_dict[value]/no_simulation, 4)*100)
simulate_two_dice(100000)

2 2.78 2.88
3 5.56 5.71
4 8.33 8.35
5 11.110000000000001 10.93
6 13.889999999999999 13.900000000000002
7 16.669999999999998 16.6
8 13.889999999999999 13.79
9 11.110000000000001 11.19
10 8.33 8.33
11 5.56 5.48
12 2.78 2.85

In [200]:
from collections import defaultdict

my_dict = defaultdict(int)

my_dict[5] += 10
my_dict

defaultdict(int, {5: 10})

In [199]:
my_dict2 = {}
my_dict2[5] += 10

KeyError: 5

In [201]:

my_dict = defaultdict(list)

my_dict['blah'].append('something')

In [202]:
my_dict

defaultdict(list, {'blah': ['something']})

In [203]:
my_dict = {}

my_dict['blah'].append('something')

KeyError: 'blah'

In [216]:
my_dict = defaultdict(list)

my_dict['blah'] = 'test'

In [217]:
my_dict

defaultdict(list, {'blah': 'test'})

In [218]:
my_dict['clah'].append('blah')

In [219]:
my_dict

defaultdict(list, {'blah': 'test', 'clah': ['blah']})

In [220]:
my_dict = {}
my_dict['A'] = 1

In [221]:
my_dict

{'A': 1}

In [222]:
my_dict['B'] += 1

KeyError: 'B'

In [223]:
char = 'B'

'A' <= char <= 'Z'

True

In [224]:
number = '1'

'0' <= number <= '9'

True