In [6]:
number = 1234
sum = 0
while number:
    sum += number % 10
    number = number // 10 
print(sum)

20

In [4]:
234234234776 % 10

6

In [2]:
123 * 10 == 1230  + 4

123.4

In [ ]:
123 % 10 == > 120 + 3

In [ ]:
1234 = 1230 + 4  --> 123 * 10 + 4

In [7]:
total = 0
for ele in str(6743):
    total += int(ele)

In [8]:
total

20

In [9]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
print(new_list)

[1, 4, 9]

In [11]:
[ele * ele for ele in my_list]

[1, 4, 9]

In [13]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
    
[ele * 10 for ele in new_list]

[100, 200, 300]

In [16]:
animal = 'buffalo'
''.join([char.upper() for char in animal])

'BUFFALO'

In [15]:
animal.upper()

'BUFFALO'

In [17]:
students = ['john', 'jane', 'doe']
[student[0].upper()+student[1:] for student in students]

['John', 'Jane', 'Doe']

In [18]:
students = ['john', 'jane', 'doe']
print([student.title() for student in students])

['John', 'Jane', 'Doe']

In [19]:
my_list = [0, '', []]
[bool(ele) for ele in my_list]

[False, False, False]

In [21]:
my_list = [1, '', []]
any([bool(ele) for ele in my_list])

True

In [22]:
my_list = [1, '', []]
all([bool(ele) for ele in my_list])

False

In [23]:
my_list = range(6)
[str(element) for element in my_list]

['0', '1', '2', '3', '4', '5']

In [25]:
numbers = range(20)
[number for number in numbers if number % 2 == 0 ]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
[number for number in numbers if number % 2 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [28]:
numbers = range(10)
[number if number % 2 == 0 else number**3 for number in range(10)]

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [29]:
[number*number if number % 2 == 0 else number**3 for number in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [30]:
[str(number) if number % 2 == 0 else number**3 for number in range(10)]

['0', 1, '2', 27, '4', 125, '6', 343, '8', 729]

In [40]:
sentence = 'I rEAlly want to gO to work'
[char for char in sentence if char.lower() not in vowels and char.strip()]

['r', 'l', 'l', 'y', 'w', 'n', 't', 't', 'g', 't', 'w', 'r', 'k']

In [32]:
vowels = 'aeiou'
'a' in vowels

True

In [33]:
'b' in vowels

False

In [52]:
filename = 'soccer_players_statistics.csv'
# filename = 'soccer_players_statistics-Copy1.csv'

def grab_nat(filename):
    header = None
    nat_list = []
    nat_index = 1
    with open(filename, encoding="utf-8") as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            line = line.split(',')    
            if not header:
                header = line
                continue

            nat = line[1]
            if nat not in nat_list:
                nat_list.append(nat)

        nat_list.sort()
        return nat_list
    
grab_nat(filename)

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bolivia',
 'Bosnia Herzegovina',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China PR',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'FIFA16_NationName_215',
 'FYR Macedonia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Iran',
 'Iraq',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Korea DPR',
 'Korea Republic',
 'Kosovo',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Netherlands',
 'New Zealand',
 'Niger',
 'Nigeria',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Ireland',
 'Romania',
 'Russia',
 'San Marino',
 'Saudi Arabia',
 'Scotland',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'St Kitts Nevis',
 'St Lucia',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'São Tomé & Príncipe',
 'Tanzania',
 'Timor-Leste',
 'Togo',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Wales',
 'Zambia',
 'Zimbabwe']

In [47]:
lines = open(filename, encoding="utf-8").readlines()

In [62]:
filename = 'soccer_players_statistics.csv'
# filename = 'soccer_players_statistics-Copy1.csv'

def grab_nat(filename, col_name):
    header = None
    values = []
    with open(filename, encoding="utf-8") as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            line = line.split(',')    
            if not header:
                header = line
                col_index = header.index(col_name)
                continue

            val = line[col_index]
 
            if val and val not in values:
                values.append(val)

        values.sort()
        return values
    
grab_nat(filename, 'National_Position')

['CAM',
 'CB',
 'CDM',
 'CM',
 'GK',
 'LAM',
 'LB',
 'LCB',
 'LCM',
 'LDM',
 'LF',
 'LM',
 'LS',
 'LW',
 'LWB',
 'RAM',
 'RB',
 'RCB',
 'RCM',
 'RDM',
 'RF',
 'RM',
 'RS',
 'RW',
 'RWB',
 'ST',
 'Sub']

In [53]:
x = [1, 2, 3]
x.index(2)

1

In [64]:
def get_unique_values_by_column_name(column_name):
    header = None
    unique_values = []
    with open('soccer_players_statistics.csv', encoding="utf-8") as file:
        for line in file:

            if not line.strip():
                continue

            if not header:
                header = line.strip().split(',')
                try:
                    column_index = header.index(column_name)
                except:
                    print(f'Column Name {column_name} not found!')
                    return False
                continue

            line = line.strip().split(',')

            value = line[column_index]
            if value and value not in unique_values:
                unique_values.append(value)
                
    
    unique_values.sort()
    
    return unique_values
        
get_unique_values_by_column_name('Rating')

['45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '92',
 '93',
 '94']

In [69]:
def mean(number_sequence):
    return round(sum(number_sequence)/len(number_sequence), 2)

def stats(column_name):
    values = get_unique_values_by_column_name(column_name)
    values = [float(value) for value in values]
    print(values)
    return (min(values), max(values), mean(values))
    
stats('Rating')

[45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 92.0, 93.0, 94.0]

(45.0, 94.0, 69.06)

In [67]:
mean([45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 92.0, 93.0, 94.0])

TypeError: 'int' object is not callable

In [ ]:
def extract_columns(column_names):
    header = None
    values = []
    with open('soccer_players_statistics.csv', encoding="utf-8") as file:
        for line in file:

            if not line.strip():
                continue

            if not header:
                header = line.strip().split(',')