In [1]:
x = range(5)

In [2]:
x

range(0, 5)

In [3]:
print(x)

range(0, 5)

In [6]:
x = list(x)

In [7]:
x

[0, 1, 2, 3, 4]

In [ ]:
x = []

for ele in x:
    print(ele)

In [8]:
x = ()

for ele in x:
    print(ele)

In [10]:
x = [1, 2, 3, 4]
for ele in x:
    print(ele)
    
for ele in x:
    print(ele)

1
2
3
4
1
2
3
4

In [11]:
x = (1, 2, 3, 4)
for ele in x:
    print(ele)
    
for ele in x:
    print(ele)

1
2
3
4
1
2
3
4

In [12]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [13]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [14]:
for value in values:
    print(value)

4
10
3
8
-6

In [15]:
for idx, value in enumerate(values):
    print(idx, value)

0 4
1 10
2 3
3 8
4 -6

In [16]:
for idx, value in enumerate(values, 100):
    print(idx, value)

100 4
101 10
102 3
103 8
104 -6

In [17]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [18]:
values

[8, 20, 6, 16, -12]

In [19]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [20]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [22]:
metals = ['Li', 'Na', 'K', 'O']
weights = [6.941, 22.98976928, 39.0983]
something = [77, 88, 0]
for metal, weight, athing in zip(metals, weights, something):
    print(metal, weight, athing)

Li 6.941 77
Na 22.98976928 88
K 39.0983 0

In [23]:
metals = ['Li', 'Na', 'K', 'O']
weights = [6.941, 22.98976928]
something = [77, 88, 0]
for metal, weight, athing in zip(metals, weights, something):
    print(metal, weight, athing)

Li 6.941 77
Na 22.98976928 88

In [25]:
type(x)

zip

In [30]:
x = zip(metals, weights, something)
for ele in x:
    print(ele)

('Li', 6.941, 77)
('Na', 22.98976928, 88)

In [27]:
a, b, c = ('Li', 6.941, 77)

In [28]:
print(a, b, c)

Li 6.941 77

In [31]:
for ele in x:
    print(ele)

In [32]:
list(zip(metals, weights, something))

[('Li', 6.941, 77), ('Na', 22.98976928, 88)]

In [33]:
tuple(zip(metals, weights, something))

(('Li', 6.941, 77), ('Na', 22.98976928, 88))

In [35]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [41]:
no_cols = []
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    length = len(item)
    print(length)
    if length not in no_cols:
        no_cols.append(len(item))

3
3
4

In [44]:
len(no_cols) != 1

True

In [37]:
info = ['Isaac Newton,1643,1727',
    'Charles Darwin,1809,1882',
    'Alan Turing,1912,1954,alan@bletchley.uk'
]
for ele in info:
    print(ele)

Isaac Newton,1643,1727
Charles Darwin,1809,1882
Alan Turing,1912,1954,alan@bletchley.uk

In [38]:
for ele in info:
    name, by ,dy = ele.split(',')
    print(name, by ,dy)

Isaac Newton 1643 1727
Charles Darwin 1809 1882

ValueError: too many values to unpack (expected 3)

In [45]:
x = [1, 7, 3]

sum = 0
for ele in x:
    sum = sum *10 + ele

In [46]:
sum(x)

TypeError: 'int' object is not callable

In [47]:
del sum

In [49]:
sum(x)

11

In [60]:
string1 = '11340078879879978970234234234'
string2 = ''.join(sorted(string1))
string3 = ''.join(sorted(string1, reverse=True))
print(string1, string2, string3)

11340078879879978970234234234 00011222333344447777788889999 99998888777774444333322211000

In [51]:
sorted(string1)

['0', '0', '0', '1', '1', '2', '3', '3', '4', '4']

In [61]:
store = [0] * 10

for char in string1:
    index = int(char)
    store[index] += 1

In [64]:
for idx, ele in enumerate(store):
    print(idx, ele)

0 3
1 2
2 3
3 4
4 4
5 0
6 0
7 5
8 4
9 4

In [65]:
sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
    print(sorted_string)
print(sorted_string)

000
00011
00011222
000112223333
0001122233334444
0001122233334444
0001122233334444
000112223333444477777
0001122233334444777778888
00011222333344447777788889999
00011222333344447777788889999

In [ ]:
number = 1234
sum = 0
while number:
    sum += number % 10
    number = number // 10 
print(sum)

In [66]:
4.5
6.5
float(6.5O)

SyntaxError: invalid syntax (1584591791.py, line 3)

In [68]:
unique_values = []
sequence = [1, 1, 1, 2, 2, 3, 4, 4, 3, 5]
for ele in sequence:
    if ele not in unique_values:
        unique_values.append(ele)

In [69]:
unique_values

[1, 2, 3, 4, 5]

In [70]:
unique_values = []

In [71]:
1 in unique_values

False

In [72]:
unique_values.append(1)

In [73]:
1 in unique_values

True

In [79]:
def average_from_file(filename):
    grade_list = []
    with open(filename) as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            try:
                value = float(line)
            except:
                continue
            grade_list.append(value)
            
    return sum(grade_list)/len(grade_list)
average_from_file('for_ex7_data3.txt')

75.43

In [88]:
import random
random.seed(503)

In [95]:
for ele in range(10):
    print(random.randint(0, 1))

0
0
1
0
1
1
0
0
0
1

In [ ]:
# H = 0
# T = 1

In [101]:
import random
def coin_toss(number):
#     random.seed(503)
    output = ''
    for i in range(number):
        toss = random.randint(0, 1)

        if toss == 0:
            output += 'H'
        else:
            output += 'T'

    return output


print(coin_toss(10))

HHHTTHHTTT

In [102]:
def coin_toss_probability(number):
    result = coin_toss(number)
    head_count = 0
    tail_count = 0

    for ele in result:
        if ele == 'H':
            head_count += 1
        elif ele == 'T':
            tail_count += 1

    return (head_count / len(result), tail_count / len(result))

In [108]:

print(coin_toss_probability(1000000))

(0.499816, 0.500184)

In [109]:
def coin_toss_probability(number):
    result = coin_toss(number)
    head_count = result.count('H')
    tail_count = result.count('T')

#     for ele in result:
#         if ele == 'H':
#             head_count += 1
#         elif ele == 'T':
#             tail_count += 1

    return (head_count / len(result), tail_count / len(result))
print(coin_toss_probability(1000000))

(0.501652, 0.498348)

In [120]:
def print_student_average(filename):
    with open(filename) as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            student_name, *tests = line.split(',')
            int_grades = []
            for ele in tests:
                int_grades.append(int(ele))
            average = sum(int_grades)/len(int_grades)
            print(student_name, average)

print_student_average('for_ex11_data.txt')

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [110]:
n, g1, g2, g3, g4, g5 = 'student2,86,76,85,86,65'.split(',')

In [111]:
'student2,86,76,85,86,65'.split(',')

['student2', '86', '76', '85', '86', '65']

In [112]:
y = 'student1,93,78,82,83,65,23,34,87'
y.split(',')

['student1', '93', '78', '82', '83', '65', '23', '34', '87']

In [116]:
name, *grades = 'student2,86,76,85,86,65'.split(',')

In [114]:
print(name, grades)

student2 ['86', '76', '85', '86', '65']

In [117]:
name, *grades = y.split(',')

In [118]:
print(name, grades)

student1 ['93', '78', '82', '83', '65', '23', '34', '87']

In [119]:
grades

['93', '78', '82', '83', '65', '23', '34', '87']

In [127]:
def generate_students(output_filename, number_of_students, number_of_tests, test_score_range):
    import random

    with open(output_filename, 'w') as output_file:

        for i in range(1, number_of_students+1):
            line = []
            student_name = 'student' + str(i)
            line.append(student_name)
            for ii in range(random.randint(1, number_of_tests)):
                line.append(str(random.randint(test_score_range[0], test_score_range[1])))

            line = ','.join(line)  + '\n'
            output_file.write(line)
            
generate_students('testdata.txt', 100, 30, (90,100))

In [128]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

input_string = input('Enter an integer. Enter nothing to quit: ')

while input_string:
    summed_values += int(input_string)
    number_count += 1
    input_string = input('Enter an integer. Enter nothing to quit: ')


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

Enter an integer. Enter nothing to quit: 88
Enter an integer. Enter nothing to quit: 889
Enter an integer. Enter nothing to quit: 77
Enter an integer. Enter nothing to quit: 342
Enter an integer. Enter nothing to quit: 0
Enter an integer. Enter nothing to quit:
The average of 5 numbers is 1396.000000

In [131]:
def modify_loop_ex1(n):
    for number in range(n):

        if number % 5 == 0:
            print('Skipping:', number)
            continue

        print(number)

In [132]:
modify_loop_ex1(100)

Skipping: 0
0
1
2
3
4
Skipping: 5
5
6
7
8
9
Skipping: 10
10
11
12
13
14
Skipping: 15
15
16
17
18
19
Skipping: 20
20
21
22
23
24
Skipping: 25
25
26
27
28
29
Skipping: 30
30
31
32
33
34
Skipping: 35
35
36
37
38
39
Skipping: 40
40
41
42
43
44
Skipping: 45
45
46
47
48
49
Skipping: 50
50
51
52
53
54
Skipping: 55
55
56
57
58
59
Skipping: 60
60
61
62
63
64
Skipping: 65
65
66
67
68
69
Skipping: 70
70
71
72
73
74
Skipping: 75
75
76
77
78
79
Skipping: 80
80
81
82
83
84
Skipping: 85
85
86
87
88
89
Skipping: 90
90
91
92
93
94
Skipping: 95
95
96
97
98
99

In [135]:
a, *b = 'student2,86,76,85,86,65'.split(',')

In [134]:
a, b, c, d, g, 'student2,86,76,85,86,65'.split(',')[-1]

'65'

In [136]:
b[-1]

'65'

In [137]:
a, *_, d = 'student2,86,76,85,86,65'.split(',')

In [138]:
d

'65'

In [139]:
_

['86', '76', '85', '86']

In [140]:
a, *_, *_,d = 'student2,86,76,85,86,65'.split(',')

SyntaxError: multiple starred expressions in assignment (474097598.py, line 1)