In [1]:
x = 'aabc'

In [2]:
len(x)

4

In [4]:
x.count('A')

0

In [5]:
x = (1, 2, 3)

In [6]:
x[1] = 3

TypeError: 'tuple' object does not support item assignment

In [7]:
x = (1, [2,3], 3)

In [8]:
x[1][1]

3

In [10]:
59 == True

False

In [14]:
sequence = [1, 2, 3, 4, 5]

for ele in sequence:
    print(ele)

1
2
3
4
5

In [12]:
len_sequence = len(sequence)
for index in range(len_sequence):
    print(index, sequence[index])
# for (i==1, i<=10, i++)

0 1
1 2
2 3
3 4
4 5

In [24]:
# range(start:stop:step) # [start:step:stop)

x = list(range(4))

In [25]:
print(x)

[0, 1, 2, 3]

In [26]:
sequence = [1, 2, 3, 4, 5]
len_sequence = len(sequence)
print(len_sequence)

5

In [27]:
sequence[3]

4

In [28]:
sequence[2]

3

In [29]:
x = list(range(len_sequence))

In [30]:
print(x)

[0, 1, 2, 3, 4]

In [32]:
for index in range(len_sequence):
    print(f'Index={index}; Value = {sequence[index]}')

Index=0; Value = 1
Index=1; Value = 2
Index=2; Value = 3
Index=3; Value = 4
Index=4; Value = 5

In [34]:
x = range(10)

In [35]:
print(x)

range(0, 10)

In [37]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
for ele in x:
    print(ele)

0
1
2
3
4
5
6
7
8
9

In [40]:
def return2():
    return (1,2)

a, b = return2()
print(a,b)

1 2

In [41]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    print(index, value)

0 4
1 10
2 3
3 8
4 -6

In [42]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values, 1):
    print(index, value)

1 4
2 10
3 3
4 8
5 -6

In [43]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values, 10):
    print(index, value)

10 4
11 10
12 3
13 8
14 -6

In [45]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [46]:
print(values)

[8, 20, 6, 16, -12]

In [48]:
values = [4, 10, 3, 8, -6]
for idx, ele in enumerate(values):
    print(idx, ele)
    values[idx] = ele * 2
    
print(values)

0 4
1 10
2 3
3 8
4 -6
[8, 20, 6, 16, -12]

In [51]:
for index in enumerate(values):
    print(indexb)
    values[index] = values[index] * 2

(0, 8)

TypeError: list indices must be integers or slices, not tuple

In [53]:
values = [4, 10, 3, 8, -6]
for idx, somevalue in enumerate(values):
    values[idx] = somevalue * 2
    
print(values)

[8, 20, 6, 16, -12]

In [55]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(i, metals[i], weights[i])

0 Li 6.941
1 Na 22.98976928
2 K 39.0983

In [60]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [61]:
x = zip(metals, weights)

In [62]:
print(x)

<zip object at 0x0000025541B3F4C0>

In [63]:
for ele in x:
    print(ele)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [64]:
for ele in x:
    print(ele)

In [65]:
x = list(zip(metals, weights))

In [66]:
x

[('Li', 6.941), ('Na', 22.98976928), ('K', 39.0983)]

In [68]:
for ele in x:
    print(ele)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [69]:
for ele in x:
    print(ele)

('Li', 6.941)
('Na', 22.98976928)
('K', 39.0983)

In [71]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983, 1, 5]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983
H 1

In [72]:
metals = ['Li', 'Na', 'K',]
weights = [6.941, 22.98976928, 39.0983,]
blahs = [1, 2, 3]
for metal, weight, blah in zip(metals, weights, blahs):
    print(metal, weight, blah)

Li 6.941 1
Na 22.98976928 2
K 39.0983 3

In [73]:
values = tuple(zip(metals, weights, blahs))

In [74]:
for value in values:
    print(value)

('Li', 6.941, 1)
('Na', 22.98976928, 2)
('K', 39.0983, 3)

In [75]:
for metal, weight, blah in values:
    print(metal, weight, blah)

Li 6.941 1
Na 22.98976928 2
K 39.0983 3

In [76]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [77]:
info = [['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']]
for item in info:
    print(len(item))

3
3
4

In [78]:
# Write a function that takes in a list of values and returns its sum

def my_summer(values):
    return sum(values)


values = [1, 2, 3]
my_summer(values)

6

In [79]:
def my_summer(values):
    total = 0
    for value in values:
        total += value
    return total


values = [1, 2, 3]
my_summer(values)

6

In [80]:
def my_summer(values):
    total = 0
    for value in values:
        if value % 2 == 0:
            total += value
    return total


values = range(10)
my_summer(values)

20

In [83]:
# Write a function that takes in a list of values and returns its average

def average(values):
    total = 0
    for value in values:
        total += value
    average = total/len(values)
    return average
values = range(10)
average(values)

4.5

In [85]:

def average(values):    
    return sum(values)/len(values)
values = range(10)
average(values)

4.5

In [87]:
# Write a function that multiplies the elements of the list by two and returns them

def multiply2(values):
    
    for i, v in enumerate(values):
        values[i] = v * 2
        
    return values

values = [1, 2, 3, 4]
multiply2(values)

[2, 4, 6, 8]

In [88]:
values

[2, 4, 6, 8]

In [89]:

def multiply2(values):
    
    for i, v in enumerate(values):
        values[i] = v * 2
        
    return values

values = [1, 2, 3, 4]
print('Before function call', values)
a = multiply2(values)
print('Value returned from function', a)
print('After function call', values)

Before function call [1, 2, 3, 4]
Value returned from function [2, 4, 6, 8]
After function call [2, 4, 6, 8]

In [90]:
def multiply2(values):
    output = []
    for i, v in enumerate(values):
        output.append(v*2)
        
    return output

values = [1, 2, 3, 4]
print('Before function call', values)
a = multiply2(values)
print('Value returned from function', a)
print('After function call', values)

Before function call [1, 2, 3, 4]
Value returned from function [2, 4, 6, 8]
After function call [1, 2, 3, 4]

In [91]:
# Write a pow() function that computes the power of each element in a list

def my_pow(values, power):
    output = []
    for val in values:
        output.append(val**power)
    return output
values = [1, 2, 3, 4]
my_pow(values, 2)

[1, 4, 9, 16]

In [92]:
my_pow(values, 3)

[1, 8, 27, 64]

In [93]:
# Write a function to remove duplicate from a list

def remove_duplicate(values):
    output = []
    for val in values:
        if val not in output:
            output.append(val)
            
    return output

values = [1, 2, 3, 3, 3, 4, 4, 5,6, 7,]
remove_duplicate(values)

[1, 2, 3, 4, 5, 6, 7]

Write a function that reads grades from an input file and calculates their average

    input: filename

    use: for_ex7_data1.txt

    use: for_ex7_data2.txt

    use: for_ex7_data3.txt

    Use a list to read the values in to and then use sum and len to calculate the average.

    Be careful about empty rows!

    Be careful about non-numbers!

In [96]:
filename = 'for_ex7_data1.txt'
with open(filename) as file:
    for line in file:
        print(line, type(line))

80
 <class 'str'>
90
 <class 'str'>
78
 <class 'str'>
56
 <class 'str'>
90 <class 'str'>

In [103]:
filename = 'for_ex7_data1.txt'
my_list = []
with open(filename) as file:
    for line in file:
        my_list.append(int(line.strip()))
        
print(sum(my_list)/len(my_list))

78.8

In [102]:
print(my_list)

[80, 90, 78, 56, 90]

In [105]:
filename = 'for_ex7_data2.txt'
my_list = []
with open(filename) as file:
    for line in file:
        my_list.append(line.strip())
        
print(my_list)

['99', '98', '', '78', '43', '', '34', '', '', '', '', '99', '0', '', '']

In [107]:
filename = 'for_ex7_data2.txt'
my_list = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
            
        my_list.append(int(line.strip()))
        
print(sum(my_list)/len(my_list))

64.42857142857143

In [108]:
line = '\n'
line.strip()

''

In [ ]:
if not line.strip() --> False:
    continue

In [109]:
not False

True

In [110]:
filename = 'for_ex7_data4.txt'
my_list = []
with open(filename) as file:
    for line in file:
            
        my_list.append(line)
        
print(my_list)

['80\n', '90\n', '78\n', '56\n', '90        ']

In [111]:
filename = 'for_ex7_data4.txt'
my_list = []
with open(filename) as file:
    for line in file:
            
        my_list.append(line.strip())
        
print(my_list)

['80', '90', '78', '56', '90']

In [113]:
x = ((1,2,3), (3,4,5), (5,6,7))

for idx, ele in enumerate(x):
    print(idx, ele)

0 (1, 2, 3)
1 (3, 4, 5)
2 (5, 6, 7)

In [114]:
x = (1,2,3)
y = (11,22,33)
z = (111,222,33)

for idx, ele in enumerate(zip(x,y,z)):
    print(idx, ele)

0 (1, 11, 111)
1 (2, 22, 222)
2 (3, 33, 33)

In [120]:
filename = 'for_ex7_data3.txt'
my_list = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        print(line.strip())  
        float(line)

        my_list.append(value)
        
print(my_list)

99.4
98.5
99.o

ValueError: could not convert string to float: '99.o\n'

In [126]:
filename = 'for_ex7_data3.txt'
my_list = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        try:
            value = float(line)
        except:
            print('Cannot convert:', line.strip())
            continue
        
        my_list.append(value)
        
print(my_list)

Cannot convert: 99.o
Cannot convert: AAB
Cannot convert: 9A.00
[99.4, 98.5, 78.34, 43.34, 34.0, 99.0]

In [134]:
filename = 'for_ex7_data3.txt'

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        try:
            value = float(line)
            my_list.append(value)
        except Exception as error:
            print('Cannot convert:', line.strip())
            print(error)
            continue
        
        
        
print(my_list)

Cannot convert: 99.4
name 'my_list' is not defined
Cannot convert: 98.5
name 'my_list' is not defined
Cannot convert: 99.o
could not convert string to float: '99.o\n'
Cannot convert: 78.34
name 'my_list' is not defined
Cannot convert: 43.34
name 'my_list' is not defined
Cannot convert: 34
name 'my_list' is not defined
Cannot convert: 99
name 'my_list' is not defined
Cannot convert: AAB
could not convert string to float: 'AAB\n'
Cannot convert: 9A.00
could not convert string to float: '9A.00\n'

NameError: name 'my_list' is not defined

In [147]:
# Write a function simulates a coin toss
# Input: number of simulation
# Output: a string that concatenates the results, ex. ‘HHHTTTHTHTHT’

import random
random.seed(1234)

for _ in range(10):
    print(random.randint(1, 100))

100
57
15
1
12
75
5
86
89
11

In [149]:
def sim_toss(no_sim):
    import random
    random.seed(0)
    string = ''
    for _ in range(no_sim):
        cs = random.randint(0,1)
        if cs == 1:
            cs = 'H'
        elif cs == 0:
            cs = 'T'
            
        string += cs
        
    return string

In [151]:
sim_toss(100)

'HHTHHHHHHTTHTTHTHTTHHTHHHTHHHTTTHTHHTHTTTTTHTTHHTHHTHTHHTHHTHTTTTHHTTTTTTHHTTHHHHHTHTHHTTTHTTHTHHTTT'

In [152]:
# Write a function that uses the output from the coin_toss 
# function and calculates the probability of H and T 
# Input: number of simulation Output: probability of H and T

def calc_prob(no_sim):
    result = sim_toss(no_sim)
    head = result.count('H')
    tail = result.count('T')
            
    return (head/len(result), tail/len(result))

calc_prob(10)

(0.8, 0.2)

In [159]:
calc_prob(95)

(0.5052631578947369, 0.49473684210526314)

In [160]:
line = 'student1,93,78,82,83,65,23,34,87'
line.split(',')

['student1', '93', '78', '82', '83', '65', '23', '34', '87']

In [161]:
line.split()

['student1,93,78,82,83,65,23,34,87']

In [164]:
x = 'abc efg      kjk \tas\tdf'
x.split()

['abc', 'efg', 'kjk', 'as', 'df']

In [165]:
x.split('\t')

['abc efg      kjk ', 'as', 'df']

In [180]:
filename = 'for_ex11_data.txt'
with open(filename) as file:
    for line in file:
        name, *grade = line.strip().split(',')
        grades = []
        for g in grade:
            grades.append(int(g))
        print(name, sum(grades)/len(grades))

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [175]:
a, *b = 1, 2, 3 , 4

In [176]:
print(a, b)

1 [2, 3, 4]

In [177]:
my_string = '111-22-3333, Doe, John'
my_string.split(',')

['111-22-3333', ' Doe', ' John']

In [178]:
my_string.split(',', 1)

['111-22-3333', ' Doe, John']

In [179]:
my_string.split(', ', 1)

['111-22-3333', 'Doe, John']

In [181]:
a, b, *c = 1, 2, 3 , 4
print(a, b, c)

1 2 [3, 4]

In [186]:
## Write a program that takes integers from the user and returns the average. 
# Use a while loop and make an empty string the stop criteria.

values = []

value = input('Please enter a number: ')
while value:
    values.append(value)
    value = input('Please enter a number: ')
    
print(values)

Please enter a number:
[]

In [187]:
number = int(input('Enter a starting number: '))

while number >= 0:
    print(number)
    number -= 1

Enter a starting number: 10
10
9
8
7
6
5
4
3
2
1
0

In [188]:
end_number = int(input('Enter an integer number: '))
current_number = 0
while current_number <= end_number:
    if current_number % 2 == 0:
        print(current_number)
    current_number += 1

Enter an integer number: 20
0
2
4
6
8
10
12
14
16
18
20

In [191]:
def modify_loop_ex1(n):
    for number in range(n):
        if number % 5 == 0:
            continue

        print(number)

In [192]:
modify_loop_ex1(50)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [199]:
def modify_loop_ex1(n):
    for number in range(1, n):
        
        if number % 5 == 0:
            print('Multiple of 5', number)
        elif number % 7 == 0:
            print('Multiple of 7', number)
        elif number % 5 == 0 and number % 7 == 0:
            print('Multiple of 5,7', number)
        else:
            print(number)

In [200]:
modify_loop_ex1(100)

1
2
3
4
Multiple of 5 5
6
Multiple of 7 7
8
9
Multiple of 5 10
11
12
13
Multiple of 7 14
Multiple of 5 15
16
17
18
19
Multiple of 5 20
Multiple of 7 21
22
23
24
Multiple of 5 25
26
27
Multiple of 7 28
29
Multiple of 5 30
31
32
33
34
Multiple of 5 35
36
37
38
39
Multiple of 5 40
41
Multiple of 7 42
43
44
Multiple of 5 45
46
47
48
Multiple of 7 49
Multiple of 5 50
51
52
53
54
Multiple of 5 55
Multiple of 7 56
57
58
59
Multiple of 5 60
61
62
Multiple of 7 63
64
Multiple of 5 65
66
67
68
69
Multiple of 5 70
71
72
73
74
Multiple of 5 75
76
Multiple of 7 77
78
79
Multiple of 5 80
81
82
83
Multiple of 7 84
Multiple of 5 85
86
87
88
89
Multiple of 5 90
Multiple of 7 91
92
93
94
Multiple of 5 95
96
97
Multiple of 7 98
99

In [201]:
def modify_loop_ex2(n):

    iteration_count = 0
    number = 1
    while number <= n:

        if number == 50:
            break

        print(number)
        number += 1
        iteration_count += 1

In [202]:
modify_loop_ex2(10000)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49