In [3]:
(5 != True)

True

In [4]:
(3 < 5)

True

In [5]:
3 < 5 != True

True

In [7]:
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [8]:
my_list[1] = 'EAS503'

In [9]:
my_list

[1, 'EAS503', 3]

In [10]:
my_tuple = (1, 2, 3)
print(my_tuple)

(1, 2, 3)

In [11]:
my_tuple[1] = 'ABC'

TypeError: 'tuple' object does not support item assignment

In [12]:
my_tuple2 = (1, [1, 2], 3)
print(my_tuple2)

(1, [1, 2], 3)

In [15]:
my_tuple2[1][1] = 'ABC'
print(my_tuple2)

(1, [1, 'ABC'], 3)

In [16]:
my_tuple2[1] = 'ABC'

TypeError: 'tuple' object does not support item assignment

In [17]:
my_list = [1, 100, 50]

In [18]:
len(my_list)

3

In [19]:
len(my_list) == 3

True

In [20]:
max(my_list)

100

In [21]:
min(my_list)

1

In [22]:
my_list = ['a', 1, 2.5]
max(my_list)

TypeError: '>' not supported between instances of 'int' and 'str'

In [23]:
my_list = [1.1, 2, 3.14]

max(my_list)

3.14

In [24]:
my_list = ['a', 'b', 'Z']
min(my_list)

'Z'

In [26]:
my_list = [1.1, 2, 3.14]

In [27]:
sum(my_list)

6.24

In [28]:
sorted(my_list)

[1.1, 2, 3.14]

In [29]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [30]:
sorted(my_list, reverse=False)

[1.1, 2, 3.14]

In [31]:
sorted(my_list, reverse=True)

[3.14, 2, 1.1]

In [32]:
my_list = [1, True, 3.14, 'eas503']
any(my_list)

True

In [33]:
my_list = [1, True, 3.14, 0]
any(my_list)

True

In [34]:
my_list = [False, 0.0, [], (), 0, None]
any(my_list)

False

In [35]:
all(my_list)

False

In [36]:
my_list = [1, True, 3.14, 0]
all(my_list)

False

In [37]:
my_string = 'eas503'
print(my_string.upper())

EAS503

In [39]:
print(my_string.title())

Eas503

In [40]:
grades = ['A', 'B', 'C']
grades.append('D')
grades.insert(4, 'F')
grades.remove(2)
grades.pop()
grades.index('C')
grades.count() # len(grades)
grades.sort()
grades.reverse()

ValueError: list.remove(x): x not in list

In [41]:
grades = ['A', 'B', 'C']
grades.append('D')

In [42]:
grades

['A', 'B', 'C', 'D']

In [43]:
grades.insert(2, 'F')

In [44]:
grades

['A', 'B', 'F', 'C', 'D']

In [46]:
grades = ['A', 'B', 'C']
grades.append('D')
grades.insert(4, 'F')
grades

['A', 'B', 'C', 'D', 'F']

In [47]:
grades.remove(2)

ValueError: list.remove(x): x not in list

In [48]:
grades.remove('C')

In [49]:
grades

['A', 'B', 'D', 'F']

In [53]:
grades = ['A', 'B', 'C']
grades.append('D')
grades.append('D')
grades

['A', 'B', 'C', 'D', 'D']

In [54]:
grades.remove('D')
grades

['A', 'B', 'C', 'D']

In [55]:
last_ele = grades.pop()

In [56]:
last_ele

'D'

In [57]:
grades

['A', 'B', 'C']

In [58]:
grades.pop()

'C'

In [59]:
grades

['A', 'B']

In [60]:
_

['A', 'B']

In [61]:
grades.index('C')

ValueError: 'C' is not in list

In [62]:
grades = ['A', 'B', 'C']
grades.index('C')

2

In [63]:
grades

['A', 'B', 'C']

In [64]:
grades.count('C')

1

In [65]:
grades.append('C')
grades.count('C')

2

In [66]:
grades

['A', 'B', 'C', 'C']

In [67]:
grades = ['F', 'B', 'A', 'C']
sorted(grades)

['A', 'B', 'C', 'F']

In [68]:
grades

['F', 'B', 'A', 'C']

In [69]:
sorted_grades = sorted(grades)

In [70]:
sorted_grades

['A', 'B', 'C', 'F']

In [71]:
grades

['F', 'B', 'A', 'C']

In [72]:
grades.sort()

In [73]:
grades

['A', 'B', 'C', 'F']

In [74]:
val = grades.sort()

In [75]:
val

In [76]:
type(val)

NoneType

In [77]:
grades.reverse()

In [78]:
grades

['F', 'C', 'B', 'A']

In [79]:
a, b = [3, 4]

In [80]:
a

3

In [81]:
b

4

In [82]:
a, b = [3, 4, 5, 6, 7]

ValueError: too many values to unpack (expected 2)

In [84]:
a, b, *tmp = [3, 4, 5, 6, 7]

In [85]:
a

3

In [86]:
b

4

In [87]:
tmp

[5, 6, 7]

In [88]:
a, b, *_ = [3, 4, 5, 6, 7]

In [89]:
range(start:stop:step) # [start:step:stop)

SyntaxError: invalid syntax (Temp/ipykernel_15544/4034451855.py, line 1)

In [90]:
range(5)

range(0, 5)

In [91]:
x = range(5)

In [92]:
print(x)

range(0, 5)

In [93]:
my_range = range(5)
for number in my_range:
    print(number)

0
1
2
3
4

In [94]:
for number in my_range:
    print(number)

0
1
2
3
4

In [95]:
for number in my_range:
    print(number)

0
1
2
3
4

In [96]:
 my_range

range(0, 5)

In [97]:
my_range_list = list(my_range)

In [98]:
my_range_list

[0, 1, 2, 3, 4]

In [99]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [100]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [101]:
for ele in values:
    print(ele)

4
10
3
8
-6

In [102]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    if i != 1:
        print(i, values[i])

0 4
2 3
3 8
4 -6

In [104]:
for idx, ele in enumerate(values):
    print(idx, ele)

0 4
1 10
2 3
3 8
4 -6

In [105]:
for idx, ele in enumerate(values):
    if idx != 1:
        print(idx, ele)

0 4
2 3
3 8
4 -6

In [106]:
for idx, ele in enumerate(values):
    print(idx+1, ele)

1 4
2 10
3 3
4 8
5 -6

In [107]:
for idx, ele in enumerate(values, 1):
    print(idx, ele)

1 4
2 10
3 3
4 8
5 -6

In [108]:
for idx, ele in enumerate(values, 100):
    print(idx, ele)

100 4
101 10
102 3
103 8
104 -6

In [109]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [110]:
values

[8, 20, 6, 16, -12]

In [111]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [115]:
metals_weights = zip(metals, weights)
for metal, weight in metals_weights:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [116]:
for metal, weight in metals_weights:
    print(metal, weight)

In [117]:
for ele in []:
    print(ele)

In [118]:
my_zip = zip(metals, weights)
print(my_zip)

<zip object at 0x00000147A95214C0>

In [119]:
my_zip_list = list(my_zip)

In [121]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
my_zip_list

[('Li', 6.941), ('Na', 22.98976928), ('K', 39.0983)]

In [122]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983,]

print(list(zip(metals, weights)))

[('Li', 6.941), ('Na', 22.98976928), ('K', 39.0983)]

In [123]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983, 1]

print(list(zip(metals, weights)))

[('Li', 6.941), ('Na', 22.98976928), ('K', 39.0983), ('H', 1)]

In [124]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983, 1]

print(list(zip(metals, weights.reverse())))

TypeError: 'NoneType' object is not iterable

In [126]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983, 1]

print(list(zip(metals, sorted(weights, reverse=False))))

[('Li', 1), ('Na', 6.941), ('K', 22.98976928), ('H', 39.0983)]

In [128]:
a = [1, 2, 3]
b = [11, 22, 33]
c = [111, 222, 333]
sequence = list(zip(a, b, c))
print(sequence)

[(1, 11, 111), (2, 22, 222), (3, 33, 333)]

In [129]:
for ele in sequence:
    print(ele)

(1, 11, 111)
(2, 22, 222)
(3, 33, 333)

In [130]:
for a, b, c in sequence:
    print(a, b, c)

1 11 111
2 22 222
3 33 333

In [131]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [132]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [133]:
###############################################################
# for_ex1.py
# Write a function that takes in a list of values and returns its sum

def ex1(my_list):
    return sum(my_list)

my_list = [1, 2, 3]
ex1(my_list)

6

In [134]:
###############################################################
# for_ex2.py
# Write a function that takes in a list of values and returns its average

def ex2(my_list):
    return sum(my_list)/len(my_list)

my_list = [1, 2, 3]
ex2(my_list)

2.0

In [138]:
def ex4(my_list):
    for idx in range(len(my_list)):
        my_list[idx] = my_list[idx] * 2
    return my_list

my_list = [1, 2, 3]
ex4(my_list)

[2, 4, 6]

In [139]:
##################################################################
# for_ex5.py
# Write a pow() function that computes the power of each element in a list

def ex5(my_list, power):
    for idx in range(len(my_list)):
        my_list[idx] = my_list[idx] ** power
    return my_list

my_list = [1, 2, 3]
ex5(my_list, 2)

[1, 4, 9]

In [140]:
ex5(my_list, 3)

[1, 64, 729]

In [141]:
##################################################################
# for_ex6.py
# Write a function to remove duplicate from a list

my_list = [1, 2, 3, 3, 5, 5, 5, 4]

def remove_duplicate(input):
    
    output = []
    for ele in input:
        if ele not in output:
            output.append(ele)
    return output

remove_duplicate(my_list)

[1, 2, 3, 5, 4]

In [142]:
##################################################################
# for_ex7.py
# Write a function that reads grades from an input file and calculates their average
# input: filename
# use: for_ex7_data1.txt
# use: for_ex7_data2.txt
# use: for_ex7_data3.txt
# use a list to read the values in to and then use sum and len to calclate average.
# Be careful about empty rows!
# Be careful about non-numbers!
filename = 'for_ex7_data1.txt'
with open(filename, 'r') as file:
    for line in file:
        print(line)

80

90

78

56

90

In [145]:
my_file = open(filename, 'r')

my_file.read()

'80\n90\n78\n56\n90'

In [146]:
my_file = open(filename, 'r')
my_file.readlines()

['80\n', '90\n', '78\n', '56\n', '90']

In [147]:
filename = 'for_ex7_data1.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        grades.append(line)
        
print(grades)

['80\n', '90\n', '78\n', '56\n', '90']

In [150]:
filename = 'for_ex7_data1.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        grades.append(int(line))
        
average = sum(grades)/len(grades)
print(average)

78.8

In [153]:
x = '\n'
int(x)

ValueError: invalid literal for int() with base 10: '\n'

In [154]:
1000 == 1000.0

True

In [163]:
filename = 'for_ex7_data2.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): ## check if stripped line is empty. if it is empty, then skip this line
            continue
            
        grades.append(int(line.strip()))
average = sum(grades)/len(grades)
print(average)

64.42857142857143

In [164]:
x = '123'
x.isdigit()

True

In [165]:
x.isalpha()

False

In [166]:
x.isalnum()

True

In [167]:
'ABC'.isalpha()

True

In [168]:
filename = 'for_ex7_data3.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): ## check if stripped line is empty. if it is empty, then skip this line
            continue
        
        if line.strip().isalpha():
            continue
            
        grades.append(float(line.strip()))
average = sum(grades)/len(grades)
print(average)

ValueError: could not convert string to float: '99.o'

In [169]:
x = '3.14'
x.isalpha()

False

In [170]:
x.isnumeric()

False

In [171]:
x.isdigit()

False

In [173]:
filename = 'for_ex7_data3.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): ## check if stripped line is empty. if it is empty, then skip this line
            continue
        
        try:
            float_value = float(line.strip())
        except:
            continue
        
        
        grades.append(float(line.strip()))
        
        
        
grades

[99.4, 98.5, 78.34, 43.34, 34.0, 99.0]

In [174]:
average = sum(grades)/len(grades)
print(average)

75.43

In [176]:
filename = 'for_ex7_data3.txt'
grades = []
bad_lines = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): ## check if stripped line is empty. if it is empty, then skip this line
            continue
        
        try:
            float_value = float(line.strip())
        except:
            bad_lines.append(line.strip())
            continue
        
        
        grades.append(float(line.strip()))
        
        
        
print(grades)
print(bad_lines)

[99.4, 98.5, 78.34, 43.34, 34.0, 99.0]
['99.o', 'AAB', '9A.00']

In [197]:
##################################################################
# for_ex8.py
# Write a function simulates a coin toss
# Input: number of simulation
# Output: a string that concatenates the results, ex. 'HHHTTTHTHTHT'

import random
seed = 1234
def ex8(no_sim):
    random.seed(seed)
    output = ''
    for ele in range(no_sim):
        toss = random.randint(0, 1)
        if toss == 0:
            toss = 'H'
        else:
            toss = 'T'
        
        output += toss
        
    return output

In [198]:
ex8(5)

'THHHH'

In [199]:
import random
seed = 1234
def ex8(no_sim):
    choices = ['H', 'T']
    random.seed(seed)
    output = ''
    for ele in range(no_sim):
        toss = random.choice(choices)
        output += toss
        
    return output

In [200]:
ex8(5)

'THHHH'

In [209]:
def ex9(no_sim):
    result = ex8(no_sim)
    str_len = len(result)
    H = result.count('H')
    # T = result.count('T')
    tmp = H/str_len
    print(tmp, (1-tmp))

In [210]:
ex9(10)

0.8 0.19999999999999996

In [211]:
ex9(100)

0.55 0.44999999999999996

In [212]:
ex9(1000)

0.474 0.526

In [213]:
ex9(10000)

0.5051 0.4949

In [214]:
ex9(100000)

0.50033 0.49966999999999995

In [215]:
ex9(1000000)

0.499963 0.5000370000000001

In [216]:
x = 'student1,93,78,82,83,65,23,34,87'
list(x)

['s',
 't',
 'u',
 'd',
 'e',
 'n',
 't',
 '1',
 ',',
 '9',
 '3',
 ',',
 '7',
 '8',
 ',',
 '8',
 '2',
 ',',
 '8',
 '3',
 ',',
 '6',
 '5',
 ',',
 '2',
 '3',
 ',',
 '3',
 '4',
 ',',
 '8',
 '7']

In [222]:
def ex11():
    filename = 'for_ex11_data.txt'
    with open(filename, 'r') as file:
        for line in file:
            if not line.strip():
                continue
            
            student_name, *grades = line.strip().split(',')
            
            for idx in range(len(grades)):
                grades[idx] = int(grades[idx])
            
            print(student_name, round(sum(grades)/len(grades), 2))

In [223]:
ex11()

student1 68.12
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [219]:
grades = ['93', '78', '82', '83', '65', '23', '34', '87']

int(grades)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [225]:
# Ex1
# Write a function that prints from 1 to n using a for loop, it should skip every
# multiple of 5

def ex1(n):
    for idx in range(1, n+1):
        if idx % 5 == 0:
            continue
        print(idx)

In [227]:
ex1(10)

1
2
3
4
6
7
8
9

In [229]:
# Ex1
# Write a function that prints from 1 to n using a for loop, it should skip every
# multiple of 5

def ex11(n):
    for idx in range(1, n+1):
        if idx % 5 == 0 and idx % 7 == 0:
            print(idx, '57')
        elif idx % 5 == 0:
            print(idx, '5')
        elif idx % 7 == 0:
            print(idx, '7')

In [230]:
ex11(100)

5 5
7 7
10 5
14 7
15 5
20 5
21 7
25 5
28 7
30 5
35 57
40 5
42 7
45 5
49 7
50 5
55 5
56 7
60 5
63 7
65 5
70 57
75 5
77 7
80 5
84 7
85 5
90 5
91 7
95 5
98 7
100 5

In [234]:
# while_ex1
# Write a program that takes integers from the user and returns the average
# Use a while loop and make an empty string the stop criteria.


def while_ex1():
    value = input('Input a number or an empty string to stop: ')
    val_list = []
    while value:
        val_list.append(int(value))
        value = input('Input a number or an empty string to stop: ')
     
    if val_list:
        average = sum(val_list)/len(val_list)
        print(average)
    else:
        print('No values entered')

In [235]:
while_ex1()

Input a number or an empty string to stop:
No values entered

In [236]:
while_ex1()

Input a number or an empty string to stop: 10
Input a number or an empty string to stop: 20
Input a number or an empty string to stop: 30
Input a number or an empty string to stop:
20.0

In [238]:
def while_ex2():
    value = input('Input a number or -1 to stop: ')
    val_list = []
    while value:
        value = int(value)
        if value < 0:
            break
            
        val_list.append(value)
        value = input('Input a number or -1 to stop: ')
     
    if val_list:
        average = sum(val_list)/len(val_list)
        print(average)
    else:
        print('No values entered')

In [239]:
while_ex2()

Input a number or -1 to stop: 10
Input a number or -1 to stop: 11
Input a number or -1 to stop: 12
Input a number or -1 to stop: 13
Input a number or -1 to stop: -1
11.5

In [240]:
def while4(n):
    
    while n:
        print(n)
        n -= 1

In [241]:
while4(10)

10
9
8
7
6
5
4
3
2
1

In [244]:
mrn = 1234
print(f'{mrn:0<6}')

123400

In [246]:
mrn = 1234
print(f'{mrn:0>6}')

001234

In [253]:
mrn = 1234
print(f'{mrn:12}')

        1234

In [248]:
mrn = 1234
print(f'{mrn:6}')

  1234

In [252]:
string = '1234'
print(f'{string:-<6}')

1234--

In [255]:
x = 3.14150

round(x,5)

3.1415

In [256]:
f'{x:.5f}'

'3.14150'

In [257]:
f'{x:13-.4f}'

'       3.1415'