In [4]:
{ num: num*num if num % 2 == 0 else num**3 for num in range(1, 21) }

{1: 1,
 2: 4,
 3: 27,
 4: 16,
 5: 125,
 6: 36,
 7: 343,
 8: 64,
 9: 729,
 10: 100,
 11: 1331,
 12: 144,
 13: 2197,
 14: 196,
 15: 3375,
 16: 256,
 17: 4913,
 18: 324,
 19: 6859,
 20: 400}

In [6]:
{ year: 'Leap' if year % 4 == 0 else 'Not Leap'  for year in range(1901, 2001) }

{1901: 'Not Leap',
 1902: 'Not Leap',
 1903: 'Not Leap',
 1904: 'Leap',
 1905: 'Not Leap',
 1906: 'Not Leap',
 1907: 'Not Leap',
 1908: 'Leap',
 1909: 'Not Leap',
 1910: 'Not Leap',
 1911: 'Not Leap',
 1912: 'Leap',
 1913: 'Not Leap',
 1914: 'Not Leap',
 1915: 'Not Leap',
 1916: 'Leap',
 1917: 'Not Leap',
 1918: 'Not Leap',
 1919: 'Not Leap',
 1920: 'Leap',
 1921: 'Not Leap',
 1922: 'Not Leap',
 1923: 'Not Leap',
 1924: 'Leap',
 1925: 'Not Leap',
 1926: 'Not Leap',
 1927: 'Not Leap',
 1928: 'Leap',
 1929: 'Not Leap',
 1930: 'Not Leap',
 1931: 'Not Leap',
 1932: 'Leap',
 1933: 'Not Leap',
 1934: 'Not Leap',
 1935: 'Not Leap',
 1936: 'Leap',
 1937: 'Not Leap',
 1938: 'Not Leap',
 1939: 'Not Leap',
 1940: 'Leap',
 1941: 'Not Leap',
 1942: 'Not Leap',
 1943: 'Not Leap',
 1944: 'Leap',
 1945: 'Not Leap',
 1946: 'Not Leap',
 1947: 'Not Leap',
 1948: 'Leap',
 1949: 'Not Leap',
 1950: 'Not Leap',
 1951: 'Not Leap',
 1952: 'Leap',
 1953: 'Not Leap',
 1954: 'Not Leap',
 1955: 'Not Leap',
 1956: 'Leap',
 1957: 'Not Leap',
 1958: 'Not Leap',
 1959: 'Not Leap',
 1960: 'Leap',
 1961: 'Not Leap',
 1962: 'Not Leap',
 1963: 'Not Leap',
 1964: 'Leap',
 1965: 'Not Leap',
 1966: 'Not Leap',
 1967: 'Not Leap',
 1968: 'Leap',
 1969: 'Not Leap',
 1970: 'Not Leap',
 1971: 'Not Leap',
 1972: 'Leap',
 1973: 'Not Leap',
 1974: 'Not Leap',
 1975: 'Not Leap',
 1976: 'Leap',
 1977: 'Not Leap',
 1978: 'Not Leap',
 1979: 'Not Leap',
 1980: 'Leap',
 1981: 'Not Leap',
 1982: 'Not Leap',
 1983: 'Not Leap',
 1984: 'Leap',
 1985: 'Not Leap',
 1986: 'Not Leap',
 1987: 'Not Leap',
 1988: 'Leap',
 1989: 'Not Leap',
 1990: 'Not Leap',
 1991: 'Not Leap',
 1992: 'Leap',
 1993: 'Not Leap',
 1994: 'Not Leap',
 1995: 'Not Leap',
 1996: 'Leap',
 1997: 'Not Leap',
 1998: 'Not Leap',
 1999: 'Not Leap',
 2000: 'Leap'}

In [ ]:
# Professor, keys cannot be mutable but you are
# taking list as key when comprehending, does this work?

In [ ]:
ele in list # O(N)
ele in tuple # O(N)
ele in dict # O(1)
ele in set # O(1)

In [7]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
A - B

{0, 6, 8}

In [8]:
B - A

{1, 3, 5}

In [9]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B < A

True

In [10]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B <= A

True

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4}
B <= A

In [11]:
A = {1, 2, 3, 4, 5}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6}

In [12]:
A.add(1)

In [13]:
A

{1, 2, 3, 4, 5, 6}

In [14]:
majors = ['Bio', 'Chem', 'Phys', 'Eco', 'Mth', 'Mth']

set(majors)

{'Bio', 'Chem', 'Eco', 'Mth', 'Phys'}

In [15]:
list(set(majors))

['Eco', 'Chem', 'Bio', 'Phys', 'Mth']

In [ ]:
#mrn,admission,discharge

mrns = set()
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
        
        line = line.split(',')
        mrns.add(line[0])

In [16]:
A = {1, 2, 3, 4, 5}
A.remove(1)
print(A)
A.remove('P')

{2, 3, 4, 5}

KeyError: 'P'

In [17]:
A = {1, 2, 3, 4, 5}
A.pop()

1

In [18]:
d1 = dict(a=1, b=2, c=3, d=4)
d2 = dict(b=20, d=40, e=50)

In [19]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [20]:
d2

{'b': 20, 'd': 40, 'e': 50}

In [28]:
#student_name, studentid, exam1, exam2, exam3

d1 = dict(student_name='John', exam1=20, exam2=30, exam3=40)
d2 = dict(student_name='Jane', exam1=15, exam2=36, exam3=52)
d3 = dict(student_name='Jane', student_id='Bio', admission_year=2023)

exams = {'exam1', 'exam2', 'exam3'}

In [30]:
len(d1.keys() & exams)

3

In [31]:
len(d2.keys() & exams)

3

In [32]:
len(d3.keys() & exams)

0

In [33]:
d3.keys() && exams

SyntaxError: invalid syntax (3004467664.py, line 1)

In [34]:
for ele in A:
    print(ele)

2
3
4
5

In [35]:
{ele for ele in range(20)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [36]:
def x2(x):
    return x * x

x2(4)

16

In [37]:
lambda_x2 = lambda ele: ele * ele

lambda_x2(4)

16

In [38]:
add = lambda a,b: a + b

add(1, 2)

3

In [39]:
func = lambda a, b: a * b
def lambda_test(function, number1, number2):
    return function(number1, number2)
print(lambda_test(func, 3, 4))

12

In [40]:
my_list = [2, 3, 4]

# double this list

# method 1 - define a square function

def square_list(my_list):
    new_list = []
    for ele in my_list:
        new_list.append(ele * ele)

    return new_list

print(square_list(my_list))

[4, 9, 16]

In [41]:
# method 2 - list comprehension

print([ele*ele for ele in my_list])

[4, 9, 16]

In [46]:
# 
new_list = list(map(lambda ele: ele * ele, my_list))
print(new_list)

[4, 9, 16]

In [48]:
x = ['1', '2', '3', '4']

sum(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
sum(map(int, x))

10

In [51]:
sum(map(float, x))

10.0

In [53]:
def x2(ele):
    return ele * ele

sum(map(x2, map(int, x)))

30

In [ ]:
# three ways of giving a function map
# 1) predefined -- int, float, str
# 2) define a named function -- x2()
# 3) use a lambda function

In [54]:
print(sum(map(int, x))) # 1

def our_int(ele): #2 
    return int(ele) 

print(sum(map(our_int, x)))

10
10

In [57]:
y = 2
print(sum(map(lambda ele: int(ele) + y, x)))

18

In [58]:
x = [1, 2, 3]
y = [3, 4, 5]

print(list(map(lambda e1, e2: e1 * e2, x, y )))

[3, 8, 15]

In [59]:
list(map(lambda ele: f'The value is {ele}', x))

['The value is 1', 'The value is 2', 'The value is 3']

In [60]:
print(list(map(lambda x, y: x * y, x, y )))

[3, 8, 15]

In [61]:
[f'The value is {ele}'for ele in x]

['The value is 1', 'The value is 2', 'The value is 3']

In [ ]:
students = ['john', 'jane', 'doe']

In [62]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

print(list(map(lambda ele: {'Value': float(ele['value'])}, my_dict)))

[{'Value': 34.4}, {'Value': 45.3}, {'Value': 73.4}]

In [65]:
sum(map(lambda ele: float(ele.get('value')), my_dict))

153.1

In [66]:
years = range(1970, 2000) # for these years



def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

my_dict = {}
leap_years = []
for year in years:
    my_dict.update({year: is_leap_year(year)})
    if is_leap_year(year):
        leap_years.append(year)
        
print(my_dict)

{1970: False, 1971: False, 1972: True, 1973: False, 1974: False, 1975: False, 1976: True, 1977: False, 1978: False, 1979: False, 1980: True, 1981: False, 1982: False, 1983: False, 1984: True, 1985: False, 1986: False, 1987: False, 1988: True, 1989: False, 1990: False, 1991: False, 1992: True, 1993: False, 1994: False, 1995: False, 1996: True, 1997: False, 1998: False, 1999: False}

In [67]:
print(leap_years)

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [69]:
print(list(map(lambda year: {year: is_leap_year(year)}, years)))

[{1970: False}, {1971: False}, {1972: True}, {1973: False}, {1974: False}, {1975: False}, {1976: True}, {1977: False}, {1978: False}, {1979: False}, {1980: True}, {1981: False}, {1982: False}, {1983: False}, {1984: True}, {1985: False}, {1986: False}, {1987: False}, {1988: True}, {1989: False}, {1990: False}, {1991: False}, {1992: True}, {1993: False}, {1994: False}, {1995: False}, {1996: True}, {1997: False}, {1998: False}, {1999: False}]

In [71]:
leap_year_lambda = lambda year: year % 4 == 0 

list(filter(leap_year_lambda, range(1970, 2000)))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [72]:
list(filter(lambda year: year % 4 == 0 , range(1970, 2000)))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [73]:
list(filter(lambda year: True , range(1970, 2000)))

[1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999]

In [74]:
ages = [13, 14, 18, 19, 20, 35]

list(filter(lambda ele: ele < 40, ages))

[13, 14, 18, 19, 20, 35]

In [75]:
x = (
    ('efg', 1), 
    ('abc', 3), 
    ('hij', 2)
)

In [76]:
sorted(x)

[('abc', 3), ('efg', 1), ('hij', 2)]

In [77]:
print(sorted(x, key=lambda ele: ele[1]))

[('efg', 1), ('hij', 2), ('abc', 3)]

In [78]:
x = (
    ('efg', 1, '5'), 
    ('abc', 3, '212'), 
    ('hij', 2, '1000')
)
print(sorted(x, key=lambda ele: ele[2]))

[('hij', 2, '1000'), ('abc', 3, '212'), ('efg', 1, '5')]

In [79]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

print(sorted(students, key=lambda student: student['username']))

[{'grade': 89, 'username': 'Kelly'}, {'username': 'doe', 'grade': 35}, {'username': 'jane', 'grade': 80}, {'username': 'john', 'grade': 50}]

In [80]:
print(sorted(students, key=lambda student: student['username'], reverse=True))

[{'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'username': 'doe', 'grade': 35}, {'grade': 89, 'username': 'Kelly'}]

In [81]:
students = ['john', 'Janette', 'doe']

sorted(students)

['Janette', 'doe', 'john']

In [82]:
sorted(students, key=lambda ele: len(ele))

['doe', 'john', 'Janette']

In [83]:
min(students)

'Janette'

In [84]:
min(students, key=lambda ele: len(ele))

'doe'

In [86]:
students = ['john', 'Janette', 'tom', 'doe']
min(students, key=lambda ele: len(ele))

'tom'

In [87]:
max(students, key=lambda student: len(student))

'Janette'

In [88]:
my_list = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]
print(max(my_list, key=lambda ele: float(ele['value'])))

{'value': '73.4'}

In [89]:
sorted(students, key=lambda ele: len(ele), reverse=True)

['Janette', 'john', 'tom', 'doe']

In [91]:
value = '1.1.1'

try:
    value = float(line)
except:
    print('no')

no

In [92]:
def func(()):
    pass

SyntaxError: invalid syntax (1337827577.py, line 1)

In [ ]:
# pass
# continue
# break

if x > 1:
    print(x)
else:
    pass # TODO

In [93]:
for index in some_list
    print(index)

SyntaxError: invalid syntax (2246135109.py, line 1)

In [94]:
def func():
    print(variable)

In [95]:
func()

NameError: name 'variable' is not defined

In [96]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In [97]:
int('3')

3

In [98]:
int('3a')

ValueError: invalid literal for int() with base 10: '3a'

In [99]:
student = {'username': 'john', 'grade': 50}
student['class']

KeyError: 'class'

In [101]:
if 'class' in student:
    print(student['class'])

In [102]:
print(student.get('class'))

None

In [103]:
print(student.get('class', 'Missing'))

Missing

In [104]:
string = 'test1234'
string.upper()

'TEST1234'

In [105]:
string = 'test1234'
string.Upper()

AttributeError: 'str' object has no attribute 'Upper'

In [106]:
x = [1,2,3]
x.upper()

AttributeError: 'list' object has no attribute 'upper'

In [107]:
raise ValueError('a message')

ValueError: a message

In [108]:
raise ValueError

ValueError:

In [109]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 720 * weight / height**2

In [113]:
calculate_bmi(-66, 170)

ValueError: Height cannot be less than or equal to 0

In [ ]:
if type(height) != float and type(height) != int # --> type(height) not in [float, int]

In [8]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2

while True:
    try:
        height = float(input('Please enter height: '))
        weight = float(input('Please enter weight: '))
    except Exception as error:
        print(error)
        print('Please enter a number')
    else:
        print('I run when there is no error')
        break
    finally:
        print('I always run!')

print(calculate_bmi(height, weight))

Please enter height: 10
Please enter weight: 10
I run when there is no error
I always run!
70.3

In [6]:
try:
    height = float(input('Please enter height: '))
    weight = float(input('Please enter weight: '))
except Exception as error:
    print(error)
    print('Please enter a number')
else:
    print('I run when there is no error')
finally:
    print('I always run!')

Please enter height: a
could not convert string to float: 'a'
Please enter a number
I always run!

In [4]:
try:
    height = float(input('Please enter height: '))
except:
    print('error')

Please enter height: a
error

In [9]:
student = {'username': 'john', 'grade': 50}

def get_key(some_dict, key, default_value=None):
    try:
        return some_dict[key]
    except KeyError:
        return default_value

In [12]:
print(get_key(student, 'username'))

john

In [13]:
print(get_key(student, 'userme', 'Missing'))

Missing

In [14]:
filename = 'abcd.txt'
try: 
    file = open(filename) 
except OSError: 
    print('OS error') 
except FileNotFoundError: 
    print('File not found')

OS error

In [15]:
filename = 'abcd.txt'
try: 
    file = open(filename) 
except FileNotFoundError: 
    print('File not found') 
except OSError: 
    print('OS error')

File not found

In [18]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)

func(1, 2)

1 2 0 0

In [19]:
func(eggs=2, spam=1)

1 2 0 0

In [20]:
func(1)

TypeError: func() missing 1 required positional argument: 'eggs'

In [24]:
func_input = {
    'eggs': 2,
    'spam': 1
}
func(**func_input) # --> eggs=2, spam=1

1 2 0 0

In [27]:
x = [1, 2, 3, 4]
a, *b = x
print(a, b)

1 [2, 3, 4]

In [29]:
def f(a, *args, **kwargs): 
    print(a, args, kwargs)

f(1, 2, 3, x=1, y=2)

# a = 1
# args = (2, 3)
# kwargs = {'x': 1, 'y': 2}

1 (2, 3) {'x': 1, 'y': 2}

In [30]:
f_dict = {
    'a': 1,
    'b': 2, # --> b=2
    'c': 3 # --> c=3
}
f(**f_dict)
# a = 1
# args = ()
# kwargs = {'b':2, 'c':3}

1 () {'b': 2, 'c': 3}

In [33]:
x = [1, 2, 3]
for ele in x:
    if ele == 2:
        print(ele*ele)
    print(ele)
else:
    print('I print when there is no break in for loop')

1
4
2
3
I print when there is no break in for loop

In [34]:
x = [1, 2, 3]
for ele in x:
    if ele == 2:
        break
    print(ele)
else:
    print('I print when there is no break in for loop')

1

In [35]:
print(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [36]:
int(1, 1, 3, 4, 5)

TypeError: int() takes at most 2 arguments (5 given)

In [39]:
def our_print(*args):
    for ele in args:
        print(ele, end=' ')
        
our_print(1, 2, 3, 4, 5, 6)

1 2 3 4 5 6

In [38]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [43]:
def intersect(*args):
    res = []
    for x in args[0]:                  # scan first sequence
        print('x', x)
        for other in args[1:]:         # for all other args
            print('other', other)
            print(f'{x} in {other}', x in other)
            if x not in other: break   # item in each one?
        else:                          # no:  break out of loop
            res.append(x)              # yes: add items to end
    return res


s1, s2, s3 = "SPAM", "SCAM", "SLAM"

intersect(s1, s2)

x S
other SCAM
S in SCAM True
x P
other SCAM
P in SCAM False
x A
other SCAM
A in SCAM True
x M
other SCAM
M in SCAM True

['S', 'A', 'M']

In [44]:
intersect(s1, s2, s3)

x S
other SCAM
S in SCAM True
other SLAM
S in SLAM True
x P
other SCAM
P in SCAM False
x A
other SCAM
A in SCAM True
other SLAM
A in SLAM True
x M
other SCAM
M in SCAM True
other SLAM
M in SLAM True

['S', 'A', 'M']

In [45]:
def union(*args):
    res = []
    for seq in args:                   # for all args
        for x in seq:                  # for all nodes
            if not x in res:
                res.append(x)          # add new items to result
    return res
union(s1, s2)

['S', 'P', 'A', 'M', 'C']