In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("join_example_database.db")
sql_statement = """
SELECT
    Quantities.product, 
    Quantities.quantity 
FROM 
    Quantities""" ####
df = pd.read_sql_query(sql_statement, conn)
display(df)

In [ ]:
def dbex_1():
    """
    Return all products with quantity greater than 60;
    output columns: product_name, product_quantity
    output (df, sql_statement)
    """

    import pandas as pd
    import sqlite3
    conn = sqlite3.connect("join_example_database.db")
    cur = conn.cursor()
    
    sql_statement = "select Quantities.product, Quantities.quantity FROM Quantities Where quantity > 60;"
    
    
    df = pd.read_sql_query(sql_statement, conn)
    return (df, sql_statement)

In [1]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [2]:
import os
db_file = 'student_test_in_class.db'
if os.path.exists(db_file):
    os.remove(db_file)

create_table_sql = """
CREATE TABLE students (
    last_name TEXT,
    first_name TEXT,
    username TEXT,
    exam1 REAL,
    exam2 REAL,
    exam3 REAL
);
"""

conn = create_connection(db_file)


def insert_student(conn, values):
    sql = ''' 
    INSERT INTO 
            students(last_name,first_name,username,exam1,exam2,exam3)
    VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

# with conn:
# create
create_table(conn, create_table_sql)

# insert
for student in open('students.tsv', 'r'):
    values = student.strip().split('\t')
    print(values)
    rid = insert_student(conn, values) ## What is rid?

['Larson', 'Melissa', 'larsonmeli', '24', '89', '31']
['Novak', 'Melissa', 'novakmeli', '77', '3', '38']
['Sawyer', 'Wendy', 'sawyerwend', '81', '59', '30']
['Schultz', 'Marcus', 'schultzmarc', '59', '29', '67']
['Vega', 'Nicholas', 'veganich', '64', '12', '95']
['Adams', 'Brenda', 'adamsbren', '80', '49', '60']
['Thompson', 'Charlene', 'thompsonchar', '37', '56', '26']
['Booth', 'Bradley', 'boothbrad', '85', '8', '77']
['Gallegos', 'Eugene', 'gallegoseuge', '34', '9', '76']
['Munoz', 'Mary', 'munozmary', '77', '41', '55']
['Carey', 'Kimberly', 'careykimb', '29', '94', '23']
['Paul', 'Philip', 'paulphil', '79', '86', '60']
['Reed', 'Madeline', 'reedmade', '16', '39', '46']
['Parsons', 'Cassie', 'parsonscass', '61', '62', '65']
['Mcclain', 'Glenn', 'mcclainglen', '85', '98', '52']
['Oliver', 'Janice', 'oliverjani', '72', '47', '34']
['Lozano', 'Catherine', 'lozanocath', '71', '19', '94']
['Klein', 'John', 'kleinjohn', '3', '43', '88']
['Brooks', 'Marcus', 'brooksmarc', '6', '81', '70']
['Lee', 'Michael', 'leemich', '30', '54', '25']
['Myers', 'Elizabeth', 'myerseliz', '41', '38', '28']
['Bowen', 'Katherine', 'bowenkath', '57', '61', '34']
['Gibson', 'Edward', 'gibsonedwa', '84', '27', '21']
['Smith', 'Christopher', 'smithchri', '25', '11', '68']
['Key', 'Debra', 'keydebr', '66', '47', '29']
['Fleming', 'Carlos', 'flemingcarl', '50', '45', '93']
['Parrish', 'Nathan', 'parrishnath', '47', '92', '45']
['Lewis', 'Michael', 'lewismich', '73', '65', '98']
['Diaz', 'David', 'diazdavi', '52', '40', '20']
['Walter', 'Linda', 'walterlind', '28', '14', '71']
['Bailey', 'Amanda', 'baileyaman', '27', '4', '38']
['Terrell', 'Robert', 'terrellrobe', '99', '93', '60']
['Johnson', 'Janice', 'johnsonjani', '22', '49', '93']
['Lee', 'John', 'leejohn', '25', '25', '39']
['Dominguez', 'Kathryn', 'dominguezkath', '21', '82', '31']
['Ellis', 'Paige', 'ellispaig', '41', '46', '82']
['Wilkinson', 'Jennifer', 'wilkinsonjenn', '52', '64', '44']
['Rodriguez', 'Michelle', 'rodriguezmich', '94', '24', '50']
['Kennedy', 'Lisa', 'kennedylisa', '93', '19', '48']
['Henderson', 'Michelle', 'hendersonmich', '91', '60', '86']
['Hill', 'James', 'hilljame', '59', '22', '85']
['Jones', 'David', 'jonesdavi', '37', '60', '15']
['Landry', 'Patrick', 'landrypatr', '41', '82', '93']
['Cox', 'Jerome', 'coxjero', '67', '28', '29']
['Santana', 'Linda', 'santanalind', '77', '58', '4']
['Patton', 'Robert', 'pattonrobe', '78', '53', '20']
['Mclean', 'Christopher', 'mcleanchri', '59', '58', '73']
['Rhodes', 'Andre', 'rhodesandr', '53', '9', '82']
['Ramsey', 'John', 'ramseyjohn', '89', '95', '94']
['Martin', 'Paul', 'martinpaul', '15', '11', '12']
['Perez', 'Kelli', 'perezkell', '6', '22', '3']
['Moran', 'Troy', 'morantroy', '61', '21', '45']
['Kerr', 'Sarah', 'kerrsara', '82', '27', '65']
['Wade', 'Stephanie', 'wadestep', '9', '69', '31']
['Smith', 'Rebecca', 'smithrebe', '3', '75', '55']
['Long', 'Joel', 'longjoel', '20', '50', '3']
['Ashley', 'Cody', 'ashleycody', '75', '69', '94']
['Patrick', 'Rachel', 'patrickrach', '16', '20', '80']
['Oliver', 'Alex', 'oliveralex', '61', '22', '6']
['Hoffman', 'Shannon', 'hoffmanshan', '29', '68', '71']
['Holden', 'Michael', 'holdenmich', '57', '23', '53']
['Graham', 'Vanessa', 'grahamvane', '78', '76', '73']
['Blair', 'Christopher', 'blairchri', '70', '97', '27']
['Taylor', 'Diana', 'taylordian', '99', '90', '6']
['Reilly', 'Brandon', 'reillybran', '10', '94', '64']
['Gamble', 'Matthew', 'gamblematt', '48', '50', '26']
['Weber', 'Patrick', 'weberpatr', '87', '33', '92']
['Woodard', 'Judy', 'woodardjudy', '47', '43', '13']
['Hull', 'Alexandra', 'hullalex', '38', '7', '42']
['Frank', 'Jessica', 'frankjess', '95', '87', '92']
['Davis', 'Samuel', 'davissamu', '22', '17', '91']
['Baird', 'Alexandra', 'bairdalex', '32', '90', '71']
['Hensley', 'James', 'hensleyjame', '52', '50', '61']
['Luna', 'Carmen', 'lunacarm', '36', '92', '6']
['Garcia', 'Brian', 'garciabria', '37', '53', '3']
['Andrews', 'Luis', 'andrewsluis', '43', '92', '3']
['Watson', 'Jessica', 'watsonjess', '2', '44', '50']
['Evans', 'Dawn', 'evansdawn', '18', '59', '45']
['Barnes', 'Tammy', 'barnestamm', '54', '53', '71']
['Nelson', 'Angela', 'nelsonange', '33', '63', '66']
['Patterson', 'Jennifer', 'pattersonjenn', '26', '98', '97']
['King', 'Austin', 'kingaust', '64', '89', '59']
['Smith', 'Carol', 'smithcaro', '73', '48', '65']
['Cook', 'Lisa', 'cooklisa', '66', '25', '11']
['Francis', 'Shawn', 'francisshaw', '37', '55', '26']
['Monroe', 'Michael', 'monroemich', '23', '92', '34']
['Cortez', 'Patrick', 'cortezpatr', '18', '22', '2']
['Chang', 'Kristen', 'changkris', '78', '55', '94']
['Mcclain', 'Brandy', 'mcclainbran', '65', '1', '23']
['Sellers', 'Stephanie', 'sellersstep', '11', '83', '76']
['Olsen', 'Mariah', 'olsenmari', '44', '27', '64']
['Melton', 'Brianna', 'meltonbria', '52', '95', '47']
['Day', 'Jon', 'dayjon', '15', '55', '71']
['Little', 'Brian', 'littlebria', '25', '35', '88']
['Johnson', 'Wayne', 'johnsonwayn', '66', '31', '58']
['Duncan', 'Andrew', 'duncanandr', '59', '87', '34']
['Bush', 'Alexander', 'bushalex', '82', '54', '25']
['Summers', 'Michael', 'summersmich', '18', '95', '63']
['Bowers', 'Sandra', 'bowerssand', '52', '8', '50']
['Fernandez', 'Jonathan', 'fernandezjona', '74', '80', '22']

In [ ]:
sql = ''' INSERT INTO students(last_name,first_name,username,exam1,exam2,exam3)
              VALUES('John','Doe','jdoe',33,43,63) '''

https://stackoverflow.com/questions/3727688/what-does-a-question-mark-represent-in-sql-queries
https://xkcd.com/327/

In [5]:
import pandas as pd

sql_statement = "SELECT * FROM Students"
df = pd.read_sql_query(sql_statement, conn)
display(df)

    last_name first_name       username  exam1  exam2  exam3
0      Larson    Melissa     larsonmeli   24.0   89.0   31.0
1       Novak    Melissa      novakmeli   77.0    3.0   38.0
2      Sawyer      Wendy     sawyerwend   81.0   59.0   30.0
3     Schultz     Marcus    schultzmarc   59.0   29.0   67.0
4        Vega   Nicholas       veganich   64.0   12.0   95.0
..        ...        ...            ...    ...    ...    ...
95     Duncan     Andrew     duncanandr   59.0   87.0   34.0
96       Bush  Alexander       bushalex   82.0   54.0   25.0
97    Summers    Michael    summersmich   18.0   95.0   63.0
98     Bowers     Sandra     bowerssand   52.0    8.0   50.0
99  Fernandez   Jonathan  fernandezjona   74.0   80.0   22.0

[100 rows x 6 columns]