In [1]:
lst = [1, 2, 3]

In [2]:
lst

[1, 2, 3]

In [3]:
x = 1

In [4]:
x = 1

In [5]:
sorted(x)

TypeError: 'int' object is not iterable

In [11]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

scores1 = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores1.average()}.')

The final score is 88.4.

In [8]:
x = list([1, 2, 3])

In [12]:
scores2 = ScoreList([80, 90, 2345, 92, 85]) 
print(f'The final score is {scores2.average()}.')

The final score is 538.4.

In [14]:
scores2.scores

[80, 90, 2345, 92, 85]

In [15]:
x = list()

In [16]:
x

[]

In [20]:
x = list()

In [22]:
x.append(1)

In [23]:
x

[1]

In [24]:
x = 'str'

x = str('str')

In [25]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(10, 10)
p2 = Point(10, 10)

In [26]:
print(p1)

<__main__.Point object at 0x00000220E0980CA0>

In [27]:
p2

In [28]:
print(p1 == p2)

False

In [29]:
p1 is p2

False

In [30]:
x = 1
y = 1

print(x == y)
print(x is y)

True
True

In [31]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)

Point(x=10, y=10)
Point(x=10, y=10)

In [32]:
print(p1 == p2) # comparing values
print(p1 is p2) # comparing memory location

True
False

In [49]:
x = 1
y = 1

In [50]:
print(x == y)

True

In [51]:
print(x is y)

True

In [36]:
x = {1: 2, 3:4}
y = x
print(x == y)
print(x is y)

True
True

In [41]:
x = {3:4, 1:2}
y = {1:2, 3:4}
print(x == y)
print(x is y)

True
False

In [37]:
x = {1:2, 3: 4}

In [56]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 89.25.

In [59]:
class ScoreList():
    def __init__(self, *scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(80, 90, 95, 92, 85) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [58]:
scores.scores is l1

True

In [60]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores[:]

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [54]:
l1

[80, 90, 95, 92]

In [61]:
x = [1, 2, [3, 4]]

In [62]:
y = x.copy()

In [63]:
x[1] = 55

In [64]:
print(x, y)

[1, 55, [3, 4]] [1, 2, [3, 4]]

In [65]:
y[-1].append(65)

In [66]:
print(x, y)

[1, 55, [3, 4, 65]] [1, 2, [3, 4, 65]]

In [ ]:
import copy 
copy.deepcopy(x)

In [67]:
class a:
    def __init__(self, value):
        self.value = value

In [69]:
a1 = a(3)

In [70]:
a1

In [75]:
class a:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return str(self.value)

In [76]:
a1 = a(3)
a1

3

In [77]:
print(a1)

3

In [82]:
class a:
    def __init__(self, value):
        self.value = value
        
    def __repr__(self):
        return f'repr: {str(self.value)}'
    
    def __str__(self):
        return f'str: {str(self.value)}'

In [83]:
a1 = a(3)
print(a1)
a1

str: 3

repr: 3

In [84]:
a1

repr: 3

In [85]:
print(a1)

str: 3

In [86]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'x={self.x}; y={self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)

In [87]:
p1

x=10; y=10

In [88]:
p2

x=10; y=10

In [90]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'
    
p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [91]:
p1.x = 3

AttributeError: can't set attribute

In [92]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [93]:
from dataclasses import dataclass

@dataclass
class InventoryItem:
    """Class for keeping track of an item in inventory."""
    name: str
    unit_price: float
    quantity_on_hand: int = 0

    def total_cost(self) -> float:
        return self.unit_price * self.quantity_on_hand

In [94]:
it = InventoryItem('blah', 3.14, 5)

In [95]:
it.name = 'clah'

In [99]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

In [105]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return self.get_full_name()

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

In [106]:
p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')

In [107]:
p2 = Person('Jane', 'Doe', 'jane@buffalo.edu')

In [108]:
p1

Doe, John

In [109]:
p2

Doe, Jane

In [110]:
class Student(Person):

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program

In [115]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):    
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        super().__init__(first_name, last_name, email)
        self.program = program.lower()
        self.classes = []


    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

In [116]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)

doe, john

In [117]:
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

abc, abc, efg, hij

In [119]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

doe, john
Already enrolled in abc doe, john!
abc, efg, hij

In [120]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name



class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

doe, john
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [121]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        
        # never allow more than 9 credits after enrollment -- 8 
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

doe, john
Already enrolled in Math!
You will be over the max credits! Cannot add Physics.
Chemistry, English, Math

In [122]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

In [125]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'
    
    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(',')
        first_name = first_name.strip()
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

In [127]:
for student in students:
    print(student)

Samuel Anderson; 2.62
Jacob Cummings; 3.41
Walter Sosa; 2.62
Joel Conway; 3.23
Andrew Burton; 2.15
Judith Harris; 1.83
Abigail Thomas; 2.61
Sarah Edwards; 3.31
Jennifer Pratt; 2.87
Patricia Hess; 3.1
Brandon Butler; 3.83
Tammy Williams; 3.21
Jonathan Williams; 1.96
Amy Perry; 2.87
Evelyn Mendez; 1.54
Elizabeth Jackson; 2.4
Douglas Cameron; 2.35
Heather Wright; 2.38
Mariah Tucker; 3.11
Rachel Jones; 2.86
Tommy Hull; 3.0
Miguel Guerra; 2.04
Sarah Hernandez; 2.02
Ellen Cortez; 3.43
Tracy Lee; 2.29
Troy Griffith; 2.07
Ana Torres; 3.14
Howard Moore; 2.7
Richard Nelson; 2.78
Lisa James; 2.82
Hannah Macias; 3.76
Richard Rodriguez; 2.85
Christopher Ho; 3.0
Raymond Fisher; 3.25
Gregory Jones; 3.38
Ashley Davenport; 2.0
Jamie Peters; 3.38
Lisa Aguilar; 3.88
David Bush; 1.94
Samantha Barr; 3.5
Steven Gordon; 2.02
Matthew Jones; 2.49
Ronald Harris; 1.55
Brandon Crane; 3.89
Michael Fry; 2.27
Monica Mann; 3.36
Richard Matthews; 1.93
Jon Perkins; 3.5
Jasmine Williams; 1.7
Kristy Rowland; 3.46
Tanya Montgomery; 1.63
Steven Mcgee; 2.0
Amber Aguilar; 1.81
Jason Stuart; 2.0
Kyle Humphrey; 3.81
Christina Stewart; 3.74
Thomas Roberts; 3.64
Jason Weber; 2.39
Karen Lee; 1.95
Edward Lopez; 1.86
Kayla Baldwin; 2.76
Madison Dunn; 3.11
Sarah Brown; 2.53
Christina Bowman; 2.65
Jennifer Vazquez; 1.5
Emily Mccarthy; 2.96
Carrie Lewis; 2.87
Mark Jackson; 3.48
Julie Weaver; 3.16
Lauren Torres; 3.69
Mary Moon; 3.62
Michelle Church; 3.75
Laura Haley; 2.98
Ann Rodriguez; 2.58
Colleen Gomez; 2.22
Amy Hunter; 3.47
Anthony Davis; 3.48
Dorothy Graves; 2.12
Phyllis Miller; 2.61
Robert Burnett; 1.83
Sophia Haley; 2.75
Ashley Shaw; 2.83
Andrew Erickson; 2.07
Rebecca Weaver; 3.66
Danielle Young; 1.71
Carol Howell; 2.63
Jasmin Stephens; 2.63
Justin Guerrero; 3.28
Ashley Aguilar; 1.61
Kelly Holmes; 2.13
Erica Fleming; 1.52
Raymond Christian; 1.67
Brian Franklin; 3.0
Ashley James; 2.62
Christine Johnson; 3.65
Brian Holland; 2.44
Rebecca Harrison; 3.64
Meagan Harrell; 3.54
Johnny Mitchell; 1.65
Kevin Cooper; 2.35

In [128]:
s1 = students[1]

In [129]:
s1

Jacob Cummings; 3.41

In [130]:
max(students)

TypeError: '>' not supported between instances of 'Student' and 'Student'

In [131]:
min(students, key=lambda student: student.get_gpa())

Jennifer Vazquez; 1.5

In [132]:
max(students, key=lambda student: student.get_gpa())

Brandon Crane; 3.89

In [133]:
sorted(students, key=lambda student: student.get_gpa())

[Jennifer Vazquez; 1.5,
 Erica Fleming; 1.52,
 Evelyn Mendez; 1.54,
 Ronald Harris; 1.55,
 Ashley Aguilar; 1.61,
 Tanya Montgomery; 1.63,
 Johnny Mitchell; 1.65,
 Raymond Christian; 1.67,
 Jasmine Williams; 1.7,
 Danielle Young; 1.71,
 Amber Aguilar; 1.81,
 Judith Harris; 1.83,
 Robert Burnett; 1.83,
 Edward Lopez; 1.86,
 Richard Matthews; 1.93,
 David Bush; 1.94,
 Karen Lee; 1.95,
 Jonathan Williams; 1.96,
 Ashley Davenport; 2.0,
 Steven Mcgee; 2.0,
 Jason Stuart; 2.0,
 Sarah Hernandez; 2.02,
 Steven Gordon; 2.02,
 Miguel Guerra; 2.04,
 Troy Griffith; 2.07,
 Andrew Erickson; 2.07,
 Dorothy Graves; 2.12,
 Kelly Holmes; 2.13,
 Andrew Burton; 2.15,
 Colleen Gomez; 2.22,
 Michael Fry; 2.27,
 Tracy Lee; 2.29,
 Douglas Cameron; 2.35,
 Kevin Cooper; 2.35,
 Heather Wright; 2.38,
 Jason Weber; 2.39,
 Elizabeth Jackson; 2.4,
 Brian Holland; 2.44,
 Matthew Jones; 2.49,
 Sarah Brown; 2.53,
 Ann Rodriguez; 2.58,
 Abigail Thomas; 2.61,
 Phyllis Miller; 2.61,
 Samuel Anderson; 2.62,
 Walter Sosa; 2.62,
 Ashley James; 2.62,
 Carol Howell; 2.63,
 Jasmin Stephens; 2.63,
 Christina Bowman; 2.65,
 Howard Moore; 2.7,
 Sophia Haley; 2.75,
 Kayla Baldwin; 2.76,
 Richard Nelson; 2.78,
 Lisa James; 2.82,
 Ashley Shaw; 2.83,
 Richard Rodriguez; 2.85,
 Rachel Jones; 2.86,
 Jennifer Pratt; 2.87,
 Amy Perry; 2.87,
 Carrie Lewis; 2.87,
 Emily Mccarthy; 2.96,
 Laura Haley; 2.98,
 Tommy Hull; 3.0,
 Christopher Ho; 3.0,
 Brian Franklin; 3.0,
 Patricia Hess; 3.1,
 Mariah Tucker; 3.11,
 Madison Dunn; 3.11,
 Ana Torres; 3.14,
 Julie Weaver; 3.16,
 Tammy Williams; 3.21,
 Joel Conway; 3.23,
 Raymond Fisher; 3.25,
 Justin Guerrero; 3.28,
 Sarah Edwards; 3.31,
 Monica Mann; 3.36,
 Gregory Jones; 3.38,
 Jamie Peters; 3.38,
 Jacob Cummings; 3.41,
 Ellen Cortez; 3.43,
 Kristy Rowland; 3.46,
 Amy Hunter; 3.47,
 Mark Jackson; 3.48,
 Anthony Davis; 3.48,
 Samantha Barr; 3.5,
 Jon Perkins; 3.5,
 Meagan Harrell; 3.54,
 Mary Moon; 3.62,
 Thomas Roberts; 3.64,
 Rebecca Harrison; 3.64,
 Christine Johnson; 3.65,
 Rebecca Weaver; 3.66,
 Lauren Torres; 3.69,
 Christina Stewart; 3.74,
 Michelle Church; 3.75,
 Hannah Macias; 3.76,
 Kyle Humphrey; 3.81,
 Brandon Butler; 3.83,
 Lisa Aguilar; 3.88,
 Brandon Crane; 3.89]

In [134]:
3 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [149]:
def my_func(a, b, **kwargs):
    if kwargs:
        print(a, b, kwargs)
    else:
        print(a, b)
    
my_func(1, 2, c=3)

1 2 {'c': 3}

In [150]:
my_func(1, 2, 4)

TypeError: my_func() takes 2 positional arguments but 3 were given

In [137]:
my_func(1, 2, **)

1 2 3

In [151]:
my_func(1, 2)

1 2