In [7]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass
    
    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [2]:
e1 = Employee('john', 'doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee with abstract method earnings

In [8]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

se1 = SalariedEmployee('john', 'doe', '111-22-3333', '525')

In [9]:
se1.earnings()

'525'

In [11]:
se1

salaried employee: john doe
social security: 111-22-3333
weekly salary: $525

In [12]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [13]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [14]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [15]:
print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [16]:
employees = [salaried_employee, hourly_employee, commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [17]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2


    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    
    def __str__(self):
        return "Circle with radius " + str(self.radius)

c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [18]:
c1 == c2

False

In [19]:
c1 = Circle(5)
c2 = Circle(5)
c1 == c2

False

In [22]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2


    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    
    def __eq__(self, other): # left == right; other == right
        return self.radius == other.radius

In [23]:
c1 = Circle(5)
c2 = Circle(5)
c1 == c2 # c1.__eq__(c2)

True

In [24]:
c1 = Circle(5)
c2 = Circle(15)
c1 == c2

False

In [25]:
1 + 1

2

In [26]:
'str' + 'str'

'strstr'

In [27]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [28]:
c1 == c2

False

In [29]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [30]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)


c1 = Circle(10)
c2 = Circle(5)
c3 = c1 + c2 ### ==> c1.__add__(c2) ==> Circle.__add__(c1, c2)
print(c3)

Circle with radius 15

In [ ]:
+ __add__
- __sub__

In [33]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle): #gt, ge, lt, le # Circle.__gt__(c1, c2)
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius



c1 = Circle(10)
c2 = Circle(5)
print(c1 < c2)

False

In [35]:
c2 < c1

True

In [36]:
x = [1, 2, 3]
for ele in x:
    print(ele)

1
2
3

In [37]:
for ele in c1:
    print(ele)

TypeError: 'Circle' object is not iterable

In [58]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit
        self.value = 0

    def __iter__(self):
        self.value = 0 # they don't reset this value
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration

In [59]:
x = MyRange(5)
for ele in x:
    print(ele)

0
1
2
3
4

In [60]:
for ele in x:
    print(ele)

In [61]:
for ele in x:
    print(ele)

In [43]:
i = iter(MyRange(10))

in __iter__

In [44]:
next(i)

in __next__

0

In [45]:
next(i)

in __next__

1

In [46]:
next(i)

in __next__

2

In [47]:
next(i)

in __next__

3

In [48]:
next(i)

in __next__

4

In [49]:
next(i)

in __next__

5

In [50]:
next(i)

in __next__

6

In [51]:
next(i)

in __next__

7

In [52]:
next(i)

in __next__

8

In [53]:
next(i)

in __next__

9

In [54]:
next(i)

in __next__

StopIteration:

In [56]:
for ele in MyRange(10):
    print(ele)

in __iter__
in __next__
0
in __next__
1
in __next__
2
in __next__
3
in __next__
4
in __next__
5
in __next__
6
in __next__
7
in __next__
8
in __next__
9
in __next__

In [62]:
[1, 2, 3] + [1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
[2, 4, 6]

In [64]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration


for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [65]:
def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

x = PowX(10, 3)
for ele in x:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [66]:
for ele in x:
    print(ele)

In [68]:
c1 = Circle(5)
c2 = Circle(6)

In [69]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances



t1 = TestClass()
t2 = TestClass()
print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [70]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

In [71]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [72]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [73]:
print('\n', '-'*60, '\n')

class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable


t1 = TestClass(1)
t2 = TestClass(2)


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

 ------------------------------------------------------------


Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [75]:
print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

In [76]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

In [77]:

print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

In [78]:
class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2


print('@staticmethod add: ', TestClass.add(3,4))

@staticmethod add:  7

In [80]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2#+ class_variable

print('@staticmethod add: ', TestClass2.add(3,4))

@staticmethod add:  7

In [81]:
class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 
    
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  11

In [82]:
class TestClass2:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable

print('@classmethod add -- access to class variable: ', TestClass2.add(5,6))

@classmethod add -- access to class variable:  12

In [83]:
class TestClass:
    class_variable = 1

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))

add_static:  27
add_class:  28

In [84]:
t1 = TestClass()

print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))
print('Call from object -- add_object: ', t1.add_object(13, 14)) # --> TestClass.add_object(t1, 13, 14))

Call from class -- add_object:  57
Call from object -- add_object:  57

In [88]:
class TestClass:
    class_variable = 1
    
    def __init__(self, number):
        self.number = number

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.number #+ self.class_variable + 29


t2 = TestClass(5)
t2.add_object(12, 13)

30

In [ ]:
x = [1, 2, 3]
x[2] = 4

In [89]:
class MyClass:
    def __init__(self, **kwargs):
        self.data = {}
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        return self.data[key]      

my_class = MyClass()


my_class['Exam1'] = 90
my_class['Exam1']

90

In [90]:
my_class['Exam2'] = 89
my_class['Exam2']

89

In [91]:
my_class.data

{'Exam1': 90, 'Exam2': 89}

In [98]:
filename = 'people.tsv'
people = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        people.append(line.strip().split('\t'))

In [ ]:
{'last_name': [], 'first_name': []}

In [94]:
from collections import defaultdict
class MyClass:
    def __init__(self, **kwargs):
        self.data = defaultdict(list)
        header = kwargs.get('header') 
        lines = kwargs.get('lines')
        if header:
            header = lines.pop(0)
        else:
            header = list(range(len(lines[0])))
        
        # Store the data as a dictionary
        for line in lines:
            row = dict(zip(header, line))
            for key,value in row.items():
                self.data[key].append(value)
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        if type(key) in (str, int):
            return self.data[key]   
        elif isinstance(key, list):
            output = []
            for k in key:
                output.append(self.data[k])
            output = list(zip(*output))              
            return output

In [122]:
mc = MyClass(lines=people[:], header=True)
for ele in mc[['country', 'email']]:
    print(ele)

Nepal
Kazakhstan
Mauritius
New Zealand
Yemen
Jordan
Palau
Argentina
Marshall Islands
Albania
Kyrgyz Republic
Turkmenistan
Fiji
Costa Rica
Martinique
Singapore
Mayotte
Costa Rica
Guadeloupe
Bahamas
Azerbaijan
Saint Helena
Hong Kong
Turkey
Swaziland
Holy See (Vatican City State)
Norfolk Island
Kenya
Togo
San Marino
Romania
Algeria
Slovakia (Slovak Republic)
Somalia
Turkmenistan
Croatia
Jamaica
Montserrat
Heard Island and McDonald Islands
Niger
Saint Vincent and the Grenadines
Antigua and Barbuda
Mexico
Singapore
Botswana
Guinea
Chile
Mayotte
Macedonia
Ukraine
Saint Martin
Germany
Lesotho
Nepal
Latvia
Central African Republic
Peru
Spain
Seychelles
Faroe Islands
Tokelau
Cocos (Keeling) Islands
Burundi
Timor-Leste
Montserrat
Norway
Sierra Leone
French Polynesia
French Guiana
Cape Verde
Barbados
Andorra
Montserrat
Egypt
Malaysia
Zimbabwe
Portugal
Paraguay
Central African Republic
Palau
Micronesia
Armenia
Bahrain
Guatemala
Saint Vincent and the Grenadines
Kazakhstan
Germany
Western Sahara
Togo
Guam
Kuwait
Eritrea
Czech Republic
Maldives
Armenia
Benin
Fiji
Iceland
Macedonia
Serbia

In [106]:
class Test:
    def __init__(self, **kwargs):
        print(kwargs)
        
t1 = Test(lines=2, blah=3, hi=4)

{'lines': 2, 'blah': 3, 'hi': 4}

In [107]:
Test(lines=232, blah=234234, h23i=234)

{'lines': 232, 'blah': 234234, 'h23i': 234}

In [109]:
filename = 'people.tsv'
people = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        people.append(line.strip().split('\t'))

In [110]:
lines = people[:]

In [111]:
lines[0]

['last_name', 'first_name', 'email', 'country', 'account']

In [112]:
header = lines.pop(0)

In [113]:
header

['last_name', 'first_name', 'email', 'country', 'account']

In [114]:
lines[0]

['Weaver', 'Michael', 'xdunn@hotmail.com', 'Nepal', 'QVJP6465242365388']

In [115]:
data = defaultdict(list)

In [118]:
for line in lines:
    row = dict(zip(header, line))
    for key, value in row.items():
        data[key].append(value) #

In [120]:
data['last_name']

['Weaver',
 'Owens',
 'Gilmore',
 'Perez',
 'Thomas',
 'Nelson',
 'White',
 'Francis',
 'Shaw',
 'Armstrong',
 'Boyle',
 'Cuevas',
 'Reyes',
 'Calderon',
 'Weiss',
 'Conley',
 'Nelson',
 'Johnson',
 'Werner',
 'Bennett',
 'Fletcher',
 'Lewis',
 'Smith',
 'Sullivan',
 'Wilson',
 'Schmidt',
 'Huff',
 'Nguyen',
 'Russell',
 'Smith',
 'Smith',
 'Keith',
 'Johnson',
 'Barron',
 'Robinson',
 'Nguyen',
 'Abbott',
 'Oneill',
 'Nash',
 'Cameron',
 'Wilkinson',
 'Wallace',
 'Woodward',
 'Bennett',
 'Jenkins',
 'Edwards',
 'Anderson',
 'Ray',
 'Edwards',
 'Clark',
 'Hill',
 'Carpenter',
 'Griffith',
 'Blair',
 'Salazar',
 'Krueger',
 'Burke',
 'Juarez',
 'Watkins',
 'Carter',
 'Huang',
 'Owen',
 'Turner',
 'Aguirre',
 'Wilson',
 'Hardy',
 'Stewart',
 'Moore',
 'Grant',
 'Thompson',
 'Anderson',
 'Ramsey',
 'Gonzales',
 'Castaneda',
 'Todd',
 'Garcia',
 'Figueroa',
 'Castillo',
 'Flores',
 'Allen',
 'Potts',
 'Wheeler',
 'Thomas',
 'Mcknight',
 'Thompson',
 'Levy',
 'Hubbard',
 'Jones',
 'Garcia',
 'Peters',
 'Stone',
 'Edwards',
 'Lawson',
 'Cooper',
 'Harris',
 'Jones',
 'Burch',
 'Chung',
 'Melton',
 'Hansen']

In [121]:
data['email']

['xdunn@hotmail.com',
 'iedwards@yahoo.com',
 'arogers@smith.com',
 'plewis@chavez.com',
 'fred92@yahoo.com',
 'mmiller@lynch.com',
 'steven49@gmail.com',
 'amanda23@hotmail.com',
 'jackduke@hotmail.com',
 'rhodesnicholas@hotmail.com',
 'smithashlee@yahoo.com',
 'ubriggs@hill.info',
 'brownclarence@gonzalez-moore.com',
 'teresa30@carpenter-warner.com',
 'leekatherine@williams.com',
 'chasewatkins@perez-phillips.com',
 'hsherman@gmail.com',
 'martinezdaniel@hotmail.com',
 'justinfischer@gmail.com',
 'cindy08@gmail.com',
 'carolharrington@fleming.org',
 'lopezcarl@johnson.com',
 'michael74@yahoo.com',
 'gonzalezrobert@hotmail.com',
 'dawnjohnson@gmail.com',
 'watersryan@gmail.com',
 'byoung@gmail.com',
 'vhanson@yahoo.com',
 'bfletcher@yahoo.com',
 'colleengarrison@hotmail.com',
 'catherine23@gmail.com',
 'xmurphy@yahoo.com',
 'aaronrichard@middleton.net',
 'jesse93@best.com',
 'johnperez@johnson.com',
 'jessica62@yahoo.com',
 'jennifer87@gmail.com',
 'morenolindsay@bass.org',
 'robertdavis@hotmail.com',
 'melanie81@rogers.com',
 'clineerin@hotmail.com',
 'terri95@hotmail.com',
 'danielle65@yahoo.com',
 'sjackson@yahoo.com',
 'douglas63@yahoo.com',
 'woodardlindsey@yahoo.com',
 'suebrown@yahoo.com',
 'swhite@yahoo.com',
 'martinkimberly@lopez.com',
 'jessica11@hotmail.com',
 'hsmith@baker.com',
 'fklein@yahoo.com',
 'ryan32@skinner.com',
 'tmurphy@flores.biz',
 'mary64@ray.org',
 'jennajoseph@yahoo.com',
 'watsonsamuel@gmail.com',
 'xvelasquez@hughes.com',
 'april99@gmail.com',
 'kfletcher@yahoo.com',
 'xchurch@hotmail.com',
 'megan24@stewart.net',
 'sydneycollins@hunter.com',
 'robertbowen@chavez-ortega.com',
 'christiandanielle@yahoo.com',
 'kdavidson@gordon.com',
 'bennettwanda@vega-guerra.net',
 'mark00@hotmail.com',
 'schaefernatalie@hotmail.com',
 'moralesmartin@rodgers.com',
 'dprince@hotmail.com',
 'cparks@valdez-hudson.com',
 'martinezrichard@yahoo.com',
 'kpena@yahoo.com',
 'julie68@gmail.com',
 'lukebradford@hotmail.com',
 'ystewart@yahoo.com',
 'cory33@king-shaw.net',
 'zcalhoun@gmail.com',
 'michaelhall@hotmail.com',
 'kristentaylor@yahoo.com',
 'stephen63@yahoo.com',
 'bryanmartin@gmail.com',
 'kristinavelasquez@gmail.com',
 'denise01@burns.org',
 'beancody@jones.com',
 'ubradley@yahoo.com',
 'anthony75@yahoo.com',
 'antonio52@gmail.com',
 'johnlewis@hotmail.com',
 'nmoore@hotmail.com',
 'nchurch@yahoo.com',
 'piercejenna@gmail.com',
 'ddavidson@hotmail.com',
 'ndelacruz@yahoo.com',
 'jenniferadkins@griffin.biz',
 'evansmiguel@yahoo.com',
 'kenneththompson@baxter.com',
 'bcurtis@hotmail.com',
 'phillipssean@hotmail.com']

In [134]:
key = ['email', 'last_name', 'first_name']
output = []
for k in key:
    output.append(data[k])
output = list(zip(*output))

In [135]:
output

[('xdunn@hotmail.com', 'Weaver', 'Michael'),
 ('iedwards@yahoo.com', 'Owens', 'Jackson'),
 ('arogers@smith.com', 'Gilmore', 'Patrick'),
 ('plewis@chavez.com', 'Perez', 'Jeffrey'),
 ('fred92@yahoo.com', 'Thomas', 'James'),
 ('mmiller@lynch.com', 'Nelson', 'Greg'),
 ('steven49@gmail.com', 'White', 'Joshua'),
 ('amanda23@hotmail.com', 'Francis', 'Todd'),
 ('jackduke@hotmail.com', 'Shaw', 'Stephen'),
 ('rhodesnicholas@hotmail.com', 'Armstrong', 'Mariah'),
 ('smithashlee@yahoo.com', 'Boyle', 'Anthony'),
 ('ubriggs@hill.info', 'Cuevas', 'Patrick'),
 ('brownclarence@gonzalez-moore.com', 'Reyes', 'Gerald'),
 ('teresa30@carpenter-warner.com', 'Calderon', 'Christopher'),
 ('leekatherine@williams.com', 'Weiss', 'Shane'),
 ('chasewatkins@perez-phillips.com', 'Conley', 'Crystal'),
 ('hsherman@gmail.com', 'Nelson', 'Jeffrey'),
 ('martinezdaniel@hotmail.com', 'Johnson', 'Brianna'),
 ('justinfischer@gmail.com', 'Werner', 'Brandon'),
 ('cindy08@gmail.com', 'Bennett', 'Brianna'),
 ('carolharrington@fleming.org', 'Fletcher', 'Austin'),
 ('lopezcarl@johnson.com', 'Lewis', 'Patrick'),
 ('michael74@yahoo.com', 'Smith', 'Joseph'),
 ('gonzalezrobert@hotmail.com', 'Sullivan', 'Sharon'),
 ('dawnjohnson@gmail.com', 'Wilson', 'Krystal'),
 ('watersryan@gmail.com', 'Schmidt', 'Diana'),
 ('byoung@gmail.com', 'Huff', 'Sean'),
 ('vhanson@yahoo.com', 'Nguyen', 'Robin'),
 ('bfletcher@yahoo.com', 'Russell', 'Robyn'),
 ('colleengarrison@hotmail.com', 'Smith', 'Tiffany'),
 ('catherine23@gmail.com', 'Smith', 'Lori'),
 ('xmurphy@yahoo.com', 'Keith', 'Sabrina'),
 ('aaronrichard@middleton.net', 'Johnson', 'Miguel'),
 ('jesse93@best.com', 'Barron', 'Dustin'),
 ('johnperez@johnson.com', 'Robinson', 'Michael'),
 ('jessica62@yahoo.com', 'Nguyen', 'Robert'),
 ('jennifer87@gmail.com', 'Abbott', 'Brandon'),
 ('morenolindsay@bass.org', 'Oneill', 'Bruce'),
 ('robertdavis@hotmail.com', 'Nash', 'Linda'),
 ('melanie81@rogers.com', 'Cameron', 'Kathleen'),
 ('clineerin@hotmail.com', 'Wilkinson', 'Wesley'),
 ('terri95@hotmail.com', 'Wallace', 'Debbie'),
 ('danielle65@yahoo.com', 'Woodward', 'Kayla'),
 ('sjackson@yahoo.com', 'Bennett', 'Stephanie'),
 ('douglas63@yahoo.com', 'Jenkins', 'Caleb'),
 ('woodardlindsey@yahoo.com', 'Edwards', 'Valerie'),
 ('suebrown@yahoo.com', 'Anderson', 'Mary'),
 ('swhite@yahoo.com', 'Ray', 'Angela'),
 ('martinkimberly@lopez.com', 'Edwards', 'Haley'),
 ('jessica11@hotmail.com', 'Clark', 'Charles'),
 ('hsmith@baker.com', 'Hill', 'Lisa'),
 ('fklein@yahoo.com', 'Carpenter', 'Jonathan'),
 ('ryan32@skinner.com', 'Griffith', 'Latoya'),
 ('tmurphy@flores.biz', 'Blair', 'Kim'),
 ('mary64@ray.org', 'Salazar', 'Mary'),
 ('jennajoseph@yahoo.com', 'Krueger', 'Kenneth'),
 ('watsonsamuel@gmail.com', 'Burke', 'Phillip'),
 ('xvelasquez@hughes.com', 'Juarez', 'Erica'),
 ('april99@gmail.com', 'Watkins', 'Jason'),
 ('kfletcher@yahoo.com', 'Carter', 'Lee'),
 ('xchurch@hotmail.com', 'Huang', 'Randy'),
 ('megan24@stewart.net', 'Owen', 'Kristina'),
 ('sydneycollins@hunter.com', 'Turner', 'Beth'),
 ('robertbowen@chavez-ortega.com', 'Aguirre', 'Michael'),
 ('christiandanielle@yahoo.com', 'Wilson', 'Elizabeth'),
 ('kdavidson@gordon.com', 'Hardy', 'Teresa'),
 ('bennettwanda@vega-guerra.net', 'Stewart', 'David'),
 ('mark00@hotmail.com', 'Moore', 'Heather'),
 ('schaefernatalie@hotmail.com', 'Grant', 'Melissa'),
 ('moralesmartin@rodgers.com', 'Thompson', 'Jennifer'),
 ('dprince@hotmail.com', 'Anderson', 'Raymond'),
 ('cparks@valdez-hudson.com', 'Ramsey', 'Angela'),
 ('martinezrichard@yahoo.com', 'Gonzales', 'Betty'),
 ('kpena@yahoo.com', 'Castaneda', 'Thomas'),
 ('julie68@gmail.com', 'Todd', 'Jonathan'),
 ('lukebradford@hotmail.com', 'Garcia', 'Stacey'),
 ('ystewart@yahoo.com', 'Figueroa', 'Judy'),
 ('cory33@king-shaw.net', 'Castillo', 'Ashley'),
 ('zcalhoun@gmail.com', 'Flores', 'Zachary'),
 ('michaelhall@hotmail.com', 'Allen', 'Erica'),
 ('kristentaylor@yahoo.com', 'Potts', 'Savannah'),
 ('stephen63@yahoo.com', 'Wheeler', 'Zachary'),
 ('bryanmartin@gmail.com', 'Thomas', 'Timothy'),
 ('kristinavelasquez@gmail.com', 'Mcknight', 'Ann'),
 ('denise01@burns.org', 'Thompson', 'Ruth'),
 ('beancody@jones.com', 'Levy', 'Daniel'),
 ('ubradley@yahoo.com', 'Hubbard', 'Paul'),
 ('anthony75@yahoo.com', 'Jones', 'Jason'),
 ('antonio52@gmail.com', 'Garcia', 'Margaret'),
 ('johnlewis@hotmail.com', 'Peters', 'Jeremy'),
 ('nmoore@hotmail.com', 'Stone', 'Mark'),
 ('nchurch@yahoo.com', 'Edwards', 'Darius'),
 ('piercejenna@gmail.com', 'Lawson', 'Tracy'),
 ('ddavidson@hotmail.com', 'Cooper', 'Christina'),
 ('ndelacruz@yahoo.com', 'Harris', 'Megan'),
 ('jenniferadkins@griffin.biz', 'Jones', 'Timothy'),
 ('evansmiguel@yahoo.com', 'Burch', 'Tracie'),
 ('kenneththompson@baxter.com', 'Chung', 'Jason'),
 ('bcurtis@hotmail.com', 'Melton', 'Samantha'),
 ('phillipssean@hotmail.com', 'Hansen', 'Michael')]

In [136]:
filename = 'testdata.txt'
grades = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        grades.append(line.strip().split(','))

In [137]:
grades

[['student1', '92', '77', '87', '77', '94'],
 ['student2', '74', '93', '88', '67', '85'],
 ['student3', '83', '96', '74', '79', '92'],
 ['student4', '100', '72', '83', '85', '66'],
 ['student5', '77', '96', '66', '79', '92'],
 ['student6', '100', '86', '84', '70', '71'],
 ['student7', '66', '91', '94', '97', '80'],
 ['student8', '97', '86', '75', '69', '88'],
 ['student9', '95', '98', '99', '85', '86'],
 ['student10', '78', '76', '73', '88', '86'],
 ['student11', '78', '100', '100', '91', '99'],
 ['student12', '82', '92', '85', '95', '86'],
 ['student13', '83', '78', '78', '89', '74'],
 ['student14', '89', '81', '92', '75', '66'],
 ['student15', '86', '94', '97', '67', '66'],
 ['student16', '96', '75', '78', '91', '83'],
 ['student17', '85', '72', '95', '74', '67'],
 ['student18', '83', '68', '91', '74', '66'],
 ['student19', '70', '99', '100', '76', '96'],
 ['student20', '80', '89', '73', '76', '72'],
 ['student21', '79', '100', '68', '91', '65'],
 ['student22', '100', '65', '84', '86', '96'],
 ['student23', '68', '67', '89', '97', '81'],
 ['student24', '94', '71', '93', '66', '81'],
 ['student25', '89', '99', '80', '92', '87'],
 ['student26', '94', '65', '100', '72', '82'],
 ['student27', '83', '91', '68', '78', '98'],
 ['student28', '97', '96', '85', '94', '93'],
 ['student29', '65', '78', '96', '77', '72'],
 ['student30', '96', '85', '98', '86', '95'],
 ['student31', '85', '69', '97', '86', '65'],
 ['student32', '82', '82', '75', '81', '91'],
 ['student33', '88', '76', '99', '66', '86'],
 ['student34', '66', '85', '65', '77', '95'],
 ['student35', '75', '98', '96', '87', '65'],
 ['student36', '85', '89', '87', '99', '77'],
 ['student37', '93', '85', '74', '84', '85'],
 ['student38', '86', '90', '96', '80', '88'],
 ['student39', '96', '82', '67', '83', '85'],
 ['student40', '85', '98', '91', '98', '84'],
 ['student41', '98', '95', '85', '66', '99'],
 ['student42', '84', '82', '71', '73', '74'],
 ['student43', '95', '91', '86', '67', '100'],
 ['student44', '80', '83', '72', '77', '67'],
 ['student45', '67', '89', '97', '65', '71'],
 ['student46', '65', '72', '89', '95', '67'],
 ['student47', '99', '89', '68', '72', '74'],
 ['student48', '77', '91', '69', '96', '84'],
 ['student49', '68', '97', '65', '100', '86'],
 ['student50', '82', '66', '66', '83', '95'],
 ['student51', '86', '66', '89', '89', '71'],
 ['student52', '91', '98', '95', '98', '76'],
 ['student53', '94', '77', '81', '87', '68'],
 ['student54', '69', '80', '95', '92', '76'],
 ['student55', '100', '91', '65', '67', '85'],
 ['student56', '77', '68', '65', '71', '72'],
 ['student57', '65', '100', '79', '71', '96'],
 ['student58', '75', '75', '99', '99', '95'],
 ['student59', '91', '84', '85', '84', '83'],
 ['student60', '71', '79', '74', '97', '68'],
 ['student61', '69', '71', '91', '69', '100'],
 ['student62', '79', '91', '96', '69', '97'],
 ['student63', '91', '87', '76', '98', '85'],
 ['student64', '93', '97', '72', '88', '73'],
 ['student65', '100', '75', '97', '84', '81'],
 ['student66', '68', '66', '65', '94', '86'],
 ['student67', '82', '74', '94', '67', '94'],
 ['student68', '66', '96', '79', '68', '91'],
 ['student69', '88', '85', '72', '80', '78'],
 ['student70', '78', '76', '72', '68', '74'],
 ['student71', '97', '73', '79', '69', '77'],
 ['student72', '88', '94', '73', '71', '65'],
 ['student73', '92', '99', '98', '80', '83'],
 ['student74', '86', '98', '66', '99', '72'],
 ['student75', '68', '87', '67', '77', '83'],
 ['student76', '88', '92', '71', '83', '70'],
 ['student77', '66', '72', '78', '69', '71'],
 ['student78', '70', '95', '90', '82', '95'],
 ['student79', '69', '94', '99', '83', '67'],
 ['student80', '86', '86', '79', '93', '66'],
 ['student81', '96', '87', '70', '95', '97'],
 ['student82', '76', '95', '68', '100', '85'],
 ['student83', '66', '72', '74', '99', '86'],
 ['student84', '83', '85', '66', '77', '85'],
 ['student85', '98', '79', '91', '78', '74'],
 ['student86', '69', '94', '71', '95', '71'],
 ['student87', '78', '88', '68', '95', '84'],
 ['student88', '66', '67', '96', '86', '69'],
 ['student89', '89', '78', '66', '73', '82'],
 ['student90', '92', '66', '95', '93', '76'],
 ['student91', '87', '69', '96', '70', '92'],
 ['student92', '86', '88', '67', '95', '66'],
 ['student93', '77', '77', '76', '84', '89'],
 ['student94', '93', '99', '95', '65', '70'],
 ['student95', '86', '83', '73', '94', '95'],
 ['student96', '78', '84', '79', '66', '92'],
 ['student97', '74', '95', '100', '85', '75'],
 ['student98', '71', '87', '89', '90', '94'],
 ['student99', '71', '69', '90', '81', '94'],
 ['student100', '81', '80', '86', '81', '71']]

In [141]:
mc = MyClass(lines=list(grades))
for ele in mc[[0, 1, 4]]:
    print(ele)

('student1', '92', '77')
('student2', '74', '67')
('student3', '83', '79')
('student4', '100', '85')
('student5', '77', '79')
('student6', '100', '70')
('student7', '66', '97')
('student8', '97', '69')
('student9', '95', '85')
('student10', '78', '88')
('student11', '78', '91')
('student12', '82', '95')
('student13', '83', '89')
('student14', '89', '75')
('student15', '86', '67')
('student16', '96', '91')
('student17', '85', '74')
('student18', '83', '74')
('student19', '70', '76')
('student20', '80', '76')
('student21', '79', '91')
('student22', '100', '86')
('student23', '68', '97')
('student24', '94', '66')
('student25', '89', '92')
('student26', '94', '72')
('student27', '83', '78')
('student28', '97', '94')
('student29', '65', '77')
('student30', '96', '86')
('student31', '85', '86')
('student32', '82', '81')
('student33', '88', '66')
('student34', '66', '77')
('student35', '75', '87')
('student36', '85', '99')
('student37', '93', '84')
('student38', '86', '80')
('student39', '96', '83')
('student40', '85', '98')
('student41', '98', '66')
('student42', '84', '73')
('student43', '95', '67')
('student44', '80', '77')
('student45', '67', '65')
('student46', '65', '95')
('student47', '99', '72')
('student48', '77', '96')
('student49', '68', '100')
('student50', '82', '83')
('student51', '86', '89')
('student52', '91', '98')
('student53', '94', '87')
('student54', '69', '92')
('student55', '100', '67')
('student56', '77', '71')
('student57', '65', '71')
('student58', '75', '99')
('student59', '91', '84')
('student60', '71', '97')
('student61', '69', '69')
('student62', '79', '69')
('student63', '91', '98')
('student64', '93', '88')
('student65', '100', '84')
('student66', '68', '94')
('student67', '82', '67')
('student68', '66', '68')
('student69', '88', '80')
('student70', '78', '68')
('student71', '97', '69')
('student72', '88', '71')
('student73', '92', '80')
('student74', '86', '99')
('student75', '68', '77')
('student76', '88', '83')
('student77', '66', '69')
('student78', '70', '82')
('student79', '69', '83')
('student80', '86', '93')
('student81', '96', '95')
('student82', '76', '100')
('student83', '66', '99')
('student84', '83', '77')
('student85', '98', '78')
('student86', '69', '95')
('student87', '78', '95')
('student88', '66', '86')
('student89', '89', '73')
('student90', '92', '93')
('student91', '87', '70')
('student92', '86', '95')
('student93', '77', '84')
('student94', '93', '65')
('student95', '86', '94')
('student96', '78', '66')
('student97', '74', '85')
('student98', '71', '90')
('student99', '71', '81')
('student100', '81', '81')

In [142]:
x = [1, 2, 3]
y = x

In [143]:
y[2] = 44

In [144]:
print(x, y )

[1, 2, 44] [1, 2, 44]

In [145]:
x[1] = 78

In [146]:
print(x,y )

[1, 78, 44] [1, 78, 44]

In [147]:
x = [1, 2, 3]
y = x[:] # x.copy()

x[1] = 78
print(x, y )

[1, 78, 3] [1, 2, 3]

In [148]:
x = (1, 2, 3, [4, 5])
y = x[:]

In [149]:
x[3].append(99)

In [150]:
print(x, y )

(1, 2, 3, [4, 5, 99]) (1, 2, 3, [4, 5, 99])

In [152]:
import copy
y = copy.deepcopy(x)
x[3].append(23)

In [153]:
print(x, y)

(1, 2, 3, [4, 5, 99, 23, 23]) (1, 2, 3, [4, 5, 99, 23])

In [154]:
x

(1, 2, 3, [4, 5, 99, 23, 23])

In [155]:
y

(1, 2, 3, [4, 5, 99, 23])

In [156]:
x = [1, 2, 3, [4, 5]]
y = copy.deepcopy(x)

x[3].append(6)

In [157]:
print(x, y)

[1, 2, 3, [4, 5, 6]] [1, 2, 3, [4, 5]]

In [158]:
x = (1, 2, 3, [4, 5])
y = copy.deepcopy(x)
x[3].append(6)
print(x, y)

(1, 2, 3, [4, 5, 6]) (1, 2, 3, [4, 5])