In [2]:
x = [1, 2, 3]
y = ['one', 'two', 'three']

In [6]:
for a, b in zip(x,y):
    print(a, b)

1 one
2 two
3 three

In [7]:
tmp = zip(x,y)

In [8]:
for a, b in tmp:
    print(a, b)

1 one
2 two
3 three

In [9]:
for a, b in tmp:
    print(a, b)

In [11]:
import random

for _ in range(5):
    print(random.randint(0,1))

0
1
0
0
1

In [18]:
filename = "for_ex11_data.txt"
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        line = line.split(',')
        name = line[0]
        grades = []
        for grade in line[1:]:
            grades.append(int(grade))
        print(name, sum(grades)/len(grades))

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [21]:
filename = "for_ex11_data.txt"
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        name, *str_grades = line.split(',')

        grades = []
        for grade in str_grades:
            grades.append(int(grade))
        
        print(name, sum(grades)/len(grades))

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [19]:
x = 'student1,93,78,82,83,65,23,34,87'
x.split(',', 1)

['student1', '93,78,82,83,65,23,34,87']

In [24]:
numbers = []
number = input('Enter a number to calculate average. Enter empty space to stop entering numbers: ' )
while number:
    numbers.append(float(number))
    number = input('Enter a number to calculate average. Enter empty space to stop entering numbers: ' )

print(sum(numbers)/len(numbers))

Enter a number to calculate average. Enter empty space to stop entering numbers:  80
Enter a number to calculate average. Enter empty space to stop entering numbers:  100
Enter a number to calculate average. Enter empty space to stop entering numbers:

90.0

In [23]:
numbers

[80.0, 100.0]

In [28]:
numbers = []
number = float(input('Enter a number to calculate average. Enter empty space to stop entering numbers: ' ))
while number >= 0:
    numbers.append(number)
    number = float(input('Enter a number to calculate average. Enter empty space to stop entering numbers: ' ))

print(sum(numbers)/len(numbers))

Enter a number to calculate average. Enter empty space to stop entering numbers:  80
Enter a number to calculate average. Enter empty space to stop entering numbers:  100
Enter a number to calculate average. Enter empty space to stop entering numbers:  100
Enter a number to calculate average. Enter empty space to stop entering numbers:  0
Enter a number to calculate average. Enter empty space to stop entering numbers:  -1

70.0

In [29]:
def modify_loop_ex1(n):
    for number in range(n):

        if number % 5 == 0:
            print('Skipping:', number)
            continue

        print(number)

modify_loop_ex1(100)

Skipping: 0
1
2
3
4
Skipping: 5
6
7
8
9
Skipping: 10
11
12
13
14
Skipping: 15
16
17
18
19
Skipping: 20
21
22
23
24
Skipping: 25
26
27
28
29
Skipping: 30
31
32
33
34
Skipping: 35
36
37
38
39
Skipping: 40
41
42
43
44
Skipping: 45
46
47
48
49
Skipping: 50
51
52
53
54
Skipping: 55
56
57
58
59
Skipping: 60
61
62
63
64
Skipping: 65
66
67
68
69
Skipping: 70
71
72
73
74
Skipping: 75
76
77
78
79
Skipping: 80
81
82
83
84
Skipping: 85
86
87
88
89
Skipping: 90
91
92
93
94
Skipping: 95
96
97
98
99

In [31]:
def modify_loop_ex2(n):

    iteration_count = 0
    number = 1
    while number <= n:

        if number > 50:
            break

        print(number)
        number += 1
        iteration_count += 1
    # jump here

modify_loop_ex2(1000)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [32]:
filename = "for_ex11_data.txt"
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        line = line.split(',')
        name = line[0]

        #-------------
        grades = []
        for grade in line[1:]:
            grades.append(int(grade))
        #-------------

        
        print(name, sum(grades)/len(grades))

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [34]:
grades = [int(grade)  for grade in line[1:]]

In [35]:
grades

[65, 89, 80, 68, 89]

In [36]:
[int(grade)  for grade in line[1:]]

[65, 89, 80, 68, 89]

In [37]:
[grade  for grade in line[1:]]

['65', '89', '80', '68', '89']

In [38]:
[False  for grade in line[1:]]

[False, False, False, False, False]

In [39]:
[int(grade) for grade in line[1:] if int(grade) >= 80]

[89, 80, 89]

In [40]:
[f"{grade}: Pass"  if int(grade) >= 80 else f"{grade}: Fail" for grade in line[1:]]

['65: Fail', '89: Pass', '80: Pass', '68: Fail', '89: Pass']

In [41]:
tmp = (int(grade)  for grade in line[1:])
for ele in tmp:
    print(ele)

65
89
80
68
89

In [70]:
for ele in tmp:
    print(ele)
print(ele)

TypeError: 'int' object is not iterable

In [43]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)

new_list

[1, 4, 9]

In [44]:
[ele*ele for ele in my_list]

[1, 4, 9]

In [45]:
[ele*10 for ele in my_list]

[10, 20, 30]

In [46]:
animal = 'buffalo'
animal.upper()

'BUFFALO'

In [49]:
''.join([char.upper() for char in animal])

'BUFFALO'

In [50]:
students = ['john', 'jane', 'doe']
[student.title() for student in students]

['John', 'Jane', 'Doe']

In [52]:
my_list = [0, '', [], {},  (), False, 0.0]
[bool(ele) for ele in my_list]

[False, False, False, False, False, False, False]

In [53]:
my_list = range(6)
[str(ele) for ele in my_list]

['0', '1', '2', '3', '4', '5']

In [55]:
numbers = range(1, 21)
[number for number in numbers if number % 2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
[number for number in numbers if number % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [59]:
[number if number % 2 == 0 else number**3 for number in numbers]

[1,
 2,
 27,
 4,
 125,
 6,
 343,
 8,
 729,
 10,
 1331,
 12,
 2197,
 14,
 3375,
 16,
 4913,
 18,
 6859,
 20]

In [63]:
sentence = 'I rEAlly want to gO to work'

vowels = 'aeiou'

[char for char in sentence if char.lower() not in vowels and char.strip()]

['r', 'l', 'l', 'y', 'w', 'n', 't', 't', 'g', 't', 'w', 'r', 'k']

In [77]:
filename = 'soccer_players_statistics.csv'
line_count = 0
header = None
nationalities = []
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line:
            continue
        line = line.split(',')

        if not header:
            header = line
            nat_col = header.index('Nationality')
            continue
  
        nationality = line[nat_col]
        if nationality not in nationalities:
            nationalities.append(nationality)
            
        # line_count += 1
        # if line_count > 10:
        #     break
nationalities.sort()
print(nationalities)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua & Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bolivia', 'Bosnia Herzegovina', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Rep.', 'Chad', 'Chile', 'China PR', 'Chinese Taipei', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic', 'DR Congo', 'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'FIFA16_NationName_215', 'FYR Macedonia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Iran', 'Iraq', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Korea DPR', 'Korea Republic', 'Kosovo', 'Kuwait', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Namibia', 'Nationality', 'Netherlands', 'New Zealand', 'Niger', 'Nigeria', 'Northern Ireland', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Ireland', 'Romania', 'Russia', 'San Marino', 'Saudi Arabia', 'Scotland', 'Senegal', 'Serbia', 'Sierra Leone', 'Slovakia', 'Slovenia', 'Somalia', 'South Africa', 'Spain', 'St Kitts Nevis', 'St Lucia', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'São Tomé & Príncipe', 'Tanzania', 'Timor-Leste', 'Togo', 'Trinidad & Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United States', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Wales', 'Zambia', 'Zimbabwe']

In [91]:
def get_values_by_column_name(column_name, unique=True):
    filename = 'soccer_players_statistics.csv'
    header = None
    values = []
    with open(filename) as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            line = line.split(',')
    
            if not header:
                header = line
                try:
                    column_index = header.index(column_name)
                except:
                    print(f'Column Name {column_name} not found!')
                    return False
                continue

            value = line[column_index]
            if value.strip():
                if unique:
                    if value not in values:
                        values.append(value)
                else:
                    values.append(value)
    values.sort()
    return values

values = get_values_by_column_name('National_Position')
print(values)

['CAM', 'CB', 'CDM', 'CM', 'GK', 'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF', 'LM', 'LS', 'LW', 'LWB', 'RAM', 'RB', 'RCB', 'RCM', 'RDM', 'RF', 'RM', 'RS', 'RW', 'RWB', 'ST', 'Sub']

In [94]:
def stats(column_name):
    # values = get_unique_values_by_column_name(column_name)
    # values = [float(value) for value in values]

    values = [float(value) for value in get_values_by_column_name(column_name)]

    mean = round(sum(values)/len(values), 2)
    return (max(values), min(values), mean)
stats('Rating')

(94.0, 45.0, 69.06)

In [104]:
def extract_columns(column_names):
    filename = 'soccer_players_statistics.csv'
    header = None
    values = []
    with open(filename) as file:
        for line in file:
            line = line.strip()
            if not line:
                continue
            line = line.split(',')
    
            if not header:
                header = line
                try:
                    column_indices = [header.index(column_name) for column_name in column_names]
                except:
                    print(f'Column Names {column_names} not found!')
                    return False
                continue

            values.append([line[index] for index in column_indices])

    return values
                

values = extract_columns(['Club_Joining', 'Contract_Expiry'])
max_value = float('-inf')
min_value = float('inf')
for joining, expiry in values:
    try:
        joining = float(joining.split('/')[-1])
    except:
        continue
        
    expiry = float(expiry)
    diff = expiry - joining
    if diff > max_value:
        max_value = diff
    if diff < min_value:
        min_value = diff


print(max_value, min_value)

30.0 0.0