In [9]:
x = [1, 2, 3, 4]
x.append([5, 6, 7])
x

[1, 2, 3, 4, [5, 6, 7]]

In [8]:
y = [1, 2, 3, 4]
y.extend([5, 6, 7])
print(y)

[1, 2, 3, 4, 5, 6, 7]

In [10]:
x = [1, 2, 3, 4]
x += [5, 6, 7]
x

[1, 2, 3, 4, 5, 6, 7]

In [11]:
x = [1, 2, 3, 4]
x += range(5)
x

[1, 2, 3, 4, 0, 1, 2, 3, 4]

In [13]:
x = [1, 2, 3, 4]
x.append(range(5))
x

[1, 2, 3, 4, range(0, 5)]

In [14]:
x = [1, 2, 3, 4]
x.append(list(range(5)))
x

[1, 2, 3, 4, [0, 1, 2, 3, 4]]

In [15]:
x = [1, 2, 3, 4]
x.extend(range(5))
x

[1, 2, 3, 4, 0, 1, 2, 3, 4]

In [16]:
basket = [
    'Apple',
    'Banana',
    'Pear',
]

basket

['Apple', 'Banana', 'Pear']

In [19]:
basket = [
    'Apple',
    'Banana',
    'Pear',
    'Mango',
]
basket

['Apple', 'Banana', 'Pear', 'Mango']

In [27]:
import random
random.seed(503)
for _ in range(10):
    print(random.randint(1, 10))

3
3
6
4
7
5
3
1
1
7

In [32]:
for num in range(10):
    print(num)
    break
    print(num * num)

0

In [31]:
for num in range(10):
    print(num)
    continue
    print(num*num)

0
1
2
3
4
5
6
7
8
9

In [33]:
for num in range(10):
    if num == 5:
        break
        continue
    print(num)

0
1
2
3
4
6
7
8
9

In [34]:
for num in range(10):
    if num == 5:
        pass
    print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
if x > 10:
    return 15

elif True:
    pass
else:
    return blah

In [36]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

input_string = input('Enter an integer. Enter nothing to quit: ')

while input_string:
    summed_values += int(input_string)
    number_count += 1
    input_string = input('Enter an integer. Enter nothing to quit: ')


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

Enter an integer. Enter nothing to quit:

ZeroDivisionError: division by zero

In [37]:
summed_values = 0  # a container to store the sum of interger values collected
number_count = 0  # a container to store the number of integer values collected

number = int(input('Enter an integer. Enter negative number to quit: '))

while number >=0:
    summed_values += int(number)
    number_count += 1
    number = int(input('Enter an integer. Enter nothing to quit: '))


average = summed_values / number_count

print('The average of %d numbers is %f' %(number_count, summed_values))

Enter an integer. Enter negative number to quit:  5
Enter an integer. Enter nothing to quit:  6
Enter an integer. Enter nothing to quit:  7
Enter an integer. Enter nothing to quit:  8
Enter an integer. Enter nothing to quit:  -100

The average of 4 numbers is 26.000000

In [39]:
test_grades = 0  # a container to store the sum of interger values collected
number_tests = 0  # a container to store the number of integer values collected

number = int(input('Enter a test grade. Enter negative number to quit: '))

while number >=0:
    test_grades += int(number)
    number_tests += 1
    number = int(input('Enter a test grade. Enter negative number to quit: '))


average = test_grades / number_tests


if  average >= 90:
    letter_grade = 'A'
elif 80 <= average <= 89:
    letter_grade = 'B'
elif 70 <= average <= 79:
    letter_grade = 'C'
elif 60 <= average <= 69:
    letter_grade = 'D'
elif average <= 60:
    letter_grade = 'F'


print(average, letter_grade)

Enter a test grade. Enter negative number to quit:  100
Enter a test grade. Enter negative number to quit:  80
Enter a test grade. Enter negative number to quit:  90
Enter a test grade. Enter negative number to quit:  100
Enter a test grade. Enter negative number to quit:  -1

92.5 A

In [40]:
number = int(input('Enter a starting number: '))

while number >= 0:
    print(number)
    number -= 1

Enter a starting number:  10

10
9
8
7
6
5
4
3
2
1
0

In [41]:
end_number = int(input('Enter an integer number: '))
current_number = 0
while current_number <= end_number:
    if current_number % 2 == 0:
        print(current_number)
    current_number += 1

Enter an integer number:  20

0
2
4
6
8
10
12
14
16
18
20

In [42]:
def modify_loop_ex2(n):

    iteration_count = 0
    number = 1
    while number <= n:

        if number == 50:
            break

        print(number)
        number += 1
        iteration_count += 1

modify_loop_ex2(1000)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [43]:
# for ele in sequence:
#     pass

for index, ele in enumerate('ABCDEFGHI', 1):
    print(index, ele)

1 A
2 B
3 C
4 D
5 E
6 F
7 G
8 H
9 I

In [44]:
# [ valid_expression for ele in sequence]  this will append all the valid expressions in a list 

[ ele*2 for ele in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [45]:
tmp = []
for ele in range(10):
    tmp.append(ele*2)

tmp

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [46]:
[ ele*10 for ele in range(10)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [47]:
animal = 'buffalo'
animal.upper()

'BUFFALO'

In [49]:
''.join([ ele.upper() for ele in animal])

'BUFFALO'

In [50]:
students = ['john', 'jane', 'doe']
[ student.title() for student in students]

['John', 'Jane', 'Doe']

In [52]:
my_list = [0, '', [], 0.0, '0', True]
[bool(ele) for ele in my_list]

[False, False, False, False, True, True]

In [53]:
my_list = range(6)

In [54]:
[ str(ele) for ele in my_list]

['0', '1', '2', '3', '4', '5']

In [57]:
line = 'student1,93,78,82,83,65'
name, *grades = line.split(',')
print(name, grades)
grades = [ int(grade) for grade in grades]
print(name, grades)

student1 ['93', '78', '82', '83', '65']
student1 [93, 78, 82, 83, 65]

In [60]:
def calc_average(line):
    """
    Assume line is in format 'student1,93,78,82,83,65'
    """
    import math
    name, *grades = line.split(',')
    grades = [ int(grade) for grade in grades]
    avg = math.ceil(sum(grades)/len(grades))
    return name, avg

calc_average('student1,93,78,82,83,65, 34, 9032, 90, 2340, 90')

('student1', 1199)

In [61]:
int(' 9032')

9032

In [62]:
numbers = range(20)
even = [number for number in numbers if number % 2 == 0 ]
even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
[number for number in numbers if number % 2 != 0 ]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [64]:
numbers = range(10)
[number if number % 2 == 0 else number**3 for number in range(10)]

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [68]:
sentence = 'I rEAlly want to gO to work'
vowels = 'aeiou'

''.join([char for char in sentence if char.lower() not in vowels and char.strip() ])

'rllywnttgtwrk'

In [83]:
def get_unique_nationalities():
    filename = 'soccer_players_statistics.csv'
    header = False
    unique_nat = []
    with open(filename, encoding="utf-8") as file:
        for line in file:
            if not line.strip():
                continue
            if not header:
                header = True
                continue
                
            columns = line.strip().split(',')
            nat = columns[1]
            if nat not in unique_nat:
                unique_nat.append(nat)
    unique_nat.sort()
    return unique_nat

In [84]:
get_unique_nationalities()

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua & Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bolivia',
 'Bosnia Herzegovina',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Central African Rep.',
 'Chad',
 'Chile',
 'China PR',
 'Chinese Taipei',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'DR Congo',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'FIFA16_NationName_215',
 'FYR Macedonia',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Iran',
 'Iraq',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Korea DPR',
 'Korea Republic',
 'Kosovo',
 'Kuwait',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Netherlands',
 'New Zealand',
 'Niger',
 'Nigeria',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Ireland',
 'Romania',
 'Russia',
 'San Marino',
 'Saudi Arabia',
 'Scotland',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'Spain',
 'St Kitts Nevis',
 'St Lucia',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'São Tomé & Príncipe',
 'Tanzania',
 'Timor-Leste',
 'Togo',
 'Trinidad & Tobago',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Wales',
 'Zambia',
 'Zimbabwe']

In [91]:
def get_unique_values_by_column_name(column_name):
    filename = 'soccer_players_statistics.csv'
    header = False
    unique_vals = []
    with open(filename, encoding="utf-8") as file:
        for line in file:
            if not line.strip():
                continue
            if not header:
                header = line.strip().split(',')
                try:
                    index = header.index(column_name)
                except:
                    print(f'Column name {column_name} does not exist!')
                    return
                continue
                
            columns = line.strip().split(',')
            val = columns[index]
            if val not in unique_vals:
                unique_vals.append(val)
    unique_vals.sort()
    return unique_vals

['45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '92',
 '93',
 '94']

In [102]:
def stats(column_name):
    values = get_unique_values_by_column_name(column_name)
    try:
        values = [int(val) for val in values]
    except:
        print(f'Could not convert column {column_name} to integers')
        return
    return (min(values), max(values), round(sum(values)/len(values)))

stats('Rating')

(45, 94, 69)

In [124]:
def extract_columns(column_names):
    filename = 'soccer_players_statistics.csv'
    header = False
    values = []
    column_indices = []
    with open(filename, encoding="utf-8") as file:
        for line in file:
            if not line.strip():
                continue
            if not header:
                header = line.strip().split(',')
                try:
                    for name in column_names:
                        index = header.index(name)
                        column_indices.append(index)
                except:
                    print(f'Column name {column_name} does not exist!')
                    return
                continue
                
            columns = line.strip().split(',')
            tmp = []
            for index in column_indices:
                tmp.append(columns[index])
            
            values.append(tmp)
    return values

column_data = extract_columns(['Name','Club_Joining', 'Contract_Expiry'])

In [128]:
differences = []
for name, start_date, end_year in column_data:
    try:
        start_year = int(start_date.split('/')[-1])
        end_year = float(end_year)
    except:
        continue
    differences.append(end_year-start_year)
print(min(differences), max(differences), sum(differences)/len(differences))

0.0 30.0 4.219309717404902

In [103]:
with open('soccer_players_statistics.csv', encoding='utf-8') as file:
    for line in file:
        header = line.strip().split(',')
        break

In [105]:
 header.index('Nationality')

1

In [108]:
for index, ele in enumerate(header):
    print(index, ele)

0 Name
1 Nationality
2 National_Position
3 National_Kit
4 Club
5 Club_Position
6 Club_Kit
7 Club_Joining
8 Contract_Expiry
9 Rating
10 Height
11 Weight
12 Preferred_Foot
13 Birth_Date
14 Age
15 Preferred_Position
16 Work_Rate
17 Weak_foot
18 Skill_Moves
19 Ball_Control
20 Dribbling
21 Marking
22 Sliding_Tackle
23 Standing_Tackle
24 Aggression
25 Reactions
26 Attacking_Position
27 Interceptions
28 Vision
29 Composure
30 Crossing
31 Short_Pass
32 Long_Pass
33 Acceleration
34 Speed
35 Stamina
36 Strength
37 Balance
38 Agility
39 Jumping
40 Heading
41 Shot_Power
42 Finishing
43 Long_Shots
44 Curve
45 Freekick_Accuracy
46 Penalties
47 Volleys
48 GK_Positioning
49 GK_Diving
50 GK_Kicking
51 GK_Handling
52 GK_Reflexes