In [1]:
'' * 5

''

In [2]:
5 * ''

''

In [3]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [8]:
x = range(5) # (0, 5) == > 0, 1, 2, 3, 4
x = range(1, 5) # 1, 2, 3, 4
x = range(1, 10, 2) # 1, 3, 5, 7, 9

In [10]:
x = list(x)

In [11]:
x

[1, 3, 5, 7, 9]

In [12]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [13]:
x = [1, 7, 3]

In [14]:
sum(x)

11

In [17]:
total = 0
for ele in x:
    total = total * 10 + ele
    print(total)
print(total)

1
17
173
173

In [19]:
string1 = '1134000234'
output = '0001123344]
''.join(sorted(string1))

'0001123344'

In [26]:
sorted(string1)

['0', '0', '0', '1', '1', '2', '3', '3', '4', '4']

In [27]:
''.join(sorted(string1))

'0001123344'

In [ ]:
# [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
# [3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [20]:
store = [0] * 10

In [22]:
for char in string1:
    index = int(char)
    store[index] += 1

In [23]:
store

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [32]:
new_string = ''
for index, count in enumerate(store):
    tmp = str(index) * count
    new_string += tmp

new_string

'0001123344'

In [37]:
x = '                     '
x.strip()

''

In [38]:
with open('oscar_age_female.csv') as file:
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
            
        print(line.strip())

"Index", "Year", "Age", "Name", "Movie"
1, 1928, 22, "Janet Gaynor", "Seventh Heaven, Street Angel and Sunrise: A Song of Two Humans"
2, 1929, 37, "Mary Pickford", "Coquette"
3, 1930, 28, "Norma Shearer", "The Divorcee"
4, 1931, 63, "Marie Dressler", "Min and Bill"
5, 1932, 32, "Helen Hayes", "The Sin of Madelon Claudet"
6, 1933, 26, "Katharine Hepburn", "Morning Glory"
7, 1934, 31, "Claudette Colbert", "It Happened One Night"
8, 1935, 27, "Bette Davis", "Dangerous"
9, 1936, 27, "Luise Rainer", "The Great Ziegfeld"
10, 1937, 28, "Luise Rainer", "The Good Earth"
11, 1938, 30, "Bette Davis", "Jezebel"
12, 1939, 26, "Vivien Leigh", "Gone with the Wind"
13, 1940, 29, "Ginger Rogers", "Kitty Foyle"
14, 1941, 24, "Joan Fontaine", "Suspicion"
15, 1942, 38, "Greer Garson", "Mrs. Miniver"
16, 1943, 25, "Jennifer Jones", "The Song of Bernadette"
17, 1944, 29, "Ingrid Bergman", "Gaslight"
18, 1945, 40, "Joan Crawford", "Mildred Pierce"
19, 1946, 30, "Olivia de Havilland", "To Each His Own"
20, 1947, 35, "Loretta Young", "The Farmer's Daughter"
21, 1948, 32, "Jane Wyman", "Johnny Belinda"
22, 1949, 33, "Olivia de Havilland", "The Heiress"
23, 1950, 29, "Judy Holliday", "Born Yesterday"
24, 1951, 38, "Vivien Leigh", "A Streetcar Named Desire"
25, 1952, 54, "Shirley Booth", "Come Back, Little Sheba"
26, 1953, 24, "Audrey Hepburn", "Roman Holiday"
27, 1954, 25, "Grace Kelly", "The Country Girl"
28, 1955, 48, "Anna Magnani", "The Rose Tattoo"
29, 1956, 41, "Ingrid Bergman", "Anastasia"
30, 1957, 28, "Joanne Woodward", "The Three Faces of Eve"
31, 1958, 41, "Susan Hayward", "I Want to Live!"
32, 1959, 39, "Simone Signoret", "Room at the Top"
33, 1960, 29, "Elizabeth Taylor", "BUtterfield 8"
34, 1961, 27, "Sophia Loren", "Two Women"
35, 1962, 31, "Anne Bancroft", "The Miracle Worker"
36, 1963, 31, "Patricia Neal", "Hud"
37, 1964, 29, "Julie Andrews", "Mary Poppins"
38, 1965, 25, "Julie Christie", "Darling"
39, 1966, 35, "Elizabeth Taylor", "Who's Afraid of Virginia Woolf?"
40, 1967, 60, "Katharine Hepburn", "Guess Who's Coming to Dinner"
41, 1968, 61, "Katharine Hepburn", "The Lion in Winter"
42, 1969, 26, "Barbra Streisand", "Funny Girl"
43, 1970, 35, "Maggie Smith", "The Prime of Miss Jean Brodie"
44, 1971, 34, "Glenda Jackson", "Women in Love"
45, 1972, 34, "Jane Fonda", "Klute"
46, 1973, 27, "Liza Minnelli", "Cabaret"
47, 1974, 37, "Glenda Jackson", "A Touch of Class"
48, 1975, 42, "Ellen Burstyn", "Alice Doesn't Live Here Anymore"
49, 1976, 41, "Louise Fletcher", "One Flew Over the Cuckoo's Nest"
50, 1977, 36, "Faye Dunaway", "Network"
51, 1978, 32, "Diane Keaton", "Annie Hall"
52, 1979, 41, "Jane Fonda", "Coming Home"
53, 1980, 33, "Sally Field", "Norma Rae"
54, 1981, 31, "Sissy Spacek", "Coal Miner's Daughter"
55, 1982, 74, "Katharine Hepburn", "On Golden Pond"
56, 1983, 33, "Meryl Streep", "Sophie's Choice"
57, 1984, 49, "Shirley MacLaine", "Terms of Endearment"
58, 1985, 38, "Sally Field", "Places in the Heart"
59, 1986, 61, "Geraldine Page", "The Trip to Bountiful"
60, 1987, 21, "Marlee Matlin", "Children of a Lesser God"
61, 1988, 41, "Cher", "Moonstruck"
62, 1989, 26, "Jodie Foster", "The Accused"
63, 1990, 80, "Jessica Tandy", "Driving Miss Daisy"
64, 1991, 42, "Kathy Bates", "Misery"
65, 1992, 29, "Jodie Foster", "The Silence of the Lambs"
66, 1993, 33, "Emma Thompson", "Howards End"
67, 1994, 36, "Holly Hunter", "The Piano"
68, 1995, 45, "Jessica Lange", "Blue Sky"
69, 1996, 49, "Susan Sarandon", "Dead Man Walking"
70, 1997, 39, "Frances McDormand", "Fargo"
71, 1998, 34, "Helen Hunt", "As Good as It Gets"
72, 1999, 26, "Gwyneth Paltrow", "Shakespeare in Love"
73, 2000, 25, "Hilary Swank", "Boys Don't Cry"
74, 2001, 33, "Julia Roberts", "Erin Brockovich"
75, 2002, 35, "Halle Berry", "Monster's Ball"
76, 2003, 35, "Nicole Kidman", "The Hours"
77, 2004, 28, "Charlize Theron", "Monster"
78, 2005, 30, "Hilary Swank", "Million Dollar Baby"
79, 2006, 29, "Reese Witherspoon", "Walk the Line"
80, 2007, 61, "Helen Mirren", "The Queen"
81, 2008, 32, "Marion Cotillard", "La Vie en rose"
82, 2009, 33, "Kate Winslet", "The Reader"
83, 2010, 45, "Sandra Bullock", "The Blind Side"
84, 2011, 29, "Natalie Portman", "Black Swan"
85, 2012, 62, "Meryl Streep", "The Iron Lady"
86, 2013, 22, "Jennifer Lawrence", "Silver Linings Playbook"
87, 2014, 44, "Cate Blanchett", "Blue Jasmine"
88, 2015, 54, "Julianne Moore", "Still Alice"
89, 2016, 26, "Brie Larson", "Room"

In [42]:
numbers = [1, 3, 4, 6, 3]
for number in numbers:
    
    if number == 3:
        continue # any below this line, ignore and go to next value in for loop
    print('line3', number*str(number))    
    print('line7', number)

line3 1
line7 1
line3 4444
line7 4
line3 666666
line7 6

In [49]:
numbers = []
with open('numbers.txt') as file:
    for line in file:
        if not line.strip():
            continue
        try:
            number = float(line)
        except:
            print('Encountered a bad value', line.strip())
            continue
        numbers.append(number)
numbers

Encountered a bad value 32.o

[3.0, 9.0, 32.0, 324.0, 9.0, 234.0, 23.4, 34.0, 12.0, 44.0, 0.0]

In [53]:
line = '            \n'
not line.strip()

True

In [48]:
sum(numbers)/len(numbers)

72.44

In [54]:
x = [1, 34, 2, 23, 5, 5, 34, 2]
1 in x

True

In [55]:
35 in x

False

In [56]:
unique_values = []
for ele in x:
    if ele not in unique_values:
        unique_values.append(ele)

In [57]:
unique_values

[1, 34, 2, 23, 5]

In [58]:
float('34\n')

34.0

In [59]:
float('34        ')

34.0

In [66]:
def sum_file(filename):
    output = []
    with open(filename) as file:
        for line in file:
            if not line.strip():
                continue
            try:
                number = float(line)
            except:
                continue
            output.append(number)
    return sum(output)/len(output)
print(sum_file('for_ex7_data1.txt'))
print(sum_file('for_ex7_data2.txt'))
print(sum_file('for_ex7_data3.txt'))

78.8
64.42857142857143
75.43

In [67]:
import random
random.seed(503)
help(random.randint)

Help on method randint in module random:

randint(a, b) method of random.Random instance
    Return random integer in range [a, b], including both end points.

In [85]:
def simulate_coin_toss(n):
    tosses = ''
    for n in range(n):
        toss = random.randint(0, 1)
        if toss == 0:
            tosses += 'H'
        else:
            tosses += 'T'
    return tosses

In [101]:
0 # head
1 # tail
def probablity_h_t(n):
    tosses = simulate_coin_toss(n)
    heads = tosses.count('H')
    tails = tosses.count('T')
    p_h = heads/len(tosses)
    p_t = tails/len(tosses)
    return(p_h, p_t)

probablity_h_t(10_000_000)

(0.5001816, 0.4998184)

In [116]:
filename = 'for_ex11_data.txt'
with open(filename) as file, open('output.csv', 'w') as output:
    for line in file:
        if not line.strip():
            continue

        student_name, *tmp = line.strip().split(',')
        grades = []
        for ele in tmp:
            grades.append(int(ele))
        avg = sum(grades)/len(grades)
        line = f'{student_name},{avg:.2f}\n'
        print(line)
        output.write(line)

student1,68.12

student2,79.60

student3,85.80

student4,78.80

student5,83.40

student6,73.80

student7,81.60

student8,90.00

student9,87.00

student10,78.20

In [1]:
index

NameError: name 'index' is not defined