In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("join_example_database.db")
# cur = conn.cursor()
sql_statement = "select Quantities.product, Quantities.quantity FROM Quantities Where quantity > 60;"
df = pd.read_sql_query(sql_statement, conn)
df

    PRODUCT  QUANTITY
0  Avacados        63
1    Melons        66
2    Squash        92

In [33]:
df.to_csv('dbex_1.csv', index = False)
data = pd.read_csv("dbex_1.csv") 
df.equals(data)

True

In [29]:
def dbex_1():
    """
    Return all products with quantity greater than 60;
    output columns: product_name, product_quantity
    output (df, sql_statement)
    """

    import pandas as pd
    import sqlite3
    conn = sqlite3.connect("join_example_database.db")
    cur = conn.cursor()
    sql_statement = "select Quantities.product, Quantities.quantity FROM Quantities Where quantity > 60;"
    df = pd.read_sql_query(sql_statement, conn)
    return (df, sql_statement)

In [31]:
df, sql_statement = dbex_1()

data = pd.read_csv("dbex_1.csv") 
conn = sqlite3.connect("join_example_database.db")
cur = conn.cursor()
df = pd.read_sql_query(sql_statement, conn)

assert df.equals(data) == True