In [8]:
##################################################################
# for_ex9.py
# Write a function that uses the output from the 
# coin_toss function and calculates the probability of H and T
# Input: number of simulation
# Output: probability of H and T


def coin_toss(number_of_simulations):
    import random
    
    output = ''
    for i in range(number_of_simulations):
        toss = random.randint(0,1)
        
        if toss == 0:
            toss = 'H'
        else:
            toss = 'T'
            
        output += toss
        
    return output

In [21]:
random.random()

0.6376399666745366

In [9]:
output = coin_toss(10)
print(output)

HHTHHHTHTT

In [48]:
def calc_prob(no_sims):
    results = coin_toss(no_sims)
    
    H = 0
    T = 0
    for toss in results:
        if toss == 'H':
            H += 1
        else:
            T += 1
    
    
    print(f'Heads: {H/no_sims*100}; Tails: {T/no_sims*100}')

calc_prob(10000)

Heads: 49.51; Tails: 50.49

In [52]:
my_list = ['A', 'B', 'C', 'D']
random.choice(my_list)

'D'

In [58]:
# while_ex1
# Write a program that takes integers from the user and returns the average
# Use a while loop and make an empty string the stop criteria.

number = input('Enter a number: ')
total = 0
number_of_inputs = 0
while number:
    total += int(number)
    number_of_inputs += 1
    number = input('Enter a number: ')
    
print(total/number_of_inputs)

Enter a number: 10
Enter a number: 0
Enter a number: 19
Enter a number:
9.666666666666666

In [61]:
###############################################################
# while_ex2
# Write a program that takes integers from the user and returns the average
# Use a while loop and make negative number the stop criteria.

number = int(input('Enter a number: '))
total = 0
number_of_inputs = 0
while number >= 0:
    total += int(number)
    number_of_inputs += 1
    number = int(input('Enter a number: '))
    
print(total/number_of_inputs)

Enter a number: 10
Enter a number: 5
Enter a number: 15
Enter a number: -1
10.0

In [62]:
# while_ex4
# Write a program that takes an integer and counts down to zero -- print the value

number = int(input('Enter a number: '))

while number > -1:
    print(number)
    number -= 1

Enter a number: 10
10
9
8
7
6
5
4
3
2
1
0

In [64]:
# [ f(ele) for ele in sequence ]

sequence = [1, 2, 3, 4, 5]

my_list = []
for ele in sequence:
    squared = ele*ele
    my_list.append(squared)
    

print(my_list)

[1, 4, 9, 16, 25]

In [65]:
my_list2 = [ ele*ele for ele in sequence ]

In [66]:
print(my_list2)

[1, 4, 9, 16, 25]

In [70]:
# list_comp_ex1.py
# Re-write the following code to use List Comprehension
# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * ele
#     new_list.append(tmp)

my_list = [1, 2, 3]
new_list = [ele*ele for ele in my_list]
print(new_list)

[1, 4, 9]

In [71]:
###############################################################
# list_comp_ex2.py
# Re-write the following code to use List Comprehension
# # Multiply each number by 10

# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * 10
#     new_list.append(tmp)
my_list = [1, 2, 3]
new_list = [ele*10 for ele in my_list]
print(new_list)

[10, 20, 30]

In [76]:
my_string = 'where is the rest of the class?'

my_string2 = [blah.upper()  for blah in my_string]
print(my_string2)

my_string3 = ''.join(my_string2)
print(my_string3)
print(my_string.upper())

['W', 'H', 'E', 'R', 'E', ' ', 'I', 'S', ' ', 'T', 'H', 'E', ' ', 'R', 'E', 'S', 'T', ' ', 'O', 'F', ' ', 'T', 'H', 'E', ' ', 'C', 'L', 'A', 'S', 'S', '?']
WHERE IS THE REST OF THE CLASS?
WHERE IS THE REST OF THE CLASS?

In [77]:
###############################################################
# list_comp_ex4.py
# Title each name in the student list

students = ['john', 'jane', 'doe']


students = [student.title() for student in students]
print(students)

['John', 'Jane', 'Doe']

In [81]:
my_list = [0, '', [], 1, '1', '0']
my_list2 = [bool(ele) for ele in my_list]
print(my_list2)

[False, False, False, True, True, True]

In [79]:
bool(0)

False

In [82]:
my_list = range(6)

my_list2 = [str(ele) for ele in my_list]
print(my_list2)

['0', '1', '2', '3', '4', '5']

In [83]:
my_list = list(range(6))
print(my_list)

[0, 1, 2, 3, 4, 5]

In [87]:
###############################################################
# list_comp_ex7.py
# use list comprehension to reduce a list of numbers to just even or odd


numbers = range(20)

odd = [ele for ele in numbers if ele % 2 != 0]
print(odd)


even = [ele for ele in numbers if ele % 2 == 0]
print(even)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [90]:
#[ f(ele) if condition else g(ele) for ele in sequence ]
###############################################################
# list_comp_ex8.py
# use list comprehension to modify a list of numbers such that evens are left as is
# and the odds are raised to the three power


numbers = range(10)

my_list = [ele if ele % 2 == 0 else ele**3 for ele in numbers]
print(my_list)

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [94]:
###############################################################
# list_comp_ex9.py
# use list comprehension to remove vowels from a sentence

sentence = 'I rEAlly want to gO to work'

vowels = ['a', 'e', 'i', 'o', 'u']

new_sentence = [letter for letter in sentence if letter.lower() not in vowels]
print(''.join(new_sentence))

 rlly wnt t g t wrk

In [95]:

sentence = 'I rEAlly want to gO to work'

vowels = 'aeiou'

new_sentence = [letter for letter in sentence if letter.lower() not in vowels]
print(''.join(new_sentence))

 rlly wnt t g t wrk

In [97]:
my_list = [1, 2, 3.14, 'str']


my_str = ['a', 'b', 'c', 'd']
my_str = 'abcd'
'd' in my_str

True

In [98]:
my_str = 'abcdef'
for letter in my_str:
    print(letter)

a
b
c
d
e
f

In [99]:
my_str = ['a', 'b', 'c', 'd']
my_str.upper()

AttributeError: 'list' object has no attribute 'upper'

In [100]:
my_str = 'abcd'
my_str.upper()

'ABCD'

In [101]:
long_string = 'abc efg hij'

'abc' in long_string

True

In [102]:
list_of_strs = ['abc', 'efg', 'hij']
'abc' in list_of_strs

True

In [103]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

In [104]:
A

{0, 2, 4, 6, 8}

In [105]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [106]:
A & B

{2, 4}

In [107]:
2 in A

True

In [116]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5, 15, 23, 43};
print(A & B)
A - B

{2, 4}

{0, 6, 8}

In [110]:

B - A

{1, 3, 5}

In [111]:
my_list = [1, 1, 2, 3]
my_list = list(set(my_list))

In [112]:
my_list

[1, 2, 3]

In [118]:
# Ex1
# Write a function that takes name of two gene files, 
# reads them, and returns which genes are:
# 1) In first file but not in second file
# 2) In second file but not in first file

filename1 = 'gene_list1.txt'
filename2 = 'gene_list2.txt'
def gene_sets(filename1, filename2):
    gene1 = []
    with open(filename1) as fh:
        for line in fh:
            if not line.strip():
                continue
            gene1.append(line.strip())
            
    gene2 = []
    with open(filename2) as fh:
        for line in fh:
            if not line.strip():
                continue
            gene2.append(line.strip())

    gene1 = set(gene1)
    gene2 = set(gene2)
    output1 = gene1-gene2
    output2 = gene2-gene1
    print(output1)
    print(output2)

In [115]:
gene_sets(filename1, filename2)

['A1BG', 'A1CF', 'A2M', 'A2ML1', 'A3GALT2', 'A4GALT', 'A4GNT', 'AAAS', 'AACS', 'AADAC', 'AADACL2', 'AADACL3', 'AADACL4', 'AADAT', 'AAGAB', 'AAK1', 'AAMDC', 'AAMP', 'AANAT', 'AAR2', 'AARD', 'AARS1', 'AARS2', 'AARSD1', 'AASDH', 'AASDHPPT', 'AASS', 'AATF', 'AATK', 'ABAT', 'ABCA1', 'ABCA2', 'ABCA3', 'ABCA4', 'ABCA5', 'ABCA6', 'ABCA7', 'ABCA8', 'ABCA9', 'ABCA10', 'ABCA12', 'ABCA13', 'ABCB1', 'ABCB4', 'ABCB5', 'ABCB6', 'ABCB7', 'ABCB8', 'ABCB9', 'ABCB10', 'ABCB11', 'ABCC1', 'ABCC2', 'ABCC3', 'ABCC4', 'ABCC5', 'ABCC6', 'ABCC8', 'ABCC9', 'ABCC10', 'ABCC11', 'ABCC12', 'ABCD1', 'ABCD2', 'ABCD3', 'ABCD4', 'ABCE1', 'ABCF1', 'ABCF2', 'ABCF3', 'ABCG1', 'ABCG2', 'ABCG4', 'ABCG5', 'ABCG8', 'ABHD1', 'ABHD2', 'ABHD3', 'ABHD4', 'ABHD5', 'ABHD6', 'ABHD8', 'ABHD10', 'ABHD11', 'ABHD12', 'ABHD12B', 'ABHD13', 'ABHD14A', 'ABHD14B', 'ABHD15', 'ABHD16A', 'ABHD16B', 'ABHD17A', 'ABHD17B', 'ABHD17C', 'ABHD18', 'ABI1', 'ABI2', 'ABI3', 'ABI3BP', 'ABITRAM', 'ABL1', 'ABL2', 'ABLIM1', 'ABLIM2', 'ABLIM3', 'ABO', 'ABR', 'ABRA', 'ABRACL', 'ABRAXAS1', 'ABRAXAS2', 'ABT1', 'ABTB1', 'ABTB2', 'ACAA1', 'ACAA2', 'ACACA', 'ACACB', 'ACAD8', 'ACAD9', 'ACAD10', 'ACAD11', 'ACADL', 'ACADM', 'ACADS', 'ACADSB', 'ACADVL', 'ACAN', 'ACAP1', 'ACAP2', 'ACAP3', 'ACAT1', 'ACAT2', 'ACBD3', 'ACBD4', 'ACBD5', 'ACBD6', 'ACBD7', 'ACCS', 'ACCSL', 'ACD', 'ACE', 'ACE2', 'ACER1', 'ACER2', 'ACER3', 'ACHE', 'ACIN1', 'ACKR1', 'ACKR2', 'ACKR3', 'ACKR4', 'ACLY', 'ACMSD', 'ACO1', 'ACO2', 'ACOD1', 'ACOT1', 'ACOT2', 'ACOT4', 'ACOT6', 'ACOT7', 'ACOT8', 'ACOT9', 'ACOT11', 'ACOT12', 'ACOT13', 'ACOX1', 'ACOX2', 'ACOX3', 'ACOXL', 'ACP1', 'ACP2', 'ACP3', 'ACP4', 'ACP5', 'ACP6', 'ACP7', 'ACR', 'ACRBP', 'ACRV1', 'ACSBG1', 'ACSBG2', 'ACSF2', 'ACSF3', 'ACSL1', 'ACSL3', 'ACSL4', 'ACSL5', 'ACSL6', 'ACSM1', 'ACSM2A', 'ACSM2B', 'ACSM3', 'ACSM4', 'ACSM5', 'ACSM6', 'ACSS1', 'ACSS2', 'ACSS3', 'ACTA1', 'ACTA2', 'ACTB', 'ACTBL2', 'ACTC1', 'ACTG1', 'ACTG2', 'ACTL6A', 'ACTL6B', 'ACTL7A', 'ACTL7B', 'ACTL8', 'ACTL9', 'ACTL10', 'ACTN1', 'ACTN2', 'ACTN3', 'ACTN4', 'ACTR1A', 'ACTR1B', 'ACTR2', 'ACTR3', 'ACTR3B', 'ACTR3C', 'ACTR5', 'ACTR6', 'ACTR8', 'ACTR10', 'ACTRT1', 'ACTRT2', 'ACTRT3', 'ACVR1', 'ACVR1B', 'ACVR1C', 'ACVR2A', 'ACVR2B', 'ACVRL1', 'ACY1', 'ACY3', 'ACYP1', 'ACYP2', 'ADA']
['ABHD11', 'ABHD12', 'ABHD12B', 'ABHD13', 'ABHD14A', 'ABHD14B', 'ABHD15', 'ABHD16A', 'ABHD16B', 'ABHD17A', 'ABHD17B', 'ABHD17C', 'ABHD18', 'ABI1', 'ABI2', 'ABI3', 'ABI3BP', 'ABITRAM', 'ABL1', 'ABL2', 'ABLIM1', 'ABLIM2', 'ABLIM3', 'ABO', 'ABR', 'ABRA', 'ABRACL', 'ABRAXAS1', 'ABRAXAS2', 'ABT1', 'ABTB1', 'ABTB2', 'ACAA1', 'ACAA2', 'ACACA', 'ACACB', 'ACAD8', 'ACAD9', 'ACAD10', 'ACAD11', 'ACADL', 'ACADM', 'ACADS', 'ACADSB', 'ACADVL', 'ACAN', 'ACAP1', 'ACAP2', 'ACAP3', 'ACAT1', 'ACAT2', 'ACBD3', 'ACBD4', 'ACBD5', 'ACBD6', 'ACBD7', 'ACCS', 'ACCSL', 'ZNF714', 'ZNF716', 'ZNF717', 'ZNF718', 'ZNF720', 'ZNF721', 'ZNF723', 'ZNF724', 'ZNF726', 'ZNF727', 'ZNF728', 'ZNF729', 'ZNF730', 'ZNF732', 'ZNF735', 'ZNF736', 'ZNF737', 'ZNF738', 'ZNF740', 'ZNF746', 'ZNF747', 'ZNF749', 'ZNF750', 'ZNF761', 'ZNF763', 'ZNF764', 'ZNF765', 'ZNF766', 'ZNF768', 'ZNF770', 'ZNF771', 'ZNF772', 'ZNF773', 'ZNF774', 'ZNF775', 'ZNF776', 'ZNF777', 'ZNF778', 'ZNF780A', 'ZNF780B', 'ZNF781', 'ZNF782', 'ZNF783', 'ZNF784', 'ZNF785', 'ZNF786', 'ZNF787', 'ZNF789', 'ZNF790', 'ZNF791', 'ZNF792', 'ZNF793', 'ZNF799', 'ZNF800', 'ZNF804A', 'ZNF804B', 'ZNF805', 'ZNF808', 'ZNF813', 'ZNF814', 'ZNF816', 'ZNF821', 'ZNF823', 'ZNF827', 'ZNF829', 'ZNF830', 'ZNF831', 'ZNF835', 'ZNF836', 'ZNF837', 'ZNF839', 'ZNF841', 'ZNF843', 'ZNF844', 'ZNF845', 'ZNF846', 'ZNF850', 'ZNF852', 'ZNF853', 'ZNF860', 'ZNF862', 'ZNF865', 'ZNF875', 'ZNF878', 'ZNF879', 'ZNF880', 'ZNF883', 'ZNF888', 'ZNF891', 'ZNFX1', 'ZNHIT1', 'ZNHIT2', 'ZNHIT3', 'ZNHIT6', 'ZNRD1', 'ZNRD2', 'ZNRF1', 'ZNRF2', 'ZNRF3', 'ZNRF4', 'ZP1', 'ZP2', 'ZP3', 'ZP4', 'ZPBP', 'ZPBP2', 'ZPLD1', 'ZPR1', 'ZRANB1', 'ZRANB2', 'ZRANB3', 'ZRSR2', 'ZSCAN1', 'ZSCAN2', 'ZSCAN4', 'ZSCAN5A', 'ZSCAN5B', 'ZSCAN5C', 'ZSCAN9', 'ZSCAN10', 'ZSCAN12', 'ZSCAN16', 'ZSCAN18', 'ZSCAN20', 'ZSCAN21', 'ZSCAN22', 'ZSCAN23', 'ZSCAN25', 'ZSCAN26', 'ZSCAN29', 'ZSCAN30', 'ZSCAN31', 'ZSCAN32', 'ZSWIM1', 'ZSWIM2', 'ZSWIM3', 'ZSWIM4', 'ZSWIM5', 'ZSWIM6', 'ZSWIM7', 'ZSWIM8', 'ZSWIM9', 'ZUP1']

In [121]:
# student
# name
# email
# id
# major

students = [
    ('john doe', 'jdoe@buffalo.edu', 123456, 'Biology'),
    ('jndoe@buffalo.edu', 'jane doe', 2223343, 'Chemistry')
]
print(students)

[('john doe', 'jdoe@buffalo.edu', 123456, 'Biology'), ('jndoe@buffalo.edu', 'jane doe', 2223343, 'Chemistry')]

In [122]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

students  = [
    {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}, 
    {
    'name': 'jane',
    'email': 'jane@email.com',
    'id': 4444,
    'major': 'Chemistry'
}
    
]

print(students)

[{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}, {'name': 'jane', 'email': 'jane@email.com', 'id': 4444, 'major': 'Chemistry'}]

In [123]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [124]:
## accessing value
key = 'name'
my_dict['name']
my_dict[key]

'john'

In [128]:

key_to_access = 'email'
my_dict[key_to_access]

'john@email.com'

In [129]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [130]:
for value in my_dict.values():
    print(value)

john
john@email.com
1234
Engineering

In [131]:
for key in my_dict.keys():
    print(key)

name
email
id
major

In [136]:
for key, value in my_dict.items():
#     print(f'Key: {key} and Value: {value}')
    print(f'{key}: {value}')

name: john
email: john@email.com
id: 1234
major: Engineering

In [137]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

students  = [
    {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}, 
    {
    'name': 'jane',
    'email': 'jane@email.com',
    'id': 4444,
    'major': 'Chemistry'
}
    
]

In [140]:
from pprint import pprint
pprint(students)

[{'email': 'john@email.com',
  'id': 1234,
  'major': 'Engineering',
  'name': 'john'},
 {'email': 'jane@email.com', 'id': 4444, 'major': 'Chemistry', 'name': 'jane'}]

In [141]:
for student in students:
    print(student)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}
{'name': 'jane', 'email': 'jane@email.com', 'id': 4444, 'major': 'Chemistry'}

In [145]:
for student in students:
    for k, v in student.items():
        print(k,v)
    print('*'*20)

name john
email john@email.com
id 1234
major Engineering
********************
name jane
email jane@email.com
id 4444
major Chemistry
********************

In [ ]:
if key in my_dict:
    print(True)
else:
    print(False)

In [146]:
my_list = ['A', 'b', 2, 3.14]

'A' in my_list

True

In [148]:
53.14 in my_list

False

In [149]:
my_dict

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [150]:
'name' in my_dict

True

In [151]:
'Name' in my_dict

False

In [152]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

In [154]:
new_student

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [155]:
toss = {}.fromkeys(
    ['HeadsCount', 'TailsCount'], 0)

print(toss)

{'HeadsCount': 0, 'TailsCount': 0}

In [156]:
my_dict = {}.fromkeys(range(5), 'iammissing')
my_dict

{0: 'iammissing',
 1: 'iammissing',
 2: 'iammissing',
 3: 'iammissing',
 4: 'iammissing'}

In [158]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

my_dict['name']

'john'

In [159]:
my_dict['blah']

KeyError: 'blah'

In [160]:
if 'blah' in my_dict:
    print('Yes')
else:
    print('No')

No

In [161]:
value = my_dict.get('name')
print(value)

john

In [162]:
value = my_dict.get('Name')
print(value)

None

In [163]:
if my_dict.get('Name'):
    print('Yes')
else:
    print('No')

No

In [164]:
my_dict.get('Name', 'N/A')

'Missing Name'

In [165]:
my_dict.pop('name')

'john'

In [166]:
my_dict

{'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [167]:
my_dict.update({'year':2010, 'ear': 2030})
print(my_dict)

{'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'year': 2010, 'ear': 2030}

In [168]:
my_dict.update({'email': 'john@buffalo.edu'})

In [169]:
my_dict

{'email': 'john@buffalo.edu',
 'id': 1234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030}

In [170]:
{ele:ele*2 for ele in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [171]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [172]:
print(dict(zip(list1,list2)))

{'john': 95, 'jane': 99, 'doe': 98}

In [175]:
list1 = ['john', 'jane', 'doe', 'jack', 'bob']
list2 = [95, 99, 98, 99, 100, 42, 234]


list(zip(list1,list2))

[('john', 95), ('jane', 99), ('doe', 98), ('jack', 99), ('bob', 100)]

In [176]:
list1 = ['john', 'jane', 'doe', 'jack', 'bob']
list2 = [95, 99, 98, 99, 100, 42, 234]
list3 = ['abc', 'efg']
list(zip(list1,list2,list3))

[('john', 95, 'abc'), ('jane', 99, 'efg')]

In [178]:
list1 = ['john', 'jane', 'doe', 'jack', 'bob']
list2 = [95, 99, 98, 99, 100, 42, 234]
dict(list(zip(list1,list2)))

{'john': 95, 'jane': 99, 'doe': 98, 'jack': 99, 'bob': 100}

In [179]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}