In [1]:
filename = 'PatientCorePopulatedTable.csv'

data = [line.strip().split('\t')for line in open(filename) if line.strip()]

In [3]:
header = data.pop(0)

In [9]:
d = list(map(lambda line: (line[0], 'Buffalo Hospital', float(line[-1])*10), data))

In [13]:
d = set(map(lambda line: line[4], data))

In [14]:
d

{'Divorced', 'Married', 'Separated', 'Single', 'Unknown', 'Widowed'}

In [15]:
d = set(map(lambda line: (line[3], line[4]), data))

In [16]:
d

{('African American', 'Married'),
 ('African American', 'Separated'),
 ('African American', 'Single'),
 ('African American', 'Unknown'),
 ('Asian', 'Divorced'),
 ('Asian', 'Married'),
 ('Asian', 'Separated'),
 ('Asian', 'Single'),
 ('Asian', 'Unknown'),
 ('Unknown', 'Divorced'),
 ('Unknown', 'Married'),
 ('Unknown', 'Single'),
 ('White', 'Divorced'),
 ('White', 'Married'),
 ('White', 'Separated'),
 ('White', 'Single'),
 ('White', 'Unknown'),
 ('White', 'Widowed')}

In [17]:
filename2 = 'AdmissionsDiagnosesCorePopulatedTable.csv'
data2 = [line.strip().split('\t')for line in open(filename2) if line.strip()]

In [19]:
data2.pop(0)

['PatientID',
 'AdmissionID',
 'PrimaryDiagnosisCode',
 'PrimaryDiagnosisDescription']

In [24]:
d = list(map(lambda line: f'({line[2]}) {line[3]}', filter(lambda line: line[1] == '1', data2)))

In [25]:
d

['(C91.00) Acute lymphoblastic leukemia not having achieved remission',
 '(M05.442) Rheumatoid myopathy with rheumatoid arthritis of left hand',
 '(K91) Intraoperative and postprocedural complications and disorders of digestive system, not elsewhere classified',
 '(M05.752) Rheumatoid arthritis with rheumatoid factor of left hip without organ or systems involvement',
 '(C94.6) Myelodysplastic disease, not classified',
 '(C92.51) Acute myelomonocytic leukemia, in remission',
 '(D12.7) Benign neoplasm of rectosigmoid junction',
 '(C79.72) Secondary malignant neoplasm of left adrenal gland',
 '(M06.31) Rheumatoid nodule, shoulder',
 '(Z13.810) Encounter for screening for upper gastrointestinal disorder',
 '(Z13.83) Encounter for screening for respiratory disorder NEC',
 '(D39.12) Neoplasm of uncertain behavior of left ovary',
 '(O99.41) Diseases of the circulatory system complicating pregnancy',
 '(O07.32) Renal failure following failed attempted termination of pregnancy',
 '(E10.630) Type 1 diabetes mellitus with periodontal disease',
 '(F11) Opioid related disorders',
 '(D13.1) Benign neoplasm of stomach',
 '(F31.4) Bipolar disorder, current episode depressed, severe, without psychotic features',
 '(O10.113) Pre-existing hypertensive heart disease complicating pregnancy, third trimester',
 '(N49.2) Inflammatory disorders of scrotum',
 '(I25.82) Chronic total occlusion of coronary artery',
 '(C51.2) Malignant neoplasm of clitoris',
 '(H75.01) Mastoiditis in infectious and parasitic diseases classified elsewhere, right ear',
 '(M01.X5) Direct infection of hip in infectious and parasitic diseases classified elsewhere',
 '(E10.339) Type 1 diabetes mellitus with moderate nonproliferative diabetic retinopathy without macular edema',
 '(C19) Malignant neoplasm of rectosigmoid junction',
 '(I67.81) Acute cerebrovascular insufficiency',
 '(C92.50) Acute myelomonocytic leukemia, not having achieved remission',
 '(I25.84) Coronary atherosclerosis due to calcified coronary lesion',
 '(M63) Disorders of muscle in diseases classified elsewhere',
 '(O9A.1) Malignant neoplasm complicating pregnancy, childbirth and the puerperium',
 '(C75.1) Malignant neoplasm of pituitary gland',
 '(M11.071) Hydroxyapatite deposition disease, right ankle and foot',
 '(F01.5) Vascular dementia',
 '(G47) Sleep disorders',
 '(G96.1) Disorders of meninges, not elsewhere classified',
 '(C91.5) Adult T-cell lymphoma/leukemia (HTLV-1-associated)',
 "(Z91.15) Patient's noncompliance with renal dialysis",
 '(C92.12) Chronic myeloid leukemia, BCR/ABL-positive, in relapse',
 '(M05.742) Rheumatoid arthritis with rheumatoid factor of left hand without organ or systems involvement',
 "(J66.1) Flax-dressers' disease",
 '(N18.1) Chronic kidney disease, stage 1',
 '(C88.3) Immunoproliferative small intestinal disease',
 '(Z12) Encounter for screening for malignant neoplasms',
 '(M05.261) Rheumatoid vasculitis with rheumatoid arthritis of right knee',
 '(B40.1) Chronic pulmonary blastomycosis',
 '(H34) Retinal vascular occlusions',
 '(M24.251) Disorder of ligament, right hip',
 '(O99.712) Diseases of the skin and subcutaneous tissue complicating pregnancy, second trimester',
 '(I79.0) Aneurysm of aorta in diseases classified elsewhere',
 '(A98.3) Marburg virus disease',
 '(M05.722) Rheumatoid arthritis with rheumatoid factor of left elbow without organ or systems involvement',
 '(H16.433) Localized vascularization of cornea, bilateral',
 '(N25.1) Nephrogenic diabetes insipidus',
 "(M02.37) Reiter's disease, ankle and foot",
 '(M10.31) Gout due to renal impairment, shoulder',
 '(I25.110) Atherosclerotic heart disease of native coronary artery with unstable angina pectoris',
 '(E72.4) Disorders of ornithine metabolism',
 '(O24.111) Pre-existing diabetes mellitus, type 2, in pregnancy, first trimester',
 '(Z13.0) Encounter for screening for diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism',
 '(M24.22) Disorder of ligament, elbow',
 '(C03.0) Malignant neoplasm of upper gum',
 '(Z12.2) Encounter for screening for malignant neoplasm of respiratory organs',
 '(C69.61) Malignant neoplasm of right orbit',
 '(O10.213) Pre-existing hypertensive chronic kidney disease complicating pregnancy, third trimester',
 '(M90.51) Osteonecrosis in diseases classified elsewhere, shoulder',
 '(F63.81) Intermittent explosive disorder',
 '(O10.13) Pre-existing hypertensive heart disease complicating the puerperium',
 '(C94.22) Acute megakaryoblastic leukemia, in relapse',
 '(C11) Malignant neoplasm of nasopharynx',
 '(I43) Cardiomyopathy in diseases classified elsewhere',
 '(E09.359) Drug or chemical induced diabetes mellitus with proliferative diabetic retinopathy without macular edema',
 '(M90.6) Osteitis deformans in neoplastic diseases',
 '(C72.1) Malignant neoplasm of cauda equina',
 '(F12.180) Cannabis abuse with cannabis-induced anxiety disorder',
 '(C18.3) Malignant neoplasm of hepatic flexure',
 '(M05.272) Rheumatoid vasculitis with rheumatoid arthritis of left ankle and foot',
 '(E10.32) Type 1 diabetes mellitus with mild nonproliferative diabetic retinopathy',
 '(M06.361) Rheumatoid nodule, right knee',
 '(H26.21) Cataract with neovascularization',
 '(Z12.13) Encounter for screening for malignant neoplasm of small intestine',
 '(D35.5) Benign neoplasm of carotid body',
 '(D16.2) Benign neoplasm of long bones of lower limb',
 '(M06.041) Rheumatoid arthritis without rheumatoid factor, right hand',
 '(M05.732) Rheumatoid arthritis with rheumatoid factor of left wrist without organ or systems involvement',
 '(M10.37) Gout due to renal impairment, ankle and foot',
 '(C67.5) Malignant neoplasm of bladder neck',
 '(M10.361) Gout due to renal impairment, right knee',
 '(K08.121) Complete loss of teeth due to periodontal diseases, class I',
 '(E30) Disorders of puberty, not elsewhere classified',
 '(G71) Primary disorders of muscles',
 '(C18.3) Malignant neoplasm of hepatic flexure',
 '(O99.351) Diseases of the nervous system complicating pregnancy, first trimester',
 '(M05.25) Rheumatoid vasculitis with rheumatoid arthritis of hip',
 '(C57.21) Malignant neoplasm of right round ligament',
 '(K00) Disorders of tooth development and eruption',
 '(M63.832) Disorders of muscle in diseases classified elsewhere, left forearm',
 '(C72.3) Malignant neoplasm of optic nerve',
 '(M05.27) Rheumatoid vasculitis with rheumatoid arthritis of ankle and foot',
 '(F06.1) Catatonic disorder due to known physiological condition']

In [32]:
def func(line):
    if float(line[-1]) > 15:
        if line[3] in ('White', 'African American') and line[4] == 'Married':
            return True
        else:
            False
        
    else:
        return False
    
d = list(map(lambda line: (line[0], line[3], line[4], line[-1]), filter(func, data)))

In [34]:
len(d)

14

In [38]:
d = list(map(lambda line: (line[4], float(line[-1])), data))

In [40]:
d2 = sorted(d, key=lambda line: (line[0], -1*line[1]))

In [41]:
d2

[('Divorced', 88.65),
 ('Divorced', 83.75),
 ('Divorced', 19.52),
 ('Divorced', 19.49),
 ('Divorced', 19.41),
 ('Divorced', 18.17),
 ('Divorced', 14.58),
 ('Divorced', 14.07),
 ('Divorced', 11.88),
 ('Divorced', 11.08),
 ('Divorced', 6.48),
 ('Married', 94.06),
 ('Married', 93.6),
 ('Married', 19.74),
 ('Married', 19.66),
 ('Married', 19.5),
 ('Married', 19.46),
 ('Married', 19.22),
 ('Married', 18.91),
 ('Married', 18.8),
 ('Married', 18.65),
 ('Married', 18.33),
 ('Married', 18.2),
 ('Married', 18.08),
 ('Married', 18.05),
 ('Married', 18.05),
 ('Married', 17.84),
 ('Married', 17.72),
 ('Married', 16.76),
 ('Married', 16.71),
 ('Married', 16.09),
 ('Married', 15.31),
 ('Married', 15.11),
 ('Married', 15.04),
 ('Married', 14.87),
 ('Married', 14.81),
 ('Married', 14.2),
 ('Married', 14.15),
 ('Married', 14.03),
 ('Married', 13.9),
 ('Married', 13.23),
 ('Married', 12.8),
 ('Married', 12.41),
 ('Married', 12.01),
 ('Married', 11.89),
 ('Married', 11.25),
 ('Married', 10.87),
 ('Married', 10.35),
 ('Married', 10.3),
 ('Married', 9.1),
 ('Married', 8.81),
 ('Married', 6.67),
 ('Married', 5.94),
 ('Married', 4.51),
 ('Married', 4.34),
 ('Married', 3.3),
 ('Separated', 98.4),
 ('Separated', 19.36),
 ('Separated', 17.98),
 ('Separated', 13.03),
 ('Separated', 10.8),
 ('Single', 94.0),
 ('Single', 93.23),
 ('Single', 89.44),
 ('Single', 19.52),
 ('Single', 18.88),
 ('Single', 18.41),
 ('Single', 18.36),
 ('Single', 16.88),
 ('Single', 16.86),
 ('Single', 16.69),
 ('Single', 16.43),
 ('Single', 16.32),
 ('Single', 16.24),
 ('Single', 15.98),
 ('Single', 15.72),
 ('Single', 15.56),
 ('Single', 15.24),
 ('Single', 14.99),
 ('Single', 14.9),
 ('Single', 14.49),
 ('Single', 14.49),
 ('Single', 14.28),
 ('Single', 13.97),
 ('Single', 13.1),
 ('Single', 12.92),
 ('Single', 12.86),
 ('Single', 11.43),
 ('Single', 11.16),
 ('Single', 11.15),
 ('Single', 11.04),
 ('Single', 7.59),
 ('Single', 1.7),
 ('Unknown', 82.08),
 ('Unknown', 19.16),
 ('Unknown', 18.95),
 ('Unknown', 16.89),
 ('Unknown', 15.02),
 ('Unknown', 12.38),
 ('Widowed', 88.66)]

In [44]:
d3 = sorted(d, key=lambda line: (line[0], line[1]), reverse=True)

In [45]:
d3

[('Widowed', 88.66),
 ('Unknown', 82.08),
 ('Unknown', 19.16),
 ('Unknown', 18.95),
 ('Unknown', 16.89),
 ('Unknown', 15.02),
 ('Unknown', 12.38),
 ('Single', 94.0),
 ('Single', 93.23),
 ('Single', 89.44),
 ('Single', 19.52),
 ('Single', 18.88),
 ('Single', 18.41),
 ('Single', 18.36),
 ('Single', 16.88),
 ('Single', 16.86),
 ('Single', 16.69),
 ('Single', 16.43),
 ('Single', 16.32),
 ('Single', 16.24),
 ('Single', 15.98),
 ('Single', 15.72),
 ('Single', 15.56),
 ('Single', 15.24),
 ('Single', 14.99),
 ('Single', 14.9),
 ('Single', 14.49),
 ('Single', 14.49),
 ('Single', 14.28),
 ('Single', 13.97),
 ('Single', 13.1),
 ('Single', 12.92),
 ('Single', 12.86),
 ('Single', 11.43),
 ('Single', 11.16),
 ('Single', 11.15),
 ('Single', 11.04),
 ('Single', 7.59),
 ('Single', 1.7),
 ('Separated', 98.4),
 ('Separated', 19.36),
 ('Separated', 17.98),
 ('Separated', 13.03),
 ('Separated', 10.8),
 ('Married', 94.06),
 ('Married', 93.6),
 ('Married', 19.74),
 ('Married', 19.66),
 ('Married', 19.5),
 ('Married', 19.46),
 ('Married', 19.22),
 ('Married', 18.91),
 ('Married', 18.8),
 ('Married', 18.65),
 ('Married', 18.33),
 ('Married', 18.2),
 ('Married', 18.08),
 ('Married', 18.05),
 ('Married', 18.05),
 ('Married', 17.84),
 ('Married', 17.72),
 ('Married', 16.76),
 ('Married', 16.71),
 ('Married', 16.09),
 ('Married', 15.31),
 ('Married', 15.11),
 ('Married', 15.04),
 ('Married', 14.87),
 ('Married', 14.81),
 ('Married', 14.2),
 ('Married', 14.15),
 ('Married', 14.03),
 ('Married', 13.9),
 ('Married', 13.23),
 ('Married', 12.8),
 ('Married', 12.41),
 ('Married', 12.01),
 ('Married', 11.89),
 ('Married', 11.25),
 ('Married', 10.87),
 ('Married', 10.35),
 ('Married', 10.3),
 ('Married', 9.1),
 ('Married', 8.81),
 ('Married', 6.67),
 ('Married', 5.94),
 ('Married', 4.51),
 ('Married', 4.34),
 ('Married', 3.3),
 ('Divorced', 88.65),
 ('Divorced', 83.75),
 ('Divorced', 19.52),
 ('Divorced', 19.49),
 ('Divorced', 19.41),
 ('Divorced', 18.17),
 ('Divorced', 14.58),
 ('Divorced', 14.07),
 ('Divorced', 11.88),
 ('Divorced', 11.08),
 ('Divorced', 6.48)]

In [46]:
'1991-05-29' > '1950-01-01'

True

In [48]:
'1945-06-27' < '1965-01-01' < '1920-01-01'

False