In [1]:
ph = float(input('Enter the pH level: '))
if ph < 7.0:
    ph = 'OK'  #indentation important
    print(ph, " is basic.") #
elif ph > 7.0:
    print(ph, " is basic.")

Enter the pH level: 5.5
OK  is basic.

In [ ]:
value = input('Enter the pH level: ')
if value:
    ph = float(value) 
    if ph < 7.0:
        print(ph, " is acidic.")
    elif ph > 7.0:
        print(ph, " is basic.")
    elif ph == 7.0:
        print(ph, " is neutral.")

else:
    print('No pH value was given!')

In [2]:
from platform import python_version

In [3]:
python_version

In [4]:
print(python_version)

<function python_version at 0x000001DDDF4E6A60>

In [5]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

C:\ProgramData\Anaconda3\python.exe
3.8.16 (default, Jan 17 2023, 22:25:28) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=8, micro=16, releaselevel='final', serial=0)

Given a number x, print FizzBuzz if it is a multiple of 5 and 7, Fizz if it is a multiple of 5, and Buzz if it is a multiple of 7.

In [6]:
x = 35

if x % 5 == 0:
    print('Fizz')
elif x % 7 == 0:
    print('Buzz')
elif x % 5 == 0 and x % 7 == 0:
    print('FizzBuzz')

Fizz

In [7]:
x = 35

if x % 5 == 0 and x % 7 == 0:
    print('FizzBuzz')
elif x % 5 == 0:
    print('Fizz')
elif x % 7 == 0:
    print('Buzz')

FizzBuzz

In [8]:
x = 35

if x % 5 == 0 and x % 7 == 0:
    print('FizzBuzz')
    
if x % 5 == 0:
    print('Fizz')
    
if x % 7 == 0:
    print('Buzz')

FizzBuzz
Fizz
Buzz

In [ ]:
# Implement the min() function for three inputs
def my_min():
    number1 = int(input('Enter first integer: '))
    number2 = int(input('Enter second integer: '))
    number3 = int(input('Enter third integer: '))

    minimum = number1  

    if number2 < minimum:
        minimum = number2

    if number3 < minimum:
        minimum = number3

    print('Minimum value is', minimum)

In [10]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[0]
grades[4]

'F'

In [11]:
days_in_months = ['NOT_A_MONTH', 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_in_months[11]

30

In [ ]:
grades_count = [20, 40, 10, 2, 3]

In [12]:
my_list = list(range(21))

In [13]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
my_list[3:] # [start:end:step]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [17]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [18]:
my_list[3:]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
my_list = list(range(21))

In [20]:
my_list[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
my_list[3:10]

[3, 4, 5, 6, 7, 8, 9]

In [22]:
my_list[3:10:2]

[3, 5, 7, 9]

In [24]:
length = len(my_list)
print(length)
my_list[:length]

21

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [29]:
my_list[-1]

20

In [30]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[-1]

'F'

In [31]:
grades[::-1]

['F', 'D', 'C', 'B', 'A']

In [32]:
grades = ['A', 'B', 'C', 'D', 'F']

In [33]:
grades[0] = 'a'

In [34]:
grades

['a', 'B', 'C', 'D', 'F']

In [35]:
grades[1:3] = 'a'

In [36]:
grades

['a', 'a', 'D', 'F']

In [37]:
grades = ['A', 'B', 'C', 'D', 'F']

In [38]:
grades[1:3] = ['a', 'a']

In [39]:
grades

['A', 'a', 'a', 'D', 'F']

In [40]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]

In [41]:
grades

['B', 'C', 'D', 'F']

In [42]:
grades = ['A', 'B', 'C', 'D', 'F']
x = del grades[0]

SyntaxError: invalid syntax (1418841046.py, line 2)

In [43]:
grades = ['A', 'B', 'C', 'D', 'F']
x = grades.pop()

In [46]:
grades

['A', 'B', 'C', 'D']

In [45]:
x

'F'

In [47]:
grades.pop(0)

'A'

In [48]:
grades

['B', 'C', 'D']

In [49]:
grades.pop(3)

IndexError: pop index out of range

In [50]:
grades.pop(2)

'D'

In [51]:
grades

['B', 'C']

In [52]:
my_list
my_list.pop(1:3)

SyntaxError: invalid syntax (2704641945.py, line 2)

In [53]:
grades1 = ['A', 'B', 'C']
grades2 = ['D', 'F']
grades = grades1 + grades2

In [54]:
grades

['A', 'B', 'C', 'D', 'F']

In [ ]:
x = [1, 2, 3]
y = [3, 4, 5]

x + y

[3, 6, 8]

In [56]:
grades = ['A', 'B', 'C', 'D', 'F']
grades *= 3

In [57]:
grades

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

In [60]:
my_list2 = [['John', [55, 65, 86]], ['Jane', [70, 85, 80]]]

In [61]:
my_list2[1][1][1]

85

In [63]:
my_str = 'ABCD'
'B' in my_str

True

In [64]:
grades

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

In [65]:
my_list = ['A', 1, 'Spam', True]
'A' in my_list

True

In [66]:
my_list = ['A', 1, 'Spam', True]
'B' in my_list

False

In [67]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]
sorted(numbers, reverse=True)

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [68]:
numbers = (3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12)

In [69]:
numbers[0] = 34

TypeError: 'tuple' object does not support item assignment

In [70]:
n = list(numbers)
print(n)

[3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

In [71]:
n[0] = 34

In [72]:
print(n)

[34, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

In [73]:
a, b = [3,4]

In [74]:
print(a, b)

3 4

In [75]:
a, b = [3, 4, 5]

ValueError: too many values to unpack (expected 2)

In [78]:
a, b, *c = [3, 4, 5, 6]

In [79]:
print(a, b, c)

3 4 []

In [80]:
a, b, *c = [3, 4]
print(a, b, c)

3 4 []

In [81]:
*a, b = [3, 4, 5]

In [82]:
print(a, b)

[3, 4] 5

In [83]:
*a, b = [3, 4, 5, 6, 7]

In [84]:
print(a, b)

[3, 4, 5, 6] 7

In [85]:
*a, b, *c = [3, 4, 5, 6, 7, 4, 4, 4]

SyntaxError: two starred expressions in assignment (1996122506.py, line 1)

In [86]:
grades = ['A', 'B', 'C']
grades.append('D')
print(grades)

['A', 'B', 'C', 'D']

In [87]:
grades = ['A', 'B', 'C']
grades.insert(1, 'F')
print(grades)

['A', 'F', 'B', 'C']

In [88]:
grades = ['A', 'B', 'C']
grades.insert(100000, 'F')
print(grades)

['A', 'B', 'C', 'F']

In [89]:
grades = ['A', 'B', 'A', 'C']
grades.remove('A')
print(grades)

['B', 'A', 'C']

In [90]:
grades = ['A', 'C', 'B', 'C']
print(grades.index('C'))

1

In [91]:
grades = ['A', 'C', 'B', 'C']
print(grades.index('E'))

ValueError: 'E' is not in list

In [92]:
x = [1, 22, 3, 4, 10, 2]
sorted(x)

[1, 2, 3, 4, 10, 22]

In [93]:
x

[1, 22, 3, 4, 10, 2]

In [94]:
x.sort()

In [95]:
x

[1, 2, 3, 4, 10, 22]

In [96]:
u = x.sort()

In [97]:
print(u)

None

In [99]:
x = 'ABCDF'

x[::-1]

'FDCBA'

In [100]:
list(x)

['A', 'B', 'C', 'D', 'F']

In [103]:
y  = list(x)

In [105]:
y.reverse()

In [106]:
y

['F', 'D', 'C', 'B', 'A']

In [107]:
''.join(y)

'FDCBA'

In [108]:
tp = (1, 2, 4, 5)
print(tp)

(1, 2, 4, 5)

In [109]:
tp[1] = 3

TypeError: 'tuple' object does not support item assignment

In [110]:
tp[3]

5

In [111]:
my_tuple = (1, 2, 3, [4, 5, 6])

In [112]:
my_tuple[1] = 33

TypeError: 'tuple' object does not support item assignment

In [113]:
my_tuple[3][1] = 55

In [114]:
my_tuple

(1, 2, 3, [4, 55, 6])

In [115]:
my_tuple[3] = 3

TypeError: 'tuple' object does not support item assignment

In [116]:
x = [1, 2, 3, (4, 5)]
x[-1][1] = 55

TypeError: 'tuple' object does not support item assignment

In [117]:
my_string = 'Doe, John'
print(my_string.split())

['Doe,', 'John']

In [118]:
f, l = my_string.split()

In [119]:
print(f,l)

Doe, John

In [121]:
f = f[:-1]
print(f)

Doe

In [ ]:
x[1:-1]

In [122]:
print(my_string.split(','))

['Doe', ' John']

In [123]:
print(my_string.split(', '))

['Doe', 'John']

In [124]:
my_string = 'range=start=3;end=20;step=2'
print(my_string.split('=', 1))

['range', 'start=3;end=20;step=2']

In [125]:
print(my_string.split('='))

['range', 'start', '3;end', '20;step', '2']

In [126]:
range_options = my_string.split('=', 1)[1]
print(range_options)

start=3;end=20;step=2

In [127]:
start, end, step = range_options.split(';')
print(start, end, step)

start=3 end=20 step=2

In [ ]:
my_string = 'range=start=3;end=20;step=2'
range_options = my_string.split('=', 1)[1]
start, end, step = range_options.split(';')
start = start.split('=')[1] # or [-1]
end = end.split('=')[1] # or [-1]
step = step.split('=')[1] # or [-1]
print(start, end, step)

In [128]:
x = 'start=3'

In [129]:
a, b = x.split('=')
print(a, b)

start 3

In [130]:
x.split('=')[1]

'3'

In [131]:
x.split('=')

['start', '3']

In [132]:
print('First line\nSecond line\nThird line')

First line
Second line
Third line

In [134]:
x = range(0,10,1)

In [135]:
print(x)

range(0, 10)

In [137]:
type(range(0,10,1))

range

In [136]:
x = list(range(0,10,1))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
for ele in range(10):
    print(ele)

0
1
2
3
4
5
6
7
8
9

In [139]:
for ele in range(10):
    print(ele)

0
1
2
3
4
5
6
7
8
9

In [140]:
x = list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
for ele in range(1, 101):
    if ele % 5 == 0 and ele % 7 == 0:
        print(ele, 'FizzBuzz')
    elif ele % 5 == 0:
        print(ele, 'Fizz')
    elif ele % 7 == 0:
        print(ele, 'Buzz')
    else:
        print(ele)

AttributeError: 'range' object has no attribute 'reverse'

In [152]:
list(range(100, 0, -1))

[100,
 99,
 98,
 97,
 96,
 95,
 94,
 93,
 92,
 91,
 90,
 89,
 88,
 87,
 86,
 85,
 84,
 83,
 82,
 81,
 80,
 79,
 78,
 77,
 76,
 75,
 74,
 73,
 72,
 71,
 70,
 69,
 68,
 67,
 66,
 65,
 64,
 63,
 62,
 61,
 60,
 59,
 58,
 57,
 56,
 55,
 54,
 53,
 52,
 51,
 50,
 49,
 48,
 47,
 46,
 45,
 44,
 43,
 42,
 41,
 40,
 39,
 38,
 37,
 36,
 35,
 34,
 33,
 32,
 31,
 30,
 29,
 28,
 27,
 26,
 25,
 24,
 23,
 22,
 21,
 20,
 19,
 18,
 17,
 16,
 15,
 14,
 13,
 12,
 11,
 10,
 9,
 8,
 7,
 6,
 5,
 4,
 3,
 2,
 1]

In [154]:
values = [4, 10, 3, 8, -6]
length = len(values)
for i in range(length):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [ ]:
(for i=0; i<length; i++) {
    
}

In [155]:
for ele in values:
    print(ele)

4
10
3
8
-6

In [157]:
for idx, ele in enumerate(values):
    print(idx, ele)

0 4
1 10
2 3
3 8
4 -6

In [158]:
x = enumerate(values)

In [159]:
print(x)

<enumerate object at 0x000001DDE1F8B080>

In [160]:
for idx, ele in x:
    print(idx, ele)

0 4
1 10
2 3
3 8
4 -6

In [161]:
for idx, ele in x:
    print(idx, ele)

In [162]:
for ele in enumerate(values):
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [163]:
for idx, ele in enumerate(values):
    print(idx, ele)

0 4
1 10
2 3
3 8
4 -6

In [ ]:
idx, ele = (0, 4)

In [164]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [168]:
list(enumerate(values))

[(0, 8), (1, 20), (2, 6), (3, 16), (4, -12)]

In [165]:
values

[8, 20, 6, 16, -12]

In [166]:
values = [4, 10, 3, 8, -6]
for i, e in enumerate(values):
    values[i] = e * 2

In [167]:
values

[8, 20, 6, 16, -12]

In [169]:
list(enumerate(values, 1))

[(1, 8), (2, 20), (3, 6), (4, 16), (5, -12)]

In [170]:
list(enumerate(values, 100))

[(100, 8), (101, 20), (102, 6), (103, 16), (104, -12)]

In [171]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [172]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [173]:
x = zip(metals, weights)

for metal, weight in x:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [174]:
for metal, weight in x:
    print(metal, weight)

In [175]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [176]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [177]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [185]:
string1 = '1134000234'
string2 = ''.join(sorted(list(string1)))
string3 = ''.join(sorted(list(string1), reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [179]:
store = [0] * 10

In [180]:
store

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [181]:
for char in string1:
    index = int(char)
    store[index] += 1

In [182]:
print(string1)

1134000234

In [183]:
print(store)

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [186]:
sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
    print(sorted_string)
print(sorted_string)

000
00011
000112
00011233
0001123344
0001123344
0001123344
0001123344
0001123344
0001123344
0001123344

In [189]:
number = 1234
sum = 0
while number:
    print(number % 10)
    sum += number % 10
    number = number // 10 
print(sum)

4
3
2
1
10

In [188]:
1234 % 10

4

In [190]:
1234 // 10

123

In [198]:
line = '99.5o'

try:
    value = float(line)
except:
    pr
    
print(value)

SyntaxError: 'continue' not properly in loop (2892553402.py, line 6)

In [194]:
x = '99.5o'
float(x)

ValueError: could not convert string to float: '99.5o'