In [1]:
bevs = [['Coke', 50], ['Pepsi', 45]]

In [3]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)
    print(beverage.name)

Coke: 60
Coke
Pepsi: 50
Pepsi
7up: 40
7up

In [4]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [5]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [7]:
name = 'Anderson, Samuel'
name.split(', ')

['Anderson', 'Samuel']

In [11]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        

    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

2.35

In [14]:
max(students, key=lambda student: student.get_gpa())

Brandon Crane; 3.89

In [15]:
min(students, key=lambda student: student.get_gpa())

Jennifer Vazquez; 1.5

In [16]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [17]:
e1 = Employee('John', 'Doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee with abstract methods earnings

In [18]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [19]:
se = SalariedEmployee('John', 'Doe', '111-22-3333', '10000')

In [20]:
print(se)

salaried employee: John Doe
social security: 111-22-3333
weekly salary: $10000

In [21]:
# Java How to Program Deitel et. al

from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'


class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'


class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'


class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'


class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [22]:
print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

In [23]:

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

In [24]:
print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

In [25]:
print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [26]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print(employee)
    
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
   
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800
hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0
commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0
base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [45]:
s1 > s2

TypeError: '>' not supported between instances of 'Student' and 'Student'

In [31]:
students

[Samuel Anderson; 2.62,
 Jacob Cummings; 3.41,
 Walter Sosa; 2.62,
 Joel Conway; 3.23,
 Andrew Burton; 2.15,
 Judith Harris; 1.83,
 Abigail Thomas; 2.61,
 Sarah Edwards; 3.31,
 Jennifer Pratt; 2.87,
 Patricia Hess; 3.1,
 Brandon Butler; 3.83,
 Tammy Williams; 3.21,
 Jonathan Williams; 1.96,
 Amy Perry; 2.87,
 Evelyn Mendez; 1.54,
 Elizabeth Jackson; 2.4,
 Douglas Cameron; 2.35,
 Heather Wright; 2.38,
 Mariah Tucker; 3.11,
 Rachel Jones; 2.86,
 Tommy Hull; 3.0,
 Miguel Guerra; 2.04,
 Sarah Hernandez; 2.02,
 Ellen Cortez; 3.43,
 Tracy Lee; 2.29,
 Troy Griffith; 2.07,
 Ana Torres; 3.14,
 Howard Moore; 2.7,
 Richard Nelson; 2.78,
 Lisa James; 2.82,
 Hannah Macias; 3.76,
 Richard Rodriguez; 2.85,
 Christopher Ho; 3.0,
 Raymond Fisher; 3.25,
 Gregory Jones; 3.38,
 Ashley Davenport; 2.0,
 Jamie Peters; 3.38,
 Lisa Aguilar; 3.88,
 David Bush; 1.94,
 Samantha Barr; 3.5,
 Steven Gordon; 2.02,
 Matthew Jones; 2.49,
 Ronald Harris; 1.55,
 Brandon Crane; 3.89,
 Michael Fry; 2.27,
 Monica Mann; 3.36,
 Richard Matthews; 1.93,
 Jon Perkins; 3.5,
 Jasmine Williams; 1.7,
 Kristy Rowland; 3.46,
 Tanya Montgomery; 1.63,
 Steven Mcgee; 2.0,
 Amber Aguilar; 1.81,
 Jason Stuart; 2.0,
 Kyle Humphrey; 3.81,
 Christina Stewart; 3.74,
 Thomas Roberts; 3.64,
 Jason Weber; 2.39,
 Karen Lee; 1.95,
 Edward Lopez; 1.86,
 Kayla Baldwin; 2.76,
 Madison Dunn; 3.11,
 Sarah Brown; 2.53,
 Christina Bowman; 2.65,
 Jennifer Vazquez; 1.5,
 Emily Mccarthy; 2.96,
 Carrie Lewis; 2.87,
 Mark Jackson; 3.48,
 Julie Weaver; 3.16,
 Lauren Torres; 3.69,
 Mary Moon; 3.62,
 Michelle Church; 3.75,
 Laura Haley; 2.98,
 Ann Rodriguez; 2.58,
 Colleen Gomez; 2.22,
 Amy Hunter; 3.47,
 Anthony Davis; 3.48,
 Dorothy Graves; 2.12,
 Phyllis Miller; 2.61,
 Robert Burnett; 1.83,
 Sophia Haley; 2.75,
 Ashley Shaw; 2.83,
 Andrew Erickson; 2.07,
 Rebecca Weaver; 3.66,
 Danielle Young; 1.71,
 Carol Howell; 2.63,
 Jasmin Stephens; 2.63,
 Justin Guerrero; 3.28,
 Ashley Aguilar; 1.61,
 Kelly Holmes; 2.13,
 Erica Fleming; 1.52,
 Raymond Christian; 1.67,
 Brian Franklin; 3.0,
 Ashley James; 2.62,
 Christine Johnson; 3.65,
 Brian Holland; 2.44,
 Rebecca Harrison; 3.64,
 Meagan Harrell; 3.54,
 Johnny Mitchell; 1.65,
 Kevin Cooper; 2.35]

In [33]:
s1 = students[0]
s2 = students[1]

In [34]:
print(s1, s2)

Samuel Anderson; 2.62 Jacob Cummings; 3.41

In [37]:
s1 > s2

TypeError: '>' not supported between instances of 'Student' and 'Student'

In [38]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2
    
    def __str__(self):
        return "Circle with radius " + str(self.radius)

In [39]:
c1 = Circle(10)
c2 = Circle(5)

In [40]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [41]:
print(c2.get_area())

78.53981633974483

In [42]:

class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle): # another right side of the operator
        return Circle(self.radius + another_circle.radius)
    
c1 = Circle(10)
c2 = Circle(5)   
c3 = c1 + c2 # c1.__add__(c1, c2)

In [43]:
print(c3)

Circle with radius 15

In [44]:
c1 > c2

TypeError: '>' not supported between instances of 'Circle' and 'Circle'

In [46]:

class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius

In [63]:
c1 = Circle(10)
c2 = Circle(5)   
print(c1 + c2)

Circle with radius 15

In [48]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        

    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)
    
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.get_gpa()}'
    
    def __gt__(self, other_student):
        return self.get_gpa() > other_student.get_gpa()
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

In [49]:
s1 = students[0]
s2 = students[1]

In [50]:
s1 > s2

False

In [51]:
print(s1, s2)

Samuel Anderson; 2.62 Jacob Cummings; 3.41

In [52]:
max(students)

Brandon Crane; 3.89

In [53]:
min(students)

Jennifer Vazquez; 1.5

In [54]:
x = 3

In [56]:
x.__gt__(9)

False

In [57]:
dir(x)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [58]:
dir()

['ABC',
 'BasePlusCommissionEmployee',
 'Beverage',
 'Circle',
 'CommissionEmployee',
 'Employee',
 'HourlyEmployee',
 'In',
 'Logfile',
 'Out',
 'Person',
 'SalariedEmployee',
 'Student',
 '_',
 '_14',
 '_15',
 '_27',
 '_29',
 '_30',
 '_31',
 '_50',
 '_52',
 '_53',
 '_55',
 '_56',
 '_57',
 '_6',
 '_7',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'abstractmethod',
 'b1',
 'b2',
 'b3',
 'base_plus_commission_employee',
 'beverage',
 'beverages',
 'bevs',
 'c1',
 'c2',
 'c3',
 'commission_employee',
 'credits',
 'employee',
 'employees',
 'exit',
 'file',
 'filename',
 'first_name',
 'get_ipython',
 'hourly_employee',
 'l1',
 'l2',
 'last_name',
 'line',
 'math',
 'name',
 'q_points',
 'quit',
 'row',
 's1',
 's2',
 'salaried_employee',
 'se',
 'student',
 'students',
 'x']

In [59]:
x = 10000
y = 10000

print(id(x), id(y))

2781101622416 2781101622928

In [60]:
x = 48
y = 48

print(id(x), id(y))

140732709610720 140732709610720

In [61]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p2+p1)

11, 10

In [62]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

1. __iter__()
    1. init a value
    2. return self #### important you will forget this!!!
2. __next__():
    1. increment next value after saving the current value 
    2. return current value
    3. if above limit, raise stop iteration

In [93]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration
            
my_range = MyRange(6)

my_range.__iter__()

In [85]:
my_range.__next__()

StopIteration:

In [94]:
for ele in my_range:
    print(ele)

0
1
2
3
4
5

In [97]:
for ele in my_range:
    print(ele)

0
1
2
3
4
5

In [98]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration


for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [104]:
my_range1 = MyRange(6)

my_range1.__iter__()
value = my_range1.__next__()
while True:
    print(value)
    try:
        value = my_range1.__next__()
    except:
        break

0
1
2
3
4
5

In [105]:
## lets use generator

def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [108]:
my_gen = list(PowX(10, 3))
for ele in my_gen:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [109]:
for ele in my_gen:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [110]:
s1

Samuel Anderson; 2.62

In [111]:
s2

Jacob Cummings; 3.41

In [112]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

t1 = TestClass()
t2 = TestClass()
print(id(t1), id(t2), t2 is t1)

print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

2781098370384 2781098371104 False

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [113]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

In [114]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [116]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)
print('TestClass.class_variable: ', TestClass.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4
TestClass.class_variable:  2

In [117]:
TestClass.class_variable = 5

In [118]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)
print('TestClass.class_variable: ', TestClass.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4
TestClass.class_variable:  5

In [119]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable


t1 = TestClass(1)
t2 = TestClass(2)


print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [121]:
print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

In [122]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

In [123]:
print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

In [124]:
print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

In [125]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [126]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [127]:
class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2

In [128]:
TestClass.add(3, 4)

7

In [129]:
print('@staticmethod add: ', TestClass.add(3,4))

@staticmethod add:  7

In [132]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2 + class_variable

In [133]:
print('@staticmethod add: ', TestClass2.add(3,4))

NameError: name 'class_variable' is not defined

In [135]:

class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  11

In [136]:
class TestClass2:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable

print('@classmethod add -- access to class variable: ', TestClass2.add(5,6))

@classmethod add -- access to class variable:  12

In [140]:
class TestClass3:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        sub(number1,number2)
        return number1 + number2 + cls.class_variable
    
    def sub(num1, num2):
        
        print(num1-num2)

print('@classmethod add -- access to class variable: ', TestClass3.add(5,6))

NameError: name 'sub' is not defined

In [145]:
class TestClass:
    class_variable = 1
    

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable


    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29 + self.somenumber


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))

add_static:  27
add_class:  28

In [147]:
t1 = TestClass()

print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))
print('Call from object -- add_object: ', t1.add_object(13, 14))

Call from class -- add_object:  67
Call from object -- add_object:  67

In [154]:
import operator
data = (
    ('AMD', 'Advanced Micro Devices, Inc.','$120.88', '+4.27', '121,475,927'),
    ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
    ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
    ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
    ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
)
sorted(data, key=operator.itemgetter(4))

[('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
 ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613')]

In [158]:
from natsort import natsorted
natsorted(data, key=lambda ele: float(ele[3]), reverse=True)

[('AMD', 'Advanced Micro Devices, Inc.', '$120.88', '+4.27', '121,475,927'),
 ('NVDA', 'NVIDIA Corporation', '$240.82', '+3.34', '49,046,544'),
 ('AAPL', 'Apple Inc.', '$164.71', '+1.97', '80,725,613'),
 ('ZNGA', 'Zynga Inc.', '$9.18', '+0.37', '48,193,380'),
 ('OPEN', 'Opendoor Technologies Inc', '$8.42', '-2.55', '53,559,847')]

In [156]:
int('-3')

-3

In [157]:
int('+3')

3