In [1]:
# function 
def average(numbers): 
  return sum(numbers) / len(numbers)

# data
scores = [80, 90, 95, 92 85]
scores = {
    'e1':80,
    'e2':90,
    'e3':95,
    'e4':92,
}

# User has to know which data to pass into function
# to get desired output
print(f'The average score is {average(scores)}.')

SyntaxError: invalid syntax (1165691915.py, line 6)

In [4]:
scores = {
    'e1':80,
    'e2':90,
    'e3':95,
    'e4':92,
}

In [6]:
scores = {
    1:80,
    2:90,
    3:95,
    4:92,
}

In [7]:
sum(scores)

10

In [20]:
class ScoreList:
  def __init__(self, scores):
    print('I am in __init__')
    self.scores = scores
    self.length = len(self.scores)

  def average(self):
    return sum(self.scores) / self.length

# Class()
scores1 = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores1.average()}.')

I am in __init__
The final score is 88.4.

In [16]:
x = [1, 2, 3, 4]
x.__len__()

4

In [10]:
scores2 = ScoreList([8, 9, 9, 9, 8]) 
print(f'The final score is {scores2.average()}.')

The final score is 8.6.

In [21]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y
p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)

<__main__.Point object at 0x000001705B76F820>
<__main__.Point object at 0x000001705C9472B0>

In [22]:
print(p1 == p2)

False

In [23]:
print(p1 is p2)

False

In [27]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
p2 = p1
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

Point(x=10, y=10)
Point(x=10, y=10)
True
True

In [25]:
x = {1: 2, 3:4}
y = x
print(x == y)
print(x is y)

True
True

In [26]:
x = {3:4, 1:2}
y = {1:2, 3:4}
print(x == y)
print(x is y)

True
False

In [29]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 89.25.

In [30]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = (80, 90, 95, 92, 85)
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.

AttributeError: 'tuple' object has no attribute 'pop'

In [31]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores[:] # scores.copy() # list(scores)

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [34]:
scores

In [33]:
x = [1, 2, 3]
x

[1, 2, 3]

In [38]:
class a:
    def __init__(self, value):
        self.value = value
    
    def __repr__(self):
        return f'__repr__: {self.value}'
        
    def __str__(self):
        return f'__str__: {self.value}'
a1 = a(1)
print(a1)
a(a1)

__str__: 1

__repr__: __str__: 1

In [39]:
a1.__repr__()

'__repr__: 1'

In [40]:
a1

__repr__: 1

In [41]:
x = 'abc'
x

'abc'

In [42]:
print(x)

abc

In [49]:
class ScoreList:
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

    def __repr__(self):
        return f'ScoreList({self.scores})'

    def __str__(self):
        return f'The average of the list {str(self.scores)} is {self.average()} '

In [50]:
scores1 = ScoreList([80, 90, 95, 92, 85]) 
print(scores1)

The average of the list [80, 90, 95, 92, 85] is 88.4

In [51]:
scores1

ScoreList([80, 90, 95, 92, 85])

In [52]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p1

Point(x=10, y=10)

In [54]:
p1.__str__()

'Point(x=10, y=10)'

In [62]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int
    z: float

    def __str__(self):
        return f'x: {self.x}; y: {self.y}; z: {self.z}'

p1 = Point(10, 10, 13.0)
p2 = Point(10, 10, 14.5)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10; z: 13.0
x: 10; y: 10; z: 14.5
False
False

In [64]:
p1.y

10

In [65]:
p1.x = 10

AttributeError: can't set attribute

In [66]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [68]:
p1 = Point(1,2)
print(p1.x, p1.y)

1 2

In [69]:
from dataclasses import dataclass

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [70]:
p1.x = 20

In [ ]:
class InventoryItem:
    def __init__(self, name: str, unit_price: float, quantity_on_hand: int = 0):
        self.name = name
        self.unit_price = unit_price
        self.quantity_on_hand = quantity_on_hand

In [71]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

In [79]:
p1 = namedtuple('Point', 'x y', defaults=[5, 10])
print(p1())

Point(x=5, y=10)

In [80]:
Point = namedtuple('Point', 'x y', defaults=[5])
p1 = Point(1)
print(p1)

Point(x=1, y=5)

In [81]:
Pointnamedtuple = namedtuple('Point', 'x y')
p1 = Pointnamedtuple(1,2)
p2 = Pointnamedtuple(3,4)
p1 - p2

TypeError: unsupported operand type(s) for -: 'Point' and 'Point'

In [87]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'

In [88]:
p1 = Person('john', 'doe', 'jdoe@buffalo.edu')
p1.email

'jdoe@buffalo.edu'

In [89]:
p1.get_full_name()

'doe, john'

In [ ]:
class Student(Person):

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        self.program = program

In [90]:
class Student(Person):
    PROGRAMS = {'graduate', 'undergraduate'}

    def __init__(self, first_name, last_name, email, program):     
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        super().__init__(first_name, last_name, email)
        self.program = program.lower()
        self.classes = []

    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')


s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

john doe
abc, abc, efg, hij

In [91]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

john doe
Already enrolled in abc doe, john!
abc, efg, hij

In [92]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'


class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []

  # 1 in [1, 2, 3]
    # obj in list
    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

john doe
Already enrolled in Chemistry!
Chemistry, Math, Physics