In [2]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def get_course_name(self):
        return self.course_name

class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

    def get_email(self):
        return self.email

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'


class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

john doe
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [12]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        # if self.enrolled_credits < self.MAX_CREDITS:
        #     if course in self.classes:
        #         print('Already enroleld in', course)
        #         return      
        #     self.classes.append(course)
        #     self.enrolled_credits += course.credits
        #     print('Enrolled in', course)
        # else:
        #     print('Cannot enroll in', course, 'because you over credits')
            
        if self.enrolled_credits + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        if course not in self.classes:
            self.classes.append(course)
            self.enrolled_credits += course.credits
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c2)
# s1.enroll(c2)
s1.print_classes()

john doe
You will be over the max credits! Cannot add Physics.
Chemistry, Math

In [14]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    MAX_CREDITS = 12
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.courses = []
        self.total_credits = 0
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, *courses):
        for course in courses:
            if (self.total_credits + course.credits) > self.MAX_CREDITS:
                print('This will put you above 16 Credits')
                return       
            if course not in self.courses:
                self.courses.append(course)
                print(self.courses[-1].course_name)
                print(self.courses[-1].credits)

                self.total_credits += course.credits
            else:
                print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join([ele.course_name for ele in self.courses]))

In [15]:
c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1, c3, c4)
s1.print_classes()

john doe; Graduate
Math
3
Chemistry
3
English
3
Math, Chemistry, English

In [16]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [17]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [19]:
b1 = Beverage(**{'name':'Fanta', 'temp': 55})
print(b1.name, b1.temp)

Fanta 55

In [20]:
Beverage(**{'name':'Fanta'})

Fanta: 75

In [21]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        self.file = None
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [28]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name



class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        self.gpa = round(self.q_point / self.credit_hours, 2)

    def __repr__(self):
        return f'{self.first_name} {self.last_name}; GPA: {self.gpa}'
        

    def get_gpa(self):b
        return round(self.q_point / self.credit_hours, 2)
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(',')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

for ele in students:
    print(ele)

 Samuel Anderson; GPA: 2.62
 Jacob Cummings; GPA: 3.41
 Walter Sosa; GPA: 2.62
 Joel Conway; GPA: 3.23
 Andrew Burton; GPA: 2.15
 Judith Harris; GPA: 1.83
 Abigail Thomas; GPA: 2.61
 Sarah Edwards; GPA: 3.31
 Jennifer Pratt; GPA: 2.87
 Patricia Hess; GPA: 3.1
 Brandon Butler; GPA: 3.83
 Tammy Williams; GPA: 3.21
 Jonathan Williams; GPA: 1.96
 Amy Perry; GPA: 2.87
 Evelyn Mendez; GPA: 1.54
 Elizabeth Jackson; GPA: 2.4
 Douglas Cameron; GPA: 2.35
 Heather Wright; GPA: 2.38
 Mariah Tucker; GPA: 3.11
 Rachel Jones; GPA: 2.86
 Tommy Hull; GPA: 3.0
 Miguel Guerra; GPA: 2.04
 Sarah Hernandez; GPA: 2.02
 Ellen Cortez; GPA: 3.43
 Tracy Lee; GPA: 2.29
 Troy Griffith; GPA: 2.07
 Ana Torres; GPA: 3.14
 Howard Moore; GPA: 2.7
 Richard Nelson; GPA: 2.78
 Lisa James; GPA: 2.82
 Hannah Macias; GPA: 3.76
 Richard Rodriguez; GPA: 2.85
 Christopher Ho; GPA: 3.0
 Raymond Fisher; GPA: 3.25
 Gregory Jones; GPA: 3.38
 Ashley Davenport; GPA: 2.0
 Jamie Peters; GPA: 3.38
 Lisa Aguilar; GPA: 3.88
 David Bush; GPA: 1.94
 Samantha Barr; GPA: 3.5
 Steven Gordon; GPA: 2.02
 Matthew Jones; GPA: 2.49
 Ronald Harris; GPA: 1.55
 Brandon Crane; GPA: 3.89
 Michael Fry; GPA: 2.27
 Monica Mann; GPA: 3.36
 Richard Matthews; GPA: 1.93
 Jon Perkins; GPA: 3.5
 Jasmine Williams; GPA: 1.7
 Kristy Rowland; GPA: 3.46
 Tanya Montgomery; GPA: 1.63
 Steven Mcgee; GPA: 2.0
 Amber Aguilar; GPA: 1.81
 Jason Stuart; GPA: 2.0
 Kyle Humphrey; GPA: 3.81
 Christina Stewart; GPA: 3.74
 Thomas Roberts; GPA: 3.64
 Jason Weber; GPA: 2.39
 Karen Lee; GPA: 1.95
 Edward Lopez; GPA: 1.86
 Kayla Baldwin; GPA: 2.76
 Madison Dunn; GPA: 3.11
 Sarah Brown; GPA: 2.53
 Christina Bowman; GPA: 2.65
 Jennifer Vazquez; GPA: 1.5
 Emily Mccarthy; GPA: 2.96
 Carrie Lewis; GPA: 2.87
 Mark Jackson; GPA: 3.48
 Julie Weaver; GPA: 3.16
 Lauren Torres; GPA: 3.69
 Mary Moon; GPA: 3.62
 Michelle Church; GPA: 3.75
 Laura Haley; GPA: 2.98
 Ann Rodriguez; GPA: 2.58
 Colleen Gomez; GPA: 2.22
 Amy Hunter; GPA: 3.47
 Anthony Davis; GPA: 3.48
 Dorothy Graves; GPA: 2.12
 Phyllis Miller; GPA: 2.61
 Robert Burnett; GPA: 1.83
 Sophia Haley; GPA: 2.75
 Ashley Shaw; GPA: 2.83
 Andrew Erickson; GPA: 2.07
 Rebecca Weaver; GPA: 3.66
 Danielle Young; GPA: 1.71
 Carol Howell; GPA: 2.63
 Jasmin Stephens; GPA: 2.63
 Justin Guerrero; GPA: 3.28
 Ashley Aguilar; GPA: 1.61
 Kelly Holmes; GPA: 2.13
 Erica Fleming; GPA: 1.52
 Raymond Christian; GPA: 1.67
 Brian Franklin; GPA: 3.0
 Ashley James; GPA: 2.62
 Christine Johnson; GPA: 3.65
 Brian Holland; GPA: 2.44
 Rebecca Harrison; GPA: 3.64
 Meagan Harrell; GPA: 3.54
 Johnny Mitchell; GPA: 1.65
 Kevin Cooper; GPA: 2.35

In [29]:
sorted(students, key=lambda student: student.gpa)

[ Jennifer Vazquez; GPA: 1.5,
  Erica Fleming; GPA: 1.52,
  Evelyn Mendez; GPA: 1.54,
  Ronald Harris; GPA: 1.55,
  Ashley Aguilar; GPA: 1.61,
  Tanya Montgomery; GPA: 1.63,
  Johnny Mitchell; GPA: 1.65,
  Raymond Christian; GPA: 1.67,
  Jasmine Williams; GPA: 1.7,
  Danielle Young; GPA: 1.71,
  Amber Aguilar; GPA: 1.81,
  Judith Harris; GPA: 1.83,
  Robert Burnett; GPA: 1.83,
  Edward Lopez; GPA: 1.86,
  Richard Matthews; GPA: 1.93,
  David Bush; GPA: 1.94,
  Karen Lee; GPA: 1.95,
  Jonathan Williams; GPA: 1.96,
  Ashley Davenport; GPA: 2.0,
  Steven Mcgee; GPA: 2.0,
  Jason Stuart; GPA: 2.0,
  Sarah Hernandez; GPA: 2.02,
  Steven Gordon; GPA: 2.02,
  Miguel Guerra; GPA: 2.04,
  Troy Griffith; GPA: 2.07,
  Andrew Erickson; GPA: 2.07,
  Dorothy Graves; GPA: 2.12,
  Kelly Holmes; GPA: 2.13,
  Andrew Burton; GPA: 2.15,
  Colleen Gomez; GPA: 2.22,
  Michael Fry; GPA: 2.27,
  Tracy Lee; GPA: 2.29,
  Douglas Cameron; GPA: 2.35,
  Kevin Cooper; GPA: 2.35,
  Heather Wright; GPA: 2.38,
  Jason Weber; GPA: 2.39,
  Elizabeth Jackson; GPA: 2.4,
  Brian Holland; GPA: 2.44,
  Matthew Jones; GPA: 2.49,
  Sarah Brown; GPA: 2.53,
  Ann Rodriguez; GPA: 2.58,
  Abigail Thomas; GPA: 2.61,
  Phyllis Miller; GPA: 2.61,
  Samuel Anderson; GPA: 2.62,
  Walter Sosa; GPA: 2.62,
  Ashley James; GPA: 2.62,
  Carol Howell; GPA: 2.63,
  Jasmin Stephens; GPA: 2.63,
  Christina Bowman; GPA: 2.65,
  Howard Moore; GPA: 2.7,
  Sophia Haley; GPA: 2.75,
  Kayla Baldwin; GPA: 2.76,
  Richard Nelson; GPA: 2.78,
  Lisa James; GPA: 2.82,
  Ashley Shaw; GPA: 2.83,
  Richard Rodriguez; GPA: 2.85,
  Rachel Jones; GPA: 2.86,
  Jennifer Pratt; GPA: 2.87,
  Amy Perry; GPA: 2.87,
  Carrie Lewis; GPA: 2.87,
  Emily Mccarthy; GPA: 2.96,
  Laura Haley; GPA: 2.98,
  Tommy Hull; GPA: 3.0,
  Christopher Ho; GPA: 3.0,
  Brian Franklin; GPA: 3.0,
  Patricia Hess; GPA: 3.1,
  Mariah Tucker; GPA: 3.11,
  Madison Dunn; GPA: 3.11,
  Ana Torres; GPA: 3.14,
  Julie Weaver; GPA: 3.16,
  Tammy Williams; GPA: 3.21,
  Joel Conway; GPA: 3.23,
  Raymond Fisher; GPA: 3.25,
  Justin Guerrero; GPA: 3.28,
  Sarah Edwards; GPA: 3.31,
  Monica Mann; GPA: 3.36,
  Gregory Jones; GPA: 3.38,
  Jamie Peters; GPA: 3.38,
  Jacob Cummings; GPA: 3.41,
  Ellen Cortez; GPA: 3.43,
  Kristy Rowland; GPA: 3.46,
  Amy Hunter; GPA: 3.47,
  Mark Jackson; GPA: 3.48,
  Anthony Davis; GPA: 3.48,
  Samantha Barr; GPA: 3.5,
  Jon Perkins; GPA: 3.5,
  Meagan Harrell; GPA: 3.54,
  Mary Moon; GPA: 3.62,
  Thomas Roberts; GPA: 3.64,
  Rebecca Harrison; GPA: 3.64,
  Christine Johnson; GPA: 3.65,
  Rebecca Weaver; GPA: 3.66,
  Lauren Torres; GPA: 3.69,
  Christina Stewart; GPA: 3.74,
  Michelle Church; GPA: 3.75,
  Hannah Macias; GPA: 3.76,
  Kyle Humphrey; GPA: 3.81,
  Brandon Butler; GPA: 3.83,
  Lisa Aguilar; GPA: 3.88,
  Brandon Crane; GPA: 3.89]

In [ ]:
classifier.fit()
classifier.predict()

In [38]:
from abc import ABC, abstractmethod

class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [39]:
e1 = Employee('john', 'doe', '111-22-3333')

TypeError: Can't instantiate abstract class Employee with abstract method earnings

In [42]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [44]:
se1 = SalariedEmployee('john', 'doe', '111-22-3333', 2000)
se1

salaried employee: john doe
social security: 111-22-3333
weekly salary: $2000

In [46]:
# Java How to Program Deitel et. al

from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'


class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'


class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'


class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'


class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'


print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [49]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()

    print(f'earned: ${employee.earnings()}')

earned: $800

earned: $670.0

earned: $600.0

earned: $500.0

In [50]:
for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [52]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(1, 2)
p2 = Point(3, 4)

In [53]:
p1 + p2

TypeError: unsupported operand type(s) for +: 'Point' and 'Point'

In [60]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __add__(self, another_circle): # c1 + c2 # c1.__add__(c2)
        return Circle(self.radius + another_circle.radius)

    def __sub__(self, another_circle): # c1 + c2 # c1.__add__(c2)
        return Circle(self.radius - another_circle.radius)


    def __repr__(self):
        return "Circle with radius " + str(self.radius)


c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.53981633974483

In [61]:
c1 + c2

Circle with radius 15

In [62]:
c1 - c2

Circle with radius 5

In [68]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __ge__(self, another_circle):
        return self.radius >= another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius



c1 = Circle(10)
c2 = Circle(5)
print(c1 > c2)

True

In [69]:
print(c1 >= c2)

True

In [71]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

In [72]:
for ele in p1:
    print(ele)

TypeError: 'Point' object is not iterable

In [74]:
for ele in range(5):
    print(ele)

0
1
2
3
4

In [80]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration

for ele in MyRange(5):
    print(ele)

0
1
2
3
4

In [85]:
mr = MyRange(5)
obj = iter(mr)
obj.value

# for iter(class)
# for next(class)

0

In [92]:
next(obj)

StopIteration:

In [93]:
iter(obj)

In [97]:
next(obj)

3

In [105]:
with open('people.tsv') as file:
    header = next(file).strip().split('\t')
    # print(header)
    for line in file:    
        print(line.strip().split('\t'))

['Weaver', 'Michael', 'xdunn@hotmail.com', 'Nepal', 'QVJP6465242365388']
['Owens', 'Jackson', 'iedwards@yahoo.com', 'Kazakhstan', 'FVQZ0955529767455']
['Gilmore', 'Patrick', 'arogers@smith.com', 'Mauritius', 'QFIM0905182880347']
['Perez', 'Jeffrey', 'plewis@chavez.com', 'New Zealand', 'YWOT0997131632248']
['Thomas', 'James', 'fred92@yahoo.com', 'Yemen', 'QAAE9838291982555']
['Nelson', 'Greg', 'mmiller@lynch.com', 'Jordan', 'PCNE8127696280157']
['White', 'Joshua', 'steven49@gmail.com', 'Palau', 'BCEN3299883381338']
['Francis', 'Todd', 'amanda23@hotmail.com', 'Argentina', 'XPTQ7837014557677']
['Shaw', 'Stephen', 'jackduke@hotmail.com', 'Marshall Islands', 'TRLQ6559557081716']
['Armstrong', 'Mariah', 'rhodesnicholas@hotmail.com', 'Albania', 'OHOV7518558201999']
['Boyle', 'Anthony', 'smithashlee@yahoo.com', 'Kyrgyz Republic', 'MCQU7347833033110']
['Cuevas', 'Patrick', 'ubriggs@hill.info', 'Turkmenistan', 'PPHE5533473251751']
['Reyes', 'Gerald', 'brownclarence@gonzalez-moore.com', 'Fiji', 'JCDK1943355298609']
['Calderon', 'Christopher', 'teresa30@carpenter-warner.com', 'Costa Rica', 'NERZ5502558659614']
['Weiss', 'Shane', 'leekatherine@williams.com', 'Martinique', 'DLDV5789894914403']
['Conley', 'Crystal', 'chasewatkins@perez-phillips.com', 'Singapore', 'GZZF6936998445532']
['Nelson', 'Jeffrey', 'hsherman@gmail.com', 'Mayotte', 'ECGK2823955143629']
['Johnson', 'Brianna', 'martinezdaniel@hotmail.com', 'Costa Rica', 'QOVO4275314052899']
['Werner', 'Brandon', 'justinfischer@gmail.com', 'Guadeloupe', 'UKRT1119626365017']
['Bennett', 'Brianna', 'cindy08@gmail.com', 'Bahamas', 'UNPV3347450330173']
['Fletcher', 'Austin', 'carolharrington@fleming.org', 'Azerbaijan', 'GJZT6825738428111']
['Lewis', 'Patrick', 'lopezcarl@johnson.com', 'Saint Helena', 'JOQE2648899771737']
['Smith', 'Joseph', 'michael74@yahoo.com', 'Hong Kong', 'MNXY3262955868027']
['Sullivan', 'Sharon', 'gonzalezrobert@hotmail.com', 'Turkey', 'YHXF7256577475630']
['Wilson', 'Krystal', 'dawnjohnson@gmail.com', 'Swaziland', 'MUVI3570791852556']
['Schmidt', 'Diana', 'watersryan@gmail.com', 'Holy See (Vatican City State)', 'UKCP6739617302102']
['Huff', 'Sean', 'byoung@gmail.com', 'Norfolk Island', 'WDAT4146843903498']
['Nguyen', 'Robin', 'vhanson@yahoo.com', 'Kenya', 'SVMU4403517448078']
['Russell', 'Robyn', 'bfletcher@yahoo.com', 'Togo', 'ZNUY4071301663622']
['Smith', 'Tiffany', 'colleengarrison@hotmail.com', 'San Marino', 'GPFA8271551275648']
['Smith', 'Lori', 'catherine23@gmail.com', 'Romania', 'MKWY4848668895426']
['Keith', 'Sabrina', 'xmurphy@yahoo.com', 'Algeria', 'QHIW7412514205367']
['Johnson', 'Miguel', 'aaronrichard@middleton.net', 'Slovakia (Slovak Republic)', 'QAAO4666689281736']
['Barron', 'Dustin', 'jesse93@best.com', 'Somalia', 'LRPR8694143910883']
['Robinson', 'Michael', 'johnperez@johnson.com', 'Turkmenistan', 'UWFU1921951273393']
['Nguyen', 'Robert', 'jessica62@yahoo.com', 'Croatia', 'JQHS4274771257925']
['Abbott', 'Brandon', 'jennifer87@gmail.com', 'Jamaica', 'RSLD0426398604312']
['Oneill', 'Bruce', 'morenolindsay@bass.org', 'Montserrat', 'UYHI6964741005832']
['Nash', 'Linda', 'robertdavis@hotmail.com', 'Heard Island and McDonald Islands', 'ZKTE5908966955533']
['Cameron', 'Kathleen', 'melanie81@rogers.com', 'Niger', 'HHHP3471562002758']
['Wilkinson', 'Wesley', 'clineerin@hotmail.com', 'Saint Vincent and the Grenadines', 'UWLV6407825245995']
['Wallace', 'Debbie', 'terri95@hotmail.com', 'Antigua and Barbuda', 'JRBN0811785293731']
['Woodward', 'Kayla', 'danielle65@yahoo.com', 'Mexico', 'VDWY7565964041116']
['Bennett', 'Stephanie', 'sjackson@yahoo.com', 'Singapore', 'DNRB2101855092009']
['Jenkins', 'Caleb', 'douglas63@yahoo.com', 'Botswana', 'IILE1765776198023']
['Edwards', 'Valerie', 'woodardlindsey@yahoo.com', 'Guinea', 'ZJUF2687631787282']
['Anderson', 'Mary', 'suebrown@yahoo.com', 'Chile', 'DHMT4208071148508']
['Ray', 'Angela', 'swhite@yahoo.com', 'Mayotte', 'UBRR8524342666714']
['Edwards', 'Haley', 'martinkimberly@lopez.com', 'Macedonia', 'OGPU6537909247863']
['Clark', 'Charles', 'jessica11@hotmail.com', 'Ukraine', 'AHYX6128839695452']
['Hill', 'Lisa', 'hsmith@baker.com', 'Saint Martin', 'VUPW6891906300822']
['Carpenter', 'Jonathan', 'fklein@yahoo.com', 'Germany', 'PKFW4841194501766']
['Griffith', 'Latoya', 'ryan32@skinner.com', 'Lesotho', 'BNYD8693045932496']
['Blair', 'Kim', 'tmurphy@flores.biz', 'Nepal', 'FQJA6381776349463']
['Salazar', 'Mary', 'mary64@ray.org', 'Latvia', 'KCNI2464381879411']
['Krueger', 'Kenneth', 'jennajoseph@yahoo.com', 'Central African Republic', 'BIGY3006735396533']
['Burke', 'Phillip', 'watsonsamuel@gmail.com', 'Peru', 'CNJX1222752295544']
['Juarez', 'Erica', 'xvelasquez@hughes.com', 'Spain', 'ZROP5229895490397']
['Watkins', 'Jason', 'april99@gmail.com', 'Seychelles', 'NXKK2792812848629']
['Carter', 'Lee', 'kfletcher@yahoo.com', 'Faroe Islands', 'DPLN5056382218296']
['Huang', 'Randy', 'xchurch@hotmail.com', 'Tokelau', 'KAOL9792684486009']
['Owen', 'Kristina', 'megan24@stewart.net', 'Cocos (Keeling) Islands', 'WRXW4627191899235']
['Turner', 'Beth', 'sydneycollins@hunter.com', 'Burundi', 'OMOK4767172062189']
['Aguirre', 'Michael', 'robertbowen@chavez-ortega.com', 'Timor-Leste', 'KRKF7344951038740']
['Wilson', 'Elizabeth', 'christiandanielle@yahoo.com', 'Montserrat', 'SAAA4141150617330']
['Hardy', 'Teresa', 'kdavidson@gordon.com', 'Norway', 'XNWQ1072087896797']
['Stewart', 'David', 'bennettwanda@vega-guerra.net', 'Sierra Leone', 'FTHM1005169617995']
['Moore', 'Heather', 'mark00@hotmail.com', 'French Polynesia', 'OSSM9070924947595']
['Grant', 'Melissa', 'schaefernatalie@hotmail.com', 'French Guiana', 'CFQJ4204773901237']
['Thompson', 'Jennifer', 'moralesmartin@rodgers.com', 'Cape Verde', 'MGFG2793756668287']
['Anderson', 'Raymond', 'dprince@hotmail.com', 'Barbados', 'IGXK5881682171566']
['Ramsey', 'Angela', 'cparks@valdez-hudson.com', 'Andorra', 'QYBW6359021109484']
['Gonzales', 'Betty', 'martinezrichard@yahoo.com', 'Montserrat', 'UTSI0776569247505']
['Castaneda', 'Thomas', 'kpena@yahoo.com', 'Egypt', 'LSDI9463735752680']
['Todd', 'Jonathan', 'julie68@gmail.com', 'Malaysia', 'ISYY1401931979959']
['Garcia', 'Stacey', 'lukebradford@hotmail.com', 'Zimbabwe', 'HNOA0376843856035']
['Figueroa', 'Judy', 'ystewart@yahoo.com', 'Portugal', 'EEVV8325881104553']
['Castillo', 'Ashley', 'cory33@king-shaw.net', 'Paraguay', 'QXGZ3111246190069']
['Flores', 'Zachary', 'zcalhoun@gmail.com', 'Central African Republic', 'ACQR2846533122117']
['Allen', 'Erica', 'michaelhall@hotmail.com', 'Palau', 'ZAZD8310339637467']
['Potts', 'Savannah', 'kristentaylor@yahoo.com', 'Micronesia', 'ARWK1547324119222']
['Wheeler', 'Zachary', 'stephen63@yahoo.com', 'Armenia', 'OMQX4840913072589']
['Thomas', 'Timothy', 'bryanmartin@gmail.com', 'Bahrain', 'OCFV4659464275270']
['Mcknight', 'Ann', 'kristinavelasquez@gmail.com', 'Guatemala', 'DTRB4720098955341']
['Thompson', 'Ruth', 'denise01@burns.org', 'Saint Vincent and the Grenadines', 'YYHM5758234683389']
['Levy', 'Daniel', 'beancody@jones.com', 'Kazakhstan', 'AHBN3151680654826']
['Hubbard', 'Paul', 'ubradley@yahoo.com', 'Germany', 'FGBC0366153271398']
['Jones', 'Jason', 'anthony75@yahoo.com', 'Western Sahara', 'MHTE8867005510944']
['Garcia', 'Margaret', 'antonio52@gmail.com', 'Togo', 'IYOD4325345823013']
['Peters', 'Jeremy', 'johnlewis@hotmail.com', 'Guam', 'NZFX8257739892619']
['Stone', 'Mark', 'nmoore@hotmail.com', 'Kuwait', 'MWRB2515761996641']
['Edwards', 'Darius', 'nchurch@yahoo.com', 'Eritrea', 'CURJ9953745256871']
['Lawson', 'Tracy', 'piercejenna@gmail.com', 'Czech Republic', 'ATOT8581137487723']
['Cooper', 'Christina', 'ddavidson@hotmail.com', 'Maldives', 'RQGA0882784089265']
['Harris', 'Megan', 'ndelacruz@yahoo.com', 'Armenia', 'EOPA8088866975598']
['Jones', 'Timothy', 'jenniferadkins@griffin.biz', 'Benin', 'JCUN9597199552039']
['Burch', 'Tracie', 'evansmiguel@yahoo.com', 'Fiji', 'IZYL3351829981461']
['Chung', 'Jason', 'kenneththompson@baxter.com', 'Iceland', 'JDIH2349154465371']
['Melton', 'Samantha', 'bcurtis@hotmail.com', 'Macedonia', 'VRZP1447516193511']
['Hansen', 'Michael', 'phillipssean@hotmail.com', 'Serbia', 'QKAF2254397516681']

In [99]:
header

'last_name\tfirst_name\temail\tcountry\taccount\n'