In [4]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [5]:
def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [ ]:
def insert_student(conn, values):

    sql = ''' INSERT INTO students(last_name,first_name,username,exam1,exam2,exam3)
              VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

In [ ]:
def insert_student(conn, values):
    values = 'John Smith' 
    values = ('John Smith')

    sql = ''' INSERT INTO students(last_name)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

In [11]:
import os, pprint

db_file = 'student_test_in_class2.db'
if os.path.exists(db_file):
    os.remove(db_file)

create_table_sql = """CREATE TABLE students (
last_name TEXT, 
first_name TEXT, 
username TEXT, 
exam1 REAL, 
exam2 REAL, 
exam3 REAL);"""

In [12]:
conn = create_connection(db_file)

# with conn:
create_table(conn, create_table_sql)
    
###