In [1]:
neg = -10

In [2]:
abs(neg)

10

In [3]:
day_temperature = 3
night_temprature = 10
abs(day_temperature - night_temprature)

7

In [5]:
abs(-7) + abs(3.3)

10.3

In [6]:
pi = '3.1415'
r = 2
2*pi * r**2

'3.14153.14153.14153.14153.14153.14153.14153.1415'

In [7]:
2*pi

'3.14153.1415'

In [8]:
pi = '3.1415'
pi = float(pi)
r = 2
2*pi * r**2

25.132

In [9]:
float('ABC')

ValueError: could not convert string to float: 'ABC'

In [10]:
int(34.6)

34

In [11]:
int(-4.3)

-4

In [12]:
float(21)

21.0

In [13]:
str(21)

'21'

In [14]:
round(3.8)

4

In [15]:
round(3.3)

3

In [16]:
round(3.5)

4

In [17]:
round(-3.3)

-3

In [18]:
round(-3.5)

-4

In [19]:
round(12.4423324323243243245, 2)

12.44

In [20]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [21]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [22]:
pow(2, 4)

16

In [23]:
2 ** 4

16

In [24]:
pow(2, 4, 3)

1

In [25]:
pow(abs(-2), round(4.3))

16

In [26]:
base = abs(-2)
exp = round(4.3)
pow(base, exp)

16

In [27]:
id(-9)

2111046070512

In [28]:
min(2, 3, 4, -19, 200, 20)

-19

In [29]:
min(2)

TypeError: 'int' object is not iterable

In [30]:
min(2,3)

2

In [31]:
max(2, -3, 4, 7, -5)

7

In [32]:
max(2, -3, min(4, 7), -5)

4

In [33]:
x = 2
type(x)

int

In [34]:
pi = '3.14'
type(pi)

str

In [35]:
pi = 3.14
type(pi)

float

In [36]:
print(1)

1

In [39]:
print('abc', 'asdfsdf', 1, 3.14, True, None)

abc asdfsdf 1 3.14 True None

In [38]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [40]:
print('abc', 'asdfsdf', 1, 3.14, True, None, sep=', ')

abc, asdfsdf, 1, 3.14, True, None

In [42]:
def f(x):
    squared_x = x * x
    return squared_x

In [43]:
f(2)

4

In [44]:
f(10)

100

In [45]:
def g(x):
    squared_x = x * x

In [46]:
g(10)

In [47]:
value = g(10)

In [48]:
print(value)

None

In [49]:
type(value)

NoneType

In [50]:
def f(x):
    squared_x  = x * x
    return squared_x

In [55]:
squared_x = 20

print('Before function call', squared_x)

print('Function return', f(squared_x))

print('After function call', squared_x)

Before function call 20
Function return 400
After function call 20

In [56]:
def PRINT(x):
    print(x)

In [57]:
PRINT(10)

10

In [60]:
def exercise1():
    """
    ____________________________
    Happy birthday to you!!!
    Happy birthday to you!!!
    Happy birthday, dear John
    Happy birthday to you!
    Happy birthday to you!
    ______________________________

    """
    print('_' * 30)
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear John')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('_' * 30)

In [61]:
exercise1()

______________________________
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!
______________________________

In [63]:
def exercise2():
    """
    ____________________________
    Happy birthday to you!!!
    Happy birthday to you!!!
    Happy birthday, dear Jane
    Happy birthday to you!
    Happy birthday to you!
    ______________________________

    """
    print('_' * 30)
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear Jane')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('_' * 30)

In [64]:
exercise2()

______________________________
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!
______________________________

In [75]:
def exercise3():
    print('Happy birthday to you!')
    print('Happy birthday to you!')

In [66]:
 exercise3()

Happy birthday to you!!!
Happy birthday to you!!!

In [67]:
def exercise4a():
    print('_' * 30)
    exercise3()
    print('Happy birthday, dear John')
    exercise3()  
    print('_' * 30)

In [68]:
exercise4a()

______________________________
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!
______________________________

In [69]:
def exercise5(name):
    print('Happy birthday, dear ' + name + '!')

In [70]:
exercise5('John')

Happy birthday, dear John!

In [71]:
exercise5('Jane')

Happy birthday, dear Jane!

In [76]:
def exercise6(name):
    print('_' * 30)
    exercise3()
    exercise5(name)
    exercise3()  
    print('_' * 30)

In [77]:
exercise6('John')

______________________________
Happy birthday to you!
Happy birthday to you!
Happy birthday, dear John!
Happy birthday to you!
Happy birthday to you!
______________________________

In [74]:
exercise6('Jane')

______________________________
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane!
Happy birthday to you!!!
Happy birthday to you!!!
______________________________

In [78]:
def calculate_distance(x1,y1,x2,y2):
    d = ((x1-x2)**2 + (y1-y2)**2)**0.5
    return d

In [79]:
calculate_distance(-1,0,2,7)

7.615773105863909

In [80]:
def calculate_distance2(x1,y1,x2,y2):
    import math
    d = math.sqrt((x1-x2)**2 + (y1-y2)**2)
    return d

In [81]:
calculate_distance2(-1,0,2,7)

7.615773105863909

In [84]:
def calculate_distance3(x1,y1,x2,y2):  
    import math
    d = round(math.sqrt((x1-x2)**2 + (y1-y2)**2), 1)
    return d

In [83]:
calculate_distance3(-1,0,2,7)

7.6

In [89]:
def triple(x):
    return pow(x, 3)

In [90]:
triple(3)

27

In [91]:
def averagre3(g1, g2, g3):
    return (g1 + g2 + g3)/3

In [92]:
averagre3(10, 10, 10)

10.0

In [93]:
def best3(g1, g2, g3, g4):
    total = g1 + g2 + g3 + g4
    total -= min(g1, g2, g3, g4)
    return total/3

In [94]:
best3(5, 10, 10, 10)

10.0

In [95]:
string1 = 'Aristotle'

In [97]:
string2 = "John Edward"

In [98]:
print(string1, string2)

Aristotle John Edward

In [99]:
string3 = """I am a literal string, 
this means that spaces inside me are significant!

Hello!
"""

In [100]:
print(string3)

I am a literal string,
this means that spaces inside me are significant!

Hello!

In [101]:
string4 = 'Hello 
class
'

SyntaxError: EOL while scanning string literal (Temp/ipykernel_18908/2272083993.py, line 1)

In [102]:
scientist = 'Issac Newton'
print(len(scientist))

12

In [103]:
scientist = 'Issac                      Newton'
print(len(scientist))

33

In [105]:
'Alan Turning' + ' ---- ' + 'Grace Hopper'

'Alan Turning ---- Grace Hopper'

In [106]:
'NH' + 3

TypeError: can only concatenate str (not "int") to str

In [107]:
'NH' + '3'

'NH3'

In [108]:
'NH3'

'NH3'

In [109]:
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [110]:
int('0')

0

In [111]:
type(int('0'))

int

In [112]:
int('-324')

-324

In [113]:
int('-324.000')

ValueError: invalid literal for int() with base 10: '-324.000'

In [114]:
float('-324.40')

-324.4

In [115]:
type(float('-324.40'))

float

In [116]:
'AT' * 5

'ATATATATAT'

In [117]:
5 * 'AT'

'ATATATATAT'

In [118]:
'-' * 80

'--------------------------------------------------------------------------------'

In [119]:
y = 'Jane's book'

SyntaxError: invalid syntax (Temp/ipykernel_18908/925720805.py, line 1)

In [120]:
y = "Jane's book"

In [121]:
print(y)

Jane's book

In [122]:
'Jane\'s book'

"Jane's book"

In [123]:
"He said, "why me?""

SyntaxError: invalid syntax (Temp/ipykernel_18908/3001072521.py, line 1)

In [124]:
"He said, \"why me?\""

'He said, "why me?"'

In [131]:
# /\/\
x = '/\\/\\'
print(x)

/\/\

In [133]:
print('Line one\nLine two\nLine three')

Line one
Line two
Line three

In [134]:
print('John\t01234\tbiology')

John	01234	biology

In [ ]:
def func(a, b, c):
    pass

In [140]:
number = input('Please enter a number: ')

Please enter a number: 1000

In [141]:
number * 5

'10001000100010001000'

In [142]:
number / 20

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [137]:
number = int(number)

In [138]:
number

1000

In [139]:
number * 5

5000

In [143]:
number = input('Please enter a number: ')

Please enter a number: No!

In [144]:
number

'No!'

In [145]:
def convert_celsius(fahrenheit):
    return (fahrenheit - 32.0) * 5.0 / 9.0

In [146]:
convert_celsius(212)

100.0

In [147]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [148]:
convert_celsius()

Please enter temperature in Fahrenheit: 100
The temperature in celsius is:  37.77777777777778

In [149]:
convert_celsius()

Please enter temperature in Fahrenheit: 212
The temperature in celsius is:  100.0

In [150]:
convert_celsius()

Please enter temperature in Fahrenheit: a number

ValueError: could not convert string to float: 'a number'

In [151]:
# Example of string concatenation -- This is fine and perfectly valid!
x = 'NA'
y = '3'

x + y

'NA3'

In [ ]:
# oldest way
'%s%s' %(x, y)

In [152]:
# older way -- sometimes useful
'{}{}'.format(x, y)

'NA3'

In [153]:
'{1}{0}'.format(x, y)

'3NA'

In [154]:
'{1}{0}'.format(x, y, 2, 3)

'3NA'

In [155]:
'{}{}'.format(x, y, 2, 3)

'NA3'

In [156]:
'{}{}     {}'.format(x, y, 2, 3)

'NA3     2'

In [157]:
'{3}{1}     ---   {0}'.format(x, y, 2, 3)

'33     ---   NA'

In [158]:
template_w_placeholders = '{3}{1}     ---   {0}'

In [159]:
template_w_placeholders

'{3}{1}     ---   {0}'

In [160]:
template_w_placeholders.format('Abc', 'efg', 'hij', 2, 3)

'2efg     ---   Abc'

In [161]:
'2efg   --- Abc'

'2efg   --- Abc'

In [162]:
template_w_placeholders.format('1', '3', '4', 2, 3)

'23     ---   1'

In [163]:
student_template = '{}, {}; {}'

In [164]:
student_template.format('Doe', 'Jane', '12345')

'Doe, Jane; 12345'

In [165]:
student_template.format('Doe', 'John', '0000234')

'Doe, John; 0000234'

In [166]:
PI = 3.14159265359 
print(f'{PI}')

3.14159265359

In [169]:
print(f'{PI*10/2**4}')

1.96349540849375

In [170]:
print(f'{round(PI,2)}')

3.14

In [171]:
print(f'{PI:.2f}')

3.14

In [172]:
print(f'{PI:.4f}')

3.1416

In [173]:
print(f'{PI:10.4f}')

    3.1416

In [ ]:
#  {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

In [174]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [175]:
print(('{0} is {1:.2f}'.format('PI', PI)) ) # older way {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

PI is 3.14

In [176]:
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [177]:
# {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

In [178]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2

In [180]:
print(lines)

This is the first line.
This is the second line.

In [181]:

line = 'This is the first line.\n'
line += 'This is the second line.' # line = line + 'This is the second line.'
print(line)

This is the first line.
This is the second line.

In [182]:
class_number = 'EAS503'
class_size = 113
class_average = 92.3

In [183]:
str_format = '{}'.format(class_number)
f_string = f'{class_number}'
print(str_format, f_string)

EAS503 EAS503

In [184]:
# Example 2
str_format = 'The course number is {}'.format(class_number)
f_string = f'The course number is {class_number}'

print(str_format)
print(f_string)

The course number is EAS503
The course number is EAS503

In [185]:
str_format = 'The course number is {}. It has {} students.'.format(class_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(class_number, class_size)
f_string = f'The course number is {class_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [187]:
str_format = 'The course number is {1}. It has {0} students.'.format(class_number, class_size)
f_string = f'The course number is {class_size}. It has {class_number} students.'
print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

In [188]:
# Example 5 adding a float
str_format = 'The course number is {0}. It has {1} students. The class average is {2}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {class_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3
The course number is 113. It has EAS503 students. The class average is 92.3.

In [191]:
# Example 6 specify number of spaces to use -- width
# {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [192]:
# Example 7 right align
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is        113. It has        113 students. The class average is       92.3.

In [195]:
# < > ^
x = 'ABC'
print(f'Start: {x:10} :End')

Start: ABC        :End

In [196]:
print(f'Start: {x:15} :End')

Start: ABC             :End

In [198]:
print(f'Start: {x:<20} :End')

Start: ABC                  :End

In [199]:
print(f'Start: {x:>20} :End')

Start:                  ABC :End

In [200]:
print(f'Start: {x:^20} :End')

Start:         ABC          :End

In [203]:
y = 1234
print(f'Start: {y:-^20} :End')

Start: --------1234-------- :End

In [205]:
mrn = 123456

print(f'{mrn:08}')

00123456

In [206]:
# 1, 2, 3, 4, 5, 6
z = 1
print(f'{z:08}')

00000001

In [214]:
z = 2
zz = 'abc'
print(f'{z:1^8}')

11121111

In [219]:
mrn = 123456

print(f'{mrn:28}')

                      123456

In [221]:
# Given x = 3 and y = 12.5, print: 12.5 * 3 = 37.5.
x = 3
y = 12.5
mul = x * y 
print(f'{y} * {x} = {mul}')
print(f'{y} * {x} = {x*y}')

12.5 * 3 = 37.5
12.5 * 3 = 37.5

In [222]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

'+---------------------------------------------------+'

In [225]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [224]:
'{:^51}'.format('Cereal Yields (kg/ha)')

'               Cereal Yields (kg/ha)               '

In [226]:
'+' + '-'*(len(title)-2) + '+'

'+---------------------------------------------------+'

In [227]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [228]:
('-'*8 + '+')*4

'--------+--------+--------+--------+'

In [235]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)

In [236]:
print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [232]:
(' {:^6d} |'*4).format(1980, 1990,2000, 2010)

'  1980  |  1990  |  2000  |  2010  |'

In [246]:
row = '| {:<13} |' + ' {:6d} |'*4
print(row)

| {:<13} | {:6d} | {:6d} | {:6d} | {:6d} |

In [247]:
print(1, 2, 3, 4, 'abc', sep='\n')

1
2
3
4
abc

In [248]:
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |   2937 |   4321 |   4752 |   5527 |
| Germany       |   4225 |   5411 |   6453 |   6718 |
| United States |   3772 |   4755 |   5854 |   6988 |
+---------------+--------+--------+--------+--------+