for <ele> in <sequence>:
    <body>

In [1]:
my_list = [1, 2, 3, 4]
my_tuple = (1, 2, 3, 4)
my_str = '1234'

for ele in my_list:
    print(ele, ele*ele)

1 1
2 4
3 9
4 16

In [2]:
for ele in my_tuple:
    print(ele, ele*ele)

1 1
2 4
3 9
4 16

In [4]:
for ele in my_str:
    print(ele)

1
2
3
4

In [6]:
start = 1
stop = 11
step = 1
# range(start,stop,step) # [start:step:stop) --> 
list(range(stop))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(start, stop))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(range(start, stop, 2))

[1, 3, 5, 7, 9]

In [10]:
list(range(2, 21, 2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
values = [4, 10, 3, 8, -6]
# for (i=1, i<length(list), i++) {

# }

for i in range(len(values)):
    print(i)

0
1
2
3
4

In [12]:
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [13]:
for ele in values:
    print(ele)

4
10
3
8
-6

In [14]:
for idx, ele in enumerate(values):
    print(idx, ele)

0 4
1 10
2 3
3 8
4 -6

In [15]:
for idx, ele in enumerate(values, 1):
    print(idx, ele)

1 4
2 10
3 3
4 8
5 -6

In [16]:
for idx, ele in enumerate(values, 101):
    print(idx, ele)

101 4
102 10
103 3
104 8
105 -6

In [17]:
for idx, ele in enumerate(my_str, 101):
    print(idx, ele)

101 1
102 2
103 3
104 4

In [31]:
x = enumerate(values)

In [32]:
for ele in x:
    print(ele)

(0, 4)
(1, 10)
(2, 3)
(3, 8)
(4, -6)

In [29]:
for ele in x:
    print(ele)

In [30]:
for ele in []:
    print(ele)

In [22]:
idx, ele = (0, 4)
print(idx, ele)

0 4

In [35]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2
values

[8, 20, 6, 16, -12]

In [33]:
x = range(len(values))

for ele in x:
    print(ele)

0
1
2
3
4

In [34]:
for ele in x:
    print(ele)

0
1
2
3
4

In [36]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [37]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [38]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
x = zip(metals, weights)
for metal, weight in x:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [39]:
for metal, weight in x:
    print(metal, weight)

In [40]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
y = [1, 2, 3]
x = zip(metals, weights,y)
for metal, weight, s in x:
    print(metal, weight,s)

Li 6.941 1
Na 22.98976928 2
K 39.0983 3

In [41]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983]

x = zip(metals, weights)
for metal, weight in x:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [42]:
metals = ['Li', 'Na', 'K', 'H']
weights = [6.941, 22.98976928, 39.0983, 1, 2, 3]

x = zip(metals, weights)
for metal, weight in x:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983
H 1

In [43]:
elements = [
    ['Li', 'Na', 'K'], 
    ['F', 'Cl', 'Br']
]
for inner_list in elements:
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [44]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [45]:
x = [1, 7, 3] 

sum = 0
for ele in x:
    sum += ele

print(sum)

11

In [46]:
x = [1, 7, 3] # --> 173

sum = 0
for ele in x:
    sum = sum *10 + ele
print(sum)

173

In [47]:
string1 = '1134000234'
string2 = ''.join(sorted([ele for ele in string1]))
string3 = ''.join(sorted([ele for ele in string1], reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [48]:
string1 = '1134000234'
string2 = ''.join(sorted(list(string1)))
string3 = ''.join(sorted(list(string1), reverse=True))
print(string1, string2, string3)

1134000234 0001123344 4433211000

In [49]:
count = [0,] * 10

In [50]:
[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [51]:
store = [0] * 10
string1 = '1134000234'
for char in string1:
    index = int(char)
    store[index] += 1

store

[3, 2, 1, 2, 2, 0, 0, 0, 0, 0]

In [53]:
sorted_string = ''
for idx, ele in enumerate(store):
    print('before', sorted_string)
    print(str(idx) * ele)
    sorted_string += str(idx) * ele
    print('after', sorted_string)
print(sorted_string)

before
000
after 000
before 000
11
after 00011
before 00011
2
after 000112
before 000112
33
after 00011233
before 00011233
44
after 0001123344
before 0001123344

after 0001123344
before 0001123344

after 0001123344
before 0001123344

after 0001123344
before 0001123344

after 0001123344
before 0001123344

after 0001123344
0001123344

In [57]:
store = [0] * 10
string1 = '9999772233444441111000666224355667809901,alksdjAAAAAAAAAalkdf'
for char in string1:
    if char not in '0123456789':
        continue
    index = int(char)
    store[index] += 1
print(store)
sorted_string = ''
for idx, ele in enumerate(store):
    sorted_string += str(idx) * ele
print(sorted_string)

[5, 5, 4, 3, 6, 2, 5, 3, 1, 6]
0000011111222233344444455666667778999999

In [ ]:
number = 1234 # 
sum = 0
while number:
    sum += number % 10
    number = number // 10 
print(sum)

In [62]:
filename = 'testdata.txt'
with open(filename, 'r') as file:
    for line in file:
        if not line.strip(): # used for skipping empty lines!
            continue
            
        print(line.strip())

###

student1,90,98,94,97,93,94,91,98,91,93,100,97,100,95,90,96
student2,96,92,94,93,98,100,98
student3,96,90,98,90,96,99,98,98,91,91,99
student4,98,97,96,99,99,97,96,98,99,96,97,90,97,99,91,92,99,100,93,90,100
student5,96,99,95,99,92,98,96,95,91,98,92,98,92,95,96,91,90,97,92,98,93,98,100,90,100
student6,94,100,92,92,91,91,91,94,90,92,94,91,98,95,96,96,93,94,91,91,91,93,91,94,93,95,93,92
student7,92,99,96,91,97,91,90,99,91,92,90,97,95,97,96,95
student8,90,93,94,92,92,92,91,97,91,94,91,94
student9,97
student10,91,90,90,91,98,92,94,92,97,92,95,91,100,95,96,91,100,96,97,100,95,99,94
student11,93,90,91,95,99,98,94,94,100,96,97,98,94,97,91,97
student12,95,100,90,91
student13,93,97,96,91,92,91,97,95,98,95,90,96,100,98,92,98,90,92,90,98,100,92,99,97,97,92,92,100
student14,90,97,98,93
student15,98,91,95,96,98,94,91,95,97,97,97,99,100,93,91,92,93,99,97,95,98,91,96,98,91,96,97,100,92,100
student16,98,99,98,98,99,98,95,98,100,96,90,95,90,95,95
student17,93,92,94,92,97,96,96,95,97,93,92,96,99,96,98,100,97,95,96,97,96,92,99,90,97
student18,93,94,91,94,93,99,98,100,97,94,100,98,97,92,100,93,96,100,92
student19,98,94,93,95,99,99,93,92,92,99,99,92,91,90,96,96,95,97,99,95,93,96,90,97,99,90
student20,92,93,100,94,90,91,95,98,97,96,94,98,96,94,95,94,92,95,92,94,97,96,90,99,93,93,97,93,94,99
student21,94,92,94,90,93,100,92,95,97,98,94,90,94,92,98,96,91,91,90,90,99,92,94,93,93
student22,92,90,98,98,92,96,90,98,91,95,98,99,97,92,94,94,99,92,91
student23,90,97,90,95,99,94,96,97,96,90,90,90,97,100,94,97,93,98,95,100,91,98,96
student24,90,95,100,95,99,91
student25,96,93,97,96,100,94,93,98,98,94,99,97,93,93
student26,94,90,91,97,90,93,93,92,97,93,96,99,94,99,93
student27,92,97,91,93,98,96,98,99,97,94,99,93,96,90,97,96,95,91,99,93,90,97,96,91,92
student28,100,98,100,100,93,96,100,96,100,98,98,100,99,95,100
student29,93,92,100,90,96,95
student30,100,92,97,96,95,93,94,92,92,90,94,90,93,98
student31,96,98,98,100,93,97,92,93,96,90,92,94,92,95,90
student32,95,100,92
student33,93,98,97,95,96,90,91,98,95,100,90,99
student34,92,94,100,93,94,98,90,95
student35,94,96,93
student36,90,99,96,91,91,94
student37,96,99
student38,100,99,95,90,96,97,95,91,96,100,98,94,92,97,100,99,96,95,95,93,97
student39,95,98,95,100,99,99,94,98,94,95,97,93,100,98,96,97,97,99,94,95,92,96,92,92,99,99,90,92,100,96
student40,95,90,95,92,91,96,96,94
student41,96,99,92,93,94,94,91,91,95,92,90,94,96,97,97,96,100,98,93,96,94,97,98,92
student42,95,99,95,93,98,98,99,95,95,93,93,94,98,91,90,96,98,95,90,96,97
student43,93
student44,97,97,91,92,93,100,93,94,100,97,90,94
student45,94,94,97,98,90,92,97,93,100,91
student46,91,99,92,93,97,94,92,97,92,97,94,92,99,100,98,91,93,93,92,90,94,91,99,97,91,100,95,94,95
student47,92,99,90,97,93,99,96,92,99,90,95,97,98,94,99,96,91,96,92
student48,94,94,100,99,95,92,95,94,97,96,100
student49,91,93,90
student50,91,91,92,91,99,98,90,91,99,99,99,96,96,92,93,95,91,92,94,96,97,94,92,97,99,93,93,94
student51,94,93,99,96,97,98,96,91,92,93,100,98,90,96,98,93,98
student52,90,100
student53,100,91,93,98,98,96,96,94,92,95,93,100,99,95,94,95,90,97,99,100,98,93,98
student54,99,99,90,97,91,95,90,90,92,100,90,90,96,94,98,92,94,93,94,90,90,95,90,93,94,94,90,92,93
student55,94,94,91,99,95
student56,91,94,100,95
student57,99,91,94,100,95,90,95,95,93,94,91,96,100,99,95,93,97
student58,93,99,97,91,93,98,100,98,93,90,100,94
student59,94
student60,100,90,96
student61,93,99,97,94,91,92,95,93,93,97,96,96,94,98,91,96,98,90,98,91,95,96,95
student62,92,91
student63,93,90,91,92,96
student64,99,93,100,96,95,94,99,95,91,99,93,98,96,93,90,99,99,96,95,92,100,97,98,93,96,98,99,99,97,92
student65,95,96,94,96,98,90,99,99,96,90,90,92,100,98,97,95,90,90,99,96,100,95,92,96
student66,98,90
student67,92,92,93,93,98,94,93,99,96,96,99,95,98,97,97,92,98,94,90,95,90,93,95,98,93,100,90
student68,99,96,96,99,90,96,94,99,93,91
student69,99,94,93
student70,98,95,98,95,92,98,90,98,100,90,91,92,90
student71,92,96,97,98,95,99,96,100,99,90,99,90,95,94,99,93,90,96,91,93,97,95,92,98,94
student72,96,97,92,93,95,100,94,92,100,99,100
student73,98,93,95,100,99,90,96
student74,94,92,94,90,95,90,90,92,97,99,90,100,91,94,96,91,90,90,95,94,93,91,92,98
student75,99,93,94,95,96,100,90,97,90,92,93,95,100,94,100,94,93,96,92,92,91,92
student76,92,97
student77,93,95,98,94,95,94,95,97,94,99,98,95,94,97,93,95,90,90,94,100,94,95,92,98,91,93,100
student78,90,90,95,96,100,92,90,100,93,97,98,92,98,91,96,91,97,93,91,96,98,99,99,99,94,99,98,99,94
student79,91,100,98,95,94,97,95,91,100,97,100,93,90,97,100,92,100,100,90,92,99,94,90,100,91,97
student80,93,99,100,98,96,91,90,92,96,90,95,92,99,94,98,100,92,100,99,93,92,98,93,97
student81,94,99,92,92
student82,90,100,95,95,98
student83,91,96,90,91,95,93
student84,91,91,90,96,92,90,100,94
student85,93,90,94,96,95,100,100,99,99,90,95,90,94,100,97,91
student86,99,98,90,98,95,98,95,93,94,97,95
student87,95,96,99,99,96,99,97,94,90,99,92,95,100,95,93,98,92,94,90,99,97,94,95,97,99,91,100,100
student88,99,98,92,90,94,93,98,99,92,94,97,91,93,93,94,100,90,92,100,93
student89,91,97,92,92,93
student90,91,98,95,97,100,91,97,98,98,100,90,94,90,99,94,91,95,100,91,97,94,98,95,97,92,93,96
student91,100,97,97,92,96,91,92,94,97
student92,91,100,96,92,99,90,99,93,91,95,99,93,95,99,99,99,99,95,92,91,100,100,92,100,90,95
student93,91,96,93,93,90,98,91,97,96,94,91,98,94,95,97,98,97,95,100,92,96,92,93,92,90
student94,96,99,95,91,90,99,95,97,94,96,92,92,90,96,98,98,92,99,99,93,100,94,96,95
student95,94,97,99,91,93,100,96,90
student96,98,90,90,91,96,91,93,98,98,98,98,96,90
student97,96,91,100,95,98,95,95,91,96,94
student98,92,90,96,91,95,91,99,92,94,96,92,97,91,90,98,90,92,100,99,97,92
student99,99,92,95,92,99,100,99,100,100,96,93,99,93,91,99,91,94,91,94,92,91,90,95,93,95,93,97,91,94,93
student100,95,92,97,95,100,99

In [59]:
x = '                         \n'
x.strip()

''

In [73]:
numbers = []
with open('numbers.txt') as file:
    for line in file:
        if not line.strip():
            continue
        try:
            value = float(line)
        except:
            print(line.strip(), 'is bad')
            continue
        numbers.append(value)
sum(numbers)/len(numbers)

32.o is bad

65.85454545454546

In [69]:
numbers

[3.0, 9.0, 32.0, 324.0, 9.0, 234.0, 23.4, 34.0, 12.0, 44.0, 0.0]

65.85454545454546

In [71]:
del sum

In [74]:
a = [2,3,,5]

SyntaxError: invalid syntax (3939251948.py, line 1)

In [75]:
a = [2,3,None,5]

In [76]:
total = 0
count = 0
my_list = list(range(20))
for value in my_list:
   total += value
   count += 1
average = total / count

In [77]:
average

9.5

In [80]:
string1 = '9999772233444441111000666224355667809901,alksdjAAAAAAAAAalkdf'

unique_values = []
for ele in string1:
    if ele not in unique_values:
        unique_values.append(ele)

unique_values
''.join(unique_values)

'9723410658,alksdjAf'

In [83]:
values = []
with open('for_ex7_data1.txt') as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        try:
            value = int(line)
        except:
            continue

        values.append(value)

sum(values)/len(values)

78.8

In [84]:
values = []
with open('for_ex7_data2.txt') as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        try:
            value = int(line)
        except:
            continue

        values.append(value)

sum(values)/len(values)

64.42857142857143

In [85]:
values = []
with open('for_ex7_data3.txt') as file:
    for line in file:
        line = line.strip()
        if not line:
            continue

        try:
            value = int(line)
        except:
            continue

        values.append(value)

sum(values)/len(values)

66.5

In [106]:
import random

count_t = 0
count_h = 0
num_toss = 1_000_000
for _ in range(num_toss):
    value = random.randint(0, 1)
    if value == 0:
        count_t += 1
    elif value == 1:
        count_h += 1

print(f'Tail: {count_t}; Head: {count_h}')
print(f'Tail: {count_t/num_toss}; Head: {count_h/num_toss}')

Tail: 500808; Head: 499192
Tail: 0.500808; Head: 0.499192

In [117]:
import random
random.seed(43)
num_toss = 10
for _ in range(num_toss):
    value = random.randint(0, 1)
    print(value)

0
1
0
1
1
0
1
1
0
1

In [120]:
def coin_toss(number):
    import random
    random.seed(503)
    output = ''
    for i in range(number):
        toss = random.randint(0, 1)

        if toss == 0:
            output += 'H'
        else:
            output += 'T'

    return output


print(coin_toss(1000))

HHTHTTHHHTHHHTTHHTTTTTTTTHTTHTHTHHHHHTTTHTHTHHHTHTTHHTHTHHHHTHHTTHHHHTHTHHHTHHTTTTHHTTHTTHHHHTTTTHHHHTTTHHHTHTHHTHTTHHTHHTTTHHHTTHTHTHTTTTTHTHHTTHHTHHHHTHTTTHHTHTHHHHHHTTTHTHHTHTTHHHTTTHTHTHTHHTHTTHTTHHTTTHHTHHHTHHHHHTTHHTTTHTHHTHHHTHTHTHTHTTHHHHTHTHTHHTHTTHTTTHTTHHHHTHHHTTHTHTHTHHHTHHHHHHHHTTTTHHTTTHHHHHHTTTHHHHHTTTHTHHTTTTHTHTHHTTTTTHTHHTTHHTTTHHHTTHTTTTTTHTTHHTTTHHHHTTHHTHHTTHHTHTHHHHHHHTHTHTHTTHTTHHTHHTTHTHTTTTHHHTHHHHHHHHHTHHTHTTHTHTHHTTTHHHHTTHHHHTHTTTTTHHHTHHHHTHTHHHTHHHHTTTHTTHTTTTTHHHTTTTTHHTTTTHTTTHHTTTHHTHTTHTHHHTHHHHTTTHHHTTHHTHHTHTTTTHTTTHTTTTHTTHTHHHTHTTHHTTHHTHTTHTHTHHHTTHTTHHHTHTTHTHTHHTTHTTTTHTTTHHHTHHTTHHHTHHHTTHHTTTHHTTHTTTTHTHTTTTTTHTTHTHHHTTHHHHTHHHTTHTTTHHHTTTHHTTHTHTHTHTHHTHHTTHHTTHTTHTHHHHHTHHHHHTHTHTHTHTHHHTHHHHHTTTHHHTHHHTHHTHHHHTHTTHTTTTTHHHHHHHHTHHTHHTTTTTTHHTHHTHTHHHHHTTTTTHTHTTTTTTHTTHTTHHHTHHHTTHHTHTHTTHTTTTTTHTTHHHHTTHTTTTHHTTTHHTHHTTHHHHHHHHTHHTHTHHTTTTTHTHTTTTTHHHTHTTHHHTTHHTTTHTTTHTHHTHHTTTHHHHHHHHTTTHTHHTHHTTTHTHHTTHTHHHTHHHHTHTTHHTTHHHHHHTHHTTHHHTHT

In [123]:
def coin_toss(number):
    import random
    random.seed(503)
    output = ''
    for i in range(number):
        toss = random.randint(0, 1)

        if toss == 0:
            output += 'H'
        else:
            output += 'T'

    return output


def coin_toss_probability(number):
    result = coin_toss(number)
    head_count = 0
    tail_count = 0

    for ele in result:
        if ele == 'H':
            head_count += 1
        elif ele == 'T':
            tail_count += 1

    return (head_count / len(result), tail_count / len(result))


print(coin_toss_probability(100_000))

(0.49772, 0.50228)

In [138]:
import random
random.seed(42)
for _ in range(5):
    print(random.randint(0, 100))

81
14
3
94
35