In [1]:
import sys

sys.getsizeof(2.0)

24

In [2]:
sys.getsizeof(3.1415)

24

In [3]:
sys.getsizeof(-22222.0)

24

In [4]:
sys.getsizeof(2)

28

In [5]:
sys.getsizeof(22)

28

In [6]:
sys.getsizeof(10000)

28

In [7]:
sys.getsizeof(10000000000)

32

In [8]:
pi = 3.14
r = 6

pi * r * r

113.03999999999999

In [9]:
pi * r**2

113.04

In [10]:
x = 1

x = x + 2

x += 2

In [11]:
day_temperature = 3
night_temprature = 10
abs(day_temperature - night_temprature)

7

In [12]:
day_temperature = 3
night_temprature = 10
tmp = day_temperature - night_temprature
abs(tmp)

7

In [13]:
abs(-7) + abs(3.3)

10.3

In [14]:
int(34.6)

34

In [15]:
int(-34.6)

-34

In [16]:
int('32')

32

In [17]:
int('32a')

ValueError: invalid literal for int() with base 10: '32a'

In [18]:
int('32.2')

ValueError: invalid literal for int() with base 10: '32.2'

In [19]:
float(21)

21.0

In [20]:
float('32.2')

32.2

In [21]:
float('32')

32.0

In [22]:
str(21)

'21'

In [23]:
str(32.2)

'32.2'

In [24]:
round(3.8)

4

In [25]:
round(3.3)

3

In [26]:
round(3.5)

4

In [27]:
round(3.49)

3

In [28]:
round(3.499999)

3

In [29]:
round(-3.3)

-3

In [30]:
round(-3.5)

-4

In [31]:
round(3.141592653, 2)

3.14

In [32]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [33]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [34]:
pow(2, 2)

4

In [35]:
pow(2, 3)

8

In [36]:
pow(2, 4, 3)

1

In [37]:
pow(2, 4)

16

In [38]:
pow(2, 4, 3)

1

In [39]:
pow(abs(-2), round(4.3))

16

In [40]:
id(-9)

1970877324304

In [41]:
id(23.1)

1970877324144

In [44]:
shoe_size = 8.5

In [46]:
id(shoe_size)

1970877324208

In [47]:
id(8.5)

1970877324432

In [48]:
min(2, 3, 4)

2

In [49]:
max(2, -3, 4, 7, -5)

7

In [50]:
max(2, -3, min(4, 7), -5)

4

In [53]:
def f(x):
    squared_x  = x * x
    # return squared_x

In [54]:
f(2)

In [55]:
f_output = f(2)

In [56]:
print(f_output)

None

In [57]:
type(f_output)

NoneType

In [62]:
def f(x):
    squared_x  = x * x
    return squared_x

In [59]:
f_output = f(2)

In [60]:
print(f_output)

4

In [63]:
def f(x):
    squared_x = pow(x, 2)
    return squared_x

In [67]:
f_output = f(2)
print(f_output)

4

In [68]:
output = print('Hello')
print(output)

Hello
None

In [71]:
import random
random.randint(0, 100)

76

In [72]:
# 1 -------------------
# Using the print function print:
# ______________________________
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear John
# Happy birthday to you!
# Happy birthday to you!
# ______________________________


def fex1():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear John')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

In [73]:
fex1()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [76]:
# 2 -------------------
# Using the print function print:
# ______________________________
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear Jane
# Happy birthday to you!
# Happy birthday to you!
# ______________________________

def fex2():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    print('Happy birthday, dear Jane')
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

In [77]:
fex2()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [78]:
# 3 ---------------------
# Write a function to print:
# Happy birthday to you!!!
# Happy birthday to you!!!

def fex3():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

In [79]:
fex3()

Happy birthday to you!!!
Happy birthday to you!!!

In [83]:
# 4a ----------------
# Use the function from ex3 to print
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear John
# Happy birthday to you!!!
# Happy birthday to you!!!


def fex4a():
    fex3()
    print('Happy birthday, dear John')
    fex3()

In [84]:
fex4a()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [85]:
def fex4b():
    fex3()
    print('Happy birthday, dear Jane')
    fex3()

In [86]:
fex4b()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [95]:
# 5 -------------------
# Write a function called print_happy_birthday_name that takes
# the name as an input 
# Happy birthday, dear <Name>

def print_happy_birthday_name(name):
    print(f'Happy birthday, dear {name}')

In [96]:
print_happy_birthday_name('John')

Happy birthday, dear John

In [97]:
def print_happy_birthday():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')

In [98]:
# 6 ------------------------
# combine the functions print_happy_birthday and print_happy_birthday_name('John')

def ex6(name):
    print_happy_birthday()
    print_happy_birthday_name(name)
    print_happy_birthday()

In [99]:
ex6('John')

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [100]:
ex6('Jane')

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [103]:
value = 16

print(value ** 0.5)
print(pow(value, 0.5))

4.0
4.0

In [104]:
import math
print(math.sqrt(16))

4.0

In [105]:
def calculate_distance(x1,y1,x2,y2):
    x = (x1-x2)**2
    y = (y1-y2)**2
    return math.sqrt(x + y)

In [106]:
calculate_distance(1, 1, 4, 5)

5.0

In [107]:
# Following the function design recipe, define a function that has one
# parameter, a number, and returns that number tripled


def ex8(number):
    return number * 3

In [108]:
ex8(3)

9

In [109]:
# Following the function design recipe, define a function that has one
# parameter, a distance in kilometers, and returns the distance in miles.
# (There are 1.6 kilometers per mile.)

def km_to_mi(km):
    return km / 1.6

In [110]:
km_to_mi(160)

100.0

In [111]:
km_to_mi(80)

50.0

In [113]:
# Following the function design recipe, define a function that has three
# parameters, grades between 0 and 100 inclusive, and returns the average
# of those grades.

def average3(x, y, z):
    return (x + y + z) / 3

In [114]:
average3(10, 20, 30)

20.0

In [117]:
# Following the function design recipe, define a function that has four
# parameters, all of them grades between 0 and 100 inclusive, and returns
# the average of the best 3 of those grades.

def average4(a, b, c, d):
    return (a + b + c + d - min(a, b, c, d)) / 3

In [118]:
average4(10, 20, 30, 40)

30.0

In [119]:
# Write a function that returns the number of full weeks that have elapsed between the two days


def ex12(n1, n2):    
    return  abs(n1-n2) // 7

In [120]:
ex12(180, 360)

25

In [122]:
class_name = 'EAS503'

In [123]:
len(class_name)

6

In [124]:
x = 'EAS'
y = '503'

x + y

'EAS503'

In [125]:
'EAS' + 503

TypeError: can only concatenate str (not "int") to str

In [126]:
'EAS' + str(503)

'EAS503'

In [127]:

print('*'*80)
print('Please be quiet!')
print('-'*80)

********************************************************************************
Please be quiet!
--------------------------------------------------------------------------------

In [128]:
x = 'EAS'
x += '503'
print(x)

EAS503

In [129]:
'Alan Turning' + ' ' + 'Grace Hopper'

'Alan Turning Grace Hopper'

In [130]:
'Alan Turning' + ', ' + 'Grace Hopper'

'Alan Turning, Grace Hopper'

In [131]:
int('-324')

-324

In [132]:

'AT' * 5

'ATATATATAT'

In [133]:
'-' * 5

'-----'

In [134]:
x = 5

x = 'EAS'

In [135]:
'can't'

SyntaxError: invalid syntax (<ipython-input-135-f5388a5db062>, line 1)

In [136]:
"can't"

"can't"

In [137]:
'He said, "Please be quiet!"'

'He said, "Please be quiet!"'

In [138]:
'can\'t'

"can't"

In [140]:
print('EAS\n503')

EAS
503

In [141]:
first_name, last_name, username
john, doe, jdoe
jane, doe, janed

NameError: name 'first_name' is not defined

In [ ]:
first_name, last_name, username, comments
john, doe, jdoe, He talks too much in class, whatever
jane, doe, janed

In [142]:
print('Hello\tWorld')

Hello	World

In [143]:
#/\/\
print('/\\/\\')

/\/\

1 2 3 abc 3.14

In [145]:
print(1, 2, 3, 'abc', 3.14, sep=' ')

1 2 3 abc 3.14

In [146]:
print(1, 2, 3, 'abc', 3.14, sep=', ')

1, 2, 3, abc, 3.14

In [147]:
print(1, 2, 3, 'abc', 3.14, sep='$')

1$2$3$abc$3.14

In [148]:
print(1, 2, 3, 'abc', 3.14, sep='\t')

1	2	3	abc	3.14

In [150]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is:', celsius) 
    
    
convert_celsius()

Please enter temperature in Fahrenheit: 32
The temperature in celsius is: 0.0

In [151]:
PI = 3.14159265359 
print(f'{PI}')
#print(f'{PI:.2f}')

3.14159265359

In [152]:
print(f'{3.14159265359}')

3.14159265359

In [153]:
print(f'{abs(-3)}')

3

In [154]:
print(f'{PI:.2f}')

3.14

In [155]:
print(f'{PI:.4f}')

3.1416

In [156]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [157]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.4f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.1416

In [158]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (PI, name))  # oldest way format specifier is <width>.<precision><type>

TypeError: must be real number, not str

In [159]:
print(('{0} is {1:.2f}'.format('PI', PI)) ) # older way {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

PI is 3.14

In [160]:
print(('{} is {:.2f}'.format('PI', PI)) ) # older way {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

PI is 3.14

In [161]:
print(('{1} is {0}'.format('PI', '3.14')) ) # older way {<index>:<format-specifier>} where the format specifier is <width>.<precision><type>

3.14 is PI

In [162]:
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [163]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2

In [165]:
print(lines)

This is the first line.
This is the second line.

In [166]:
class_number = 'EAS503'
class_size = 113
class_average = 92.3

In [167]:
str_format = '{}'.format(class_number)
f_string = f'{class_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [169]:
str_format = '{} {} ------ {}'.format(class_number, 123, '45', 95.5)
print(str_format)

EAS503 123 ------ 45

In [170]:
# Example 2
str_format = 'The course number is {}'.format(class_number)
f_string = f'The course number is {class_number}'

print(str_format)
print(f_string)

The course number is EAS503
The course number is EAS503

In [172]:
# Example 3 use index
str_format = 'The course number is {}. It has {} students.'.format(class_number, class_size)
print(str_format)
str_format = 'The course number is {0}. It has {1} students.'.format(class_number, class_size)
print(str_format)
f_string = f'The course number is {class_number}. It has {class_size} students.'
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [173]:
str_format = 'The course number is {1}. It has {0} students.'.format(class_number, class_size)
print(str_format)

The course number is 113. It has EAS503 students.

In [174]:
# Example 5 adding a float
str_format = 'The course number is {0}. It has {1} students. The class average is {2}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {class_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3
The course number is 113. It has EAS503 students. The class average is 92.3.

In [176]:
# Example 6 specify number of spaces to use -- width
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [177]:
# Example 7 right align
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3
The course number is        113. It has        113 students. The class average is       92.3.

In [178]:
# Example 7 right align
str_format = 'The course number is {0:>10}. It has {1:<10} students. The class average is {2:<10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_size:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has 113        students. The class average is 92.3
The course number is        113. It has        113 students. The class average is       92.3.

In [180]:
# Example 8 center align
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}'.format(class_number, class_size, class_average)
f_string = f'The course number is {class_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

In [181]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [187]:
x = 'EASII503'

In [188]:
x.capitalize()

'Easii503'

In [189]:
x.count('I')

2

In [191]:
x.endswith('3')

True

In [192]:
x.endswith('503')

True

In [194]:
x.find('I')

3

In [195]:
x = 'EASII503'

In [196]:
x.find('Z')

-1

In [197]:
x.islower()

False

In [198]:
x.lower().islower()

True

In [199]:
x.lower()

'easii503'

In [200]:
x.isupper()

True

In [201]:
y = '   EAS503    '

In [202]:
y.lstrip()

'EAS503    '

In [203]:
y.rstrip()

'   EAS503'

In [204]:
x.replace('E', 'e')

'eASII503'

In [205]:
x

'EASII503'

In [206]:
save_x = x.replace('E', 'e')

print(save_x)

eASII503

In [207]:
x

'EASII503'

In [208]:
y.strip()

'EAS503'

In [209]:
z = 'Doe, John, jdoe@buffalo.edu'

In [210]:
z.split(',')

['Doe', ' John', ' jdoe@buffalo.edu']

In [211]:
z.split()

['Doe,', 'John,', 'jdoe@buffalo.edu']

In [212]:
z.split(', ')

['Doe', 'John', 'jdoe@buffalo.edu']

In [213]:
aa = 'ABC\tDEF\tGHI'
print(aa)

ABC	DEF	GHI

In [214]:
aa.split('\t')

['ABC', 'DEF', 'GHI']

In [215]:
'abcdefg'.upper()

'ABCDEFG'

In [216]:
b = 'abcdefg'

b.upper()

'ABCDEFG'

In [217]:
b.startswith('abc')

True

In [218]:
# 1 ----------------------------
# Print: They'll hibernate during the winter.

print("They'll hibernate during the winter.")

They'll hibernate during the winter.

In [219]:
print('They\'ll hibernate during the winter.')

They'll hibernate during the winter.

In [220]:
# 2 ----------------------------
# Print: "Absolutely not," he said.

print('"Absolutely not," he said.')

"Absolutely not," he said.

In [221]:
print("\"Absolutely not,\" he said.")

"Absolutely not," he said.

In [223]:
# 3 ----------------------------
# Print: "He said, 'Absolutely not,'" recalled Mel.
print('\"He said, \'Absolutely not,\'\" recalled Mel.')

"He said, 'Absolutely not,'" recalled Mel.

In [224]:
# Print: left\right.

print("left\\right.")

left\right.

In [225]:
# Given x = 3 and y = 12.5, print: The rabbit is 3.

x = 3
y = 12.5

print(f'The rabbit is {x}.')

The rabbit is 3.

In [226]:
# Given x = 3 and y = 12.5, print: 12.5 * 3.
x = 3
y = 12.5

print(f'{y} * {x}')

12.5 * 3

In [227]:
 # Given x = 3 and y = 12.5, print: 12.5 * 3 = 37.5.
    
x = 3
y = 12.5

print(f'{y} * {x} = {x * y}')

12.5 * 3 = 37.5

In [228]:
f = 98

(f - 32) * 5/9

36.666666666666664

In [229]:
(f - 32) * (5/9)

36.66666666666667