In [1]:
2+2

4

In [2]:
print('Hello!')

Hello!

In [3]:
2 + 2

4

In [4]:
5 - 3

2

In [5]:
5 * 6

30

In [6]:
72 / 12

6.0

In [7]:
10/3

3.3333333333333335

In [8]:
10//3

3

In [9]:
10 % 3

1

In [10]:
70 % 2

0

In [11]:
35 % 7

0

In [12]:
type(34)

int

In [13]:
type(35.5)

float

In [14]:
type(True)

bool

In [15]:
type(False)

bool

In [16]:
type(None)

NoneType

In [17]:
8/2(2+2)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-17-434db4e2aa6c>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  8/2(2+2)

TypeError: 'int' object is not callable

In [18]:
8/2 * (2+2)

16.0

In [19]:
10000000000 + 0.00000000001

10000000000.0

In [20]:
2 + 2

4

In [21]:
my_result = 2 + 2

In [22]:
my_result

4

In [23]:
my_result * 20

80

In [24]:
my_result2 = my_result * 5

In [25]:
my_result2

20

In [26]:
AA
_AA
aa
_ab22222_ksjdflksdf_AAA

2Acfdf = 2 + 2

AA+AA

SyntaxError: invalid syntax (<ipython-input-26-2a472a484f8f>, line 6)

In [27]:
int = 2 + 2

In [28]:
int

4

In [29]:
del int

In [30]:
int

int

In [31]:
my_result

4

In [32]:
PI = 3.14

In [33]:
MyClass

my_function

NameError: name 'MyClass' is not defined

In [34]:
x = 503

In [35]:
y = "EAS503"

In [36]:
y = 'EAS503'

In [37]:
# This is wrong
y = "EAS503'

SyntaxError: EOL while scanning string literal (<ipython-input-37-c87c013b48f6>, line 1)

In [38]:
y = "EAS503"

In [39]:
print(x)

503

In [40]:
print(y)

EAS503

In [41]:
y = 50

In [42]:
print(y)

50

In [43]:
print(x)

503

In [44]:
name = input("What is your name? ")

What is your name? John Doe

In [45]:
print(name)

John Doe

In [46]:
x = 3
y = 2

In [47]:
y,x = x,y

In [48]:
print(x,y)

2 3

In [49]:
sum, diff = x + y, x - y

In [50]:
print(sum)

5

In [51]:

print(y)

3

In [52]:
print(diff)

-1

In [53]:
del sum

In [54]:
x += 3
print(x)

5

In [55]:
y = -89.2

output = abs(y)
print(output)

89.2

In [56]:
print(abs(y))

89.2

In [57]:
day_temperature = 3
night_temprature = 10
abs(day_temperature - night_temprature)

7

In [58]:
2 + 2

4

In [59]:
abs(-7) + abs(3.3)
# 7 + 3.3

10.3

In [60]:
int(35.2342)

35

In [61]:
int(-4.3)

-4

In [62]:
float(21)

21.0

In [63]:
str(21)

'21'

In [64]:
x = str(21)

In [65]:
type(x)

str

In [66]:
round(3.8)

4

In [67]:
round(3.49)

3

In [68]:
round(-3.49)

-3

In [69]:
round(3.141592653,2)

3.14

In [70]:
round(3.141592653,4)

3.1416

In [71]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [72]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [73]:
2**4

16

In [74]:
pow(2,4)

16

In [75]:
pow(2,4,3)

1

In [76]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [77]:
pow(abs(-2), round(4.3))

16

In [78]:
id(-9)

2348201154576

In [79]:
id(8.5)

2348201154416

In [80]:
show_size = 8.5
id(show_size)

2348201153552

In [81]:
min(2, 3, 4)

2

In [82]:
max(2, 3, 4)

4

In [83]:
max(2, -3, min(4, 7), -5)

4

In [84]:
function myfunction() {
    jskldf
    lksjdflsd
}

outside the function instructions

SyntaxError: invalid syntax (<ipython-input-84-ee5f79ca80f8>, line 1)

In [85]:
def my_function():
    x = 1 + 2
    
y = 2+3

In [88]:
def f(x):
    square_x = x * x
    return square_x
    
three_squared = f(3)
print(three_squared)

9

In [89]:
def square_value(input_value):
    return input_value * input_value

four_square = square_value(4)
print(four_square)

16

In [90]:
# 1 -------------------
# Using the print function print:
# ______________________________
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear John
# Happy birthday to you!
# Happy birthday to you!
# ______________________________

def ex1():
    print('Happy birthday to you!!!')
    print('Happy birthday to you !!!')
    print('Happy birthday, dear John')
    print('Happy birthday to you!')
    print('Happy birthday to you!')
    

ex1()

Happy birthday to you!!!
Happy birthday to you !!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!

In [91]:
# 2 -------------------
# Using the print function print:
# ______________________________
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear Jane
# Happy birthday to you!
# Happy birthday to you!
# ______________________________


def ex2():
    print('Happy birthday to you!!!')
    print('Happy birthday to you !!!')
    print('Happy birthday, dear Jane')
    print('Happy birthday to you!')
    print('Happy birthday to you!')
    

ex2()

Happy birthday to you!!!
Happy birthday to you !!!
Happy birthday, dear Jane
Happy birthday to you!
Happy birthday to you!

In [92]:
# 3 ---------------------
# Write a function to print:
# Happy birthday to you!!!
# Happy birthday to you!!!

def ex3():
    print('Happy birthday to you!!!')
    print('Happy birthday to you!!!')
    
ex3()

Happy birthday to you!!!
Happy birthday to you!!!

In [94]:
# 4a ----------------
# Use the function from ex3 to print
# Happy birthday to you!!!
# Happy birthday to you!!!
# Happy birthday, dear John
# Happy birthday to you!!!
# Happy birthday to you!!!


def ex4a():
    ex3()
    print('Happy birthday, dear John')
    ex3()
    
ex4a()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [95]:
def ex4b():
    ex3()
    print('Happy birthday, dear Jane')
    ex3()
    
ex4b()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!

In [100]:
# 5 -------------------
# Write a function called print_happy_birthday_name that takes
# the name as an input 
# Happy birthday, dear <Name>


def print_happy_birthday_name(name):
    print('Happy birthday, dear ' + name)

print_happy_birthday_name('John')
print_happy_birthday_name('Jane')

Happy birthday, dear John
Happy birthday, dear Jane

In [97]:
'A' + 'B'

'AB'

In [98]:
'A' + 2

TypeError: can only concatenate str (not "int") to str

In [103]:
# 6 ------------------------
# combine the functions print_happy_birthday and print_happy_birthday_name('John')


def ex6a():
    ex3()
    print_happy_birthday_name('John')
    ex3()
    
ex6a()

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!

In [105]:
def ex6b(name):
    ex3()
    print_happy_birthday_name(name)
    ex3()
    
ex6b('John')
ex6b('Jane')

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear Jane
Happy birthday to you!!!
Happy birthday to you!!!