In [1]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [3]:
def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [4]:
import os, pprint
db_file = 'testdb1.db'

if os.path.exists(db_file):
    os.remove(db_file)

create_table_sql = """CREATE TABLE students (
    last_name TEXT, 
    first_name TEXT, 
    username TEXT, 
    exam1 REAL, exam2 REAL, exam3 REAL);"""

conn = create_connection(db_file)

with conn:
    create_table(conn, create_table_sql)

In [5]:
print(conn)

<sqlite3.Connection object at 0x000001DF1D6158A0>

In [6]:
conn.close()

In [7]:
print(conn)

<sqlite3.Connection object at 0x000001DF1D6158A0>

In [9]:
conn = create_connection(db_file)
with conn:
    create_table(conn, create_table_sql)

table students already exists

In [18]:
create_table_sql = """CREATE TABLE students (
    last_name TEXT, 
    first_name TEXT, 
    username TEXT, 
    exam1 REAL, exam2 REAL, exam3 REAL);"""
with conn:
    create_table(conn, "DROP TABLE Students")
    create_table(conn, create_table_sql)

In [22]:
def insert_student(conn, values):

    sql = ''' INSERT INTO students(last_name,first_name,username,exam1,exam2,exam3)
              VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

In [32]:
def select_all_students(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM students")
    rows = cur.fetchall()
    for row in rows:
        print(row)

    return rows

In [33]:
with conn:
    create_table(conn, "DROP TABLE Students")
    create_table(conn, create_table_sql)
   
    for student in open('students.tsv', 'r'):
        values = student.strip().split('\t')
#         print(values)
        rid = insert_student(conn, values)
#         print(rid)
    select_all_students(conn)

('Larson', 'Melissa', 'larsonmeli', 24.0, 89.0, 31.0)
('Novak', 'Melissa', 'novakmeli', 77.0, 3.0, 38.0)
('Sawyer', 'Wendy', 'sawyerwend', 81.0, 59.0, 30.0)
('Schultz', 'Marcus', 'schultzmarc', 59.0, 29.0, 67.0)
('Vega', 'Nicholas', 'veganich', 64.0, 12.0, 95.0)
('Adams', 'Brenda', 'adamsbren', 80.0, 49.0, 60.0)
('Thompson', 'Charlene', 'thompsonchar', 37.0, 56.0, 26.0)
('Booth', 'Bradley', 'boothbrad', 85.0, 8.0, 77.0)
('Gallegos', 'Eugene', 'gallegoseuge', 34.0, 9.0, 76.0)
('Munoz', 'Mary', 'munozmary', 77.0, 41.0, 55.0)
('Carey', 'Kimberly', 'careykimb', 29.0, 94.0, 23.0)
('Paul', 'Philip', 'paulphil', 79.0, 86.0, 60.0)
('Reed', 'Madeline', 'reedmade', 16.0, 39.0, 46.0)
('Parsons', 'Cassie', 'parsonscass', 61.0, 62.0, 65.0)
('Mcclain', 'Glenn', 'mcclainglen', 85.0, 98.0, 52.0)
('Oliver', 'Janice', 'oliverjani', 72.0, 47.0, 34.0)
('Lozano', 'Catherine', 'lozanocath', 71.0, 19.0, 94.0)
('Klein', 'John', 'kleinjohn', 3.0, 43.0, 88.0)
('Brooks', 'Marcus', 'brooksmarc', 6.0, 81.0, 70.0)
('Lee', 'Michael', 'leemich', 30.0, 54.0, 25.0)
('Myers', 'Elizabeth', 'myerseliz', 41.0, 38.0, 28.0)
('Bowen', 'Katherine', 'bowenkath', 57.0, 61.0, 34.0)
('Gibson', 'Edward', 'gibsonedwa', 84.0, 27.0, 21.0)
('Smith', 'Christopher', 'smithchri', 25.0, 11.0, 68.0)
('Key', 'Debra', 'keydebr', 66.0, 47.0, 29.0)
('Fleming', 'Carlos', 'flemingcarl', 50.0, 45.0, 93.0)
('Parrish', 'Nathan', 'parrishnath', 47.0, 92.0, 45.0)
('Lewis', 'Michael', 'lewismich', 73.0, 65.0, 98.0)
('Diaz', 'David', 'diazdavi', 52.0, 40.0, 20.0)
('Walter', 'Linda', 'walterlind', 28.0, 14.0, 71.0)
('Bailey', 'Amanda', 'baileyaman', 27.0, 4.0, 38.0)
('Terrell', 'Robert', 'terrellrobe', 99.0, 93.0, 60.0)
('Johnson', 'Janice', 'johnsonjani', 22.0, 49.0, 93.0)
('Lee', 'John', 'leejohn', 25.0, 25.0, 39.0)
('Dominguez', 'Kathryn', 'dominguezkath', 21.0, 82.0, 31.0)
('Ellis', 'Paige', 'ellispaig', 41.0, 46.0, 82.0)
('Wilkinson', 'Jennifer', 'wilkinsonjenn', 52.0, 64.0, 44.0)
('Rodriguez', 'Michelle', 'rodriguezmich', 94.0, 24.0, 50.0)
('Kennedy', 'Lisa', 'kennedylisa', 93.0, 19.0, 48.0)
('Henderson', 'Michelle', 'hendersonmich', 91.0, 60.0, 86.0)
('Hill', 'James', 'hilljame', 59.0, 22.0, 85.0)
('Jones', 'David', 'jonesdavi', 37.0, 60.0, 15.0)
('Landry', 'Patrick', 'landrypatr', 41.0, 82.0, 93.0)
('Cox', 'Jerome', 'coxjero', 67.0, 28.0, 29.0)
('Santana', 'Linda', 'santanalind', 77.0, 58.0, 4.0)
('Patton', 'Robert', 'pattonrobe', 78.0, 53.0, 20.0)
('Mclean', 'Christopher', 'mcleanchri', 59.0, 58.0, 73.0)
('Rhodes', 'Andre', 'rhodesandr', 53.0, 9.0, 82.0)
('Ramsey', 'John', 'ramseyjohn', 89.0, 95.0, 94.0)
('Martin', 'Paul', 'martinpaul', 15.0, 11.0, 12.0)
('Perez', 'Kelli', 'perezkell', 6.0, 22.0, 3.0)
('Moran', 'Troy', 'morantroy', 61.0, 21.0, 45.0)
('Kerr', 'Sarah', 'kerrsara', 82.0, 27.0, 65.0)
('Wade', 'Stephanie', 'wadestep', 9.0, 69.0, 31.0)
('Smith', 'Rebecca', 'smithrebe', 3.0, 75.0, 55.0)
('Long', 'Joel', 'longjoel', 20.0, 50.0, 3.0)
('Ashley', 'Cody', 'ashleycody', 75.0, 69.0, 94.0)
('Patrick', 'Rachel', 'patrickrach', 16.0, 20.0, 80.0)
('Oliver', 'Alex', 'oliveralex', 61.0, 22.0, 6.0)
('Hoffman', 'Shannon', 'hoffmanshan', 29.0, 68.0, 71.0)
('Holden', 'Michael', 'holdenmich', 57.0, 23.0, 53.0)
('Graham', 'Vanessa', 'grahamvane', 78.0, 76.0, 73.0)
('Blair', 'Christopher', 'blairchri', 70.0, 97.0, 27.0)
('Taylor', 'Diana', 'taylordian', 99.0, 90.0, 6.0)
('Reilly', 'Brandon', 'reillybran', 10.0, 94.0, 64.0)
('Gamble', 'Matthew', 'gamblematt', 48.0, 50.0, 26.0)
('Weber', 'Patrick', 'weberpatr', 87.0, 33.0, 92.0)
('Woodard', 'Judy', 'woodardjudy', 47.0, 43.0, 13.0)
('Hull', 'Alexandra', 'hullalex', 38.0, 7.0, 42.0)
('Frank', 'Jessica', 'frankjess', 95.0, 87.0, 92.0)
('Davis', 'Samuel', 'davissamu', 22.0, 17.0, 91.0)
('Baird', 'Alexandra', 'bairdalex', 32.0, 90.0, 71.0)
('Hensley', 'James', 'hensleyjame', 52.0, 50.0, 61.0)
('Luna', 'Carmen', 'lunacarm', 36.0, 92.0, 6.0)
('Garcia', 'Brian', 'garciabria', 37.0, 53.0, 3.0)
('Andrews', 'Luis', 'andrewsluis', 43.0, 92.0, 3.0)
('Watson', 'Jessica', 'watsonjess', 2.0, 44.0, 50.0)
('Evans', 'Dawn', 'evansdawn', 18.0, 59.0, 45.0)
('Barnes', 'Tammy', 'barnestamm', 54.0, 53.0, 71.0)
('Nelson', 'Angela', 'nelsonange', 33.0, 63.0, 66.0)
('Patterson', 'Jennifer', 'pattersonjenn', 26.0, 98.0, 97.0)
('King', 'Austin', 'kingaust', 64.0, 89.0, 59.0)
('Smith', 'Carol', 'smithcaro', 73.0, 48.0, 65.0)
('Cook', 'Lisa', 'cooklisa', 66.0, 25.0, 11.0)
('Francis', 'Shawn', 'francisshaw', 37.0, 55.0, 26.0)
('Monroe', 'Michael', 'monroemich', 23.0, 92.0, 34.0)
('Cortez', 'Patrick', 'cortezpatr', 18.0, 22.0, 2.0)
('Chang', 'Kristen', 'changkris', 78.0, 55.0, 94.0)
('Mcclain', 'Brandy', 'mcclainbran', 65.0, 1.0, 23.0)
('Sellers', 'Stephanie', 'sellersstep', 11.0, 83.0, 76.0)
('Olsen', 'Mariah', 'olsenmari', 44.0, 27.0, 64.0)
('Melton', 'Brianna', 'meltonbria', 52.0, 95.0, 47.0)
('Day', 'Jon', 'dayjon', 15.0, 55.0, 71.0)
('Little', 'Brian', 'littlebria', 25.0, 35.0, 88.0)
('Johnson', 'Wayne', 'johnsonwayn', 66.0, 31.0, 58.0)
('Duncan', 'Andrew', 'duncanandr', 59.0, 87.0, 34.0)
('Bush', 'Alexander', 'bushalex', 82.0, 54.0, 25.0)
('Summers', 'Michael', 'summersmich', 18.0, 95.0, 63.0)
('Bowers', 'Sandra', 'bowerssand', 52.0, 8.0, 50.0)
('Fernandez', 'Jonathan', 'fernandezjona', 74.0, 80.0, 22.0)

In [37]:
import pandas as pd
df = pd.read_sql_query("SELECT * FROM StudENTs", conn)
display(df)

    last_name first_name       username  exam1  exam2  exam3
0      Larson    Melissa     larsonmeli   24.0   89.0   31.0
1       Novak    Melissa      novakmeli   77.0    3.0   38.0
2      Sawyer      Wendy     sawyerwend   81.0   59.0   30.0
3     Schultz     Marcus    schultzmarc   59.0   29.0   67.0
4        Vega   Nicholas       veganich   64.0   12.0   95.0
..        ...        ...            ...    ...    ...    ...
95     Duncan     Andrew     duncanandr   59.0   87.0   34.0
96       Bush  Alexander       bushalex   82.0   54.0   25.0
97    Summers    Michael    summersmich   18.0   95.0   63.0
98     Bowers     Sandra     bowerssand   52.0    8.0   50.0
99  Fernandez   Jonathan  fernandezjona   74.0   80.0   22.0

[100 rows x 6 columns]

In [47]:
import os
import sqlite3
from sqlite3 import Error

try:
    conn.close()
except:
    pass
def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def insert_depts(conn, values):
    sql = ''' INSERT INTO Departments(DepartmentName)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def insert_student(conn, values):
    sql = ''' INSERT INTO Students(StudentName, DepartmentId, DateOfBirth)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def select_all_students(conn):
    cur = conn.cursor()
#     cur.execute("""SELECT * FROM Students INNER JOIN Departments USING(DepartmentId);""")
    cur.execute("""SELECT StudentName, DepartmentName FROM Students INNER JOIN Departments USING(DepartmentId);""")

    rows = cur.fetchall()

    for row in rows:
        print(row)

    return rows


db_file = 'sqlite_example2.db'
if os.path.exists(db_file):
    os.remove(db_file)

create_table_departments_sql = """ CREATE TABLE [Departments] (
    [DepartmentId] INTEGER NOT NULL PRIMARY KEY,
    [DepartmentName] TEXT NOT NULL
); """

create_table_students_sql = """ CREATE TABLE [Students] (
    [StudentId] INTEGER  PRIMARY KEY NOT NULL,
    [StudentName] TEXT NOT NULL,
    [DepartmentId] INTEGER  NULL,
    [DateOfBirth] DATE NULL,
    FOREIGN KEY(DepartmentId) REFERENCES Departments(DepartmentId)
);  """

conn = create_connection(db_file)


depts = ('IT', 'Physics', 'Arts', 'Math')
students = (
    ('Michael', 1, '1998-10-12'),
    ('John', 1, '1998-10-12'),
    ('Jack', 1, '1998-10-12'),
    ('Sara', 2, '1998-10-12'),
    ('Sally', 2, '1998-10-12'),
    ('Jena', None, '1998-10-12'),
    ('Nancy', 2, '1998-10-12'),
    ('Adam', 3, '1998-10-12'),
    ('Stevens', 3, '1998-10-12'),
    ('George', None, '1998-10-12')
)

with conn:
    create_table(conn, "DROP TABLE IF EXISTS Departments")
    create_table(conn, "DROP TABLE IF EXISTS Students")
    create_table(conn, create_table_departments_sql)
    create_table(conn, create_table_students_sql)
    for values in depts:
#         print(values)
#         print((values, ))
        value_tupple = (values, )
        insert_depts(conn, value_tupple)
    for values in students:
        insert_student(conn, values)
select_all_students(conn)

conn.close()

('Michael', 'IT')
('John', 'IT')
('Jack', 'IT')
('Sara', 'Physics')
('Sally', 'Physics')
('Nancy', 'Physics')
('Adam', 'Arts')
('Stevens', 'Arts')

In [53]:
import os
import sqlite3
from sqlite3 import Error

try:
    conn.close()
except:
    pass

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

def insert_depts(conn, values):
    sql = ''' INSERT INTO Departments(DepartmentName)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def insert_student(conn, values):
    sql = ''' INSERT INTO Students(StudentName, DepartmentId, DateOfBirth)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

def insert_student2(conn, table, values):
    sql = ''' INSERT INTO ?
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def get_dept_fk(dept):
    cur = conn.cursor()
    sql_statement = """SELECT DepartmentId FROM Departments WHERE DepartmentName == (?);"""
    cur.execute(sql_statement,  (dept, ))

    fk = cur.fetchone()
    if fk:
        print(fk)
        return fk[0]
    else:
        return None


def select_all_students(conn):
    cur = conn.cursor()
    cur.execute("""SELECT * FROM Students INNER JOIN Departments USING(DepartmentId);""")

    rows = cur.fetchall()

    for row in rows:
        print(row)

    return rows


db_file = 'sample_data_py.db'
if os.path.exists(db_file):
    os.remove(db_file)

create_table_departments_sql = """ CREATE TABLE [Departments] (
    [DepartmentId] INTEGER  NOT NULL PRIMARY KEY,
    [DepartmentName] NVARCHAR(50)  NULL
); """

create_table_students_sql = """ CREATE TABLE [Students] (
    [StudentId] INTEGER  PRIMARY KEY NOT NULL,
    [StudentName] NVARCHAR(50) NOT NULL,
    [DepartmentId] INTEGER  NULL,
    [DateOfBirth] DATE NULL,
    FOREIGN KEY(DepartmentId) REFERENCES Departments(DepartmentId)
);  """

conn = create_connection(db_file)


depts = ('IT', 'Physics', 'Arts', 'Math')
students = (
    ('Michael', 'IT', '1998-10-12'),
    ('John', 'IT', '1998-10-12'),
    ('Jack', 'IT', '1998-10-12'),
    ('Sara', 'Physics', '1998-10-12'),
    ('Sally', 'Physics', '1998-10-12'),
    ('Jena', None, '1998-10-12'),
    ('Nancy', 'Physics', '1998-10-12'),
    ('Adam', 'Arts', '1998-10-12'),
    ('Stevens', 'Arts', '1998-10-12'),
    ('George', None, '1998-10-12')
)

with conn:

    create_table(conn, create_table_departments_sql)
    create_table(conn, create_table_students_sql)
    for values in depts:
        insert_depts(conn, (values, ))
    for values in students:
        values = list(values)
        print(values)
        values[1] = get_dept_fk(values[1])
        print(values)
        insert_student(conn, values)
    select_all_students(conn)
    
conn.close()

['Michael', 'IT', '1998-10-12']
(1,)
['Michael', 1, '1998-10-12']
['John', 'IT', '1998-10-12']
(1,)
['John', 1, '1998-10-12']
['Jack', 'IT', '1998-10-12']
(1,)
['Jack', 1, '1998-10-12']
['Sara', 'Physics', '1998-10-12']
(2,)
['Sara', 2, '1998-10-12']
['Sally', 'Physics', '1998-10-12']
(2,)
['Sally', 2, '1998-10-12']
['Jena', None, '1998-10-12']
['Jena', None, '1998-10-12']
['Nancy', 'Physics', '1998-10-12']
(2,)
['Nancy', 2, '1998-10-12']
['Adam', 'Arts', '1998-10-12']
(3,)
['Adam', 3, '1998-10-12']
['Stevens', 'Arts', '1998-10-12']
(3,)
['Stevens', 3, '1998-10-12']
['George', None, '1998-10-12']
['George', None, '1998-10-12']
(1, 'Michael', 1, '1998-10-12', 'IT')
(2, 'John', 1, '1998-10-12', 'IT')
(3, 'Jack', 1, '1998-10-12', 'IT')
(4, 'Sara', 2, '1998-10-12', 'Physics')
(5, 'Sally', 2, '1998-10-12', 'Physics')
(7, 'Nancy', 2, '1998-10-12', 'Physics')
(8, 'Adam', 3, '1998-10-12', 'Arts')
(9, 'Stevens', 3, '1998-10-12', 'Arts')

In [54]:
import sqlite3
from sqlite3 import Error



def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


def insert_employee(conn, values):
    sql = """ INSERT INTO EMPLOYEES VALUES(?, ?, ?) """
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

def insert_project(conn, values):
    sql = """ INSERT INTO PROJECTS VALUES(?, ?) """
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

def insert_employee_project(conn, values):
    sql = """ INSERT INTO EMPLOYEES_PROJECTS VALUES(?, ?) """
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def execute_sql_statement(sql_statement):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows



create_employee_table_sql = """CREATE TABLE [EMPLOYEES] (  
    [EmployeeID] TEXT  NOT NULL PRIMARY KEY,
    [Last_Name] TEXT NOT NULL,
    [First_Name] TEXT NOT NULL
);"""

create_projects_table_sql = """ CREATE TABLE [PROJECTS] (  
    [ProjectNum] TEXT  NOT NULL,
    [ProjectTitle] TEXT NOT NULL,
    PRIMARY KEY (ProjectNum, ProjectTitle)
);
"""

create_employees_projects_table_sql = """ CREATE TABLE [EMPLOYEES_PROJECTS] (  
    [EmployeeID] TEXT  NOT NULL,
    [ProjectNum] TEXT NOT NULL,
    PRIMARY KEY (EmployeeID, ProjectNum)
);
"""


employees = (
    ("EN1-26", "O'Brien", "Sean"),
    ("EN1-33", "Guya", "Amy"),
    ("EN1-35", "Baranco", "Steven"),
    ("EN1-36", "Roslyn", "Elizabeth"),
    ("EN1-38", "Schaaf", "Carol"),
    ("EN1-40", "Wing", "Alexandra")
)

projects = (
    ("30-452-T3", "STAR manual"),
    ("30-457-T3", "ISO procedures"),
    ("30-482-TC", "Web site"),
    ("31-124-T3", "Employee handbook"),
    ("31-238-TC", "STAR prototype"),
    ("31-238-TC2", "New catalog"),
    ("35-152-TC", "STAR pricing"),
    ("36-272-TC", "Order system"),
)


employees_projects = (
    ("EN1-26", "30-452-T3"),
    ("EN1-26", "30-457-T3"),
    ("EN1-26", "31-124-T3"),
    ("EN1-33", "30-328-TC"),
    ("EN1-33", "30-452-T3"),
    ("EN1-33", "32-244-T3"),
    ("EN1-35", "30-452-T3"),
    ("EN1-35", "31-238-TC"),
    ("EN1-36", "35-152-TC"),
    ("EN1-38", "36-272-TC"),
    ("EN1-40", "31-238-TC2"),
    ("EN1-40", "31-241-TC"),
)


db_file = 'example5_py2.db'
conn = create_connection(db_file, True)


with conn:
    create_table(conn, create_employee_table_sql)
    create_table(conn, create_projects_table_sql)
    create_table(conn, create_employees_projects_table_sql)

    for ele in employees:
        insert_employee(conn, ele)
    for ele in projects:
        insert_project(conn, ele)
    for ele in employees_projects:
        insert_employee_project(conn, ele)

    print(execute_sql_statement("SELECT * FROM EMPLOYEES;"))
    print(execute_sql_statement("SELECT * FROM PROJECTS;"))
    print(execute_sql_statement("SELECT * FROM EMPLOYEES_PROJECTS;"))
    print(execute_sql_statement("SELECT EmployeeID, count(ProjectNum) FROM EMPLOYEES_PROJECTS GROUP BY EmployeeID;"))
    sql_statement = """SELECT EMPLOYEES_PROJECTS.EmployeeID, EMPLOYEES_PROJECTS.ProjectNum, EMPLOYEES.Last_Name, EMPLOYEES.First_Name, PROJECTS.ProjectTitle FROM EMPLOYEES_PROJECTS 
LEFT JOIN EMPLOYEES ON EMPLOYEES_PROJECTS.EmployeeID = EMPLOYEES.EmployeeID
LEFT JOIN PROJECTS ON EMPLOYEES_PROJECTS.ProjectNum = PROJECTS.ProjectNum;"""
    for ele in execute_sql_statement(sql_statement):
        print(ele)

[('EN1-26', "O'Brien", 'Sean'), ('EN1-33', 'Guya', 'Amy'), ('EN1-35', 'Baranco', 'Steven'), ('EN1-36', 'Roslyn', 'Elizabeth'), ('EN1-38', 'Schaaf', 'Carol'), ('EN1-40', 'Wing', 'Alexandra')]
[('30-452-T3', 'STAR manual'), ('30-457-T3', 'ISO procedures'), ('30-482-TC', 'Web site'), ('31-124-T3', 'Employee handbook'), ('31-238-TC', 'STAR prototype'), ('31-238-TC2', 'New catalog'), ('35-152-TC', 'STAR pricing'), ('36-272-TC', 'Order system')]
[('EN1-26', '30-452-T3'), ('EN1-26', '30-457-T3'), ('EN1-26', '31-124-T3'), ('EN1-33', '30-328-TC'), ('EN1-33', '30-452-T3'), ('EN1-33', '32-244-T3'), ('EN1-35', '30-452-T3'), ('EN1-35', '31-238-TC'), ('EN1-36', '35-152-TC'), ('EN1-38', '36-272-TC'), ('EN1-40', '31-238-TC2'), ('EN1-40', '31-241-TC')]
[('EN1-26', 3), ('EN1-33', 3), ('EN1-35', 2), ('EN1-36', 1), ('EN1-38', 1), ('EN1-40', 2)]
('EN1-26', '30-452-T3', "O'Brien", 'Sean', 'STAR manual')
('EN1-26', '30-457-T3', "O'Brien", 'Sean', 'ISO procedures')
('EN1-26', '31-124-T3', "O'Brien", 'Sean', 'Employee handbook')
('EN1-33', '30-328-TC', 'Guya', 'Amy', None)
('EN1-33', '30-452-T3', 'Guya', 'Amy', 'STAR manual')
('EN1-33', '32-244-T3', 'Guya', 'Amy', None)
('EN1-35', '30-452-T3', 'Baranco', 'Steven', 'STAR manual')
('EN1-35', '31-238-TC', 'Baranco', 'Steven', 'STAR prototype')
('EN1-36', '35-152-TC', 'Roslyn', 'Elizabeth', 'STAR pricing')
('EN1-38', '36-272-TC', 'Schaaf', 'Carol', 'Order system')
('EN1-40', '31-238-TC2', 'Wing', 'Alexandra', 'New catalog')
('EN1-40', '31-241-TC', 'Wing', 'Alexandra', None)

In [55]:
# Square a list using NumPy
import numpy as np

vector = np.array(range(10))
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [57]:
py_list = list(range(10))
print(py_list)
print(py_list*5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
scalar = 5
print(vector * scalar)

[ 0  5 10 15 20 25 30 35 40 45]

In [59]:
print(vector * vector)

[ 0  1  4  9 16 25 36 49 64 81]

In [60]:
my_list = [1, 2, 3]
print(my_list)

import numpy as np

my_vector = np.array(my_list)
print(my_vector)

[1, 2, 3]
[1 2 3]

In [61]:
[my_list, my_list]

[[1, 2, 3], [1, 2, 3]]

In [62]:
my_matrix = np.array([my_list, my_list])
print(my_matrix)

[[1 2 3]
 [1 2 3]]

In [63]:
np.hstack([my_list, my_list])

array([1, 2, 3, 1, 2, 3])

In [64]:
np.hstack([[1,2], [3,4,5]])

array([1, 2, 3, 4, 5])

In [65]:
np.array([[1,2], [3,4,5]])

<ipython-input-65-b04160bebc86>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  np.array([[1,2], [3,4,5]])

array([list([1, 2]), list([3, 4, 5])], dtype=object)

In [66]:
a = np.hstack([[1,2], [3,4,5]])

In [67]:
a*5

array([ 5, 10, 15, 20, 25])

In [69]:
my_matrix = np.array([my_list, my_list])
print(my_matrix)

[[1 2 3]
 [1 2 3]]

In [70]:
b = np.vstack([my_list, my_list])
print(b)

[[1 2 3]
 [1 2 3]]

In [74]:
my_list1 = [(1,2), [3,4]]
my_list2 = [[5,6], [7,8]]  
np.hstack([my_list1, my_list2])   
np.vstack([my_list1, my_list2])

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [72]:
b[0]

array([1, 2, 3])

In [73]:
b[0][1]

2

In [75]:
b[0][1] = 5

In [76]:
b

array([[1, 5, 3],
       [1, 2, 3]])

In [77]:
print(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [79]:
print(np.arange(0, 10))
print(np.arange(0, 10, 2))

[0 1 2 3 4 5 6 7 8 9]
[0 2 4 6 8]

In [80]:
np.zeros(3)

array([0., 0., 0.])

In [81]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [82]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [83]:
np.ones(3)

array([1., 1., 1.])

In [84]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [85]:
np.ones(3)*4

array([4., 4., 4.])

In [86]:
np.linspace(0, 10, 5)

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [87]:
np.linspace(1900, 2000, 11)

array([1900., 1910., 1920., 1930., 1940., 1950., 1960., 1970., 1980.,
       1990., 2000.])

In [88]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [89]:
np.empty((2,3))

array([[1.01670004e-311, 1.01670077e-311, 1.01670077e-311],
       [1.01670077e-311, 1.01670077e-311, 1.01670077e-311]])

In [90]:
np.random.rand(3)

array([0.71095653, 0.87934501, 0.62399287])

In [91]:
np.random.rand(3,3)

array([[0.80271001, 0.70675503, 0.6322271 ],
       [0.96596709, 0.97078935, 0.82963637],
       [0.41609592, 0.46134163, 0.37133243]])

In [92]:
np.random.randn(3)

array([ 0.59282708, -1.65770441, -0.03408532])

In [93]:
np.random.randint(1,101)

79

In [94]:
np.random.randint(1,101,5)

array([67, 18, 96, 95, 40])

In [95]:
vector = np.arange(1,10)

In [96]:
print(vector)

[1 2 3 4 5 6 7 8 9]

In [97]:
print(vector.reshape(3,3))

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [98]:
vector = np.arange(1,13)

In [99]:
print(vector.reshape(3,4))

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [100]:
print(vector.reshape(4,3))

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [101]:
print(vector.reshape(6,2))

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]

In [102]:
print(vector.reshape(2,6))

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

In [103]:
vector = np.random.randint(1,50,25)

In [104]:
print(vector)

[41 30 11 19 26  3 35  4 25 39 40  9  9 20 18  5 37 13  7 46 42 47 24 31
 35]

In [105]:
vector.min()

3

In [106]:
vector.max()

47

In [107]:
index = vector.argmin()

In [108]:
index

5

In [109]:
vector.shape

(25,)

In [110]:
my_matrix = vector.reshape(5, 5)

In [111]:
my_matrix.shape

(5, 5)

In [112]:
vector = np.array(range(10))

In [113]:
vector[3]

3

In [114]:
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [115]:
vector[3:8]

array([3, 4, 5, 6, 7])

In [116]:
vector[3:6] = 12 ## Not allowed with regular python list

In [117]:
vector

array([ 0,  1,  2, 12, 12, 12,  6,  7,  8,  9])

In [118]:
vector = np.array(range(10))

In [119]:
my_slice = vector[3:7]

In [120]:
my_slice[:] = 20

In [121]:
print(vector)

[ 0  1  2 20 20 20 20  7  8  9]

In [122]:
vector = np.array(range(10))
my_slice_copy = vector[3:7].copy()
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [123]:
my_slice_copy[:] = 100

In [124]:
print(vector)

[0 1 2 3 4 5 6 7 8 9]

In [125]:
my_slice_copy

array([100, 100, 100, 100])

In [126]:
matrix = np.array(range(1,10)).reshape((3,3))

In [127]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [128]:
matrix[0,0]

1

In [129]:
matrix[0][0]

1

In [130]:
 
matrix[2][2]

9

In [131]:


matrix[2,2]

9

In [132]:
matrix[:,2] # Grab the third column

array([3, 6, 9])

In [133]:
matrix[1,:] # Grab the second row

array([4, 5, 6])

In [134]:
matrix[:2,:] # grab the first two rows, all columns

array([[1, 2, 3],
       [4, 5, 6]])

In [135]:
matrix[:2] # grab the first two rows, all columns

array([[1, 2, 3],
       [4, 5, 6]])

In [136]:
matrix[:,1:] # grab all the rows, but columns starting from 1

array([[2, 3],
       [5, 6],
       [8, 9]])

In [137]:
vector = np.arange(10)

In [138]:
gt2 = vector > 2

In [139]:
gt2

array([False, False, False,  True,  True,  True,  True,  True,  True,
        True])

In [140]:
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [141]:
lt8 = vector < 8 # create condition

In [142]:
selected_gt2 = vector[gt2]
print(selected_gt2)

[3 4 5 6 7 8 9]

In [143]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [144]:
gt2 = matrix > 2

In [145]:
gt2

array([[False, False,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [147]:
a = matrix[gt2]

In [148]:
a[:] = 5

In [149]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [151]:
gt2[2,1] = False

In [152]:
gt2

array([[False, False,  True],
       [ True,  True,  True],
       [ True, False,  True]])

In [153]:
gt2[2,2] = False

In [154]:
gt2

array([[False, False,  True],
       [ True,  True,  True],
       [ True, False, False]])

In [156]:
matrix[gt2]

array([3, 4, 5, 6, 7])

In [157]:
selected_lt8 = vector[lt8] # apply condition to select

In [158]:
selected_lt8

array([0, 1, 2, 3, 4, 5, 6, 7])

In [159]:
vector[vector>2]

array([3, 4, 5, 6, 7, 8, 9])

In [160]:
cond = (vector>2) & (vector<7)
vector[cond]

array([3, 4, 5, 6])

In [161]:
cond = (vector>=2) & (vector<=7)
vector[cond]

array([2, 3, 4, 5, 6, 7])

In [162]:
vector = np.arange(10)

In [163]:
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [164]:
vector / vector

<ipython-input-164-4ac0ec101f5a>:1: RuntimeWarning: invalid value encountered in true_divide
  vector / vector

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [165]:
np.log(vector)

<ipython-input-165-67aaf75f0193>:1: RuntimeWarning: divide by zero encountered in log
  np.log(vector)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [166]:
vector

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [167]:
sum(vector<5)

5

In [168]:
vector<5

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

In [172]:
import math
vector = np.arange(1,11) * math.pi/2

In [173]:
vector

array([ 1.57079633,  3.14159265,  4.71238898,  6.28318531,  7.85398163,
        9.42477796, 10.99557429, 12.56637061, 14.13716694, 15.70796327])

In [174]:
np.sin(vector)

array([ 1.0000000e+00,  1.2246468e-16, -1.0000000e+00, -2.4492936e-16,
        1.0000000e+00,  3.6739404e-16, -1.0000000e+00, -4.8985872e-16,
        1.0000000e+00,  6.1232340e-16])

In [175]:
vector = np.arange(0,math.pi+math.pi/4,math.pi/4)

In [176]:
vector = np.arange(0,math.pi+math.pi/4,math.pi/4)

In [177]:
np.sin(vector)

array([0.00000000e+00, 7.07106781e-01, 1.00000000e+00, 7.07106781e-01,
       1.22464680e-16])

In [180]:
matrix = np.random.rand(5,5)

In [181]:
matrix

array([[0.39637384, 0.95948016, 0.90558763, 0.83130834, 0.07784663],
       [0.65937062, 0.28646928, 0.91122621, 0.98894044, 0.03716721],
       [0.81343953, 0.00728198, 0.68048637, 0.62008209, 0.27521474],
       [0.69699032, 0.59671114, 0.79974778, 0.67015676, 0.98707365],
       [0.55373187, 0.36287239, 0.50589613, 0.34483131, 0.53352068]])

In [182]:
np.floor(matrix*1000)/1000

array([[0.396, 0.959, 0.905, 0.831, 0.077],
       [0.659, 0.286, 0.911, 0.988, 0.037],
       [0.813, 0.007, 0.68 , 0.62 , 0.275],
       [0.696, 0.596, 0.799, 0.67 , 0.987],
       [0.553, 0.362, 0.505, 0.344, 0.533]])

In [183]:
np.round(matrix*1000)/1000

array([[0.396, 0.959, 0.906, 0.831, 0.078],
       [0.659, 0.286, 0.911, 0.989, 0.037],
       [0.813, 0.007, 0.68 , 0.62 , 0.275],
       [0.697, 0.597, 0.8  , 0.67 , 0.987],
       [0.554, 0.363, 0.506, 0.345, 0.534]])

In [184]:
matrix = np.arange(1,10).reshape(3,3)

In [185]:
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [186]:
matrix.sum(axis=1)

array([ 6, 15, 24])

In [187]:
matrix.sum(axis=0)

array([12, 15, 18])

In [188]:
matrix.sum()

45

In [189]:
matrix.cumsum()

array([ 1,  3,  6, 10, 15, 21, 28, 36, 45], dtype=int32)

In [190]:
matrix.cumprod()

array([     1,      2,      6,     24,    120,    720,   5040,  40320,
       362880], dtype=int32)

In [191]:
matrix = np.array([1,2,3]*3).reshape(3,3)

In [192]:
matrix

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [194]:
np.unique(matrix)

array([1, 2, 3])