In [1]:
import json

data = [
    {
        'student_name': 'John Doe',
        'major': 'Math'
    },
    {
        'student_name': 'Jane Doe',
        'major': 'Chemistry'
    },

]

filename = 'test.json'

In [2]:
## Save data
with open(filename, 'w') as file:
    json.dump(data, file, sort_keys=True, indent=2, separators=(',', ': '), ensure_ascii=False)

In [3]:
## read the json file
with open(filename, 'r') as file:
    data_reloaded = json.load(file)

In [4]:
data == data_reloaded

True

In [5]:
qty_products = (
    'Potatoes',
    'Avacados',
    'Kiwis',
    'Onions',
    'Melons',
    'Broccoli',
    'Squash',
)

prc_products = (
    'Potatoes',
    'Avacados',
    'Kiwis',
    'Onions',
    'Melons',
    'Oranges',
    'Tomatoes',
)

set(qty_products) - set(prc_products)

{'Broccoli', 'Squash'}

In [6]:
set(prc_products) - set(qty_products)

{'Oranges', 'Tomatoes'}

In [7]:
set(prc_products) & set(qty_products)

{'Avacados', 'Kiwis', 'Melons', 'Onions', 'Potatoes'}

In [ ]:
INSERT INTO Cars (make_model_id, color_id, available) VALUES (1, colors['Green'], 1);

colors = {
    'Red': 1,
    'Blue': 2,
    'Green': 3
}

In [8]:
colors = {
    'Red': 1,
    'Blue': 2,
    'Green': 3
}

colors['Green']

3

In [10]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("join_example_database.db")
# cur = conn.cursor()
sql_statement = "select Quantities.product, Quantities.quantity FROM Quantities Where quantity > 60;"
df = pd.read_sql_query(sql_statement, conn)
df

    PRODUCT  QUANTITY
0  Avacados        63
1    Melons        66
2    Squash        92

In [11]:

df.to_csv('dbex_1.csv', index = False)
data = pd.read_csv("dbex_1.csv") 
df.equals(data)

True

In [20]:
def dbex_1():
    """
    Return all products with quantity greater than 60;
    output columns: product_name, product_quantity
    output (df, sql_statement)
    """

    import pandas as pd
    import sqlite3
    conn = sqlite3.connect("join_example_database.db")
    ###
    sql_statement = "SELECT * FROM PRICES WHERE PRICE > 3"
    
    ###
    df = pd.read_sql_query(sql_statement, conn)
    return (df, sql_statement)

In [21]:
df, sql_statement = dbex_1()

In [22]:
df

   PK   PRODUCT  PRICE
0   2  Avacados      4
1   5    Melons      5
2   6   Oranges      5
3   7  Tomatoes      6

In [23]:
response = {
   "status":"success",
   "data":[
      {
         "id":1,
         "employee_name":"Tiger Nixon",
         "employee_salary":320800,
         "employee_age":61,
         "profile_image":""
      },
      {
         "id":2,
         "employee_name":"Garrett Winters",
         "employee_salary":170750,
         "employee_age":63,
         "profile_image":""
      },
      {
         "id":3,
         "employee_name":"Ashton Cox",
         "employee_salary":86000,
         "employee_age":66,
         "profile_image":""
      },
      {
         "id":4,
         "employee_name":"Cedric Kelly",
         "employee_salary":433060,
         "employee_age":22,
         "profile_image":""
      },
      {
         "id":5,
         "employee_name":"Airi Satou",
         "employee_salary":162700,
         "employee_age":33,
         "profile_image":""
      },
      {
         "id":6,
         "employee_name":"Brielle Williamson",
         "employee_salary":372000,
         "employee_age":61,
         "profile_image":""
      },
      {
         "id":7,
         "employee_name":"Herrod Chandler",
         "employee_salary":137500,
         "employee_age":59,
         "profile_image":""
      },
      {
         "id":8,
         "employee_name":"Rhona Davidson",
         "employee_salary":327900,
         "employee_age":55,
         "profile_image":""
      },
      {
         "id":9,
         "employee_name":"Colleen Hurst",
         "employee_salary":205500,
         "employee_age":39,
         "profile_image":""
      },
      {
         "id":10,
         "employee_name":"Sonya Frost",
         "employee_salary":103600,
         "employee_age":23,
         "profile_image":""
      },
      {
         "id":11,
         "employee_name":"Jena Gaines",
         "employee_salary":90560,
         "employee_age":30,
         "profile_image":""
      },
      {
         "id":12,
         "employee_name":"Quinn Flynn",
         "employee_salary":342000,
         "employee_age":22,
         "profile_image":""
      },
      {
         "id":13,
         "employee_name":"Charde Marshall",
         "employee_salary":470600,
         "employee_age":36,
         "profile_image":""
      },
      {
         "id":14,
         "employee_name":"Haley Kennedy",
         "employee_salary":313500,
         "employee_age":43,
         "profile_image":""
      },
      {
         "id":15,
         "employee_name":"Tatyana Fitzpatrick",
         "employee_salary":385750,
         "employee_age":19,
         "profile_image":""
      },
      {
         "id":16,
         "employee_name":"Michael Silva",
         "employee_salary":198500,
         "employee_age":66,
         "profile_image":""
      },
      {
         "id":17,
         "employee_name":"Paul Byrd",
         "employee_salary":725000,
         "employee_age":64,
         "profile_image":""
      },
      {
         "id":18,
         "employee_name":"Gloria Little",
         "employee_salary":237500,
         "employee_age":59,
         "profile_image":""
      },
      {
         "id":19,
         "employee_name":"Bradley Greer",
         "employee_salary":132000,
         "employee_age":41,
         "profile_image":""
      },
      {
         "id":20,
         "employee_name":"Dai Rios",
         "employee_salary":217500,
         "employee_age":35,
         "profile_image":""
      },
      {
         "id":21,
         "employee_name":"Jenette Caldwell",
         "employee_salary":345000,
         "employee_age":30,
         "profile_image":""
      },
      {
         "id":22,
         "employee_name":"Yuri Berry",
         "employee_salary":675000,
         "employee_age":40,
         "profile_image":""
      },
      {
         "id":23,
         "employee_name":"Caesar Vance",
         "employee_salary":106450,
         "employee_age":21,
         "profile_image":""
      },
      {
         "id":24,
         "employee_name":"Doris Wilder",
         "employee_salary":85600,
         "employee_age":23,
         "profile_image":""
      }
   ],
   "message":"Successfully! All records has been fetched."
}

In [24]:
from pprint import pprint

pprint(response)

{'data': [{'employee_age': 61,
           'employee_name': 'Tiger Nixon',
           'employee_salary': 320800,
           'id': 1,
           'profile_image': ''},
          {'employee_age': 63,
           'employee_name': 'Garrett Winters',
           'employee_salary': 170750,
           'id': 2,
           'profile_image': ''},
          {'employee_age': 66,
           'employee_name': 'Ashton Cox',
           'employee_salary': 86000,
           'id': 3,
           'profile_image': ''},
          {'employee_age': 22,
           'employee_name': 'Cedric Kelly',
           'employee_salary': 433060,
           'id': 4,
           'profile_image': ''},
          {'employee_age': 33,
           'employee_name': 'Airi Satou',
           'employee_salary': 162700,
           'id': 5,
           'profile_image': ''},
          {'employee_age': 61,
           'employee_name': 'Brielle Williamson',
           'employee_salary': 372000,
           'id': 6,
           'profile_image': ''},
          {'employee_age': 59,
           'employee_name': 'Herrod Chandler',
           'employee_salary': 137500,
           'id': 7,
           'profile_image': ''},
          {'employee_age': 55,
           'employee_name': 'Rhona Davidson',
           'employee_salary': 327900,
           'id': 8,
           'profile_image': ''},
          {'employee_age': 39,
           'employee_name': 'Colleen Hurst',
           'employee_salary': 205500,
           'id': 9,
           'profile_image': ''},
          {'employee_age': 23,
           'employee_name': 'Sonya Frost',
           'employee_salary': 103600,
           'id': 10,
           'profile_image': ''},
          {'employee_age': 30,
           'employee_name': 'Jena Gaines',
           'employee_salary': 90560,
           'id': 11,
           'profile_image': ''},
          {'employee_age': 22,
           'employee_name': 'Quinn Flynn',
           'employee_salary': 342000,
           'id': 12,
           'profile_image': ''},
          {'employee_age': 36,
           'employee_name': 'Charde Marshall',
           'employee_salary': 470600,
           'id': 13,
           'profile_image': ''},
          {'employee_age': 43,
           'employee_name': 'Haley Kennedy',
           'employee_salary': 313500,
           'id': 14,
           'profile_image': ''},
          {'employee_age': 19,
           'employee_name': 'Tatyana Fitzpatrick',
           'employee_salary': 385750,
           'id': 15,
           'profile_image': ''},
          {'employee_age': 66,
           'employee_name': 'Michael Silva',
           'employee_salary': 198500,
           'id': 16,
           'profile_image': ''},
          {'employee_age': 64,
           'employee_name': 'Paul Byrd',
           'employee_salary': 725000,
           'id': 17,
           'profile_image': ''},
          {'employee_age': 59,
           'employee_name': 'Gloria Little',
           'employee_salary': 237500,
           'id': 18,
           'profile_image': ''},
          {'employee_age': 41,
           'employee_name': 'Bradley Greer',
           'employee_salary': 132000,
           'id': 19,
           'profile_image': ''},
          {'employee_age': 35,
           'employee_name': 'Dai Rios',
           'employee_salary': 217500,
           'id': 20,
           'profile_image': ''},
          {'employee_age': 30,
           'employee_name': 'Jenette Caldwell',
           'employee_salary': 345000,
           'id': 21,
           'profile_image': ''},
          {'employee_age': 40,
           'employee_name': 'Yuri Berry',
           'employee_salary': 675000,
           'id': 22,
           'profile_image': ''},
          {'employee_age': 21,
           'employee_name': 'Caesar Vance',
           'employee_salary': 106450,
           'id': 23,
           'profile_image': ''},
          {'employee_age': 23,
           'employee_name': 'Doris Wilder',
           'employee_salary': 85600,
           'id': 24,
           'profile_image': ''}],
 'message': 'Successfully! All records has been fetched.',
 'status': 'success'}