In [ ]:
Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!

In [4]:
def print_birthday1():
    msg = """Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!"""
    print(msg)

ret_val = print_birthday()
print(ret_val)

Happy birthday to you!!!
Happy birthday to you!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!
None

In [9]:
def printbd3():
    print("Happy birthday to you!!!!")
    print("Happy birthday to you!!!!")

def printbd1():
    print("Happy birthday to you!")
    print("Happy birthday to you!")
    

def print_birthday1():
    printbd3()
    print("Happy birthday, dear John")
    printbd1()

print_birthday1()

Happy birthday to you!!!!
Happy birthday to you!!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!

In [10]:
def print_birthday1(name):
    printbd3()
    print("Happy birthday, dear " + name)
    printbd1()

In [11]:
print_birthday1("John")

Happy birthday to you!!!!
Happy birthday to you!!!!
Happy birthday, dear John
Happy birthday to you!
Happy birthday to you!

In [12]:
print_birthday1("Jane")

Happy birthday to you!!!!
Happy birthday to you!!!!
Happy birthday, dear Jane
Happy birthday to you!
Happy birthday to you!

In [13]:
def func_var1():
    print("Hello World!")

func_var1()

Hello World!

In [14]:
ret_val = print(1, 2)

1 2

In [17]:
print(ret_val)

None

In [18]:
def add(x,y):
    return x + y

add(10, 2)

12

In [21]:
def ret2():
    return 2

ret2()

2

In [22]:
def quadratic(a, b, c, x):
    """ax^2 + bx + c"""
    first = a * x ** 2
    second = b * x
    third = c
    return first + second + third


quadratic(2, 3, 4, 0.5)

6.0

In [24]:
print(a)

NameError: name 'a' is not defined

In [25]:
y = 1
def quadratic(a, b, c, x):
    """ax^2 + bx + c"""
    first = a * pow(x, 2) ## Changed
    second = b * x
    third = c
    return first + second + third + y
quadratic(2, 3, 4, 0.5)

7.0

In [28]:
def x2(x):
    def x3():
        return x ** x 
    return x3()

print(x2(2))

4

In [30]:
y = 1
def quadratic(a, b, c, X):
    """ax^2 + bx + c"""
    first = a * pow(x, 2) ## Changed
    second = b * x
    third = c
    return first + second + third 

a = 2
b = 3
c = 4
x = 10
X = 0.5
quadratic(a, b, c, X)

234

In [33]:
x = "string"
x = 'string1232@---sfkjs!!!'

In [34]:
len(x)

22

In [35]:
1 + 2

3

In [37]:
x = "string1"
x + x

'string1string1'

In [38]:
first_name = 'John'
last_name = 'Doe'

first_name + last_name

'JohnDoe'

In [39]:
first_name + ' ' + last_name

'John Doe'

In [40]:
first_name + 1

TypeError: can only concatenate str (not "int") to str

In [41]:
 1 + first_name

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
3 * 3

9

In [47]:
multi = 80
print('-'*multi)
print('Hello')
print('-'*multi)

--------------------------------------------------------------------------------
Hello
--------------------------------------------------------------------------------

In [48]:
x = 1
x += 1 # x = x + 1

x = 'str'
x += 'blah' # 'str' + 'blah'
print(x)

strblah

In [52]:
print('''Should you want a string
    that crosses multiple lines,
  Use matched triple quotes.

  sd
  
''')

Should you want a string
    that crosses multiple lines,
  Use matched triple quotes.

  sd

In [53]:
print('abbcd', 2, 3)

abbcd 2 3

In [59]:
print('abbcd', 2, 3, sep='$$$$') # default separator is space

abbcd$$$$2$$$$3

In [60]:
'NH' + 3 # This will not work. You cannot add a str and int type.

TypeError: can only concatenate str (not "int") to str

In [62]:
'Four score and ' + 7 + ' years ago'

TypeError: can only concatenate str (not "int") to str

In [63]:
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [64]:
int('-324.0')

ValueError: invalid literal for int() with base 10: '-324.0'

In [66]:
float('3.1415')

3.1415

In [67]:
float('127.0.0.1')

ValueError: could not convert string to float: '127.0.0.1'

In [69]:
x = 'My Name is: John Doe\nSSN:111-22-3333\nCell:716-845-4444'
print(x)

My Name is: John Doe
SSN:111-22-3333
Cell:716-845-4444

In [70]:
'He said, "they can't do this"'

SyntaxError: unterminated string literal (detected at line 1) (86430801.py, line 1)

In [72]:
x = 'He said, "they can\'t do this"'

In [73]:
print(x)

He said, "they can't do this"

In [75]:
x

'He said, "they can\'t do this"'

In [76]:
print(x)

He said, "they can't do this"

In [77]:
x = 'col1\tcol\tcol3'
print(x)

col1	col	col3

In [79]:

print('/\\/\\')

/\/\

In [80]:
print('blahblah')

blahblah

In [81]:
number = input('Please enter a number: ')

Please enter a number:  99

In [82]:
type(number)

str

In [83]:
number = input('Please enter a number: haha')

Please enter a number: haha kjsdkjkfjsdfl

In [84]:
number

'kjsdkjkfjsdfl'

In [86]:
number = input('Please enter a number: ')

print(number * 4)

Please enter a number:  3

3333

In [87]:
number = input('Please enter a number: ')
number = int(number)
print(number * 4)

Please enter a number:  3

12

In [88]:
number = input('')

 wq334

In [92]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius)

In [93]:
convert_celsius()

Please enter temperature in Fahrenheit:  78.6

The temperature in celsius is:  25.888888888888886

In [94]:
'str1' + 'str2'

'str1str2'

In [95]:
PI = 3.14159265359 
print(f'{PI:.2f}')

3.14

In [ ]:
1234 # 00001234

In [96]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))  # oldest way format specifier is <width>.<precision><type>

PI is 3.14

In [97]:
PI = 3.14159265359 
name = 'PI'
print(('{0} is {1:.2f}'.format('PI', PI)) ) # 
                                # 0  , 1

PI is 3.14

In [98]:
PI = 3.14159265359 
name = 'PI'
print(('{} is {:.2f}'.format('PI', PI)) ) # 
                                # 0  , 1

PI is 3.14

In [99]:
PI = 3.14159265359 
name = 'PI'
print(('{1} is {0}'.format('PI', PI)) ) # 
                                # 0  , 1

3.14159265359 is PI

In [104]:
PI = 3.14159265359 
name = 'PI'
print(('{1} is {0}'.format('PI', PI, 324234)) ) # 
                                # 0  , 1

3.14159265359 is PI

In [108]:
PI = 3.14159265359 
name = 'PI'
print(('{2} is {0}'.format('PI', PI, 324234)) ) # 
                                # 0  , 1

324234 is PI

In [106]:
PI = 3.14159265359 
name = 'PI'
print(('{} is {}; {}'.format('PI', PI)) ) # 
                                # 0  , 1

IndexError: Replacement index 2 out of range for positional args tuple

In [101]:
template = '{} is {:.2f}'

template.format('PI', 3.1415)

'PI is 3.14'

In [102]:
template.format('GR', 1.618)

'GR is 1.62'

In [103]:
name = 'PI'
value = 3.1415898888
f'{name} is {value:.2f}'

'PI is 3.14'

In [111]:
name = 'PI'
value = 3.1415898888
f'{name*10} is {value+90:.2f}'

'PIPIPIPIPIPIPIPIPIPI is 93.14'

In [ ]:
{<variable or expression>:<format-specifier>}
<padding_character><alignment><width>.<comma><precision><type>

In [112]:
PI = 3.14159265359 
name = 'PI'
# {<variable or expression>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [113]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2
print(lines)

This is the first line.
This is the second line.

In [114]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [115]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

In [117]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
# str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [118]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {class_size}. It has {course_number} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is 113. It has EAS503 students.

In [120]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students. The class average is {2}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number}. It has {class_size} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3.
The course number is EAS503. It has 113 students. The class average is 92.3.

In [121]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

# format(course_number, class_size, class_average)
# 0, 1, 2
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3.
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [122]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:>10}. It has {1:>10} students. The class average is {2:>10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:>10}. It has {class_size:>10} students. The class average is {class_average:>10}.'

print(str_format)
print(f_string)

The course number is     EAS503. It has        113 students. The class average is       92.3.
The course number is     EAS503. It has        113 students. The class average is       92.3.

In [123]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:<10}. It has {1:<10} students. The class average is {2:<10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:<10}. It has {class_size:<10} students. The class average is {class_average:<10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has 113        students. The class average is 92.3      .
The course number is EAS503    . It has 113        students. The class average is 92.3      .

In [124]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:^10}. It has {1:^10} students. The class average is {2:^10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:^10}. It has {class_size:^10} students. The class average is {class_average:^10}.'

print(str_format)
print(f_string)

The course number is   EAS503  . It has    113     students. The class average is    92.3   .
The course number is   EAS503  . It has    113     students. The class average is    92.3   .

In [125]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

In [126]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:<08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:<08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 22333300
The number padded 223333 padded with zeros 22333300

In [130]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:->8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros --223333
The number padded 223333 padded with zeros --223333

In [ ]:
<padding_character><alignment><width><comma>.<precision><type>

In [136]:
number = 3333.1415909009900
f'{number:0>10,.2f}'

'003,333.14'

In [137]:
number = 3333.1415909009900
f'{number:0<10,.2f}'

'3,333.1400'

In [139]:
f'{3.5:.0f}'

'4'

In [140]:
f'{4.5:.0f}'

'4'

In [141]:
round(4.503,2)

4.5

In [142]:
f'{4.503:.2f}'

'4.50'

In [143]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+