In [9]:
#my_dict = {key:value}
# keys can be strings, ints 
my_dict = {'name': 'John', 'email': 'john@buffalo.edu', 'id': 12345, 'account_active': True, 'GPA': 3.5, 12: 'twelve'}
print(my_dict)
my_dict[12]

{'name': 'John', 'email': 'john@buffalo.edu', 'id': 12345, 'account_active': True, 'GPA': 3.5, 12: 'twelve'}

'twelve'

In [15]:
print(my_dict.get('Nammmeee', 'Name Missing'))

Name Missing

In [16]:
for key in my_dict.keys():
    print(key)

name
email
id
account_active
GPA
12

In [17]:
for value in my_dict.values():
    print(value)

John
john@buffalo.edu
12345
True
3.5
twelve

In [18]:
for key, value in my_dict.items():
    print(key, value)

name John
email john@buffalo.edu
id 12345
account_active True
GPA 3.5
12 twelve

In [20]:
my_dict.update({'name': 'Jane', 10: 'Ten'})
print(my_dict)

{'name': 'Jane', 'email': 'john@buffalo.edu', 'id': 12345, 'account_active': True, 'GPA': 3.5, 12: 'twelve', 10: 'Ten'}

In [21]:
del my_dict[10]

In [22]:
my_dict

{'name': 'Jane',
 'email': 'john@buffalo.edu',
 'id': 12345,
 'account_active': True,
 'GPA': 3.5,
 12: 'twelve'}

In [23]:
my_dict['id'] = 89998
my_dict

{'name': 'Jane',
 'email': 'john@buffalo.edu',
 'id': 89998,
 'account_active': True,
 'GPA': 3.5,
 12: 'twelve'}

In [24]:
my_dict['EASStuents'] = ['Jane', 'John', 'Bob']
my_dict

{'name': 'Jane',
 'email': 'john@buffalo.edu',
 'id': 89998,
 'account_active': True,
 'GPA': 3.5,
 12: 'twelve',
 'EASStuents': ['Jane', 'John', 'Bob']}

In [3]:
my_list = [123, True, 3.45, 'a string']
my_list = [123, 443, 225]
max(my_list)

443

In [25]:
days_in_months = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days_in_months[12]

31

In [26]:
days_in_week = ['', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat', 'Sun']

days_in_week[5]

'Fri'

In [ ]:
count = 0
header = False
output = []
dice = {}

In [ ]:
dict[2] = 0
dict[3] = 0

In [27]:
import random
no_simulation = 10
for no in range(no_simulation):
    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)
    print(dice1, dice2, dice1+dice2)

2 6 8
6 1 7
1 5 6
3 2 5
2 1 3
2 2 4
2 6 8
3 4 7
3 3 6
3 5 8

In [32]:
my_dict
13 in my_dict

False

In [34]:
my_list = [1, 2, 3, 4]
3 in my_list

True

In [35]:
'name' in my_dict.keys()

True

In [46]:
######################################################
# dict_ex5.py
# Simulate two dice. Print the total, theoretical/expected probability, 
# and simulated probability
# input: the number of simulations
# https://socratic.org/questions/what-is-the-expected-value-of-the-sum-of-two-rolls-of-a-six-sided-die
# Total     Simulated Percent     Expected Percent 

# 2                      2.76                 2.78
# 3                      5.57                 5.56
# 4                      8.34                 8.33
# 5                      11.1                11.11
# 6                     13.83                13.89
# 7                     16.68                16.67
# 8                      13.9                13.89
# 9                      11.1                11.11
# 10                     8.36                 8.33
# 11                     5.57                 5.56
# 12                     2.79                 2.78


import random

def two_dice(no_simulation):
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]
    
    two_dice = {}
    
    for no in range(no_simulation):
        dice1 = random.randint(1,6)
        dice2 = random.randint(1,6)
        
        total = dice1 + dice2
        
        ### IMPORTANT
        if total not in two_dice:
            two_dice[total] = 0
            
        two_dice[total] += 1
        
    simulated_probability = [
        0, 
        0,
    ]
    
    for total in range(2, 13):
        probability = two_dice[total]/no_simulation
        simulated_probability.append(probability)
        
        
    column1 = 'Total'
    column2 = 'Simulated Percent'
    column3 = 'Expected Percent '
    
    print(
        column1.ljust(6),
        column2.rjust(20),
        column3.rjust(20),
        '\n'
    )
    for total in range(2, 13):
        sp = round(simulated_probability[total] * 100, 2)
        tp = round(theoretical_probabilities[total] * 100, 2)
        print(
            str(total).ljust(6),
            str(sp).rjust(20),
            str(tp).rjust(20)
        )
    
two_dice(1000000)

Total     Simulated Percent    Expected Percent

2                      2.76                 2.78
3                      5.54                 5.56
4                      8.32                 8.33
5                     11.14                11.11
6                     13.86                13.89
7                     16.65                16.67
8                     13.93                13.89
9                     11.12                11.11
10                     8.32                 8.33
11                     5.57                 5.56
12                     2.77                 2.78

In [47]:
# lambda_ex1.py
# Write a function that squares a number and returns the value.
# Write it again again using Lambda functions


def square_1(number):
    return number * number

square_1(10)

100

In [48]:
square_2 = lambda number: number * number

square_2(10)

100

In [49]:
# lambda_ex2.py
# Write a lambda function for adding two numbers


add_values = lambda val1, val2: val1 + val2

add_values(10,5)

15

In [52]:
# lambda_ex3.py
# Write a lambda function that multiples two numbers. 
# Use the lambda function as an input to another function. 

lambda_function = lambda number1, number2: number1 + number2

def lambda_test(number1, number2, lambda_function):
    return lambda_function(number1, number2)

lambda_test(10, 15, lambda_function)

25

In [59]:
# lambda_ex4.py
# 1) Write a function to double a list
# 2) Use list comprehension to double a list
# 3) Use lambda with map to double a list

# lambda functions are used with other functions. Usually with map, filter, sort
# map objects are a generator. How many times can you iterate over them?



my_list = list(range(10))


def double_list(input_list):
    output_list = []
    for ele in input_list:
        output_list.append(ele*ele)
        
    return output_list

print(double_list(my_list))


output2 = [ele*ele for ele in my_list]
print(output2)

list_doubler = lambda ele: ele*ele
output3 = map(list_doubler, my_list)
print(list(output3))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [63]:
# lambda_ex5.py
# Capitalize the names in the students list 
# 1) using a list and loop
# 2) using list comprehension
# 3) using lambda and map



names = ['john', 'jane', 'bob', 'doe']

def cap1(input_list):
    output_list = []
    for ele in input_list:
        output_list.append(ele.title())
        
    return output_list
        
print(cap1(names))

output2 = [ele.title() for ele in names]
print(output2)

cap_func = lambda ele: ele.title()
output3 = map(cap_func, names)
print(list(output3))

['John', 'Jane', 'Bob', 'Doe']
['John', 'Jane', 'Bob', 'Doe']
['John', 'Jane', 'Bob', 'Doe']

In [64]:
# lambda_ex6.py
# Using lambda and map, convert the numbers to float


numbers = ['90', '80', '70', '50']

convert_to_str = lambda ele: float(ele)

output = map(convert_to_str, numbers)
print(list(output))

[90.0, 80.0, 70.0, 50.0]

In [70]:
# lambda_ex7.py
# Create a dictionary where the key is year and value is 
# True/False if the year is a leap year

# 1) using a loop and dict
# 2) using filter without a function

from pprint import pprint
years = range(1970, 2001)

def is_leap_year(year):
    # does not work for all years
    if year % 4 == 0:
        return True
    else:
        return False


year_dict1 = {}

for year in years:
    value = is_leap_year(year)
    key = year
    year_dict1[key] = value
    
for year in years:
    year_dict1[year] = is_leap_year(year)
    
    
# pprint(year_dict1)


output2 = filter(lambda ele: is_leap_year(ele), years)
print(list(output2))

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

In [73]:
leap_year_lambda = lambda year: year % 4 == 0 

output = filter(leap_year_lambda, range(1970, 2001))
print(list(output))

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000]

In [75]:
print(list(map(lambda year: year/5, filter(lambda year: year % 4 == 0, range(1970, 2001)))))

[394.4, 395.2, 396.0, 396.8, 397.6, 398.4, 399.2, 400.0]

In [76]:
print(list(map(lambda year: f'{year} is a leap year!', filter(lambda year: year % 4 == 0, range(1970, 2001)) )))

['1972 is a leap year!', '1976 is a leap year!', '1980 is a leap year!', '1984 is a leap year!', '1988 is a leap year!', '1992 is a leap year!', '1996 is a leap year!', '2000 is a leap year!']

In [ ]:
# filter(function, sequence)

leap_year_lambda = lambda year: year % 4 == 0 

filter(leap_year_lambda, range(1970, 2000))

print(list(filter(lambda year: year % 4 == 0, range(1970, 2000))))


print(list(filter(lambda year: is_leap_year(year), range(1970, 2000))))


print(list(map(lambda year: year/5, filter(lambda year: year % 4 == 0, range(1970, 2000)))))

# # combining map with filter

print(list(map(lambda year: f'{year} is a leap year!', filter(lambda year: year % 4 == 0, range(1970, 2000)) )))


# # list comprehension

# print()
print([f'{year} is a leap year' for year in range(1970, 2000) if year % 4 == 0])

In [77]:
print([f'{year} is a leap year' for year in range(1970, 2001) if year % 4 == 0])

['1972 is a leap year', '1976 is a leap year', '1980 is a leap year', '1984 is a leap year', '1988 is a leap year', '1992 is a leap year', '1996 is a leap year', '2000 is a leap year']

In [80]:
func = lambda fn, ln: fn + ' ' + ln

print(func('John a  asfdsdfsdf ', 'Doe sadfsdfs dfd s f '))

John a  asfdsdfsdf  Doe sadfsdfs dfd s f

In [81]:
# lambda_ex8.py
# Sort x using value

x = (('efg', 1), ('abc', 3), ('hij', 2))

sorted(x)

[('abc', 3), ('efg', 1), ('hij', 2)]

In [82]:
sorted(x, key=lambda ele: ele[1])

[('efg', 1), ('hij', 2), ('abc', 3)]

In [83]:
sorted(x, key=lambda ele: ele[0])

[('abc', 3), ('efg', 1), ('hij', 2)]

In [85]:
# lambda_ex9.py
# sort dictionary by username 
# reverse sort

students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]


sorted(students, key=lambda ele: ele['username'])

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'doe', 'grade': 35},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50}]

In [86]:
sorted(students, key=lambda ele: ele['grade'])

[{'username': 'doe', 'grade': 35},
 {'username': 'john', 'grade': 50},
 {'username': 'jane', 'grade': 80},
 {'grade': 89, 'username': 'Kelly'}]

In [87]:
sorted(students, key=lambda ele: ele['grade'], reverse=True)

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50},
 {'username': 'doe', 'grade': 35}]

In [88]:
# lambda_ex11.py
# sort array by len of names
students = ['john', 'Janette', 'doe']

sorted(students)

['Janette', 'doe', 'john']

In [90]:
sorted(students, key=lambda name: len(name), reverse=True)

['Janette', 'john', 'doe']

In [91]:
sorted(students, key=lambda name: len(name), reverse=False)

['doe', 'john', 'Janette']

In [94]:
# lambda_ex12.py
# sort list by value

my_list = [{'value': '34.4'}, {'value': '73.4'}, {'value': '45.3'}]


sorted(my_list, key=lambda ele: float(ele['value']))

[{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

In [95]:
sorted(my_list, key=lambda ele: float(ele['value']), reverse=True)

[{'value': '73.4'}, {'value': '45.3'}, {'value': '34.4'}]