In [24]:
import random
random.random() # gives you a number between 0-1 that is uniformaly disributed 
random.randint(0, 10) # generates a random number between a and b inclusive

random.seed(random.random()) # these random numbers are pseudo random numbers
for i in range(10):
    print(random.random())

0.33624035633019433
0.5329474175829568
0.25079019006843495
0.56557501864559
0.12901117006448104
0.9408131670509007
0.07597928589647684
0.8432428170083668
0.6376556529493169
0.3929954184938086

In [33]:
##################################################################
# for_ex8.py
# Write a function simulates a coin toss
# Input: number of simulation
# Output: a string that concatenates the results, ex. 'HHHTTTHTHTHT'


def coin_toss(n):
    import random
    output = ''
    for i in range(n):
        value = random.randint(0, 1)
        if value == 0:
            coin = 'H'
        elif value == 1:
            coin = 'T'
#         print(i, coin)
        output += coin
        
    return output

print(simulate_coin_toss(20))

HHTTHHHTTHHHTHHTTTTH

In [41]:
##################################################################
# for_ex9.py
# Write a function that uses the output from the 
# coin_toss function and calculates the probability of H and T
# Input: number of simulation
# Output: probability of H and T

def ex9(n):
    results = coin_toss(n)
    h_count = 0
    t_count = 0
    for ele in results:
        if ele == 'H':
            h_count +=1
        elif ele == 'T':
            t_count += 1
            
    h_probability = h_count/n
    t_probability = t_count/n
    
    return (h_probability, t_probability)
    

print(ex9(1000000))

(0.499821, 0.500179)

In [59]:
##################################################################
# for_ex11.py
# Write a function that reads a file in which each line has multiple student
# grades and calculates the student average grade
# Print average of each student on screen
# Use list comprehension to convert grades to int
# use: for_ex11_data.txt


def for_ex11():
    filename = 'for_ex11_data.txt'
    with open(filename) as file:
        for line in file:
            if not line.strip():
                continue
                
            name, *grades = line.strip().split(',')
#             grades = grades.split(',')
            total = 0
            for grade in grades:
                total += int(grade)
                
            average = total/len(grades)
            print(name, average)
            
        
for_ex11()

student1 68.125
student2 79.6
student3 85.8
student4 78.8
student5 83.4
student6 73.8
student7 81.6
student8 90.0
student9 87.0
student10 78.2

In [53]:
x = 'Student1,90,28,34,45'
a, b, c = x.split(',', 2)

In [54]:
print(a, b, c)

Student1 90 28,34,45

In [56]:
a, *b = x.split(',')

In [57]:
print(a, b)

Student1 ['90', '28', '34', '45']

In [60]:
x.split(',')

['Student1', '90', '28', '34', '45']

In [61]:
a, b, *c = x.split(',')
print(a, b, c)

Student1 90 ['28', '34', '45']

In [65]:
# Write a program that takes integers from the user and returns the average
# Use a while loop and make an empty string the stop criteria.

count = 0
total = 0
number = input('Please input an integer: ')
while number != '':
    number = int(number)
    total += number
    count += 1
    number = input('Please input an integer: ')  
    
    
print('Average is: ', total/count)

Please input an integer:

ZeroDivisionError: division by zero

In [66]:
###############################################################
# while_ex2
# Write a program that takes integers from the user and returns the average
# Use a while loop and make negative number the stop criteria.

count = 0
total = 0
number = int(input('Please input an integer: '))
while number >= 0:
    number = int(number)
    total += number
    count += 1
    number = int(input('Please input an integer: '))  
    
    
print('Average is: ', total/count)

Please input an integer: 10
Please input an integer: 20
Please input an integer: 30
Please input an integer: 49
Please input an integer: 89
Please input an integer: -100
Average is:  39.6

In [69]:
###############################################################
# while_ex3
# Write a program that takes test grades from the user and returns their average and the letter grade of the average
# Use a while loop and make negative number the stop criteria.
# A >=90
# B 80-89
# C 70-79
# D 60-69
# F 59 or less


count = 0
total = 0
number = int(input('Please input an integer: '))
while number >= 0:
    number = int(number)
    total += number
    count += 1
    number = int(input('Please input an integer: '))  
    
    
average = total/count

print('Average is: ', total/count)

if average >= 90:
    print('A')
elif 80 <= average <= 89:
    print('B') 
elif 70 <= average <= 79:
    print('C') 
elif 60 <= average <= 69:
    print('D') 
elif average <= 59:
    print('F')

Please input an integer: 56
Please input an integer: 78
Please input an integer: 32
Please input an integer: -1
Average is:  55.333333333333336
F

In [3]:
# while_ex4
# Write a program that takes an integer and counts down to zero -- print the value

number = int(input('Please enter a number: '))
while number >= 0:
    print(number)
    number -= 1

Please enter a number: 20
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [1]:
print('test')

test

In [6]:
number = int(input('Please enter a number: '))
current_number = 1
while current_number <= number:
    if current_number % 2 == 0:
        print(current_number)
    current_number += 1

Please enter a number: 20
2
4
6
8
10
12
14
16
18
20

In [12]:
my_list = list(range(1, 10))
[ f'Odd: {ele}' for ele in my_list if ele % 2 != 0]

['Odd: 1', 'Odd: 3', 'Odd: 5', 'Odd: 7', 'Odd: 9']

In [11]:
[ele for ele in my_list]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
my_list = list(range(1, 10))
[ f'Even: {ele}' for ele in my_list if ele % 2 == 0]

['Even: 2', 'Even: 4', 'Even: 6', 'Even: 8']

In [14]:
# [ f(ele) if condition else g(ele) for ele in sequence ]

my_list = list(range(1,20))
[f'Even: {ele}' if ele % 2 == 0 else f'Odd: {ele}' for ele in my_list]

['Odd: 1',
 'Even: 2',
 'Odd: 3',
 'Even: 4',
 'Odd: 5',
 'Even: 6',
 'Odd: 7',
 'Even: 8',
 'Odd: 9',
 'Even: 10',
 'Odd: 11',
 'Even: 12',
 'Odd: 13',
 'Even: 14',
 'Odd: 15',
 'Even: 16',
 'Odd: 17',
 'Even: 18',
 'Odd: 19']

In [17]:
output = []
for ele in my_list:
    if ele % 2 == 0:
        output.append(f'Even: {ele}')
    else:
        output.append(f'Odd: {ele}')
print(output)

['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5', 'Even: 6', 'Odd: 7', 'Even: 8', 'Odd: 9', 'Even: 10', 'Odd: 11', 'Even: 12', 'Odd: 13', 'Even: 14', 'Odd: 15', 'Even: 16', 'Odd: 17', 'Even: 18', 'Odd: 19']

In [18]:
# list_comp_ex1.py
# Re-write the following code to use List Comprehension
# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * ele
#     new_list.append(tmp)

new_list = [ele*ele for ele in my_list]
print(new_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [19]:
###############################################################
# list_comp_ex2.py
# Re-write the following code to use List Comprehension
# # Multiply each number by 10

# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * 10
#     new_list.append(tmp)


new_list = [ele*10 for ele in my_list]
print(new_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [24]:
###############################################################
# list_comp_ex3.py
# Upper case each letter in animal variable

# # Works with any type of sequence

animal = 'buffalo'

new_animal = [char.upper() for char in animal]
print(new_animal)
new_animal2 = '-'.join(new_animal)
print(new_animal2)
new_animal2 = '  '.join(new_animal)
print(new_animal2)
new_animal2 = ''.join(new_animal)
print(new_animal2)

['B', 'U', 'F', 'F', 'A', 'L', 'O']
B-U-F-F-A-L-O
B  U  F  F  A  L  O
BUFFALO

In [26]:
###############################################################
# list_comp_ex4.py
# Title each name in the student list

students = ['john', 'jane', 'doe']

students = [student.title() for student in students]
print(students)

['John', 'Jane', 'Doe']

In [29]:
###############################################################
# list_comp_ex5.py
# Use list comprehension to get the Truthiness of each element in my_list

my_list = [0, '', [], 0.0, 10, 'Hello', True]

output = [f'{ele} is True' if ele else f'{ele} is False' for ele in my_list ]
print(output)

['0 is False', ' is False', '[] is False', '0.0 is False', '10 is True', 'Hello is True', 'True is True']

In [30]:
###############################################################
# list_comp_ex6.py
# convert each element of my_list to str using list comprehension

my_list = range(6)

output = [str(ele) for ele in my_list]
print(output)

['0', '1', '2', '3', '4', '5']

In [32]:
###############################################################
# list_comp_ex7.py
# use list comprehension to reduce a list of numbers to just even or odd


numbers = range(20)

even = [number for number in numbers if number % 2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:
###############################################################
# list_comp_ex8.py
# use list comprehension to modify a list of numbers such that evens are left as is
# and the odds are raised to the three power


numbers = range(10)

output = [ele if ele % 2 == 0 else ele**3 for ele in numbers]
print(output)

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [37]:
###############################################################
# list_comp_ex9.py
# use list comprehension to remove vowels from a sentence

sentence = 'I rEAlly want to gO to work'

output = ''.join([char for char in sentence if char.lower() not in 'aeiou'])
print(output)

 rlly wnt t g t wrk

In [38]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};

# 2 in A

# # union -- all values
A | B

# # intersection -- shared values
A & B

# # difference -- order matters
A - B
B - A

# # symmetric difference  https://en.wikipedia.org/wiki/Symmetric_difference
A ^ B

my_list = [1, 1, 2, 3]
my_list = list(set(my_list))

In [43]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [44]:
print(A)

{0, 2, 4, 6, 8}

In [45]:
print(B)

{1, 2, 3, 4, 5}

In [42]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [46]:
A & B

{2, 4}

In [47]:
A - B

{0, 6, 8}

In [49]:
print(A)
print(B)

{0, 2, 4, 6, 8}
{1, 2, 3, 4, 5}

In [50]:
B - A

{1, 3, 5}

In [51]:
A ^ B

{0, 1, 3, 5, 6, 8}

In [53]:
my_list = [1, 1, 2, 3, 4, 4, 8, 0, 9]
my_list = list(set(my_list))
print(my_list)

[0, 1, 2, 3, 4, 8, 9]

In [59]:
# Ex1
# Write a function that takes name of two gene files, 
# reads them, and returns which genes are:
# 1) In first file but not in second file
# 2) In second file but not in first file

def analyze_gene_files(filename1, filename2):
    gene1 = []
    gene2 = []
    with open(filename1) as file:
        for gene in file:
            if not gene.strip():
                continue
            gene = gene.strip()
            gene1.append(gene)
            
    with open(filename2) as file:
        for gene in file:
            if not gene.strip():
                continue
            gene = gene.strip()
            gene2.append(gene)
            
            
    diff1 = list(set(gene1)-set(gene2))
    print(diff1)
    
    diff2 = list(set(gene2)-set(gene1))
    print(diff2)

analyze_gene_files('gene_list1.txt', 'gene_list2.txt')

['A2M', 'ABCC10', 'ABCG4', 'AADACL2', 'AARS1', 'ABCC6', 'ACOX1', 'ABCA7', 'ACSS2', 'ACER2', 'ACOT6', 'AAMP', 'ACTL8', 'ACTR6', 'ACTR3', 'ACTR3B', 'ACP6', 'ABCD2', 'ACYP1', 'ABCA4', 'AADAC', 'ACTR2', 'ACTL10', 'AADAT', 'ACTA1', 'ABCC5', 'ACSF2', 'ABCD1', 'ABHD3', 'ACRV1', 'ACTBL2', 'ACYP2', 'ABCG5', 'ACTA2', 'ACSL1', 'ABCB10', 'A4GNT', 'ABCB11', 'ACLY', 'AAMDC', 'ACTG2', 'ACTR5', 'ACY3', 'ACSS3', 'ACOT2', 'ACSS1', 'ACSM2B', 'ACTRT3', 'ABCF3', 'AASDHPPT', 'ACO1', 'ABHD8', 'ABCA5', 'ABCB1', 'ABCA13', 'ACY1', 'AAGAB', 'ACSM1', 'ABCB4', 'ACSM6', 'ACTR1A', 'A1BG', 'ACVR2A', 'AARD', 'ACE', 'ACSBG2', 'ABCC2', 'AAAS', 'ABCB7', 'ACOXL', 'ACSM4', 'AASS', 'ABCA1', 'ABCB5', 'ABHD5', 'ACTL7B', 'ABCG2', 'ACR', 'ABCA8', 'ABCB9', 'ABCD3', 'ACTRT2', 'ACD', 'ACHE', 'AAR2', 'ABCC3', 'ACP1', 'ABCB8', 'ACE2', 'ACTL6A', 'ACVRL1', 'ACSL6', 'ACTG1', 'ABCG8', 'AATF', 'ACOT8', 'ACIN1', 'ACOX3', 'ACVR1C', 'A4GALT', 'AARS2', 'ACP3', 'ACO2', 'ABHD6', 'ACVR1B', 'ACTN1', 'ADA', 'ABHD2', 'ACSL4', 'AARSD1', 'ACSL5', 'ABCC1', 'ACOT9', 'ACOT1', 'ACTN4', 'ACTR10', 'ACP7', 'ACOT13', 'ABCC4', 'ACTC1', 'ABCE1', 'ABCC9', 'ACER1', 'ACTR8', 'ABCC12', 'AAK1', 'ABCA9', 'ACRBP', 'ACSF3', 'ACSM2A', 'A1CF', 'ABCA3', 'ABCA6', 'ACKR1', 'ACSM5', 'ABCG1', 'ACER3', 'ACOD1', 'ABHD4', 'ACOT7', 'ACTN3', 'ACSL3', 'ACTL7A', 'ACP4', 'AATK', 'ACSM3', 'ACOT4', 'ACOT11', 'ACP2', 'AADACL4', 'ABCF1', 'AADACL3', 'A3GALT2', 'ACP5', 'ACTN2', 'ABCB6', 'ABCA12', 'ACKR4', 'ACTR1B', 'AASDH', 'ACTL9', 'ACKR3', 'ABCC11', 'ABCF2', 'A2ML1', 'ABAT', 'ACOT12', 'ABHD10', 'ACKR2', 'ACOX2', 'ABHD1', 'AACS', 'ABCA10', 'ACTR3C', 'AANAT', 'ACMSD', 'ACTL6B', 'ACTB', 'ABCD4', 'ACTRT1', 'ACVR2B', 'ACSBG1', 'ABCA2', 'ABCC8', 'ACVR1']
['ZRANB2', 'ZRANB3', 'ZNRD1', 'ZSCAN26', 'ZNRF1', 'ZNF830', 'ZNHIT1', 'ZNF878', 'ZNF718', 'ZNF787', 'ZNF850', 'ZNF789', 'ZRSR2', 'ZP4', 'ZNF875', 'ZNF766', 'ZSCAN5B', 'ZNF737', 'ZNRF4', 'ZNF771', 'ZNF865', 'ZSCAN21', 'ZNF829', 'ZNF891', 'ZNF841', 'ZNF821', 'ZNF880', 'ZSCAN16', 'ZNF776', 'ZNF775', 'ZSCAN31', 'ZNF768', 'ZNF750', 'ZNF780A', 'ZPLD1', 'ZNF837', 'ZNF836', 'ZSWIM1', 'ZNF792', 'ZNF786', 'ZNF714', 'ZNF747', 'ZNF790', 'ZSCAN12', 'ZNF746', 'ZNF852', 'ZNF720', 'ZNF784', 'ZSCAN23', 'ZSCAN5A', 'ZNF723', 'ZNF764', 'ZNF781', 'ZNRD2', 'ZNF736', 'ZNF738', 'ZSWIM5', 'ZNF726', 'ZNF774', 'ZNF853', 'ZSWIM3', 'ZNF846', 'ZNF773', 'ZNF816', 'ZNF772', 'ZNF843', 'ZNF735', 'ZNF761', 'ZP2', 'ZPBP2', 'ZNF862', 'ZNF780B', 'ZNF804A', 'ZNF805', 'ZNF724', 'ZNF717', 'ZNF823', 'ZNF730', 'ZNRF2', 'ZSWIM2', 'ZNF770', 'ZNF721', 'ZNF827', 'ZSCAN5C', 'ZNF729', 'ZSCAN10', 'ZNF728', 'ZUP1', 'ZNF813', 'ZNF777', 'ZNF860', 'ZPR1', 'ZNF839', 'ZNF782', 'ZNF778', 'ZNF785', 'ZNF835', 'ZRANB1', 'ZNF845', 'ZNF765', 'ZNF831', 'ZNF716', 'ZSCAN2', 'ZNF732', 'ZNF749', 'ZSWIM6', 'ZSCAN29', 'ZSWIM7', 'ZSCAN4', 'ZNF804B', 'ZSCAN30', 'ZSCAN9', 'ZSCAN22', 'ZNRF3', 'ZPBP', 'ZSCAN18', 'ZNF844', 'ZSWIM9', 'ZNFX1', 'ZSCAN32', 'ZNF879', 'ZSWIM4', 'ZNHIT6', 'ZP3', 'ZSWIM8', 'ZNF800', 'ZNF763', 'ZNF783', 'ZNF793', 'ZNF888', 'ZSCAN1', 'ZNF808', 'ZNF791', 'ZNF727', 'ZP1', 'ZNF883', 'ZNHIT3', 'ZSCAN25', 'ZNHIT2', 'ZNF814', 'ZNF740', 'ZNF799', 'ZSCAN20']

In [63]:
student = ['John Doe', 'jdoe@bufflao.edu', 123456789, 'Science']
student[0]

'John Doe'

In [61]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [62]:
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [66]:
print(my_dict['id'])

1234

In [67]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [69]:
key = 'name'
my_dict['name']

'john'

In [70]:
my_dict[key]

'john'

In [71]:
my_dict.values()

dict_values(['john', 'john@email.com', 1234, 'Engineering'])

In [72]:
my_dict.keys()

dict_keys(['name', 'email', 'id', 'major'])

In [73]:
for val in my_dict.values():
    print(val)

john
john@email.com
1234
Engineering

In [74]:
for key in my_dict.keys():
    print(key)

name
email
id
major

In [76]:
for key, val in my_dict.items():
    print(f'{key}: {val}')

name: john
email: john@email.com
id: 1234
major: Engineering

In [79]:
key = 'major'
if key in my_dict:
    print(True)
else:
    print(False)

True

In [80]:
value = 'john'
if value in my_dict.values():
    print(True)
else:
    print(False)

True

In [81]:
value = 'Jane'
if value in my_dict.values():
    print(True)
else:
    print(False)

False

In [82]:
my_dict.clear()

In [83]:
my_dict

{}

In [84]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

print(new_student)

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [85]:
new_student['name'] = 'John'

In [86]:
new_student

{'name': 'John', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [87]:
my_dict = {}.fromkeys(range(5), 'iammissing')
print(my_dict)

{0: 'iammissing', 1: 'iammissing', 2: 'iammissing', 3: 'iammissing', 4: 'iammissing'}

In [89]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)
my_dict['namee']

KeyError: 'namee'

In [91]:
value = my_dict.get('nameee')
print(value)

None

In [92]:
value = my_dict.get('nameee', None)#
print(value)

None

In [93]:
value = my_dict.get('nameee', False)
print(value)

False

In [94]:
value = my_dict.get('nameee', 'helloIamissing')
print(value)

helloIamissing

In [95]:
value = my_dict.get('gpa', 'N/A')
print(value)

N/A

In [96]:
my_dict.get('name', None) # default
my_dict.get('name', False)
my_dict.get('name', 'defaultname')

'john'

In [99]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)
saved_value = my_dict.pop('name')

In [101]:
my_dict.update({'year':2010, 'ear': 2030, 'name': 'Jane'})
my_dict

{'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030,
 'name': 'Jane'}

In [102]:
my_dict.update({'year':2010, 'ear': 2030, 'name': 'Katie'})
my_dict

{'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030,
 'name': 'Katie'}

In [103]:
my_dict = {}.fromkeys(range(5), 5)
my_dict

{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

In [104]:
{key: key*value for key, value in my_dict.items()}

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20}

In [105]:
{num: num*num for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [106]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [107]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [108]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [112]:
##############################################################
# dict_ex1.py
# Load people.tsv into a dictionary. 
# Prompt user for filename


def dict_ex1(filename):
    people = []
    with open(filename) as file:
        header = None
        for line in file:
            if not line.strip():
                continue
            line = line.strip().split('\t')
            if header is None: # has the header been set?
                header = line
                continue
            
            my_dict = dict(zip(header, line))
            people.append(my_dict)
            
    return people
            
people = dict_ex1('people.tsv')

In [113]:
people[0]

{'last_name': 'Weaver',
 'first_name': 'Michael',
 'email': 'xdunn@hotmail.com',
 'country': 'Nepal',
 'account': 'QVJP6465242365388'}

In [114]:
people[1]

{'last_name': 'Owens',
 'first_name': 'Jackson',
 'email': 'iedwards@yahoo.com',
 'country': 'Kazakhstan',
 'account': 'FVQZ0955529767455'}

In [115]:
people[20:31]

[{'last_name': 'Fletcher',
  'first_name': 'Austin',
  'email': 'carolharrington@fleming.org',
  'country': 'Azerbaijan',
  'account': 'GJZT6825738428111'},
 {'last_name': 'Lewis',
  'first_name': 'Patrick',
  'email': 'lopezcarl@johnson.com',
  'country': 'Saint Helena',
  'account': 'JOQE2648899771737'},
 {'last_name': 'Smith',
  'first_name': 'Joseph',
  'email': 'michael74@yahoo.com',
  'country': 'Hong Kong',
  'account': 'MNXY3262955868027'},
 {'last_name': 'Sullivan',
  'first_name': 'Sharon',
  'email': 'gonzalezrobert@hotmail.com',
  'country': 'Turkey',
  'account': 'YHXF7256577475630'},
 {'last_name': 'Wilson',
  'first_name': 'Krystal',
  'email': 'dawnjohnson@gmail.com',
  'country': 'Swaziland',
  'account': 'MUVI3570791852556'},
 {'last_name': 'Schmidt',
  'first_name': 'Diana',
  'email': 'watersryan@gmail.com',
  'country': 'Holy See (Vatican City State)',
  'account': 'UKCP6739617302102'},
 {'last_name': 'Huff',
  'first_name': 'Sean',
  'email': 'byoung@gmail.com',
  'country': 'Norfolk Island',
  'account': 'WDAT4146843903498'},
 {'last_name': 'Nguyen',
  'first_name': 'Robin',
  'email': 'vhanson@yahoo.com',
  'country': 'Kenya',
  'account': 'SVMU4403517448078'},
 {'last_name': 'Russell',
  'first_name': 'Robyn',
  'email': 'bfletcher@yahoo.com',
  'country': 'Togo',
  'account': 'ZNUY4071301663622'},
 {'last_name': 'Smith',
  'first_name': 'Tiffany',
  'email': 'colleengarrison@hotmail.com',
  'country': 'San Marino',
  'account': 'GPFA8271551275648'},
 {'last_name': 'Smith',
  'first_name': 'Lori',
  'email': 'catherine23@gmail.com',
  'country': 'Romania',
  'account': 'MKWY4848668895426'}]

In [116]:
people[-1]

{'last_name': 'Hansen',
 'first_name': 'Michael',
 'email': 'phillipssean@hotmail.com',
 'country': 'Serbia',
 'account': 'QKAF2254397516681'}

In [120]:
####################################################
# dict_ex2.py 
# Write a function to convert month number to 
# month name. First use a list and then a dictionary

def dict_ex2_take1(number):
    months = [0, 'Jan', 'Feb', 'Mar', 'Apr', 
                 'May', 'Jun', 'Jul', 'Aug',
                 'Sept', 'Oct', 'Nov', 'Dec']
    
    return months[number]

print(dict_ex2_take1(9))

Sept

In [124]:
days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
month = 6

if month == 2:
    # some logic goes here
    pass
else:
    print(days_in_month[month])

30

In [130]:
from pprint import pprint
def dict_ex2_take2(number):
    numbers = range(1, 13)
    months = ['Jan', 'Feb', 'Mar', 'Apr', 
                 'May', 'Jun', 'Jul', 'Aug',
                 'Sept', 'Oct', 'Nov', 'Dec']
    
    months = dict(zip(numbers, months))
    pprint(months)
    return months.get(number)

print(dict_ex2_take2(5))

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sept',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}
May

In [129]:
pprint(people)

[{'account': 'QVJP6465242365388',
  'country': 'Nepal',
  'email': 'xdunn@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Weaver'},
 {'account': 'FVQZ0955529767455',
  'country': 'Kazakhstan',
  'email': 'iedwards@yahoo.com',
  'first_name': 'Jackson',
  'last_name': 'Owens'},
 {'account': 'QFIM0905182880347',
  'country': 'Mauritius',
  'email': 'arogers@smith.com',
  'first_name': 'Patrick',
  'last_name': 'Gilmore'},
 {'account': 'YWOT0997131632248',
  'country': 'New Zealand',
  'email': 'plewis@chavez.com',
  'first_name': 'Jeffrey',
  'last_name': 'Perez'},
 {'account': 'QAAE9838291982555',
  'country': 'Yemen',
  'email': 'fred92@yahoo.com',
  'first_name': 'James',
  'last_name': 'Thomas'},
 {'account': 'PCNE8127696280157',
  'country': 'Jordan',
  'email': 'mmiller@lynch.com',
  'first_name': 'Greg',
  'last_name': 'Nelson'},
 {'account': 'BCEN3299883381338',
  'country': 'Palau',
  'email': 'steven49@gmail.com',
  'first_name': 'Joshua',
  'last_name': 'White'},
 {'account': 'XPTQ7837014557677',
  'country': 'Argentina',
  'email': 'amanda23@hotmail.com',
  'first_name': 'Todd',
  'last_name': 'Francis'},
 {'account': 'TRLQ6559557081716',
  'country': 'Marshall Islands',
  'email': 'jackduke@hotmail.com',
  'first_name': 'Stephen',
  'last_name': 'Shaw'},
 {'account': 'OHOV7518558201999',
  'country': 'Albania',
  'email': 'rhodesnicholas@hotmail.com',
  'first_name': 'Mariah',
  'last_name': 'Armstrong'},
 {'account': 'MCQU7347833033110',
  'country': 'Kyrgyz Republic',
  'email': 'smithashlee@yahoo.com',
  'first_name': 'Anthony',
  'last_name': 'Boyle'},
 {'account': 'PPHE5533473251751',
  'country': 'Turkmenistan',
  'email': 'ubriggs@hill.info',
  'first_name': 'Patrick',
  'last_name': 'Cuevas'},
 {'account': 'JCDK1943355298609',
  'country': 'Fiji',
  'email': 'brownclarence@gonzalez-moore.com',
  'first_name': 'Gerald',
  'last_name': 'Reyes'},
 {'account': 'NERZ5502558659614',
  'country': 'Costa Rica',
  'email': 'teresa30@carpenter-warner.com',
  'first_name': 'Christopher',
  'last_name': 'Calderon'},
 {'account': 'DLDV5789894914403',
  'country': 'Martinique',
  'email': 'leekatherine@williams.com',
  'first_name': 'Shane',
  'last_name': 'Weiss'},
 {'account': 'GZZF6936998445532',
  'country': 'Singapore',
  'email': 'chasewatkins@perez-phillips.com',
  'first_name': 'Crystal',
  'last_name': 'Conley'},
 {'account': 'ECGK2823955143629',
  'country': 'Mayotte',
  'email': 'hsherman@gmail.com',
  'first_name': 'Jeffrey',
  'last_name': 'Nelson'},
 {'account': 'QOVO4275314052899',
  'country': 'Costa Rica',
  'email': 'martinezdaniel@hotmail.com',
  'first_name': 'Brianna',
  'last_name': 'Johnson'},
 {'account': 'UKRT1119626365017',
  'country': 'Guadeloupe',
  'email': 'justinfischer@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Werner'},
 {'account': 'UNPV3347450330173',
  'country': 'Bahamas',
  'email': 'cindy08@gmail.com',
  'first_name': 'Brianna',
  'last_name': 'Bennett'},
 {'account': 'GJZT6825738428111',
  'country': 'Azerbaijan',
  'email': 'carolharrington@fleming.org',
  'first_name': 'Austin',
  'last_name': 'Fletcher'},
 {'account': 'JOQE2648899771737',
  'country': 'Saint Helena',
  'email': 'lopezcarl@johnson.com',
  'first_name': 'Patrick',
  'last_name': 'Lewis'},
 {'account': 'MNXY3262955868027',
  'country': 'Hong Kong',
  'email': 'michael74@yahoo.com',
  'first_name': 'Joseph',
  'last_name': 'Smith'},
 {'account': 'YHXF7256577475630',
  'country': 'Turkey',
  'email': 'gonzalezrobert@hotmail.com',
  'first_name': 'Sharon',
  'last_name': 'Sullivan'},
 {'account': 'MUVI3570791852556',
  'country': 'Swaziland',
  'email': 'dawnjohnson@gmail.com',
  'first_name': 'Krystal',
  'last_name': 'Wilson'},
 {'account': 'UKCP6739617302102',
  'country': 'Holy See (Vatican City State)',
  'email': 'watersryan@gmail.com',
  'first_name': 'Diana',
  'last_name': 'Schmidt'},
 {'account': 'WDAT4146843903498',
  'country': 'Norfolk Island',
  'email': 'byoung@gmail.com',
  'first_name': 'Sean',
  'last_name': 'Huff'},
 {'account': 'SVMU4403517448078',
  'country': 'Kenya',
  'email': 'vhanson@yahoo.com',
  'first_name': 'Robin',
  'last_name': 'Nguyen'},
 {'account': 'ZNUY4071301663622',
  'country': 'Togo',
  'email': 'bfletcher@yahoo.com',
  'first_name': 'Robyn',
  'last_name': 'Russell'},
 {'account': 'GPFA8271551275648',
  'country': 'San Marino',
  'email': 'colleengarrison@hotmail.com',
  'first_name': 'Tiffany',
  'last_name': 'Smith'},
 {'account': 'MKWY4848668895426',
  'country': 'Romania',
  'email': 'catherine23@gmail.com',
  'first_name': 'Lori',
  'last_name': 'Smith'},
 {'account': 'QHIW7412514205367',
  'country': 'Algeria',
  'email': 'xmurphy@yahoo.com',
  'first_name': 'Sabrina',
  'last_name': 'Keith'},
 {'account': 'QAAO4666689281736',
  'country': 'Slovakia (Slovak Republic)',
  'email': 'aaronrichard@middleton.net',
  'first_name': 'Miguel',
  'last_name': 'Johnson'},
 {'account': 'LRPR8694143910883',
  'country': 'Somalia',
  'email': 'jesse93@best.com',
  'first_name': 'Dustin',
  'last_name': 'Barron'},
 {'account': 'UWFU1921951273393',
  'country': 'Turkmenistan',
  'email': 'johnperez@johnson.com',
  'first_name': 'Michael',
  'last_name': 'Robinson'},
 {'account': 'JQHS4274771257925',
  'country': 'Croatia',
  'email': 'jessica62@yahoo.com',
  'first_name': 'Robert',
  'last_name': 'Nguyen'},
 {'account': 'RSLD0426398604312',
  'country': 'Jamaica',
  'email': 'jennifer87@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Abbott'},
 {'account': 'UYHI6964741005832',
  'country': 'Montserrat',
  'email': 'morenolindsay@bass.org',
  'first_name': 'Bruce',
  'last_name': 'Oneill'},
 {'account': 'ZKTE5908966955533',
  'country': 'Heard Island and McDonald Islands',
  'email': 'robertdavis@hotmail.com',
  'first_name': 'Linda',
  'last_name': 'Nash'},
 {'account': 'HHHP3471562002758',
  'country': 'Niger',
  'email': 'melanie81@rogers.com',
  'first_name': 'Kathleen',
  'last_name': 'Cameron'},
 {'account': 'UWLV6407825245995',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'clineerin@hotmail.com',
  'first_name': 'Wesley',
  'last_name': 'Wilkinson'},
 {'account': 'JRBN0811785293731',
  'country': 'Antigua and Barbuda',
  'email': 'terri95@hotmail.com',
  'first_name': 'Debbie',
  'last_name': 'Wallace'},
 {'account': 'VDWY7565964041116',
  'country': 'Mexico',
  'email': 'danielle65@yahoo.com',
  'first_name': 'Kayla',
  'last_name': 'Woodward'},
 {'account': 'DNRB2101855092009',
  'country': 'Singapore',
  'email': 'sjackson@yahoo.com',
  'first_name': 'Stephanie',
  'last_name': 'Bennett'},
 {'account': 'IILE1765776198023',
  'country': 'Botswana',
  'email': 'douglas63@yahoo.com',
  'first_name': 'Caleb',
  'last_name': 'Jenkins'},
 {'account': 'ZJUF2687631787282',
  'country': 'Guinea',
  'email': 'woodardlindsey@yahoo.com',
  'first_name': 'Valerie',
  'last_name': 'Edwards'},
 {'account': 'DHMT4208071148508',
  'country': 'Chile',
  'email': 'suebrown@yahoo.com',
  'first_name': 'Mary',
  'last_name': 'Anderson'},
 {'account': 'UBRR8524342666714',
  'country': 'Mayotte',
  'email': 'swhite@yahoo.com',
  'first_name': 'Angela',
  'last_name': 'Ray'},
 {'account': 'OGPU6537909247863',
  'country': 'Macedonia',
  'email': 'martinkimberly@lopez.com',
  'first_name': 'Haley',
  'last_name': 'Edwards'},
 {'account': 'AHYX6128839695452',
  'country': 'Ukraine',
  'email': 'jessica11@hotmail.com',
  'first_name': 'Charles',
  'last_name': 'Clark'},
 {'account': 'VUPW6891906300822',
  'country': 'Saint Martin',
  'email': 'hsmith@baker.com',
  'first_name': 'Lisa',
  'last_name': 'Hill'},
 {'account': 'PKFW4841194501766',
  'country': 'Germany',
  'email': 'fklein@yahoo.com',
  'first_name': 'Jonathan',
  'last_name': 'Carpenter'},
 {'account': 'BNYD8693045932496',
  'country': 'Lesotho',
  'email': 'ryan32@skinner.com',
  'first_name': 'Latoya',
  'last_name': 'Griffith'},
 {'account': 'FQJA6381776349463',
  'country': 'Nepal',
  'email': 'tmurphy@flores.biz',
  'first_name': 'Kim',
  'last_name': 'Blair'},
 {'account': 'KCNI2464381879411',
  'country': 'Latvia',
  'email': 'mary64@ray.org',
  'first_name': 'Mary',
  'last_name': 'Salazar'},
 {'account': 'BIGY3006735396533',
  'country': 'Central African Republic',
  'email': 'jennajoseph@yahoo.com',
  'first_name': 'Kenneth',
  'last_name': 'Krueger'},
 {'account': 'CNJX1222752295544',
  'country': 'Peru',
  'email': 'watsonsamuel@gmail.com',
  'first_name': 'Phillip',
  'last_name': 'Burke'},
 {'account': 'ZROP5229895490397',
  'country': 'Spain',
  'email': 'xvelasquez@hughes.com',
  'first_name': 'Erica',
  'last_name': 'Juarez'},
 {'account': 'NXKK2792812848629',
  'country': 'Seychelles',
  'email': 'april99@gmail.com',
  'first_name': 'Jason',
  'last_name': 'Watkins'},
 {'account': 'DPLN5056382218296',
  'country': 'Faroe Islands',
  'email': 'kfletcher@yahoo.com',
  'first_name': 'Lee',
  'last_name': 'Carter'},
 {'account': 'KAOL9792684486009',
  'country': 'Tokelau',
  'email': 'xchurch@hotmail.com',
  'first_name': 'Randy',
  'last_name': 'Huang'},
 {'account': 'WRXW4627191899235',
  'country': 'Cocos (Keeling) Islands',
  'email': 'megan24@stewart.net',
  'first_name': 'Kristina',
  'last_name': 'Owen'},
 {'account': 'OMOK4767172062189',
  'country': 'Burundi',
  'email': 'sydneycollins@hunter.com',
  'first_name': 'Beth',
  'last_name': 'Turner'},
 {'account': 'KRKF7344951038740',
  'country': 'Timor-Leste',
  'email': 'robertbowen@chavez-ortega.com',
  'first_name': 'Michael',
  'last_name': 'Aguirre'},
 {'account': 'SAAA4141150617330',
  'country': 'Montserrat',
  'email': 'christiandanielle@yahoo.com',
  'first_name': 'Elizabeth',
  'last_name': 'Wilson'},
 {'account': 'XNWQ1072087896797',
  'country': 'Norway',
  'email': 'kdavidson@gordon.com',
  'first_name': 'Teresa',
  'last_name': 'Hardy'},
 {'account': 'FTHM1005169617995',
  'country': 'Sierra Leone',
  'email': 'bennettwanda@vega-guerra.net',
  'first_name': 'David',
  'last_name': 'Stewart'},
 {'account': 'OSSM9070924947595',
  'country': 'French Polynesia',
  'email': 'mark00@hotmail.com',
  'first_name': 'Heather',
  'last_name': 'Moore'},
 {'account': 'CFQJ4204773901237',
  'country': 'French Guiana',
  'email': 'schaefernatalie@hotmail.com',
  'first_name': 'Melissa',
  'last_name': 'Grant'},
 {'account': 'MGFG2793756668287',
  'country': 'Cape Verde',
  'email': 'moralesmartin@rodgers.com',
  'first_name': 'Jennifer',
  'last_name': 'Thompson'},
 {'account': 'IGXK5881682171566',
  'country': 'Barbados',
  'email': 'dprince@hotmail.com',
  'first_name': 'Raymond',
  'last_name': 'Anderson'},
 {'account': 'QYBW6359021109484',
  'country': 'Andorra',
  'email': 'cparks@valdez-hudson.com',
  'first_name': 'Angela',
  'last_name': 'Ramsey'},
 {'account': 'UTSI0776569247505',
  'country': 'Montserrat',
  'email': 'martinezrichard@yahoo.com',
  'first_name': 'Betty',
  'last_name': 'Gonzales'},
 {'account': 'LSDI9463735752680',
  'country': 'Egypt',
  'email': 'kpena@yahoo.com',
  'first_name': 'Thomas',
  'last_name': 'Castaneda'},
 {'account': 'ISYY1401931979959',
  'country': 'Malaysia',
  'email': 'julie68@gmail.com',
  'first_name': 'Jonathan',
  'last_name': 'Todd'},
 {'account': 'HNOA0376843856035',
  'country': 'Zimbabwe',
  'email': 'lukebradford@hotmail.com',
  'first_name': 'Stacey',
  'last_name': 'Garcia'},
 {'account': 'EEVV8325881104553',
  'country': 'Portugal',
  'email': 'ystewart@yahoo.com',
  'first_name': 'Judy',
  'last_name': 'Figueroa'},
 {'account': 'QXGZ3111246190069',
  'country': 'Paraguay',
  'email': 'cory33@king-shaw.net',
  'first_name': 'Ashley',
  'last_name': 'Castillo'},
 {'account': 'ACQR2846533122117',
  'country': 'Central African Republic',
  'email': 'zcalhoun@gmail.com',
  'first_name': 'Zachary',
  'last_name': 'Flores'},
 {'account': 'ZAZD8310339637467',
  'country': 'Palau',
  'email': 'michaelhall@hotmail.com',
  'first_name': 'Erica',
  'last_name': 'Allen'},
 {'account': 'ARWK1547324119222',
  'country': 'Micronesia',
  'email': 'kristentaylor@yahoo.com',
  'first_name': 'Savannah',
  'last_name': 'Potts'},
 {'account': 'OMQX4840913072589',
  'country': 'Armenia',
  'email': 'stephen63@yahoo.com',
  'first_name': 'Zachary',
  'last_name': 'Wheeler'},
 {'account': 'OCFV4659464275270',
  'country': 'Bahrain',
  'email': 'bryanmartin@gmail.com',
  'first_name': 'Timothy',
  'last_name': 'Thomas'},
 {'account': 'DTRB4720098955341',
  'country': 'Guatemala',
  'email': 'kristinavelasquez@gmail.com',
  'first_name': 'Ann',
  'last_name': 'Mcknight'},
 {'account': 'YYHM5758234683389',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'denise01@burns.org',
  'first_name': 'Ruth',
  'last_name': 'Thompson'},
 {'account': 'AHBN3151680654826',
  'country': 'Kazakhstan',
  'email': 'beancody@jones.com',
  'first_name': 'Daniel',
  'last_name': 'Levy'},
 {'account': 'FGBC0366153271398',
  'country': 'Germany',
  'email': 'ubradley@yahoo.com',
  'first_name': 'Paul',
  'last_name': 'Hubbard'},
 {'account': 'MHTE8867005510944',
  'country': 'Western Sahara',
  'email': 'anthony75@yahoo.com',
  'first_name': 'Jason',
  'last_name': 'Jones'},
 {'account': 'IYOD4325345823013',
  'country': 'Togo',
  'email': 'antonio52@gmail.com',
  'first_name': 'Margaret',
  'last_name': 'Garcia'},
 {'account': 'NZFX8257739892619',
  'country': 'Guam',
  'email': 'johnlewis@hotmail.com',
  'first_name': 'Jeremy',
  'last_name': 'Peters'},
 {'account': 'MWRB2515761996641',
  'country': 'Kuwait',
  'email': 'nmoore@hotmail.com',
  'first_name': 'Mark',
  'last_name': 'Stone'},
 {'account': 'CURJ9953745256871',
  'country': 'Eritrea',
  'email': 'nchurch@yahoo.com',
  'first_name': 'Darius',
  'last_name': 'Edwards'},
 {'account': 'ATOT8581137487723',
  'country': 'Czech Republic',
  'email': 'piercejenna@gmail.com',
  'first_name': 'Tracy',
  'last_name': 'Lawson'},
 {'account': 'RQGA0882784089265',
  'country': 'Maldives',
  'email': 'ddavidson@hotmail.com',
  'first_name': 'Christina',
  'last_name': 'Cooper'},
 {'account': 'EOPA8088866975598',
  'country': 'Armenia',
  'email': 'ndelacruz@yahoo.com',
  'first_name': 'Megan',
  'last_name': 'Harris'},
 {'account': 'JCUN9597199552039',
  'country': 'Benin',
  'email': 'jenniferadkins@griffin.biz',
  'first_name': 'Timothy',
  'last_name': 'Jones'},
 {'account': 'IZYL3351829981461',
  'country': 'Fiji',
  'email': 'evansmiguel@yahoo.com',
  'first_name': 'Tracie',
  'last_name': 'Burch'},
 {'account': 'JDIH2349154465371',
  'country': 'Iceland',
  'email': 'kenneththompson@baxter.com',
  'first_name': 'Jason',
  'last_name': 'Chung'},
 {'account': 'VRZP1447516193511',
  'country': 'Macedonia',
  'email': 'bcurtis@hotmail.com',
  'first_name': 'Samantha',
  'last_name': 'Melton'},
 {'account': 'QKAF2254397516681',
  'country': 'Serbia',
  'email': 'phillipssean@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Hansen'}]

In [131]:
# dict_ex3.py 
# Convert text message to numbers

# 0 	space
# 1 	., ?, !
# 2 	ABC
# 3 	DEF
# 4 	GHI
# 5 	JKL
# 6 	MNO
# 7 	PQRS
# 8 	TUV
# 9 	WXYZ

lookup = {
    0: ' ',
    1: '.,?!',
    2: 'ABC',
    3: 'DEF',
    4: 'GHI',
    5: 'JKL',
    6: 'MNO',
    7: 'PQRS',
    8: 'TUV',
    9: 'WXYZ'
}
print(lookup)

{0: ' ', 1: '.,?!', 2: 'ABC', 3: 'DEF', 4: 'GHI', 5: 'JKL', 6: 'MNO', 7: 'PQRS', 8: 'TUV', 9: 'WXYZ'}

In [138]:
lookup_map = {}

for number, characters_in_number in lookup.items():
    for char in characters_in_number:
        lookup_map[char] = number

In [136]:
for ele in lookup[2]:
    print(ele, 2)

A 2
B 2
C 2

In [141]:
lookup_map['Z']

9

In [142]:
pprint(lookup_map)

{' ': 0,
 '!': 1,
 ',': 1,
 '.': 1,
 '?': 1,
 'A': 2,
 'B': 2,
 'C': 2,
 'D': 3,
 'E': 3,
 'F': 3,
 'G': 4,
 'H': 4,
 'I': 4,
 'J': 5,
 'K': 5,
 'L': 5,
 'M': 6,
 'N': 6,
 'O': 6,
 'P': 7,
 'Q': 7,
 'R': 7,
 'S': 7,
 'T': 8,
 'U': 8,
 'V': 8,
 'W': 9,
 'X': 9,
 'Y': 9,
 'Z': 9}

In [144]:
message = 'I am running late to meeting.'
numbers = ''
for char in message:
    numbers += str(lookup_map[char.upper()])

print(numbers)

40260786646405283086063384641

In [145]:
def test_enumerate(range_value):

    for index, value in enumerate(range(range_value), 1):
        print(index, value)

test_enumerate(10)

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7
9 8
10 9