In [1]:
x = list(range(5))
for ele in x:
    print(ele)

0
1
2
3
4

In [4]:
class MyRange:
    def __init__(self, end_number):
        self.end_number = end_number

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.end_number:
            current_value = self.value
            self.value += 1
            return current_value
        else:
            raise StopIteration
        


mr = MyRange(5)
for ele in mr:
    print(ele)

0
1
2
3
4

In [8]:
with open('people.tsv') as file:
    header = next(file).strip().split()
    for line in file:
        if not line.strip():
            continue


print(header)

['last_name', 'first_name', 'email', 'country', 'account']

In [9]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration


for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [11]:
def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1
x = PowX(10, 3)
for ele in x:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [12]:
for ele in x:
    print(ele)

In [13]:
for ele in []:
    print(ele)

In [ ]:
class MyRange:
    def __init__(self, end_number):
        self.end_number = end_number

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.end_number:
            current_value = self.value
            self.value += 1
            return current_value
        else:
            raise StopIteration

mr1 = MyRange(5)
mr2 = MyRange(6)

In [14]:
class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances
t1 = TestClass()
t2 = TestClass()

print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [15]:
TestClass.class_variable

1

In [16]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t2.class_variable:  2

In [17]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [18]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [19]:
print('\n', '-'*60, '\n')

class TestClass:
    class_variable = 1 # Belongs to the class. Shared by all instances

    def __init__(self, instance_variable):
        self.instance_variable = instance_variable


t1 = TestClass(1)
t2 = TestClass(2)

 ------------------------------------------------------------

In [20]:
print('\nPrint class_variable')
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Print class_variable
t1.class_variable:  1
t2.class_variable:  1

In [21]:
print('\nPrint instance_variable')
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Print instance_variable
t1.instance_variable:  1
t2.instance_variable:  2

In [22]:
print('\nChange class_variable in class definition and print class_variable')
TestClass.class_variable = 2
print('t1.class_variable: ', t1.class_variable)
print('t1.class_variable: ', t2.class_variable)

Change class_variable in class definition and print class_variable
t1.class_variable:  2
t1.class_variable:  2

In [23]:
print('\nChange instance_variable for t1 and print instance_variable')
t1.instance_variable = 10
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t1 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  2

In [24]:
print('\nChange instance_variable for t2 and print instance_variable')
t2.instance_variable = 20
print('t1.instance_variable: ', t1.instance_variable)
print('t2.instance_variable: ', t2.instance_variable)

Change instance_variable for t2 and print instance_variable
t1.instance_variable:  10
t2.instance_variable:  20

In [25]:
print('\nChange class_variable in instance t1 and print class_variable')
t1.class_variable = 3
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t1 and print class_variable
t1.class_variable:  3
t2.class_variable:  2

In [26]:
print('\nChange class_variable in instance t2 and print class_variable')
t2.class_variable = 4
print('t1.class_variable: ', t1.class_variable)
print('t2.class_variable: ', t2.class_variable)

Change class_variable in instance t2 and print class_variable
t1.class_variable:  3
t2.class_variable:  4

In [27]:
print('\n', '-'*60, '\n')


class TestClass:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    def blah(self):
        return 'blah'
        
    @staticmethod
    def add(number1, number2):
        return number1 + number2

 ------------------------------------------------------------

In [28]:
TestClass.add(1,2)

3

In [29]:
t1 = TestClass()
t1.add(3,4)

7

In [30]:
TestClass.class_variable

1

In [32]:
class TestClass2:
    class_variable = 1

    # @staticmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: staticmethods do no have access to class properties (variables or methods).
    # This means they cannot access class_variable.
    # Such methods are used when you do not want subclasses to change/overwrite a specific method.

    @staticmethod
    def add(number1, number2):
        return number1 + number2# + class_variable

print('@staticmethod add: ', TestClass2.add(3,4))

NameError: name 'class_variable' is not defined

In [36]:
class TestClass:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2
print('@classmethod add: ', TestClass.add(5,6))

@classmethod add:  11

In [37]:
class TestClass2:
    class_variable = 1

    # @classmethod are bound to class rather than object. Therefore, to use them, you do not have
    # to instantiate an object.
    # NOTE: Unlike staticmethods, classmethods do have access to class properties (variables or methods).
    # This means they can access class_variable.

    @classmethod
    def add(cls, number1, number2):
        return number1 + number2 + cls.class_variable

print('@classmethod add -- access to class variable: ', TestClass2.add(5,6))

@classmethod add -- access to class variable:  12

In [50]:
class TestClass:
    class_variable = 1

    def __init__(self, var):
        self.var = var

    @staticmethod
    def add_static(number1, number2):
        return number1 + number2

    @classmethod
    def add_class(cls, number1, number2):
        return number1 + number2 + cls.class_variable

    def add_object(self, number1, number2):
        return number1 + number2 + self.class_variable + 29 + self.var + self.five()

    def five(self):
        return 5


print('add_static: ', TestClass.add_static(13,14))
print('add_class: ', TestClass.add_class(13,14))

add_static:  27
add_class:  28

In [51]:
t1 = TestClass(34)                                                                           #(self, number1, number2)
print('Call from object -- add_object: ', t1.add_object(13, 14)) # --> TestClass.add_object(t1, 13, 14))

Call from object -- add_object:  96

In [52]:
print('Call from class -- add_object: ', TestClass.add_object(t1, 13, 14))

Call from class -- add_object:  96

In [53]:
class MyClass:
    def __init__(self, **kwargs):
        self.data = {}
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        return self.data[key]      

my_class = MyClass()
# + __add__
my_class['Exam1'] = 90

In [54]:
my_class['Exam1']

90

In [56]:
my_class['Exam2'] = 50
my_class['Exam2']

50

In [57]:
my_class.data

{'Exam1': 90, 'Exam2': 50}

In [99]:
from collections import defaultdict
class MyClass:
    def __init__(self, **kwargs):
        self.data = defaultdict(list)
        header = kwargs.get('header') 
        lines = kwargs.get('lines')
        if header:
            header = lines.pop(0)
        else:
            header = list(range(len(lines[0])))
        self.header = header
        # Store the data as a dictionary
        for line in lines:
            row = dict(zip(header, line))
            for key,value in row.items():
                self.data[key].append(value)
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        if type(key) in (str, int):
            return self.data[key]   
        elif isinstance(key, list):
            output = []
            for k in key:
                output.append(self.data[k])
        
            output = list(zip(*output))              
            return output

In [58]:
x = [
    ['col1','col2', 'col3'],
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]   
]

header = x.pop(0)
print(header, x)

['col1', 'col2', 'col3'] [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [59]:
for row in x:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [64]:
from collections import defaultdict
data = defaultdict(list)
for line in x:
    row = dict(zip(header, line))
    for key,value in row.items():
        data[key].append(value)
print(dict(data))

{'col1': [1, 4, 7], 'col2': [2, 5, 8], 'col3': [3, 6, 9]}

In [67]:
data['col3']

[3, 6, 9]

In [68]:
x

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [70]:
x = data['col1']
y = data['col2']
z = [x,y]

list(zip(*z))

[1, 4, 7] [2, 5, 8]

[(1, 2), (4, 5), (7, 8)]

In [ ]:
# df[['col1', 'col3']]
# s1 -- col name is a string df['exam1']
# s2 -- col name is a number df[0]
# s3 -- pass in a list of column names to retrive  df[['exam1', 'exam5']], df[[0, 4]]

In [72]:
filename = 'people.tsv'
people = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        people.append(line.strip().split('\t'))


mc = MyClass(lines=people, header=True)

In [74]:
for row in mc[['first_name', 'last_name', 'email']]:
    print(row)

('Michael', 'Weaver', 'xdunn@hotmail.com')
('Jackson', 'Owens', 'iedwards@yahoo.com')
('Patrick', 'Gilmore', 'arogers@smith.com')
('Jeffrey', 'Perez', 'plewis@chavez.com')
('James', 'Thomas', 'fred92@yahoo.com')
('Greg', 'Nelson', 'mmiller@lynch.com')
('Joshua', 'White', 'steven49@gmail.com')
('Todd', 'Francis', 'amanda23@hotmail.com')
('Stephen', 'Shaw', 'jackduke@hotmail.com')
('Mariah', 'Armstrong', 'rhodesnicholas@hotmail.com')
('Anthony', 'Boyle', 'smithashlee@yahoo.com')
('Patrick', 'Cuevas', 'ubriggs@hill.info')
('Gerald', 'Reyes', 'brownclarence@gonzalez-moore.com')
('Christopher', 'Calderon', 'teresa30@carpenter-warner.com')
('Shane', 'Weiss', 'leekatherine@williams.com')
('Crystal', 'Conley', 'chasewatkins@perez-phillips.com')
('Jeffrey', 'Nelson', 'hsherman@gmail.com')
('Brianna', 'Johnson', 'martinezdaniel@hotmail.com')
('Brandon', 'Werner', 'justinfischer@gmail.com')
('Brianna', 'Bennett', 'cindy08@gmail.com')
('Austin', 'Fletcher', 'carolharrington@fleming.org')
('Patrick', 'Lewis', 'lopezcarl@johnson.com')
('Joseph', 'Smith', 'michael74@yahoo.com')
('Sharon', 'Sullivan', 'gonzalezrobert@hotmail.com')
('Krystal', 'Wilson', 'dawnjohnson@gmail.com')
('Diana', 'Schmidt', 'watersryan@gmail.com')
('Sean', 'Huff', 'byoung@gmail.com')
('Robin', 'Nguyen', 'vhanson@yahoo.com')
('Robyn', 'Russell', 'bfletcher@yahoo.com')
('Tiffany', 'Smith', 'colleengarrison@hotmail.com')
('Lori', 'Smith', 'catherine23@gmail.com')
('Sabrina', 'Keith', 'xmurphy@yahoo.com')
('Miguel', 'Johnson', 'aaronrichard@middleton.net')
('Dustin', 'Barron', 'jesse93@best.com')
('Michael', 'Robinson', 'johnperez@johnson.com')
('Robert', 'Nguyen', 'jessica62@yahoo.com')
('Brandon', 'Abbott', 'jennifer87@gmail.com')
('Bruce', 'Oneill', 'morenolindsay@bass.org')
('Linda', 'Nash', 'robertdavis@hotmail.com')
('Kathleen', 'Cameron', 'melanie81@rogers.com')
('Wesley', 'Wilkinson', 'clineerin@hotmail.com')
('Debbie', 'Wallace', 'terri95@hotmail.com')
('Kayla', 'Woodward', 'danielle65@yahoo.com')
('Stephanie', 'Bennett', 'sjackson@yahoo.com')
('Caleb', 'Jenkins', 'douglas63@yahoo.com')
('Valerie', 'Edwards', 'woodardlindsey@yahoo.com')
('Mary', 'Anderson', 'suebrown@yahoo.com')
('Angela', 'Ray', 'swhite@yahoo.com')
('Haley', 'Edwards', 'martinkimberly@lopez.com')
('Charles', 'Clark', 'jessica11@hotmail.com')
('Lisa', 'Hill', 'hsmith@baker.com')
('Jonathan', 'Carpenter', 'fklein@yahoo.com')
('Latoya', 'Griffith', 'ryan32@skinner.com')
('Kim', 'Blair', 'tmurphy@flores.biz')
('Mary', 'Salazar', 'mary64@ray.org')
('Kenneth', 'Krueger', 'jennajoseph@yahoo.com')
('Phillip', 'Burke', 'watsonsamuel@gmail.com')
('Erica', 'Juarez', 'xvelasquez@hughes.com')
('Jason', 'Watkins', 'april99@gmail.com')
('Lee', 'Carter', 'kfletcher@yahoo.com')
('Randy', 'Huang', 'xchurch@hotmail.com')
('Kristina', 'Owen', 'megan24@stewart.net')
('Beth', 'Turner', 'sydneycollins@hunter.com')
('Michael', 'Aguirre', 'robertbowen@chavez-ortega.com')
('Elizabeth', 'Wilson', 'christiandanielle@yahoo.com')
('Teresa', 'Hardy', 'kdavidson@gordon.com')
('David', 'Stewart', 'bennettwanda@vega-guerra.net')
('Heather', 'Moore', 'mark00@hotmail.com')
('Melissa', 'Grant', 'schaefernatalie@hotmail.com')
('Jennifer', 'Thompson', 'moralesmartin@rodgers.com')
('Raymond', 'Anderson', 'dprince@hotmail.com')
('Angela', 'Ramsey', 'cparks@valdez-hudson.com')
('Betty', 'Gonzales', 'martinezrichard@yahoo.com')
('Thomas', 'Castaneda', 'kpena@yahoo.com')
('Jonathan', 'Todd', 'julie68@gmail.com')
('Stacey', 'Garcia', 'lukebradford@hotmail.com')
('Judy', 'Figueroa', 'ystewart@yahoo.com')
('Ashley', 'Castillo', 'cory33@king-shaw.net')
('Zachary', 'Flores', 'zcalhoun@gmail.com')
('Erica', 'Allen', 'michaelhall@hotmail.com')
('Savannah', 'Potts', 'kristentaylor@yahoo.com')
('Zachary', 'Wheeler', 'stephen63@yahoo.com')
('Timothy', 'Thomas', 'bryanmartin@gmail.com')
('Ann', 'Mcknight', 'kristinavelasquez@gmail.com')
('Ruth', 'Thompson', 'denise01@burns.org')
('Daniel', 'Levy', 'beancody@jones.com')
('Paul', 'Hubbard', 'ubradley@yahoo.com')
('Jason', 'Jones', 'anthony75@yahoo.com')
('Margaret', 'Garcia', 'antonio52@gmail.com')
('Jeremy', 'Peters', 'johnlewis@hotmail.com')
('Mark', 'Stone', 'nmoore@hotmail.com')
('Darius', 'Edwards', 'nchurch@yahoo.com')
('Tracy', 'Lawson', 'piercejenna@gmail.com')
('Christina', 'Cooper', 'ddavidson@hotmail.com')
('Megan', 'Harris', 'ndelacruz@yahoo.com')
('Timothy', 'Jones', 'jenniferadkins@griffin.biz')
('Tracie', 'Burch', 'evansmiguel@yahoo.com')
('Jason', 'Chung', 'kenneththompson@baxter.com')
('Samantha', 'Melton', 'bcurtis@hotmail.com')
('Michael', 'Hansen', 'phillipssean@hotmail.com')

In [75]:
for row in mc[['country', 'email']]:
    print(row)

('Nepal', 'xdunn@hotmail.com')
('Kazakhstan', 'iedwards@yahoo.com')
('Mauritius', 'arogers@smith.com')
('New Zealand', 'plewis@chavez.com')
('Yemen', 'fred92@yahoo.com')
('Jordan', 'mmiller@lynch.com')
('Palau', 'steven49@gmail.com')
('Argentina', 'amanda23@hotmail.com')
('Marshall Islands', 'jackduke@hotmail.com')
('Albania', 'rhodesnicholas@hotmail.com')
('Kyrgyz Republic', 'smithashlee@yahoo.com')
('Turkmenistan', 'ubriggs@hill.info')
('Fiji', 'brownclarence@gonzalez-moore.com')
('Costa Rica', 'teresa30@carpenter-warner.com')
('Martinique', 'leekatherine@williams.com')
('Singapore', 'chasewatkins@perez-phillips.com')
('Mayotte', 'hsherman@gmail.com')
('Costa Rica', 'martinezdaniel@hotmail.com')
('Guadeloupe', 'justinfischer@gmail.com')
('Bahamas', 'cindy08@gmail.com')
('Azerbaijan', 'carolharrington@fleming.org')
('Saint Helena', 'lopezcarl@johnson.com')
('Hong Kong', 'michael74@yahoo.com')
('Turkey', 'gonzalezrobert@hotmail.com')
('Swaziland', 'dawnjohnson@gmail.com')
('Holy See (Vatican City State)', 'watersryan@gmail.com')
('Norfolk Island', 'byoung@gmail.com')
('Kenya', 'vhanson@yahoo.com')
('Togo', 'bfletcher@yahoo.com')
('San Marino', 'colleengarrison@hotmail.com')
('Romania', 'catherine23@gmail.com')
('Algeria', 'xmurphy@yahoo.com')
('Slovakia (Slovak Republic)', 'aaronrichard@middleton.net')
('Somalia', 'jesse93@best.com')
('Turkmenistan', 'johnperez@johnson.com')
('Croatia', 'jessica62@yahoo.com')
('Jamaica', 'jennifer87@gmail.com')
('Montserrat', 'morenolindsay@bass.org')
('Heard Island and McDonald Islands', 'robertdavis@hotmail.com')
('Niger', 'melanie81@rogers.com')
('Saint Vincent and the Grenadines', 'clineerin@hotmail.com')
('Antigua and Barbuda', 'terri95@hotmail.com')
('Mexico', 'danielle65@yahoo.com')
('Singapore', 'sjackson@yahoo.com')
('Botswana', 'douglas63@yahoo.com')
('Guinea', 'woodardlindsey@yahoo.com')
('Chile', 'suebrown@yahoo.com')
('Mayotte', 'swhite@yahoo.com')
('Macedonia', 'martinkimberly@lopez.com')
('Ukraine', 'jessica11@hotmail.com')
('Saint Martin', 'hsmith@baker.com')
('Germany', 'fklein@yahoo.com')
('Lesotho', 'ryan32@skinner.com')
('Nepal', 'tmurphy@flores.biz')
('Latvia', 'mary64@ray.org')
('Central African Republic', 'jennajoseph@yahoo.com')
('Peru', 'watsonsamuel@gmail.com')
('Spain', 'xvelasquez@hughes.com')
('Seychelles', 'april99@gmail.com')
('Faroe Islands', 'kfletcher@yahoo.com')
('Tokelau', 'xchurch@hotmail.com')
('Cocos (Keeling) Islands', 'megan24@stewart.net')
('Burundi', 'sydneycollins@hunter.com')
('Timor-Leste', 'robertbowen@chavez-ortega.com')
('Montserrat', 'christiandanielle@yahoo.com')
('Norway', 'kdavidson@gordon.com')
('Sierra Leone', 'bennettwanda@vega-guerra.net')
('French Polynesia', 'mark00@hotmail.com')
('French Guiana', 'schaefernatalie@hotmail.com')
('Cape Verde', 'moralesmartin@rodgers.com')
('Barbados', 'dprince@hotmail.com')
('Andorra', 'cparks@valdez-hudson.com')
('Montserrat', 'martinezrichard@yahoo.com')
('Egypt', 'kpena@yahoo.com')
('Malaysia', 'julie68@gmail.com')
('Zimbabwe', 'lukebradford@hotmail.com')
('Portugal', 'ystewart@yahoo.com')
('Paraguay', 'cory33@king-shaw.net')
('Central African Republic', 'zcalhoun@gmail.com')
('Palau', 'michaelhall@hotmail.com')
('Micronesia', 'kristentaylor@yahoo.com')
('Armenia', 'stephen63@yahoo.com')
('Bahrain', 'bryanmartin@gmail.com')
('Guatemala', 'kristinavelasquez@gmail.com')
('Saint Vincent and the Grenadines', 'denise01@burns.org')
('Kazakhstan', 'beancody@jones.com')
('Germany', 'ubradley@yahoo.com')
('Western Sahara', 'anthony75@yahoo.com')
('Togo', 'antonio52@gmail.com')
('Guam', 'johnlewis@hotmail.com')
('Kuwait', 'nmoore@hotmail.com')
('Eritrea', 'nchurch@yahoo.com')
('Czech Republic', 'piercejenna@gmail.com')
('Maldives', 'ddavidson@hotmail.com')
('Armenia', 'ndelacruz@yahoo.com')
('Benin', 'jenniferadkins@griffin.biz')
('Fiji', 'evansmiguel@yahoo.com')
('Iceland', 'kenneththompson@baxter.com')
('Macedonia', 'bcurtis@hotmail.com')
('Serbia', 'phillipssean@hotmail.com')

In [76]:
print(mc['first_name'])

['Michael', 'Jackson', 'Patrick', 'Jeffrey', 'James', 'Greg', 'Joshua', 'Todd', 'Stephen', 'Mariah', 'Anthony', 'Patrick', 'Gerald', 'Christopher', 'Shane', 'Crystal', 'Jeffrey', 'Brianna', 'Brandon', 'Brianna', 'Austin', 'Patrick', 'Joseph', 'Sharon', 'Krystal', 'Diana', 'Sean', 'Robin', 'Robyn', 'Tiffany', 'Lori', 'Sabrina', 'Miguel', 'Dustin', 'Michael', 'Robert', 'Brandon', 'Bruce', 'Linda', 'Kathleen', 'Wesley', 'Debbie', 'Kayla', 'Stephanie', 'Caleb', 'Valerie', 'Mary', 'Angela', 'Haley', 'Charles', 'Lisa', 'Jonathan', 'Latoya', 'Kim', 'Mary', 'Kenneth', 'Phillip', 'Erica', 'Jason', 'Lee', 'Randy', 'Kristina', 'Beth', 'Michael', 'Elizabeth', 'Teresa', 'David', 'Heather', 'Melissa', 'Jennifer', 'Raymond', 'Angela', 'Betty', 'Thomas', 'Jonathan', 'Stacey', 'Judy', 'Ashley', 'Zachary', 'Erica', 'Savannah', 'Zachary', 'Timothy', 'Ann', 'Ruth', 'Daniel', 'Paul', 'Jason', 'Margaret', 'Jeremy', 'Mark', 'Darius', 'Tracy', 'Christina', 'Megan', 'Timothy', 'Tracie', 'Jason', 'Samantha', 'Michael']

In [100]:
mc = MyClass(lines=people, header=False)

for row in mc[[0, 4]]:
    print(row)

('Weaver', 'QVJP6465242365388')
('Owens', 'FVQZ0955529767455')
('Gilmore', 'QFIM0905182880347')
('Perez', 'YWOT0997131632248')
('Thomas', 'QAAE9838291982555')
('Nelson', 'PCNE8127696280157')
('White', 'BCEN3299883381338')
('Francis', 'XPTQ7837014557677')
('Shaw', 'TRLQ6559557081716')
('Armstrong', 'OHOV7518558201999')
('Boyle', 'MCQU7347833033110')
('Cuevas', 'PPHE5533473251751')
('Reyes', 'JCDK1943355298609')
('Calderon', 'NERZ5502558659614')
('Weiss', 'DLDV5789894914403')
('Conley', 'GZZF6936998445532')
('Nelson', 'ECGK2823955143629')
('Johnson', 'QOVO4275314052899')
('Werner', 'UKRT1119626365017')
('Bennett', 'UNPV3347450330173')
('Fletcher', 'GJZT6825738428111')
('Lewis', 'JOQE2648899771737')
('Smith', 'MNXY3262955868027')
('Sullivan', 'YHXF7256577475630')
('Wilson', 'MUVI3570791852556')
('Schmidt', 'UKCP6739617302102')
('Huff', 'WDAT4146843903498')
('Nguyen', 'SVMU4403517448078')
('Russell', 'ZNUY4071301663622')
('Smith', 'GPFA8271551275648')
('Smith', 'MKWY4848668895426')
('Keith', 'QHIW7412514205367')
('Johnson', 'QAAO4666689281736')
('Barron', 'LRPR8694143910883')
('Robinson', 'UWFU1921951273393')
('Nguyen', 'JQHS4274771257925')
('Abbott', 'RSLD0426398604312')
('Oneill', 'UYHI6964741005832')
('Nash', 'ZKTE5908966955533')
('Cameron', 'HHHP3471562002758')
('Wilkinson', 'UWLV6407825245995')
('Wallace', 'JRBN0811785293731')
('Woodward', 'VDWY7565964041116')
('Bennett', 'DNRB2101855092009')
('Jenkins', 'IILE1765776198023')
('Edwards', 'ZJUF2687631787282')
('Anderson', 'DHMT4208071148508')
('Ray', 'UBRR8524342666714')
('Edwards', 'OGPU6537909247863')
('Clark', 'AHYX6128839695452')
('Hill', 'VUPW6891906300822')
('Carpenter', 'PKFW4841194501766')
('Griffith', 'BNYD8693045932496')
('Blair', 'FQJA6381776349463')
('Salazar', 'KCNI2464381879411')
('Krueger', 'BIGY3006735396533')
('Burke', 'CNJX1222752295544')
('Juarez', 'ZROP5229895490397')
('Watkins', 'NXKK2792812848629')
('Carter', 'DPLN5056382218296')
('Huang', 'KAOL9792684486009')
('Owen', 'WRXW4627191899235')
('Turner', 'OMOK4767172062189')
('Aguirre', 'KRKF7344951038740')
('Wilson', 'SAAA4141150617330')
('Hardy', 'XNWQ1072087896797')
('Stewart', 'FTHM1005169617995')
('Moore', 'OSSM9070924947595')
('Grant', 'CFQJ4204773901237')
('Thompson', 'MGFG2793756668287')
('Anderson', 'IGXK5881682171566')
('Ramsey', 'QYBW6359021109484')
('Gonzales', 'UTSI0776569247505')
('Castaneda', 'LSDI9463735752680')
('Todd', 'ISYY1401931979959')
('Garcia', 'HNOA0376843856035')
('Figueroa', 'EEVV8325881104553')
('Castillo', 'QXGZ3111246190069')
('Flores', 'ACQR2846533122117')
('Allen', 'ZAZD8310339637467')
('Potts', 'ARWK1547324119222')
('Wheeler', 'OMQX4840913072589')
('Thomas', 'OCFV4659464275270')
('Mcknight', 'DTRB4720098955341')
('Thompson', 'YYHM5758234683389')
('Levy', 'AHBN3151680654826')
('Hubbard', 'FGBC0366153271398')
('Jones', 'MHTE8867005510944')
('Garcia', 'IYOD4325345823013')
('Peters', 'NZFX8257739892619')
('Stone', 'MWRB2515761996641')
('Edwards', 'CURJ9953745256871')
('Lawson', 'ATOT8581137487723')
('Cooper', 'RQGA0882784089265')
('Harris', 'EOPA8088866975598')
('Jones', 'JCUN9597199552039')
('Burch', 'IZYL3351829981461')
('Chung', 'JDIH2349154465371')
('Melton', 'VRZP1447516193511')
('Hansen', 'QKAF2254397516681')

In [95]:
mc[['country', 'email']]

output [[], []]

[]

In [97]:
mc.header

[0, 1, 2, 3, 4]

In [101]:
filename = 'testdata.txt'
grades = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        grades.append(line.strip().split(','))

grades = tuple(grades)
mc = MyClass(lines=list(people), header=True)
print(mc[['first_name', 'last_name', 'email']])
print(mc['first_name'])


mc = MyClass(lines=list(grades))
print(mc[[1, 2]])
print(mc[0])

[]
[]
[('92', '77'), ('74', '93'), ('83', '96'), ('100', '72'), ('77', '96'), ('100', '86'), ('66', '91'), ('97', '86'), ('95', '98'), ('78', '76'), ('78', '100'), ('82', '92'), ('83', '78'), ('89', '81'), ('86', '94'), ('96', '75'), ('85', '72'), ('83', '68'), ('70', '99'), ('80', '89'), ('79', '100'), ('100', '65'), ('68', '67'), ('94', '71'), ('89', '99'), ('94', '65'), ('83', '91'), ('97', '96'), ('65', '78'), ('96', '85'), ('85', '69'), ('82', '82'), ('88', '76'), ('66', '85'), ('75', '98'), ('85', '89'), ('93', '85'), ('86', '90'), ('96', '82'), ('85', '98'), ('98', '95'), ('84', '82'), ('95', '91'), ('80', '83'), ('67', '89'), ('65', '72'), ('99', '89'), ('77', '91'), ('68', '97'), ('82', '66'), ('86', '66'), ('91', '98'), ('94', '77'), ('69', '80'), ('100', '91'), ('77', '68'), ('65', '100'), ('75', '75'), ('91', '84'), ('71', '79'), ('69', '71'), ('79', '91'), ('91', '87'), ('93', '97'), ('100', '75'), ('68', '66'), ('82', '74'), ('66', '96'), ('88', '85'), ('78', '76'), ('97', '73'), ('88', '94'), ('92', '99'), ('86', '98'), ('68', '87'), ('88', '92'), ('66', '72'), ('70', '95'), ('69', '94'), ('86', '86'), ('96', '87'), ('76', '95'), ('66', '72'), ('83', '85'), ('98', '79'), ('69', '94'), ('78', '88'), ('66', '67'), ('89', '78'), ('92', '66'), ('87', '69'), ('86', '88'), ('77', '77'), ('93', '99'), ('86', '83'), ('78', '84'), ('74', '95'), ('71', '87'), ('71', '69'), ('81', '80')]
['student1', 'student2', 'student3', 'student4', 'student5', 'student6', 'student7', 'student8', 'student9', 'student10', 'student11', 'student12', 'student13', 'student14', 'student15', 'student16', 'student17', 'student18', 'student19', 'student20', 'student21', 'student22', 'student23', 'student24', 'student25', 'student26', 'student27', 'student28', 'student29', 'student30', 'student31', 'student32', 'student33', 'student34', 'student35', 'student36', 'student37', 'student38', 'student39', 'student40', 'student41', 'student42', 'student43', 'student44', 'student45', 'student46', 'student47', 'student48', 'student49', 'student50', 'student51', 'student52', 'student53', 'student54', 'student55', 'student56', 'student57', 'student58', 'student59', 'student60', 'student61', 'student62', 'student63', 'student64', 'student65', 'student66', 'student67', 'student68', 'student69', 'student70', 'student71', 'student72', 'student73', 'student74', 'student75', 'student76', 'student77', 'student78', 'student79', 'student80', 'student81', 'student82', 'student83', 'student84', 'student85', 'student86', 'student87', 'student88', 'student89', 'student90', 'student91', 'student92', 'student93', 'student94', 'student95', 'student96', 'student97', 'student98', 'student99', 'student100']

In [102]:
x = [1, 2, 3]
y = [4, 5, 6]
x + y
5, 7, 9

[1, 2, 3, 4, 5, 6]

In [103]:
class ListV2:
    def __init__(self, values):
        self.values = values
        
    def __add__(self, right):
        output = [l + r for l, r in zip(self.values, right.values)]
#         return ListV2(output)
        return output
    
    def __repr__(self):
        return str(self.values)

x = ListV2([1, 2, 3])
y = ListV2([4, 5, 6])
x + y

[5, 7, 9]

In [104]:
from collections import defaultdict



class ListV2:
    def __init__(self, values):
        self.values = values
        
    def __add__(self, right):
        output = [l + r for l, r in zip(self.values, right.values)]
#         return ListV2(output)
        return output
    
    def __repr__(self):
        return str(self.values)
        

class MyClass:
    def __init__(self, **kwargs):
        self.data = defaultdict(list)
        header = kwargs.get('header')
        lines = kwargs.get('lines')
        if header:
            header = lines.pop(0)
        else:
            header = list(range(len(lines[0])))
        
        for line in lines:
            row = dict(zip(header, line))
            for key,value in row.items():
                self.data[key].append(value)
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        if type(key) in [str, int]:
            return ListV2(self.data[key])  
        elif isinstance(key, list):
            output = []
            for k in key:
                output.append(self.data[k])
            output = list(zip(*output))
                
            return output
        
    def as_type(self, column, cast_type):
        self.data[column] = list(map(cast_type, self.data[column]))

filename = 'testdata.txt'
grades = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        grades.append(line.strip().split(','))

grades = tuple(grades)

mc = MyClass(lines=list(grades))
print(mc[[1, 2]])

[('92', '77'), ('74', '93'), ('83', '96'), ('100', '72'), ('77', '96'), ('100', '86'), ('66', '91'), ('97', '86'), ('95', '98'), ('78', '76'), ('78', '100'), ('82', '92'), ('83', '78'), ('89', '81'), ('86', '94'), ('96', '75'), ('85', '72'), ('83', '68'), ('70', '99'), ('80', '89'), ('79', '100'), ('100', '65'), ('68', '67'), ('94', '71'), ('89', '99'), ('94', '65'), ('83', '91'), ('97', '96'), ('65', '78'), ('96', '85'), ('85', '69'), ('82', '82'), ('88', '76'), ('66', '85'), ('75', '98'), ('85', '89'), ('93', '85'), ('86', '90'), ('96', '82'), ('85', '98'), ('98', '95'), ('84', '82'), ('95', '91'), ('80', '83'), ('67', '89'), ('65', '72'), ('99', '89'), ('77', '91'), ('68', '97'), ('82', '66'), ('86', '66'), ('91', '98'), ('94', '77'), ('69', '80'), ('100', '91'), ('77', '68'), ('65', '100'), ('75', '75'), ('91', '84'), ('71', '79'), ('69', '71'), ('79', '91'), ('91', '87'), ('93', '97'), ('100', '75'), ('68', '66'), ('82', '74'), ('66', '96'), ('88', '85'), ('78', '76'), ('97', '73'), ('88', '94'), ('92', '99'), ('86', '98'), ('68', '87'), ('88', '92'), ('66', '72'), ('70', '95'), ('69', '94'), ('86', '86'), ('96', '87'), ('76', '95'), ('66', '72'), ('83', '85'), ('98', '79'), ('69', '94'), ('78', '88'), ('66', '67'), ('89', '78'), ('92', '66'), ('87', '69'), ('86', '88'), ('77', '77'), ('93', '99'), ('86', '83'), ('78', '84'), ('74', '95'), ('71', '87'), ('71', '69'), ('81', '80')]

In [105]:
mc.as_type(1, int)
print(mc[[1, 2]])

[(92, '77'), (74, '93'), (83, '96'), (100, '72'), (77, '96'), (100, '86'), (66, '91'), (97, '86'), (95, '98'), (78, '76'), (78, '100'), (82, '92'), (83, '78'), (89, '81'), (86, '94'), (96, '75'), (85, '72'), (83, '68'), (70, '99'), (80, '89'), (79, '100'), (100, '65'), (68, '67'), (94, '71'), (89, '99'), (94, '65'), (83, '91'), (97, '96'), (65, '78'), (96, '85'), (85, '69'), (82, '82'), (88, '76'), (66, '85'), (75, '98'), (85, '89'), (93, '85'), (86, '90'), (96, '82'), (85, '98'), (98, '95'), (84, '82'), (95, '91'), (80, '83'), (67, '89'), (65, '72'), (99, '89'), (77, '91'), (68, '97'), (82, '66'), (86, '66'), (91, '98'), (94, '77'), (69, '80'), (100, '91'), (77, '68'), (65, '100'), (75, '75'), (91, '84'), (71, '79'), (69, '71'), (79, '91'), (91, '87'), (93, '97'), (100, '75'), (68, '66'), (82, '74'), (66, '96'), (88, '85'), (78, '76'), (97, '73'), (88, '94'), (92, '99'), (86, '98'), (68, '87'), (88, '92'), (66, '72'), (70, '95'), (69, '94'), (86, '86'), (96, '87'), (76, '95'), (66, '72'), (83, '85'), (98, '79'), (69, '94'), (78, '88'), (66, '67'), (89, '78'), (92, '66'), (87, '69'), (86, '88'), (77, '77'), (93, '99'), (86, '83'), (78, '84'), (74, '95'), (71, '87'), (71, '69'), (81, '80')]

In [107]:
mc.as_type(2, int)
print(mc[[1, 2]])

[(92, 77), (74, 93), (83, 96), (100, 72), (77, 96), (100, 86), (66, 91), (97, 86), (95, 98), (78, 76), (78, 100), (82, 92), (83, 78), (89, 81), (86, 94), (96, 75), (85, 72), (83, 68), (70, 99), (80, 89), (79, 100), (100, 65), (68, 67), (94, 71), (89, 99), (94, 65), (83, 91), (97, 96), (65, 78), (96, 85), (85, 69), (82, 82), (88, 76), (66, 85), (75, 98), (85, 89), (93, 85), (86, 90), (96, 82), (85, 98), (98, 95), (84, 82), (95, 91), (80, 83), (67, 89), (65, 72), (99, 89), (77, 91), (68, 97), (82, 66), (86, 66), (91, 98), (94, 77), (69, 80), (100, 91), (77, 68), (65, 100), (75, 75), (91, 84), (71, 79), (69, 71), (79, 91), (91, 87), (93, 97), (100, 75), (68, 66), (82, 74), (66, 96), (88, 85), (78, 76), (97, 73), (88, 94), (92, 99), (86, 98), (68, 87), (88, 92), (66, 72), (70, 95), (69, 94), (86, 86), (96, 87), (76, 95), (66, 72), (83, 85), (98, 79), (69, 94), (78, 88), (66, 67), (89, 78), (92, 66), (87, 69), (86, 88), (77, 77), (93, 99), (86, 83), (78, 84), (74, 95), (71, 87), (71, 69), (81, 80)]

In [108]:
from collections import defaultdict


class ListV2:
    def __init__(self, values):
        self.values = values
        
    def __add__(self, right):
        output = [l + r for l, r in zip(self.values, right.values)]
#         return ListV2(output)
        return output
    
    def __repr__(self):
        return str(self.values)
        


class MyClass:
    def __init__(self, **kwargs):
        self.data = defaultdict(list)
        header = kwargs.get('header')
        lines = kwargs.get('lines')
        if header:
            header = lines.pop(0)
        else:
            header = list(range(len(lines[0])))
        
        for line in lines:
            row = dict(zip(header, line))
            for key,value in row.items():
                self.data[key].append(value)
              
    def __setitem__(self, key, value): # MyCLass[key] = value
        self.data[key] = value
        
    def __getitem__(self, key): # MyClass[key]
        if type(key) in [str, int]:
            return ListV2(self.data[key])  
        elif isinstance(key, list):
            output = []
            for k in key:
                output.append(self.data[k])
            output = list(zip(*output))
                
            return output
        
    def as_type(self, column, cast_type):
        self.data[column] = list(map(cast_type, self.data[column]))
        
    def mean(self, columns):
        if type(columns) in [str, int]:
            data = self.data[columns]
            return sum(data)/len(data)
        elif isinstance(columns, list):
            data = []
            for column in columns:
                data.append(sum(self.data[column])/len(self.data[column]))
            
            data =  [columns, data]
            return MyClass(lines=data, header=True)

filename = 'testdata.txt'
grades = []
with open(filename) as f:
    for line in f:
        line = line.strip()
        if not line:
            continue
        grades.append(line.strip().split(','))

grades = tuple(grades)

mc = MyClass(lines=list(grades))
mc.as_type(1, int)
mc.as_type(2, int)
a = mc.mean([1, 2])
print(a.data)

defaultdict(<class 'list'>, {1: [82.75], 2: [84.13]})

In [109]:
a

In [113]:
a[[1,2]]

[(82.75, 84.13)]

In [116]:
class AClass:  
    def __getitem__(self, a):
        print(a, type(a))
a = AClass()   
a[1:10:2, :]

(slice(1, 10, 2), slice(None, None, None)) <class 'tuple'>

In [117]:
b = slice(1, 10, 2)
print(b.start)
print(b.stop)
print(b.step)

1
10
2

In [118]:
x = [[1,2,3], [4, 5, 6], [7, 8,9]]
for c1, c2, c3 in zip(*x):
    print(c1, c2, c3)

1 4 7
2 5 8
3 6 9

list(zip(*x))