In [ ]:
Exam dates
3/4 -- Numerical
3/8 -- Stats
3/14 -- Cyber Security
3/17 -- Numerical
3/31 -- Probablity

In [1]:
sequence = [1, 2, 3, 4, 'Test']

for element in sequence:
    print(element)

1
2
3
4
Test

In [2]:
for s in sequence:
    print(s)

1
2
3
4
Test

In [3]:
# [ f(ele) for ele in sequence ]

sequence = [1, 2, 3, 4,]
output = []
for ele in sequence:
    output.append(ele*ele)
print(output)

[1, 4, 9, 16]

In [4]:
output = [ele*ele for ele in sequence]

In [5]:
print(output)

[1, 4, 9, 16]

In [6]:
output = [pow(ele,3) for ele in sequence]

In [7]:
output

[1, 8, 27, 64]

In [8]:
output = [str(ele) for ele in sequence]

In [9]:
output

['1', '2', '3', '4']

In [12]:
# [ f(ele) for ele in sequence if condition ]

output = []
for ele in sequence:
    if ele % 2 == 0:
        output.append(ele*ele)
print(output)

[4, 16]

In [13]:

output = [ele*ele for ele in sequence if ele % 2 == 0]
print(output)

[4, 16]

In [14]:
# [ f(ele) if condition else g(ele) for ele in sequence ]
output = []
for ele in sequence:
    if ele % 2 == 0:
        output.append(ele*ele)
    else:
        output.append(ele**3)
print(output)

[1, 4, 27, 16]

In [15]:
output = [ele*ele if ele % 2 == 0 else ele**3 for ele in sequence ]
print(output)

[1, 4, 27, 16]

In [16]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
print(new_list)
    
output = [ele*ele for ele in my_list ]
print(output)

[1, 4, 9]
[1, 4, 9]

In [17]:
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)

print(new_list)
    
output = [ele*10 for ele in my_list ]
print(output)

[10, 20, 30]
[10, 20, 30]

In [19]:
animal = 'buffalo'
output = ''.join([a.upper() for a in animal])
print(output)

BUFFALO

In [20]:
animal.upper()

'BUFFALO'

In [21]:
for a in animal:
    print(a)

b
u
f
f
a
l
o

In [23]:
tmp = [a.upper() for a in animal]

In [26]:
', '.join(tmp)

'B, U, F, F, A, L, O'

In [27]:
students = ['john', 'jane', 'doe']

output = [s.capitalize() for s in students]
print(output)

['John', 'Jane', 'Doe']

In [28]:
output = [s.title() for s in students]
print(output)

['John', 'Jane', 'Doe']

In [29]:
'abc egg hij'.title()

'Abc Egg Hij'

In [30]:
'abc egg hij'.capitalize()

'Abc egg hij'

In [34]:
my_list = [0, '', [], 90]

output = [bool(l) for l in my_list]
print(output)

[False, False, False, True]

In [35]:
my_list = range(6)
[str(l) for l in my_list]

['0', '1', '2', '3', '4', '5']

In [36]:
numbers = range(20)

[n for n in numbers if n % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
[n for n in numbers if n % 2 != 0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
sentence = 'I rEAlly want to gO to work'

In [38]:
month = 'January'

days_31 = ['January', 'March', 'May', 'July', 'August', 'October', 'December']
month in days_31

True

In [41]:
month == 'December' or month == 'March' or month == 'July'

False

In [44]:
sentence = 'I rEAlly want to gO to work'
vowels = ['a', 'e', 'i', 'o', 'u']
''.join([s for s in sentence if s.lower() not in vowels])

' rlly wnt t g t wrk'

In [45]:
sentence = 'I rEAlly want to gO to work'
vowels = 'aeiou'
''.join([s for s in sentence if s.lower() not in vowels])

' rlly wnt t g t wrk'

In [48]:
month = 'April'

days_31 = ['January', 'March', 'May', 'July', 'August', 'October', 'December']
days_30 = ['April', 'June', 'September', 'November']


month in days_31 or month  in days_30 or month == 'February'

True

In [50]:
days = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
days[7]

31

In [51]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [52]:
2 in A

True

In [53]:
A | B

{0, 1, 2, 3, 4, 5, 6, 8}

In [54]:
A & B

{2, 4}

In [55]:
A - B # (remove from A the shared values)

{0, 6, 8}

In [56]:
B - A

{1, 3, 5}

In [57]:
A ^ B

{0, 1, 3, 5, 6, 8}

In [58]:
my_list = [1, 1, 2, 3]
list(set(my_list))

[1, 2, 3]

In [62]:
x = list()
print(x)
x.append(1)
print(x)

[]
[1]

Write a function that takes name of two gene files, reads them, and returns which genes are:

In first file but not in second file

In second file but not in first file

In [64]:
def genes(filename1, filename2):
    file1 = set() # my_list = [], my_list = list()
    file2 = set()
    with open(filename1) as file:
        for line in file:
            if not line.strip():
                continue
            file1.add(line.strip())
            
    with open(filename2) as file:
        for line in file:
            if not line.strip():
                continue
            file2.add(line.strip())
            
    f1_only = file1 - file2
    f2_only = file2 - file1
    print(f1_only)
    print(f2_only)
     
genes('gene_list1.txt', 'gene_list2.txt')

{'ACVR2B', 'ACTL7A', 'ACTR3C', 'ACO2', 'ACOX3', 'ACSS3', 'ACTR1B', 'ACTRT1', 'ABCC3', 'ABCD2', 'ABCF1', 'ACE', 'AADACL2', 'ABCD3', 'ACP1', 'ABCB6', 'AATF', 'ACKR3', 'ACTG1', 'A4GALT', 'A4GNT', 'ACR', 'ABCE1', 'ABCA6', 'ACTR2', 'ACOT2', 'ADA', 'ACTL7B', 'ACTR3B', 'ACSBG2', 'ACSL5', 'ACP4', 'A2M', 'AAGAB', 'ABCA2', 'ABCC6', 'ABCB4', 'ABAT', 'ABCB9', 'AARS2', 'ACTBL2', 'ACOT1', 'ACSF3', 'ACHE', 'ACER1', 'ACTR3', 'ACVR2A', 'ABHD5', 'A1CF', 'ACTL8', 'ACSM6', 'ACP2', 'ACTN1', 'ACOT8', 'AARS1', 'ACY3', 'ACVR1C', 'AARSD1', 'ACSM1', 'ABCB1', 'ABCG4', 'ABCC2', 'ABCD1', 'ACTL10', 'ACTL6B', 'ACOT13', 'ACER2', 'ABCB7', 'ABHD4', 'ABHD8', 'ACER3', 'AASS', 'ACSS1', 'ACKR1', 'ABCC11', 'ACSM2B', 'ACTR6', 'ACVR1', 'ACSM5', 'AASDH', 'AADACL3', 'ACYP1', 'ABCA3', 'AADACL4', 'ABCC9', 'ABCC12', 'ACMSD', 'ACSL6', 'ACTN4', 'ABCC10', 'ABCG1', 'ACKR2', 'ACKR4', 'ABCB11', 'AAR2', 'ACOT7', 'ACOXL', 'ABCA8', 'ACTB', 'ACYP2', 'ACTN2', 'ACSL3', 'ABCF2', 'AARD', 'ACTRT3', 'A3GALT2', 'ACE2', 'ABCA7', 'ACTR10', 'ABCG2', 'ABHD6', 'AADAT', 'ABCA5', 'ACVR1B', 'ABCC1', 'ABCF3', 'ACTL9', 'ACSL1', 'ABCB8', 'ACTR5', 'AAK1', 'ACSBG1', 'ABCA4', 'AADAC', 'ACP6', 'AAMDC', 'ACOT9', 'ABHD2', 'ACTC1', 'ACTR1A', 'ACSS2', 'ABCD4', 'ACSM2A', 'ABCA1', 'AATK', 'ABCB5', 'ABCB10', 'ACP3', 'ABCA9', 'ACIN1', 'AACS', 'ABCA13', 'ABCC8', 'ABHD3', 'ACLY', 'ACOX1', 'ACOX2', 'ACSL4', 'ACSM3', 'AAMP', 'ACY1', 'ABCC4', 'ACOT12', 'ACP5', 'ACVRL1', 'ACOT6', 'ABCG8', 'AAAS', 'ACSM4', 'ABCA12', 'ACTN3', 'ACD', 'AASDHPPT', 'ABCG5', 'A2ML1', 'ACTL6A', 'ABHD10', 'ACRBP', 'ACOD1', 'ABCA10', 'ACTR8', 'ACSF2', 'ACRV1', 'ACTG2', 'ACO1', 'AANAT', 'ABHD1', 'ACTA2', 'ABCC5', 'ACTRT2', 'ACOT11', 'ACP7', 'ACTA1', 'ACOT4', 'A1BG'}
{'ZNF853', 'ZRANB2', 'ZSWIM6', 'ZNF790', 'ZSCAN5A', 'ZNF732', 'ZSCAN31', 'ZNF823', 'ZNF770', 'ZSWIM3', 'ZNF829', 'ZNF780A', 'ZSWIM5', 'ZNF784', 'ZNF791', 'ZNF804A', 'ZNF728', 'ZNF787', 'ZNF808', 'ZNF775', 'ZNF841', 'ZNF813', 'ZRANB3', 'ZNF837', 'ZNHIT2', 'ZNF793', 'ZNF766', 'ZNF852', 'ZSCAN2', 'ZNF716', 'ZNF773', 'ZSCAN30', 'ZSCAN21', 'ZNF839', 'ZNF891', 'ZNF771', 'ZNF800', 'ZSCAN23', 'ZNF844', 'ZRSR2', 'ZNF831', 'ZNF835', 'ZNRD1', 'ZNRF3', 'ZNF799', 'ZNF736', 'ZNF761', 'ZNF785', 'ZPBP', 'ZNF750', 'ZNF821', 'ZNRF1', 'ZSCAN5C', 'ZSWIM4', 'ZNF749', 'ZNF782', 'ZP2', 'ZNF723', 'ZNRD2', 'ZNF783', 'ZSCAN5B', 'ZNF781', 'ZNF805', 'ZNF836', 'ZNF724', 'ZNF720', 'ZPLD1', 'ZSWIM7', 'ZSWIM1', 'ZNF845', 'ZNF772', 'ZNF738', 'ZSCAN4', 'ZP3', 'ZPR1', 'ZNF776', 'ZNRF2', 'ZP4', 'ZNF878', 'ZNF865', 'ZNF718', 'ZNF735', 'ZSWIM8', 'ZNF747', 'ZNHIT6', 'ZSCAN12', 'ZNF717', 'ZNF879', 'ZSCAN25', 'ZSCAN9', 'ZPBP2', 'ZSCAN32', 'ZNF780B', 'ZNF727', 'ZNF740', 'ZNF880', 'ZNF827', 'ZNF764', 'ZNF730', 'ZSCAN22', 'ZNF830', 'ZNF888', 'ZSWIM9', 'ZNF726', 'ZNF714', 'ZSCAN10', 'ZSCAN1', 'ZSCAN18', 'ZNF804B', 'ZRANB1', 'ZNF883', 'ZNHIT3', 'ZNF792', 'ZSCAN26', 'ZSCAN16', 'ZNF816', 'ZNF846', 'ZNF721', 'ZNF786', 'ZNF774', 'ZNF763', 'ZNF860', 'ZNHIT1', 'ZNF768', 'ZNF729', 'ZSCAN29', 'ZNF843', 'ZNF862', 'ZNF777', 'ZNF875', 'ZSWIM2', 'ZNF850', 'ZNRF4', 'ZNF737', 'ZNF789', 'ZNF765', 'ZP1', 'ZSCAN20', 'ZNF778', 'ZNF746', 'ZNFX1', 'ZNF814', 'ZUP1'}

In [65]:
students = [
    ['John', 'Doe', 'Biology'],
    ['Jane', 'Doe', 'Chemistry'],
]

In [66]:
students

[['John', 'Doe', 'Biology'], ['Jane', 'Doe', 'Chemistry']]

In [67]:
# Most people use this
1
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [75]:
my_dict = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering',
    name='john', # no repeated keys
)

SyntaxError: keyword argument repeated (Temp/ipykernel_24040/1062413855.py, line 6)

In [74]:
# Dictionary -- no repeated keys
# keys have to be immutable values 

my_dict = {
    1: 'john',
    3.14: 'john@email.com',
    # [1, 2]: 1234, 
    (1, 2): 1234, 
    'major': 'Engineering',
    True: 'Engineering'
}
print(my_dict)

{1: 'Engineering', 3.14: 'john@email.com', (1, 2): 1234, 'major': 'Engineering'}

In [76]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

In [77]:
my_dict['name']

'john'

In [78]:
my_dict['email']

'john@email.com'

In [79]:
key = 'name'
my_dict[key]

'john'

In [81]:
for key, value in my_dict.items():
    print(f'key={key}; value={value}')

key=name; value=john
key=email; value=john@email.com
key=id; value=1234
key=major; value=Engineering

In [82]:
for key in my_dict:
    print(key)

name
email
id
major

In [83]:
for key in my_dict.keys():
    print(key)

name
email
id
major

In [84]:
for key in my_dict.values():
    print(key)

john
john@email.com
1234
Engineering

In [87]:
'name' in my_dict

True

In [89]:
'john' in my_dict.values()

True

In [90]:
'name' in my_dict.values()

False

In [91]:
x = my_dict.copy()

In [92]:
x['name'] = 'Jane'

In [94]:
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [95]:
print(x)

{'name': 'Jane', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [96]:
my_dict['some_list'] = [1, 2, 3]

In [97]:
x = my_dict.copy()

In [98]:
x['some_list'].append(4)

In [99]:
print(x)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'some_list': [1, 2, 3, 4]}

In [100]:
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'some_list': [1, 2, 3, 4]}

In [101]:
from copy import deepcopy

x = deepcopy(my_dict)

In [102]:
x

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'some_list': [1, 2, 3, 4]}

In [103]:
x['some_list'].remove(1)

In [104]:
print(x)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'some_list': [2, 3, 4]}

In [105]:
print(my_dict)

{'name': 'john', 'email': 'john@email.com', 'id': 1234, 'major': 'Engineering', 'some_list': [1, 2, 3, 4]}

In [106]:
x = my_dict

In [107]:
x['some_list'].append('WOrking')

In [108]:
x

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'some_list': [1, 2, 3, 4, 'WOrking']}

In [109]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'some_list': [1, 2, 3, 4, 'WOrking']}

In [110]:
{}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [111]:
my_dict = {}.fromkeys(range(5), 'iammissing')

In [112]:
my_dict

{0: 'iammissing',
 1: 'iammissing',
 2: 'iammissing',
 3: 'iammissing',
 4: 'iammissing'}

In [114]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}

my_dict.get('name')

'john'

In [115]:
my_dict['name']

'john'

In [116]:
my_dict['name1']

KeyError: 'name1'

In [119]:
print(my_dict.get('name1'))

None

In [120]:
print(my_dict.get('name1', 'NameMissing'))

NameMissing

In [121]:
my_dict.pop('name')

'john'

In [122]:
my_dict

{'email': 'john@email.com', 'id': 1234, 'major': 'Engineering'}

In [123]:
my_dict.update({'year':2010, 'ear': 2030})

In [124]:
my_dict

{'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030}

In [127]:
my_dict.update({'id':'111-22-3333'})

In [128]:
my_dict

{'email': 'john@email.com',
 'id': '111-22-3333',
 'major': 'Engineering',
 'year': 2010,
 'ear': 2030}

In [129]:
# ## dictionary comprehension
# {___:___ for ___ in ___}

In [130]:
my_dict = {}.fromkeys(range(5), 5)

In [131]:
my_dict

{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

In [132]:
{key: key*value for key, value in my_dict.items()}

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20}

In [133]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

In [134]:
{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [135]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [136]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 21)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd',
 20: 'even'}

In [139]:
people = []
header = None

filename = 'people.tsv'
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
            
        if not header:
            header = line.strip().split('\t')
            continue
        
        line = line.strip().split('\t')
        people.append(dict(zip(header, line)))
        
from pprint import pprint
pprint(people)

[{'account': 'QVJP6465242365388',
  'country': 'Nepal',
  'email': 'xdunn@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Weaver'},
 {'account': 'FVQZ0955529767455',
  'country': 'Kazakhstan',
  'email': 'iedwards@yahoo.com',
  'first_name': 'Jackson',
  'last_name': 'Owens'},
 {'account': 'QFIM0905182880347',
  'country': 'Mauritius',
  'email': 'arogers@smith.com',
  'first_name': 'Patrick',
  'last_name': 'Gilmore'},
 {'account': 'YWOT0997131632248',
  'country': 'New Zealand',
  'email': 'plewis@chavez.com',
  'first_name': 'Jeffrey',
  'last_name': 'Perez'},
 {'account': 'QAAE9838291982555',
  'country': 'Yemen',
  'email': 'fred92@yahoo.com',
  'first_name': 'James',
  'last_name': 'Thomas'},
 {'account': 'PCNE8127696280157',
  'country': 'Jordan',
  'email': 'mmiller@lynch.com',
  'first_name': 'Greg',
  'last_name': 'Nelson'},
 {'account': 'BCEN3299883381338',
  'country': 'Palau',
  'email': 'steven49@gmail.com',
  'first_name': 'Joshua',
  'last_name': 'White'},
 {'account': 'XPTQ7837014557677',
  'country': 'Argentina',
  'email': 'amanda23@hotmail.com',
  'first_name': 'Todd',
  'last_name': 'Francis'},
 {'account': 'TRLQ6559557081716',
  'country': 'Marshall Islands',
  'email': 'jackduke@hotmail.com',
  'first_name': 'Stephen',
  'last_name': 'Shaw'},
 {'account': 'OHOV7518558201999',
  'country': 'Albania',
  'email': 'rhodesnicholas@hotmail.com',
  'first_name': 'Mariah',
  'last_name': 'Armstrong'},
 {'account': 'MCQU7347833033110',
  'country': 'Kyrgyz Republic',
  'email': 'smithashlee@yahoo.com',
  'first_name': 'Anthony',
  'last_name': 'Boyle'},
 {'account': 'PPHE5533473251751',
  'country': 'Turkmenistan',
  'email': 'ubriggs@hill.info',
  'first_name': 'Patrick',
  'last_name': 'Cuevas'},
 {'account': 'JCDK1943355298609',
  'country': 'Fiji',
  'email': 'brownclarence@gonzalez-moore.com',
  'first_name': 'Gerald',
  'last_name': 'Reyes'},
 {'account': 'NERZ5502558659614',
  'country': 'Costa Rica',
  'email': 'teresa30@carpenter-warner.com',
  'first_name': 'Christopher',
  'last_name': 'Calderon'},
 {'account': 'DLDV5789894914403',
  'country': 'Martinique',
  'email': 'leekatherine@williams.com',
  'first_name': 'Shane',
  'last_name': 'Weiss'},
 {'account': 'GZZF6936998445532',
  'country': 'Singapore',
  'email': 'chasewatkins@perez-phillips.com',
  'first_name': 'Crystal',
  'last_name': 'Conley'},
 {'account': 'ECGK2823955143629',
  'country': 'Mayotte',
  'email': 'hsherman@gmail.com',
  'first_name': 'Jeffrey',
  'last_name': 'Nelson'},
 {'account': 'QOVO4275314052899',
  'country': 'Costa Rica',
  'email': 'martinezdaniel@hotmail.com',
  'first_name': 'Brianna',
  'last_name': 'Johnson'},
 {'account': 'UKRT1119626365017',
  'country': 'Guadeloupe',
  'email': 'justinfischer@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Werner'},
 {'account': 'UNPV3347450330173',
  'country': 'Bahamas',
  'email': 'cindy08@gmail.com',
  'first_name': 'Brianna',
  'last_name': 'Bennett'},
 {'account': 'GJZT6825738428111',
  'country': 'Azerbaijan',
  'email': 'carolharrington@fleming.org',
  'first_name': 'Austin',
  'last_name': 'Fletcher'},
 {'account': 'JOQE2648899771737',
  'country': 'Saint Helena',
  'email': 'lopezcarl@johnson.com',
  'first_name': 'Patrick',
  'last_name': 'Lewis'},
 {'account': 'MNXY3262955868027',
  'country': 'Hong Kong',
  'email': 'michael74@yahoo.com',
  'first_name': 'Joseph',
  'last_name': 'Smith'},
 {'account': 'YHXF7256577475630',
  'country': 'Turkey',
  'email': 'gonzalezrobert@hotmail.com',
  'first_name': 'Sharon',
  'last_name': 'Sullivan'},
 {'account': 'MUVI3570791852556',
  'country': 'Swaziland',
  'email': 'dawnjohnson@gmail.com',
  'first_name': 'Krystal',
  'last_name': 'Wilson'},
 {'account': 'UKCP6739617302102',
  'country': 'Holy See (Vatican City State)',
  'email': 'watersryan@gmail.com',
  'first_name': 'Diana',
  'last_name': 'Schmidt'},
 {'account': 'WDAT4146843903498',
  'country': 'Norfolk Island',
  'email': 'byoung@gmail.com',
  'first_name': 'Sean',
  'last_name': 'Huff'},
 {'account': 'SVMU4403517448078',
  'country': 'Kenya',
  'email': 'vhanson@yahoo.com',
  'first_name': 'Robin',
  'last_name': 'Nguyen'},
 {'account': 'ZNUY4071301663622',
  'country': 'Togo',
  'email': 'bfletcher@yahoo.com',
  'first_name': 'Robyn',
  'last_name': 'Russell'},
 {'account': 'GPFA8271551275648',
  'country': 'San Marino',
  'email': 'colleengarrison@hotmail.com',
  'first_name': 'Tiffany',
  'last_name': 'Smith'},
 {'account': 'MKWY4848668895426',
  'country': 'Romania',
  'email': 'catherine23@gmail.com',
  'first_name': 'Lori',
  'last_name': 'Smith'},
 {'account': 'QHIW7412514205367',
  'country': 'Algeria',
  'email': 'xmurphy@yahoo.com',
  'first_name': 'Sabrina',
  'last_name': 'Keith'},
 {'account': 'QAAO4666689281736',
  'country': 'Slovakia (Slovak Republic)',
  'email': 'aaronrichard@middleton.net',
  'first_name': 'Miguel',
  'last_name': 'Johnson'},
 {'account': 'LRPR8694143910883',
  'country': 'Somalia',
  'email': 'jesse93@best.com',
  'first_name': 'Dustin',
  'last_name': 'Barron'},
 {'account': 'UWFU1921951273393',
  'country': 'Turkmenistan',
  'email': 'johnperez@johnson.com',
  'first_name': 'Michael',
  'last_name': 'Robinson'},
 {'account': 'JQHS4274771257925',
  'country': 'Croatia',
  'email': 'jessica62@yahoo.com',
  'first_name': 'Robert',
  'last_name': 'Nguyen'},
 {'account': 'RSLD0426398604312',
  'country': 'Jamaica',
  'email': 'jennifer87@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Abbott'},
 {'account': 'UYHI6964741005832',
  'country': 'Montserrat',
  'email': 'morenolindsay@bass.org',
  'first_name': 'Bruce',
  'last_name': 'Oneill'},
 {'account': 'ZKTE5908966955533',
  'country': 'Heard Island and McDonald Islands',
  'email': 'robertdavis@hotmail.com',
  'first_name': 'Linda',
  'last_name': 'Nash'},
 {'account': 'HHHP3471562002758',
  'country': 'Niger',
  'email': 'melanie81@rogers.com',
  'first_name': 'Kathleen',
  'last_name': 'Cameron'},
 {'account': 'UWLV6407825245995',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'clineerin@hotmail.com',
  'first_name': 'Wesley',
  'last_name': 'Wilkinson'},
 {'account': 'JRBN0811785293731',
  'country': 'Antigua and Barbuda',
  'email': 'terri95@hotmail.com',
  'first_name': 'Debbie',
  'last_name': 'Wallace'},
 {'account': 'VDWY7565964041116',
  'country': 'Mexico',
  'email': 'danielle65@yahoo.com',
  'first_name': 'Kayla',
  'last_name': 'Woodward'},
 {'account': 'DNRB2101855092009',
  'country': 'Singapore',
  'email': 'sjackson@yahoo.com',
  'first_name': 'Stephanie',
  'last_name': 'Bennett'},
 {'account': 'IILE1765776198023',
  'country': 'Botswana',
  'email': 'douglas63@yahoo.com',
  'first_name': 'Caleb',
  'last_name': 'Jenkins'},
 {'account': 'ZJUF2687631787282',
  'country': 'Guinea',
  'email': 'woodardlindsey@yahoo.com',
  'first_name': 'Valerie',
  'last_name': 'Edwards'},
 {'account': 'DHMT4208071148508',
  'country': 'Chile',
  'email': 'suebrown@yahoo.com',
  'first_name': 'Mary',
  'last_name': 'Anderson'},
 {'account': 'UBRR8524342666714',
  'country': 'Mayotte',
  'email': 'swhite@yahoo.com',
  'first_name': 'Angela',
  'last_name': 'Ray'},
 {'account': 'OGPU6537909247863',
  'country': 'Macedonia',
  'email': 'martinkimberly@lopez.com',
  'first_name': 'Haley',
  'last_name': 'Edwards'},
 {'account': 'AHYX6128839695452',
  'country': 'Ukraine',
  'email': 'jessica11@hotmail.com',
  'first_name': 'Charles',
  'last_name': 'Clark'},
 {'account': 'VUPW6891906300822',
  'country': 'Saint Martin',
  'email': 'hsmith@baker.com',
  'first_name': 'Lisa',
  'last_name': 'Hill'},
 {'account': 'PKFW4841194501766',
  'country': 'Germany',
  'email': 'fklein@yahoo.com',
  'first_name': 'Jonathan',
  'last_name': 'Carpenter'},
 {'account': 'BNYD8693045932496',
  'country': 'Lesotho',
  'email': 'ryan32@skinner.com',
  'first_name': 'Latoya',
  'last_name': 'Griffith'},
 {'account': 'FQJA6381776349463',
  'country': 'Nepal',
  'email': 'tmurphy@flores.biz',
  'first_name': 'Kim',
  'last_name': 'Blair'},
 {'account': 'KCNI2464381879411',
  'country': 'Latvia',
  'email': 'mary64@ray.org',
  'first_name': 'Mary',
  'last_name': 'Salazar'},
 {'account': 'BIGY3006735396533',
  'country': 'Central African Republic',
  'email': 'jennajoseph@yahoo.com',
  'first_name': 'Kenneth',
  'last_name': 'Krueger'},
 {'account': 'CNJX1222752295544',
  'country': 'Peru',
  'email': 'watsonsamuel@gmail.com',
  'first_name': 'Phillip',
  'last_name': 'Burke'},
 {'account': 'ZROP5229895490397',
  'country': 'Spain',
  'email': 'xvelasquez@hughes.com',
  'first_name': 'Erica',
  'last_name': 'Juarez'},
 {'account': 'NXKK2792812848629',
  'country': 'Seychelles',
  'email': 'april99@gmail.com',
  'first_name': 'Jason',
  'last_name': 'Watkins'},
 {'account': 'DPLN5056382218296',
  'country': 'Faroe Islands',
  'email': 'kfletcher@yahoo.com',
  'first_name': 'Lee',
  'last_name': 'Carter'},
 {'account': 'KAOL9792684486009',
  'country': 'Tokelau',
  'email': 'xchurch@hotmail.com',
  'first_name': 'Randy',
  'last_name': 'Huang'},
 {'account': 'WRXW4627191899235',
  'country': 'Cocos (Keeling) Islands',
  'email': 'megan24@stewart.net',
  'first_name': 'Kristina',
  'last_name': 'Owen'},
 {'account': 'OMOK4767172062189',
  'country': 'Burundi',
  'email': 'sydneycollins@hunter.com',
  'first_name': 'Beth',
  'last_name': 'Turner'},
 {'account': 'KRKF7344951038740',
  'country': 'Timor-Leste',
  'email': 'robertbowen@chavez-ortega.com',
  'first_name': 'Michael',
  'last_name': 'Aguirre'},
 {'account': 'SAAA4141150617330',
  'country': 'Montserrat',
  'email': 'christiandanielle@yahoo.com',
  'first_name': 'Elizabeth',
  'last_name': 'Wilson'},
 {'account': 'XNWQ1072087896797',
  'country': 'Norway',
  'email': 'kdavidson@gordon.com',
  'first_name': 'Teresa',
  'last_name': 'Hardy'},
 {'account': 'FTHM1005169617995',
  'country': 'Sierra Leone',
  'email': 'bennettwanda@vega-guerra.net',
  'first_name': 'David',
  'last_name': 'Stewart'},
 {'account': 'OSSM9070924947595',
  'country': 'French Polynesia',
  'email': 'mark00@hotmail.com',
  'first_name': 'Heather',
  'last_name': 'Moore'},
 {'account': 'CFQJ4204773901237',
  'country': 'French Guiana',
  'email': 'schaefernatalie@hotmail.com',
  'first_name': 'Melissa',
  'last_name': 'Grant'},
 {'account': 'MGFG2793756668287',
  'country': 'Cape Verde',
  'email': 'moralesmartin@rodgers.com',
  'first_name': 'Jennifer',
  'last_name': 'Thompson'},
 {'account': 'IGXK5881682171566',
  'country': 'Barbados',
  'email': 'dprince@hotmail.com',
  'first_name': 'Raymond',
  'last_name': 'Anderson'},
 {'account': 'QYBW6359021109484',
  'country': 'Andorra',
  'email': 'cparks@valdez-hudson.com',
  'first_name': 'Angela',
  'last_name': 'Ramsey'},
 {'account': 'UTSI0776569247505',
  'country': 'Montserrat',
  'email': 'martinezrichard@yahoo.com',
  'first_name': 'Betty',
  'last_name': 'Gonzales'},
 {'account': 'LSDI9463735752680',
  'country': 'Egypt',
  'email': 'kpena@yahoo.com',
  'first_name': 'Thomas',
  'last_name': 'Castaneda'},
 {'account': 'ISYY1401931979959',
  'country': 'Malaysia',
  'email': 'julie68@gmail.com',
  'first_name': 'Jonathan',
  'last_name': 'Todd'},
 {'account': 'HNOA0376843856035',
  'country': 'Zimbabwe',
  'email': 'lukebradford@hotmail.com',
  'first_name': 'Stacey',
  'last_name': 'Garcia'},
 {'account': 'EEVV8325881104553',
  'country': 'Portugal',
  'email': 'ystewart@yahoo.com',
  'first_name': 'Judy',
  'last_name': 'Figueroa'},
 {'account': 'QXGZ3111246190069',
  'country': 'Paraguay',
  'email': 'cory33@king-shaw.net',
  'first_name': 'Ashley',
  'last_name': 'Castillo'},
 {'account': 'ACQR2846533122117',
  'country': 'Central African Republic',
  'email': 'zcalhoun@gmail.com',
  'first_name': 'Zachary',
  'last_name': 'Flores'},
 {'account': 'ZAZD8310339637467',
  'country': 'Palau',
  'email': 'michaelhall@hotmail.com',
  'first_name': 'Erica',
  'last_name': 'Allen'},
 {'account': 'ARWK1547324119222',
  'country': 'Micronesia',
  'email': 'kristentaylor@yahoo.com',
  'first_name': 'Savannah',
  'last_name': 'Potts'},
 {'account': 'OMQX4840913072589',
  'country': 'Armenia',
  'email': 'stephen63@yahoo.com',
  'first_name': 'Zachary',
  'last_name': 'Wheeler'},
 {'account': 'OCFV4659464275270',
  'country': 'Bahrain',
  'email': 'bryanmartin@gmail.com',
  'first_name': 'Timothy',
  'last_name': 'Thomas'},
 {'account': 'DTRB4720098955341',
  'country': 'Guatemala',
  'email': 'kristinavelasquez@gmail.com',
  'first_name': 'Ann',
  'last_name': 'Mcknight'},
 {'account': 'YYHM5758234683389',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'denise01@burns.org',
  'first_name': 'Ruth',
  'last_name': 'Thompson'},
 {'account': 'AHBN3151680654826',
  'country': 'Kazakhstan',
  'email': 'beancody@jones.com',
  'first_name': 'Daniel',
  'last_name': 'Levy'},
 {'account': 'FGBC0366153271398',
  'country': 'Germany',
  'email': 'ubradley@yahoo.com',
  'first_name': 'Paul',
  'last_name': 'Hubbard'},
 {'account': 'MHTE8867005510944',
  'country': 'Western Sahara',
  'email': 'anthony75@yahoo.com',
  'first_name': 'Jason',
  'last_name': 'Jones'},
 {'account': 'IYOD4325345823013',
  'country': 'Togo',
  'email': 'antonio52@gmail.com',
  'first_name': 'Margaret',
  'last_name': 'Garcia'},
 {'account': 'NZFX8257739892619',
  'country': 'Guam',
  'email': 'johnlewis@hotmail.com',
  'first_name': 'Jeremy',
  'last_name': 'Peters'},
 {'account': 'MWRB2515761996641',
  'country': 'Kuwait',
  'email': 'nmoore@hotmail.com',
  'first_name': 'Mark',
  'last_name': 'Stone'},
 {'account': 'CURJ9953745256871',
  'country': 'Eritrea',
  'email': 'nchurch@yahoo.com',
  'first_name': 'Darius',
  'last_name': 'Edwards'},
 {'account': 'ATOT8581137487723',
  'country': 'Czech Republic',
  'email': 'piercejenna@gmail.com',
  'first_name': 'Tracy',
  'last_name': 'Lawson'},
 {'account': 'RQGA0882784089265',
  'country': 'Maldives',
  'email': 'ddavidson@hotmail.com',
  'first_name': 'Christina',
  'last_name': 'Cooper'},
 {'account': 'EOPA8088866975598',
  'country': 'Armenia',
  'email': 'ndelacruz@yahoo.com',
  'first_name': 'Megan',
  'last_name': 'Harris'},
 {'account': 'JCUN9597199552039',
  'country': 'Benin',
  'email': 'jenniferadkins@griffin.biz',
  'first_name': 'Timothy',
  'last_name': 'Jones'},
 {'account': 'IZYL3351829981461',
  'country': 'Fiji',
  'email': 'evansmiguel@yahoo.com',
  'first_name': 'Tracie',
  'last_name': 'Burch'},
 {'account': 'JDIH2349154465371',
  'country': 'Iceland',
  'email': 'kenneththompson@baxter.com',
  'first_name': 'Jason',
  'last_name': 'Chung'},
 {'account': 'VRZP1447516193511',
  'country': 'Macedonia',
  'email': 'bcurtis@hotmail.com',
  'first_name': 'Samantha',
  'last_name': 'Melton'},
 {'account': 'QKAF2254397516681',
  'country': 'Serbia',
  'email': 'phillipssean@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Hansen'}]

In [140]:
people[1]

{'last_name': 'Owens',
 'first_name': 'Jackson',
 'email': 'iedwards@yahoo.com',
 'country': 'Kazakhstan',
 'account': 'FVQZ0955529767455'}

In [141]:
# Write a function to convert month number to month name. First use a list and then a dictionary

month_number = 2
months = [0, 'January', 'February', 'March', 'April', 'May', 'June']
months[3]

'March'

In [142]:
md = {index: month for index, month in enumerate(months) if not index == 0}

In [143]:
md

{1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June'}

In [174]:
 def simulate2dice(no_sims):
    import random
    random.seed(1234)
    
    count_dict = {}
    for _ in range(no_sims):
        dice1 = random.randint(1,6)
        dice2 = random.randint(1,6)
        total = dice1 + dice2
        
        if total not in count_dict:
            count_dict[total] = 0    

        count_dict[total] += 1
        
    count_dict = {key: count_dict[key] for key in sorted(count_dict)}
    
    sim_probl = {key: round(value/no_sims*100, 4) for key, value in count_dict.items()}
    return sim_probl
    
for key, value in simulate2dice(100).items():
    print(key, value)

2 5.0
3 6.0
4 9.0
5 12.0
6 19.0
7 22.0
8 5.0
9 12.0
10 5.0
11 3.0
12 2.0

In [175]:
for key, value in simulate2dice(1000).items():
    print(key, value)

2 2.7
3 5.1
4 7.6
5 11.3
6 13.2
7 16.0
8 14.3
9 12.9
10 8.5
11 6.1
12 2.3

In [176]:
for key, value in simulate2dice(10000).items():
    print(key, value)

2 2.79
3 6.3
4 7.87
5 11.05
6 13.95
7 16.23
8 14.01
9 11.02
10 8.65
11 5.38
12 2.75

In [177]:
for key, value in simulate2dice(100000).items():
    print(key, value)

2 2.762
3 5.643
4 8.32
5 11.027
6 13.815
7 16.696
8 14.009
9 11.123
10 8.287
11 5.57
12 2.748

In [178]:
for key, value in simulate2dice(1000000).items():
    print(key, value)

2 2.7453
3 5.5765
4 8.3696
5 11.1185
6 13.8912
7 16.6384
8 13.8941
9 11.119
10 8.3224
11 5.546
12 2.779

In [179]:
for key, value in simulate2dice(10000000).items():
    print(key, value)

2 2.7742
3 5.5557
4 8.3389
5 11.1199
6 13.8956
7 16.6559
8 13.8808
9 11.1149
10 8.3229
11 5.5624
12 2.7788

In [183]:
from collections import defaultdict
x = defaultdict(int)
x[3] += 1

In [184]:
x

defaultdict(int, {3: 1})

In [185]:
x = {}
x[3]+=1

KeyError: 3

In [186]:
x = {}
x['grades'].append(86)

KeyError: 'grades'

In [189]:
x = defaultdict(list)
x['grades'].append(86)
print(dict(x))

{'grades': [86]}

In [190]:
 def simulate2dice(no_sims):
    import random
    random.seed(1234)
    
    count_dict = defaultdict(int)
    for _ in range(no_sims):
        dice1 = random.randint(1,6)
        dice2 = random.randint(1,6)
        total = dice1 + dice2
        

        count_dict[total] += 1
        
    count_dict = {key: count_dict[key] for key in sorted(count_dict)}
    
    sim_probl = {key: round(value/no_sims*100, 4) for key, value in count_dict.items()}
    return sim_probl

simulate2dice(12)

{2: 25.0,
 3: 8.3333,
 4: 8.3333,
 5: 16.6667,
 6: 16.6667,
 9: 8.3333,
 11: 8.3333,
 12: 8.3333}

In [192]:
x = '123, 123, 444'
x.split(', ', 1)

['123', '123, 444']