In [1]:
x = 1

In [2]:
x = [1, 2, 3]

In [3]:
print(x)

[1, 2, 3]

In [4]:
list_of_floats = [1.2, 3.4, 5.5]
print(list_of_floats)

[1.2, 3.4, 5.5]

In [5]:
list_of_str = ['A', 'B', 'C']
print(list_of_str)

['A', 'B', 'C']

In [6]:
x = [1, 3.14, 'Hello', [1, 2]]

In [7]:
x

[1, 3.14, 'Hello', [1, 2]]

In [8]:
sum(x)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [9]:
sum([1, 2, 3, 4])

10

In [10]:
sum([1, 2, 3.14, 6.5])

12.64

In [11]:
whales = [5, 4, 7, 3, 2, 3, 2, 6, 4, 2, 1, 7, 1, 3]
whales[3]

3

In [12]:
months = ['jan', 'feb', 'mar', 'april']
months[1]

'feb'

In [13]:
months = ['', 'jan', 'feb', 'mar', 'april']
months[2]

'feb'

In [15]:
grades = ['A', 'B', 'C', 'D', 'F']

In [17]:
# [start_index(included):end_index(not included)]
# [:)
# start_index:end_index:step_size
# start_index:end_index-1:step_size
grades[2:4]

['C', 'D']

In [18]:
grades[1::2]

['B', 'D']

In [19]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x[1::2]

[2, 4, 6, 8, 10]

In [25]:
x[-10]

1

In [26]:
grades[::-1]

['F', 'D', 'C', 'B', 'A']

In [27]:
my_string = 'EAS503'

In [28]:
my_string[2]

'S'

In [30]:
department_name = my_string[0:3]
print(department_name)

department_name = my_string[:3]
print(department_name)

EAS
EAS

In [34]:
course_number = my_string[3:]
print(course_number)

503

In [35]:
print(type(course_number))

<class 'str'>

In [38]:
course_number = int(course_number)
print(course_number+1)

504

In [40]:
x='eas503'
print(x.upper())

EAS503

In [41]:
grades = ['A', 'B', 'C', 'D', 'F']
grades *= 3

In [42]:
grades

['A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F', 'A', 'B', 'C', 'D', 'F']

In [43]:
divider = '-'
print(divider * 50)

--------------------------------------------------

In [44]:
grades = ['A', 'B', 'C', 'D', 'F']

In [45]:
grades[0] = 'a'
grades

['a', 'B', 'C', 'D', 'F']

In [46]:
grades[0] = 3.14444444
grades

[3.14444444, 'B', 'C', 'D', 'F']

In [57]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:3] = 'a'

In [58]:
grades

['A', 'a', 'D', 'F']

In [62]:
grades = ['A', 'B', 'C', 'D', 'F']

grades[2:] = ['d', 'f']

In [63]:

grades

['A', 'B', 'd', 'f']

In [65]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]
grades

['B', 'C', 'D', 'F']

In [66]:
del grades[1:3]
grades

['B', 'F']

In [67]:
del grades

In [68]:
grades1 = ['A', 'B', 'C']
grades2 = ['D', 'F']
grades = grades1 + grades2
grades

['A', 'B', 'C', 'D', 'F']

In [73]:
my_list2 = [['John', [55, 65, 86]], ['Jane', [70, 80, 85]]]

In [75]:
my_list2[1][1][2]

85

In [76]:
numbers = [3, 4, 8, 9, 5, 6, 7, 0, 1, 2, 10, 11, 12]

sum(numbers)
sorted(numbers)
list(numbers)
any(numbers)
all(numbers)

False

In [77]:
len(numbers)

13

In [78]:
max(numbers)

12

In [79]:
min(numbers)

0

In [96]:
sorted(numbers, reverse=True)

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [81]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [82]:
my_tuple[1] = 42

TypeError: 'tuple' object does not support item assignment

In [84]:
my_list = list(my_tuple)
my_list[1] = 42
my_list

[1, 42, 3]

In [85]:
print(type(my_tuple))

<class 'tuple'>

In [86]:
print(type(my_list))

<class 'list'>

In [87]:
tuple(my_list)

(1, 42, 3)

In [ ]:
any()
all()

In [94]:
my_list = [True, 3.14, 1, 0]
any(my_list)

True

In [95]:
all(my_list)

False

In [98]:
x = 1
print(type(x))

<class 'int'>

In [99]:
type(x)

int

In [100]:
type(my_list)

list

In [101]:
my_list.sort()

In [102]:
my_list

[0, True, 1, 3.14]

In [104]:
x = [1, 15, 6, -1]
sorted(x)

[-1, 1, 6, 15]

In [105]:
x

[1, 15, 6, -1]

In [106]:
x.sort()

In [107]:
x

[-1, 1, 6, 15]

In [108]:
x = (('Jane', 48), ('Bob', 78))

In [109]:
grades = ['A', 'B', 'C']
len(grades)

3

In [111]:
grades.count('A')

1

In [117]:
grades = ['A', 'B', 'C']

In [118]:
grades.append('D')
grades

['A', 'B', 'C', 'D']

In [119]:
grades.insert(4, 'F')
grades

['A', 'B', 'C', 'D', 'F']

In [120]:
grades.insert(1, 'F')
grades

['A', 'F', 'B', 'C', 'D', 'F']

In [123]:
grades.remove('F')
grades

['A', 'B', 'C', 'D']

In [ ]:
del grades[]

In [ ]:
grades.append('D')
grades.insert(4, 'F')
grades.remove(2)
grades.pop()
grades.index('C')
grades.count() # len(grades)
grades.sort()
grades.reverse()

In [124]:
students = ['john', 'bob', 'mike']

students.remove('bob')
students

['john', 'mike']

In [125]:
students = ['john', 'bob', 'mike']

del students[1]
students

['john', 'mike']

In [127]:
grades = ['A', 'B', 'C']
last_value = grades.pop()
grades

['A', 'B']

In [128]:
last_value

'C'

In [129]:
grades = ['A', 'B', 'C']
grades.index('C')

2

In [130]:
grades

['A', 'B', 'C']

In [131]:
x = [1, 43, 890, 2, 4]

In [132]:
x.sort()

In [133]:
x

[1, 2, 4, 43, 890]

In [134]:
x.reverse()
x

[890, 43, 4, 2, 1]

In [145]:
a, b, c, *d = [3, 4, 7, 8, 5, 10, 809]

print(a)
print(b)
print(c)
print(d)

3
4
7
[8, 5, 10, 809]

In [142]:
a, b, c, *_ = [3, 4, 7, 8, 5]

print(a)
print(b)
print(c)

3
4
7

In [146]:
print(_)

[8, 5]

In [150]:
# range(start:stop:step) # [start:stop(not included):step)

my_range =  range(1,100)

In [153]:
print(my_range)

range(1, 100)

In [154]:
my_list = list(my_range)
my_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [152]:
for number in my_range:
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [159]:
my_range =  range(1,10)

In [156]:
my_range

range(1, 10)

In [160]:
for number in my_range:
    print(number)

1
2
3
4
5
6
7
8
9

In [161]:
for number in my_range:
    print(number)

1
2
3
4
5
6
7
8
9

In [162]:
print(list(range(3)))

[0, 1, 2]

In [165]:
values = [4, 10, 3, 8, -6]
length_of_values = len(values)

for i in range(length_of_values): # for i in [0, 1, 2, 3, 4]
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [166]:
for value in values:
    print(value)

4
10
3
8
-6

In [168]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values):
    if index % 2 == 0:
        print(index, value)

0 4
2 3
4 -6

In [169]:
values = range(11)
for index, value in enumerate(values):
    if index % 2 == 0:
        print(index, value)

0 0
2 2
4 4
6 6
8 8
10 10

In [173]:
current_index = 0
for value in values:
    if current_index % 2 == 0:
        print(current_index, value)
    current_index += 1

0 0
2 2
4 4
6 6
8 8
10 10

In [177]:
values = list(range(10,20))
print(values)
for index, value in enumerate(values):
    if index % 2 == 0:
        print(index, value)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
0 10
2 12
4 14
6 16
8 18

In [178]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]

for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [189]:
my_values = zip(metals, weights)
my_values_saved = list(zip(metals, weights))
print(list(zip(metals, weights)))

[('Li', 6.941), ('Na', 22.98976928), ('K', 39.0983)]

In [190]:
for metal, weight in my_values:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [191]:
for metal, weight in my_values:
    print(metal, weight)

In [192]:
for metal, weight in my_values_saved:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [193]:
for metal, weight in my_values_saved:
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983

In [200]:
indices = list(range(3))
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
random_stuff = ['A', 'B', 'C']

for index, metal, weight, random in zip(indices, metals, weights, random_stuff):
    print(index, metal, weight, random)

0 Li 6.941 A
1 Na 22.98976928 B
2 K 39.0983 C

In [201]:
elements = [
    ['Li', 'Na', 'K'], 
    ['F', 'Cl', 'Br']
]
for inner_list in elements:
#     print(inner_list)
    for item in inner_list:
        print(item)

Li
Na
K
F
Cl
Br

In [203]:

for item in elements[1]:
    print(item)

F
Cl
Br

In [204]:
info = [
    ['Isaac Newton', 1643, 1727],
    ['Charles Darwin', 1809, 1882],
    ['Alan Turing', 1912, 1954, 'alan@bletchley.uk']
]
for item in info:
    print(len(item))

3
3
4

In [205]:
def sum_list(input_list):
    return sum(input_list)

sum_list([1, 2, 3, 45])

51

In [206]:
def avg_list(input_list):
    return sum(input_list)/len(input_list)

avg_list([1, 3, 4, 890])

224.5

In [208]:
def mul_list_by_2(input_list):
    for idx, ele in enumerate(input_list):
        input_list[idx] = input_list[idx] * 2
        
    return input_list

mul_list_by_2([1, 3, 4])

[2, 6, 8]

In [211]:
def pow(input_list, power):
    for idx, ele in enumerate(input_list):
        input_list[idx] = input_list[idx] ** power
        
    return input_list

pow([1, 3, 4], 3)

[1, 27, 64]

In [213]:
def remove_duplicates(input_list):
    output_list = []
    
    for ele in input_list:
        if ele not in output_list:
            output_list.append(ele)
        else:
            print(f'{ele} is a duplicate')
            
    return output_list

remove_duplicates([1, 2, 1, 2, 2, 4, 89, 23, 2])

1 is a duplicate
2 is a duplicate
2 is a duplicate
2 is a duplicate

[1, 2, 4, 89, 23]

In [218]:
filename = 'for_ex7_data1.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        grades.append(int(line.strip()))
        
        
grades
print(sum(grades)/len(grades))

78.8

In [222]:
filename = 'for_ex7_data2.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip():
            continue
            
        grades.append(int(line.strip()))
        

print(sum(grades)/len(grades))

64.42857142857143

In [227]:
filename = 'for_ex7_data3.txt'
grades = []
with open(filename, 'r') as file:
    for line in file:
        if not line.strip():
            continue
        
        try:
            number = float(line.strip())
        except:
            print(f'Failed to convert value {line.strip()}.')
            continue
            
        
        grades.append(number)
        

print(sum(grades)/len(grades))

Failed to convert value 99.o.
Failed to convert value AAB.
Failed to convert value 9A.00.
75.43

In [233]:
import random
for i in range(10):
    print(random.randint(0, 1))

1
1
1
1
1
0
0
0
1
0

In [238]:
##################################################################
# for_ex8.py
# Write a function simulates a coin toss
# Input: number of simulation
# Output: a string that concatenates the results, ex. 'HHHTTTHTHTHT'

def sim_coin_toss(number_of_simulations):
    import random
    output = ''
    for i in range(number_of_simulations):
        toss = random.randint(0,1)
        
        if toss == 0:
            toss = 'H'
        else:
            toss = 'T'
            
        output += toss
    
    return output
        
sim_coin_toss(20)

'TTTHHTTTHHHHTHTHTTTH'