In [6]:
filename = 'students.tsv'
students_list = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        line = line.strip()
        students_list.append(line.split('\t'))

In [7]:
header = ['last_name', 'first_name', 'username', 'exam1', 'exam2', 'exam3']
students_dict = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        line = line.strip()
        students_dict.append(dict(zip(header, line.split('\t'))))

In [8]:
# SELECT username, exam1 FROM STUDENTS;
print(list(map(lambda row: (row[2], row[3]), students_list)))

[('larsonmeli', '24'), ('novakmeli', '77'), ('sawyerwend', '81'), ('schultzmarc', '59'), ('veganich', '64'), ('adamsbren', '80'), ('thompsonchar', '37'), ('boothbrad', '85'), ('gallegoseuge', '34'), ('munozmary', '77'), ('careykimb', '29'), ('paulphil', '79'), ('reedmade', '16'), ('parsonscass', '61'), ('mcclainglen', '85'), ('oliverjani', '72'), ('lozanocath', '71'), ('kleinjohn', '3'), ('brooksmarc', '6'), ('leemich', '30'), ('myerseliz', '41'), ('bowenkath', '57'), ('gibsonedwa', '84'), ('smithchri', '25'), ('keydebr', '66'), ('flemingcarl', '50'), ('parrishnath', '47'), ('lewismich', '73'), ('diazdavi', '52'), ('walterlind', '28'), ('baileyaman', '27'), ('terrellrobe', '99'), ('johnsonjani', '22'), ('leejohn', '25'), ('dominguezkath', '21'), ('ellispaig', '41'), ('wilkinsonjenn', '52'), ('rodriguezmich', '94'), ('kennedylisa', '93'), ('hendersonmich', '91'), ('hilljame', '59'), ('jonesdavi', '37'), ('landrypatr', '41'), ('coxjero', '67'), ('santanalind', '77'), ('pattonrobe', '78'), ('mcleanchri', '59'), ('rhodesandr', '53'), ('ramseyjohn', '89'), ('martinpaul', '15'), ('perezkell', '6'), ('morantroy', '61'), ('kerrsara', '82'), ('wadestep', '9'), ('smithrebe', '3'), ('longjoel', '20'), ('ashleycody', '75'), ('patrickrach', '16'), ('oliveralex', '61'), ('hoffmanshan', '29'), ('holdenmich', '57'), ('grahamvane', '78'), ('blairchri', '70'), ('taylordian', '99'), ('reillybran', '10'), ('gamblematt', '48'), ('weberpatr', '87'), ('woodardjudy', '47'), ('hullalex', '38'), ('frankjess', '95'), ('davissamu', '22'), ('bairdalex', '32'), ('hensleyjame', '52'), ('lunacarm', '36'), ('garciabria', '37'), ('andrewsluis', '43'), ('watsonjess', '2'), ('evansdawn', '18'), ('barnestamm', '54'), ('nelsonange', '33'), ('pattersonjenn', '26'), ('kingaust', '64'), ('smithcaro', '73'), ('cooklisa', '66'), ('francisshaw', '37'), ('monroemich', '23'), ('cortezpatr', '18'), ('changkris', '78'), ('mcclainbran', '65'), ('sellersstep', '11'), ('olsenmari', '44'), ('meltonbria', '52'), ('dayjon', '15'), ('littlebria', '25'), ('johnsonwayn', '66'), ('duncanandr', '59'), ('bushalex', '82'), ('summersmich', '18'), ('bowerssand', '52'), ('fernandezjona', '74')]

In [9]:
# SELECT username, exam1 FROM STUDENTS;
print(list(map(lambda row: (row.get('username'), row.get('exam1')), students_dict)))

[('larsonmeli', '24'), ('novakmeli', '77'), ('sawyerwend', '81'), ('schultzmarc', '59'), ('veganich', '64'), ('adamsbren', '80'), ('thompsonchar', '37'), ('boothbrad', '85'), ('gallegoseuge', '34'), ('munozmary', '77'), ('careykimb', '29'), ('paulphil', '79'), ('reedmade', '16'), ('parsonscass', '61'), ('mcclainglen', '85'), ('oliverjani', '72'), ('lozanocath', '71'), ('kleinjohn', '3'), ('brooksmarc', '6'), ('leemich', '30'), ('myerseliz', '41'), ('bowenkath', '57'), ('gibsonedwa', '84'), ('smithchri', '25'), ('keydebr', '66'), ('flemingcarl', '50'), ('parrishnath', '47'), ('lewismich', '73'), ('diazdavi', '52'), ('walterlind', '28'), ('baileyaman', '27'), ('terrellrobe', '99'), ('johnsonjani', '22'), ('leejohn', '25'), ('dominguezkath', '21'), ('ellispaig', '41'), ('wilkinsonjenn', '52'), ('rodriguezmich', '94'), ('kennedylisa', '93'), ('hendersonmich', '91'), ('hilljame', '59'), ('jonesdavi', '37'), ('landrypatr', '41'), ('coxjero', '67'), ('santanalind', '77'), ('pattonrobe', '78'), ('mcleanchri', '59'), ('rhodesandr', '53'), ('ramseyjohn', '89'), ('martinpaul', '15'), ('perezkell', '6'), ('morantroy', '61'), ('kerrsara', '82'), ('wadestep', '9'), ('smithrebe', '3'), ('longjoel', '20'), ('ashleycody', '75'), ('patrickrach', '16'), ('oliveralex', '61'), ('hoffmanshan', '29'), ('holdenmich', '57'), ('grahamvane', '78'), ('blairchri', '70'), ('taylordian', '99'), ('reillybran', '10'), ('gamblematt', '48'), ('weberpatr', '87'), ('woodardjudy', '47'), ('hullalex', '38'), ('frankjess', '95'), ('davissamu', '22'), ('bairdalex', '32'), ('hensleyjame', '52'), ('lunacarm', '36'), ('garciabria', '37'), ('andrewsluis', '43'), ('watsonjess', '2'), ('evansdawn', '18'), ('barnestamm', '54'), ('nelsonange', '33'), ('pattersonjenn', '26'), ('kingaust', '64'), ('smithcaro', '73'), ('cooklisa', '66'), ('francisshaw', '37'), ('monroemich', '23'), ('cortezpatr', '18'), ('changkris', '78'), ('mcclainbran', '65'), ('sellersstep', '11'), ('olsenmari', '44'), ('meltonbria', '52'), ('dayjon', '15'), ('littlebria', '25'), ('johnsonwayn', '66'), ('duncanandr', '59'), ('bushalex', '82'), ('summersmich', '18'), ('bowerssand', '52'), ('fernandezjona', '74')]

In [10]:
# SELECT username, exam1 FROM STUDENTS ORDER BY username;
sorted(map(lambda row: (row[2], row[3]), students_list), key=lambda row: row[0])

[('adamsbren', '80'),
 ('andrewsluis', '43'),
 ('ashleycody', '75'),
 ('baileyaman', '27'),
 ('bairdalex', '32'),
 ('barnestamm', '54'),
 ('blairchri', '70'),
 ('boothbrad', '85'),
 ('bowenkath', '57'),
 ('bowerssand', '52'),
 ('brooksmarc', '6'),
 ('bushalex', '82'),
 ('careykimb', '29'),
 ('changkris', '78'),
 ('cooklisa', '66'),
 ('cortezpatr', '18'),
 ('coxjero', '67'),
 ('davissamu', '22'),
 ('dayjon', '15'),
 ('diazdavi', '52'),
 ('dominguezkath', '21'),
 ('duncanandr', '59'),
 ('ellispaig', '41'),
 ('evansdawn', '18'),
 ('fernandezjona', '74'),
 ('flemingcarl', '50'),
 ('francisshaw', '37'),
 ('frankjess', '95'),
 ('gallegoseuge', '34'),
 ('gamblematt', '48'),
 ('garciabria', '37'),
 ('gibsonedwa', '84'),
 ('grahamvane', '78'),
 ('hendersonmich', '91'),
 ('hensleyjame', '52'),
 ('hilljame', '59'),
 ('hoffmanshan', '29'),
 ('holdenmich', '57'),
 ('hullalex', '38'),
 ('johnsonjani', '22'),
 ('johnsonwayn', '66'),
 ('jonesdavi', '37'),
 ('kennedylisa', '93'),
 ('kerrsara', '82'),
 ('keydebr', '66'),
 ('kingaust', '64'),
 ('kleinjohn', '3'),
 ('landrypatr', '41'),
 ('larsonmeli', '24'),
 ('leejohn', '25'),
 ('leemich', '30'),
 ('lewismich', '73'),
 ('littlebria', '25'),
 ('longjoel', '20'),
 ('lozanocath', '71'),
 ('lunacarm', '36'),
 ('martinpaul', '15'),
 ('mcclainbran', '65'),
 ('mcclainglen', '85'),
 ('mcleanchri', '59'),
 ('meltonbria', '52'),
 ('monroemich', '23'),
 ('morantroy', '61'),
 ('munozmary', '77'),
 ('myerseliz', '41'),
 ('nelsonange', '33'),
 ('novakmeli', '77'),
 ('oliveralex', '61'),
 ('oliverjani', '72'),
 ('olsenmari', '44'),
 ('parrishnath', '47'),
 ('parsonscass', '61'),
 ('patrickrach', '16'),
 ('pattersonjenn', '26'),
 ('pattonrobe', '78'),
 ('paulphil', '79'),
 ('perezkell', '6'),
 ('ramseyjohn', '89'),
 ('reedmade', '16'),
 ('reillybran', '10'),
 ('rhodesandr', '53'),
 ('rodriguezmich', '94'),
 ('santanalind', '77'),
 ('sawyerwend', '81'),
 ('schultzmarc', '59'),
 ('sellersstep', '11'),
 ('smithcaro', '73'),
 ('smithchri', '25'),
 ('smithrebe', '3'),
 ('summersmich', '18'),
 ('taylordian', '99'),
 ('terrellrobe', '99'),
 ('thompsonchar', '37'),
 ('veganich', '64'),
 ('wadestep', '9'),
 ('walterlind', '28'),
 ('watsonjess', '2'),
 ('weberpatr', '87'),
 ('wilkinsonjenn', '52'),
 ('woodardjudy', '47')]

In [11]:
sorted(map(lambda row: (row[2], row[3]), students_list), key=lambda row: row[0])[:20]

[('adamsbren', '80'),
 ('andrewsluis', '43'),
 ('ashleycody', '75'),
 ('baileyaman', '27'),
 ('bairdalex', '32'),
 ('barnestamm', '54'),
 ('blairchri', '70'),
 ('boothbrad', '85'),
 ('bowenkath', '57'),
 ('bowerssand', '52'),
 ('brooksmarc', '6'),
 ('bushalex', '82'),
 ('careykimb', '29'),
 ('changkris', '78'),
 ('cooklisa', '66'),
 ('cortezpatr', '18'),
 ('coxjero', '67'),
 ('davissamu', '22'),
 ('dayjon', '15'),
 ('diazdavi', '52')]

In [16]:
sorted(map(lambda row: (row[2], row[3], row[4]), students_list), key=lambda row: int(row[1]))[:10]

[('watsonjess', '2', '44'),
 ('kleinjohn', '3', '43'),
 ('smithrebe', '3', '75'),
 ('brooksmarc', '6', '81'),
 ('perezkell', '6', '22'),
 ('wadestep', '9', '69'),
 ('reillybran', '10', '94'),
 ('sellersstep', '11', '83'),
 ('martinpaul', '15', '11'),
 ('dayjon', '15', '55')]

In [24]:
# SELECT 
#  avg(exam1) as `Exam1 Average`, avg(exam2), avg(exam3)
#  FROM students;

exam1, exam2, exam3 = zip(*map(lambda row: (int(row[3]), int(row[4]), int(row[5])), students_list))
(sum(exam1)/len(exam1), sum(exam2)/len(exam2), sum(exam3)/len(exam3))

(50.01, 51.51, 51.14)

(50.01, 51.51, 51.14)

In [27]:
list(filter(lambda row: int(row[1]) > 80, map(lambda row: (row[2], row[3]), students_list)))

[('sawyerwend', '81'),
 ('boothbrad', '85'),
 ('mcclainglen', '85'),
 ('gibsonedwa', '84'),
 ('terrellrobe', '99'),
 ('rodriguezmich', '94'),
 ('kennedylisa', '93'),
 ('hendersonmich', '91'),
 ('ramseyjohn', '89'),
 ('kerrsara', '82'),
 ('taylordian', '99'),
 ('weberpatr', '87'),
 ('frankjess', '95'),
 ('bushalex', '82')]

In [28]:
list(filter(lambda row: 80 < int(row[1]) < 90, map(lambda row: (row[2], row[3]), students_list)))

[('sawyerwend', '81'),
 ('boothbrad', '85'),
 ('mcclainglen', '85'),
 ('gibsonedwa', '84'),
 ('ramseyjohn', '89'),
 ('kerrsara', '82'),
 ('weberpatr', '87'),
 ('bushalex', '82')]

In [29]:
list(filter(lambda row: row[1] == 'Melissa', students_list))

[['Larson', 'Melissa', 'larsonmeli', '24', '89', '31'],
 ['Novak', 'Melissa', 'novakmeli', '77', '3', '38']]

In [30]:
list(filter(lambda row: row[1] in('Melissa', 'Stephanie', 'Alex'), students_list))

[['Larson', 'Melissa', 'larsonmeli', '24', '89', '31'],
 ['Novak', 'Melissa', 'novakmeli', '77', '3', '38'],
 ['Wade', 'Stephanie', 'wadestep', '9', '69', '31'],
 ['Oliver', 'Alex', 'oliveralex', '61', '22', '6'],
 ['Sellers', 'Stephanie', 'sellersstep', '11', '83', '76']]

In [31]:
list(filter(lambda row: row[1].startswith('Alex'), students_list))

[['Oliver', 'Alex', 'oliveralex', '61', '22', '6'],
 ['Hull', 'Alexandra', 'hullalex', '38', '7', '42'],
 ['Baird', 'Alexandra', 'bairdalex', '32', '90', '71'],
 ['Bush', 'Alexander', 'bushalex', '82', '54', '25']]

In [32]:
list(filter(lambda row: 'ath' in row[1], students_list))

[['Lozano', 'Catherine', 'lozanocath', '71', '19', '94'],
 ['Bowen', 'Katherine', 'bowenkath', '57', '61', '34'],
 ['Parrish', 'Nathan', 'parrishnath', '47', '92', '45'],
 ['Dominguez', 'Kathryn', 'dominguezkath', '21', '82', '31'],
 ['Fernandez', 'Jonathan', 'fernandezjona', '74', '80', '22']]

In [34]:
from collections import Counter

exam1 = [student[3] for student in students_list]
c = Counter(exam1)
print(c)

Counter({'52': 5, '59': 4, '37': 4, '77': 3, '61': 3, '41': 3, '25': 3, '66': 3, '78': 3, '18': 3, '64': 2, '85': 2, '29': 2, '16': 2, '3': 2, '6': 2, '57': 2, '47': 2, '73': 2, '99': 2, '22': 2, '15': 2, '82': 2, '24': 1, '81': 1, '80': 1, '34': 1, '79': 1, '72': 1, '71': 1, '30': 1, '84': 1, '50': 1, '28': 1, '27': 1, '21': 1, '94': 1, '93': 1, '91': 1, '67': 1, '53': 1, '89': 1, '9': 1, '20': 1, '75': 1, '70': 1, '10': 1, '48': 1, '87': 1, '38': 1, '95': 1, '32': 1, '36': 1, '43': 1, '2': 1, '54': 1, '33': 1, '26': 1, '23': 1, '65': 1, '11': 1, '44': 1, '74': 1})