In [1]:
def func(()):
   pass

SyntaxError: invalid syntax (1277840458.py, line 1)

In [2]:
def func():
   print(variable)

In [3]:
func()

NameError: name 'variable' is not defined

In [4]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In [5]:
my_list = [1, 2, 3]
my_list[4]

IndexError: list index out of range

In [6]:
int('3')

3

In [7]:
int('3a')

ValueError: invalid literal for int() with base 10: '3a'

In [8]:
student = {'username': 'john', 'grade': 50}
student['class']

KeyError: 'class'

In [9]:
string = 'test1234'
string.upper()

'TEST1234'

In [10]:
x = [1,2,3]
x.upper()

AttributeError: 'list' object has no attribute 'upper'

In [11]:
x.upper

AttributeError: 'list' object has no attribute 'upper'

In [13]:
def func():
    x = 1
    y = 2
  return x + y

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [27]:
def area(length, width):
    # if type(length) not in  (int, float):
    if not isinstance(length, (int, float)):
        raise ValueError(f"{length} is not a number")
    return length * width

In [28]:
area("19", 10)

ValueError: 19 is not a number

In [31]:
x = [1, 2, 3]
isinstance(x, (list, tuple))

True

In [34]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2


calculate_bmi(60, -10)

ValueError: Weight cannot be less than or equal to 0

In [35]:
while True:
    try:
        height = float(input('Please enter height: '))
        weight = float(input('Please enter weight: '))
    except Exception as error:
        print(error)
        print('Please enter a number')
    else:
        print('I run when there is no error')
        break
    finally:
        print('I always run!')

print(calculate_bmi(height, weight))

Please enter height:  aa

could not convert string to float: 'aa'
Please enter a number
I always run!

Please enter height:  10
Please enter weight:  10

I run when there is no error
I always run!
70.3

In [38]:
student = {'username': 'john', 'grade': 50}

def get_key(some_dict, key, default_value=None):
    try:
        return some_dict[key]
    except KeyError:
        return default_value


print(get_key(student, 'usernam234234e'))

None

In [40]:
student.get('username1', 'Error')

'Error'

In [41]:
filename = 'abcd.txt'
try: 
    file = open(filename) 
except OSError: 
    print('OS error') 
except FileNotFoundError: 
    print('File not found')

OS error

In [42]:
filename = 'abcd.txt'
try: 
    file = open(filename) 
except FileNotFoundError: 
    print('File not found') 
except OSError: 
    print('OS error')

File not found

In [43]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)

func(1, 2)

1 2 0 0

In [44]:
print(1, 2, 3, 4, sep=',')
def print(*values, sep=' '):

1,2,3,4

In [46]:
func(1, ham=1, eggs=10)

1 10 0 1

In [47]:
func(1, ham=1, toast=10)

TypeError: func() missing 1 required positional argument: 'eggs'

In [48]:
func(spam=1, eggs=0)

1 0 0 0

In [49]:
func(toast=1, eggs=2, spam=3)

3 2 1 0

In [50]:
func(1, 2, 3, 4)

1 2 3 4

In [ ]:
def f(a, *args, **kwargs): 
	print(a, args, kwargs)

f(1, 2, 3, x=1, y=2)

In [52]:
a, b = (1, 2, 3, 4, 5)
print(a, b)

ValueError: too many values to unpack (expected 2)

In [54]:
a, b, *c, d = (1, 2, 3, 4, 5)
print(a, b, c, d)

1 2 [3, 4] 5

In [72]:
def f(a, *args): 
    args.append(3)
    print(a, args)

f(1, 2)

AttributeError: 'tuple' object has no attribute 'append'

In [56]:
f(1, 2, 4, 5, 6, 7)

1 (2, 4, 5, 6, 7)

In [59]:
f(1)

1 ()

In [70]:
def f(a, *args, **kwargs): 
	print(a, args, kwargs)

f(1, 2, 3, x=1, y=2)

1 (2, 3) {'x': 1, 'y': 2}

In [62]:
f(a=1, 2, 3, x=1, y=2)

TypeError: f() got multiple values for argument 'a'

In [66]:
x = [1, 2, 3]

for ele in x:
    print(ele)
    if ele == 3:
        # break
        pass
else:
    print('No break')

1
2
3
No break

In [ ]:
s1, s2, s3 = "SPAM", "SCAM", "SLAM"

In [74]:
def intersect(*args):
    res = []
    for char in args[0]:                  # scan first sequence
        for other_word in args[1:]:         # for all other args
            if char not in other_word: 
                break   # item in each one?
        else:                          # no:  break out of loop
            res.append(char)              # yes: add items to end
    return res

s1, s2, s3 = "SPAM", "SCAM", "SLAM"
intersect(s1, s2, s3)
# args = (s1, s2) ==> ('SPAM', 'SCAM')

['S', 'A', 'M']

In [ ]:
S
P 
A
M


S in SCAM
S in SLAM
# res.append('S')
P in SCAM
A in SCAM
A in SLAM
res.append(A)

M in SCAM
M in SLAM
res.append(M)
[S, A, M]

In [75]:
def union(*args):
    res = []
    for seq in args:                   # for all args
        for x in seq:                  # for all nodes
            if not x in res:
                res.append(x)          # add new items to result
    return res

union(s1, s2, s3)

['S', 'P', 'A', 'M', 'C', 'L']

In [82]:
set("SPAM") | set("SLAM") | set("SCAM")

{'A', 'C', 'L', 'M', 'P', 'S'}

In [86]:
a = 1
b = [1, 2, 3]

def func(A, B):
    A = 2
    B.append(5)
    print(A, B)

func(a,b)
print(a, b)

2 [1, 2, 3, 5]
1 [1, 2, 3, 5]

In [88]:

variable = 'Global reporting!'


def use_variable_global():
    ## since variable is outside the function
    print(variable)


def use_variable_local():
    variable = 'Local reporting!'
    print(variable)

# def use_variable_global():

def change_global_inside_function():
    global variable
    variable = 'I have been changed!'
    print(variable)


print(variable)
use_variable_global()
use_variable_local()
# change_global_inside_function()
print(variable)

Global reporting!
Global reporting!
Local reporting!
Global reporting!

In [102]:

def function1(my_list, my_variable):
	print('my_list before change inside function1', my_list)
	print('my_variable before change inside function1', my_variable)
	my_list.append(30)
	my_variable = 10

	print('my_list after change inside function1', my_list)
	print('my_variable after change inside function1', my_variable)


def function2(my_list, my_vairable):
	# https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list

	my_list = my_list[:]
	my_list.append(90)
	my_variable = 45

	print('my_list after change inside function2', my_list)
	print('my_variable after change inside function2', my_variable)



def function3():
    my_list = [1, 2, 3, 4]
    my_variable = 3
    function2(my_list, my_variable)
    # https://stackoverflow.com/questions/2612802/how-to-clone-or-copy-a-list
    
    my_list = my_list[:]
    my_list.append(90)
    my_variable = 45
    
    print('my_list after change inside function2', my_list)
    print('my_variable after change inside function2', my_variable)
    
    function1(my_list, my_variable)
    
    print('my_list after change1 inside function3', my_list)
    print('my_variable after change1 inside function3', my_variable)
    
    function2(my_list, my_variable)
    
    
    print('my_list after change2 inside function3', my_list)
    print('my_variable after change2 inside function3', my_variable)

In [95]:
ml = [1, 2, 3]
mv = 3

function1(ml, mv)

my_list before change inside function1 [1, 2, 3]
my_variable before change inside function1 3
my_list after change inside function1 [1, 2, 3, 30]
my_variable after change inside function1 10

In [96]:
ml

[1, 2, 3, 30]

In [97]:
mv

3

In [98]:
ml = [1, 2, 3]
mv = 3
function2(ml, mv)

my_list after change inside function2 [1, 2, 3, 90]
my_variable after change inside function2 45

In [100]:
ml, mv

([1, 2, 3], 3)

In [103]:
function3()

my_list after change inside function2 [1, 2, 3, 4, 90]
my_variable after change inside function2 45
my_list after change inside function2 [1, 2, 3, 4, 90]
my_variable after change inside function2 45
my_list before change inside function1 [1, 2, 3, 4, 90]
my_variable before change inside function1 45
my_list after change inside function1 [1, 2, 3, 4, 90, 30]
my_variable after change inside function1 10
my_list after change1 inside function3 [1, 2, 3, 4, 90, 30]
my_variable after change1 inside function3 45
my_list after change inside function2 [1, 2, 3, 4, 90, 30, 90]
my_variable after change inside function2 45
my_list after change2 inside function3 [1, 2, 3, 4, 90, 30]
my_variable after change2 inside function3 45