In [1]:
'female21' < 'Female21'
# f e m a l e 2 1
# F e m a l e 2 1 
# 102 < 70

False

In [2]:
min(78, 34, 9, 4)

4

In [4]:
def my_min():
    number1 = int(input('Enter first integer: '))
    number2 = int(input('Enter second integer: '))
    number3 = int(input('Enter third integer: '))

    minimum = number1  

    if number2 < minimum:
        minimum = number2

    if number3 < minimum:
        minimum = number3

    print('Minimum value is', minimum)

In [6]:
my_min()

Enter first integer:  90
Enter second integer:  70
Enter third integer:  80

Minimum value is 70

In [10]:
def ex1():
    celsius = float(input("What is the Celsius temperature? "))
    fahrenheit = 9/5 * celsius + 32
    print("The temperature is", fahrenheit, "degrees Fahrenheit.")
    if fahrenheit < 32:
        print("It is below freezing, so dress warmly!")
    elif fahrenheit > 90:
        print("It is very hot, so dress accordingly!")

ex1()

What is the Celsius temperature?  35

The temperature is 95.0 degrees Fahrenheit.
It is very hot, so dress accordingly

In [12]:
def ex3():
    import math
    print("This program finds the real solutions to a quadratic\n")
    a = float(input("Enter coefficient a: "))
    b = float(input("Enter coefficient b: "))
    c = float(input("Enter coefficient c: "))
    disc_root = math.sqrt(b ** 2 - 4 * a * c)

    root1 = (-b + disc_root) / (2 * a)
    root2 = (-b - disc_root) / (2 * a)

    print("\nThe solutions are:", root1, root2)

ex3()

This program finds the real solutions to a quadratic

Enter coefficient a:  2
Enter coefficient b:  5
Enter coefficient c:  -4.1

The solutions are: 0.6506577808748213 -3.1506577808748215

In [13]:
def ex5():
    x1 = int(input("Enter a number: "))
    x2 = int(input("Enter another number: "))
    x3 = int(input("Enter enter a third number: "))

    if x1 >= x2 and x1 >= x3:
        maxval = x1
    elif x2 >= x1 and x2 >= x3:
        maxval = x2
    else:
        maxval = x3

    print(maxval)

In [14]:
ex5()

Enter a number:  90
Enter another number:  55
Enter enter a third number:  34

90

In [16]:
username = input("input username: ")

if username.lower() == 'jdoe':
    print('Hi, John.')
else:
    print('Hello, stranger.')

input username:  JDoe

Hi, John.

In [ ]:
number = int(input('Please enter a number: '))

if number == 0:
    print('The number is even')
elif number % 2 == 0:
    print('The number is even')
else: 
    print('The number is odd')

In [ ]:
count = 0

# after every insert
count += 1

if count % 100_000 == 0:
    print(f'I have inserted {count} records')

In [18]:
def my_func(a, b, c):
    d = a + b + c
    a = 5
    return d

A = 1
B = 2
C = 3

print(my_func(A, B, C))
print(A)

6
1

Immutable data types are: int, float, bool, and tuple -- if you change these inside a function, it does 
NOT affect the value outside the function

Mutable data types are: list, dict, and set -- if you change these inside a function, it DOES 
affect the value outside the function

In [41]:
x = [ 1, 'A', 'b', True, 3.14, None]
    # 0   1    2    3     4     5
x[0]

1

In [42]:
x[3]

True

In [24]:
x[5]

In [32]:
grades = ['A', 'B', 'C', 'D', 'F']

In [28]:
days_in_months1 = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
#                  0   1   2   3   4   5   6   7   8   9  10  11  12

In [29]:
days_in_months2 = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
#                  0   1   2   3   4   5   6   7   8    9  10  11

In [30]:
days_in_months2[9]

31

In [31]:
days_in_months1[10]

31

In [35]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[3]

'D'

In [ ]:
[0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
start = 5
end = 9 # 8

In [39]:
months = [None, 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
#                 1      2     3       4       5     6      7      8     9       10    11     12

In [47]:
months[5:9) #

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3666471829.py, line 1)

In [ ]:
x = [1, 2, 3] # list -- can be modified
y = (1, 2, 3) # tuple  -- cannot be modified

In [51]:
# start 
# end
# step/ skip factor
months[5:]

['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [45]:
months[5::2]

['May', 'Jul', 'Sep', 'Nov']

In [48]:
months[5:]

['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [49]:
months[5:13]

['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

In [50]:
months[5:12]

['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov']

In [52]:
months[:5]

[None, 'Jan', 'Feb', 'Mar', 'Apr']

In [53]:
months[1:5]

['Jan', 'Feb', 'Mar', 'Apr']

In [54]:
months[3:10]

['Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']

In [57]:
months[3:10:3]

['Mar', 'Jun', 'Sep']

In [59]:
months[:10:2]

[None, 'Feb', 'Apr', 'Jun', 'Aug']

In [60]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[-1] # returns the last element in the list

'F'

In [62]:
grades = ['A', 'B', 'C', 'D', 'F']
#         -5    -4   -3   -2   -1

grades[-4]

'B'

In [63]:
grades[::1]

['A', 'B', 'C', 'D', 'F']

In [64]:
grades[::-1]

['F', 'D', 'C', 'B', 'A']

In [65]:
len(grades)

5

In [67]:
grades = ['A', 'B', 'C', 'D', 'F']
#          0    1    2    3    4  
grades[0] = 'a'
grades

['a', 'B', 'C', 'D', 'F']

In [68]:
grades[1:2] = 'a' 
grades

['a', 'a', 'C', 'D', 'F']

In [69]:
grades[2:] = ['d', 'f']
grades

['a', 'a', 'd', 'f']

In [70]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = ['d', 'f']
grades

['A', 'd', 'f']

In [71]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = 'd'
grades

['A', 'd']

In [72]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = 1
grades

TypeError: can only assign an iterable

In [73]:
# string is  sequence
my_str = '01234'
my_str[2]

'2'

In [74]:
# how does a string sequence differ from a list
# immutable: int, float, str, tuple
# mutable: list, dict, set

my_str = '01234'
my_str[2] = 'A'

TypeError: 'str' object does not support item assignment

In [75]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[2] = 'blah'
grades

['A', 'B', 'blah', 'D', 'F']

In [76]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = ['A', 'B', 100]
grades

['A', 'A', 'B', 100]

In [105]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = 'a'
grades

['A', 'a']

In [106]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = 1
grades

TypeError: can only assign an iterable

In [90]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = ['lol', 'hi']
grades

['A', 'lol', 'hi']

In [91]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = ('lol', 'hi')
grades

['A', 'lol', 'hi']

In [92]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = ('lol')
grades

['A', 'l', 'o', 'l']

In [93]:
type(('lol'))

str

In [94]:
type(('lol',))

tuple

In [85]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = {'a':'c'}
grades

['A', 'a']

In [86]:
grades = ['A', 'B', 'C', 'D', 'F']
grades[1:] = {'a'}
grades

['A', 'a']

In [ ]:
# sequence: str, list, tuple, dict, set

In [96]:
grades = ['A', 'B', 'C', 'D', 'F']
del grades[0]
grades

['B', 'C', 'D', 'F']

In [97]:
del grades[1:3]
grades

['B', 'F']

In [98]:
del grades

In [99]:
grades

NameError: name 'grades' is not defined

In [108]:
grades1 = ['A', 'B', 'C', 'D', 'F']
grades2 = 'ABCDF'

In [109]:
grades3 = list(grades2)
grades3

['A', 'B', 'C', 'D', 'F']

In [111]:
grades3 = list(grades2)
grades3[2] = 'c'
grades3 = ''.join(grades3)
grades3

'ABcDF'

In [112]:
'---'.join(grades3)

'A---B---c---D---F'

In [113]:
'---'.join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found

In [117]:
'---'.join(['1', '2', '3'])

'1---2---3'

In [118]:
'---'.join(('1', '2', '3'))

'1---2---3'

In [119]:
'---'.join('123')

'1---2---3'

In [120]:
'---'.join([1, 2, 3])

TypeError: sequence item 0: expected str instance, int found

In [121]:
'---'.join([str(1), str(2), str(3)])

'1---2---3'

In [123]:
grades = ['A', 'B', 'C', 'D', 'F']
grades.pop() # deletes the last element in list and returns it

'F'

In [126]:
grades = ['A', 'B', 'C', 'D', 'F']
pop_val = grades.pop() # deletes the last element in list and returns it 
print(pop_val)
print(grades)

F
['A', 'B', 'C', 'D']

In [125]:
x = del grades[0]

SyntaxError: invalid syntax (789799086.py, line 1)

In [127]:
grades.pop(0)

'A'

In [131]:
grades.pop(1)

'C'