In [1]:
[ f(ele) for ele in sequence ]

NameError: name 'sequence' is not defined

In [2]:
sequence = range(5)
def f(x):
    y = x * x
    return y

my_list = []
for ele in sequence:
    my_list.append(f(ele))
    
my_list

[0, 1, 4, 9, 16]

In [3]:
my_list_comp = [ f(ele) for ele in sequence ]

my_list_comp

[0, 1, 4, 9, 16]

In [5]:
my_list_comp = [ele * ele for ele in sequence ]
my_list_comp

[0, 1, 4, 9, 16]

In [6]:
[ f(ele) for ele in sequence if condition ]

NameError: name 'condition' is not defined

In [7]:
sequence = range(1,21)

even = [ number for number in sequence if number % 2 == 0]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
sequence = range(1,21)

odd = [ number for number in sequence if number % 2 != 0]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
[ f(ele) if condition else g(ele) for ele in sequence ]

NameError: name 'condition' is not defined

In [13]:
def square(x):
    return x * x

def cube(x):
    return x * x * x
 
sequence = range(1,21)

result = [ (number, square(number)) if number % 2 == 0 else (number, cube(number)) for number in sequence]
result

[(1, 1),
 (2, 4),
 (3, 27),
 (4, 16),
 (5, 125),
 (6, 36),
 (7, 343),
 (8, 64),
 (9, 729),
 (10, 100),
 (11, 1331),
 (12, 144),
 (13, 2197),
 (14, 196),
 (15, 3375),
 (16, 256),
 (17, 4913),
 (18, 324),
 (19, 6859),
 (20, 400)]

In [14]:
 # list_comp_ex1.py
# Re-write the following code to use List Comprehension
# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * ele
#     new_list.append(tmp)

my_list = [1, 2, 3]
result = [ ele*ele for ele in my_list]
result

[1, 4, 9]

In [15]:
# list_comp_ex2.py
# Re-write the following code to use List Comprehension
# # Multiply each number by 10

# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * 10
#     new_list.append(tmp)


my_list = [1, 2, 3]
result = [ ele*10 for ele in my_list]
result

[10, 20, 30]

In [18]:
# list_comp_ex3.py
# Upper case each letter in animal variable

# # Works with any type of sequence

animal = 'buffalo'

result = [ char.upper() for char in animal]
result = ''.join(result)
result

'BUFFALO'

In [19]:
animal.upper()

'BUFFALO'

In [20]:
students = ['john', 'jane', 'doe']

result = [ student.title() for student in students]
result

['John', 'Jane', 'Doe']

In [21]:
my_list = [0, '', []]

result = [ True if ele else False for ele in my_list ]
result

[False, False, False]

In [24]:
my_list = [0, 0.0, '0', '', [], (), {}, 1, 3.14, True, False, None]

result = [ (ele, True) if ele else (ele, False) for ele in my_list ]
result

[(0, False),
 (0.0, False),
 ('0', True),
 ('', False),
 ([], False),
 ((), False),
 ({}, False),
 (1, True),
 (3.14, True),
 (True, True),
 (False, False),
 (None, False)]

In [25]:
my_list = range(6)

result = [ str(number) for number in my_list]
result

['0', '1', '2', '3', '4', '5']

In [26]:
numbers = range(10)

result = [ number if number % 2 == 0 else number**3 for number in numbers ]
result

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [30]:
sentence = 'I rEAlly want to gO to woRK'
vowels = ['a', 'e', 'i', 'o', 'u']

result = ''.join([ char for char in sentence if char.lower() not in vowels]).strip()
result

'rlly wnt t g t wRK'

In [31]:
A = {0, 2,    4, 6, 8};
B = {1, 2, 3, 4, 5};

A

{0, 2, 4, 6, 8}

In [35]:
result = A | B

In [36]:
list(result)

[0, 1, 2, 3, 4, 5, 6, 8]

In [37]:
A & B

{2, 4}

In [38]:
A - B

{0, 6, 8}

In [39]:
B - A

{1, 3, 5}

In [42]:
my_list = [1, 1, 2, 3]

In [43]:
new_list = []
for ele in my_list:
    if ele not in new_list:
        new_list.append(ele)
new_list

[1, 2, 3]

In [44]:
set(my_list)

{1, 2, 3}

In [46]:
my_list_set = list(set(my_list))
my_list_set

[1, 2, 3]

In [47]:
my_set = set(my_list)
my_set

{1, 2, 3}

In [49]:
my_set.add(1)
my_set

{1, 2, 3}

In [50]:
my_set.add(4)
my_set

{1, 2, 3, 4}

In [51]:
my_set.remove(4)
my_set

{1, 2, 3}

In [54]:
# Ex1
# Write a function that takes name of two gene files, 
# reads them, and returns which genes are:
# 1) In first file but not in second file
# 2) In second file but not in first file




def ex1(filename1, filename2):
        
    file1_set = set()
    file2_set = set()
    
    with open(filename1) as f:
        for line in f:
            if not line.strip():
                continue
            file1_set.add(line.strip())
            
    with open(filename2) as f:
        for line in f:
            if not line.strip():
                continue
            file2_set.add(line.strip()) 
            
    
    only_in_file1 = file1_set - file2_set
    only_in_file2 = file2_set - file1_set
    
    return (only_in_file1, only_in_file2)
    
only_in_file1, only_in_file2 = ex1('gene_list1.txt', 'gene_list2.txt')  
print(only_in_file1)

print(only_in_file2)

{'ACSL3', 'ABCG4', 'ACTR3B', 'ABHD3', 'ABHD6', 'ACTL10', 'AANAT', 'ACOD1', 'ABCB4', 'ACTR5', 'ABCA6', 'ACVR2A', 'ABHD10', 'ACTR8', 'ACSM3', 'ABCA9', 'ABCB10', 'ACSM1', 'ACTG2', 'A3GALT2', 'ACKR1', 'AAAS', 'ACHE', 'ABCG2', 'ACTA1', 'ABCA2', 'ACSL5', 'ACD', 'AAGAB', 'ACY3', 'ABCB7', 'ABCB9', 'ABCF3', 'AASDHPPT', 'ABCC2', 'A4GALT', 'ABCG5', 'ACER1', 'ABCA5', 'ACOT13', 'ACTN2', 'ACYP2', 'ACVR1B', 'ABCC10', 'ACOX2', 'ABCC9', 'ACSS1', 'ACLY', 'ABCA7', 'ACOX1', 'ACSF2', 'A2ML1', 'ABCB6', 'ABCA13', 'ABCC12', 'ACER3', 'ACIN1', 'ABCB1', 'ABHD8', 'ABCA10', 'ACP3', 'ACSBG2', 'ACTRT2', 'AARS1', 'ACOT1', 'ACRBP', 'ABCE1', 'AAR2', 'ACSL1', 'ACP5', 'ACER2', 'ACRV1', 'ACTRT3', 'ACOT2', 'AARS2', 'ABCC6', 'ACP4', 'ACO1', 'ABCA12', 'AATK', 'ACOT7', 'ABCC11', 'ACTL8', 'ACTL6B', 'ABHD4', 'ACSL4', 'ACVR2B', 'ACSS3', 'AAMDC', 'ACSF3', 'ACE2', 'A1CF', 'ABHD2', 'ABCB11', 'ABCB8', 'AARSD1', 'AADACL3', 'ACOT8', 'ACSM4', 'ABHD5', 'ACTG1', 'A4GNT', 'ACTN4', 'A1BG', 'ACVR1C', 'ACTR1A', 'AARD', 'ACTR10', 'AAMP', 'ACP7', 'ACSM2B', 'ACKR3', 'AAK1', 'AADACL2', 'ACE', 'ABCD2', 'AADAC', 'ACTBL2', 'ABCG1', 'ACVR1', 'ACP6', 'ACSS2', 'ACTL7A', 'ACKR4', 'ABCC5', 'ACO2', 'ABCC4', 'AADACL4', 'AACS', 'ACOT6', 'ACTR2', 'ABCA4', 'ABCA1', 'ACMSD', 'AASDH', 'AADAT', 'ABAT', 'ACTA2', 'ACTB', 'ACTRT1', 'ACOX3', 'ABCC8', 'ABCD4', 'ABCF2', 'ACSM6', 'ACR', 'ACTL6A', 'ABCC3', 'ABCA8', 'ACTR1B', 'ACSM5', 'ACTL9', 'ACP2', 'ACTL7B', 'ABCD3', 'ACTR3', 'ACVRL1', 'ACKR2', 'ACOT11', 'ACOT4', 'ABCD1', 'ACSBG1', 'A2M', 'ACP1', 'ABCF1', 'ABCA3', 'ABHD1', 'ACTR3C', 'ACOXL', 'AASS', 'ACTN3', 'ADA', 'AATF', 'ABCB5', 'ACTN1', 'ACTR6', 'ABCC1', 'ACOT9', 'ACOT12', 'ACYP1', 'ABCG8', 'ACSL6', 'ACTC1', 'ACY1', 'ACSM2A'}
{'ZNF774', 'ZSCAN5A', 'ZNF777', 'ZSCAN21', 'ZNF837', 'ZSCAN16', 'ZNF862', 'ZSCAN30', 'ZNF786', 'ZNF793', 'ZNF717', 'ZNF790', 'ZRANB3', 'ZSCAN1', 'ZNF860', 'ZNF771', 'ZSCAN26', 'ZNF821', 'ZNF778', 'ZNF799', 'ZSWIM4', 'ZNF839', 'ZNRF2', 'ZPLD1', 'ZNF716', 'ZSCAN31', 'ZNF718', 'ZSCAN5B', 'ZNF891', 'ZNFX1', 'ZNF829', 'ZUP1', 'ZNF816', 'ZNF780B', 'ZSCAN12', 'ZNF879', 'ZNF827', 'ZSCAN18', 'ZNF735', 'ZSCAN23', 'ZNRD2', 'ZNF772', 'ZNHIT3', 'ZNF835', 'ZNF732', 'ZSCAN9', 'ZSCAN4', 'ZP3', 'ZNF836', 'ZNF738', 'ZNRF4', 'ZNF787', 'ZNF736', 'ZNF768', 'ZNF845', 'ZNF765', 'ZSWIM7', 'ZNF805', 'ZSCAN20', 'ZNF776', 'ZNHIT1', 'ZNF773', 'ZNF783', 'ZNF814', 'ZP4', 'ZSWIM1', 'ZNF763', 'ZSWIM6', 'ZNF770', 'ZNF789', 'ZSCAN32', 'ZNF831', 'ZSCAN2', 'ZNF804A', 'ZNF843', 'ZPBP2', 'ZNF878', 'ZNRF3', 'ZSWIM9', 'ZSWIM8', 'ZRANB1', 'ZP2', 'ZRANB2', 'ZNF782', 'ZNF852', 'ZNHIT6', 'ZNF727', 'ZNF883', 'ZPR1', 'ZNF749', 'ZNF813', 'ZNF853', 'ZNF800', 'ZNF844', 'ZNF880', 'ZNF747', 'ZNF865', 'ZRSR2', 'ZNF714', 'ZNF726', 'ZSCAN25', 'ZNF746', 'ZSCAN22', 'ZNF721', 'ZNF737', 'ZNF728', 'ZNRD1', 'ZSWIM3', 'ZSCAN5C', 'ZNF808', 'ZSCAN10', 'ZNF723', 'ZNF766', 'ZNF846', 'ZP1', 'ZNF792', 'ZNF730', 'ZNF781', 'ZNF784', 'ZSWIM5', 'ZNHIT2', 'ZNF720', 'ZNF729', 'ZNF830', 'ZNF761', 'ZNF780A', 'ZNF888', 'ZNF764', 'ZNF750', 'ZNF785', 'ZNF791', 'ZNF775', 'ZNF875', 'ZNF740', 'ZSCAN29', 'ZNF841', 'ZNF804B', 'ZSWIM2', 'ZNF850', 'ZPBP', 'ZNF823', 'ZNRF1', 'ZNF724'}

In [55]:
students = (
    ('John Doe', 'jdoe@buffalo.edu', 1234, 'Biology'), 
    ('Jane Doe', 'jane@buffalo.edu', 5343, 'Chemistry'), 
)

students

(('John Doe', 'jdoe@buffalo.edu', 1234, 'Biology'),
 ('Jane Doe', 'jane@buffalo.edu', 5343, 'Chemistry'))

In [56]:
students_dict = [
    {
        "Name": "John Doe",
        "Email": "jdoe@buffalo.edu",
        "UBID": 1234,
        "Major": "Biology"
    },
    {
        "Name": "Jane Doe",
        "Email": "jane@buffalo.edu",
        "UBID": 5343,
        "Major": "Chemistry"
    }
]

students_dict

[{'Name': 'John Doe',
  'Email': 'jdoe@buffalo.edu',
  'UBID': 1234,
  'Major': 'Biology'},
 {'Name': 'Jane Doe',
  'Email': 'jane@buffalo.edu',
  'UBID': 5343,
  'Major': 'Chemistry'}]

In [57]:
student1 = {'Name': 'John Doe',
  'Email': 'jdoe@buffalo.edu',
  'UBID': 1234,
  'Major': 'Biology'}

student2 = {
        "Name": "Jane Doe",
        "Email": "jane@buffalo.edu",
        "UBID": 5343,
        "Major": "Chemistry"
    }

print(student1)

print(student2)

{'Name': 'John Doe', 'Email': 'jdoe@buffalo.edu', 'UBID': 1234, 'Major': 'Biology'}
{'Name': 'Jane Doe', 'Email': 'jane@buffalo.edu', 'UBID': 5343, 'Major': 'Chemistry'}

In [58]:
students_dict_list = [student1, student2]
students_dict_list

[{'Name': 'John Doe',
  'Email': 'jdoe@buffalo.edu',
  'UBID': 1234,
  'Major': 'Biology'},
 {'Name': 'Jane Doe',
  'Email': 'jane@buffalo.edu',
  'UBID': 5343,
  'Major': 'Chemistry'}]

In [59]:
# keys can be int, str, tuple, float, bool

dict1 = {1: 'One', 2: 'Two', 3: 3}
dict1

{1: 'One', 2: 'Two', 3: 3}

In [61]:
dict2 = {'One': 1, 'Two': 2}
dict2

{'One': 1, 'Two': 2}

In [62]:
dict3 = {
    (1,2): 'ABC',
    (2,3): 'EFG'
}

In [63]:
dict3

{(1, 2): 'ABC', (2, 3): 'EFG'}

In [65]:
dict1 = {1.1: 'One', 2: 'Two', 3: 3}
dict1

{1.1: 'One', 2: 'Two', 3: 3}

In [66]:
dict2 = {False: 1}

In [67]:
dict2 = {True: 1}

In [68]:
dict3 = {[1, 2]: 1}

TypeError: unhashable type: 'list'

In [69]:
student1

{'Name': 'John Doe',
 'Email': 'jdoe@buffalo.edu',
 'UBID': 1234,
 'Major': 'Biology'}

In [70]:
student1['Name']

'John Doe'

In [71]:
student1['Email']

'jdoe@buffalo.edu'

In [73]:
for key, value in student1.items():
    print(key, value)

Name John Doe
Email jdoe@buffalo.edu
UBID 1234
Major Biology

In [74]:
students_dict_list

[{'Name': 'John Doe',
  'Email': 'jdoe@buffalo.edu',
  'UBID': 1234,
  'Major': 'Biology'},
 {'Name': 'Jane Doe',
  'Email': 'jane@buffalo.edu',
  'UBID': 5343,
  'Major': 'Chemistry'}]

In [75]:
result = [ student['Name'] for student in students_dict_list]
result

['John Doe', 'Jane Doe']

In [76]:
output = []
for student in students_dict_list:
    for key, value in student.items():
        if key == 'Name':
            output.append(value)
            
output

['John Doe', 'Jane Doe']

In [77]:
result = [ (student['Name'], student['Email']) for student in students_dict_list]
result

[('John Doe', 'jdoe@buffalo.edu'), ('Jane Doe', 'jane@buffalo.edu')]

In [78]:
for name, email in result:
    print(name, email)

John Doe jdoe@buffalo.edu
Jane Doe jane@buffalo.edu

In [79]:
result = [ (student['Name'], student['Email'], student['UBID']) for student in students_dict_list]
for name, email, ubid in result:
    print(name, email, ubid)

John Doe jdoe@buffalo.edu 1234
Jane Doe jane@buffalo.edu 5343

In [81]:
student1

{'Name': 'John Doe',
 'Email': 'jdoe@buffalo.edu',
 'UBID': 1234,
 'Major': 'Biology'}

In [82]:
student1['Name']

'John Doe'

In [83]:
key = 'Name'
student1[key]

'John Doe'

In [84]:
for value in student1.values():
    print(value)

John Doe
jdoe@buffalo.edu
1234
Biology

In [85]:
student1.values()

dict_values(['John Doe', 'jdoe@buffalo.edu', 1234, 'Biology'])

In [86]:
for key in student1.keys():
    print(key)

Name
Email
UBID
Major

In [88]:
for key, value in student1.items():
    print(f'Key: {key}; Value: {value}')

Key: Name; Value: John Doe
Key: Email; Value: jdoe@buffalo.edu
Key: UBID; Value: 1234
Key: Major; Value: Biology

In [89]:
key

'Major'

In [90]:
key in student1

True

In [91]:
'Minor' in student1

False

In [92]:
students_dict_list

[{'Name': 'John Doe',
  'Email': 'jdoe@buffalo.edu',
  'UBID': 1234,
  'Major': 'Biology'},
 {'Name': 'Jane Doe',
  'Email': 'jane@buffalo.edu',
  'UBID': 5343,
  'Major': 'Chemistry'}]

In [93]:
student1

{'Name': 'John Doe',
 'Email': 'jdoe@buffalo.edu',
 'UBID': 1234,
 'Major': 'Biology'}

In [94]:
'John Doe' in student1.values()

True

In [95]:
'John Joe' in student1.values()

False

In [96]:
x = [1, 2, 3]

y = x

x[2] = 4

print(x, y)

[1, 2, 4] [1, 2, 4]

In [98]:
print(id(x))
print(id(y))

2697491275264
2697491275264

In [99]:
y = x.copy()
print(id(y))

2697491611072

In [100]:
y[2] = 3

In [101]:
print(x, y)

[1, 2, 4] [1, 2, 3]

In [102]:
student2 = student1.copy()

In [103]:
student2['Name'] = 'Joe Joe'

print(student1)
print(student2)

{'Name': 'John Doe', 'Email': 'jdoe@buffalo.edu', 'UBID': 1234, 'Major': 'Biology'}
{'Name': 'Joe Joe', 'Email': 'jdoe@buffalo.edu', 'UBID': 1234, 'Major': 'Biology'}

In [104]:
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')

In [105]:
new_student

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [106]:
my_dict = {}.fromkeys(range(5), 'iammissing')

In [107]:
my_dict

{0: 'iammissing',
 1: 'iammissing',
 2: 'iammissing',
 3: 'iammissing',
 4: 'iammissing'}

In [108]:
student1.get('Name')

'John Doe'

In [110]:
result = student1.get('NameS')
print(result, type(result))

None <class 'NoneType'>

In [111]:
result = student1.get('NameS', 'N/A')
print(result)

N/A

In [112]:
result = student1.get('Name', 'N/A')
print(result)

John Doe

In [113]:
key = 'Name'
student1[key]

'John Doe'

In [114]:
key = 'NameS'
student1[key]

KeyError: 'NameS'

In [115]:
student1.pop('Name')

'John Doe'

In [116]:
student1

{'Email': 'jdoe@buffalo.edu', 'UBID': 1234, 'Major': 'Biology'}

In [117]:
removed_value = student1.pop('Major')
print(removed_value, student1)

Biology {'Email': 'jdoe@buffalo.edu', 'UBID': 1234}

In [119]:
student1.update({'YearGraduate':2010, 'Death Date': 2030})

In [120]:
student1

{'Email': 'jdoe@buffalo.edu',
 'UBID': 1234,
 'YearGraduate': 2010,
 'Death Date': 2030}

In [121]:
student1.update({'Email': 'JoeJOe@buffalo.edu', 'Death Date': 2040})

In [122]:
student1

{'Email': 'JoeJOe@buffalo.edu',
 'UBID': 1234,
 'YearGraduate': 2010,
 'Death Date': 2040}

In [123]:
my_dict = {}.fromkeys(range(5), 5)
my_dict

{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

In [124]:
{key: key*value for key, value in my_dict.items()}

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20}

In [125]:
{num: num*num for num in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [126]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [127]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [128]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [139]:
from pprint import pprint
filename = 'people.tsv'

students = []
with open(filename) as f:
    header_read = False
    header = None
    for line in f:
        if not line.strip():
            continue
        
        line_split = line.strip().split('\t')

        if not header:
            header = line_split
            continue
            
        students.append(dict(zip(header, line_split)))

pprint(students)

[{'account': 'QVJP6465242365388',
  'country': 'Nepal',
  'email': 'xdunn@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Weaver'},
 {'account': 'FVQZ0955529767455',
  'country': 'Kazakhstan',
  'email': 'iedwards@yahoo.com',
  'first_name': 'Jackson',
  'last_name': 'Owens'},
 {'account': 'QFIM0905182880347',
  'country': 'Mauritius',
  'email': 'arogers@smith.com',
  'first_name': 'Patrick',
  'last_name': 'Gilmore'},
 {'account': 'YWOT0997131632248',
  'country': 'New Zealand',
  'email': 'plewis@chavez.com',
  'first_name': 'Jeffrey',
  'last_name': 'Perez'},
 {'account': 'QAAE9838291982555',
  'country': 'Yemen',
  'email': 'fred92@yahoo.com',
  'first_name': 'James',
  'last_name': 'Thomas'},
 {'account': 'PCNE8127696280157',
  'country': 'Jordan',
  'email': 'mmiller@lynch.com',
  'first_name': 'Greg',
  'last_name': 'Nelson'},
 {'account': 'BCEN3299883381338',
  'country': 'Palau',
  'email': 'steven49@gmail.com',
  'first_name': 'Joshua',
  'last_name': 'White'},
 {'account': 'XPTQ7837014557677',
  'country': 'Argentina',
  'email': 'amanda23@hotmail.com',
  'first_name': 'Todd',
  'last_name': 'Francis'},
 {'account': 'TRLQ6559557081716',
  'country': 'Marshall Islands',
  'email': 'jackduke@hotmail.com',
  'first_name': 'Stephen',
  'last_name': 'Shaw'},
 {'account': 'OHOV7518558201999',
  'country': 'Albania',
  'email': 'rhodesnicholas@hotmail.com',
  'first_name': 'Mariah',
  'last_name': 'Armstrong'},
 {'account': 'MCQU7347833033110',
  'country': 'Kyrgyz Republic',
  'email': 'smithashlee@yahoo.com',
  'first_name': 'Anthony',
  'last_name': 'Boyle'},
 {'account': 'PPHE5533473251751',
  'country': 'Turkmenistan',
  'email': 'ubriggs@hill.info',
  'first_name': 'Patrick',
  'last_name': 'Cuevas'},
 {'account': 'JCDK1943355298609',
  'country': 'Fiji',
  'email': 'brownclarence@gonzalez-moore.com',
  'first_name': 'Gerald',
  'last_name': 'Reyes'},
 {'account': 'NERZ5502558659614',
  'country': 'Costa Rica',
  'email': 'teresa30@carpenter-warner.com',
  'first_name': 'Christopher',
  'last_name': 'Calderon'},
 {'account': 'DLDV5789894914403',
  'country': 'Martinique',
  'email': 'leekatherine@williams.com',
  'first_name': 'Shane',
  'last_name': 'Weiss'},
 {'account': 'GZZF6936998445532',
  'country': 'Singapore',
  'email': 'chasewatkins@perez-phillips.com',
  'first_name': 'Crystal',
  'last_name': 'Conley'},
 {'account': 'ECGK2823955143629',
  'country': 'Mayotte',
  'email': 'hsherman@gmail.com',
  'first_name': 'Jeffrey',
  'last_name': 'Nelson'},
 {'account': 'QOVO4275314052899',
  'country': 'Costa Rica',
  'email': 'martinezdaniel@hotmail.com',
  'first_name': 'Brianna',
  'last_name': 'Johnson'},
 {'account': 'UKRT1119626365017',
  'country': 'Guadeloupe',
  'email': 'justinfischer@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Werner'},
 {'account': 'UNPV3347450330173',
  'country': 'Bahamas',
  'email': 'cindy08@gmail.com',
  'first_name': 'Brianna',
  'last_name': 'Bennett'},
 {'account': 'GJZT6825738428111',
  'country': 'Azerbaijan',
  'email': 'carolharrington@fleming.org',
  'first_name': 'Austin',
  'last_name': 'Fletcher'},
 {'account': 'JOQE2648899771737',
  'country': 'Saint Helena',
  'email': 'lopezcarl@johnson.com',
  'first_name': 'Patrick',
  'last_name': 'Lewis'},
 {'account': 'MNXY3262955868027',
  'country': 'Hong Kong',
  'email': 'michael74@yahoo.com',
  'first_name': 'Joseph',
  'last_name': 'Smith'},
 {'account': 'YHXF7256577475630',
  'country': 'Turkey',
  'email': 'gonzalezrobert@hotmail.com',
  'first_name': 'Sharon',
  'last_name': 'Sullivan'},
 {'account': 'MUVI3570791852556',
  'country': 'Swaziland',
  'email': 'dawnjohnson@gmail.com',
  'first_name': 'Krystal',
  'last_name': 'Wilson'},
 {'account': 'UKCP6739617302102',
  'country': 'Holy See (Vatican City State)',
  'email': 'watersryan@gmail.com',
  'first_name': 'Diana',
  'last_name': 'Schmidt'},
 {'account': 'WDAT4146843903498',
  'country': 'Norfolk Island',
  'email': 'byoung@gmail.com',
  'first_name': 'Sean',
  'last_name': 'Huff'},
 {'account': 'SVMU4403517448078',
  'country': 'Kenya',
  'email': 'vhanson@yahoo.com',
  'first_name': 'Robin',
  'last_name': 'Nguyen'},
 {'account': 'ZNUY4071301663622',
  'country': 'Togo',
  'email': 'bfletcher@yahoo.com',
  'first_name': 'Robyn',
  'last_name': 'Russell'},
 {'account': 'GPFA8271551275648',
  'country': 'San Marino',
  'email': 'colleengarrison@hotmail.com',
  'first_name': 'Tiffany',
  'last_name': 'Smith'},
 {'account': 'MKWY4848668895426',
  'country': 'Romania',
  'email': 'catherine23@gmail.com',
  'first_name': 'Lori',
  'last_name': 'Smith'},
 {'account': 'QHIW7412514205367',
  'country': 'Algeria',
  'email': 'xmurphy@yahoo.com',
  'first_name': 'Sabrina',
  'last_name': 'Keith'},
 {'account': 'QAAO4666689281736',
  'country': 'Slovakia (Slovak Republic)',
  'email': 'aaronrichard@middleton.net',
  'first_name': 'Miguel',
  'last_name': 'Johnson'},
 {'account': 'LRPR8694143910883',
  'country': 'Somalia',
  'email': 'jesse93@best.com',
  'first_name': 'Dustin',
  'last_name': 'Barron'},
 {'account': 'UWFU1921951273393',
  'country': 'Turkmenistan',
  'email': 'johnperez@johnson.com',
  'first_name': 'Michael',
  'last_name': 'Robinson'},
 {'account': 'JQHS4274771257925',
  'country': 'Croatia',
  'email': 'jessica62@yahoo.com',
  'first_name': 'Robert',
  'last_name': 'Nguyen'},
 {'account': 'RSLD0426398604312',
  'country': 'Jamaica',
  'email': 'jennifer87@gmail.com',
  'first_name': 'Brandon',
  'last_name': 'Abbott'},
 {'account': 'UYHI6964741005832',
  'country': 'Montserrat',
  'email': 'morenolindsay@bass.org',
  'first_name': 'Bruce',
  'last_name': 'Oneill'},
 {'account': 'ZKTE5908966955533',
  'country': 'Heard Island and McDonald Islands',
  'email': 'robertdavis@hotmail.com',
  'first_name': 'Linda',
  'last_name': 'Nash'},
 {'account': 'HHHP3471562002758',
  'country': 'Niger',
  'email': 'melanie81@rogers.com',
  'first_name': 'Kathleen',
  'last_name': 'Cameron'},
 {'account': 'UWLV6407825245995',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'clineerin@hotmail.com',
  'first_name': 'Wesley',
  'last_name': 'Wilkinson'},
 {'account': 'JRBN0811785293731',
  'country': 'Antigua and Barbuda',
  'email': 'terri95@hotmail.com',
  'first_name': 'Debbie',
  'last_name': 'Wallace'},
 {'account': 'VDWY7565964041116',
  'country': 'Mexico',
  'email': 'danielle65@yahoo.com',
  'first_name': 'Kayla',
  'last_name': 'Woodward'},
 {'account': 'DNRB2101855092009',
  'country': 'Singapore',
  'email': 'sjackson@yahoo.com',
  'first_name': 'Stephanie',
  'last_name': 'Bennett'},
 {'account': 'IILE1765776198023',
  'country': 'Botswana',
  'email': 'douglas63@yahoo.com',
  'first_name': 'Caleb',
  'last_name': 'Jenkins'},
 {'account': 'ZJUF2687631787282',
  'country': 'Guinea',
  'email': 'woodardlindsey@yahoo.com',
  'first_name': 'Valerie',
  'last_name': 'Edwards'},
 {'account': 'DHMT4208071148508',
  'country': 'Chile',
  'email': 'suebrown@yahoo.com',
  'first_name': 'Mary',
  'last_name': 'Anderson'},
 {'account': 'UBRR8524342666714',
  'country': 'Mayotte',
  'email': 'swhite@yahoo.com',
  'first_name': 'Angela',
  'last_name': 'Ray'},
 {'account': 'OGPU6537909247863',
  'country': 'Macedonia',
  'email': 'martinkimberly@lopez.com',
  'first_name': 'Haley',
  'last_name': 'Edwards'},
 {'account': 'AHYX6128839695452',
  'country': 'Ukraine',
  'email': 'jessica11@hotmail.com',
  'first_name': 'Charles',
  'last_name': 'Clark'},
 {'account': 'VUPW6891906300822',
  'country': 'Saint Martin',
  'email': 'hsmith@baker.com',
  'first_name': 'Lisa',
  'last_name': 'Hill'},
 {'account': 'PKFW4841194501766',
  'country': 'Germany',
  'email': 'fklein@yahoo.com',
  'first_name': 'Jonathan',
  'last_name': 'Carpenter'},
 {'account': 'BNYD8693045932496',
  'country': 'Lesotho',
  'email': 'ryan32@skinner.com',
  'first_name': 'Latoya',
  'last_name': 'Griffith'},
 {'account': 'FQJA6381776349463',
  'country': 'Nepal',
  'email': 'tmurphy@flores.biz',
  'first_name': 'Kim',
  'last_name': 'Blair'},
 {'account': 'KCNI2464381879411',
  'country': 'Latvia',
  'email': 'mary64@ray.org',
  'first_name': 'Mary',
  'last_name': 'Salazar'},
 {'account': 'BIGY3006735396533',
  'country': 'Central African Republic',
  'email': 'jennajoseph@yahoo.com',
  'first_name': 'Kenneth',
  'last_name': 'Krueger'},
 {'account': 'CNJX1222752295544',
  'country': 'Peru',
  'email': 'watsonsamuel@gmail.com',
  'first_name': 'Phillip',
  'last_name': 'Burke'},
 {'account': 'ZROP5229895490397',
  'country': 'Spain',
  'email': 'xvelasquez@hughes.com',
  'first_name': 'Erica',
  'last_name': 'Juarez'},
 {'account': 'NXKK2792812848629',
  'country': 'Seychelles',
  'email': 'april99@gmail.com',
  'first_name': 'Jason',
  'last_name': 'Watkins'},
 {'account': 'DPLN5056382218296',
  'country': 'Faroe Islands',
  'email': 'kfletcher@yahoo.com',
  'first_name': 'Lee',
  'last_name': 'Carter'},
 {'account': 'KAOL9792684486009',
  'country': 'Tokelau',
  'email': 'xchurch@hotmail.com',
  'first_name': 'Randy',
  'last_name': 'Huang'},
 {'account': 'WRXW4627191899235',
  'country': 'Cocos (Keeling) Islands',
  'email': 'megan24@stewart.net',
  'first_name': 'Kristina',
  'last_name': 'Owen'},
 {'account': 'OMOK4767172062189',
  'country': 'Burundi',
  'email': 'sydneycollins@hunter.com',
  'first_name': 'Beth',
  'last_name': 'Turner'},
 {'account': 'KRKF7344951038740',
  'country': 'Timor-Leste',
  'email': 'robertbowen@chavez-ortega.com',
  'first_name': 'Michael',
  'last_name': 'Aguirre'},
 {'account': 'SAAA4141150617330',
  'country': 'Montserrat',
  'email': 'christiandanielle@yahoo.com',
  'first_name': 'Elizabeth',
  'last_name': 'Wilson'},
 {'account': 'XNWQ1072087896797',
  'country': 'Norway',
  'email': 'kdavidson@gordon.com',
  'first_name': 'Teresa',
  'last_name': 'Hardy'},
 {'account': 'FTHM1005169617995',
  'country': 'Sierra Leone',
  'email': 'bennettwanda@vega-guerra.net',
  'first_name': 'David',
  'last_name': 'Stewart'},
 {'account': 'OSSM9070924947595',
  'country': 'French Polynesia',
  'email': 'mark00@hotmail.com',
  'first_name': 'Heather',
  'last_name': 'Moore'},
 {'account': 'CFQJ4204773901237',
  'country': 'French Guiana',
  'email': 'schaefernatalie@hotmail.com',
  'first_name': 'Melissa',
  'last_name': 'Grant'},
 {'account': 'MGFG2793756668287',
  'country': 'Cape Verde',
  'email': 'moralesmartin@rodgers.com',
  'first_name': 'Jennifer',
  'last_name': 'Thompson'},
 {'account': 'IGXK5881682171566',
  'country': 'Barbados',
  'email': 'dprince@hotmail.com',
  'first_name': 'Raymond',
  'last_name': 'Anderson'},
 {'account': 'QYBW6359021109484',
  'country': 'Andorra',
  'email': 'cparks@valdez-hudson.com',
  'first_name': 'Angela',
  'last_name': 'Ramsey'},
 {'account': 'UTSI0776569247505',
  'country': 'Montserrat',
  'email': 'martinezrichard@yahoo.com',
  'first_name': 'Betty',
  'last_name': 'Gonzales'},
 {'account': 'LSDI9463735752680',
  'country': 'Egypt',
  'email': 'kpena@yahoo.com',
  'first_name': 'Thomas',
  'last_name': 'Castaneda'},
 {'account': 'ISYY1401931979959',
  'country': 'Malaysia',
  'email': 'julie68@gmail.com',
  'first_name': 'Jonathan',
  'last_name': 'Todd'},
 {'account': 'HNOA0376843856035',
  'country': 'Zimbabwe',
  'email': 'lukebradford@hotmail.com',
  'first_name': 'Stacey',
  'last_name': 'Garcia'},
 {'account': 'EEVV8325881104553',
  'country': 'Portugal',
  'email': 'ystewart@yahoo.com',
  'first_name': 'Judy',
  'last_name': 'Figueroa'},
 {'account': 'QXGZ3111246190069',
  'country': 'Paraguay',
  'email': 'cory33@king-shaw.net',
  'first_name': 'Ashley',
  'last_name': 'Castillo'},
 {'account': 'ACQR2846533122117',
  'country': 'Central African Republic',
  'email': 'zcalhoun@gmail.com',
  'first_name': 'Zachary',
  'last_name': 'Flores'},
 {'account': 'ZAZD8310339637467',
  'country': 'Palau',
  'email': 'michaelhall@hotmail.com',
  'first_name': 'Erica',
  'last_name': 'Allen'},
 {'account': 'ARWK1547324119222',
  'country': 'Micronesia',
  'email': 'kristentaylor@yahoo.com',
  'first_name': 'Savannah',
  'last_name': 'Potts'},
 {'account': 'OMQX4840913072589',
  'country': 'Armenia',
  'email': 'stephen63@yahoo.com',
  'first_name': 'Zachary',
  'last_name': 'Wheeler'},
 {'account': 'OCFV4659464275270',
  'country': 'Bahrain',
  'email': 'bryanmartin@gmail.com',
  'first_name': 'Timothy',
  'last_name': 'Thomas'},
 {'account': 'DTRB4720098955341',
  'country': 'Guatemala',
  'email': 'kristinavelasquez@gmail.com',
  'first_name': 'Ann',
  'last_name': 'Mcknight'},
 {'account': 'YYHM5758234683389',
  'country': 'Saint Vincent and the Grenadines',
  'email': 'denise01@burns.org',
  'first_name': 'Ruth',
  'last_name': 'Thompson'},
 {'account': 'AHBN3151680654826',
  'country': 'Kazakhstan',
  'email': 'beancody@jones.com',
  'first_name': 'Daniel',
  'last_name': 'Levy'},
 {'account': 'FGBC0366153271398',
  'country': 'Germany',
  'email': 'ubradley@yahoo.com',
  'first_name': 'Paul',
  'last_name': 'Hubbard'},
 {'account': 'MHTE8867005510944',
  'country': 'Western Sahara',
  'email': 'anthony75@yahoo.com',
  'first_name': 'Jason',
  'last_name': 'Jones'},
 {'account': 'IYOD4325345823013',
  'country': 'Togo',
  'email': 'antonio52@gmail.com',
  'first_name': 'Margaret',
  'last_name': 'Garcia'},
 {'account': 'NZFX8257739892619',
  'country': 'Guam',
  'email': 'johnlewis@hotmail.com',
  'first_name': 'Jeremy',
  'last_name': 'Peters'},
 {'account': 'MWRB2515761996641',
  'country': 'Kuwait',
  'email': 'nmoore@hotmail.com',
  'first_name': 'Mark',
  'last_name': 'Stone'},
 {'account': 'CURJ9953745256871',
  'country': 'Eritrea',
  'email': 'nchurch@yahoo.com',
  'first_name': 'Darius',
  'last_name': 'Edwards'},
 {'account': 'ATOT8581137487723',
  'country': 'Czech Republic',
  'email': 'piercejenna@gmail.com',
  'first_name': 'Tracy',
  'last_name': 'Lawson'},
 {'account': 'RQGA0882784089265',
  'country': 'Maldives',
  'email': 'ddavidson@hotmail.com',
  'first_name': 'Christina',
  'last_name': 'Cooper'},
 {'account': 'EOPA8088866975598',
  'country': 'Armenia',
  'email': 'ndelacruz@yahoo.com',
  'first_name': 'Megan',
  'last_name': 'Harris'},
 {'account': 'JCUN9597199552039',
  'country': 'Benin',
  'email': 'jenniferadkins@griffin.biz',
  'first_name': 'Timothy',
  'last_name': 'Jones'},
 {'account': 'IZYL3351829981461',
  'country': 'Fiji',
  'email': 'evansmiguel@yahoo.com',
  'first_name': 'Tracie',
  'last_name': 'Burch'},
 {'account': 'JDIH2349154465371',
  'country': 'Iceland',
  'email': 'kenneththompson@baxter.com',
  'first_name': 'Jason',
  'last_name': 'Chung'},
 {'account': 'VRZP1447516193511',
  'country': 'Macedonia',
  'email': 'bcurtis@hotmail.com',
  'first_name': 'Samantha',
  'last_name': 'Melton'},
 {'account': 'QKAF2254397516681',
  'country': 'Serbia',
  'email': 'phillipssean@hotmail.com',
  'first_name': 'Michael',
  'last_name': 'Hansen'}]

In [140]:
students[1]

{'last_name': 'Owens',
 'first_name': 'Jackson',
 'email': 'iedwards@yahoo.com',
 'country': 'Kazakhstan',
 'account': 'FVQZ0955529767455'}

In [142]:
# dict_ex2.py 
# Write a function to convert month number to 
# month name. First use a list and then a dictionary

def ex2(month):
    
    month_dict = {
        1: 'Jan',
        2: 'Feb',
        3: 'Mar',
        4: 'Apr',
        5: 'May',
        6: 'Jun',
        7: 'Jul',
        8: 'Aug',
        9: 'Sep',
        10: 'Oct',
        11: 'Nov',
        12: 'Dec',
    }
    
    return month_dict.get(month, 'Unknown Month')
    
ex2(1)

'Jan'

In [143]:
ex2(0)

'Unknown Month'

In [144]:
ex2(12)

'Dec'

In [145]:
month_dict = {
        1: 'Jan',
        2: 'Feb',
        3: 'Mar',
        4: 'Apr',
        5: 'May',
        6: 'Jun',
        7: 'Jul',
        8: 'Aug',
        9: 'Sep',
        10: 'Oct',
        11: 'Nov',
        12: 'Dec',
    }

In [146]:
values = month_dict.values()
print(values)

dict_values(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])

In [147]:
months = list(values)
months.insert(0, '')
months

['',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [148]:
months[0]

''

In [149]:
months[1]

'Jan'

In [155]:
# dict_ex3.py 
# Convert text message to numbers

# 0 	space
# 1 	., ?, !
# 2 	ABC
# 3 	DEF
# 4 	GHI
# 5 	JKL
# 6 	MNO
# 7 	PQRS
# 8 	TUV
# 9 	WXYZ

lookup = {
    0: ' ',
    1: '.,?!',
    2: 'ABC',
    3: 'DEF',
    4: 'GHI',
    5: 'JKL',
    6: 'MNO',
    7: 'PQRS',
    8: 'TUV',
    9: 'WXYZ'
}

lookup_map = {}

for key, value in lookup.items():
    if value == ' ':
        lookup_map[value] = str(key)
    else:
        for idx, char in enumerate(value, 1):
            lookup_map[char] = idx * str(key)
pprint(lookup_map)

message = 'Hello World!'

coded = ''
for char in message:
    coded += lookup_map.get(char.upper())
print(coded)

{' ': '0',
 '!': '1111',
 ',': '11',
 '.': '1',
 '?': '111',
 'A': '2',
 'B': '22',
 'C': '222',
 'D': '3',
 'E': '33',
 'F': '333',
 'G': '4',
 'H': '44',
 'I': '444',
 'J': '5',
 'K': '55',
 'L': '555',
 'M': '6',
 'N': '66',
 'O': '666',
 'P': '7',
 'Q': '77',
 'R': '777',
 'S': '7777',
 'T': '8',
 'U': '88',
 'V': '888',
 'W': '9',
 'X': '99',
 'Y': '999',
 'Z': '9999'}
44335555556660966677755531111

In [166]:
def simulate_two_dice(no_simulation):
    import random
    theoretical_probabilities = [
        0,
        0,
        1 / 36,
        2 / 36,
        3 / 36,
        4 / 36,
        5 / 36,
        6 / 36,
        5 / 36,
        4 / 36,
        3 / 36,
        2 / 36,
        1 / 36,
    ]
    
    
    observed_two_dice_value = {}
    
    for ele in range(no_simulation):
        dice1 = random.randint(1,6)
        dice2 = random.randint(1,6)
        
        total = dice1 + dice2
        
        if total not in observed_two_dice_value:
            observed_two_dice_value[total] = 0
            
        observed_two_dice_value[total] += 1
        
    for key, value in observed_two_dice_value.items():
        observed_two_dice_value[key] = round(value/no_simulation * 100,2)

    pprint(observed_two_dice_value)
    

simulate_two_dice(1000000)

{2: 2.8,
 3: 5.57,
 4: 8.3,
 5: 11.13,
 6: 13.82,
 7: 16.67,
 8: 13.94,
 9: 11.05,
 10: 8.32,
 11: 5.62,
 12: 2.78}