# Write a function that squares a number and returns the value. Write it again again using Lambda functions

In [3]:
def x2(number):
    return number * number


x2(4)

16

In [4]:
x2_lambda = lambda number: number * number

x2_lambda(4)

16

Exercise 2
Write a lambda function for adding two numbers

In [6]:
def add2(num1, num2):
    return num1 + num2


lambda_add = lambda num1, num2: num1 + num2

lambda_add(2, 4)

6

Write a lambda function that multiples two numbers. Use the lambda function as an input to another function.

In [10]:
lambda_xy = lambda x, y: x * y

def xy(x,y):
    return x * y

def some_function(x, y, func):
    return func(x, y)

print(some_function(26, 2, lambda_xy))
print(some_function(27, 2, xy))

52
54

Exercise 4

    Write a function to double a list

    Use list comprehension to double a list

    Use lambda with map to double a list

In [11]:
my_list = [1, 2, 3]

def list2(input_list):
    output = []
    for ele in input_list:
        output.append(ele*ele)
    return output

list2(my_list)

[1, 4, 9]

In [12]:
[ele* ele for ele in my_list]

[1, 4, 9]

In [37]:
# variation #1
# [1, 2, 3]
lambda_val2 = lambda val: val * val

output = map(lambda_val2, my_list)
print(output)
# map returns a generator. Generators produce values only once

<map object at 0x0000020738816A90>

In [38]:
output = list(output)
print(output)

[1, 4, 9]

In [39]:
for ele in output:
    print(ele)

1
4
9

In [40]:
for ele in output:
    print(ele)

1
4
9

In [33]:
# range returns an iterator which can produce values over and over again!
x = range(3)

for ele in x:
    print(ele)

0
1
2

In [34]:
for ele in x:
    print(ele)

0
1
2

- Iterators produce values that can be used over and over again
- Map and filter return a generator. Generators produce values once
- You persist the values that a generator produces by casting it to data type list: saved = list(map_output)

Capitalize the names in the students list

    using a list and loop

    using list comprehension

    using lambda and map

In [41]:
students = ['john', 'jane', 'doe']

In [42]:
output = []
for student in students:
    output.append(student.capitalize())
print(output)

['John', 'Jane', 'Doe']

In [43]:
[student.capitalize() for student in students]

['John', 'Jane', 'Doe']

In [45]:
lambda_cap = lambda string: string.capitalize()

output = list(map(lambda_cap, students))
print(output)

['John', 'Jane', 'Doe']

In [46]:
my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

tuple(map(lambda ele: {'value': float(ele['value'])}, my_dict))

({'value': 34.4}, {'value': 45.3}, {'value': 73.4})

In [49]:
{ele: (True if ele % 4 == 0 else False) for ele in range(1970, 2000)}

{1970: False,
 1971: False,
 1972: True,
 1973: False,
 1974: False,
 1975: False,
 1976: True,
 1977: False,
 1978: False,
 1979: False,
 1980: True,
 1981: False,
 1982: False,
 1983: False,
 1984: True,
 1985: False,
 1986: False,
 1987: False,
 1988: True,
 1989: False,
 1990: False,
 1991: False,
 1992: True,
 1993: False,
 1994: False,
 1995: False,
 1996: True,
 1997: False,
 1998: False,
 1999: False}

In [50]:
{ele:True for ele in range(1970, 2000) if ele % 4 == 0}

{1972: True,
 1976: True,
 1980: True,
 1984: True,
 1988: True,
 1992: True,
 1996: True}

In [51]:
years = range(1970, 2000) # for these years

def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

my_dict = {}
leap_years = []
for year in years:
    my_dict.update({year: is_leap_year(year)})
    if is_leap_year(year):
        leap_years.append(year)
print(leap_years)

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [52]:
print(my_dict)

{1970: False, 1971: False, 1972: True, 1973: False, 1974: False, 1975: False, 1976: True, 1977: False, 1978: False, 1979: False, 1980: True, 1981: False, 1982: False, 1983: False, 1984: True, 1985: False, 1986: False, 1987: False, 1988: True, 1989: False, 1990: False, 1991: False, 1992: True, 1993: False, 1994: False, 1995: False, 1996: True, 1997: False, 1998: False, 1999: False}

In [55]:


list(filter(lambda year: year % 4 == 0 , range(1970, 2000)))

[1972, 1976, 1980, 1984, 1988, 1992, 1996]

In [57]:
list(filter(lambda year: False , range(1970, 2000)))

[]

In [58]:
x = [22, 9, 14]

sorted(x)

[9, 14, 22]

In [59]:
sorted(x, reverse=True)

[22, 14, 9]

In [64]:
x = ((10,3), (4,5), (3, 4))

sorted(x)

[(3, 4), (4, 5), (10, 3)]

In [65]:
sorted(x, key=lambda ele: ele[1])

[(10, 3), (3, 4), (4, 5)]

In [66]:
x = (('efg', 1), ('abc', 3), ('hij', 2))

sorted(x)

[('abc', 3), ('efg', 1), ('hij', 2)]

In [67]:
sorted(x, key=lambda ele: ele[1])

[('efg', 1), ('hij', 2), ('abc', 3)]

In [68]:
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

sorted(students, key=lambda a_dict: a_dict['username'])

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'doe', 'grade': 35},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50}]

In [69]:
sorted(students, key=lambda a_dict: a_dict['grade'])

[{'username': 'doe', 'grade': 35},
 {'username': 'john', 'grade': 50},
 {'username': 'jane', 'grade': 80},
 {'grade': 89, 'username': 'Kelly'}]

In [70]:
sorted(students, key=lambda a_dict: a_dict['grade'], reverse=True)

[{'grade': 89, 'username': 'Kelly'},
 {'username': 'jane', 'grade': 80},
 {'username': 'john', 'grade': 50},
 {'username': 'doe', 'grade': 35}]

In [71]:
students = ['john', 'Janette', 'doe']

In [72]:
min(students)

'Janette'

In [73]:
min(students, key=lambda student: len(student))

'doe'

In [75]:
my_list = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

In [76]:
max(my_list)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [77]:
max(my_list, key=lambda ele: float(ele['value']))

{'value': '73.4'}

In [78]:
def func(()):
   pass

SyntaxError: invalid syntax (Temp/ipykernel_29852/1277840458.py, line 1)

In [79]:
for index in some_list
    print(index)

SyntaxError: invalid syntax (Temp/ipykernel_29852/2246135109.py, line 1)

In [80]:
def func():
    print(variable)

In [81]:
func()

NameError: name 'variable' is not defined

In [82]:
'3' + 3

TypeError: can only concatenate str (not "int") to str

In [83]:
3 + '3'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
my_list = [1, 2, 3]

In [85]:
my_list[4]

IndexError: list index out of range

In [86]:
int('3')

3

In [87]:
int('3a')

ValueError: invalid literal for int() with base 10: '3a'

In [89]:
student = {'username': 'john', 'grade': 50}
student['class']

KeyError: 'class'

In [90]:
class TestClass:
    class_variable1 = 2

print(TestClass.class_variable1)
print(TestClass.class_variable2)

2

AttributeError: type object 'TestClass' has no attribute 'class_variable2'

In [91]:
x = 'EAS503'
x.lower()

'eas503'

In [92]:
x.bump()

AttributeError: 'str' object has no attribute 'bump'

In [93]:
string = 'test1234'
string.upper()

'TEST1234'

In [94]:
x = [1,2,3]
x.upper()

AttributeError: 'list' object has no attribute 'upper'

In [95]:
raise ValueError('a message')

ValueError: a message

In [96]:
raise ValueError

ValueError:

In [ ]:
if type(height) == int or type(height) == float
if type(height) not in [float, int, list, tuple, dict]:

In [98]:
def calculate_bmi(height, weight):

    if type(height) not in [float, int]:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in [float, int]:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2

In [103]:
calculate_bmi(-6, 160)

ValueError: Height cannot be less than or equal to 0

In [ ]:
def calculate_bmi(height, weight):
    expected_data_types = [float, int]

    if type(height) not in expected_data_types:
        raise TypeError('Height has to be float or an int')

    if type(weight) not in expected_data_types:
        raise TypeError('Weight has to be float or an int')


    if height <= 0:
        raise ValueError('Height cannot be less than or equal to 0')

    if weight <= 0:
        raise ValueError('Weight cannot be less than or equal to 0')

    return 703 * weight / height**2

In [104]:
while True:
    try:
        height = float(input('Please enter height: '))
        weight = float(input('Please enter weight: '))
    except Exception as error:
        print(error)
        print('Please enter a number')
    else:
        print('I run when there is no error')
        break
    finally:
        print('I always run!')

print(calculate_bmi(height, weight))

Please enter height: oo
could not convert string to float: 'oo'
Please enter a number
I always run!
Please enter height: kljsdjfl;asdf
could not convert string to float: 'kljsdjfl;asdf'
Please enter a number
I always run!
Please enter height: d
could not convert string to float: 'd'
Please enter a number
I always run!
Please enter height: 10
Please enter weight: alksdjfsjdfl;
could not convert string to float: 'alksdjfsjdfl;'
Please enter a number
I always run!
Please enter height: 10
Please enter weight: 10
I run when there is no error
I always run!
70.3

In [119]:
student = {'username': 'john', 'grade': 50}

def get_key(some_dict, key, default_value=None):
    try:
        return some_dict[key]
    except KeyError:
        return default_value

SyntaxError: invalid syntax (Temp/ipykernel_29852/2951080860.py, line 6)

In [117]:
print(get_key(student, 'blah', 'Missing'))

Missing

In [118]:
print(get_key(student, 'username', 'Missing'))

john

In [122]:
filename = 'abcd.txt'
try: 
    file = open(filename)  
except OSError: 
    print('OS error')
except FileNotFoundError: 
    print('File not found')

OS error

In [126]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)
    
func(1, 2, 3, 4)

1 2 3 4

In [127]:
def func(toast=0, spam, eggs,ham=0):   # first 2 required
    print (spam, eggs, toast, ham)
    
func(1, 2, 3, 4)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_29852/3303145992.py, line 1)

In [129]:
def func(spam, eggs, toast=0, ham=0):   # first 2 required
    print (spam, eggs, toast, ham)
    
func(1, ham=10, eggs=2)

1 2 0 10

In [130]:
func(eggs=10, spam=1)

1 10 0 0

In [131]:
func(toast=1, eggs=2, spam=3)

3 2 1 0

In [132]:
min(1, 2, 3, 4, 5, 6)

1

In [133]:
def f(a, *args, **kwargs): 
    print(a, args, kwargs)

f(1, 2, 3, x=1, y=2)

1 (2, 3) {'x': 1, 'y': 2}

In [134]:
f(1, 2, 3, 5, 6, 7, 8, 9, x=1, y=2)

1 (2, 3, 5, 6, 7, 8, 9) {'x': 1, 'y': 2}

In [135]:
a, *b = (2, 3, 5, 6, 7, 8, 9)

In [136]:
a

2

In [137]:
b

[3, 5, 6, 7, 8, 9]

In [138]:
a, b = (2, 3, 5, 6, 7, 8, 9)

ValueError: too many values to unpack (expected 2)

In [139]:
a, b, *c = (2, 3, 5, 6, 7, 8, 9)

In [140]:
print(a, b, c)

2 3 [5, 6, 7, 8, 9]

In [141]:
a, b, **c = (2, 3, 5, 6, 7, 8, 9)

SyntaxError: invalid syntax (Temp/ipykernel_29852/2069343285.py, line 1)

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_29852/1350569076.py, line 4)

In [145]:
def f(a, *args, **kwargs): 
    print(a, args, kwargs)

f(1, x=1, y=2, 2, 3 )

SyntaxError: positional argument follows keyword argument (Temp/ipykernel_29852/1380859157.py, line 4)

In [148]:
def func(a, b, c, d):
    print(a, b, c, d)
    
input_args = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5
}

func(**input_args)

TypeError: func() got an unexpected keyword argument 'e'

In [153]:
# a=1
# b=2
# c=3 
# d=4
def func(a, b, c, d, **kwargs):
    print(a, b, c, d, *list(kwargs.values()))
    
input_args = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4,
    'e': 5,
    'f': 6
}

func(**input_args)

1 2 3 4 5 6

In [155]:
def intersect(*args):
    res = []
    for x in args[0]:                  # scan first sequence
        for other in args[1:]:         # for all other args
            if x not in other: break   # item in each one?
        else:                          # no:  break out of loop
            res.append(x)              # yes: add items to end
    return res

def union(*args):
    res = []
    for seq in args:                   # for all args
        for x in seq:                  # for all nodes
            if not x in res:
                res.append(x)          # add new items to result
    return res


s1, s2, s3 = "SPAM", "SCAM", "SLAM"

intersect(s1, s2, s3)

['S', 'A', 'M']

In [ ]:
def intersect(*args):
    # intersect(s1, s2)
    # args = [s1, s2]
    # intersect(s1, s2, s3)
    # args = [s1, s2, s3]
    res = []
    for x in args[0]:                  # scan first sequence
        for other in args[1:]:         # for all other args
            if x not in other: 
                break   # item in each one?
            else:                          # no:  break out of loop
                res.append(x)              # yes: add items to end
    return res

In [156]:
1 = x

SyntaxError: cannot assign to literal (Temp/ipykernel_29852/3270958869.py, line 1)