In [3]:
result = ['student1: B',
'student2: B',
'student3: B',
'student4: A',
'student5: B',
'student6: B',
'student7: D',
'student8: C',
'student9: B',
'student10: A',
'student11: C']

output = ['student1: B', 'student2: B', 'student3: B', 'student4: B', 'student5: B', 'student6: B', 'student7: C', 'student8: C', 'student9: B', 'student10: C', 'student11: C', ]

In [4]:
result == output

False

In [6]:
for idx, value in enumerate(result):
    if value != output[idx]:
        print(idx, value, output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [7]:
for idx in range(len(result)):
    if result[idx] != output[idx]:
        print(idx, result[idx], output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name,
        self.last_name = last_name

In [10]:
from abc import ABC, abstractmethod


class Employee(ABC):
    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [11]:
e1 = Employee('John', 'Doe', '111-22-3333')

In [12]:
e1.earnings()

In [13]:
e1

John Doe
social security: 111-22-3333

In [15]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [16]:
salaried_employee = SalariedEmployee('John', 'Doe', '111-22-3333', 500)

In [17]:
salaried_employee.earnings()

500

In [18]:
salaried_employee

salaried employee: John Doe
social security: 111-22-3333
weekly salary: $500

In [19]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [20]:
hourly_employee = HourlyEmployee('John', 'Doe', '111-22-3333', 25, 45)

In [21]:
hourly_employee.earnings()

1187.5

In [22]:
hourly_employee

hourly employee: John Doe
social security: 111-22-3333
hourly wage: $25; hours worked: 45

In [23]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [24]:
commission_employee = CommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05)

In [25]:
commission_employee.earnings()

50.0

In [26]:
commission_employee

commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05

In [27]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [28]:
base_plus_commission_employee = BasePlusCommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05, 20000)

In [29]:
base_plus_commission_employee.earnings()

20050.0

In [30]:
base_plus_commission_employee

base-salaried commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05; base-salary: $20000

In [31]:
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)


employees = [
    salaried_employee, 
    hourly_employee,
    commission_employee, 
    base_plus_commission_employee
]

for employee in employees:
    print()
    print(employee)
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [32]:
for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [33]:
base_plus_commission_employee + base_plus_commission_employee

TypeError: unsupported operand type(s) for +: 'BasePlusCommissionEmployee' and 'BasePlusCommissionEmployee'

In [34]:
1 + 1

2

In [35]:
1 + 2.5

3.5

In [36]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __repr__(self):
        return "Circle with radius " + str(self.radius)

In [40]:
c1 = Circle(10)
c2 = Circle(15)

In [41]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [46]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    
    def __add__(self, another_circle): # another_circle ---> self + another_circle
        return Circle(self.radius + another_circle.radius)
    
    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius

In [47]:
c1 = Circle(10)
c2 = Circle(15)

c1 + c2

Circle with radius 25

In [48]:
c1 < c2

True

In [49]:
c1 > c2

False

In [50]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def __str__(self):
        return f'{self.x}, {self.y}'

In [51]:
p1 = Point(3, 4)
p2 = Point(8, 6)
print(p2+p1)

11, 10

In [52]:
print(p2-p1)

5, 2

In [53]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

In [54]:
x = range(5)
for i in x:
    print(i)

0
1
2
3
4

In [55]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration

In [56]:
my_range = MyRange(10)

In [57]:
my_range.limit

10

In [58]:
i = iter(my_range)

In [59]:
ii = my_range.__iter__()

In [60]:
id(i)

2549340306448

In [61]:
id(ii)

2549340306448

In [62]:
next(i)

0

In [63]:
next(i)

1

In [64]:
next(i)

2

In [65]:
next(i)

3

In [66]:
i.__next__()

4

In [67]:
i.__next__()

5

In [68]:
i.__next__()

6

In [69]:
i.__next__()

7

In [70]:
i.__next__()

8

In [71]:
i.__next__()

9

In [72]:
i.__next__()

StopIteration:

In [78]:
for value in MyRange(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [79]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration
            
            
for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [80]:
for i in p1:
    print(i)

TypeError: 'Point' object is not iterable

In [82]:
## lets use generator

def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

In [83]:
values = PowX(10, 3)
for ele in values:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [84]:
values

In [85]:
for ele in values:
    print(ele)

In [86]:
values = PowX(10, 3)

In [87]:
values

In [88]:
l = list(values)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [89]:
for e in l:
    print(e)

0
1
8
27
64
125
216
343
512
729

In [90]:
for e in l:
    print(e)

0
1
8
27
64
125
216
343
512
729

In [93]:
filename = 'students.tsv'

students = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        fn, ln, un, e1, e2, e3 = line.strip().split('\t')
        students.append((fn, ln, un, int(e1), int(e2), int(e3)))

for student in students:
    print(student)

('Larson', 'Melissa', 'larsonmeli', 24, 89, 31)
('Novak', 'Melissa', 'novakmeli', 77, 3, 38)
('Sawyer', 'Wendy', 'sawyerwend', 81, 59, 30)
('Schultz', 'Marcus', 'schultzmarc', 59, 29, 67)
('Vega', 'Nicholas', 'veganich', 64, 12, 95)
('Adams', 'Brenda', 'adamsbren', 80, 49, 60)
('Thompson', 'Charlene', 'thompsonchar', 37, 56, 26)
('Booth', 'Bradley', 'boothbrad', 85, 8, 77)
('Gallegos', 'Eugene', 'gallegoseuge', 34, 9, 76)
('Munoz', 'Mary', 'munozmary', 77, 41, 55)
('Carey', 'Kimberly', 'careykimb', 29, 94, 23)
('Paul', 'Philip', 'paulphil', 79, 86, 60)
('Reed', 'Madeline', 'reedmade', 16, 39, 46)
('Parsons', 'Cassie', 'parsonscass', 61, 62, 65)
('Mcclain', 'Glenn', 'mcclainglen', 85, 98, 52)
('Oliver', 'Janice', 'oliverjani', 72, 47, 34)
('Lozano', 'Catherine', 'lozanocath', 71, 19, 94)
('Klein', 'John', 'kleinjohn', 3, 43, 88)
('Brooks', 'Marcus', 'brooksmarc', 6, 81, 70)
('Lee', 'Michael', 'leemich', 30, 54, 25)
('Myers', 'Elizabeth', 'myerseliz', 41, 38, 28)
('Bowen', 'Katherine', 'bowenkath', 57, 61, 34)
('Gibson', 'Edward', 'gibsonedwa', 84, 27, 21)
('Smith', 'Christopher', 'smithchri', 25, 11, 68)
('Key', 'Debra', 'keydebr', 66, 47, 29)
('Fleming', 'Carlos', 'flemingcarl', 50, 45, 93)
('Parrish', 'Nathan', 'parrishnath', 47, 92, 45)
('Lewis', 'Michael', 'lewismich', 73, 65, 98)
('Diaz', 'David', 'diazdavi', 52, 40, 20)
('Walter', 'Linda', 'walterlind', 28, 14, 71)
('Bailey', 'Amanda', 'baileyaman', 27, 4, 38)
('Terrell', 'Robert', 'terrellrobe', 99, 93, 60)
('Johnson', 'Janice', 'johnsonjani', 22, 49, 93)
('Lee', 'John', 'leejohn', 25, 25, 39)
('Dominguez', 'Kathryn', 'dominguezkath', 21, 82, 31)
('Ellis', 'Paige', 'ellispaig', 41, 46, 82)
('Wilkinson', 'Jennifer', 'wilkinsonjenn', 52, 64, 44)
('Rodriguez', 'Michelle', 'rodriguezmich', 94, 24, 50)
('Kennedy', 'Lisa', 'kennedylisa', 93, 19, 48)
('Henderson', 'Michelle', 'hendersonmich', 91, 60, 86)
('Hill', 'James', 'hilljame', 59, 22, 85)
('Jones', 'David', 'jonesdavi', 37, 60, 15)
('Landry', 'Patrick', 'landrypatr', 41, 82, 93)
('Cox', 'Jerome', 'coxjero', 67, 28, 29)
('Santana', 'Linda', 'santanalind', 77, 58, 4)
('Patton', 'Robert', 'pattonrobe', 78, 53, 20)
('Mclean', 'Christopher', 'mcleanchri', 59, 58, 73)
('Rhodes', 'Andre', 'rhodesandr', 53, 9, 82)
('Ramsey', 'John', 'ramseyjohn', 89, 95, 94)
('Martin', 'Paul', 'martinpaul', 15, 11, 12)
('Perez', 'Kelli', 'perezkell', 6, 22, 3)
('Moran', 'Troy', 'morantroy', 61, 21, 45)
('Kerr', 'Sarah', 'kerrsara', 82, 27, 65)
('Wade', 'Stephanie', 'wadestep', 9, 69, 31)
('Smith', 'Rebecca', 'smithrebe', 3, 75, 55)
('Long', 'Joel', 'longjoel', 20, 50, 3)
('Ashley', 'Cody', 'ashleycody', 75, 69, 94)
('Patrick', 'Rachel', 'patrickrach', 16, 20, 80)
('Oliver', 'Alex', 'oliveralex', 61, 22, 6)
('Hoffman', 'Shannon', 'hoffmanshan', 29, 68, 71)
('Holden', 'Michael', 'holdenmich', 57, 23, 53)
('Graham', 'Vanessa', 'grahamvane', 78, 76, 73)
('Blair', 'Christopher', 'blairchri', 70, 97, 27)
('Taylor', 'Diana', 'taylordian', 99, 90, 6)
('Reilly', 'Brandon', 'reillybran', 10, 94, 64)
('Gamble', 'Matthew', 'gamblematt', 48, 50, 26)
('Weber', 'Patrick', 'weberpatr', 87, 33, 92)
('Woodard', 'Judy', 'woodardjudy', 47, 43, 13)
('Hull', 'Alexandra', 'hullalex', 38, 7, 42)
('Frank', 'Jessica', 'frankjess', 95, 87, 92)
('Davis', 'Samuel', 'davissamu', 22, 17, 91)
('Baird', 'Alexandra', 'bairdalex', 32, 90, 71)
('Hensley', 'James', 'hensleyjame', 52, 50, 61)
('Luna', 'Carmen', 'lunacarm', 36, 92, 6)
('Garcia', 'Brian', 'garciabria', 37, 53, 3)
('Andrews', 'Luis', 'andrewsluis', 43, 92, 3)
('Watson', 'Jessica', 'watsonjess', 2, 44, 50)
('Evans', 'Dawn', 'evansdawn', 18, 59, 45)
('Barnes', 'Tammy', 'barnestamm', 54, 53, 71)
('Nelson', 'Angela', 'nelsonange', 33, 63, 66)
('Patterson', 'Jennifer', 'pattersonjenn', 26, 98, 97)
('King', 'Austin', 'kingaust', 64, 89, 59)
('Smith', 'Carol', 'smithcaro', 73, 48, 65)
('Cook', 'Lisa', 'cooklisa', 66, 25, 11)
('Francis', 'Shawn', 'francisshaw', 37, 55, 26)
('Monroe', 'Michael', 'monroemich', 23, 92, 34)
('Cortez', 'Patrick', 'cortezpatr', 18, 22, 2)
('Chang', 'Kristen', 'changkris', 78, 55, 94)
('Mcclain', 'Brandy', 'mcclainbran', 65, 1, 23)
('Sellers', 'Stephanie', 'sellersstep', 11, 83, 76)
('Olsen', 'Mariah', 'olsenmari', 44, 27, 64)
('Melton', 'Brianna', 'meltonbria', 52, 95, 47)
('Day', 'Jon', 'dayjon', 15, 55, 71)
('Little', 'Brian', 'littlebria', 25, 35, 88)
('Johnson', 'Wayne', 'johnsonwayn', 66, 31, 58)
('Duncan', 'Andrew', 'duncanandr', 59, 87, 34)
('Bush', 'Alexander', 'bushalex', 82, 54, 25)
('Summers', 'Michael', 'summersmich', 18, 95, 63)
('Bowers', 'Sandra', 'bowerssand', 52, 8, 50)
('Fernandez', 'Jonathan', 'fernandezjona', 74, 80, 22)

In [94]:
l_func = lambda student: (student[2], student[3])

for ele in map(l_func, students):
    print(ele)

('larsonmeli', 24)
('novakmeli', 77)
('sawyerwend', 81)
('schultzmarc', 59)
('veganich', 64)
('adamsbren', 80)
('thompsonchar', 37)
('boothbrad', 85)
('gallegoseuge', 34)
('munozmary', 77)
('careykimb', 29)
('paulphil', 79)
('reedmade', 16)
('parsonscass', 61)
('mcclainglen', 85)
('oliverjani', 72)
('lozanocath', 71)
('kleinjohn', 3)
('brooksmarc', 6)
('leemich', 30)
('myerseliz', 41)
('bowenkath', 57)
('gibsonedwa', 84)
('smithchri', 25)
('keydebr', 66)
('flemingcarl', 50)
('parrishnath', 47)
('lewismich', 73)
('diazdavi', 52)
('walterlind', 28)
('baileyaman', 27)
('terrellrobe', 99)
('johnsonjani', 22)
('leejohn', 25)
('dominguezkath', 21)
('ellispaig', 41)
('wilkinsonjenn', 52)
('rodriguezmich', 94)
('kennedylisa', 93)
('hendersonmich', 91)
('hilljame', 59)
('jonesdavi', 37)
('landrypatr', 41)
('coxjero', 67)
('santanalind', 77)
('pattonrobe', 78)
('mcleanchri', 59)
('rhodesandr', 53)
('ramseyjohn', 89)
('martinpaul', 15)
('perezkell', 6)
('morantroy', 61)
('kerrsara', 82)
('wadestep', 9)
('smithrebe', 3)
('longjoel', 20)
('ashleycody', 75)
('patrickrach', 16)
('oliveralex', 61)
('hoffmanshan', 29)
('holdenmich', 57)
('grahamvane', 78)
('blairchri', 70)
('taylordian', 99)
('reillybran', 10)
('gamblematt', 48)
('weberpatr', 87)
('woodardjudy', 47)
('hullalex', 38)
('frankjess', 95)
('davissamu', 22)
('bairdalex', 32)
('hensleyjame', 52)
('lunacarm', 36)
('garciabria', 37)
('andrewsluis', 43)
('watsonjess', 2)
('evansdawn', 18)
('barnestamm', 54)
('nelsonange', 33)
('pattersonjenn', 26)
('kingaust', 64)
('smithcaro', 73)
('cooklisa', 66)
('francisshaw', 37)
('monroemich', 23)
('cortezpatr', 18)
('changkris', 78)
('mcclainbran', 65)
('sellersstep', 11)
('olsenmari', 44)
('meltonbria', 52)
('dayjon', 15)
('littlebria', 25)
('johnsonwayn', 66)
('duncanandr', 59)
('bushalex', 82)
('summersmich', 18)
('bowerssand', 52)
('fernandezjona', 74)

In [96]:
sorted(map(l_func, students), key=lambda row: row[1], reverse=True)[:20]

[('terrellrobe', 99),
 ('taylordian', 99),
 ('frankjess', 95),
 ('rodriguezmich', 94),
 ('kennedylisa', 93),
 ('hendersonmich', 91),
 ('ramseyjohn', 89),
 ('weberpatr', 87),
 ('boothbrad', 85),
 ('mcclainglen', 85),
 ('gibsonedwa', 84),
 ('kerrsara', 82),
 ('bushalex', 82),
 ('sawyerwend', 81),
 ('adamsbren', 80),
 ('paulphil', 79),
 ('pattonrobe', 78),
 ('grahamvane', 78),
 ('changkris', 78),
 ('novakmeli', 77)]

In [102]:
exam1 = list((map(lambda row: row[3], students)))
exam1avg = sum(exam1)/len(exam1)
print(exam1avg)

50.01

In [108]:
for ele in map(lambda row: (row[2], row[3]), filter(lambda row: row[3] > 80, students)):
    print(ele)

('sawyerwend', 81)
('boothbrad', 85)
('mcclainglen', 85)
('gibsonedwa', 84)
('terrellrobe', 99)
('rodriguezmich', 94)
('kennedylisa', 93)
('hendersonmich', 91)
('ramseyjohn', 89)
('kerrsara', 82)
('taylordian', 99)
('weberpatr', 87)
('frankjess', 95)
('bushalex', 82)

In [109]:
for ele in map(lambda row: (row[2], row[3]), filter(lambda row:  80 < row[3] < 90, students)):
    print(ele)

('sawyerwend', 81)
('boothbrad', 85)
('mcclainglen', 85)
('gibsonedwa', 84)
('ramseyjohn', 89)
('kerrsara', 82)
('weberpatr', 87)
('bushalex', 82)

In [111]:
len(list(map(lambda row: (row[2], row[3]), filter(lambda row:  80 < row[3], students))))

14

In [112]:
for ele in filter(lambda row: row[1] == 'Melissa', students):
    print(ele)

('Larson', 'Melissa', 'larsonmeli', 24, 89, 31)
('Novak', 'Melissa', 'novakmeli', 77, 3, 38)

In [114]:
for ele in filter(lambda row: row[1] in ['Melissa', 'Stephanie', 'Alex'], students):
    print(ele)

('Larson', 'Melissa', 'larsonmeli', 24, 89, 31)
('Novak', 'Melissa', 'novakmeli', 77, 3, 38)
('Wade', 'Stephanie', 'wadestep', 9, 69, 31)
('Oliver', 'Alex', 'oliveralex', 61, 22, 6)
('Sellers', 'Stephanie', 'sellersstep', 11, 83, 76)

In [115]:
for ele in filter(lambda row: row[1].startswith('Alex'), students):
    print(ele)

('Oliver', 'Alex', 'oliveralex', 61, 22, 6)
('Hull', 'Alexandra', 'hullalex', 38, 7, 42)
('Baird', 'Alexandra', 'bairdalex', 32, 90, 71)
('Bush', 'Alexander', 'bushalex', 82, 54, 25)

In [116]:
for ele in filter(lambda row: 'ath' in row[1], students):
    print(ele)

('Lozano', 'Catherine', 'lozanocath', 71, 19, 94)
('Bowen', 'Katherine', 'bowenkath', 57, 61, 34)
('Parrish', 'Nathan', 'parrishnath', 47, 92, 45)
('Dominguez', 'Kathryn', 'dominguezkath', 21, 82, 31)
('Fernandez', 'Jonathan', 'fernandezjona', 74, 80, 22)

In [120]:
from collections import Counter

c = list((map(lambda row: row[3], students)))

exam = Counter(c)

In [121]:
print(exam)

Counter({52: 5, 59: 4, 37: 4, 77: 3, 61: 3, 41: 3, 25: 3, 66: 3, 78: 3, 18: 3, 64: 2, 85: 2, 29: 2, 16: 2, 3: 2, 6: 2, 57: 2, 47: 2, 73: 2, 99: 2, 22: 2, 15: 2, 82: 2, 24: 1, 81: 1, 80: 1, 34: 1, 79: 1, 72: 1, 71: 1, 30: 1, 84: 1, 50: 1, 28: 1, 27: 1, 21: 1, 94: 1, 93: 1, 91: 1, 67: 1, 53: 1, 89: 1, 9: 1, 20: 1, 75: 1, 70: 1, 10: 1, 48: 1, 87: 1, 38: 1, 95: 1, 32: 1, 36: 1, 43: 1, 2: 1, 54: 1, 33: 1, 26: 1, 23: 1, 65: 1, 11: 1, 44: 1, 74: 1})

In [122]:
from collections import Counter

c = list((map(lambda row: row[1], students)))

names = Counter(c)
print(names)

Counter({'Michael': 5, 'John': 3, 'Christopher': 3, 'Patrick': 3, 'Melissa': 2, 'Marcus': 2, 'Janice': 2, 'David': 2, 'Linda': 2, 'Robert': 2, 'Jennifer': 2, 'Michelle': 2, 'Lisa': 2, 'James': 2, 'Stephanie': 2, 'Alexandra': 2, 'Jessica': 2, 'Brian': 2, 'Wendy': 1, 'Nicholas': 1, 'Brenda': 1, 'Charlene': 1, 'Bradley': 1, 'Eugene': 1, 'Mary': 1, 'Kimberly': 1, 'Philip': 1, 'Madeline': 1, 'Cassie': 1, 'Glenn': 1, 'Catherine': 1, 'Elizabeth': 1, 'Katherine': 1, 'Edward': 1, 'Debra': 1, 'Carlos': 1, 'Nathan': 1, 'Amanda': 1, 'Kathryn': 1, 'Paige': 1, 'Jerome': 1, 'Andre': 1, 'Paul': 1, 'Kelli': 1, 'Troy': 1, 'Sarah': 1, 'Rebecca': 1, 'Joel': 1, 'Cody': 1, 'Rachel': 1, 'Alex': 1, 'Shannon': 1, 'Vanessa': 1, 'Diana': 1, 'Brandon': 1, 'Matthew': 1, 'Judy': 1, 'Samuel': 1, 'Carmen': 1, 'Luis': 1, 'Dawn': 1, 'Tammy': 1, 'Angela': 1, 'Austin': 1, 'Carol': 1, 'Shawn': 1, 'Kristen': 1, 'Brandy': 1, 'Mariah': 1, 'Brianna': 1, 'Jon': 1, 'Wayne': 1, 'Andrew': 1, 'Alexander': 1, 'Sandra': 1, 'Jonathan': 1})