In [14]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'
    
    @property
    def full_name(self):
        return f'{self.last_name}, {self.first_name}'

class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.courses = []
        self.total_credits = 0

    def enroll(self, course):

        if course in self.courses:
            print('Cannot enroll in the same course again')
            return 
            
        # if self.get_total_credits() <= self.MAX_CREDITS:
        #     self.courses.append(course)
        # else:
        #     print('Cannot enroll because you are already at max credits')

        # if self.total_credits <= self.MAX_CREDITS:
        #     self.courses.append(course)
        #     self.total_credits += course.credits
        # else:
        #     print('Cannot enroll because you are already at max credits')

        if self.total_credits + course.credits <= self.MAX_CREDITS:
            self.courses.append(course)
            self.total_credits += course.credits
        else:
            print('Cannot enroll because you are already at max credits')



    # def get_total_credits(self):
    #     total_credits = 0
    #     for course in self.courses:
    #         total_credits += course.credits
    #     return total_credits


    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.courses]))
        print(f'{classes}')



class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
# s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

john doe
Cannot enroll in the same course again
Cannot enroll because you are already at max credits
Chemistry, Math

In [15]:
s1.total_credits

6

In [18]:
class Student(Person):
    PROGRAMS = ['undergraduate', 'graduate']
    MAX_CREDITS = 12
    
    def __init__(self, first_name, last_name, email, program):
        if program.lower() not in self.PROGRAMS:
            raise ValueError(f'Programs can only be {self.PROGRAMS}. You entered: {program}.')
        
        super().__init__(first_name, last_name, email)
        self.program = program.title()
        self.courses = []
        self.total_credits = 0
   
    def __repr__(self):
        return f'{self.first_name} {self.last_name}; {self.program}'
    
    def enroll(self, *courses):
        for course in courses:
            if (self.total_credits + course.credits) > self.MAX_CREDITS:
                print(f'This will put you above {self.MAX_CREDITS} credits')
                return       
            if course not in self.courses:
                self.courses.append(course)
                self.total_credits += course.credits
            else:
                print(f'Already enrolled in {class_name} ')
        
    def print_classes(self):
        print(', '.join([ele.course_name for ele in self.courses]))

In [20]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1, c2, c3, c4)
s1.print_classes()

john doe; Graduate
This will put you above 12 credits
Math, Physics, Chemistry

In [21]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 50
7up: 40

In [22]:
class Beverage:
    def __init__(self, name, temp):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi', 50)
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage.name, beverage.temp)

Coke 60
Pepsi 50
7up 40

In [23]:
class Beverage:
    def __init__(self, name, temp=75):
        self.name = name
        self.temp = temp
        
    def __repr__(self):
        return f'{self.name}: {self.temp}'
        
b1 = Beverage('Coke', 60)
b2 = Beverage('Pepsi')
b3 = Beverage('7up', 40)

beverages = [b1, b2, b3]
for beverage in beverages:
    print(beverage)

Coke: 60
Pepsi: 75
7up: 40

In [24]:
class Logfile:
    def __init__(self, filename):
        self.filename = filename
        
    def open_file(self):
        self.file = open(self.filename, 'w')
        
    def write_row(self, row):
        self.file.write(f'{row.strip()}\n')
        
    def close_file(self):
        self.file.close()
        

        
l1 = Logfile('log1.txt')
l1.open_file()

for row in ['abc', 'efg', 'hij']:
    l1.write_row(row)
    
l1.close_file()

l2 = Logfile('log2.txt')
l2.open_file()

for row in ['ABC', 'EFG', 'DHIJ']:
    l2.write_row(row)
    
l2.close_file()

In [27]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name
        self.last_name = last_name

    def __repr__(self):
        return f'{self.first_name} {self.last_name}'

class Student(Person):
    def __init__(self, first_name, last_name, credit_hours, q_point):
        super().__init__(first_name, last_name)
        self.credit_hours = credit_hours
        self.q_point = q_point
        
    def get_gpa(self):
        return round(self.q_point / self.credit_hours, 2)

    def __repr__(self):
        return super().__repr__() + f"; GPA: {self.get_gpa()}"
    
    
filename = 'data.tsv'

students = []

with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        
        name, credits, q_points = line.strip().split('\t')
        last_name, first_name = name.split(', ')
        
        student = Student(first_name, last_name, int(credits), int(q_points))
        students.append(student)

In [29]:
for student in students:
    print(student)

Samuel Anderson; GPA: 2.62
Jacob Cummings; GPA: 3.41
Walter Sosa; GPA: 2.62
Joel Conway; GPA: 3.23
Andrew Burton; GPA: 2.15
Judith Harris; GPA: 1.83
Abigail Thomas; GPA: 2.61
Sarah Edwards; GPA: 3.31
Jennifer Pratt; GPA: 2.87
Patricia Hess; GPA: 3.1
Brandon Butler; GPA: 3.83
Tammy Williams; GPA: 3.21
Jonathan Williams; GPA: 1.96
Amy Perry; GPA: 2.87
Evelyn Mendez; GPA: 1.54
Elizabeth Jackson; GPA: 2.4
Douglas Cameron; GPA: 2.35
Heather Wright; GPA: 2.38
Mariah Tucker; GPA: 3.11
Rachel Jones; GPA: 2.86
Tommy Hull; GPA: 3.0
Miguel Guerra; GPA: 2.04
Sarah Hernandez; GPA: 2.02
Ellen Cortez; GPA: 3.43
Tracy Lee; GPA: 2.29
Troy Griffith; GPA: 2.07
Ana Torres; GPA: 3.14
Howard Moore; GPA: 2.7
Richard Nelson; GPA: 2.78
Lisa James; GPA: 2.82
Hannah Macias; GPA: 3.76
Richard Rodriguez; GPA: 2.85
Christopher Ho; GPA: 3.0
Raymond Fisher; GPA: 3.25
Gregory Jones; GPA: 3.38
Ashley Davenport; GPA: 2.0
Jamie Peters; GPA: 3.38
Lisa Aguilar; GPA: 3.88
David Bush; GPA: 1.94
Samantha Barr; GPA: 3.5
Steven Gordon; GPA: 2.02
Matthew Jones; GPA: 2.49
Ronald Harris; GPA: 1.55
Brandon Crane; GPA: 3.89
Michael Fry; GPA: 2.27
Monica Mann; GPA: 3.36
Richard Matthews; GPA: 1.93
Jon Perkins; GPA: 3.5
Jasmine Williams; GPA: 1.7
Kristy Rowland; GPA: 3.46
Tanya Montgomery; GPA: 1.63
Steven Mcgee; GPA: 2.0
Amber Aguilar; GPA: 1.81
Jason Stuart; GPA: 2.0
Kyle Humphrey; GPA: 3.81
Christina Stewart; GPA: 3.74
Thomas Roberts; GPA: 3.64
Jason Weber; GPA: 2.39
Karen Lee; GPA: 1.95
Edward Lopez; GPA: 1.86
Kayla Baldwin; GPA: 2.76
Madison Dunn; GPA: 3.11
Sarah Brown; GPA: 2.53
Christina Bowman; GPA: 2.65
Jennifer Vazquez; GPA: 1.5
Emily Mccarthy; GPA: 2.96
Carrie Lewis; GPA: 2.87
Mark Jackson; GPA: 3.48
Julie Weaver; GPA: 3.16
Lauren Torres; GPA: 3.69
Mary Moon; GPA: 3.62
Michelle Church; GPA: 3.75
Laura Haley; GPA: 2.98
Ann Rodriguez; GPA: 2.58
Colleen Gomez; GPA: 2.22
Amy Hunter; GPA: 3.47
Anthony Davis; GPA: 3.48
Dorothy Graves; GPA: 2.12
Phyllis Miller; GPA: 2.61
Robert Burnett; GPA: 1.83
Sophia Haley; GPA: 2.75
Ashley Shaw; GPA: 2.83
Andrew Erickson; GPA: 2.07
Rebecca Weaver; GPA: 3.66
Danielle Young; GPA: 1.71
Carol Howell; GPA: 2.63
Jasmin Stephens; GPA: 2.63
Justin Guerrero; GPA: 3.28
Ashley Aguilar; GPA: 1.61
Kelly Holmes; GPA: 2.13
Erica Fleming; GPA: 1.52
Raymond Christian; GPA: 1.67
Brian Franklin; GPA: 3.0
Ashley James; GPA: 2.62
Christine Johnson; GPA: 3.65
Brian Holland; GPA: 2.44
Rebecca Harrison; GPA: 3.64
Meagan Harrell; GPA: 3.54
Johnny Mitchell; GPA: 1.65
Kevin Cooper; GPA: 2.35

In [33]:
sorted(students, key=lambda x: x.get_gpa())

[Brandon Crane; GPA: 3.89,
 Lisa Aguilar; GPA: 3.88,
 Brandon Butler; GPA: 3.83,
 Kyle Humphrey; GPA: 3.81,
 Hannah Macias; GPA: 3.76,
 Michelle Church; GPA: 3.75,
 Christina Stewart; GPA: 3.74,
 Lauren Torres; GPA: 3.69,
 Rebecca Weaver; GPA: 3.66,
 Christine Johnson; GPA: 3.65,
 Thomas Roberts; GPA: 3.64,
 Rebecca Harrison; GPA: 3.64,
 Mary Moon; GPA: 3.62,
 Meagan Harrell; GPA: 3.54,
 Samantha Barr; GPA: 3.5,
 Jon Perkins; GPA: 3.5,
 Mark Jackson; GPA: 3.48,
 Anthony Davis; GPA: 3.48,
 Amy Hunter; GPA: 3.47,
 Kristy Rowland; GPA: 3.46,
 Ellen Cortez; GPA: 3.43,
 Jacob Cummings; GPA: 3.41,
 Gregory Jones; GPA: 3.38,
 Jamie Peters; GPA: 3.38,
 Monica Mann; GPA: 3.36,
 Sarah Edwards; GPA: 3.31,
 Justin Guerrero; GPA: 3.28,
 Raymond Fisher; GPA: 3.25,
 Joel Conway; GPA: 3.23,
 Tammy Williams; GPA: 3.21,
 Julie Weaver; GPA: 3.16,
 Ana Torres; GPA: 3.14,
 Mariah Tucker; GPA: 3.11,
 Madison Dunn; GPA: 3.11,
 Patricia Hess; GPA: 3.1,
 Tommy Hull; GPA: 3.0,
 Christopher Ho; GPA: 3.0,
 Brian Franklin; GPA: 3.0,
 Laura Haley; GPA: 2.98,
 Emily Mccarthy; GPA: 2.96,
 Jennifer Pratt; GPA: 2.87,
 Amy Perry; GPA: 2.87,
 Carrie Lewis; GPA: 2.87,
 Rachel Jones; GPA: 2.86,
 Richard Rodriguez; GPA: 2.85,
 Ashley Shaw; GPA: 2.83,
 Lisa James; GPA: 2.82,
 Richard Nelson; GPA: 2.78,
 Kayla Baldwin; GPA: 2.76,
 Sophia Haley; GPA: 2.75,
 Howard Moore; GPA: 2.7,
 Christina Bowman; GPA: 2.65,
 Carol Howell; GPA: 2.63,
 Jasmin Stephens; GPA: 2.63,
 Samuel Anderson; GPA: 2.62,
 Walter Sosa; GPA: 2.62,
 Ashley James; GPA: 2.62,
 Abigail Thomas; GPA: 2.61,
 Phyllis Miller; GPA: 2.61,
 Ann Rodriguez; GPA: 2.58,
 Sarah Brown; GPA: 2.53,
 Matthew Jones; GPA: 2.49,
 Brian Holland; GPA: 2.44,
 Elizabeth Jackson; GPA: 2.4,
 Jason Weber; GPA: 2.39,
 Heather Wright; GPA: 2.38,
 Douglas Cameron; GPA: 2.35,
 Kevin Cooper; GPA: 2.35,
 Tracy Lee; GPA: 2.29,
 Michael Fry; GPA: 2.27,
 Colleen Gomez; GPA: 2.22,
 Andrew Burton; GPA: 2.15,
 Kelly Holmes; GPA: 2.13,
 Dorothy Graves; GPA: 2.12,
 Troy Griffith; GPA: 2.07,
 Andrew Erickson; GPA: 2.07,
 Miguel Guerra; GPA: 2.04,
 Sarah Hernandez; GPA: 2.02,
 Steven Gordon; GPA: 2.02,
 Ashley Davenport; GPA: 2.0,
 Steven Mcgee; GPA: 2.0,
 Jason Stuart; GPA: 2.0,
 Jonathan Williams; GPA: 1.96,
 Karen Lee; GPA: 1.95,
 David Bush; GPA: 1.94,
 Richard Matthews; GPA: 1.93,
 Edward Lopez; GPA: 1.86,
 Judith Harris; GPA: 1.83,
 Robert Burnett; GPA: 1.83,
 Amber Aguilar; GPA: 1.81,
 Danielle Young; GPA: 1.71,
 Jasmine Williams; GPA: 1.7,
 Raymond Christian; GPA: 1.67,
 Johnny Mitchell; GPA: 1.65,
 Tanya Montgomery; GPA: 1.63,
 Ashley Aguilar; GPA: 1.61,
 Ronald Harris; GPA: 1.55,
 Evelyn Mendez; GPA: 1.54,
 Erica Fleming; GPA: 1.52,
 Jennifer Vazquez; GPA: 1.5]

In [34]:
max(students, key=lambda x: x.get_gpa())

Brandon Crane; GPA: 3.89

In [35]:
min(students, key=lambda x: x.get_gpa())

Jennifer Vazquez; GPA: 1.5

In [38]:
sum([student.get_gpa() for student in students])/len(students)

2.7124

In [39]:
sum(map(lambda x: x.get_gpa(), students))/len(students)

2.7124

In [41]:
from abc import ABC, abstractmethod


class Employee(ABC):

    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [43]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [44]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [47]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [55]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [57]:
print('Employees processed individually:\n')
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
print(salaried_employee)
print(f'earned: ${salaried_employee.earnings()}')

print()
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
print(hourly_employee)
print(f'earned: ${hourly_employee.earnings()}')

print()
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
print(commission_employee)
print(f'earned: ${commission_employee.earnings()}')


print()
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)
print(base_plus_commission_employee)
print(f'earned: ${base_plus_commission_employee.earnings()}')

Employees processed individually:

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [59]:
employees = [salaried_employee, hourly_employee,
             commission_employee, base_plus_commission_employee]

for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [62]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return round(math.pi * self.radius**2,2)


    def __repr__(self):
        return f"Circle({self.radius})"
    def __str__(self):
        return "Circle with radius " + str(self.radius)

c1 = Circle(10)
c2 = Circle(5)

print(c1)
print(c2)
print(c2.get_area())

Circle with radius 10
Circle with radius 5
78.54

In [63]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [76]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return round(math.pi * self.radius**2,2)

    def __add__(self, right): # other
        # c1 + c2 ==> c2 = right
        return Circle(self.radius + right.radius)

    def __sub__(self, right):
        return Circle(self.radius - right.radius)

    def __repr__(self):
        return f"Circle({self.radius})"
    def __str__(self):
        return "Circle with radius " + str(self.radius)

In [77]:
c1 = Circle(10)
c2 = Circle(5)
c3 = c1 + c2
print(c3.radius)
print(c3.get_area())

15
706.86

In [78]:
print(c1, c2, c1+c2, c1-c2, sep='\n')

Circle with radius 10
Circle with radius 5
Circle with radius 15
Circle with radius 5

In [79]:
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __str__(self):
        return "Circle with radius " + str(self.radius)

    def __add__(self, another_circle):
        return Circle(self.radius + another_circle.radius)

    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius



c1 = Circle(10)
c2 = Circle(5)
print(c1 < c2)

False

In [80]:
print(c1 > c2)

True

In [82]:
print(c1 <= c2)

TypeError: '<=' not supported between instances of 'Circle' and 'Circle'

In [83]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

In [84]:
print(p2.distance(p1))

5.385164807134504

In [87]:
x = [1, 2, 3]

In [88]:
for ele in x:
    print(ele)

1
2
3

In [89]:
range(5)

range(0, 5)

In [107]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit
        self.value = 0

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
            # return self.value
        else:
            raise StopIteration

In [91]:
mr10 = MyRange(10)
i = iter(mr10)
next(i)

0

In [92]:
next(i)

1

In [93]:
next(i)

2

In [94]:
next(i)

3

In [95]:
next(i)

4

In [96]:
next(i)

5

In [97]:
next(i)

6

In [98]:
next(i)

7

In [99]:
next(i)

8

In [100]:
next(i)

9

In [101]:
next(i)

StopIteration:

In [105]:
for ele in mr10:
    print(ele)

0
1
2
3
4
5
6
7
8
9

In [106]:
for ele in mr10:
    print(ele)

0
1
2
3
4
5
6
7
8
9

In [108]:
mr5 = MyRange(5)

In [109]:
for ele in mr5:
    print(ele)

0
1
2
3
4

In [110]:
for ele in mr5:
    print(ele)
# step 1 - call iter

In [111]:
next(mr5)

StopIteration:

In [112]:
mr5.value

5

In [ ]:
for ele in MyClass:

In [119]:
class PowX:

    def __init__(self, start, limit, power):
        self.start = start
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = self.start
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value ** self.power
            self.value += 1
            return output
        else:
            raise StopIteration


p2 = PowX(20, 25, 2)

In [120]:
for val in p2:
    print(val)

400
441
484
529
576

In [124]:
def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

p2 = PowX(5, 2)

In [125]:
for ele in p2:
    print(ele)

0
1
4
9
16

In [126]:
for ele in p2:
    print(ele)

In [123]:
def PowX(limit, power):
    value = 0
    values = []
    while value < limit:
        values.append( value**power)
        value += 1

    return values

PowX(5, 2)

[0, 1, 4, 9, 16]

In [133]:
def collatz(n):  
    count = 0
    while n != 1:
        if n % 2 == 0:
            n = n / 2
        else:
            n = 3 * n + 1
        count += 1
    return count

In [134]:
collatz(12)

9