In [4]:
# function 
def average(numbers): 
  return sum(numbers) / len(numbers)

# data
scores = [80, 90, 95, 92, 85]

# User has to know which data to pass into function
# to get desired output
print(f'The average score is {average(scores)}.')

The average score is 88.4.

In [1]:
x = 'lower'
x.upper()

'LOWER'

In [9]:
class ScoreList():
  def __init__(self, scores):
    self.scores = scores

  def average(self):
    return sum(self.scores) / len(self.scores)

scores = ScoreList([80, 90, 95, 92, 85]) 
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [7]:
scores2 = ScoreList([80, 90, 95, 92, 85, 88, 32, 32]) 
print(f'The final score is {scores2.average()}.')

The final score is 74.25.

In [ ]:
x.lower()

In [11]:
x = 1

In [ ]:
y = [1, 2, 3, 4]

In [15]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

p1 = Point(0, 0)

In [16]:
p2 = Point(10,10)

In [ ]:
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

In [17]:
p1 + p2

TypeError: unsupported operand type(s) for +: 'Point' and 'Point'

In [18]:
p1 * p2

TypeError: unsupported operand type(s) for *: 'Point' and 'Point'

In [19]:
p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

<__main__.Point object at 0x7f823f2b2fc0>
<__main__.Point object at 0x7f823f295790>
False
False

In [20]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

Point(x=10, y=10)
Point(x=10, y=10)
True
False

In [22]:

x = {1:2, 3:4} # dict(1=2, 3=4) Point(1,2)
y = {1:2, 3:4} # dict(1=2, 3=4) Point(1,2)
print(x == y)
print(x is y)

True
False

In [23]:
class ScoreList():
    def __init__(self, scores):
        self.scores = scores

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.')

The final score is 88.4.

In [24]:
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 89.25.

In [26]:
class ScoreList():
    def __init__(self, scores):
        self.scores = tuple(scores)

    def average(self):
        return sum(self.scores) / len(self.scores)

l1 = [80, 90, 95, 92, 85]
scores = ScoreList(l1) 
print(f'The final score is {scores.average()}.') 
l1.pop()
print(f'The final score is {scores.average()}.')

The final score is 88.4.
The final score is 88.4.

In [29]:
class A:
    def __init__(self, value):
        self.value = value
    
    def __repr__(self):
        return f'__repr__: {self.value}'
        
    def __str__(self):
        return f'__str__: {self.value}'

a = A(5)

print(a)

<__main__.A object at 0x7f823f2b21b0>

In [31]:
class A:
    def __init__(self, value):
        self.value = value
    
    def __repr__(self):
        return f'A({self.value})'
        
    def __str__(self):
        return f'Value is: {self.value}'

a = A(5)

print(a)

A(5)

In [32]:
a

A(5)

In [37]:
x = '123\t345'
print(x)

123	345

In [36]:
x

'123\t345'

In [38]:
p1.x

10

In [39]:
p1.y

10

In [40]:
p1.z

AttributeError: 'Point' object has no attribute 'z'

In [42]:
from typing import NamedTuple

class Point(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

Point(x=10, y=10)
Point(x=10, y=10)
True
False

In [43]:
p1.x = 3

AttributeError: can't set attribute

In [44]:
from dataclasses import dataclass

# class Point:
#     def __init__(self, x, y):
#         self.x = x
#         self.y = y

@dataclass
class Point:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Point(10, 10)
p2 = Point(10, 10)
print(p1)
print(p2)
print(p1 == p2)
print(p1 is p2)

x: 10; y: 10
x: 10; y: 10
True
False

In [45]:
from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass
import dataclasses 


Pointnamedtuple = namedtuple('Point', 'x y')


class PointNamedTuple(NamedTuple):
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

@dataclass
class Pointdataclass:
    x: int
    y: int

    def __str__(self):
        return f'x: {self.x}; y: {self.y}'

p1 = Pointnamedtuple(10, 12)
p2 = PointNamedTuple(10, 12)
p3 = Pointdataclass(10, 12)
print(p1._asdict())
print(p2._asdict())
print(dataclasses.asdict(p3))

{'x': 10, 'y': 12}
{'x': 10, 'y': 12}
{'x': 10, 'y': 12}

In [55]:
class Person:
    def __init__(self, first_name, last_name, email):
        self.first_name = first_name
        self.last_name = last_name
        self.email = email

    def __repr__(self):
        return f"Person('{self.first_name}', '{self.last_name}', '{self.email})'"

    def get_full_name(self):
        return f'{self.last_name}, {self.first_name}'
        
    @property
    def full_name(self):
        return f'{self.last_name}, {self.first_name}'

p1 = Person('John', 'Doe', 'jdoe@buffalo.edu')
p1.get_full_name()

'Doe, John'

In [56]:
p1.full_name

'Doe, John'

In [57]:
class Student(Person):
    
    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email) ### 
        self.program = program

In [58]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)

Person('john', 'doe', 'jdoe@example.edu)'

In [60]:
s1.program

'gradUate'

In [61]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program.lower()
        self.classes = []


    def enroll(self, name_of_course):
        self.classes.append(name_of_course)

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

In [62]:
s1 = Student('john', 'doe', 'jdoe@example.edu', 'gradUate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

Person('john', 'doe', 'jdoe@example.edu)'
abc, abc, efg, hij

In [63]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, name_of_course):
        if name_of_course not in self.classes:
            self.classes.append(name_of_course)
        else:
            print(f'Already enrolled in {name_of_course} {self.get_full_name()}!')

    def print_classes(self):
        classes = ', '.join(self.classes)
        print(f'{classes}')

    def print_self(self):
        print(self)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll('abc')
s1.enroll('abc')
s1.enroll('efg')
s1.enroll('hij')
s1.print_classes()

Person('john', 'doe', 'jdoe@example.edu)'
Already enrolled in abc doe, john!
abc, efg, hij

In [64]:
class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'



class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []


    def enroll(self, course):
        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')

c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c2)
s1.enroll(c3)
s1.enroll(c3)
s1.print_classes()

Person('john', 'doe', 'jdoe@example.edu)'
Already enrolled in Chemistry!
Chemistry, Math, Physics

In [ ]:
class Student(Person):
    PROGRAMS = ['graduate', 'undergraduate']
    MAX_CREDITS = 9

    def __init__(self, first_name, last_name, email, program):
        super().__init__(first_name, last_name, email)
        if program.lower() not in self.PROGRAMS:
            raise ValueError('program can only be "graduate" or "undergraduate"')
        self.program = program
        self.classes = []
        self.enrolled_credits = 0

    def enroll(self, course):
        # if self.enrolled_credits < self.MAX_CREDITS:
        #     self.classes.append(course)
        #     self.enrolled_credits += course.credits
        # else:
        #     print('Cannot enroll')
            
        if self.get_total_credits() + course.credits > self.MAX_CREDITS:
            print(f'You will be over the max credits! Cannot add {course}.')
            return

        if course not in self.classes:
            self.classes.append(course)
        else:
            print(f'Already enrolled in {course}!')

    def print_classes(self):
        classes = ', '.join(sorted([i.course_name for i in self.classes]))
        print(f'{classes}')


    def get_total_credits(self):
        total_credits = 0
        for ele in self.classes:
            total_credits += ele.credits
        return total_credits

class Course:
    def __init__(self, course_name, credits):
        self.course_name = course_name
        self.credits = credits

    def __repr__(self):
        return f'{self.course_name}'

    def __str__(self):
        return f'{self.course_name}'


    def get_course_name(self):
        return self.course_name


c1 = Course('Math', 3)
c2 = Course('Physics', 4)
c3 = Course('Chemistry', 3)
c4 = Course('English', 3)

s1 = Student('john', 'doe', 'jdoe@example.edu', 'graduate')
print(s1)
s1.enroll(c1)
s1.enroll(c1)
s1.enroll(c3)
s1.enroll(c4)
s1.enroll(c2)
s1.print_classes()

In [66]:
x = 1

y = [x, 1]

y[0] is x

True

In [67]:
y[1] is x

True

In [68]:
x = [1, 2, 3]
y = x
y is x

True

In [69]:
x = [1, 2, 3] # list(1, 2, 3)
y = [1, 2, 3] # list(1, 2, 3)

y is x

False

In [70]:
x[0] is y[0]

True