In [5]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [6]:
db_file = 'student_test_in_class.db'
conn = create_connection(db_file)
cur = conn.cursor()
cur.execute("SELECT first_name, last_name FROM students")

rows = cur.fetchall()

for row in rows:
    print(row)

('Melissa', 'Larson')
('Melissa', 'Novak')
('Wendy', 'Sawyer')
('Marcus', 'Schultz')
('Nicholas', 'Vega')
('Brenda', 'Adams')
('Charlene', 'Thompson')
('Bradley', 'Booth')
('Eugene', 'Gallegos')
('Mary', 'Munoz')
('Kimberly', 'Carey')
('Philip', 'Paul')
('Madeline', 'Reed')
('Cassie', 'Parsons')
('Glenn', 'Mcclain')
('Janice', 'Oliver')
('Catherine', 'Lozano')
('John', 'Klein')
('Marcus', 'Brooks')
('Michael', 'Lee')
('Elizabeth', 'Myers')
('Katherine', 'Bowen')
('Edward', 'Gibson')
('Christopher', 'Smith')
('Debra', 'Key')
('Carlos', 'Fleming')
('Nathan', 'Parrish')
('Michael', 'Lewis')
('David', 'Diaz')
('Linda', 'Walter')
('Amanda', 'Bailey')
('Robert', 'Terrell')
('Janice', 'Johnson')
('John', 'Lee')
('Kathryn', 'Dominguez')
('Paige', 'Ellis')
('Jennifer', 'Wilkinson')
('Michelle', 'Rodriguez')
('Lisa', 'Kennedy')
('Michelle', 'Henderson')
('James', 'Hill')
('David', 'Jones')
('Patrick', 'Landry')
('Jerome', 'Cox')
('Linda', 'Santana')
('Robert', 'Patton')
('Christopher', 'Mclean')
('Andre', 'Rhodes')
('John', 'Ramsey')
('Paul', 'Martin')
('Kelli', 'Perez')
('Troy', 'Moran')
('Sarah', 'Kerr')
('Stephanie', 'Wade')
('Rebecca', 'Smith')
('Joel', 'Long')
('Cody', 'Ashley')
('Rachel', 'Patrick')
('Alex', 'Oliver')
('Shannon', 'Hoffman')
('Michael', 'Holden')
('Vanessa', 'Graham')
('Christopher', 'Blair')
('Diana', 'Taylor')
('Brandon', 'Reilly')
('Matthew', 'Gamble')
('Patrick', 'Weber')
('Judy', 'Woodard')
('Alexandra', 'Hull')
('Jessica', 'Frank')
('Samuel', 'Davis')
('Alexandra', 'Baird')
('James', 'Hensley')
('Carmen', 'Luna')
('Brian', 'Garcia')
('Luis', 'Andrews')
('Jessica', 'Watson')
('Dawn', 'Evans')
('Tammy', 'Barnes')
('Angela', 'Nelson')
('Jennifer', 'Patterson')
('Austin', 'King')
('Carol', 'Smith')
('Lisa', 'Cook')
('Shawn', 'Francis')
('Michael', 'Monroe')
('Patrick', 'Cortez')
('Kristen', 'Chang')
('Brandy', 'Mcclain')
('Stephanie', 'Sellers')
('Mariah', 'Olsen')
('Brianna', 'Melton')
('Jon', 'Day')
('Brian', 'Little')
('Wayne', 'Johnson')
('Andrew', 'Duncan')
('Alexander', 'Bush')
('Michael', 'Summers')
('Sandra', 'Bowers')
('Jonathan', 'Fernandez')

In [24]:
try:
    conn.close()
except:
    pass

db_file = 'student_test_in_class3.db'
conn = create_connection(db_file)

import os

if os.path.exists(db_file):
    os.remove(db_file)

create_table_sql = """
CREATE TABLE students (
    last_name TEXT,
    first_name TEXT,
    username TEXT,
    exam1 REAL,
    exam2 REAL,
    exam3 REAL
);
"""

def insert_student(conn, values):
    sql = ''' INSERT INTO students(last_name,first_name,username,exam1,exam2,exam3)
              VALUES(?,?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


with conn:
    # create
    create_table(conn, create_table_sql)

    # insert
    for student in open('students.tsv', 'r'):
        values = student.strip().split('\t')
        print(values)
        rid = insert_student(conn, values) ## What is rid?

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'student_test_in_class3.db'

In [18]:
rid

100

In [20]:
conn = create_connection(db_file)

cur = conn.cursor()

cur.execute("SELECT first_name, last_name FROM students")

rows = cur.fetchall()

for row in rows:
    print(row)

OperationalError: no such table: students

In [3]:
import sqlite3
from sqlite3 import Error
import os

def create_connection(db_file):
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)


db = 'depts_students.db'
if os.path.exists(db):
    os.remove(db)
    
    
create_table_departments_sql = """ CREATE TABLE [Departments] (
    [DepartmentId] INTEGER  NOT NULL PRIMARY KEY,
    [DepartmentName] TEXT 
); """

create_table_students_sql = """CREATE TABLE [Students] (
    [StudentId] INTEGER  PRIMARY KEY NOT NULL,
    [StudentName] TEXT NOT NULL,
    [DepartmentId] INTEGER,
    [DateOfBirth] DATE,
    FOREIGN KEY(DepartmentId) REFERENCES Departments(DepartmentId)
);"""


depts = ('IT', 'Physics', 'Arts', 'Math')

students = (
    ('Michael', 1, '1998-10-12'),
    ('John', 1, '1998-10-12'),
    ('Jack', 1, '1998-10-12'),
    ('Sara', 2, '1998-10-12'),
    ('Sally', 2, '1998-10-12'),
    ('Jena', None, '1998-10-12'),
    ('Nancy', 2, '1998-10-12'),
    ('Adam', 3, '1998-10-12'),
    ('Stevens', 3, '1998-10-12'),
    ('George', None, '1998-10-12')
)

def insert_depts(conn, values):
    sql = ''' INSERT INTO Departments(DepartmentName)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


def insert_student(conn, values):
    sql = ''' INSERT INTO Students(StudentName, DepartmentId, DateOfBirth)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


conn = create_connection(db)

with conn:

    create_table(conn, create_table_departments_sql)
    create_table(conn, create_table_students_sql)
    for values in depts:
        insert_depts(conn, (values, ))
        
    for values in students:
        insert_student(conn, values)

In [10]:
conn.close()

In [19]:
db = 'depts_students.db'
if os.path.exists(db):
    os.remove(db)

depts = ('IT', 'Physics', 'Arts', 'Math')

create_table_departments_sql = """ CREATE TABLE [Departments] (
    [DepartmentId] INTEGER NOT NULL PRIMARY KEY,
    [DepartmentName] TEXT 
); """



def insert_depts(conn, values):
    sql = ''' INSERT INTO Departments(DepartmentName)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

conn = create_connection(db)

with conn:

    create_table(conn, create_table_departments_sql)
    create_table(conn, create_table_students_sql)
    for idx, values in enumerate(depts, 100):
        val = insert_depts(conn, (idx, values))
        print(val)

100
101
102
103

In [20]:
conn.close()

In [23]:

cur = conn.cursor()
cur.execute('SELECT * FROM Departments')
for row in cur.fetchall():  
    print(row)

(100, 'IT')
(101, 'Physics')
(102, 'Arts')
(103, 'Math')

In [24]:
for row in cur.fetchall():
    print(row)

In [25]:
cur.execute('SELECT * FROM Departments')
print(cur.fetchone())
print(cur.fetchone())
print(cur.fetchone())
print(cur.fetchone())
print(cur.fetchone())

(100, 'IT')
(101, 'Physics')
(102, 'Arts')
(103, 'Math')
None

In [26]:
cur.execute('SELECT * FROM Departments')
dept_fk_lookup = {}
for row in cur.fetchall():
    key, text = row
    dept_fk_lookup[text] = key
print(dept_fk_lookup)

{'IT': 100, 'Physics': 101, 'Arts': 102, 'Math': 103}

In [27]:
conn.close()

In [31]:
db = 'depts_students3.db'
if os.path.exists(db):
    os.remove(db)
conn = create_connection(db)
create_table_departments_sql = """ CREATE TABLE [Departments] (
    [DepartmentId] INTEGER  NOT NULL PRIMARY KEY,
    [DepartmentName] TEXT 
); """

create_table_students_sql = """CREATE TABLE [Students] (
    [StudentId] INTEGER  PRIMARY KEY NOT NULL,
    [StudentName] TEXT NOT NULL,
    [DepartmentId] INTEGER,
    [DateOfBirth] DATE,
    FOREIGN KEY(DepartmentId) REFERENCES Departments(DepartmentId)
);"""

depts = ('IT', 'Physics', 'Arts', 'Math')
students = (
    ('Michael', 'IT', '1998-10-12'),
    ('John', 'IT', '1998-10-12'),
    ('Jack', 'IT', '1998-10-12'),
    ('Sara', 'Physics', '1998-10-12'),
    ('Sally', 'Physics', '1998-10-12'),
    ('Jena', None, '1998-10-12'),
    ('Nancy', 'Physics', '1998-10-12'),
    ('Adam', 'Arts', '1998-10-12'),
    ('Stevens', 'Arts', '1998-10-12'),
    ('George', None, '1998-10-12')
)

def insert_depts(conn, values):
    sql = ''' INSERT INTO Departments(DepartmentName)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid

with conn:

    create_table(conn, create_table_departments_sql)
    create_table(conn, create_table_students_sql)
    for values in depts:
        insert_depts(conn, (values, ))
        
    for values in students:
        values = list(values)
        print('BEFORE', values)
        key = values[1]
        print('key', key)
        if key:
            values[1] = dept_fk_lookup[values[1]]
        print('AFTER',values)
        insert_student(conn, values)

BEFORE ['Michael', 'IT', '1998-10-12']
key IT
AFTER ['Michael', 100, '1998-10-12']
BEFORE ['John', 'IT', '1998-10-12']
key IT
AFTER ['John', 100, '1998-10-12']
BEFORE ['Jack', 'IT', '1998-10-12']
key IT
AFTER ['Jack', 100, '1998-10-12']
BEFORE ['Sara', 'Physics', '1998-10-12']
key Physics
AFTER ['Sara', 101, '1998-10-12']
BEFORE ['Sally', 'Physics', '1998-10-12']
key Physics
AFTER ['Sally', 101, '1998-10-12']
BEFORE ['Jena', None, '1998-10-12']
key None
AFTER ['Jena', None, '1998-10-12']
BEFORE ['Nancy', 'Physics', '1998-10-12']
key Physics
AFTER ['Nancy', 101, '1998-10-12']
BEFORE ['Adam', 'Arts', '1998-10-12']
key Arts
AFTER ['Adam', 102, '1998-10-12']
BEFORE ['Stevens', 'Arts', '1998-10-12']
key Arts
AFTER ['Stevens', 102, '1998-10-12']
BEFORE ['George', None, '1998-10-12']
key None
AFTER ['George', None, '1998-10-12']

In [2]:
import pandas as pd
import sqlite3
from sqlite3 import Error

def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn


def create_table(conn, create_table_sql):
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)
        
def execute_sql_statement(sql_statement, conn):
    cur = conn.cursor()
    cur.execute(sql_statement)

    rows = cur.fetchall()

    return rows

In [3]:
conn = create_connection('india_export.db')

sql_statement = "SELECT DISTINCT year from export ORDER BY year"

years = execute_sql_statement(sql_statement, conn)
# years = list(map(lambda row: int(row[0]), years))
# print(years)

In [4]:
years

[(2010,),
 (2011,),
 (2012,),
 (2013,),
 (2014,),
 (2015,),
 (2016,),
 (2017,),
 (2018,)]

In [5]:
yrs = list(map(lambda row: int(row[0]), years))

In [6]:
yrs

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]

In [7]:
create_table_sql = """CREATE TABLE [Year] (
    [YEAR] INTEGER NOT NULL PRIMARY KEY
);
"""
# conn_norm.close()

conn_norm = create_connection('india_export_norm.db', True)
create_table(conn_norm, create_table_sql)
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)
conn_norm.close()

Empty DataFrame
Columns: [YEAR]
Index: []

In [8]:
def insert_year(conn, values):
    sql = ''' INSERT INTO YEAR(YEAR)
              VALUES(?) '''
    cur = conn.cursor()
    cur.execute(sql, values)
    return cur.lastrowid


conn_norm = create_connection('india_export_norm.db')


with conn_norm:
    for year in years:
        insert_year(conn_norm, year)

In [9]:
sql_statement = "SELECT * FROM Year"
df = pd.read_sql_query(sql_statement, conn_norm)
display(df)

   YEAR
0  2010
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017
8  2018

In [ ]:
[First Name] ==> FirstName