In [1]:
x = 1
y = 2

y, x = x, y

In [2]:
print(x, y)

2 1

In [3]:
5/4*(2+9)

13.75

In [4]:
5--6

11

In [5]:
'%s %d %f' % ('PI', 3, 3.14)

'PI 3 3.140000'

In [6]:
'%d %d %f' % ('PI', 3, 3.14)

TypeError: %d format: a number is required, not str

In [16]:
str_template = '{1}, {0}'

In [17]:
str_template.format(3, 'PI')

'PI, 3'

In [9]:
str_template.format('BAT', 'PI')

'BAT, PI'

In [ ]:
Over here format is function?
and str_template.format() is method?
also, what is data type of 3 here?

In [10]:
str_template

'{}, {}'

In [ ]:
str_template.format()

In [11]:
str_template

'{}, {}'

In [14]:
str_template = "{}, ''{}"

In [15]:
str_template

"{}, ''{}"

In [18]:
PI = 3.14159265359 
name = 'PI'
# {<name_of_variable>:<format-specifier>} where the format specifier is <width>.<precision><type>

In [19]:
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [20]:
print(f'{name} is {PI:.4f}') # newest way

PI is 3.1416

In [21]:
print(f'{name} is {PI:.2d}') # newest way

ValueError: Unknown format code 'd' for object of type 'float'

In [22]:
a_str = 'EAS503'
an_int = 113
a_float = 92.3
print(a_str, an_int, a_float)

EAS503 113 92.3

In [23]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2
print(lines)

This is the first line.
This is the second line.

In [24]:
lines

'This is the first line.\nThis is the second line.'

In [25]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)

f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [27]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
print(str_format)

The course number is EAS503. It has 113 students.

In [28]:
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
print(str_format)

The course number is EAS503. It has 113 students.

In [29]:
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [34]:
print(f'{course_number:4}; blah')

EAS503; blah

In [37]:
2EAS

SyntaxError: invalid syntax (803047750.py, line 1)

In [38]:
'2EAS'

'2EAS'

In [48]:
x = 2222

In [53]:
print(f'{x:+>8};blah')

++++2222;blah

In [57]:
pad_char = '+'
width = 30
align = '>'

print(f'{x:{pad_char}{align}{width}};blah')

++++++++++++++++++++++++++2222;blah

In [63]:
def my_print(string, pad_char, align, width):
    string = f'{string:{pad_char}{align}{width}}'
    return string

In [65]:
a = my_print('2222', '-', '^', 16)

In [66]:
len(a)

16

In [67]:
print(a)

------2222------

In [70]:
print(f'{max(2,3)}')

3

In [71]:
x = 1
y = 2

print(f'x={x}, y={y}, x + y = {x + y}')

x=1, y=2, x + y = 3

In [73]:
print(f'{5:9>9}')

999999995

In [74]:
f'{3.5:.0f}'

'4'

In [75]:
f'{4.5:.0f}'

'4'

In [76]:
f'{2.675:.2f}'

'2.67'

In [81]:
round(4.50, 4)

4.5

In [82]:
f'{4.5:.4f}'

'4.5000'

In [87]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
x = 1
y = 2
x
y

1

2

In [85]:
x
y

1

2

In [86]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [120]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'

In [114]:
len(title)

63

In [115]:
print(title)

|                    Cereal Yields (kg/ha)                    |

In [97]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4

In [98]:
print(line)

+---------------+--------+--------+--------+--------+

In [99]:
('-'*8 + '+') * 4

'--------+--------+--------+--------+'

In [101]:
row = '| {:<13} |' + ' {:6,d} |'*4

In [102]:
' {:6,d} |'*4

' {:6,d} | {:6,d} | {:6,d} | {:6,d} |'

In [103]:
row

'| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |'

In [104]:
row.format('China', 2937, 4321, 4752, 5527)

'| China         |  2,937 |  4,321 |  4,752 |  5,527 |'

In [105]:
 row.format('Germany', 4225, 5411, 6453, 6718),

('| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |',)

In [108]:
header = '| {:^13} |'.format('Country') + (' {:^6} |'*4).format(1980, 1990,
                                                                  2000, 2010)

In [109]:
header

'|    Country    |  1980  |  1990  |  2000  |  2010  |'

In [110]:
'-'*(len(title)-2)

'---------------------------------------------------'

In [111]:
print(title)

|               Cereal Yields (kg/ha)               |

In [117]:
top = '+' + '-'*(len(title)-2) + '+'

In [118]:
print(top, title, sep='\n')

+-------------------------------------------------------------+
|                    Cereal Yields (kg/ha)                    |

In [121]:
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [122]:
x = 'browning'

In [124]:
'abc dfg'.capitalize()

'Abc dfg'

In [125]:
str.capitalize('browning')

'Browning'

In [126]:
my_string = '   ABBCCC  '
print(my_string, 'Dummy')
print(my_string.strip(), 'Dummy')

   ABBCCC   Dummy
ABBCCC Dummy

In [127]:
my_string = '   ABBCCC  '
print(my_string.strip(), 'Dummy')

ABBCCC Dummy

In [128]:
my_string = '   ABBCCC  '
print(my_string.strip(' '), 'Dummy')

ABBCCC Dummy

In [145]:
my_string = '   ABBCCC  '
print(my_string.strip('A'), 'Dummy')

   ABBCCC   Dummy

In [130]:
my_string = 'AAAABBCCC  '
print(my_string.strip('A'), 'Dummy')

BBCCC   Dummy

In [131]:
x = ' a b \t ajlksdf\n'

In [132]:
print(x)

 a b 	 ajlksdf

In [133]:
print(x.strip())

a b 	 ajlksdf

In [136]:
my_string = 'eas503'
print(my_string.islower())

True

In [137]:
my_string

'eas503'

In [138]:
my_string = ' ABCDFD   \t'

In [139]:
print(my_string)

 ABCDFD

In [140]:
print(my_string.strip(), 'a')

ABCDFD a

In [141]:
my_string

' ABCDFD   \t'

In [144]:
'ABBC'.strip('A')

'BBC'