In [12]:
filename = 'PatientCorePopulatedTable.csv'

rows = []
header = None
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line: 
            continue
        if not header:
            header = True
            continue
            
        ptid, _, _, race, status, _, poverty = line.split('\t')
        if ((race == 'White' and status == 'Married') or (race == 'African American' and status == 'Married')) and \
            float(poverty) > 15:
            
            rows.append((ptid, race, status, float(poverty)))

In [13]:
for idx, ele in enumerate(rows, 1):
    print(idx, ele)

1 ('6E70D84D-C75F-477C-BC37-9177C3698C66', 'White', 'Married', 16.09)
2 ('C8556CC0-32FC-4CA5-A8CD-9CCF38816167', 'White', 'Married', 18.2)
3 ('B39DC5AC-E003-4E6A-91B6-FC07625A1285', 'White', 'Married', 15.31)
4 ('25B786AF-0F99-478C-9CFA-0EA607E45834', 'White', 'Married', 93.6)
5 ('81C5B13B-F6B2-4E57-9593-6E7E4C13B2CE', 'White', 'Married', 19.22)
6 ('69B5D2A0-12FD-46EF-A5FF-B29C4BAFBE49', 'White', 'Married', 18.65)
7 ('9BBF3A51-443D-438B-9289-B98B8E0577C0', 'White', 'Married', 16.76)
8 ('49DADA25-F2C2-42BB-8210-D78E6C7B0D48', 'African American', 'Married', 19.5)
9 ('2EE42DEF-37CA-4694-827E-FA4EAF882BFC', 'White', 'Married', 18.91)
10 ('C65A4ADE-112E-49E4-B72A-0DED22C242ED', 'White', 'Married', 19.66)
11 ('80AC01B2-BD55-4BE0-A59A-4024104CF4E9', 'African American', 'Married', 19.74)
12 ('0E0EADE8-5592-4E0B-9F88-D7596E32EE08', 'White', 'Married', 18.8)
13 ('BC44CE19-9FC5-4AC9-A296-9EBC5E3D03AE', 'African American', 'Married', 15.04)
14 ('3E462A8F-7B90-43A1-A8B6-AD82CB5002C9', 'White', 'Married', 18.33)

In [15]:
sorted(rows, key=lambda row: row[-1], reverse=True)

[('25B786AF-0F99-478C-9CFA-0EA607E45834', 'White', 'Married', 93.6),
 ('80AC01B2-BD55-4BE0-A59A-4024104CF4E9',
  'African American',
  'Married',
  19.74),
 ('C65A4ADE-112E-49E4-B72A-0DED22C242ED', 'White', 'Married', 19.66),
 ('49DADA25-F2C2-42BB-8210-D78E6C7B0D48', 'African American', 'Married', 19.5),
 ('81C5B13B-F6B2-4E57-9593-6E7E4C13B2CE', 'White', 'Married', 19.22),
 ('2EE42DEF-37CA-4694-827E-FA4EAF882BFC', 'White', 'Married', 18.91),
 ('0E0EADE8-5592-4E0B-9F88-D7596E32EE08', 'White', 'Married', 18.8),
 ('69B5D2A0-12FD-46EF-A5FF-B29C4BAFBE49', 'White', 'Married', 18.65),
 ('3E462A8F-7B90-43A1-A8B6-AD82CB5002C9', 'White', 'Married', 18.33),
 ('C8556CC0-32FC-4CA5-A8CD-9CCF38816167', 'White', 'Married', 18.2),
 ('9BBF3A51-443D-438B-9289-B98B8E0577C0', 'White', 'Married', 16.76),
 ('6E70D84D-C75F-477C-BC37-9177C3698C66', 'White', 'Married', 16.09),
 ('B39DC5AC-E003-4E6A-91B6-FC07625A1285', 'White', 'Married', 15.31),
 ('BC44CE19-9FC5-4AC9-A296-9EBC5E3D03AE',
  'African American',
  'Married',
  15.04)]

In [16]:
sorted(rows, key=lambda row: (row[2], [3]), reverse=True)

[('6E70D84D-C75F-477C-BC37-9177C3698C66', 'White', 'Married', 16.09),
 ('C8556CC0-32FC-4CA5-A8CD-9CCF38816167', 'White', 'Married', 18.2),
 ('B39DC5AC-E003-4E6A-91B6-FC07625A1285', 'White', 'Married', 15.31),
 ('25B786AF-0F99-478C-9CFA-0EA607E45834', 'White', 'Married', 93.6),
 ('81C5B13B-F6B2-4E57-9593-6E7E4C13B2CE', 'White', 'Married', 19.22),
 ('69B5D2A0-12FD-46EF-A5FF-B29C4BAFBE49', 'White', 'Married', 18.65),
 ('9BBF3A51-443D-438B-9289-B98B8E0577C0', 'White', 'Married', 16.76),
 ('49DADA25-F2C2-42BB-8210-D78E6C7B0D48', 'African American', 'Married', 19.5),
 ('2EE42DEF-37CA-4694-827E-FA4EAF882BFC', 'White', 'Married', 18.91),
 ('C65A4ADE-112E-49E4-B72A-0DED22C242ED', 'White', 'Married', 19.66),
 ('80AC01B2-BD55-4BE0-A59A-4024104CF4E9',
  'African American',
  'Married',
  19.74),
 ('0E0EADE8-5592-4E0B-9F88-D7596E32EE08', 'White', 'Married', 18.8),
 ('BC44CE19-9FC5-4AC9-A296-9EBC5E3D03AE',
  'African American',
  'Married',
  15.04),
 ('3E462A8F-7B90-43A1-A8B6-AD82CB5002C9', 'White', 'Married', 18.33)]

In [17]:
filename = 'PatientCorePopulatedTable.csv'

rows = []
header = None
with open(filename) as file:
    for line in file:
        line = line.strip()
        if not line: 
            continue
        if not header:
            header = True
            continue
            
        ptid, _, _, race, status, _, poverty = line.split('\t')
        
            
        rows.append((status, float(poverty)))

In [18]:
rows

[('Married', 18.08),
 ('Separated', 13.03),
 ('Married', 6.67),
 ('Married', 16.09),
 ('Married', 18.2),
 ('Married', 12.41),
 ('Married', 12.8),
 ('Married', 15.31),
 ('Single', 16.32),
 ('Single', 11.43),
 ('Married', 11.25),
 ('Divorced', 83.75),
 ('Single', 14.28),
 ('Married', 11.89),
 ('Single', 94.0),
 ('Married', 12.01),
 ('Unknown', 16.89),
 ('Single', 1.7),
 ('Married', 93.6),
 ('Single', 15.72),
 ('Single', 13.1),
 ('Married', 14.87),
 ('Single', 13.97),
 ('Married', 19.22),
 ('Married', 16.71),
 ('Single', 7.59),
 ('Married', 18.05),
 ('Single', 16.24),
 ('Single', 14.49),
 ('Single', 11.16),
 ('Divorced', 14.07),
 ('Married', 17.72),
 ('Married', 18.65),
 ('Married', 4.34),
 ('Widowed', 88.66),
 ('Married', 16.76),
 ('Married', 14.81),
 ('Single', 16.86),
 ('Married', 19.5),
 ('Married', 14.03),
 ('Unknown', 82.08),
 ('Single', 18.88),
 ('Single', 19.52),
 ('Unknown', 15.02),
 ('Separated', 10.8),
 ('Single', 16.88),
 ('Divorced', 19.41),
 ('Divorced', 18.17),
 ('Married', 10.87),
 ('Married', 3.3),
 ('Married', 4.51),
 ('Married', 5.94),
 ('Married', 8.81),
 ('Divorced', 14.58),
 ('Married', 13.23),
 ('Single', 18.36),
 ('Single', 15.98),
 ('Single', 14.99),
 ('Single', 89.44),
 ('Unknown', 18.95),
 ('Married', 18.91),
 ('Single', 15.56),
 ('Married', 10.3),
 ('Single', 11.15),
 ('Married', 19.66),
 ('Married', 19.74),
 ('Married', 94.06),
 ('Single', 16.69),
 ('Single', 16.43),
 ('Married', 10.35),
 ('Married', 18.8),
 ('Unknown', 19.16),
 ('Married', 14.2),
 ('Single', 18.41),
 ('Single', 12.86),
 ('Divorced', 88.65),
 ('Married', 17.84),
 ('Single', 12.92),
 ('Divorced', 19.49),
 ('Married', 15.04),
 ('Married', 14.15),
 ('Separated', 98.4),
 ('Married', 18.33),
 ('Single', 15.24),
 ('Divorced', 19.52),
 ('Divorced', 6.48),
 ('Married', 9.1),
 ('Married', 15.11),
 ('Married', 19.46),
 ('Married', 13.9),
 ('Separated', 19.36),
 ('Single', 11.04),
 ('Single', 93.23),
 ('Married', 18.05),
 ('Divorced', 11.88),
 ('Unknown', 12.38),
 ('Divorced', 11.08),
 ('Single', 14.49),
 ('Separated', 17.98),
 ('Single', 14.9)]

In [21]:
sorted(rows, key=lambda row: (row[0], row[1]))

[('Divorced', 6.48),
 ('Divorced', 11.08),
 ('Divorced', 11.88),
 ('Divorced', 14.07),
 ('Divorced', 14.58),
 ('Divorced', 18.17),
 ('Divorced', 19.41),
 ('Divorced', 19.49),
 ('Divorced', 19.52),
 ('Divorced', 83.75),
 ('Divorced', 88.65),
 ('Married', 3.3),
 ('Married', 4.34),
 ('Married', 4.51),
 ('Married', 5.94),
 ('Married', 6.67),
 ('Married', 8.81),
 ('Married', 9.1),
 ('Married', 10.3),
 ('Married', 10.35),
 ('Married', 10.87),
 ('Married', 11.25),
 ('Married', 11.89),
 ('Married', 12.01),
 ('Married', 12.41),
 ('Married', 12.8),
 ('Married', 13.23),
 ('Married', 13.9),
 ('Married', 14.03),
 ('Married', 14.15),
 ('Married', 14.2),
 ('Married', 14.81),
 ('Married', 14.87),
 ('Married', 15.04),
 ('Married', 15.11),
 ('Married', 15.31),
 ('Married', 16.09),
 ('Married', 16.71),
 ('Married', 16.76),
 ('Married', 17.72),
 ('Married', 17.84),
 ('Married', 18.05),
 ('Married', 18.05),
 ('Married', 18.08),
 ('Married', 18.2),
 ('Married', 18.33),
 ('Married', 18.65),
 ('Married', 18.8),
 ('Married', 18.91),
 ('Married', 19.22),
 ('Married', 19.46),
 ('Married', 19.5),
 ('Married', 19.66),
 ('Married', 19.74),
 ('Married', 93.6),
 ('Married', 94.06),
 ('Separated', 10.8),
 ('Separated', 13.03),
 ('Separated', 17.98),
 ('Separated', 19.36),
 ('Separated', 98.4),
 ('Single', 1.7),
 ('Single', 7.59),
 ('Single', 11.04),
 ('Single', 11.15),
 ('Single', 11.16),
 ('Single', 11.43),
 ('Single', 12.86),
 ('Single', 12.92),
 ('Single', 13.1),
 ('Single', 13.97),
 ('Single', 14.28),
 ('Single', 14.49),
 ('Single', 14.49),
 ('Single', 14.9),
 ('Single', 14.99),
 ('Single', 15.24),
 ('Single', 15.56),
 ('Single', 15.72),
 ('Single', 15.98),
 ('Single', 16.24),
 ('Single', 16.32),
 ('Single', 16.43),
 ('Single', 16.69),
 ('Single', 16.86),
 ('Single', 16.88),
 ('Single', 18.36),
 ('Single', 18.41),
 ('Single', 18.88),
 ('Single', 19.52),
 ('Single', 89.44),
 ('Single', 93.23),
 ('Single', 94.0),
 ('Unknown', 12.38),
 ('Unknown', 15.02),
 ('Unknown', 16.89),
 ('Unknown', 18.95),
 ('Unknown', 19.16),
 ('Unknown', 82.08),
 ('Widowed', 88.66)]

In [22]:
sorted(rows, key=lambda row: (row[0], -1*row[1]))

[('Divorced', 88.65),
 ('Divorced', 83.75),
 ('Divorced', 19.52),
 ('Divorced', 19.49),
 ('Divorced', 19.41),
 ('Divorced', 18.17),
 ('Divorced', 14.58),
 ('Divorced', 14.07),
 ('Divorced', 11.88),
 ('Divorced', 11.08),
 ('Divorced', 6.48),
 ('Married', 94.06),
 ('Married', 93.6),
 ('Married', 19.74),
 ('Married', 19.66),
 ('Married', 19.5),
 ('Married', 19.46),
 ('Married', 19.22),
 ('Married', 18.91),
 ('Married', 18.8),
 ('Married', 18.65),
 ('Married', 18.33),
 ('Married', 18.2),
 ('Married', 18.08),
 ('Married', 18.05),
 ('Married', 18.05),
 ('Married', 17.84),
 ('Married', 17.72),
 ('Married', 16.76),
 ('Married', 16.71),
 ('Married', 16.09),
 ('Married', 15.31),
 ('Married', 15.11),
 ('Married', 15.04),
 ('Married', 14.87),
 ('Married', 14.81),
 ('Married', 14.2),
 ('Married', 14.15),
 ('Married', 14.03),
 ('Married', 13.9),
 ('Married', 13.23),
 ('Married', 12.8),
 ('Married', 12.41),
 ('Married', 12.01),
 ('Married', 11.89),
 ('Married', 11.25),
 ('Married', 10.87),
 ('Married', 10.35),
 ('Married', 10.3),
 ('Married', 9.1),
 ('Married', 8.81),
 ('Married', 6.67),
 ('Married', 5.94),
 ('Married', 4.51),
 ('Married', 4.34),
 ('Married', 3.3),
 ('Separated', 98.4),
 ('Separated', 19.36),
 ('Separated', 17.98),
 ('Separated', 13.03),
 ('Separated', 10.8),
 ('Single', 94.0),
 ('Single', 93.23),
 ('Single', 89.44),
 ('Single', 19.52),
 ('Single', 18.88),
 ('Single', 18.41),
 ('Single', 18.36),
 ('Single', 16.88),
 ('Single', 16.86),
 ('Single', 16.69),
 ('Single', 16.43),
 ('Single', 16.32),
 ('Single', 16.24),
 ('Single', 15.98),
 ('Single', 15.72),
 ('Single', 15.56),
 ('Single', 15.24),
 ('Single', 14.99),
 ('Single', 14.9),
 ('Single', 14.49),
 ('Single', 14.49),
 ('Single', 14.28),
 ('Single', 13.97),
 ('Single', 13.1),
 ('Single', 12.92),
 ('Single', 12.86),
 ('Single', 11.43),
 ('Single', 11.16),
 ('Single', 11.15),
 ('Single', 11.04),
 ('Single', 7.59),
 ('Single', 1.7),
 ('Unknown', 82.08),
 ('Unknown', 19.16),
 ('Unknown', 18.95),
 ('Unknown', 16.89),
 ('Unknown', 15.02),
 ('Unknown', 12.38),
 ('Widowed', 88.66)]

In [23]:
'1950-01-01' < '1950-01-21'

True

In [25]:
'19530119' < '19500121'

False

In [29]:
'1952 18 02' < '1952 19 01'

True

In [ ]:
x < y < zbb

In [30]:
lfunc = lambda row: sum(row)

lfunc([1, 2, 3])

6

In [31]:
x = [[1, 2, 3], [2, 3], [4, 5, 6]]
list(map(lfunc, x))

[6, 5, 15]

In [32]:
lfunc(x[1])

5

In [33]:
x = (
    (2, 2, 3),
    (2, 1, 3),
    (1, 10, 2),
)

sorted(x, key=lambda ele: (ele[0], ele[1]))

[(1, 10, 2), (2, 1, 3), (2, 2, 3)]

In [35]:
sorted(x, key=lambda ele: (ele[0], ele[1]), reverse=1)

[(2, 2, 3), (2, 1, 3), (1, 10, 2)]