In [2]:
# basic data types: str, int, float, bool
# list is a sequence or list of basic data types

my_list = [12, 3, 4, 7, 8, 0]

In [4]:
my_list[1]

3

In [5]:
# start_index (included):stop_index (not included): step_size
my_list[2:5]

[4, 7, 8]

In [6]:
my_list[:4]

[12, 3, 4, 7]

In [7]:
my_list[3:]

[7, 8, 0]

In [8]:
my_list

[12, 3, 4, 7, 8, 0]

In [14]:
numbers = list(range(10))

In [15]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
numbers[::2]

[0, 2, 4, 6, 8]

In [17]:
numbers[4] = 10

In [18]:
numbers

[0, 1, 2, 3, 10, 5, 6, 7, 8, 9]

In [19]:
my_tuple = (0, 1, 2, 3, 4, 5, 6)

In [20]:
my_tuple

(0, 1, 2, 3, 4, 5, 6)

In [22]:
my_tuple[4]

4

In [23]:
my_tuple[::2]

(0, 2, 4, 6)

In [27]:
sequence = [0, 1, 2, 3, 4, 5, 6]
password = 'Test1234MyPassword'
for character in password:
    print(character)

T
e
s
t
1
2
3
4
M
y
P
a
s
s
w
o
r
d

In [28]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i)

0
1
2
3
4

In [29]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    print(i, values[i])

0 4
1 10
2 3
3 8
4 -6

In [30]:
for val in values:
    print(val)

4
10
3
8
-6

In [31]:
values = [4, 10, 3, 8, -6]
for i in range(len(values)):
    values[i] = values[i] * 2

In [32]:
values

[8, 20, 6, 16, -12]

In [34]:
values = [4, 10, 3, 8, -6]
for index, value in enumerate(values, 1):
    print(index, value)

1 4
2 10
3 3
4 8
5 -6

In [35]:
my_tuple = (1, 2, 3, 4)
for idx, val in enumerate(my_tuple):
    my_tuple[idx] = my_tuple*3

TypeError: 'tuple' object does not support item assignment

In [36]:
my_list = [3,4,5]
my_list.append(6)

In [37]:
my_list

[3, 4, 5, 6]

In [38]:
my_tuple = (3,4,5)
my_tuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
tuple(values)

(4, 10, 3, 8, -6)

In [41]:
values = [1,2, 3, 4, 5, 6, 7]
for i in range(len(values)):
    print(i, values[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [43]:
for i, val in enumerate(values, 1):
    print(i, val)

1 1
2 2
3 3
4 4
5 5
6 6
7 7

In [44]:
metals = ['Li', 'Na', 'K']
weights = [6.941, 22.98976928, 39.0983]
for i in range(len(metals)):
    print(metals[i], weights[i])

Li 6.941
Na 22.98976928
K 39.0983

In [47]:
x = [1, 2, 3, 4, 5, 6]
y = [90, 80, 40, 30, 76, 55]

for index in range(len(x)):
    if index == 3:
        print(x[index], y[index])

4 30

In [48]:
year = [2000, 2001, 2002, 2003]
gdp = [22, 45, 89, 20]

for index in range(len(year)):
    print(year[index], gdp[index])

2000 22
2001 45
2002 89
2003 20

In [53]:
metals = ['Li', 'Na', 'K', 'C', 'O']
weights = [6.941, 22.98976928, 39.0983, 4.05]
for metal, weight in zip(metals, weights):
    print(metal, weight)

Li 6.941
Na 22.98976928
K 39.0983
C 4.05

In [54]:
for val1, val2 in zip(x,y):
    print(val1, val2)

1 90
2 80
3 40
4 30
5 76
6 55

In [55]:
for val1, val2 in zip(year,gdp):
    print(val1, val2)

2000 22
2001 45
2002 89
2003 20

In [59]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for idx, inner_list in enumerate(elements):
    print(f'Element No. {idx}')
    for item in inner_list:
        print(item)

List No. 0
Li
Na
K
List No. 1
F
Cl
Br

In [64]:
elements = [['Li', 'Na', 'K'], ['F', 'Cl', 'Br']]
for idx in range(len(elements[0])):
    print(elements[0][idx], elements[1][idx])

Li F
Na Cl
K Br

In [60]:
info = [['Isaac Newton', 1643, 1727],
	['Charles Darwin', 1809, 1882],
	['Alan Turing', 1912, 1954, 'alan@bletchley.uk']]
for item in info:
	print(len(item))

3
3
4

In [65]:
x = [1, 2, 3, 4]
sum(x)

10

In [71]:
###############################################################
# for_ex1.py
# Write a function that takes in a list of values and returns its sum

def sum_list(input_list):
    total = 0.0
    for ele in input_list:
        total += ele
        
    return total

print(sum_list([90, 80, 90, 80]))

340.0

In [72]:
###############################################################
# for_ex2.py
# Write a function that takes in a list of values and returns its average

def average(input_list):
    total = 0
    for val in input_list:
        if val.isdi
        total += val
        
    average = total/len(input_list)
    return average

print(average([90, 80, 90, 80]))

85.0

In [73]:
##################################################################
# for_ex3.py
# Write a function that takes in a list of values and returns its average
# Instead of using a for loop as in ex2, use sum() and len() to calculate the average

def average2(input_list):
    
    return sum(input_list)/len(input_list)

print(average2([90, 80, 90, 80]))

85.0

In [77]:
##################################################################
# for_ex4.py
# Write a function that multiplies the elements of the list by two and returns them

def mul2(input_list):
#     for idx, ele in enumerate(input_list):
#         input_list[idx] = ele*2
        
    for index in range(len(input_list)):
        input_list[index] = input_list[index]*2
        
        
    return input_list

print(mul2([1, 2, 3]))

[2, 4, 6]

In [88]:
##################################################################
# for_ex5.py
# Write a pow() function that computes the power of each element in a list

def pow(input_list, power):
    output = []
    for ele in input_list:
        value = ele**power
        output.append(value)
        
    return output

original_list = [1, 2, 3, 4, 5]
output_list = pow(original_list, 2)


for original,output in zip(original_list, output_list):
    print(original, output)

1 1
2 4
3 9
4 16
5 25

In [89]:
##################################################################
# for_ex6.py
# Write a function to remove duplicate from a list

def rm_duplicate(input_list):
    output = []
    for ele in input_list:
        if ele not in output:
            output.append(ele)
            
    return output

print(rm_duplicate([1, 2, 3, 4, 5, 6, 6, 6, 2, 3]))

[1, 2, 3, 4, 5, 6]

In [92]:
output = []
total = 0
string = ''

for ele in 'ABCDEFG':
    string += ele
print(string)

ABCDEFG

In [120]:
##################################################################
# for_ex7.py
# Write a function that reads grades from an input file and calculates their average
# input: filename
# use: for_ex7_data1.txt
# use: for_ex7_data2.txt
# use: for_ex7_data3.txt
# use a list to read the values in to and then use sum and len to calclate average.
# Be careful about empty rows!
# Be careful about non-numbers!

# filename = 'for_ex7_data1.txt'
# with open(filename, 'r') as file:
# 	for line in file:
# 		#do something with line
    
        
        

def average3(filename):
    total = 0
    length = 0
    with open(filename, 'r') as file:
        for line in file:
            line = line.strip()
            value = int(line)
            total += value
            length += 1
            
    average = total/length
    return average
filename = 'eas503/week5/for_ex7_data1.txt'

print(average3(filename))

78.8

In [104]:
a = '     abcde     \n\n\n\n\n\n\n\n\r\r\r\r'
print(a)
print(a.strip())

     abcde








abcde

In [111]:
'3'.isdigit()

True

In [125]:
def average4(filename):
    total = 0
    no_values = 0
    with open(filename, 'r') as file:
        for line in file:
            line = line.strip()
            # 
            if not line:
                continue
                
            value = int(line)
            total += value
            no_values += 1
            
    average = total/no_values
    return average
filename = 'eas503/week5/for_ex7_data2.txt'

print(average4(filename))

64.42857142857143

In [126]:
line = ''
int(line)

ValueError: invalid literal for int() with base 10: ''

In [142]:
def average5(filename):
    total = 0
    no_values = 0
    with open(filename, 'r') as file:
        for line in file:
            line = line.strip()
            line = '     \n'
            # Skip empty line
            if not line:
                continue

#             print(line, type(line))
            try:
                value = float(line)
            except:
                print(f'Skipping {line}.')
                continue
            
#             print(value, type(value))
            total += value
            no_values += 1
            
    average = total/no_values
    return average
filename = 'eas503/week5/for_ex7_data3.txt'

print(average5(filename))

Skipping 99.o.
Skipping AAB.
Skipping 9A.00.
75.43

In [136]:
column = 'col1\tcol2\tcol3'
row1 = '10\t20\t30'
row2 = '70\t80\t90'
row3 = '10\t20\t'

In [137]:
column.split('\t')

['col1', 'col2', 'col3']

In [138]:
row1.split('\t')

['10', '20', '30']

In [139]:
row2.split('\t')

['70', '80', '90']

In [140]:
row3.split('\t')

['10', '20', '']

In [141]:
row3.strip().split('\t')

['10', '20']

In [146]:
line= '     \n'

if line:
    print('Truthiness of string is True')
    
if line.strip():
    print('Truthiness of string is True')

Truthiness of string is True

In [147]:
line= '     \n'

print(line)

In [148]:
print(line.strip())