In [1]:
x = 'EAS503'
y = '503'

In [2]:
z = 503
z + 1

504

In [3]:
y + 1 # string + int

TypeError: can only concatenate str (not "int") to str

In [5]:
a = '1'
y + '1'

'5031'

In [6]:
zz = "EAS503"

In [7]:
zz * 5

'EAS503EAS503EAS503EAS503EAS503'

In [8]:
'1' * 5

'11111'

In [9]:
x = 'EAS'
x += '503'
x

'EAS503'

In [11]:
x = 'EAS'
x *= 5
x

'EASEASEASEASEAS'

In [12]:
x = 503
str(x)

'503'

In [13]:
print(x)

503

In [15]:
x = '''Should you want a string
​ 	that crosses multiple lines,
​ 	Use matched triple quotes.'''

In [17]:
x = '           sklfsldf
 sdfsdf '

SyntaxError: EOL while scanning string literal (4098281300.py, line 1)

In [16]:
print(x)

Should you want a string
​ 	that crosses multiple lines,
​ 	Use matched triple quotes.

In [18]:
print('abbcd', 2, 3)

abbcd 2 3

In [19]:
print('abbcd', 2, 3, '\n')

abbcd 2 3

In [20]:
print('abbcd', 2, 3, sep='\n')

abbcd
2
3

In [21]:
scientist = 'Issac Newton'
print(len(scientist))

12

In [22]:
zero = ''
len(zero)

0

In [23]:
one = ' '
len(one)

1

In [24]:
len('  ')

2

In [25]:
len('---')

3

In [26]:
len('-- -')

4

In [27]:
'Alan Turning' + ' ' + 'Grace Hopper'

'Alan Turning Grace Hopper'

In [28]:
'Four score and ' + 7 + ' years ago'

TypeError: can only concatenate str (not "int") to str

In [29]:
'Four score and ' + str(7) + ' years ago'

'Four score and 7 years ago'

In [31]:
type(int('0'))

int

In [32]:
float('-324.40')

-324.4

In [33]:
int('-324.40')

ValueError: invalid literal for int() with base 10: '-324.40'

In [34]:
float('-324.40.0')

ValueError: could not convert string to float: '-324.40.0'

In [35]:
x = 'He can't do this'

SyntaxError: invalid syntax (3354693115.py, line 1)

In [36]:
'He can\'t do this'

"He can't do this"

In [37]:
"He can't do this"

"He can't do this"

In [38]:
"He can't'''''' do this"

"He can't'''''' do this"

In [39]:
'He can"t do this'

'He can"t do this'

In [41]:
'blah blah\tblah'

'blah blah\tblah'

In [42]:
print('blah blah\tblah')

blah blah	blah

In [43]:
'blah blah\nblah'

'blah blah\nblah'

In [44]:
print('blah blah\nblah')

blah blah
blah

In [46]:

print('/\\/\\')

/\/\

In [47]:
def my_func(a, b, c):
    pass

my_func(1, 2, 3)

In [48]:
number = input()

 Hello!

In [49]:
print(number)

Hello!

In [50]:
number = input('Please enter temp in C: ')

Please enter temp in C:  100

In [51]:
number * 5

'100100100100100'

In [52]:
number = int(input('Please enter temp in C: '))
number * 5

Please enter temp in C:  100

500

In [53]:
def convert_celsius():
    fahrenheit = float(input('Please enter temperature in Fahrenheit: '))
    celsius =  (fahrenheit - 32.0) * 5.0 / 9.0  
    print('The temperature in celsius is: ', celsius) 

convert_celsius()

Please enter temperature in Fahrenheit:  212

The temperature in celsius is:  100.0

In [54]:
PI = 3.14159265359
print(f'{PI}')

3.14159265359

In [55]:
print(f'{PI:.2f}')

3.14

In [58]:
print(f'{3.998:.2f}') #

4.00

In [57]:
round(3.998,2)

4.0

In [63]:
type(round(3.998,2))

float

In [61]:
print(f'{3.99999:.4f}') #

4.0000

In [62]:
type(f'{3.99999:.4f}') #

str

In [64]:
PI = 3.14159265359 
name = 'PI'
print('%s is %.2f' % (name, PI))

PI is 3.14

In [65]:
PI = 3.14159265359 
name = 'PI'
print(('{0} is {1:.2f}'.format('PI', PI)) )

PI is 3.14

In [66]:
'{0} is {1:.2f}'.format('PI', PI)

'PI is 3.14'

In [67]:
'{} is {:.2f}'.format('PI', PI)

'PI is 3.14'

In [68]:
'{} is {:.2f}'.format('PI', PI, 'EAS503')

'PI is 3.14'

In [69]:
'{} is {:.2f} {}'.format('PI', PI)

IndexError: Replacement index 2 out of range for positional args tuple

In [71]:
'{1} is {0}'.format('PI', PI)

'3.14159265359 is PI'

In [ ]:
{<variable or expression>:<format-specifier>}

In [72]:
x = 1
f'{x}'

'1'

In [73]:
x = 1
f'{x+1}'

'2'

In [74]:
x = -9
f'{abs(x)}'

'9'

In [75]:
template = 'WHERE name={}'

template.format('John')

'WHERE name=John'

In [76]:
template.format('Jane')

'WHERE name=Jane'

In [77]:
print(template)

WHERE name={}

In [78]:
PI = 3.14159265359 
name = 'PI'
# {<variable or expression>:<format-specifier>} where the format specifier is <width>.<precision><type>
print(f'{name} is {PI:.2f}') # newest way

PI is 3.14

In [79]:
a_str = 'EAS503'
an_int = 113
a_float = 92.3
print(a_str, an_int, a_float)

EAS503 113 92.3

In [80]:
line1 = 'This is the first line.\n'
line2 = 'This is the second line.'
lines = line1 + line2
print(lines)

This is the first line.
This is the second line.

In [81]:
line = 'This is the first line.\n'
line += 'This is the second line.'
print(line)

This is the first line.
This is the second line.

In [82]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = '{}'.format(course_number)
f_string = f'{course_number}'

print(str_format)
print(f_string)

EAS503
EAS503

In [83]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3

str_format = 'The course number is {}.'.format(course_number)
f_string = f'The course number is {course_number}.'

print(str_format)
print(f_string)

The course number is EAS503.
The course number is EAS503.

In [84]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
# str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [85]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
# str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {0}. It has {1} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students.
The course number is EAS503. It has 113 students.

In [87]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
# str_format = 'The course number is {}. It has {} students.'.format(course_number, class_size)
str_format = 'The course number is {1}. It has {0} students.'.format(course_number, class_size)
f_string = f'The course number is {course_number}. It has {class_size} students.'

print(str_format)
print(f_string)

The course number is 113. It has EAS503 students.
The course number is EAS503. It has 113 students.

In [88]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0}. It has {1} students. The class average is {2}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {class_size}. It has {course_number} students. The class average is {class_average}.'

print(str_format)
print(f_string)

The course number is EAS503. It has 113 students. The class average is 92.3.
The course number is 113. It has EAS503 students. The class average is 92.3.

In [90]:
course_number = 'EAS503'
class_size = 113
class_average = 92.3
str_format = 'The course number is {0:10}. It has {1:10} students. The class average is {2:10}.'.format(course_number, class_size, class_average)
f_string = f'The course number is {course_number:10}. It has {class_size:10} students. The class average is {class_average:10}.'

print(str_format)
print(f_string)

The course number is EAS503    . It has        113 students. The class average is       92.3.
The course number is EAS503    . It has        113 students. The class average is       92.3.

In [ ]:
<padding_character><alignment><width>.<comma><precision><type>

In [91]:
f'{"EAS503"}'

'EAS503'

In [94]:
f'{"EAS503":10}'

'EAS503    '

In [95]:
f'{503:10}'

'       503'

In [96]:
f'{503:^10}'

'   503    '

In [97]:
f'{503:<10}'

'503       '

In [98]:
f'{503:>10}'

'       503'

In [99]:
f'{"EAS503":>10}'

'    EAS503'

In [100]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:08}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:08}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 00223333
The number padded 223333 padded with zeros 00223333

In [ ]:
# only for zero, you do not need to specify the alignment

In [102]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:->8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:->8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros --223333
The number padded 223333 padded with zeros --223333

In [103]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:-<8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:-<8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros 223333--
The number padded 223333 padded with zeros 223333--

In [104]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:-^8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:-^8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros -223333-
The number padded 223333 padded with zeros -223333-

In [105]:
student_id = 223333

str_format = 'The number padded {} padded with zeros {:-^8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:2^8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros -223333-
The number padded 223333 padded with zeros 22233332

In [109]:
student_id = 223333
pad = '2'
str_format = 'The number padded {} padded with zeros {:-^8}'.format(student_id, student_id)
f_string = f'The number padded {student_id} padded with zeros {student_id:{pad}^8}'

print(str_format)
print(f_string)

The number padded 223333 padded with zeros -223333-
The number padded 223333 padded with zeros 22233332

In [110]:
student_id = 223333
pad = '2'
align = '^'
width = 16
f_string = f'The number padded {student_id} padded with zeros {student_id:{pad}{align}{width}}'

print(f_string)

The number padded 223333 padded with zeros 2222222333322222

In [111]:
student_id = 223333
pad = '-'
align = '^'
width = 16
f_string = f'The number padded {student_id} padded with zeros {student_id:{pad}{align}{width}}'

print(f_string)

The number padded 223333 padded with zeros -----223333-----

In [114]:
student_id = 223333
pad = '*'
align = '>'
width = 16
f_string = f'The number padded {student_id} padded with zeros {student_id:{pad}{align}{width}}'

print(f_string)

The number padded 223333 padded with zeros **********223333

In [115]:
number = 123456
f'{number:,}'

'123,456'

In [116]:
100_000 / 10

10000.0

In [117]:
f'{3.5:.0f}'

'4'

In [118]:
f'{4.5:.0f}'

'4'

In [119]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
row = '| {:<13} |' + ' {:6,d} |'*4
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [120]:
title = '|' + '{:^51}'.format('Cereal Yields (kg/ha)') + '|'
print(title)

|               Cereal Yields (kg/ha)               |

In [123]:

title_template =  '|{:^51}|'
print(title)

|               Cereal Yields (kg/ha)               |

In [126]:
title_template.format('Stock Prices')

'|                   Stock Prices                    |'

In [127]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [129]:
'+' + '-'*15 + '+'

'+---------------+'

In [130]:
'-'*8 + '+'

'--------+'

In [131]:
('-'*8 + '+')*4

'--------+--------+--------+--------+'

In [132]:
line = '+' + '-'*15 + '+' + ('-'*8 + '+')*4
print(line)

+---------------+--------+--------+--------+--------+

In [133]:
row = '| {:<13} |' + ' {:6,d} |'*4
print(row)

| {:<13} | {:6,d} | {:6,d} | {:6,d} | {:6,d} |

In [134]:
row.format('China', 2937, 4321, 4752, 5527)

'| China         |  2,937 |  4,321 |  4,752 |  5,527 |'

In [135]:
header = '| {:^13s} |'.format('Country') + (' {:^6d} |'*4).format(1980, 1990,
                                                                  2000, 2010)

print(header)

|    Country    |  1980  |  1990  |  2000  |  2010  |

In [136]:
print(1, 2, 3, '234')

1 2 3 234

In [137]:
'+' + '-'*(len(title)-2) + '+'

'+---------------------------------------------------+'

In [140]:
print('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line,
      sep='\n')

+---------------------------------------------------+
|               Cereal Yields (kg/ha)               |
+---------------+--------+--------+--------+--------+
|    Country    |  1980  |  1990  |  2000  |  2010  |
+---------------+--------+--------+--------+--------+
| China         |  2,937 |  4,321 |  4,752 |  5,527 |
| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |
| United States |  3,772 |  4,755 |  5,854 |  6,988 |
+---------------+--------+--------+--------+--------+

In [141]:
with open('test_file.txt', 'w') as file:
    file.write('line1\nline2')

###

In [143]:
''.join(('a', 'b', 'c'))

'abc'

In [144]:
', '.join(('a', 'b', 'c'))

'a, b, c'

In [145]:
'_'.join(('a', 'b', 'c'))

'a_b_c'

In [147]:
print('\n'.join(('a', 'b', 'c')))

a
b
c

In [148]:
file_content = '\n'.join(('+' + '-'*(len(title)-2) + '+',
      title,
      line,
      header,
      line,
      row.format('China', 2937, 4321, 4752, 5527),
      row.format('Germany', 4225, 5411, 6453, 6718),
      row.format('United States', 3772, 4755, 5854, 6988),
      line))

In [149]:
file_content

'+---------------------------------------------------+\n|               Cereal Yields (kg/ha)               |\n+---------------+--------+--------+--------+--------+\n|    Country    |  1980  |  1990  |  2000  |  2010  |\n+---------------+--------+--------+--------+--------+\n| China         |  2,937 |  4,321 |  4,752 |  5,527 |\n| Germany       |  4,225 |  5,411 |  6,453 |  6,718 |\n| United States |  3,772 |  4,755 |  5,854 |  6,988 |\n+---------------+--------+--------+--------+--------+'

In [150]:

with open('test_file2.txt', 'w') as file:
    file.write(file_content)