In [6]:
filename = 'students.tsv'
students_list = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        line = line.strip()
        students_list.append(line.split('\t'))
        

        
header = ['last_name', 'first_name', 'username', 'exam1', 'exam2', 'exam3']
students_dict = []
with open(filename) as file:
    for line in file:
        if not line.strip():
            continue
        line = line.strip()
        students_dict.append(dict(zip(header, line.split('\t'))))

In [8]:
# SELECT * FROM Students;

for student in students_list:
    print(student)
    

for student in students_dict:
    print(student)

['Larson', 'Melissa', 'larsonmeli', '24', '89', '31']
['Novak', 'Melissa', 'novakmeli', '77', '3', '38']
['Sawyer', 'Wendy', 'sawyerwend', '81', '59', '30']
['Schultz', 'Marcus', 'schultzmarc', '59', '29', '67']
['Vega', 'Nicholas', 'veganich', '64', '12', '95']
['Adams', 'Brenda', 'adamsbren', '80', '49', '60']
['Thompson', 'Charlene', 'thompsonchar', '37', '56', '26']
['Booth', 'Bradley', 'boothbrad', '85', '8', '77']
['Gallegos', 'Eugene', 'gallegoseuge', '34', '9', '76']
['Munoz', 'Mary', 'munozmary', '77', '41', '55']
['Carey', 'Kimberly', 'careykimb', '29', '94', '23']
['Paul', 'Philip', 'paulphil', '79', '86', '60']
['Reed', 'Madeline', 'reedmade', '16', '39', '46']
['Parsons', 'Cassie', 'parsonscass', '61', '62', '65']
['Mcclain', 'Glenn', 'mcclainglen', '85', '98', '52']
['Oliver', 'Janice', 'oliverjani', '72', '47', '34']
['Lozano', 'Catherine', 'lozanocath', '71', '19', '94']
['Klein', 'John', 'kleinjohn', '3', '43', '88']
['Brooks', 'Marcus', 'brooksmarc', '6', '81', '70']
['Lee', 'Michael', 'leemich', '30', '54', '25']
['Myers', 'Elizabeth', 'myerseliz', '41', '38', '28']
['Bowen', 'Katherine', 'bowenkath', '57', '61', '34']
['Gibson', 'Edward', 'gibsonedwa', '84', '27', '21']
['Smith', 'Christopher', 'smithchri', '25', '11', '68']
['Key', 'Debra', 'keydebr', '66', '47', '29']
['Fleming', 'Carlos', 'flemingcarl', '50', '45', '93']
['Parrish', 'Nathan', 'parrishnath', '47', '92', '45']
['Lewis', 'Michael', 'lewismich', '73', '65', '98']
['Diaz', 'David', 'diazdavi', '52', '40', '20']
['Walter', 'Linda', 'walterlind', '28', '14', '71']
['Bailey', 'Amanda', 'baileyaman', '27', '4', '38']
['Terrell', 'Robert', 'terrellrobe', '99', '93', '60']
['Johnson', 'Janice', 'johnsonjani', '22', '49', '93']
['Lee', 'John', 'leejohn', '25', '25', '39']
['Dominguez', 'Kathryn', 'dominguezkath', '21', '82', '31']
['Ellis', 'Paige', 'ellispaig', '41', '46', '82']
['Wilkinson', 'Jennifer', 'wilkinsonjenn', '52', '64', '44']
['Rodriguez', 'Michelle', 'rodriguezmich', '94', '24', '50']
['Kennedy', 'Lisa', 'kennedylisa', '93', '19', '48']
['Henderson', 'Michelle', 'hendersonmich', '91', '60', '86']
['Hill', 'James', 'hilljame', '59', '22', '85']
['Jones', 'David', 'jonesdavi', '37', '60', '15']
['Landry', 'Patrick', 'landrypatr', '41', '82', '93']
['Cox', 'Jerome', 'coxjero', '67', '28', '29']
['Santana', 'Linda', 'santanalind', '77', '58', '4']
['Patton', 'Robert', 'pattonrobe', '78', '53', '20']
['Mclean', 'Christopher', 'mcleanchri', '59', '58', '73']
['Rhodes', 'Andre', 'rhodesandr', '53', '9', '82']
['Ramsey', 'John', 'ramseyjohn', '89', '95', '94']
['Martin', 'Paul', 'martinpaul', '15', '11', '12']
['Perez', 'Kelli', 'perezkell', '6', '22', '3']
['Moran', 'Troy', 'morantroy', '61', '21', '45']
['Kerr', 'Sarah', 'kerrsara', '82', '27', '65']
['Wade', 'Stephanie', 'wadestep', '9', '69', '31']
['Smith', 'Rebecca', 'smithrebe', '3', '75', '55']
['Long', 'Joel', 'longjoel', '20', '50', '3']
['Ashley', 'Cody', 'ashleycody', '75', '69', '94']
['Patrick', 'Rachel', 'patrickrach', '16', '20', '80']
['Oliver', 'Alex', 'oliveralex', '61', '22', '6']
['Hoffman', 'Shannon', 'hoffmanshan', '29', '68', '71']
['Holden', 'Michael', 'holdenmich', '57', '23', '53']
['Graham', 'Vanessa', 'grahamvane', '78', '76', '73']
['Blair', 'Christopher', 'blairchri', '70', '97', '27']
['Taylor', 'Diana', 'taylordian', '99', '90', '6']
['Reilly', 'Brandon', 'reillybran', '10', '94', '64']
['Gamble', 'Matthew', 'gamblematt', '48', '50', '26']
['Weber', 'Patrick', 'weberpatr', '87', '33', '92']
['Woodard', 'Judy', 'woodardjudy', '47', '43', '13']
['Hull', 'Alexandra', 'hullalex', '38', '7', '42']
['Frank', 'Jessica', 'frankjess', '95', '87', '92']
['Davis', 'Samuel', 'davissamu', '22', '17', '91']
['Baird', 'Alexandra', 'bairdalex', '32', '90', '71']
['Hensley', 'James', 'hensleyjame', '52', '50', '61']
['Luna', 'Carmen', 'lunacarm', '36', '92', '6']
['Garcia', 'Brian', 'garciabria', '37', '53', '3']
['Andrews', 'Luis', 'andrewsluis', '43', '92', '3']
['Watson', 'Jessica', 'watsonjess', '2', '44', '50']
['Evans', 'Dawn', 'evansdawn', '18', '59', '45']
['Barnes', 'Tammy', 'barnestamm', '54', '53', '71']
['Nelson', 'Angela', 'nelsonange', '33', '63', '66']
['Patterson', 'Jennifer', 'pattersonjenn', '26', '98', '97']
['King', 'Austin', 'kingaust', '64', '89', '59']
['Smith', 'Carol', 'smithcaro', '73', '48', '65']
['Cook', 'Lisa', 'cooklisa', '66', '25', '11']
['Francis', 'Shawn', 'francisshaw', '37', '55', '26']
['Monroe', 'Michael', 'monroemich', '23', '92', '34']
['Cortez', 'Patrick', 'cortezpatr', '18', '22', '2']
['Chang', 'Kristen', 'changkris', '78', '55', '94']
['Mcclain', 'Brandy', 'mcclainbran', '65', '1', '23']
['Sellers', 'Stephanie', 'sellersstep', '11', '83', '76']
['Olsen', 'Mariah', 'olsenmari', '44', '27', '64']
['Melton', 'Brianna', 'meltonbria', '52', '95', '47']
['Day', 'Jon', 'dayjon', '15', '55', '71']
['Little', 'Brian', 'littlebria', '25', '35', '88']
['Johnson', 'Wayne', 'johnsonwayn', '66', '31', '58']
['Duncan', 'Andrew', 'duncanandr', '59', '87', '34']
['Bush', 'Alexander', 'bushalex', '82', '54', '25']
['Summers', 'Michael', 'summersmich', '18', '95', '63']
['Bowers', 'Sandra', 'bowerssand', '52', '8', '50']
['Fernandez', 'Jonathan', 'fernandezjona', '74', '80', '22']
{'last_name': 'Larson', 'first_name': 'Melissa', 'username': 'larsonmeli', 'exam1': '24', 'exam2': '89', 'exam3': '31'}
{'last_name': 'Novak', 'first_name': 'Melissa', 'username': 'novakmeli', 'exam1': '77', 'exam2': '3', 'exam3': '38'}
{'last_name': 'Sawyer', 'first_name': 'Wendy', 'username': 'sawyerwend', 'exam1': '81', 'exam2': '59', 'exam3': '30'}
{'last_name': 'Schultz', 'first_name': 'Marcus', 'username': 'schultzmarc', 'exam1': '59', 'exam2': '29', 'exam3': '67'}
{'last_name': 'Vega', 'first_name': 'Nicholas', 'username': 'veganich', 'exam1': '64', 'exam2': '12', 'exam3': '95'}
{'last_name': 'Adams', 'first_name': 'Brenda', 'username': 'adamsbren', 'exam1': '80', 'exam2': '49', 'exam3': '60'}
{'last_name': 'Thompson', 'first_name': 'Charlene', 'username': 'thompsonchar', 'exam1': '37', 'exam2': '56', 'exam3': '26'}
{'last_name': 'Booth', 'first_name': 'Bradley', 'username': 'boothbrad', 'exam1': '85', 'exam2': '8', 'exam3': '77'}
{'last_name': 'Gallegos', 'first_name': 'Eugene', 'username': 'gallegoseuge', 'exam1': '34', 'exam2': '9', 'exam3': '76'}
{'last_name': 'Munoz', 'first_name': 'Mary', 'username': 'munozmary', 'exam1': '77', 'exam2': '41', 'exam3': '55'}
{'last_name': 'Carey', 'first_name': 'Kimberly', 'username': 'careykimb', 'exam1': '29', 'exam2': '94', 'exam3': '23'}
{'last_name': 'Paul', 'first_name': 'Philip', 'username': 'paulphil', 'exam1': '79', 'exam2': '86', 'exam3': '60'}
{'last_name': 'Reed', 'first_name': 'Madeline', 'username': 'reedmade', 'exam1': '16', 'exam2': '39', 'exam3': '46'}
{'last_name': 'Parsons', 'first_name': 'Cassie', 'username': 'parsonscass', 'exam1': '61', 'exam2': '62', 'exam3': '65'}
{'last_name': 'Mcclain', 'first_name': 'Glenn', 'username': 'mcclainglen', 'exam1': '85', 'exam2': '98', 'exam3': '52'}
{'last_name': 'Oliver', 'first_name': 'Janice', 'username': 'oliverjani', 'exam1': '72', 'exam2': '47', 'exam3': '34'}
{'last_name': 'Lozano', 'first_name': 'Catherine', 'username': 'lozanocath', 'exam1': '71', 'exam2': '19', 'exam3': '94'}
{'last_name': 'Klein', 'first_name': 'John', 'username': 'kleinjohn', 'exam1': '3', 'exam2': '43', 'exam3': '88'}
{'last_name': 'Brooks', 'first_name': 'Marcus', 'username': 'brooksmarc', 'exam1': '6', 'exam2': '81', 'exam3': '70'}
{'last_name': 'Lee', 'first_name': 'Michael', 'username': 'leemich', 'exam1': '30', 'exam2': '54', 'exam3': '25'}
{'last_name': 'Myers', 'first_name': 'Elizabeth', 'username': 'myerseliz', 'exam1': '41', 'exam2': '38', 'exam3': '28'}
{'last_name': 'Bowen', 'first_name': 'Katherine', 'username': 'bowenkath', 'exam1': '57', 'exam2': '61', 'exam3': '34'}
{'last_name': 'Gibson', 'first_name': 'Edward', 'username': 'gibsonedwa', 'exam1': '84', 'exam2': '27', 'exam3': '21'}
{'last_name': 'Smith', 'first_name': 'Christopher', 'username': 'smithchri', 'exam1': '25', 'exam2': '11', 'exam3': '68'}
{'last_name': 'Key', 'first_name': 'Debra', 'username': 'keydebr', 'exam1': '66', 'exam2': '47', 'exam3': '29'}
{'last_name': 'Fleming', 'first_name': 'Carlos', 'username': 'flemingcarl', 'exam1': '50', 'exam2': '45', 'exam3': '93'}
{'last_name': 'Parrish', 'first_name': 'Nathan', 'username': 'parrishnath', 'exam1': '47', 'exam2': '92', 'exam3': '45'}
{'last_name': 'Lewis', 'first_name': 'Michael', 'username': 'lewismich', 'exam1': '73', 'exam2': '65', 'exam3': '98'}
{'last_name': 'Diaz', 'first_name': 'David', 'username': 'diazdavi', 'exam1': '52', 'exam2': '40', 'exam3': '20'}
{'last_name': 'Walter', 'first_name': 'Linda', 'username': 'walterlind', 'exam1': '28', 'exam2': '14', 'exam3': '71'}
{'last_name': 'Bailey', 'first_name': 'Amanda', 'username': 'baileyaman', 'exam1': '27', 'exam2': '4', 'exam3': '38'}
{'last_name': 'Terrell', 'first_name': 'Robert', 'username': 'terrellrobe', 'exam1': '99', 'exam2': '93', 'exam3': '60'}
{'last_name': 'Johnson', 'first_name': 'Janice', 'username': 'johnsonjani', 'exam1': '22', 'exam2': '49', 'exam3': '93'}
{'last_name': 'Lee', 'first_name': 'John', 'username': 'leejohn', 'exam1': '25', 'exam2': '25', 'exam3': '39'}
{'last_name': 'Dominguez', 'first_name': 'Kathryn', 'username': 'dominguezkath', 'exam1': '21', 'exam2': '82', 'exam3': '31'}
{'last_name': 'Ellis', 'first_name': 'Paige', 'username': 'ellispaig', 'exam1': '41', 'exam2': '46', 'exam3': '82'}
{'last_name': 'Wilkinson', 'first_name': 'Jennifer', 'username': 'wilkinsonjenn', 'exam1': '52', 'exam2': '64', 'exam3': '44'}
{'last_name': 'Rodriguez', 'first_name': 'Michelle', 'username': 'rodriguezmich', 'exam1': '94', 'exam2': '24', 'exam3': '50'}
{'last_name': 'Kennedy', 'first_name': 'Lisa', 'username': 'kennedylisa', 'exam1': '93', 'exam2': '19', 'exam3': '48'}
{'last_name': 'Henderson', 'first_name': 'Michelle', 'username': 'hendersonmich', 'exam1': '91', 'exam2': '60', 'exam3': '86'}
{'last_name': 'Hill', 'first_name': 'James', 'username': 'hilljame', 'exam1': '59', 'exam2': '22', 'exam3': '85'}
{'last_name': 'Jones', 'first_name': 'David', 'username': 'jonesdavi', 'exam1': '37', 'exam2': '60', 'exam3': '15'}
{'last_name': 'Landry', 'first_name': 'Patrick', 'username': 'landrypatr', 'exam1': '41', 'exam2': '82', 'exam3': '93'}
{'last_name': 'Cox', 'first_name': 'Jerome', 'username': 'coxjero', 'exam1': '67', 'exam2': '28', 'exam3': '29'}
{'last_name': 'Santana', 'first_name': 'Linda', 'username': 'santanalind', 'exam1': '77', 'exam2': '58', 'exam3': '4'}
{'last_name': 'Patton', 'first_name': 'Robert', 'username': 'pattonrobe', 'exam1': '78', 'exam2': '53', 'exam3': '20'}
{'last_name': 'Mclean', 'first_name': 'Christopher', 'username': 'mcleanchri', 'exam1': '59', 'exam2': '58', 'exam3': '73'}
{'last_name': 'Rhodes', 'first_name': 'Andre', 'username': 'rhodesandr', 'exam1': '53', 'exam2': '9', 'exam3': '82'}
{'last_name': 'Ramsey', 'first_name': 'John', 'username': 'ramseyjohn', 'exam1': '89', 'exam2': '95', 'exam3': '94'}
{'last_name': 'Martin', 'first_name': 'Paul', 'username': 'martinpaul', 'exam1': '15', 'exam2': '11', 'exam3': '12'}
{'last_name': 'Perez', 'first_name': 'Kelli', 'username': 'perezkell', 'exam1': '6', 'exam2': '22', 'exam3': '3'}
{'last_name': 'Moran', 'first_name': 'Troy', 'username': 'morantroy', 'exam1': '61', 'exam2': '21', 'exam3': '45'}
{'last_name': 'Kerr', 'first_name': 'Sarah', 'username': 'kerrsara', 'exam1': '82', 'exam2': '27', 'exam3': '65'}
{'last_name': 'Wade', 'first_name': 'Stephanie', 'username': 'wadestep', 'exam1': '9', 'exam2': '69', 'exam3': '31'}
{'last_name': 'Smith', 'first_name': 'Rebecca', 'username': 'smithrebe', 'exam1': '3', 'exam2': '75', 'exam3': '55'}
{'last_name': 'Long', 'first_name': 'Joel', 'username': 'longjoel', 'exam1': '20', 'exam2': '50', 'exam3': '3'}
{'last_name': 'Ashley', 'first_name': 'Cody', 'username': 'ashleycody', 'exam1': '75', 'exam2': '69', 'exam3': '94'}
{'last_name': 'Patrick', 'first_name': 'Rachel', 'username': 'patrickrach', 'exam1': '16', 'exam2': '20', 'exam3': '80'}
{'last_name': 'Oliver', 'first_name': 'Alex', 'username': 'oliveralex', 'exam1': '61', 'exam2': '22', 'exam3': '6'}
{'last_name': 'Hoffman', 'first_name': 'Shannon', 'username': 'hoffmanshan', 'exam1': '29', 'exam2': '68', 'exam3': '71'}
{'last_name': 'Holden', 'first_name': 'Michael', 'username': 'holdenmich', 'exam1': '57', 'exam2': '23', 'exam3': '53'}
{'last_name': 'Graham', 'first_name': 'Vanessa', 'username': 'grahamvane', 'exam1': '78', 'exam2': '76', 'exam3': '73'}
{'last_name': 'Blair', 'first_name': 'Christopher', 'username': 'blairchri', 'exam1': '70', 'exam2': '97', 'exam3': '27'}
{'last_name': 'Taylor', 'first_name': 'Diana', 'username': 'taylordian', 'exam1': '99', 'exam2': '90', 'exam3': '6'}
{'last_name': 'Reilly', 'first_name': 'Brandon', 'username': 'reillybran', 'exam1': '10', 'exam2': '94', 'exam3': '64'}
{'last_name': 'Gamble', 'first_name': 'Matthew', 'username': 'gamblematt', 'exam1': '48', 'exam2': '50', 'exam3': '26'}
{'last_name': 'Weber', 'first_name': 'Patrick', 'username': 'weberpatr', 'exam1': '87', 'exam2': '33', 'exam3': '92'}
{'last_name': 'Woodard', 'first_name': 'Judy', 'username': 'woodardjudy', 'exam1': '47', 'exam2': '43', 'exam3': '13'}
{'last_name': 'Hull', 'first_name': 'Alexandra', 'username': 'hullalex', 'exam1': '38', 'exam2': '7', 'exam3': '42'}
{'last_name': 'Frank', 'first_name': 'Jessica', 'username': 'frankjess', 'exam1': '95', 'exam2': '87', 'exam3': '92'}
{'last_name': 'Davis', 'first_name': 'Samuel', 'username': 'davissamu', 'exam1': '22', 'exam2': '17', 'exam3': '91'}
{'last_name': 'Baird', 'first_name': 'Alexandra', 'username': 'bairdalex', 'exam1': '32', 'exam2': '90', 'exam3': '71'}
{'last_name': 'Hensley', 'first_name': 'James', 'username': 'hensleyjame', 'exam1': '52', 'exam2': '50', 'exam3': '61'}
{'last_name': 'Luna', 'first_name': 'Carmen', 'username': 'lunacarm', 'exam1': '36', 'exam2': '92', 'exam3': '6'}
{'last_name': 'Garcia', 'first_name': 'Brian', 'username': 'garciabria', 'exam1': '37', 'exam2': '53', 'exam3': '3'}
{'last_name': 'Andrews', 'first_name': 'Luis', 'username': 'andrewsluis', 'exam1': '43', 'exam2': '92', 'exam3': '3'}
{'last_name': 'Watson', 'first_name': 'Jessica', 'username': 'watsonjess', 'exam1': '2', 'exam2': '44', 'exam3': '50'}
{'last_name': 'Evans', 'first_name': 'Dawn', 'username': 'evansdawn', 'exam1': '18', 'exam2': '59', 'exam3': '45'}
{'last_name': 'Barnes', 'first_name': 'Tammy', 'username': 'barnestamm', 'exam1': '54', 'exam2': '53', 'exam3': '71'}
{'last_name': 'Nelson', 'first_name': 'Angela', 'username': 'nelsonange', 'exam1': '33', 'exam2': '63', 'exam3': '66'}
{'last_name': 'Patterson', 'first_name': 'Jennifer', 'username': 'pattersonjenn', 'exam1': '26', 'exam2': '98', 'exam3': '97'}
{'last_name': 'King', 'first_name': 'Austin', 'username': 'kingaust', 'exam1': '64', 'exam2': '89', 'exam3': '59'}
{'last_name': 'Smith', 'first_name': 'Carol', 'username': 'smithcaro', 'exam1': '73', 'exam2': '48', 'exam3': '65'}
{'last_name': 'Cook', 'first_name': 'Lisa', 'username': 'cooklisa', 'exam1': '66', 'exam2': '25', 'exam3': '11'}
{'last_name': 'Francis', 'first_name': 'Shawn', 'username': 'francisshaw', 'exam1': '37', 'exam2': '55', 'exam3': '26'}
{'last_name': 'Monroe', 'first_name': 'Michael', 'username': 'monroemich', 'exam1': '23', 'exam2': '92', 'exam3': '34'}
{'last_name': 'Cortez', 'first_name': 'Patrick', 'username': 'cortezpatr', 'exam1': '18', 'exam2': '22', 'exam3': '2'}
{'last_name': 'Chang', 'first_name': 'Kristen', 'username': 'changkris', 'exam1': '78', 'exam2': '55', 'exam3': '94'}
{'last_name': 'Mcclain', 'first_name': 'Brandy', 'username': 'mcclainbran', 'exam1': '65', 'exam2': '1', 'exam3': '23'}
{'last_name': 'Sellers', 'first_name': 'Stephanie', 'username': 'sellersstep', 'exam1': '11', 'exam2': '83', 'exam3': '76'}
{'last_name': 'Olsen', 'first_name': 'Mariah', 'username': 'olsenmari', 'exam1': '44', 'exam2': '27', 'exam3': '64'}
{'last_name': 'Melton', 'first_name': 'Brianna', 'username': 'meltonbria', 'exam1': '52', 'exam2': '95', 'exam3': '47'}
{'last_name': 'Day', 'first_name': 'Jon', 'username': 'dayjon', 'exam1': '15', 'exam2': '55', 'exam3': '71'}
{'last_name': 'Little', 'first_name': 'Brian', 'username': 'littlebria', 'exam1': '25', 'exam2': '35', 'exam3': '88'}
{'last_name': 'Johnson', 'first_name': 'Wayne', 'username': 'johnsonwayn', 'exam1': '66', 'exam2': '31', 'exam3': '58'}
{'last_name': 'Duncan', 'first_name': 'Andrew', 'username': 'duncanandr', 'exam1': '59', 'exam2': '87', 'exam3': '34'}
{'last_name': 'Bush', 'first_name': 'Alexander', 'username': 'bushalex', 'exam1': '82', 'exam2': '54', 'exam3': '25'}
{'last_name': 'Summers', 'first_name': 'Michael', 'username': 'summersmich', 'exam1': '18', 'exam2': '95', 'exam3': '63'}
{'last_name': 'Bowers', 'first_name': 'Sandra', 'username': 'bowerssand', 'exam1': '52', 'exam2': '8', 'exam3': '50'}
{'last_name': 'Fernandez', 'first_name': 'Jonathan', 'username': 'fernandezjona', 'exam1': '74', 'exam2': '80', 'exam3': '22'}

In [10]:
# SELECT username, exam1 FROM STUDENTS;

for student in students_list:
    print(student[2], student[3])

print('_'*100)
    
for student in students_dict:
    print(student.get('username'), student.get('exam1'))

larsonmeli 24
novakmeli 77
sawyerwend 81
schultzmarc 59
veganich 64
adamsbren 80
thompsonchar 37
boothbrad 85
gallegoseuge 34
munozmary 77
careykimb 29
paulphil 79
reedmade 16
parsonscass 61
mcclainglen 85
oliverjani 72
lozanocath 71
kleinjohn 3
brooksmarc 6
leemich 30
myerseliz 41
bowenkath 57
gibsonedwa 84
smithchri 25
keydebr 66
flemingcarl 50
parrishnath 47
lewismich 73
diazdavi 52
walterlind 28
baileyaman 27
terrellrobe 99
johnsonjani 22
leejohn 25
dominguezkath 21
ellispaig 41
wilkinsonjenn 52
rodriguezmich 94
kennedylisa 93
hendersonmich 91
hilljame 59
jonesdavi 37
landrypatr 41
coxjero 67
santanalind 77
pattonrobe 78
mcleanchri 59
rhodesandr 53
ramseyjohn 89
martinpaul 15
perezkell 6
morantroy 61
kerrsara 82
wadestep 9
smithrebe 3
longjoel 20
ashleycody 75
patrickrach 16
oliveralex 61
hoffmanshan 29
holdenmich 57
grahamvane 78
blairchri 70
taylordian 99
reillybran 10
gamblematt 48
weberpatr 87
woodardjudy 47
hullalex 38
frankjess 95
davissamu 22
bairdalex 32
hensleyjame 52
lunacarm 36
garciabria 37
andrewsluis 43
watsonjess 2
evansdawn 18
barnestamm 54
nelsonange 33
pattersonjenn 26
kingaust 64
smithcaro 73
cooklisa 66
francisshaw 37
monroemich 23
cortezpatr 18
changkris 78
mcclainbran 65
sellersstep 11
olsenmari 44
meltonbria 52
dayjon 15
littlebria 25
johnsonwayn 66
duncanandr 59
bushalex 82
summersmich 18
bowerssand 52
fernandezjona 74
____________________________________________________________________________________________________
larsonmeli 24
novakmeli 77
sawyerwend 81
schultzmarc 59
veganich 64
adamsbren 80
thompsonchar 37
boothbrad 85
gallegoseuge 34
munozmary 77
careykimb 29
paulphil 79
reedmade 16
parsonscass 61
mcclainglen 85
oliverjani 72
lozanocath 71
kleinjohn 3
brooksmarc 6
leemich 30
myerseliz 41
bowenkath 57
gibsonedwa 84
smithchri 25
keydebr 66
flemingcarl 50
parrishnath 47
lewismich 73
diazdavi 52
walterlind 28
baileyaman 27
terrellrobe 99
johnsonjani 22
leejohn 25
dominguezkath 21
ellispaig 41
wilkinsonjenn 52
rodriguezmich 94
kennedylisa 93
hendersonmich 91
hilljame 59
jonesdavi 37
landrypatr 41
coxjero 67
santanalind 77
pattonrobe 78
mcleanchri 59
rhodesandr 53
ramseyjohn 89
martinpaul 15
perezkell 6
morantroy 61
kerrsara 82
wadestep 9
smithrebe 3
longjoel 20
ashleycody 75
patrickrach 16
oliveralex 61
hoffmanshan 29
holdenmich 57
grahamvane 78
blairchri 70
taylordian 99
reillybran 10
gamblematt 48
weberpatr 87
woodardjudy 47
hullalex 38
frankjess 95
davissamu 22
bairdalex 32
hensleyjame 52
lunacarm 36
garciabria 37
andrewsluis 43
watsonjess 2
evansdawn 18
barnestamm 54
nelsonange 33
pattersonjenn 26
kingaust 64
smithcaro 73
cooklisa 66
francisshaw 37
monroemich 23
cortezpatr 18
changkris 78
mcclainbran 65
sellersstep 11
olsenmari 44
meltonbria 52
dayjon 15
littlebria 25
johnsonwayn 66
duncanandr 59
bushalex 82
summersmich 18
bowerssand 52
fernandezjona 74

In [22]:
# SELECT username, exam1 FROM STUDENTS ORDER BY username; 

for student in sorted(students_list, key=lambda student: student[2]):
   print(student[2], student[3])

adamsbren 80
andrewsluis 43
ashleycody 75
baileyaman 27
bairdalex 32
barnestamm 54
blairchri 70
boothbrad 85
bowenkath 57
bowerssand 52
brooksmarc 6
bushalex 82
careykimb 29
changkris 78
cooklisa 66
cortezpatr 18
coxjero 67
davissamu 22
dayjon 15
diazdavi 52
dominguezkath 21
duncanandr 59
ellispaig 41
evansdawn 18
fernandezjona 74
flemingcarl 50
francisshaw 37
frankjess 95
gallegoseuge 34
gamblematt 48
garciabria 37
gibsonedwa 84
grahamvane 78
hendersonmich 91
hensleyjame 52
hilljame 59
hoffmanshan 29
holdenmich 57
hullalex 38
johnsonjani 22
johnsonwayn 66
jonesdavi 37
kennedylisa 93
kerrsara 82
keydebr 66
kingaust 64
kleinjohn 3
landrypatr 41
larsonmeli 24
leejohn 25
leemich 30
lewismich 73
littlebria 25
longjoel 20
lozanocath 71
lunacarm 36
martinpaul 15
mcclainbran 65
mcclainglen 85
mcleanchri 59
meltonbria 52
monroemich 23
morantroy 61
munozmary 77
myerseliz 41
nelsonange 33
novakmeli 77
oliveralex 61
oliverjani 72
olsenmari 44
parrishnath 47
parsonscass 61
patrickrach 16
pattersonjenn 26
pattonrobe 78
paulphil 79
perezkell 6
ramseyjohn 89
reedmade 16
reillybran 10
rhodesandr 53
rodriguezmich 94
santanalind 77
sawyerwend 81
schultzmarc 59
sellersstep 11
smithcaro 73
smithchri 25
smithrebe 3
summersmich 18
taylordian 99
terrellrobe 99
thompsonchar 37
veganich 64
wadestep 9
walterlind 28
watsonjess 2
weberpatr 87
wilkinsonjenn 52
woodardjudy 47

In [23]:
# SELECT username, exam1 FROM STUDENTS ORDER BY exam1;

for student in sorted(students_list, key=lambda student: int(student[3])):
    print(student[2], student[3])

watsonjess 2
kleinjohn 3
smithrebe 3
brooksmarc 6
perezkell 6
wadestep 9
reillybran 10
sellersstep 11
martinpaul 15
dayjon 15
reedmade 16
patrickrach 16
evansdawn 18
cortezpatr 18
summersmich 18
longjoel 20
dominguezkath 21
johnsonjani 22
davissamu 22
monroemich 23
larsonmeli 24
smithchri 25
leejohn 25
littlebria 25
pattersonjenn 26
baileyaman 27
walterlind 28
careykimb 29
hoffmanshan 29
leemich 30
bairdalex 32
nelsonange 33
gallegoseuge 34
lunacarm 36
thompsonchar 37
jonesdavi 37
garciabria 37
francisshaw 37
hullalex 38
myerseliz 41
ellispaig 41
landrypatr 41
andrewsluis 43
olsenmari 44
parrishnath 47
woodardjudy 47
gamblematt 48
flemingcarl 50
diazdavi 52
wilkinsonjenn 52
hensleyjame 52
meltonbria 52
bowerssand 52
rhodesandr 53
barnestamm 54
bowenkath 57
holdenmich 57
schultzmarc 59
hilljame 59
mcleanchri 59
duncanandr 59
parsonscass 61
morantroy 61
oliveralex 61
veganich 64
kingaust 64
mcclainbran 65
keydebr 66
cooklisa 66
johnsonwayn 66
coxjero 67
blairchri 70
lozanocath 71
oliverjani 72
lewismich 73
smithcaro 73
fernandezjona 74
ashleycody 75
novakmeli 77
munozmary 77
santanalind 77
pattonrobe 78
grahamvane 78
changkris 78
paulphil 79
adamsbren 80
sawyerwend 81
kerrsara 82
bushalex 82
gibsonedwa 84
boothbrad 85
mcclainglen 85
weberpatr 87
ramseyjohn 89
hendersonmich 91
kennedylisa 93
rodriguezmich 94
frankjess 95
terrellrobe 99
taylordian 99

In [24]:
# SELECT username, exam1 FROM STUDENTS ORDER BY -exam1 LIMIT 10
# SELECT username, exam1 FROM STUDENTS ORDER BY exam1 desc LIMIT 10

for student in sorted(students_list, key=lambda student: int(student[3]), reverse=True)[:10]:
    print(student[2], student[3])

terrellrobe 99
taylordian 99
frankjess 95
rodriguezmich 94
kennedylisa 93
hendersonmich 91
ramseyjohn 89
weberpatr 87
boothbrad 85
mcclainglen 85

In [25]:
# SELECT username, exam1 FROM STUDENTS ORDER BY exam1 ASC LIMIT 10 ## default behavior

for student in sorted(students_list, key=lambda student: int(student[3]))[:10]:
    print(student[2], student[3])

watsonjess 2
kleinjohn 3
smithrebe 3
brooksmarc 6
perezkell 6
wadestep 9
reillybran 10
sellersstep 11
martinpaul 15
dayjon 15

In [28]:
# SELECT 
#     avg(exam1) as `Exam1 Average`, avg(exam2), avg(exam3)
# FROM students;


exam1_avg = sum([int(student[3]) for student in students_list])/len(students_list)
exam2_avg = sum([int(student[4]) for student in students_list])/len(students_list)
exam3_avg = sum([int(student[5]) for student in students_list])/len(students_list)

print(exam1_avg, exam2_avg, exam3_avg)

50.01 51.51 51.14

In [29]:
# SELECT
# 	username, exam1
# FROM Students
# WHERE 
# 	exam1 > 80;


for student in filter(lambda student: int(student[3]) > 80, students_list):
    print(student[2], student[3])

sawyerwend 81
boothbrad 85
mcclainglen 85
gibsonedwa 84
terrellrobe 99
rodriguezmich 94
kennedylisa 93
hendersonmich 91
ramseyjohn 89
kerrsara 82
taylordian 99
weberpatr 87
frankjess 95
bushalex 82

In [30]:
# SELECT
# 	username, exam1
# FROM students
# WHERE exam1 BETWEEN 80 and 90;

for student in filter(lambda student: 80 <int(student[3]) < 90, students_list):
    print(student[2], student[3])

sawyerwend 81
boothbrad 85
mcclainglen 85
gibsonedwa 84
ramseyjohn 89
kerrsara 82
weberpatr 87
bushalex 82

In [32]:
# SELECT
# count(exam1) as `Exam 1 GT 80`
# FROM students
# WHERE exam1 > 80;

len(list(filter(lambda student: int(student[3]) > 80, students_list)))

14

In [34]:
# SELECT
# *
# FROM students
# WHERE first_name == 'Melissa'

list(filter(lambda student: student[1] == 'Melissa', students_list))

[['Larson', 'Melissa', 'larsonmeli', '24', '89', '31'],
 ['Novak', 'Melissa', 'novakmeli', '77', '3', '38']]

In [37]:
# SELECT
# *
# FROM Students
# WHERE first_name IN ('Melissa', 'Stephanie', 'Alex')
# ORDER BY last_name

sorted(list(filter(lambda student: student[1] in ('Melissa', 'Stephanie', 'Alex'), \
                   students_list)), key=lambda student: student[0])

[['Larson', 'Melissa', 'larsonmeli', '24', '89', '31'],
 ['Novak', 'Melissa', 'novakmeli', '77', '3', '38'],
 ['Oliver', 'Alex', 'oliveralex', '61', '22', '6'],
 ['Sellers', 'Stephanie', 'sellersstep', '11', '83', '76'],
 ['Wade', 'Stephanie', 'wadestep', '9', '69', '31']]

In [39]:
# SELECT
# *
# FROM students
# WHERE first_name LIKE 'Alex%';

list(filter(lambda student: student[1].startswith('Alex'), students_list))

[['Oliver', 'Alex', 'oliveralex', '61', '22', '6'],
 ['Hull', 'Alexandra', 'hullalex', '38', '7', '42'],
 ['Baird', 'Alexandra', 'bairdalex', '32', '90', '71'],
 ['Bush', 'Alexander', 'bushalex', '82', '54', '25']]

In [40]:
# SELECT
# *
# FROM
# students
# WHERE first_name LIKE '%ath%';

list(filter(lambda student: 'ath' in student[1], students_list))

[['Lozano', 'Catherine', 'lozanocath', '71', '19', '94'],
 ['Bowen', 'Katherine', 'bowenkath', '57', '61', '34'],
 ['Parrish', 'Nathan', 'parrishnath', '47', '92', '45'],
 ['Dominguez', 'Kathryn', 'dominguezkath', '21', '82', '31'],
 ['Fernandez', 'Jonathan', 'fernandezjona', '74', '80', '22']]

In [41]:
sub_string = 'efg'
string = 'abcdefghijk'

sub_string in string

True

In [50]:
# SELECT 
# 	exam1, 
# 	count(exam1) as Exam1Count  
# FROM students 
# GROUP BY exam1
# ORDER BY Exam1Count DESC;

output = {}

for student in students_list:
    exam1 = int(student[3])
    if exam1 not in output:
        output[exam1] = 0
    output[exam1] += 1
    

for ele in sorted(zip(output.keys(), output.values()), key= lambda ele: ele[1], reverse=True):
    print(ele)

(52, 5)
(59, 4)
(37, 4)
(77, 3)
(61, 3)
(41, 3)
(25, 3)
(66, 3)
(78, 3)
(18, 3)
(64, 2)
(85, 2)
(29, 2)
(16, 2)
(3, 2)
(6, 2)
(57, 2)
(47, 2)
(73, 2)
(99, 2)
(22, 2)
(15, 2)
(82, 2)
(24, 1)
(81, 1)
(80, 1)
(34, 1)
(79, 1)
(72, 1)
(71, 1)
(30, 1)
(84, 1)
(50, 1)
(28, 1)
(27, 1)
(21, 1)
(94, 1)
(93, 1)
(91, 1)
(67, 1)
(53, 1)
(89, 1)
(9, 1)
(20, 1)
(75, 1)
(70, 1)
(10, 1)
(48, 1)
(87, 1)
(38, 1)
(95, 1)
(32, 1)
(36, 1)
(43, 1)
(2, 1)
(54, 1)
(33, 1)
(26, 1)
(23, 1)
(65, 1)
(11, 1)
(44, 1)
(74, 1)

In [47]:
list(zip(output.keys(), output.values()))

[(24, 1),
 (77, 3),
 (81, 1),
 (59, 4),
 (64, 2),
 (80, 1),
 (37, 4),
 (85, 2),
 (34, 1),
 (29, 2),
 (79, 1),
 (16, 2),
 (61, 3),
 (72, 1),
 (71, 1),
 (3, 2),
 (6, 2),
 (30, 1),
 (41, 3),
 (57, 2),
 (84, 1),
 (25, 3),
 (66, 3),
 (50, 1),
 (47, 2),
 (73, 2),
 (52, 5),
 (28, 1),
 (27, 1),
 (99, 2),
 (22, 2),
 (21, 1),
 (94, 1),
 (93, 1),
 (91, 1),
 (67, 1),
 (78, 3),
 (53, 1),
 (89, 1),
 (15, 2),
 (82, 2),
 (9, 1),
 (20, 1),
 (75, 1),
 (70, 1),
 (10, 1),
 (48, 1),
 (87, 1),
 (38, 1),
 (95, 1),
 (32, 1),
 (36, 1),
 (43, 1),
 (2, 1),
 (18, 3),
 (54, 1),
 (33, 1),
 (26, 1),
 (23, 1),
 (65, 1),
 (11, 1),
 (44, 1),
 (74, 1)]

In [51]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("student.db")
cur = conn.cursor()
sql_statement = "select username, exam1 FROM Students;"
df = pd.read_sql_query(sql_statement, conn)
df

         username  exam1
0      larsonmeli     24
1       novakmeli     77
2      sawyerwend     81
3     schultzmarc     59
4        veganich     64
..            ...    ...
95     duncanandr     59
96       bushalex     82
97    summersmich     18
98     bowerssand     52
99  fernandezjona     74

[100 rows x 2 columns]

In [52]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("student.db")
cur = conn.cursor()

sql_statement="""
SELECT 
	first_name, 
	count(first_name) as name_count  
FROM students 
GROUP BY first_name ORDER BY name_count DESC LIMIT 5;
"""
df = pd.read_sql_query(sql_statement, conn)
df

    first_name  name_count
0      Michael           5
1      Patrick           3
2         John           3
3  Christopher           3
4    Stephanie           2

In [56]:
output = {}

for student in students_list:
    first_name = student[1]
    if first_name not in output:
        output[first_name] = 0
    output[first_name] += 1
    

for ele in sorted(zip(output.keys(), output.values()), key= lambda ele: ele[1], reverse=True)[:7]:
    print(ele)

('Michael', 5)
('John', 3)
('Christopher', 3)
('Patrick', 3)
('Melissa', 2)
('Marcus', 2)
('Janice', 2)